In [69]:
import pyspark
from pyspark import SparkContext
from pyspark.sql.functions import lit, unix_timestamp, regexp_replace, hour, minute, floor, col

import json
#from pyspark.ml.feature import VectorAssembler
#from pyspark.ml import Pipeline
#from pyspark.ml.feature import StringIndexer
#from pyspark.mllib.evaluation import RegressionMetrics

In [10]:
def rename_columns(df, list_of_tuples):
    for (old_col, new_col) in list_of_tuples:
        df = df.withColumnRenamed(old_col, new_col)

    return df

def read_file(filepath, sqlContext):
    data_frame = sqlContext.read.format("com.databricks.spark.csv") \
        .option("header", "false") \
        .option("inferSchema", "true") \
        .option("nullValue", "-") \
        .load(filepath)

    while len(data_frame.columns) < 16:
        col_name = "_c" + str(len(data_frame.columns))
        data_frame = data_frame.withColumn(col_name, lit(None))

    data_frame = rename_columns(
        data_frame,
        [
            ("_c0", "route"),
            ("_c1", "tripNum"),
            ("_c2", "shapeId"),
            ("_c3", "shapeSequence"),
            ("_c4", "shapeLat"),
            ("_c5", "shapeLon"),
            ("_c6", "distanceTraveledShape"),
            ("_c7", "busCode"),
            ("_c8", "gpsPointId"),
            ("_c9", "gpsLat"),
            ("_c10", "gpsLon"),
            ("_c11", "distanceToShapePoint"),
            ("_c12", "timestamp"),
            ("_c13", "busStopId"),
            ("_c14", "problem"),
            ("_c15", "numPassengers")
        ]
    )

    date = "-".join(filepath.split("/")[-2].split("_")[:3])

    data_frame = data_frame.withColumn("date", lit(date))

    return data_frame

### Read Input Data

In [3]:
sc = SparkContext.getOrCreate()
sqlContext = pyspark.SQLContext(sc)

In [57]:
trips_data = read_file('/local/tarciso/data/sample-data/bulma-output/2017_05_11_veiculos.csv/part-00000', sqlContext)

In [12]:
trips_data.head()

Row(route=u'372', tripNum=4, shapeId=1891, shapeSequence=6136916, shapeLat=-25.432724990605614, shapeLon=-49.27218701780396, distanceTraveledShape=10149.88, busCode=u'CC170', gpsPointId=None, gpsLat=None, gpsLon=None, distanceToShapePoint=None, timestamp=u'12:13:43', busStopId=None, problem=u'BETWEEN', numPassengers=None, date=u'2017-05-11')

In [13]:
trips_data.printSchema()

root
 |-- route: string (nullable = true)
 |-- tripNum: integer (nullable = true)
 |-- shapeId: integer (nullable = true)
 |-- shapeSequence: integer (nullable = true)
 |-- shapeLat: double (nullable = true)
 |-- shapeLon: double (nullable = true)
 |-- distanceTraveledShape: double (nullable = true)
 |-- busCode: string (nullable = true)
 |-- gpsPointId: string (nullable = true)
 |-- gpsLat: double (nullable = true)
 |-- gpsLon: double (nullable = true)
 |-- distanceToShapePoint: double (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- busStopId: integer (nullable = true)
 |-- problem: string (nullable = true)
 |-- numPassengers: integer (nullable = true)
 |-- date: string (nullable = false)

In [30]:
trips_data.show()

+-----+-------+-------+-------------+-------------------+-------------------+---------------------+-------+----------+----------+----------+--------------------+---------+---------+----------+-------------+----------+
|route|tripNum|shapeId|shapeSequence|           shapeLat|           shapeLon|distanceTraveledShape|busCode|gpsPointId|    gpsLat|    gpsLon|distanceToShapePoint|timestamp|busStopId|   problem|numPassengers|      date|
+-----+-------+-------+-------------+-------------------+-------------------+---------------------+-------+----------+----------+----------+--------------------+---------+---------+----------+-------------+----------+
|  372|      4|   1891|      6136916|-25.432724990605614| -49.27218701780396|             10149.88|  CC170|      null|      null|      null|                null| 12:13:43|     null|   BETWEEN|         null|2017-05-11|
|  372|      4|   1891|      6136915|-25.432470122014415| -49.27231020615159|            10119.046|  CC170|      null|      null|      null|                null| 12:45:14|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136650|-25.413362156585787| -49.20592429766663|               79.983|  CC170|      null|-25.413378|-49.205836|            9.041484| 05:41:14|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136651|-25.413482250291853| -49.20586900611687|               94.403|  CC170|      null|      null|      null|                null| 05:41:16|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136652|-25.413648732588364| -49.20578819324544|              114.558|  CC170|      null|-25.413681| -49.20582|            4.804002| 05:41:20|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136653|-25.413842469921647| -49.20568793435859|              138.272|  CC170|      null|-25.413863|-49.205595|            9.608952| 05:41:27|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136654|-25.413724525004074| -49.20539007960065|              170.964|  CC170|      null|-25.413713|-49.205263|             12.8274| 05:41:31|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136655|-25.413590832789257|-49.205053332811985|               207.94|  CC170|      null|      null|      null|                null| 05:41:33|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136656|-25.413418537980533| -49.20460983865769|              256.471|  CC170|      null|-25.413501|-49.204675|            11.26532| 05:41:37|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136657| -25.41329245665092|-49.204275993402746|              292.847|  CC170|      null| -25.41329|-49.204133|           14.364174| 05:41:45|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136658|-25.413174854615896| -49.20397031134223|              326.247|  CC170|      null|      null|      null|                null| 05:41:47|    30760|   BETWEEN|            0|2017-05-11|
|  372|      1|   1891|      6136659|-25.412986287055883| -49.20349037546305|              378.858|  CC170|      null|-25.413058| -49.20353|            8.912048| 05:41:52|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136660|-25.413358262455215| -49.20330982653354|              423.891|  CC170|      null|-25.413443|-49.203253|           11.016149| 05:42:00|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136661| -25.41368178438006| -49.20315744079858|              462.872|  CC170|      null|      null|      null|                null| 05:42:03|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136662| -25.41401802524562|  -49.2029929851231|               503.63|  CC170|      null|      null|      null|                null| 05:42:08|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136663|  -25.4143918170944| -49.20281243619365|              548.847|  CC170|      null|      null|      null|                null| 05:42:12|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136664| -25.41477143255683|-49.202639060271736|              594.375|  CC170|      null|      null|      null|                null| 05:42:17|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136665| -25.41508018578273|-49.202495188649095|              631.515|  CC170|      null| -25.41504|-49.202528|            5.552165| 05:42:21|     null|NO_PROBLEM|         null|2017-05-11|
|  372|      1|   1891|      6136666|-25.415409531428054| -49.20234192929479|              671.124|  CC170|      null|      null|      null|                null| 05:42:23|     null|   BETWEEN|         null|2017-05-11|
|  372|      1|   1891|      6136667| -25.41558601453961| -49.20226127630417|              692.292|  CC170|      null|-25.415533|-49.202298|            6.953693| 05:42:25|     null|NO_PROBLEM|         null|2017-05-11|
+-----+-------+-------+-------------+-------------------+-------------------+---------------------+-------+----------+----------+----------+--------------------+---------+---------+----------+-------------+----------+
only showing top 20 rows

In [74]:
filepath = '/local/tarciso/data/sample-data/ticketing-sample/doc1-2017051115.txt'
ticketing_data = sqlContext.read.json(filepath)

In [75]:
ticketing_data.select("DATAUTILIZACAO").show()

+--------------------+
|      DATAUTILIZACAO|
+--------------------+
|10/05/17 20:15:16...|
|10/05/17 13:10:24...|
|10/05/17 08:23:45...|
|10/05/17 11:54:19...|
|10/05/17 13:30:10...|
|10/05/17 07:52:52...|
|10/05/17 18:34:06...|
|10/05/17 06:15:31...|
|10/05/17 17:57:28...|
|10/05/17 10:03:56...|
|10/05/17 13:35:56...|
|10/05/17 07:50:18...|
|10/05/17 12:26:01...|
|10/05/17 14:34:27...|
|10/05/17 14:34:30...|
|10/05/17 14:34:32...|
|10/05/17 14:02:43...|
|10/05/17 11:04:25...|
|10/05/17 06:44:08...|
|10/05/17 17:38:18...|
+--------------------+
only showing top 20 rows

In [58]:
time_fmt = "HH:mm:ss"
parse_time = unix_timestamp("timestamp", time_fmt)
trips_data = trips_data.withColumn("timestamp", parse_time)

In [61]:
trips_data.select("timestamp").show()

+---------+
|timestamp|
+---------+
|    54823|
|    56714|
|    31274|
|    31276|
|    31280|
|    31287|
|    31291|
|    31293|
|    31297|
|    31305|
|    31307|
|    31312|
|    31320|
|    31323|
|    31328|
|    31332|
|    31337|
|    31341|
|    31343|
|    31345|
+---------+
only showing top 20 rows

In [76]:
time_fmt = "DD/MM/YY HH:mm:ss"
parse_datetime = unix_timestamp("DATAUTILIZACAO", time_fmt)
ticketing_data = ticketing_data.withColumn("DATAUTILIZACAO", regexp_replace(col("DATAUTILIZACAO"), ",000000", ""))
ticketing_data = ticketing_data.withColumn("DATAUTILIZACAO", parse_datetime)

In [77]:
ticketing_data.select("DATAUTILIZACAO").show()

+--------------+
|DATAUTILIZACAO|
+--------------+
|    1483312516|
|    1483287024|
|    1483269825|
|    1483282459|
|    1483288210|
|    1483267972|
|    1483306446|
|    1483262131|
|    1483304248|
|    1483275836|
|    1483288556|
|    1483267818|
|    1483284361|
|    1483292067|
|    1483292070|
|    1483292072|
|    1483290163|
|    1483279465|
|    1483263848|
|    1483303098|
+--------------+
only showing top 20 rows

In [80]:
def get_group_N_min(timestamp,N):
    mins_since_midnight = 60*hour(timestamp) + minute(timestamp)
    return(floor(mins_since_midnight/N))

#ticketing_data = ticketing_data.withColumn("DATAUTILIZACAO",(60*hour(col("DATAUTILIZACAO")) + 
#                                                             minute(col("DATAUTILIZACAO")))/5)
#hour(ticketing_data.select("DATAUTILIZACAO"))

AttributeError: 'DataFrame' object has no attribute '_get_object_id'