In [1]:
#import pyspark
#from pyspark import SparkContext
# from pyspark.sql.window import Window
# from pyspark.sql import functions as F
# from pyspark.sql import types as T

import json
import pandas as pd
import numpy as np

### Read Boarding Data

In [4]:
boarding_data = pd.read_json('/local/tarciso/masters/data/bus_trips/preliminary-exp-sample-data/ticketing-sample/doc1-2017051015.txt', lines=True)

In [5]:
boarding_data.head()

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO
0,000,00070,22/11/58,"09/05/17 11:05:57,000000",OPER S/LINHA,1353891,M
1,542,GA117,23/03/72,"09/05/17 17:25:14,000000",BAIRRO NOVO B,2357837,F
2,000,09053,23/03/72,"09/05/17 17:57:33,000000",OPER S/LINHA,2357837,F
3,000,09053,23/03/72,"09/05/17 17:57:28,000000",OPER S/LINHA,2357837,F
4,021,08046,26/01/72,"09/05/17 20:17:34,000000",INTERB II ANTI H,1937533,F

In [7]:
boardings_total = len(boarding_data)

#### Checking number of boardings on route 000

In [10]:
boardings_000 = len(boarding_data[boarding_data['CODLINHA'] == '000'])

In [11]:
print boardings_000, boardings_total, boardings_000/float(boardings_total)

134629 320292 0.420332071984

#### Looking at 000 boardings in more detail

In [12]:
boardings_000_df = boarding_data[boarding_data['CODLINHA'] == '000']

In [13]:
boardings_000_df.head(20)

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO
0,000,00070,22/11/58,"09/05/17 11:05:57,000000",OPER S/LINHA,1353891,M
2,000,09053,23/03/72,"09/05/17 17:57:33,000000",OPER S/LINHA,2357837,F
3,000,09053,23/03/72,"09/05/17 17:57:28,000000",OPER S/LINHA,2357837,F
13,000,03009,28/08/84,"09/05/17 18:57:22,000000",OPER S/LINHA,3591720,F
15,000,03031,29/12/63,"09/05/17 07:20:19,000000",OPER S/LINHA,1225547,M
17,000,05040,17/01/79,"09/05/17 15:29:11,000000",OPER S/LINHA,2699543,F
20,000,09005,14/09/76,"09/05/17 06:59:45,000000",OPER S/LINHA,2788103,F
22,000,03037,01/06/89,"09/05/17 17:00:00,000000",OPER S/LINHA,2900987,F
25,000,05056,02/07/63,"09/05/17 07:42:22,000000",OPER S/LINHA,1947358,M
26,000,09029,22/02/65,"09/05/17 07:00:15,000000",OPER S/LINHA,3543165,M
28,000,05053,27/11/89,"09/05/17 14:43:25,000000",OPER S/LINHA,2283600,F
29,000,05053,27/11/89,"09/05/17 14:43:28,000000",OPER S/LINHA,2283600,F
30,000,05053,27/11/89,"09/05/17 14:43:32,000000",OPER S/LINHA,2283600,F
35,000,03035,02/05/77,"09/05/17 14:54:54,000000",OPER S/LINHA,2953384,F
36,000,06063,23/05/79,"09/05/17 15:23:48,000000",OPER S/LINHA,1911991,M
43,000,00001,04/02/86,"09/05/17 17:59:11,000000",OPER S/LINHA,3497985,F
47,000,03008,03/08/85,"09/05/17 06:51:57,000000",OPER S/LINHA,1233156,F
48,000,06061,17/04/84,"09/05/17 15:55:56,000000",OPER S/LINHA,2621124,M
49,000,00049,17/04/84,"09/05/17 17:24:33,000000",OPER S/LINHA,2621124,M
51,000,03046,24/11/72,"09/05/17 13:15:53,000000",OPER S/LINHA,2097996,F

### Find boarding stations stop ids for line 000 boarding entries

#### Read Line 000 Codes translation table

In [20]:
line_000_terminals = pd.read_csv('/local/tarciso/masters/data/urbs/line-000-terminals-translation-table.csv', dtype = {'URBS_CODE': str})

In [21]:
line_000_terminals.head()

  LINE                NAME URBS_CODE  STOP_ID        LAT        LON
0  000  TERMINAL BOQUEIRÃO     00001    14489 -25.516723 -49.230568
1  000  TERMINAL BOQUEIRÃO     00002    14489 -25.516723 -49.230568
2  000  TERMINAL BOQUEIRÃO     00003    14489 -25.516723 -49.230568
3  000      TERMINAL CARMO     00004    14485 -25.501311 -49.237825
4  000      TERMINAL CARMO     00005    14485 -25.501311 -49.237825

#### Match CODVEICULO to URBS_CODE to find line 000 boarding stations

In [46]:
matched_000_stations = boardings_000_df.merge(line_000_terminals, left_on='CODVEICULO', right_on='URBS_CODE', how='inner') \
                        .sort_values(by='DATAUTILIZACAO')

In [60]:
matched_000_stations.head(100)

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
96002,000,00012,10/05/62,"09/05/17 04:52:04,000000",OPER S/LINHA,3316674,F,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
96417,000,00012,12/01/78,"09/05/17 04:52:22,000000",OPER S/LINHA,3702630,F,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
30401,000,03001,27/11/58,"09/05/17 04:53:01,000000",OPER S/LINHA,2441463,M,000,TERMINAL PINHEIRINHO,03001,14494,-25.512983,-49.294505
96358,000,00012,17/07/68,"09/05/17 04:53:15,000000",OPER S/LINHA,3325352,M,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
95563,000,00012,16/07/94,"09/05/17 04:53:58,000000",OPER S/LINHA,3727031,M,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
10810,000,03008,20/11/66,"09/05/17 04:54:09,000000",OPER S/LINHA,2239698,M,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
108791,000,05006,20/06/57,"09/05/17 04:54:24,000000",OPER S/LINHA,844324,M,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
9870,000,00001,22/10/75,"09/05/17 04:55:02,000000",OPER S/LINHA,3301005,M,000,TERMINAL BOQUEIRÃO,00001,14489,-25.516723,-49.230568
115391,000,00004,09/01/78,"09/05/17 04:55:09,000000",OPER S/LINHA,3610223,M,000,TERMINAL CARMO,00004,14485,-25.501311,-49.237825
9962,000,00001,16/09/74,"09/05/17 04:55:09,000000",OPER S/LINHA,3742409,F,000,TERMINAL BOQUEIRÃO,00001,14489,-25.516723,-49.230568
46009,000,00010,12/08/73,"09/05/17 04:55:27,000000",OPER S/LINHA,1374410,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46182,000,00010,24/07/52,"09/05/17 04:55:37,000000",OPER S/LINHA,2525568,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
54932,000,01001,29/05/80,"09/05/17 04:56:12,000000",OPER S/LINHA,3760645,M,000,TERMINAL BAIRRO ALTO,01001,14476,-25.413140,-49.205680
108841,000,05006,02/09/80,"09/05/17 04:56:44,000000",OPER S/LINHA,3135084,F,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
48575,000,00008,30/11/81,"09/05/17 04:56:56,000000",OPER S/LINHA,2814991,M,000,TERMINAL HAUER,00008,14487,-25.481900,-49.247078
100526,000,01000,20/04/70,"09/05/17 04:57:04,000000",OPER S/LINHA,2302165,M,000,TERMINAL BAIRRO ALTO,01000,14476,-25.413140,-49.205680
96009,000,00012,06/08/95,"09/05/17 04:57:26,000000",OPER S/LINHA,3791238,M,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
47907,000,03013,15/01/80,"09/05/17 04:57:30,000000",OPER S/LINHA,2544326,F,000,TERMINAL PINHEIRINHO,03013,14494,-25.512983,-49.294505
113265,000,00011,02/03/82,"09/05/17 04:57:38,000000",OPER S/LINHA,831602,F,000,TERMINAL SÍTIO CERCADO,00011,14492,-25.534235,-49.267368
115246,000,00004,17/12/80,"09/05/17 04:58:22,000000",OPER S/LINHA,2860653,M,000,TERMINAL CARMO,00004,14485,-25.501311,-49.237825
113465,000,00011,22/05/89,"09/05/17 04:58:36,000000",OPER S/LINHA,1634255,F,000,TERMINAL SÍTIO CERCADO,00011,14492,-25.534235,-49.267368
45999,000,00010,28/06/67,"09/05/17 04:58:42,000000",OPER S/LINHA,2302496,F,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
101343,000,06002,18/05/78,"09/05/17 04:59:07,000000",OPER S/LINHA,2997681,M,000,TERMINAL CENTENÁRIO,06002,14483,-25.469002,-49.208298
37711,000,03005,05/03/66,"09/05/17 04:59:42,000000",OPER S/LINHA,3670981,F,000,TERMINAL CAPÃO RASO,03005,14497,-25.492283,-49.293083
96385,000,00012,28/01/74,"09/05/17 04:59:58,000000",OPER S/LINHA,2560555,F,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5355,000,09005,28/07/82,"09/05/17 05:06:50,000000",OPER S/LINHA,2864444,F,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
116291,000,00060,20/12/62,"09/05/17 05:07:14,000000",OPER S/LINHA,2841266,M,000,ESTAÇÃO NOVA EUROPA - SENT. TERM. SÍTIO CERCADO,00060,43323,-25.527780,-49.240707
101441,000,06002,08/12/81,"09/05/17 05:07:19,000000",OPER S/LINHA,3737363,F,000,TERMINAL CENTENÁRIO,06002,14483,-25.469002,-49.208298
80775,000,09003,10/03/81,"09/05/17 05:07:43,000000",OPER S/LINHA,3191622,M,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
5088,000,09005,17/05/60,"09/05/17 05:07:47,000000",OPER S/LINHA,2257821,F,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
46268,000,00010,01/03/76,"09/05/17 05:07:48,000000",OPER S/LINHA,3788703,F,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
114741,000,00068,30/12/81,"09/05/17 05:07:58,000000",OPER S/LINHA,3135498,M,000,ESTAÇÃO COQUEIROS - SENT. TERM. SÍTIO CERCADO,00068,41836,-25.532563,-49.261786
121551,000,00064,21/09/89,"09/05/17 05:08:02,000000",OPER S/LINHA,3212199,F,000,ESTAÇÃO EUCLIDES DA CUNHA - SENT. TERM. SÍTIO ...,00064,41839,-25.529997,-49.250162
45694,000,00010,29/09/61,"09/05/17 05:08:03,000000",OPER S/LINHA,2265528,F,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
118145,000,00006,13/11/72,"09/05/17 05:08:07,000000",OPER S/LINHA,1040840,F,000,TERMINAL CARMO,00006,14485,-25.501311,-49.237825
81202,000,09003,06/01/59,"09/05/17 05:08:09,000000",OPER S/LINHA,2139018,F,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
114842,000,00068,05/04/67,"09/05/17 05:08:11,000000",OPER S/LINHA,2231780,F,000,ESTAÇÃO COQUEIROS - SENT. TERM. SÍTIO CERCADO,00068,41836,-25.532563,-49.261786
95140,000,00058,05/06/88,"09/05/17 05:08:25,000000",OPER S/LINHA,3703535,M,000,ESTAÇÃO ARAÇÁ - SENT. TERM. SÍTIO CERCADO,00058,43326,-25.526945,-49.237278
10036,000,03008,24/04/63,"09/05/17 05:08:25,000000",OPER S/LINHA,2823904,M,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
95173,000,00058,22/11/96,"09/05/17 05:08:29,000000",OPER S/LINHA,2810872,M,000,ESTAÇÃO ARAÇÁ - SENT. TERM. SÍTIO CERCADO,00058,43326,-25.526945,-49.237278
10411,000,03008,01/07/92,"09/05/17 05:08:35,000000",OPER S/LINHA,2255340,M,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
5563,000,09005,02/05/63,"09/05/17 05:08:49,000000",OPER S/LINHA,2583335,F,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
5677,000,09005,03/05/62,"09/05/17 05:08:55,000000",OPER S/LINHA,3147562,F,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
48499,000,00008,14/11/80,"09/05/17 05:09:17,000000",OPER S/LINHA,3825223,M,000,TERMINAL HAUER,00008,14487,-25.481900,-49.247078
114934,000,00065,04/03/61,"09/05/17 05:09:21,000000",OPER S/LINHA,2575539,F,000,ESTAÇÃO EUCLIDES DA CUNHA - SENT. TERM. BOQUEIRÃO,00065,41839,-25.529997,-49.250162
10545,000,03008,14/07/75,"09/05/17 05:09:25,000000",OPER S/LINHA,1675473,M,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
108847,000,05006,12/01/62,"09/05/17 05:09:35,000000",OPER S/LINHA,2204180,F,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
55040,000,05060,24/03/70,"09/05/17 05:09:40,000000",OPER S/LINHA,1828050,M,000,ESTAÇÃO JOAQUIM NABUCO - SENT. CENTRO,05060,41808,-25.379908,-49.227932
93598,000,06029,03/07/66,"09/05/17 05:09:40,000000",OPER S/LINHA,3654125,F,000,ESTAÇÃO CATULO DA P. CEARENSE - SENT. CENTRO,06029,41843,-25.465055,-49.209806
45801,000,00010,17/05/61,"09/05/17 05:10:00,000000",OPER S/LINHA,2273955,F,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
7319,000,05056,08/04/59,"09/05/17 05:10:01,000000",OPER S/LINHA,3525619,F,000,ESTAÇÃO ANTÔNIO LAGO - SENT. CENTRO,05056,41812,-25.387903,-49.235215
45056,000,06035,17/12/71,"09/05/17 05:10:07,000000",OPER S/LINHA,2770619,F,000,ESTAÇÃO ANTÔNIO MEIRELLES SOBRINHO - SENT. CENTRO,06035,41849,-25.446971,-49.216857
104752,000,06033,20/05/92,"09/05/17 05:10:14,000000",OPER S/LINHA,3238877,F,000,ESTAÇÃO TEÓFILO OTONI - SENT. CENTRO,06033,41847,-25.457285,-49.212937
116614,000,09055,16/04/88,"09/05/17 05:10:28,000000",OPER S/LINHA,3576366,M,000,ESTAÇÃO QUITANDINHA - SENT. TERM. PINHEIRINHO,09055,41776,-25.535811,-49.274467
45730,000,00010,28/10/65,"09/05/17 05:10:33,000000",OPER S/LINHA,3652868,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368

In [26]:
num_matched_stations = len(matched_000_stations)

In [27]:
print num_matched_stations, boardings_000, num_matched_stations/float(boardings_000)

122864 134629 0.912611695846

### Find Candidate bus routes for each boarding event

#### Read GPS data for the same day

In [42]:
gps_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/buste-v3a/may_jun_jul/single-csvs/2017_05_09_veiculos.csv', dtype = {'route': str}, na_values='-')

In [43]:
gps_data.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,timestamp,stopPointId,problem,birthdate,cardTimestamp,lineName,cardNum,gender
0,500,2.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438738,-49.268180,12.105323,06:53:44,25515,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN
1,500,2.0,4130,6464167,-25.433790,-49.270262,10543.422,GE718,NaN,-25.433916,-49.270425,21.556105,06:58:25,27560,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN
2,500,5.0,4130,6463793,-25.516848,-49.230057,0.000,GE718,NaN,-25.516885,-49.229913,15.014615,07:22:26,27537,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN
3,500,1.0,4130,6463875,-25.501550,-49.237590,2129.862,GE718,NaN,NaN,NaN,NaN,07:26:47,27472,BETWEEN,NaN,NaN,NaN,NaN,NaN
4,500,1.0,4130,6463945,-25.481825,-49.246977,4513.260,GE718,NaN,NaN,NaN,NaN,07:28:04,27551,BETWEEN,NaN,NaN,NaN,NaN,NaN

In [58]:
gps_data.dtypes

route                     object
tripNum                  float64
shapeId                    int64
shapeSequence              int64
shapeLat                 float64
shapeLon                 float64
distanceTraveledShape    float64
busCode                   object
gpsPointId               float64
gpsLat                   float64
gpsLon                   float64
distanceToShapePoint     float64
timestamp                 object
stopPointId                int64
problem                   object
birthdate                 object
cardTimestamp             object
lineName                  object
cardNum                  float64
gender                    object
dtype: object

In [45]:
len(gps_data)

1303692

### Match BUSTE GPS entries with their respective parent stop codes

#### Read GTFS stops file

In [92]:
stops_df = pd.read_csv('/local/tarciso/data/gtfs/curitiba/stops.txt')

In [93]:
stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,70,104505,Terminal Campina do Siqueira - 303 - Centenári...,Terminal Campina do Siqueira - Campo Comprido,-25.435724,-49.306998,NaN,NaN,0,14506.0,NaN,NaN
1,270,104905,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501341,-49.237597,NaN,NaN,0,14485.0,NaN,NaN
2,276,105606,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451550,-49.214917,NaN,NaN,0,14481.0,NaN,NaN
3,299,105603,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451665,-49.215086,NaN,NaN,0,14481.0,NaN,NaN
4,308,104907,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501311,-49.237825,NaN,NaN,0,14485.0,NaN,NaN

In [94]:
stops_parent_stations = stops_df[['stop_id','parent_station']]

In [95]:
gps_stops_with_parent_stations = gps_data.merge(stops_parent_stations, left_on='stopPointId', right_on='stop_id', how='inner')

In [96]:
gps_stops_with_parent_stations.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,timestamp,stopPointId,problem,birthdate,cardTimestamp,lineName,cardNum,gender,stop_id,parent_station
0,500,2.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438738,...,06:53:44,25515,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,25515,NaN
1,500,4.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438743,...,18:26:05,25515,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,25515,NaN
2,500,3.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,07:40:50,25515,BETWEEN,NaN,NaN,NaN,NaN,NaN,25515,NaN
3,500,5.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,08:31:53,25515,BETWEEN,NaN,NaN,NaN,NaN,NaN,25515,NaN
4,550,1.0,2000,4985410,-25.438978,-49.268149,10308.128,NaN,NaN,NaN,...,NaN,25515,BETWEEN,NaN,NaN,NaN,NaN,NaN,25515,NaN

#### Finding buses for the following boarding entry:

In [97]:
matched_000_stations[:1]

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368

In [98]:
type(gps_stops_with_parent_stations['stopPointId'][0])

numpy.int64

In [101]:
gps_stops_with_parent_stations.query('parent_station==14492')#.sort_values(by='timestamp')

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,timestamp,stopPointId,problem,birthdate,cardTimestamp,lineName,cardNum,gender,stop_id,parent_station
66810,540,3.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,NaN,...,12:23:06,5346,BETWEEN,08/02/86,05:32:54,BOQUEIRÃO/MONDELEZ,3789900.0,F,5346,14492.0
66811,540,3.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,NaN,...,12:23:06,5346,BETWEEN,22/06/68,05:23:31,BOQUEIRÃO/MONDELEZ,1816996.0,M,5346,14492.0
66812,540,3.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,NaN,...,12:23:06,5346,BETWEEN,24/02/93,05:36:04,BOQUEIRÃO/MONDELEZ,3762622.0,M,5346,14492.0
66813,540,3.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,NaN,...,12:23:06,5346,BETWEEN,14/08/79,05:21:41,BOQUEIRÃO/MONDELEZ,3692521.0,F,5346,14492.0
66814,540,2.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,-25.534263,...,06:57:20,5346,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66815,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,-25.534408,...,05:31:04,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66816,540,8.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,-25.534401,...,13:40:15,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66817,540,5.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,NaN,...,09:36:41,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66818,545,1.0,1991,6029464,-25.534431,-49.268030,4604.271,KA695,NaN,NaN,...,19:06:56,5346,BETWEEN,09/11/64,19:07:11,OP. CONTIGENCIA,2624114.0,M,5346,14492.0
66819,545,2.0,1991,6029464,-25.534431,-49.268030,4604.271,KA695,NaN,-25.534341,...,17:41:40,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66820,545,2.0,1991,6029464,-25.534431,-49.268030,4604.271,KA696,NaN,-25.534471,...,06:05:44,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66821,545,12.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534251,...,08:24:40,5346,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66822,545,6.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,06:53:53,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66823,545,11.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534450,...,06:54:03,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66824,545,1.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,07:54:10,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66825,545,2.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534226,...,10:30:11,5346,NO_PROBLEM,06/06/97,10:40:00,TRABALHADOR,3533010.0,M,5346,14492.0
66826,545,2.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534226,...,10:30:11,5346,NO_PROBLEM,03/06/91,10:35:14,TRABALHADOR,3762815.0,M,5346,14492.0
66827,545,2.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534226,...,10:30:11,5346,NO_PROBLEM,31/05/69,11:04:49,TRABALHADOR,1038183.0,F,5346,14492.0
66828,545,8.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,12:57:25,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66829,545,13.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,12:57:34,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66830,545,15.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534318,...,16:29:03,5346,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66831,545,3.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,17:03:18,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66832,545,16.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,19:18:12,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66833,545,4.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534375,...,19:18:48,5346,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66834,545,7.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,NaN,...,11:02:52,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66835,545,9.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534345,...,17:04:48,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66836,545,17.0,1991,6029464,-25.534431,-49.268030,4604.271,KA697,NaN,-25.534310,...,22:13:40,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66837,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR407,NaN,-25.534260,...,23:10:02,5346,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,5346,14492.0
66838,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR409,NaN,NaN,...,05:18:56,5346,BETWEEN,01/05/80,05:19:36,OP. CONTIGENCIA,2394563.0,F,5346,14492.0
66839,545,NaN,1991,6029464,-25.534431,-49.268030,4604.271,NaN,NaN,NaN,...,NaN,5346,BETWEEN,NaN,NaN,NaN,NaN,NaN,5346,14492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263859,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534596,...,11:39:08,29631,NO_PROBLEM,15/08/95,11:44:45,PARIGOT DE SOUZA,3731340.0,F,29631,14492.0
1263860,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534596,...,11:39:08,29631,NO_PROBLEM,12/02/72,11:44:51,PARIGOT DE SOUZA,2439670.0,M,29631,14492.0
1263861,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534596,...,11:39:08,29631,NO_PROBLEM,25/12/92,11:44:41,PARIGOT DE SOUZA,2313960.0,F,29631,14492.0
1263862,534,7.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534628,...,14:12:23,29631,TRIP_PROBLEM,13/08/94,14:16:56,PARIGOT DE SOUZA,3197892.0,F,29631,14492.0
1263863,534,46.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534555,...,20:01:40,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263864,534,56.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534630,...,20:02:40,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263865,534,63.0,1976,6393323,-25.534570,-49.268696,5390.425,GA002,NaN,-25.534596,...,20:35:00,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263866,534,1.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.534585,...,17:57:37,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263867,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.532318,...,17:59:52,29631,NO_PROBLEM,14/02/69,18:02:23,PARIGOT DE SOUZA,2975745.0,M,29631,14492.0
1263868,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.532318,...,17:59:52,29631,NO_PROBLEM,14/02/69,18:02:14,PARIGOT DE SOUZA,2975745.0,M,29631,14492.0
1263869,534,3.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.534568,...,19:15:46,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263870,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.534516,...,18:39:12,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263871,534,4.0,1976,6393323,-25.534570,-49.268696,5390.425,GA209,NaN,-25.534643,...,19:46:24,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263872,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,15/07/63,05:59:22,OP. CONTIGENCIA,1919653.0,M,29631,14492.0
1263873,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,22/01/87,06:10:15,OP. CONTIGENCIA,2999896.0,F,29631,14492.0
1263874,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,13/08/84,06:00:27,OP. CONTIGENCIA,1769005.0,F,29631,14492.0
1263875,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,28/08/88,06:08:36,OP. CONTIGENCIA,1624545.0,F,29631,14492.0
1263876,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,23/12/70,05:59:26,OP. CONTIGENCIA,2130149.0,F,29631,14492.0
1263877,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,03/11/75,06:02:32,OP. CONTIGENCIA,3274852.0,F,29631,14492.0
1263878,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,07/09/53,06:02:44,OP. CONTIGENCIA,2342574.0,F,29631,14492.0
1263879,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,17/07/54,06:11:38,OP. CONTIGENCIA,2240584.0,M,29631,14492.0
1263880,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,23/04/78,06:08:40,OP. CONTIGENCIA,3431788.0,F,29631,14492.0
1263881,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,04/06/72,06:02:29,OP. CONTIGENCIA,1949417.0,F,29631,14492.0
1263882,534,2.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534498,...,05:57:16,29631,NO_PROBLEM,26/08/59,06:02:37,OP. CONTIGENCIA,2938870.0,F,29631,14492.0
1263883,534,1.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534560,...,07:42:49,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263884,534,6.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534595,...,07:43:21,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263885,534,3.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534590,...,06:32:30,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263886,534,4.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.532261,...,06:34:15,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263887,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534565,...,07:07:19,29631,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0
1263888,534,7.0,1976,6393323,-25.534570,-49.268696,5390.425,GA213,NaN,-25.534575,...,08:13:36,29631,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,29631,14492.0

In [84]:
gps_stops = gps_data[['stopPointId']].drop_duplicates()

In [90]:
gps_stops[gps_stops['stopPointId'] == 14487]

Empty DataFrame
Columns: [stopPointId]
Index: []

In [86]:
gps_stops.merge(line_000_terminals, left_on='stopPointId', right_on='STOP_ID', how='inner')

Empty DataFrame
Columns: [stopPointId, LINE, NAME, URBS_CODE, STOP_ID, LAT, LON]
Index: []