In [1]:
#import pyspark
#from pyspark import SparkContext
# from pyspark.sql.window import Window
# from pyspark.sql import functions as F
# from pyspark.sql import types as T

import json
import pandas as pd
import numpy as np

### Read Boarding Data

In [9]:
boarding_data = pd.read_json('/local/tarciso/masters/data/bus_trips/preliminary-exp-sample-data/ticketing-sample/doc1-2017051015.txt', lines=True)

In [10]:
boarding_data.head()

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO
0,000,00070,22/11/58,"09/05/17 11:05:57,000000",OPER S/LINHA,1353891,M
1,542,GA117,23/03/72,"09/05/17 17:25:14,000000",BAIRRO NOVO B,2357837,F
2,000,09053,23/03/72,"09/05/17 17:57:33,000000",OPER S/LINHA,2357837,F
3,000,09053,23/03/72,"09/05/17 17:57:28,000000",OPER S/LINHA,2357837,F
4,021,08046,26/01/72,"09/05/17 20:17:34,000000",INTERB II ANTI H,1937533,F

In [11]:
boardings_total = len(boarding_data)

In [12]:
boarding_data.dtypes

CODLINHA          object
CODVEICULO        object
DATANASCIMENTO    object
DATAUTILIZACAO    object
NOMELINHA         object
NUMEROCARTAO       int64
SEXO              object
dtype: object

#### Adding datetime column to ticketing dataframe

In [13]:
boarding_data['DATAUTILIZACAO'].str.split(pat=',',expand=True)[0]

0         09/05/17 11:05:57
1         09/05/17 17:25:14
2         09/05/17 17:57:33
3         09/05/17 17:57:28
4         09/05/17 20:17:34
5         09/05/17 11:55:13
6         09/05/17 17:02:35
7         09/05/17 17:46:22
8         09/05/17 07:34:33
9         09/05/17 17:20:53
10        09/05/17 17:20:56
11        09/05/17 10:47:38
12        09/05/17 08:06:05
13        09/05/17 18:57:22
14        09/05/17 07:59:29
15        09/05/17 07:20:19
16        09/05/17 18:10:41
17        09/05/17 15:29:11
18        09/05/17 13:50:48
19        09/05/17 17:46:39
20        09/05/17 06:59:45
21        09/05/17 17:58:03
22        09/05/17 17:00:00
23        09/05/17 10:30:14
24        09/05/17 14:22:49
25        09/05/17 07:42:22
26        09/05/17 07:00:15
27        09/05/17 17:54:09
28        09/05/17 14:43:25
29        09/05/17 14:43:28
                ...
320262    09/05/17 12:09:15
320263    09/05/17 17:32:09
320264    09/05/17 11:43:09
320265    09/05/17 17:55:38
320266    09/05/17 17:29:49
320267    09/05/17 17:29:09
320268    09/05/17 12:38:26
320269    09/05/17 12:14:50
320270    09/05/17 16:25:32
320271    09/05/17 13:45:47
320272    09/05/17 15:03:38
320273    09/05/17 07:06:05
320274    09/05/17 11:54:26
320275    09/05/17 17:51:07
320276    09/05/17 07:15:04
320277    09/05/17 07:30:08
320278    09/05/17 11:46:13
320279    09/05/17 07:09:04
320280    09/05/17 09:54:39
320281    09/05/17 11:48:42
320282    09/05/17 12:58:01
320283    09/05/17 06:25:10
320284    09/05/17 11:34:18
320285    09/05/17 17:48:31
320286    09/05/17 07:40:02
320287    09/05/17 15:05:47
320288    09/05/17 17:47:39
320289    09/05/17 18:18:47
320290    09/05/17 12:10:29
320291    09/05/17 13:15:34
Name: 0, Length: 320292, dtype: object

In [14]:
boarding_data['boarding_datetime'] = pd.to_datetime(boarding_data['DATAUTILIZACAO'].str.split(pat=',',expand=True)[0],format='%d/%m/%y %H:%M:%S')

#### Checking number of boardings on route 000

In [65]:
boardings_000 = len(boarding_data[boarding_data['CODLINHA'] == '000'])

In [66]:
print boardings_000, boardings_total, boardings_000/float(boardings_total)

134629 320292 0.420332071984

#### Looking at 000 boardings in more detail

In [67]:
boardings_000_df = boarding_data[boarding_data['CODLINHA'] == '000']

In [68]:
boardings_000_df.head(20)

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime
0,000,00070,22/11/58,"09/05/17 11:05:57,000000",OPER S/LINHA,1353891,M,2017-05-09 11:05:57
2,000,09053,23/03/72,"09/05/17 17:57:33,000000",OPER S/LINHA,2357837,F,2017-05-09 17:57:33
3,000,09053,23/03/72,"09/05/17 17:57:28,000000",OPER S/LINHA,2357837,F,2017-05-09 17:57:28
13,000,03009,28/08/84,"09/05/17 18:57:22,000000",OPER S/LINHA,3591720,F,2017-05-09 18:57:22
15,000,03031,29/12/63,"09/05/17 07:20:19,000000",OPER S/LINHA,1225547,M,2017-05-09 07:20:19
17,000,05040,17/01/79,"09/05/17 15:29:11,000000",OPER S/LINHA,2699543,F,2017-05-09 15:29:11
20,000,09005,14/09/76,"09/05/17 06:59:45,000000",OPER S/LINHA,2788103,F,2017-05-09 06:59:45
22,000,03037,01/06/89,"09/05/17 17:00:00,000000",OPER S/LINHA,2900987,F,2017-05-09 17:00:00
25,000,05056,02/07/63,"09/05/17 07:42:22,000000",OPER S/LINHA,1947358,M,2017-05-09 07:42:22
26,000,09029,22/02/65,"09/05/17 07:00:15,000000",OPER S/LINHA,3543165,M,2017-05-09 07:00:15
28,000,05053,27/11/89,"09/05/17 14:43:25,000000",OPER S/LINHA,2283600,F,2017-05-09 14:43:25
29,000,05053,27/11/89,"09/05/17 14:43:28,000000",OPER S/LINHA,2283600,F,2017-05-09 14:43:28
30,000,05053,27/11/89,"09/05/17 14:43:32,000000",OPER S/LINHA,2283600,F,2017-05-09 14:43:32
35,000,03035,02/05/77,"09/05/17 14:54:54,000000",OPER S/LINHA,2953384,F,2017-05-09 14:54:54
36,000,06063,23/05/79,"09/05/17 15:23:48,000000",OPER S/LINHA,1911991,M,2017-05-09 15:23:48
43,000,00001,04/02/86,"09/05/17 17:59:11,000000",OPER S/LINHA,3497985,F,2017-05-09 17:59:11
47,000,03008,03/08/85,"09/05/17 06:51:57,000000",OPER S/LINHA,1233156,F,2017-05-09 06:51:57
48,000,06061,17/04/84,"09/05/17 15:55:56,000000",OPER S/LINHA,2621124,M,2017-05-09 15:55:56
49,000,00049,17/04/84,"09/05/17 17:24:33,000000",OPER S/LINHA,2621124,M,2017-05-09 17:24:33
51,000,03046,24/11/72,"09/05/17 13:15:53,000000",OPER S/LINHA,2097996,F,2017-05-09 13:15:53

### Find boarding stations stop ids for line 000 boarding entries

#### Read Line 000 Codes translation table

In [69]:
line_000_terminals = pd.read_csv('/local/tarciso/masters/data/urbs/line-000-terminals-translation-table.csv', dtype = {'URBS_CODE': str})

In [70]:
line_000_terminals.head()

  LINE                NAME URBS_CODE  STOP_ID        LAT        LON
0  000  TERMINAL BOQUEIRÃO     00001    14489 -25.516723 -49.230568
1  000  TERMINAL BOQUEIRÃO     00002    14489 -25.516723 -49.230568
2  000  TERMINAL BOQUEIRÃO     00003    14489 -25.516723 -49.230568
3  000      TERMINAL CARMO     00004    14485 -25.501311 -49.237825
4  000      TERMINAL CARMO     00005    14485 -25.501311 -49.237825

#### Match CODVEICULO to URBS_CODE to find line 000 boarding stations

In [71]:
matched_000_stations = boardings_000_df.merge(line_000_terminals, left_on='CODVEICULO', right_on='URBS_CODE', how='inner') \
                        .sort_values(by='DATAUTILIZACAO')

In [72]:
matched_000_stations.head(100)

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,2017-05-09 04:47:59,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,2017-05-09 04:48:16,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,2017-05-09 04:51:31,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,2017-05-09 04:52:03,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
96002,000,00012,10/05/62,"09/05/17 04:52:04,000000",OPER S/LINHA,3316674,F,2017-05-09 04:52:04,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
96417,000,00012,12/01/78,"09/05/17 04:52:22,000000",OPER S/LINHA,3702630,F,2017-05-09 04:52:22,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
30401,000,03001,27/11/58,"09/05/17 04:53:01,000000",OPER S/LINHA,2441463,M,2017-05-09 04:53:01,000,TERMINAL PINHEIRINHO,03001,14494,-25.512983,-49.294505
96358,000,00012,17/07/68,"09/05/17 04:53:15,000000",OPER S/LINHA,3325352,M,2017-05-09 04:53:15,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
95563,000,00012,16/07/94,"09/05/17 04:53:58,000000",OPER S/LINHA,3727031,M,2017-05-09 04:53:58,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
10810,000,03008,20/11/66,"09/05/17 04:54:09,000000",OPER S/LINHA,2239698,M,2017-05-09 04:54:09,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
108791,000,05006,20/06/57,"09/05/17 04:54:24,000000",OPER S/LINHA,844324,M,2017-05-09 04:54:24,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
9870,000,00001,22/10/75,"09/05/17 04:55:02,000000",OPER S/LINHA,3301005,M,2017-05-09 04:55:02,000,TERMINAL BOQUEIRÃO,00001,14489,-25.516723,-49.230568
115391,000,00004,09/01/78,"09/05/17 04:55:09,000000",OPER S/LINHA,3610223,M,2017-05-09 04:55:09,000,TERMINAL CARMO,00004,14485,-25.501311,-49.237825
9962,000,00001,16/09/74,"09/05/17 04:55:09,000000",OPER S/LINHA,3742409,F,2017-05-09 04:55:09,000,TERMINAL BOQUEIRÃO,00001,14489,-25.516723,-49.230568
46009,000,00010,12/08/73,"09/05/17 04:55:27,000000",OPER S/LINHA,1374410,M,2017-05-09 04:55:27,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46182,000,00010,24/07/52,"09/05/17 04:55:37,000000",OPER S/LINHA,2525568,M,2017-05-09 04:55:37,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
54932,000,01001,29/05/80,"09/05/17 04:56:12,000000",OPER S/LINHA,3760645,M,2017-05-09 04:56:12,000,TERMINAL BAIRRO ALTO,01001,14476,-25.413140,-49.205680
108841,000,05006,02/09/80,"09/05/17 04:56:44,000000",OPER S/LINHA,3135084,F,2017-05-09 04:56:44,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
48575,000,00008,30/11/81,"09/05/17 04:56:56,000000",OPER S/LINHA,2814991,M,2017-05-09 04:56:56,000,TERMINAL HAUER,00008,14487,-25.481900,-49.247078
100526,000,01000,20/04/70,"09/05/17 04:57:04,000000",OPER S/LINHA,2302165,M,2017-05-09 04:57:04,000,TERMINAL BAIRRO ALTO,01000,14476,-25.413140,-49.205680
96009,000,00012,06/08/95,"09/05/17 04:57:26,000000",OPER S/LINHA,3791238,M,2017-05-09 04:57:26,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
47907,000,03013,15/01/80,"09/05/17 04:57:30,000000",OPER S/LINHA,2544326,F,2017-05-09 04:57:30,000,TERMINAL PINHEIRINHO,03013,14494,-25.512983,-49.294505
113265,000,00011,02/03/82,"09/05/17 04:57:38,000000",OPER S/LINHA,831602,F,2017-05-09 04:57:38,000,TERMINAL SÍTIO CERCADO,00011,14492,-25.534235,-49.267368
115246,000,00004,17/12/80,"09/05/17 04:58:22,000000",OPER S/LINHA,2860653,M,2017-05-09 04:58:22,000,TERMINAL CARMO,00004,14485,-25.501311,-49.237825
113465,000,00011,22/05/89,"09/05/17 04:58:36,000000",OPER S/LINHA,1634255,F,2017-05-09 04:58:36,000,TERMINAL SÍTIO CERCADO,00011,14492,-25.534235,-49.267368
45999,000,00010,28/06/67,"09/05/17 04:58:42,000000",OPER S/LINHA,2302496,F,2017-05-09 04:58:42,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
101343,000,06002,18/05/78,"09/05/17 04:59:07,000000",OPER S/LINHA,2997681,M,2017-05-09 04:59:07,000,TERMINAL CENTENÁRIO,06002,14483,-25.469002,-49.208298
37711,000,03005,05/03/66,"09/05/17 04:59:42,000000",OPER S/LINHA,3670981,F,2017-05-09 04:59:42,000,TERMINAL CAPÃO RASO,03005,14497,-25.492283,-49.293083
96385,000,00012,28/01/74,"09/05/17 04:59:58,000000",OPER S/LINHA,2560555,F,2017-05-09 04:59:58,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5355,000,09005,28/07/82,"09/05/17 05:06:50,000000",OPER S/LINHA,2864444,F,2017-05-09 05:06:50,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
116291,000,00060,20/12/62,"09/05/17 05:07:14,000000",OPER S/LINHA,2841266,M,2017-05-09 05:07:14,000,ESTAÇÃO NOVA EUROPA - SENT. TERM. SÍTIO CERCADO,00060,43323,-25.527780,-49.240707
101441,000,06002,08/12/81,"09/05/17 05:07:19,000000",OPER S/LINHA,3737363,F,2017-05-09 05:07:19,000,TERMINAL CENTENÁRIO,06002,14483,-25.469002,-49.208298
80775,000,09003,10/03/81,"09/05/17 05:07:43,000000",OPER S/LINHA,3191622,M,2017-05-09 05:07:43,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
5088,000,09005,17/05/60,"09/05/17 05:07:47,000000",OPER S/LINHA,2257821,F,2017-05-09 05:07:47,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
46268,000,00010,01/03/76,"09/05/17 05:07:48,000000",OPER S/LINHA,3788703,F,2017-05-09 05:07:48,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
114741,000,00068,30/12/81,"09/05/17 05:07:58,000000",OPER S/LINHA,3135498,M,2017-05-09 05:07:58,000,ESTAÇÃO COQUEIROS - SENT. TERM. SÍTIO CERCADO,00068,41836,-25.532563,-49.261786
121551,000,00064,21/09/89,"09/05/17 05:08:02,000000",OPER S/LINHA,3212199,F,2017-05-09 05:08:02,000,ESTAÇÃO EUCLIDES DA CUNHA - SENT. TERM. SÍTIO ...,00064,41839,-25.529997,-49.250162
45694,000,00010,29/09/61,"09/05/17 05:08:03,000000",OPER S/LINHA,2265528,F,2017-05-09 05:08:03,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
118145,000,00006,13/11/72,"09/05/17 05:08:07,000000",OPER S/LINHA,1040840,F,2017-05-09 05:08:07,000,TERMINAL CARMO,00006,14485,-25.501311,-49.237825
81202,000,09003,06/01/59,"09/05/17 05:08:09,000000",OPER S/LINHA,2139018,F,2017-05-09 05:08:09,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660
114842,000,00068,05/04/67,"09/05/17 05:08:11,000000",OPER S/LINHA,2231780,F,2017-05-09 05:08:11,000,ESTAÇÃO COQUEIROS - SENT. TERM. SÍTIO CERCADO,00068,41836,-25.532563,-49.261786
95140,000,00058,05/06/88,"09/05/17 05:08:25,000000",OPER S/LINHA,3703535,M,2017-05-09 05:08:25,000,ESTAÇÃO ARAÇÁ - SENT. TERM. SÍTIO CERCADO,00058,43326,-25.526945,-49.237278
10036,000,03008,24/04/63,"09/05/17 05:08:25,000000",OPER S/LINHA,2823904,M,2017-05-09 05:08:25,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
95173,000,00058,22/11/96,"09/05/17 05:08:29,000000",OPER S/LINHA,2810872,M,2017-05-09 05:08:29,000,ESTAÇÃO ARAÇÁ - SENT. TERM. SÍTIO CERCADO,00058,43326,-25.526945,-49.237278
10411,000,03008,01/07/92,"09/05/17 05:08:35,000000",OPER S/LINHA,2255340,M,2017-05-09 05:08:35,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
5563,000,09005,02/05/63,"09/05/17 05:08:49,000000",OPER S/LINHA,2583335,F,2017-05-09 05:08:49,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
5677,000,09005,03/05/62,"09/05/17 05:08:55,000000",OPER S/LINHA,3147562,F,2017-05-09 05:08:55,000,TUBO TERM. CAIUÁ,09005,14515,-25.483504,-49.350138
48499,000,00008,14/11/80,"09/05/17 05:09:17,000000",OPER S/LINHA,3825223,M,2017-05-09 05:09:17,000,TERMINAL HAUER,00008,14487,-25.481900,-49.247078
114934,000,00065,04/03/61,"09/05/17 05:09:21,000000",OPER S/LINHA,2575539,F,2017-05-09 05:09:21,000,ESTAÇÃO EUCLIDES DA CUNHA - SENT. TERM. BOQUEIRÃO,00065,41839,-25.529997,-49.250162
10545,000,03008,14/07/75,"09/05/17 05:09:25,000000",OPER S/LINHA,1675473,M,2017-05-09 05:09:25,000,TERMINAL CIC,03008,14503,-25.511782,-49.324788
108847,000,05006,12/01/62,"09/05/17 05:09:35,000000",OPER S/LINHA,2204180,F,2017-05-09 05:09:35,000,TERMINAL BOA VISTA,05006,14471,-25.393517,-49.240616
55040,000,05060,24/03/70,"09/05/17 05:09:40,000000",OPER S/LINHA,1828050,M,2017-05-09 05:09:40,000,ESTAÇÃO JOAQUIM NABUCO - SENT. CENTRO,05060,41808,-25.379908,-49.227932
93598,000,06029,03/07/66,"09/05/17 05:09:40,000000",OPER S/LINHA,3654125,F,2017-05-09 05:09:40,000,ESTAÇÃO CATULO DA P. CEARENSE - SENT. CENTRO,06029,41843,-25.465055,-49.209806
45801,000,00010,17/05/61,"09/05/17 05:10:00,000000",OPER S/LINHA,2273955,F,2017-05-09 05:10:00,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
7319,000,05056,08/04/59,"09/05/17 05:10:01,000000",OPER S/LINHA,3525619,F,2017-05-09 05:10:01,000,ESTAÇÃO ANTÔNIO LAGO - SENT. CENTRO,05056,41812,-25.387903,-49.235215
45056,000,06035,17/12/71,"09/05/17 05:10:07,000000",OPER S/LINHA,2770619,F,2017-05-09 05:10:07,000,ESTAÇÃO ANTÔNIO MEIRELLES SOBRINHO - SENT. CENTRO,06035,41849,-25.446971,-49.216857
104752,000,06033,20/05/92,"09/05/17 05:10:14,000000",OPER S/LINHA,3238877,F,2017-05-09 05:10:14,000,ESTAÇÃO TEÓFILO OTONI - SENT. CENTRO,06033,41847,-25.457285,-49.212937
116614,000,09055,16/04/88,"09/05/17 05:10:28,000000",OPER S/LINHA,3576366,M,2017-05-09 05:10:28,000,ESTAÇÃO QUITANDINHA - SENT. TERM. PINHEIRINHO,09055,41776,-25.535811,-49.274467
45730,000,00010,28/10/65,"09/05/17 05:10:33,000000",OPER S/LINHA,3652868,M,2017-05-09 05:10:33,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368

In [73]:
num_matched_stations = len(matched_000_stations)

In [74]:
print num_matched_stations, boardings_000, num_matched_stations/float(boardings_000)

122864 134629 0.912611695846

### Find Candidate bus routes for each boarding event

#### Read GPS data for the same day

In [16]:
#gps_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/buste-v3a/may_jun_jul/single-csvs/2017_05_09_veiculos.csv', dtype = {'route': str}, na_values='-')
gps_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/buste-maio/2017_05_10_veiculos.csv', dtype = {'route': str}, na_values='-')

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,12,15,16,17,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
gps_data.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,timestamp,stopPointId,problem,birthdate,cardTimestamp,lineName,cardNum,gender
0,500,2.0,4130,6464167,-25.433790,-49.270262,10543.422,GE718,NaN,-25.433916,-49.270425,21.556105,06:58:25,27560,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN
1,500,4.0,4130,6464041,-25.459174,-49.258160,7268.131,GE718,NaN,-25.459181,-49.258193,3.460972,07:07:26,25471,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN
2,500,5.0,4130,6463945,-25.481825,-49.246977,4513.260,GE718,NaN,NaN,NaN,NaN,07:57:57,27551,BETWEEN,NaN,NaN,NaN,NaN,NaN
3,500,3.0,4130,6463945,-25.481825,-49.246977,4513.260,GE718,NaN,-25.481915,-49.247050,12.410537,08:00:09,27551,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN
4,500,1.0,4130,6463793,-25.516848,-49.230057,0.000,GE718,NaN,-25.516915,-49.229840,23.004353,08:10:07,27537,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN

In [18]:
gps_data.dtypes

route                     object
tripNum                  float64
shapeId                    int64
shapeSequence              int64
shapeLat                 float64
shapeLon                 float64
distanceTraveledShape    float64
busCode                   object
gpsPointId               float64
gpsLat                   float64
gpsLon                   float64
distanceToShapePoint     float64
timestamp                 object
stopPointId                int64
problem                   object
birthdate                 object
cardTimestamp             object
lineName                  object
cardNum                  float64
gender                    object
dtype: object

In [19]:
len(gps_data)

1298680

#### Analyzing Boarding and GPS Data

In [20]:
boarding_data[['NUMEROCARTAO','DATAUTILIZACAO','CODLINHA','CODVEICULO']] \
    .sort_values(['NUMEROCARTAO','DATAUTILIZACAO']).head(100)

        NUMEROCARTAO            DATAUTILIZACAO CODLINHA CODVEICULO
243380        228696  09/05/17 07:01:00,000000      000      08024
243381        228696  09/05/17 13:55:35,000000      000      05312
61748         229948  09/05/17 06:29:09,000000      654      HA017
199681        233641  09/05/17 06:39:21,000000      000      01026
199680        233641  09/05/17 12:08:17,000000      021      04020
199752        257342  09/05/17 07:48:58,000000      511      EA172
199751        257342  09/05/17 17:24:51,000000      000      01021
14035         272904  09/05/17 17:24:52,000000      000      03047
199773        300327  09/05/17 06:56:45,000000      OPC      HA240
199772        300327  09/05/17 16:52:22,000000      000      03057
29167         303661  09/05/17 16:36:01,000000      000      03003
29166         303661  09/05/17 17:43:10,000000      000      00038
300091        304127  09/05/17 10:24:50,000000      175      BC010
300090        304127  09/05/17 10:57:36,000000      370      LC016
67557         304148  09/05/17 17:57:00,000000      000      09021
289675        304627  09/05/17 14:17:23,000000      370      BC032
289676        304627  09/05/17 16:24:40,000000      370      LC020
79323         305601  09/05/17 11:06:44,000000      000      05007
79322         305601  09/05/17 13:32:37,000000      000      00045
117201        305647  09/05/17 17:08:47,000000      207      BC297
37792         306135  09/05/17 07:56:49,000000      777      JC004
305129        306450  09/05/17 15:22:38,000000      000      05023
70981         306504  09/05/17 08:18:10,000000      000      06047
70982         306504  09/05/17 10:00:52,000000      000      03068
93912         306573  09/05/17 07:50:41,000000      309      DA033
93911         306573  09/05/17 19:03:30,000000      050      GR110
112585        307365  09/05/17 17:46:57,000000      000      05006
189762        309525  09/05/17 11:22:28,000000      000      03038
144875        310241  09/05/17 17:55:48,000000      474      DC090
34787         312500  09/05/17 13:26:11,000000      175      BC282
...              ...                       ...      ...        ...
23455         323614  09/05/17 13:36:46,000000      000      09027
23454         323614  09/05/17 15:54:32,000000      000      09020
11875         323896  09/05/17 06:41:32,000000      000      03036
11874         323896  09/05/17 19:51:43,000000      205      BC187
209825        323978  09/05/17 07:28:02,000000      673      HN615
209824        323978  09/05/17 17:01:26,000000      665      EC004
194430        324516  09/05/17 07:21:03,000000      000      09022
194431        324516  09/05/17 10:02:03,000000      000      03054
154520        324692  09/05/17 07:13:35,000000      000      09066
154521        324692  09/05/17 18:08:46,000000      000      03013
55840         324874  09/05/17 17:15:15,000000      000      05034
26255         324875  09/05/17 05:33:32,000000      636      GA208
26254         324875  09/05/17 15:51:46,000000      826      JA024
149831        324934  09/05/17 10:12:45,000000      011      BB306
149832        324934  09/05/17 10:12:48,000000      011      BB306
149829        324934  09/05/17 11:41:35,000000      010      BB001
149830        324934  09/05/17 11:41:39,000000      010      BB001
126455        325074  09/05/17 10:38:31,000000      000      09049
300167        325105  09/05/17 08:14:39,000000      000      05050
300168        325105  09/05/17 11:24:40,000000      000      03050
6971          325149  09/05/17 06:50:54,000000      000      01022
6972          325149  09/05/17 17:05:40,000000      000      08024
93914         325211  09/05/17 06:47:02,000000      207      BC020
93913         325211  09/05/17 17:42:23,000000      265      HN606
199766        325225  09/05/17 07:29:33,000000      OPC      CC301
199767        325225  09/05/17 07:52:13,000000      000      00045
199765        325225  09/05/17 11:55:33,000000      000      00031
199768        325225  09/05/17 13:05:32,000000      000      00047
234637        325428  09/05/17 08:46:43,000000      000      09024
234638        325428  09/05/17 08:52:44,000000      000      09024

[100 rows x 4 columns]

In [21]:
gps_data[['cardNum','cardTimestamp','timestamp','route','busCode','stopPointId']] \
    .sort_values(['cardNum','cardTimestamp']) \
    .head(100)

          cardNum cardTimestamp timestamp route busCode  stopPointId
1140069  229948.0      06:29:09  06:20:40   654   HA017        32429
1140684  229948.0      06:29:09  06:28:51   654   HA017        35349
1140935  229948.0      06:29:09  12:55:17   654   HA017        35927
1141556  229948.0      06:29:09  06:17:11   654   HA017        36102
609704   257342.0      07:48:58  07:38:32   511   EA172        40444
610234   257342.0      07:48:58  07:10:28   511   EA172        28437
610545   257342.0      07:48:58  06:06:03   511   EA172        29827
610876   257342.0      07:48:58  07:48:14   511   EA172        31195
866834   300327.0      06:56:45  06:47:36   654   HA240        36086
866918   300327.0      06:56:45  06:55:54   654   HA240        36094
867049   300327.0      06:56:45  06:52:47   654   HA240        36072
867215   300327.0      06:56:45  06:34:34   654   HA240        36082
370152   304127.0      10:24:50  10:16:32   175   BC010        27447
370552   304127.0      10:24:50  10:08:29   175   BC010        28632
370582   304127.0      10:24:50  10:23:32   175   BC010        31749
370891   304127.0      10:24:50  12:14:01   175   BC010        36934
371112   304127.0      10:24:50  09:46:00   175   BC010        28424
679179   304127.0      10:57:36  10:15:57   370   LC016         3280
679507   304127.0      10:57:36  10:57:08   370   LC016        25428
679598   304127.0      10:57:36  12:11:16   370   LC016         3377
679832   304127.0      10:57:36  07:05:52   370   LC016        30213
679938   304127.0      10:57:36  08:00:53   370   LC016        30158
680028   304127.0      10:57:36  10:42:18   370   LC016         3377
680288   304127.0      10:57:36  10:44:20   370   LC016        29924
1057177  304627.0      14:17:23  13:17:59   370   BC032        30158
1057627  304627.0      14:17:23  07:40:20   370   BC032        30158
1057758  304627.0      14:17:23  08:40:44   370   BC032        29938
1057998  304627.0      14:17:23  08:21:38   370   BC032        28600
1058219  304627.0      14:17:23  13:46:49   370   BC032        29938
889815   304627.0      16:24:40  15:43:57   370   LC020        29921
...           ...           ...       ...   ...     ...          ...
595854   313992.0      06:58:00  12:13:50   372   BC316        30767
596081   313992.0      06:58:00  12:57:22   372   BC316        30188
596233   313992.0      06:58:00  06:57:46   372   BC316        26376
597011   313992.0      06:58:00  06:05:48   372   BC316        30181
597262   313992.0      06:58:00  06:54:45   372   BC316        30249
836573   313992.0      18:14:02  17:29:59   372   BC323        30767
836952   313992.0      18:14:02  18:12:41   372   BC323        26336
837493   313992.0      18:14:02  18:10:53   372   BC323        30192
837908   313992.0      18:14:02  18:04:25   372   BC323        30174
23317    314100.0      07:22:30  07:21:35   662   GN603        30710
23537    314100.0      07:22:30  07:04:56   662   GN603        29143
23624    314100.0      07:22:30  05:49:42   662   GN603        30680
23751    314100.0      07:22:30  07:16:40   662   GN603        30461
23950    314100.0      07:22:30  06:46:39   662   GN603        30689
362150   314156.0      08:17:37  08:14:04   673   HN615         8129
362495   314156.0      08:17:37  12:21:31   673   HN615        32137
362859   314156.0      08:17:37  07:40:37   673   HN615        32095
363040   314156.0      08:17:37  12:32:43   673   HN615         8129
363353   314156.0      08:17:37  08:16:37   673   HN615        31670
809417   314357.0      07:30:43  07:29:00   534   GA002        29964
809838   314357.0      07:30:43  07:17:06   534   GA002        33758
810003   314357.0      07:30:43  07:03:58   534   GA002        29972
810166   314357.0      07:30:43  07:10:49   534   GA002        29968
810847   314357.0      07:30:43  07:30:38   534   GA002        29962
266012   316234.0      07:06:26  12:44:19   777   JC008        26149
266306   316234.0      07:06:26  12:58:42   777   JC008        26583
266839   316234.0      07:06:26  12:59:49   777   JC008        32903
5793     316552.0      08:51:29  08:24:58   216   DR403        29143
6311     316552.0      08:51:29  08:50:55   216   DR403        29124
609819   316588.0      10:56:21  10:53:12   511   EA172        32604

[100 rows x 6 columns]

#### Add date and datetime to gps dataframe

In [79]:
gps_data['date'] = '2017-05-09'
gps_data['gps_datetime'] = pd.to_datetime(gps_data['date'] + ' ' + gps_data['timestamp'],format='%Y-%m-%d %H:%M:%S')
gps_data['date'] = pd.to_datetime(gps_data['date'], format='%Y-%m-%d')

In [81]:
gps_data[['date','gps_datetime']]

              date        gps_datetime
0       2017-05-09 2017-05-09 06:53:44
1       2017-05-09 2017-05-09 06:58:25
2       2017-05-09 2017-05-09 07:22:26
3       2017-05-09 2017-05-09 07:26:47
4       2017-05-09 2017-05-09 07:28:04
5       2017-05-09 2017-05-09 07:55:16
6       2017-05-09 2017-05-09 07:57:57
7       2017-05-09 2017-05-09 08:00:09
8       2017-05-09 2017-05-09 06:42:45
9       2017-05-09 2017-05-09 08:10:07
10      2017-05-09 2017-05-09 18:26:05
11      2017-05-09 2017-05-09 07:38:15
12      2017-05-09 2017-05-09 07:39:55
13      2017-05-09 2017-05-09 07:40:50
14      2017-05-09 2017-05-09 08:31:53
15      2017-05-09 2017-05-09 19:31:58
16      2017-05-09 2017-05-09 07:07:26
17      2017-05-09 2017-05-09 07:12:04
18      2017-05-09 2017-05-09 07:18:04
19      2017-05-09 2017-05-09 08:15:47
20      2017-05-09 2017-05-09 08:20:44
21      2017-05-09 2017-05-09 08:25:44
22      2017-05-09 2017-05-09 17:25:40
23      2017-05-09 2017-05-09 17:25:46
24      2017-05-09 2017-05-09 12:26:55
25      2017-05-09 2017-05-09 10:27:49
26      2017-05-09 2017-05-09 16:23:16
27      2017-05-09 2017-05-09 20:51:10
28      2017-05-09 2017-05-09 22:29:49
29      2017-05-09 2017-05-09 22:36:13
...            ...                 ...
1303662 2017-05-09 2017-05-09 20:49:16
1303663 2017-05-09 2017-05-09 20:50:39
1303664 2017-05-09 2017-05-09 20:51:03
1303665 2017-05-09 2017-05-09 22:29:19
1303666 2017-05-09 2017-05-09 22:32:13
1303667 2017-05-09 2017-05-09 22:33:47
1303668 2017-05-09 2017-05-09 22:35:06
1303669 2017-05-09 2017-05-09 22:35:53
1303670 2017-05-09 2017-05-09 22:38:56
1303671 2017-05-09 2017-05-09 22:41:08
1303672 2017-05-09 2017-05-09 22:41:30
1303673 2017-05-09 2017-05-09 22:41:40
1303674 2017-05-09 2017-05-09 22:42:46
1303675 2017-05-09 2017-05-09 22:43:15
1303676 2017-05-09 2017-05-09 22:44:18
1303677 2017-05-09 2017-05-09 22:44:28
1303678 2017-05-09 2017-05-09 22:45:08
1303679 2017-05-09 2017-05-09 22:45:58
1303680 2017-05-09 2017-05-09 22:46:48
1303681 2017-05-09 2017-05-09 22:47:12
1303682 2017-05-09 2017-05-09 22:49:12
1303683 2017-05-09 2017-05-09 22:49:41
1303684 2017-05-09 2017-05-09 22:50:44
1303685 2017-05-09 2017-05-09 22:51:18
1303686 2017-05-09 2017-05-09 22:51:38
1303687 2017-05-09 2017-05-09 22:52:24
1303688 2017-05-09 2017-05-09 22:53:35
1303689 2017-05-09 2017-05-09 23:00:35
1303690 2017-05-09 2017-05-09 23:02:52
1303691 2017-05-09 2017-05-09 23:03:01

[1303692 rows x 2 columns]

### Match BUSTE GPS entries with their respective parent stop codes

#### Read GTFS stops file

In [82]:
stops_df = pd.read_csv('/local/tarciso/data/gtfs/curitiba/stops.txt')

In [83]:
stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,70,104505,Terminal Campina do Siqueira - 303 - Centenári...,Terminal Campina do Siqueira - Campo Comprido,-25.435724,-49.306998,NaN,NaN,0,14506.0,NaN,NaN
1,270,104905,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501341,-49.237597,NaN,NaN,0,14485.0,NaN,NaN
2,276,105606,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451550,-49.214917,NaN,NaN,0,14481.0,NaN,NaN
3,299,105603,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451665,-49.215086,NaN,NaN,0,14481.0,NaN,NaN
4,308,104907,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501311,-49.237825,NaN,NaN,0,14485.0,NaN,NaN

In [84]:
stops_parent_stations = stops_df[['stop_id','parent_station']]

#### Add parent station ID to GPS Boardings data

In [85]:
gps_stops_with_parent_stations = gps_data.merge(stops_parent_stations, left_on='stopPointId', right_on='stop_id', how='inner')

In [86]:
gps_stops_with_parent_stations.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
0,500,2.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438738,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 06:53:44,25515,NaN
1,500,4.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438743,...,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 18:26:05,25515,NaN
2,500,3.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 07:40:50,25515,NaN
3,500,5.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 08:31:53,25515,NaN
4,550,1.0,2000,4985410,-25.438978,-49.268149,10308.128,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,25515,NaN

#### Finding buses for the following boarding entry:

In [87]:
matched_000_stations[:1]

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368

In [88]:
type(gps_stops_with_parent_stations['stopPointId'][0])

numpy.int64

#### Select candidate bus/trip records by filtering the ones which did not go throught the boarding station

In [128]:
candidate_bus_trips = gps_stops_with_parent_stations.query('parent_station==14492') \
                        .drop_duplicates(subset=['route','busCode','tripNum']) \
                        .sort_values(by='gps_datetime')

In [129]:
candidate_bus_trips

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
1205282,547,21.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534175,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:54:15,30013,14492.0
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0
1164869,548,20.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534248,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:01:29,4661,14492.0
883276,542,14.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534175,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:03:59,30012,14492.0
1205132,547,22.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534195,...,NO_PROBLEM,12/03/85,05:08:22,BAIRRO NOVO C,3090669.0,F,2017-05-09,2017-05-09 05:07:50,30013,14492.0
545583,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,GR028,NaN,-25.534286,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:17,27079,14492.0
1164826,548,3.0,3580,5955066,-25.534213,-49.267794,8750.881,GA204,NaN,-25.534235,...,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:31,4661,14492.0
66838,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR409,NaN,NaN,...,BETWEEN,01/05/80,05:19:36,OP. CONTIGENCIA,2394563.0,F,2017-05-09,2017-05-09 05:18:56,5346,14492.0
883749,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534195,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:22:33,30012,14492.0
1205133,547,30.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534210,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:11,30013,14492.0
813926,683,31.0,2145,6043879,-25.534461,-49.268152,0.000,GA153,NaN,-25.534480,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:38,30021,14492.0
986819,625,4.0,2051,6451371,-25.534497,-49.268301,8689.950,GA162,NaN,-25.534488,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:27:18,30020,14492.0
883277,542,6.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534173,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 05:27:29,30012,14492.0
66815,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,-25.534408,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:31:04,5346,14492.0
1205400,547,3.0,1994,6165177,-25.534173,-49.267628,0.000,GA158,NaN,-25.534230,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:34:47,30013,14492.0
1205134,547,23.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534213,...,NO_PROBLEM,25/12/78,06:13:41,BAIRRO NOVO C,3784004.0,M,2017-05-09,2017-05-09 05:37:56,30013,14492.0
1239728,637,13.0,2902,6490244,-25.534247,-49.267929,7087.799,GA171,NaN,-25.534000,...,NO_PROBLEM,02/06/89,05:42:21,STA. JOANA,3613093.0,M,2017-05-09,2017-05-09 05:40:25,30523,14492.0
1205283,547,24.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534251,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:42:57,30013,14492.0
883405,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA134,NaN,-25.534156,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:43:23,30012,14492.0
335128,602,7.0,3245,5988072,-25.534383,-49.268598,8689.423,HR028,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:43:34,27121,14492.0
545611,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,KE843,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:44:00,27079,14492.0
1162979,649,6.0,2092,6267865,-25.534553,-49.268524,8124.380,GA132,NaN,-25.534531,...,NO_PROBLEM,06/09/52,05:54:47,PIRINEUS,3229319.0,M,2017-05-09,2017-05-09 05:44:58,30019,14492.0
66891,545,6.0,1991,6029464,-25.534431,-49.268030,4604.271,KA600,NaN,-25.534393,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:36,5346,14492.0
987012,625,1.0,2052,6450554,-25.534497,-49.268300,0.000,GA163,NaN,-25.534503,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:37,30020,14492.0
1070328,508,1.0,3251,5068187,-25.534668,-49.268309,5086.187,GL303,NaN,-25.534630,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:56,26257,14492.0
1205399,547,1.0,1994,6165177,-25.534173,-49.267628,0.000,GA158,NaN,-25.534213,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:51:01,30013,14492.0
1164881,548,1.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534265,...,NO_PROBLEM,09/07/78,05:52:02,OSTERN/S.CERCADO,2283638.0,M,2017-05-09,2017-05-09 05:51:17,4661,14492.0
883628,542,1.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534188,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:52:59,30012,14492.0
98520,506,1.0,2601,6075242,-25.534563,-49.268568,14135.094,EL303,NaN,-25.534698,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:53:19,30010,14492.0
460594,545,4.0,1990,3883304,-25.534302,-49.268162,17443.453,JA600,NaN,-25.534328,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:55:06,5452,14492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263530,534,60.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263531,534,14.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263534,534,44.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263535,534,12.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263536,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263537,534,18.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263538,534,43.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263539,534,36.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263540,534,13.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263541,534,58.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263543,534,53.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263544,534,11.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263546,534,22.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263547,534,54.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263548,534,16.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263549,534,9.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263550,534,62.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263551,534,31.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263552,534,41.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263553,534,21.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263554,534,8.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263555,534,37.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263556,534,25.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263557,534,50.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263558,534,52.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263559,534,20.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263560,534,1.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263561,534,3.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263563,534,40.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263564,534,10.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0

In [130]:
candidate_bus_trips['diff_boarding_arrival'] = np.abs(candidate_bus_trips['gps_datetime'] - pd.to_datetime('2017-05-09 04:47:52', format='%Y-%m-%d %H:%M:%S'))
candidate_bus_trips = candidate_bus_trips[candidate_bus_trips['diff_boarding_arrival'] < pd.Timedelta('1 hour')]

In [142]:
candidate_bus_trips.head(10)

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station,diff_boarding_arrival
1205282,547,21.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534175,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:54:15,30013,14492.0,00:06:23
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0,00:11:06
1164869,548,20.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534248,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:01:29,4661,14492.0,00:13:37
883276,542,14.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534175,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:03:59,30012,14492.0,00:16:07
1205132,547,22.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534195,...,12/03/85,05:08:22,BAIRRO NOVO C,3090669.0,F,2017-05-09,2017-05-09 05:07:50,30013,14492.0,00:19:58
545583,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,GR028,NaN,-25.534286,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:17,27079,14492.0,00:27:25
1164826,548,3.0,3580,5955066,-25.534213,-49.267794,8750.881,GA204,NaN,-25.534235,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:31,4661,14492.0,00:27:39
66838,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR409,NaN,NaN,...,01/05/80,05:19:36,OP. CONTIGENCIA,2394563.0,F,2017-05-09,2017-05-09 05:18:56,5346,14492.0,00:31:04
883749,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534195,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:22:33,30012,14492.0,00:34:41
1205133,547,30.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534210,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:11,30013,14492.0,00:36:19

In [149]:
def get_arrival_time_at_next_stop_after_station(gps_df,route,vehicle,trip,station_timestamp):
        return gps_df[((gps_df['route'] == route) & (gps_df['busCode'] == vehicle)) \
                      & ((gps_df['tripNum'] == trip) & (gps_df['gps_datetime'] > station_timestamp))] \
                .drop_duplicates(subset=['route','busCode','tripNum','stopPointId']) \
                .sort_values('gps_datetime')

In [150]:
get_arrival_time_at_next_stop_after_station(gps_stops_with_parent_stations,'542','GA124',13,pd.to_datetime('2017-05-09 04:47:52', format='%Y-%m-%d %H:%M:%S'))

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
739654,542,13.0,1988,6403957,-25.551388,-49.266807,3278.756,GA124,NaN,-25.551363,...,NO_PROBLEM,02/02/58,04:48:50,BAIRRO NOVO B,3696327.0,F,2017-05-09,2017-05-09 04:48:22,31255,NaN
739292,542,13.0,1988,6403964,-25.550431,-49.265282,3509.356,GA124,NaN,-25.550511,...,NO_PROBLEM,19/02/80,04:49:15,BAIRRO NOVO B,785212.0,F,2017-05-09,2017-05-09 04:48:59,31256,NaN
738466,542,13.0,1988,6403971,-25.551567,-49.262789,3814.244,GA124,NaN,-25.551588,...,NO_PROBLEM,15/08/63,04:50:49,BAIRRO NOVO B,931864.0,F,2017-05-09,2017-05-09 04:49:55,31257,NaN
738127,542,13.0,1988,6403979,-25.550383,-49.261133,4070.023,GA124,NaN,-25.550470,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:51:05,31258,NaN
737735,542,13.0,1988,6403984,-25.549763,-49.259976,4240.869,GA124,NaN,-25.549690,...,NO_PROBLEM,12/04/94,04:51:57,BAIRRO NOVO B,3824438.0,F,2017-05-09,2017-05-09 04:51:40,31259,NaN
738790,542,13.0,1988,6403992,-25.547981,-49.259658,4518.448,GA124,NaN,-25.547955,...,NO_PROBLEM,17/04/62,04:53:27,BAIRRO NOVO B,1119175.0,F,2017-05-09,2017-05-09 04:52:48,31260,NaN
739922,542,13.0,1988,6404006,-25.545885,-49.263491,4968.473,GA124,NaN,-25.545811,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:53:41,31261,NaN
740736,542,13.0,1988,6404013,-25.545020,-49.265058,5152.768,GA124,NaN,-25.544915,...,NO_PROBLEM,05/01/84,04:55:11,BAIRRO NOVO B,1118881.0,F,2017-05-09,2017-05-09 04:54:19,31262,NaN
742066,542,13.0,1988,6404027,-25.543177,-49.268451,5550.298,GA124,NaN,-25.543125,...,NO_PROBLEM,07/07/78,04:55:22,BAIRRO NOVO B,3788948.0,M,2017-05-09,2017-05-09 04:55:19,31250,NaN
743443,542,13.0,1988,6404044,-25.541586,-49.270588,5838.633,GA124,NaN,NaN,...,BETWEEN,13/08/59,04:56:09,BAIRRO NOVO B,1342841.0,F,2017-05-09,2017-05-09 04:56:00,31263,NaN
745074,542,13.0,1988,6404065,-25.537290,-49.272557,6354.342,GA124,NaN,-25.537263,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:00,31244,NaN
745459,542,13.0,1988,6403876,-25.536870,-49.272795,809.264,GA124,NaN,-25.536818,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:05,31243,NaN
459877,542,13.0,1988,6404075,-25.535550,-49.270968,6703.079,GA124,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:59,29978,NaN
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0
743796,542,13.0,1988,6403889,-25.540195,-49.271230,1209.894,GA124,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 12:00:06,31246,NaN
744177,542,13.0,1988,6403888,-25.540057,-49.271300,1193.051,GA124,NaN,NaN,...,BETWEEN,03/10/80,17:38:08,BAIRRO NOVO B,3763726.0,M,2017-05-09,2017-05-09 14:17:17,31562,NaN
71940,542,13.0,1988,6403868,-25.535542,-49.270973,509.083,GA124,NaN,-25.535446,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 18:27:52,29977,NaN
742319,542,13.0,1988,6403913,-25.543420,-49.268377,1875.617,GA124,NaN,-25.543438,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 19:02:32,31249,NaN
741423,542,13.0,1988,6403931,-25.545996,-49.269095,2387.346,GA124,NaN,-25.545931,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 19:04:14,31252,NaN

#### Concatenate line 000 boardings with GPS boardings

In [151]:
matched_000_stations.head()

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,2017-05-09 04:47:59,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,2017-05-09 04:48:16,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,2017-05-09 04:51:31,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,2017-05-09 04:52:03,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660

In [166]:
line_000_boardings = matched_000_stations.drop(['LINE','NAME','URBS_CODE','LAT','LON','boarding_datetime'], axis=1) \
                        .rename(index=str, columns={'CODLINHA': 'route', 'CODVEICULO': 'busCode', 
                                                    'DATANASCIMENTO':'birthdate','DATAUTILIZACAO':'cardTimestamp',
                                                    'NOMELINHA':'lineName','NUMEROCARTAO':'cardNum',
                                                     'SEXO':'gender','STOP_ID':'stopPointId'})

In [165]:
line_000_boardings.head()

,route,busCode,birthdate,cardTimestamp,lineName,cardNum,gender,boarding_datetime,stopPointId
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,14492
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,2017-05-09 04:47:59,14492
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,2017-05-09 04:48:16,14492
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,2017-05-09 04:51:31,14492
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,2017-05-09 04:52:03,14512

In [163]:
gps_stops_with_parent_stations.columns

Index([u'route', u'tripNum', u'shapeId', u'shapeSequence', u'shapeLat',
       u'shapeLon', u'distanceTraveledShape', u'busCode', u'gpsPointId',
       u'gpsLat', u'gpsLon', u'distanceToShapePoint', u'timestamp',
       u'stopPointId', u'problem', u'birthdate', u'cardTimestamp', u'lineName',
       u'cardNum', u'gender', u'date', u'gps_datetime', u'stop_id',
       u'parent_station'],
      dtype='object')

In [177]:
gps_boardings_with_000 = pd.concat([gps_stops_with_parent_stations,line_000_boardings]) \
                            .drop('stop_id', axis=1)

In [180]:
gps_boardings_with_000 = gps_boardings_with_000[['route','busCode','tripNum','stopPointId','parent_station','cardNum','cardTimestamp','gps_datetime',
                                      'shapeId','shapeSequence','shapeLat','shapeLon','distanceTraveledShape','gpsPointId',
                                      'gpsLat','gpsLon','distanceToShapePoint','timestamp','problem','lineName','birthdate',
                                      'lineName','gender','date']] \
                            .sort_values(['cardNum','cardTimestamp'])

In [181]:
gps_boardings_with_000

,route,busCode,tripNum,stopPointId,parent_station,cardNum,cardTimestamp,gps_datetime,shapeId,shapeSequence,...,distanceToShapePoint,timestamp,problem,lineName,lineName,birthdate,lineName,lineName,gender,date
109722,000,08024,NaN,41752,NaN,228696.0,"09/05/17 07:01:00,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,27/04/94,OPER S/LINHA,OPER S/LINHA,F,NaT
756925,654,HA017,39.0,35927,NaN,229948.0,06:29:09,2017-05-09 12:55:17,2106.0,6040805.0,...,6.075716,12:55:17,NO_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
810134,654,HA017,1.0,35349,NaN,229948.0,06:29:09,2017-05-09 06:28:51,2106.0,6040781.0,...,20.905151,06:28:51,TRIP_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1141215,654,HA017,26.0,28610,14503.0,229948.0,06:29:09,2017-05-09 05:34:54,2106.0,6040943.0,...,3.586574,05:34:54,NO_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1142836,654,HA017,18.0,27485,14497.0,229948.0,06:29:09,2017-05-09 12:02:21,2106.0,6040759.0,...,11.171079,12:02:21,TRIP_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1145283,654,HA017,11.0,36093,NaN,229948.0,06:29:09,2017-05-09 06:07:15,2106.0,6040864.0,...,NaN,06:07:15,BETWEEN,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
21774,000,01026,NaN,41863,NaN,233641.0,"09/05/17 06:39:21,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,20/09/96,OPER S/LINHA,OPER S/LINHA,F,NaT
1196632,511,EA172,3.0,27747,14487.0,257342.0,07:48:58,2017-05-09 07:24:56,2746.0,5846226.0,...,200.947850,07:24:56,TRIP_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1197822,511,EA172,21.0,28431,NaN,257342.0,07:48:58,2017-05-09 07:36:18,2746.0,5846080.0,...,6.291704,07:36:18,NO_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1234923,511,EA172,51.0,40533,NaN,257342.0,07:48:58,2017-05-09 07:19:54,2746.0,5846198.0,...,3.972438,07:19:54,NO_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1235830,511,EA172,22.0,31195,NaN,257342.0,07:48:58,2017-05-09 07:48:14,2746.0,5846156.0,...,NaN,07:48:14,BETWEEN,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
113863,000,01021,NaN,26037,NaN,257342.0,"09/05/17 17:24:51,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,24/01/71,OPER S/LINHA,OPER S/LINHA,F,NaT
41369,000,03047,NaN,14553,NaN,272904.0,"09/05/17 17:24:52,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,17/09/74,OPER S/LINHA,OPER S/LINHA,F,NaT
1141413,654,HA240,4.0,36105,NaN,300327.0,06:56:45,2017-05-09 06:20:29,2106.0,6040913.0,...,12.681011,06:20:29,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1141671,654,HA240,5.0,36104,NaN,300327.0,06:56:45,2017-05-09 06:25:44,2106.0,6040921.0,...,4.461026,06:25:44,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1143839,654,HA240,7.0,36082,NaN,300327.0,06:56:45,2017-05-09 06:34:34,2106.0,6040843.0,...,NaN,06:34:34,BETWEEN,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1145116,654,HA240,7.0,36093,NaN,300327.0,06:56:45,2017-05-09 06:51:59,2106.0,6040864.0,...,NaN,06:51:59,BETWEEN,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1145429,654,HA240,2.0,36094,NaN,300327.0,06:56:45,2017-05-09 06:55:54,2106.0,6040871.0,...,0.737270,06:55:54,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
27672,000,00038,NaN,26051,NaN,303661.0,"09/05/17 17:43:10,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,23/06/73,OPER S/LINHA,OPER S/LINHA,M,NaT
396591,175,BC010,11.0,31749,NaN,304127.0,10:24:50,2017-05-09 10:23:32,2743.0,5404834.0,...,39.855495,10:23:32,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
649432,175,BC010,30.0,27447,NaN,304127.0,10:24:50,2017-05-09 10:16:32,2743.0,5405036.0,...,NaN,10:16:32,BETWEEN,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
969046,175,BC010,28.0,867,NaN,304127.0,10:24:50,2017-05-09 07:31:52,2743.0,5405110.0,...,15.536694,07:31:52,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
969122,175,BC010,10.0,867,NaN,304127.0,10:24:50,2017-05-09 09:53:53,2743.0,5405110.0,...,12.769293,09:53:53,TRIP_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
1115078,175,BC010,20.0,26673,NaN,304127.0,10:24:50,2017-05-09 08:14:12,2743.0,5404860.0,...,40.255400,08:14:12,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
1115170,175,BC010,21.0,26674,NaN,304127.0,10:24:50,2017-05-09 09:22:55,2743.0,5404871.0,...,NaN,09:22:55,BETWEEN,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
294844,370,LC016,8.0,29924,NaN,304127.0,10:57:36,2017-05-09 10:44:20,3669.0,6592068.0,...,NaN,10:44:20,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
297932,370,LC016,1.0,30166,NaN,304127.0,10:57:36,2017-05-09 12:19:59,3669.0,6591967.0,...,NaN,12:19:59,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
304843,370,LC016,6.0,30213,NaN,304127.0,10:57:36,2017-05-09 07:05:52,3669.0,6591877.0,...,4.115276,07:05:52,NO_PROBLEM,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
305222,370,LC016,8.0,33858,NaN,304127.0,10:57:36,2017-05-09 10:29:21,3669.0,6592047.0,...,NaN,10:29:21,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
429616,370,LC016,8.0,30181,NaN,304127.0,10:57:36,2017-05-09 12:08:52,3669.0,6592146.0,...,NaN,12:08:52,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294978,010,BB304,2.0,33165,NaN,NaN,NaN,2017-05-09 08:29:26,1708.0,5859499.0,...,NaN,08:29:26,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294979,010,BB304,6.0,33165,NaN,NaN,NaN,2017-05-09 15:42:45,1708.0,5859499.0,...,NaN,15:42:45,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294985,594,EN601,1.0,31200,NaN,NaN,NaN,2017-05-09 08:35:21,2008.0,5121549.0,...,NaN,08:35:21,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294986,594,EN601,1.0,31198,NaN,NaN,NaN,2017-05-09 08:42:40,2008.0,5121610.0,...,NaN,08:42:40,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294988,594,EN601,1.0,31605,NaN,NaN,NaN,2017-05-09 09:13:36,2008.0,5121817.0,...,30.448843,09:13:36,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294989,594,EN601,1.0,31603,NaN,NaN,NaN,2017-05-09 09:13:47,2008.0,5121820.0,...,NaN,09:13:47,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294990,594,EN601,1.0,31600,NaN,NaN,NaN,2017-05-09 09:16:37,2008.0,5121849.0,...,9.205729,09:16:37,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294997,594,EN601,1.0,39759,NaN,NaN,NaN,2017-05-09 08:25:04,2008.0,5121452.0,...,17.603699,08:25:04,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295004,594,EN601,1.0,38267,NaN,NaN,NaN,2017-05-09 08:55:27,2008.0,5121683.0,...,NaN,08:55:27,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295005,594,EN601,1.0,38268,NaN,NaN,NaN,2017-05-09 08:56:31,2008.0,5121686.0,...,NaN,08:56:31,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295006,594,EN601,1.0,31226,NaN,NaN,NaN,2017-05-09 08:59:08,2008.0,5121718.0,...,NaN,08:59:08,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295007,594,EN601,1.0,31223,NaN,NaN,NaN,2017-05-09 09:02:01,2008.0,5121738.0,...,NaN,09:02:01,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295008,594,EN601,1.0,31221,NaN,NaN,NaN,2017-05-09 09:02:36,2008.0,5121741.0,...,NaN,09:02:36,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295009,594,EN601,1.0,31192,NaN,NaN,NaN,2017-05-09 08:46:02,2008.0,5121624.0,...,NaN,08:46:02,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295010,594,EN601,1.0,38260,NaN,NaN,NaN,2017-05-09 08:47:52,2008.0,5121636.0,...,NaN,08:47:52,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295011,594,EN601,1.0,38261,NaN,NaN,NaN,2017-05-09 08:49:11,2008.0,5121645.0,...,NaN,08:49:11,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295012,594,EN601,1.0,38262,NaN,NaN,NaN,2017-05-09 08:50:08,2008.0,5121650.0,...,NaN,08:50:08,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295013,594,EN601,1.0,38263,NaN,NaN,NaN,2017-05-09 08:51:13,2008.0,5121658.0,...,NaN,08:51:13,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295014,594,EN601,1.0,38265,NaN,NaN,NaN,2017-05-09 08:53:20,2008.0,5121670.0,...,NaN,08:53:20,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295015,594,EN601,1.0,38266,NaN,NaN,NaN,2017-05-09 08:54:03,2008.0,5121675.0,...,NaN,08:54:03,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295016,594,EN601,1.0,31219,NaN,NaN,NaN,2017-05-09 09:04:16,2008.0,5121751.0,...,NaN,09:04:16,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295017,814,LA851,50.0,30298,NaN,NaN,NaN,2017-05-09 20:28:12,2815.0,6130667.0,...,15.828756,20:28:12,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295018,814,LA851,50.0,30296,NaN,NaN,NaN,2017-05-09 20:28:48,2815.0,6130677.0,...,37.395260,20:28:48,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295019,814,LA851,50.0,30294,NaN,NaN,NaN,2017-05-09 20:29:30,2815.0,6130688.0,...,NaN,20:29:30,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295020,814,LA851,50.0,30301,NaN,NaN,NaN,2017-05-09 20:29:57,2815.0,6130701.0,...,NaN,20:29:57,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295021,814,LA851,50.0,30292,NaN,NaN,NaN,2017-05-09 20:31:18,2815.0,6130730.0,...,18.634054,20:31:18,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295022,814,LA851,50.0,30290,NaN,NaN,NaN,2017-05-09 20:31:36,2815.0,6130736.0,...,NaN,20:31:36,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295023,814,LA851,50.0,30288,NaN,NaN,NaN,2017-05-09 20:32:12,2815.0,6130750.0,...,2.283268,20:32:12,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295024,814,LA851,50.0,30286,NaN,NaN,NaN,2017-05-09 20:32:37,2815.0,6130762.0,...,NaN,20:32:37,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295025,814,LA851,50.0,30284,NaN,NaN,NaN,2017-05-09 20:33:09,2815.0,6130776.0,...,NaN,20:33:09,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09

In [90]:
gps_stops[gps_stops['stopPointId'] == 14487]

Empty DataFrame
Columns: [stopPointId]
Index: []

In [86]:
gps_stops.merge(line_000_terminals, left_on='stopPointId', right_on='STOP_ID', how='inner')

Empty DataFrame
Columns: [stopPointId, LINE, NAME, URBS_CODE, STOP_ID, LAT, LON]
Index: []