In [1]:
#import pyspark
#from pyspark import SparkContext
# from pyspark.sql.window import Window
# from pyspark.sql import functions as F
# from pyspark.sql import types as T

import json
import pandas as pd
import numpy as np

### Read Boarding Data

In [2]:
#boarding_data = pd.read_json('/local/tarciso/masters/data/bus_trips/preliminary-exp-sample-data/ticketing-sample/doc1-2017051015.txt', lines=True)
boarding_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/doc1-2017_05_10.csv')

In [3]:
boarding_data.head()

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,HORAUTILIZACAO,DATAUTILIZACAO,DATANASCIMENTO,SEXO
0,000,OPER S/LINHA,00070,1353891,11:05:57,09/05/17,22/11/58,M
1,542,BAIRRO NOVO B,GA117,2357837,17:25:14,09/05/17,23/03/72,F
2,000,OPER S/LINHA,09053,2357837,17:57:33,09/05/17,23/03/72,F
3,000,OPER S/LINHA,09053,2357837,17:57:28,09/05/17,23/03/72,F
4,021,INTERB II ANTI H,08046,1937533,20:17:34,09/05/17,26/01/72,F

In [4]:
boardings_total = len(boarding_data)

In [5]:
boarding_data.dtypes

CODLINHA          object
NOMELINHA         object
CODVEICULO        object
NUMEROCARTAO       int64
HORAUTILIZACAO    object
DATAUTILIZACAO    object
DATANASCIMENTO    object
SEXO              object
dtype: object

#### Adding datetime column to ticketing dataframe

In [9]:
boarding_data['boarding_datetime'] = pd.to_datetime(boarding_data['DATAUTILIZACAO'] + ' ' + boarding_data['HORAUTILIZACAO'],format='%d/%m/%y %H:%M:%S')

#### Checking number of boardings on route 000

In [10]:
boardings_000 = len(boarding_data[boarding_data['CODLINHA'] == '000'])

In [11]:
print boardings_000, boardings_total, boardings_000/float(boardings_total)

134629 320292 0.420332071984

#### Looking at 000 boardings in more detail

In [12]:
boardings_000_df = boarding_data[boarding_data['CODLINHA'] == '000']

In [13]:
boardings_000_df.head(20)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,HORAUTILIZACAO,DATAUTILIZACAO,DATANASCIMENTO,SEXO,boarding_datetime
0,000,OPER S/LINHA,00070,1353891,11:05:57,09/05/17,22/11/58,M,2017-05-09 11:05:57
2,000,OPER S/LINHA,09053,2357837,17:57:33,09/05/17,23/03/72,F,2017-05-09 17:57:33
3,000,OPER S/LINHA,09053,2357837,17:57:28,09/05/17,23/03/72,F,2017-05-09 17:57:28
13,000,OPER S/LINHA,03009,3591720,18:57:22,09/05/17,28/08/84,F,2017-05-09 18:57:22
15,000,OPER S/LINHA,03031,1225547,07:20:19,09/05/17,29/12/63,M,2017-05-09 07:20:19
17,000,OPER S/LINHA,05040,2699543,15:29:11,09/05/17,17/01/79,F,2017-05-09 15:29:11
20,000,OPER S/LINHA,09005,2788103,06:59:45,09/05/17,14/09/76,F,2017-05-09 06:59:45
22,000,OPER S/LINHA,03037,2900987,17:00:00,09/05/17,01/06/89,F,2017-05-09 17:00:00
25,000,OPER S/LINHA,05056,1947358,07:42:22,09/05/17,02/07/63,M,2017-05-09 07:42:22
26,000,OPER S/LINHA,09029,3543165,07:00:15,09/05/17,22/02/65,M,2017-05-09 07:00:15
28,000,OPER S/LINHA,05053,2283600,14:43:25,09/05/17,27/11/89,F,2017-05-09 14:43:25
29,000,OPER S/LINHA,05053,2283600,14:43:28,09/05/17,27/11/89,F,2017-05-09 14:43:28
30,000,OPER S/LINHA,05053,2283600,14:43:32,09/05/17,27/11/89,F,2017-05-09 14:43:32
35,000,OPER S/LINHA,03035,2953384,14:54:54,09/05/17,02/05/77,F,2017-05-09 14:54:54
36,000,OPER S/LINHA,06063,1911991,15:23:48,09/05/17,23/05/79,M,2017-05-09 15:23:48
43,000,OPER S/LINHA,00001,3497985,17:59:11,09/05/17,04/02/86,F,2017-05-09 17:59:11
47,000,OPER S/LINHA,03008,1233156,06:51:57,09/05/17,03/08/85,F,2017-05-09 06:51:57
48,000,OPER S/LINHA,06061,2621124,15:55:56,09/05/17,17/04/84,M,2017-05-09 15:55:56
49,000,OPER S/LINHA,00049,2621124,17:24:33,09/05/17,17/04/84,M,2017-05-09 17:24:33
51,000,OPER S/LINHA,03046,2097996,13:15:53,09/05/17,24/11/72,F,2017-05-09 13:15:53

### Find boarding stations stop ids for line 000 boarding entries

#### Read Line 000 Codes translation table

In [14]:
line_000_terminals = pd.read_csv('/local/tarciso/masters/data/urbs/line-000-terminals-translation-table.csv', dtype = {'URBS_CODE': str})

In [15]:
line_000_terminals.head()

  LINE                NAME URBS_CODE  STOP_ID        LAT        LON
0  000  TERMINAL BOQUEIRÃO     00001    14489 -25.516723 -49.230568
1  000  TERMINAL BOQUEIRÃO     00002    14489 -25.516723 -49.230568
2  000  TERMINAL BOQUEIRÃO     00003    14489 -25.516723 -49.230568
3  000      TERMINAL CARMO     00004    14485 -25.501311 -49.237825
4  000      TERMINAL CARMO     00005    14485 -25.501311 -49.237825

#### Match CODVEICULO to URBS_CODE to find line 000 boarding stations

In [16]:
matched_000_stations = boardings_000_df.merge(line_000_terminals, left_on='CODVEICULO', right_on='URBS_CODE', how='inner') \
                        .sort_values(by='DATAUTILIZACAO')

In [17]:
matched_000_stations.head(100)

,CODLINHA,NOMELINHA,CODVEICULO,NUMEROCARTAO,HORAUTILIZACAO,DATAUTILIZACAO,DATANASCIMENTO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
0,000,OPER S/LINHA,00070,1353891,11:05:57,09/05/17,22/11/58,M,2017-05-09 11:05:57,000,TERMINAL HAUER,00070,14487,-25.481900,-49.247078
81916,000,OPER S/LINHA,03036,3103755,07:06:52,09/05/17,14/01/96,F,2017-05-09 07:06:52,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81915,000,OPER S/LINHA,03036,3476595,15:54:33,09/05/17,27/11/92,M,2017-05-09 15:54:33,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81914,000,OPER S/LINHA,03036,3772075,18:08:20,09/05/17,27/10/84,F,2017-05-09 18:08:20,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81913,000,OPER S/LINHA,03036,3483992,16:16:02,09/05/17,26/08/90,M,2017-05-09 16:16:02,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81912,000,OPER S/LINHA,03036,3639633,12:18:45,09/05/17,18/09/84,F,2017-05-09 12:18:45,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81911,000,OPER S/LINHA,03036,996194,14:11:36,09/05/17,04/06/61,F,2017-05-09 14:11:36,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81910,000,OPER S/LINHA,03036,907747,17:59:14,09/05/17,22/08/87,F,2017-05-09 17:59:14,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81909,000,OPER S/LINHA,03036,874341,18:08:23,09/05/17,10/03/72,F,2017-05-09 18:08:23,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81908,000,OPER S/LINHA,03036,708808,17:47:05,09/05/17,26/05/53,F,2017-05-09 17:47:05,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81907,000,OPER S/LINHA,03036,3826232,15:37:20,09/05/17,25/06/63,F,2017-05-09 15:37:20,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81906,000,OPER S/LINHA,03036,3716555,18:22:06,09/05/17,05/03/96,F,2017-05-09 18:22:06,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81905,000,OPER S/LINHA,03036,3242743,16:44:13,09/05/17,29/12/97,M,2017-05-09 16:44:13,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81904,000,OPER S/LINHA,03036,3814085,10:46:23,09/05/17,11/07/90,M,2017-05-09 10:46:23,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81903,000,OPER S/LINHA,03036,2058953,15:24:37,09/05/17,17/06/84,F,2017-05-09 15:24:37,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81902,000,OPER S/LINHA,03036,1947486,17:49:38,09/05/17,08/09/87,F,2017-05-09 17:49:38,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81901,000,OPER S/LINHA,03036,1982879,13:40:54,09/05/17,14/11/54,F,2017-05-09 13:40:54,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81900,000,OPER S/LINHA,03036,3774026,07:48:36,09/05/17,10/04/65,M,2017-05-09 07:48:36,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81899,000,OPER S/LINHA,03036,3639735,18:12:43,09/05/17,29/10/92,F,2017-05-09 18:12:43,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81898,000,OPER S/LINHA,03036,10086508,13:45:21,09/05/17,NaN,NaN,2017-05-09 13:45:21,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81897,000,OPER S/LINHA,03036,3480532,18:16:32,09/05/17,09/05/97,M,2017-05-09 18:16:32,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81896,000,OPER S/LINHA,03036,2355382,14:46:53,09/05/17,16/12/81,F,2017-05-09 14:46:53,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81895,000,OPER S/LINHA,03036,2351917,18:12:31,09/05/17,08/02/87,F,2017-05-09 18:12:31,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81894,000,OPER S/LINHA,03036,2233548,14:51:48,09/05/17,15/08/52,F,2017-05-09 14:51:48,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81893,000,OPER S/LINHA,03036,2218465,08:55:26,09/05/17,01/03/75,M,2017-05-09 08:55:26,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81892,000,OPER S/LINHA,03036,1993802,16:28:55,09/05/17,22/03/72,F,2017-05-09 16:28:55,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81917,000,OPER S/LINHA,03036,3500700,16:32:17,09/05/17,12/11/84,F,2017-05-09 16:32:17,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81918,000,OPER S/LINHA,03036,3823696,17:22:54,09/05/17,26/08/80,M,2017-05-09 17:22:54,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81919,000,OPER S/LINHA,03036,3546197,17:07:48,09/05/17,18/02/58,F,2017-05-09 17:07:48,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81920,000,OPER S/LINHA,03036,3672389,07:54:49,09/05/17,01/09/79,M,2017-05-09 07:54:49,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81847,000,OPER S/LINHA,03036,3531379,12:18:42,09/05/17,30/01/89,F,2017-05-09 12:18:42,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81846,000,OPER S/LINHA,03036,3346467,14:41:13,09/05/17,07/10/85,F,2017-05-09 14:41:13,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81858,000,OPER S/LINHA,03036,2744691,15:46:10,09/05/17,11/02/77,F,2017-05-09 15:46:10,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81845,000,OPER S/LINHA,03036,3372920,13:07:23,09/05/17,28/02/70,F,2017-05-09 13:07:23,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81843,000,OPER S/LINHA,03036,3245852,17:55:29,09/05/17,08/09/95,F,2017-05-09 17:55:29,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81842,000,OPER S/LINHA,03036,3039397,10:03:30,09/05/17,11/11/96,M,2017-05-09 10:03:30,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81841,000,OPER S/LINHA,03036,2588176,16:48:45,09/05/17,22/09/76,F,2017-05-09 16:48:45,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81840,000,OPER S/LINHA,03036,2284369,17:03:38,09/05/17,04/09/62,M,2017-05-09 17:03:38,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81839,000,OPER S/LINHA,03036,3792131,13:10:02,09/05/17,26/12/93,F,2017-05-09 13:10:02,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81838,000,OPER S/LINHA,03036,3535441,18:05:12,09/05/17,11/06/69,F,2017-05-09 18:05:12,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81837,000,OPER S/LINHA,03036,3182676,12:55:03,09/05/17,21/03/77,F,2017-05-09 12:55:03,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81836,000,OPER S/LINHA,03036,2226575,09:51:00,09/05/17,25/07/64,F,2017-05-09 09:51:00,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81835,000,OPER S/LINHA,03036,2147827,12:16:58,09/05/17,17/12/93,F,2017-05-09 12:16:58,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81834,000,OPER S/LINHA,03036,3827549,15:10:11,09/05/17,09/02/84,M,2017-05-09 15:10:11,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81833,000,OPER S/LINHA,03036,3808745,12:58:00,09/05/17,22/01/00,M,2017-05-09 12:58:00,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81832,000,OPER S/LINHA,03036,3752975,07:12:45,09/05/17,01/02/98,F,2017-05-09 07:12:45,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81844,000,OPER S/LINHA,03036,10026806,13:23:21,09/05/17,NaN,NaN,2017-05-09 13:23:21,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81947,000,OPER S/LINHA,03036,2756669,18:15:07,09/05/17,03/06/95,F,2017-05-09 18:15:07,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81859,000,OPER S/LINHA,03036,1128510,15:50:43,09/05/17,24/01/72,F,2017-05-09 15:50:43,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81861,000,OPER S/LINHA,03036,2886121,06:58:02,09/05/17,04/04/54,F,2017-05-09 06:58:02,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81887,000,OPER S/LINHA,03036,3550921,10:09:16,09/05/17,11/01/83,M,2017-05-09 10:09:16,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81886,000,OPER S/LINHA,03036,3444326,08:45:13,09/05/17,19/09/55,F,2017-05-09 08:45:13,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81885,000,OPER S/LINHA,03036,3137431,11:23:11,09/05/17,28/12/99,F,2017-05-09 11:23:11,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81884,000,OPER S/LINHA,03036,1641597,08:24:14,09/05/17,11/02/84,M,2017-05-09 08:24:14,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81883,000,OPER S/LINHA,03036,3309033,17:03:58,09/05/17,25/10/96,F,2017-05-09 17:03:58,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81882,000,OPER S/LINHA,03036,2950170,13:02:30,09/05/17,16/06/92,M,2017-05-09 13:02:30,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81881,000,OPER S/LINHA,03036,2909591,08:54:16,09/05/17,19/03/92,M,2017-05-09 08:54:16,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81880,000,OPER S/LINHA,03036,1419004,09:52:01,09/05/17,06/10/88,M,2017-05-09 09:52:01,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81879,000,OPER S/LINHA,03036,717396,15:39:33,09/05/17,18/04/71,F,2017-05-09 15:39:33,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777
81878,000,OPER S/LINHA,03036,3781832,15:50:27,09/05/17,19/12/60,F,2017-05-09 15:50:27,000,ESTAÇÃO SILVA JARDIM - SENT. CENTRO,03036,26105,-25.448323,-49.287777

In [18]:
num_matched_stations = len(matched_000_stations)

In [19]:
print num_matched_stations, boardings_000, num_matched_stations/float(boardings_000)

122864 134629 0.912611695846

### Find Candidate bus routes for each boarding event

#### Read GPS data for the same day

In [35]:
#gps_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/buste-v3a/may_jun_jul/single-csvs/2017_05_09_veiculos.csv', dtype = {'route': str}, na_values='-')
gps_data = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/buste-maio/2017_05_10_veiculos.csv', dtype = {'route': str}, na_values='-')

In [36]:
gps_data.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,gpsLon,distanceToShapePoint,timestamp,stopPointId,problem,birthdate,cardTimestamp,lineName,cardNum,gender
0,500,2.0,4130,6464167,-25.433790,-49.270262,10543.422,GE718,NaN,-25.433916,-49.270425,21.556105,06:58:25,27560,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN
1,500,4.0,4130,6464041,-25.459174,-49.258160,7268.131,GE718,NaN,-25.459181,-49.258193,3.460972,07:07:26,25471,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN
2,500,5.0,4130,6463945,-25.481825,-49.246977,4513.260,GE718,NaN,NaN,NaN,NaN,07:57:57,27551,BETWEEN,NaN,NaN,NaN,NaN,NaN
3,500,3.0,4130,6463945,-25.481825,-49.246977,4513.260,GE718,NaN,-25.481915,-49.247050,12.410537,08:00:09,27551,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN
4,500,1.0,4130,6463793,-25.516848,-49.230057,0.000,GE718,NaN,-25.516915,-49.229840,23.004353,08:10:07,27537,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN

In [37]:
gps_data.dtypes

route                     object
tripNum                  float64
shapeId                    int64
shapeSequence              int64
shapeLat                 float64
shapeLon                 float64
distanceTraveledShape    float64
busCode                   object
gpsPointId               float64
gpsLat                   float64
gpsLon                   float64
distanceToShapePoint     float64
timestamp                 object
stopPointId                int64
problem                   object
birthdate                 object
cardTimestamp             object
lineName                  object
cardNum                  float64
gender                    object
dtype: object

In [38]:
len(gps_data)

1298680

#### Add date and datetime to gps dataframe

In [40]:
gps_data['date'] = '2017-05-09'
gps_data['gps_datetime'] = pd.to_datetime(gps_data['date'] + ' ' + gps_data['timestamp'],format='%Y-%m-%d %H:%M:%S')
gps_data['boarding_datetime'] = pd.to_datetime(gps_data['date'] + ' ' + gps_data['cardTimestamp'],format='%Y-%m-%d %H:%M:%S')
gps_data['date'] = pd.to_datetime(gps_data['date'], format='%Y-%m-%d')

In [41]:
gps_data[['date','gps_datetime','boarding_datetime']]

              date        gps_datetime boarding_datetime
0       2017-05-09 2017-05-09 06:58:25               NaT
1       2017-05-09 2017-05-09 07:07:26               NaT
2       2017-05-09 2017-05-09 07:57:57               NaT
3       2017-05-09 2017-05-09 08:00:09               NaT
4       2017-05-09 2017-05-09 08:10:07               NaT
5       2017-05-09 2017-05-09 06:53:44               NaT
6       2017-05-09 2017-05-09 07:18:04               NaT
7       2017-05-09 2017-05-09 07:22:26               NaT
8       2017-05-09 2017-05-09 07:26:47               NaT
9       2017-05-09 2017-05-09 07:28:04               NaT
10      2017-05-09 2017-05-09 07:38:15               NaT
11      2017-05-09 2017-05-09 07:39:55               NaT
12      2017-05-09 2017-05-09 07:12:04               NaT
13      2017-05-09 2017-05-09 07:40:50               NaT
14      2017-05-09 2017-05-09 08:25:44               NaT
15      2017-05-09 2017-05-09 08:31:53               NaT
16      2017-05-09 2017-05-09 18:26:05               NaT
17      2017-05-09 2017-05-09 17:25:40               NaT
18      2017-05-09 2017-05-09 17:25:46               NaT
19      2017-05-09 2017-05-09 06:42:45               NaT
20      2017-05-09 2017-05-09 07:55:16               NaT
21      2017-05-09 2017-05-09 08:15:47               NaT
22      2017-05-09 2017-05-09 08:20:44               NaT
23      2017-05-09 2017-05-09 19:31:58               NaT
24      2017-05-09 2017-05-09 12:05:51               NaT
25      2017-05-09 2017-05-09 12:10:30               NaT
26      2017-05-09 2017-05-09 12:16:59               NaT
27      2017-05-09 2017-05-09 12:19:54               NaT
28      2017-05-09 2017-05-09 06:10:29               NaT
29      2017-05-09 2017-05-09 08:07:53               NaT
...            ...                 ...               ...
1298650 2017-05-09 2017-05-09 19:45:47               NaT
1298651 2017-05-09 2017-05-09 19:46:45               NaT
1298652 2017-05-09 2017-05-09 19:47:18               NaT
1298653 2017-05-09 2017-05-09 19:47:35               NaT
1298654 2017-05-09 2017-05-09 19:48:26               NaT
1298655 2017-05-09 2017-05-09 19:48:46               NaT
1298656 2017-05-09 2017-05-09 19:49:46               NaT
1298657 2017-05-09 2017-05-09 19:50:54               NaT
1298658 2017-05-09 2017-05-09 19:51:57               NaT
1298659 2017-05-09 2017-05-09 19:52:40               NaT
1298660 2017-05-09 2017-05-09 19:52:49               NaT
1298661 2017-05-09 2017-05-09 19:53:02               NaT
1298662 2017-05-09 2017-05-09 19:53:36               NaT
1298663 2017-05-09 2017-05-09 19:53:39               NaT
1298664 2017-05-09 2017-05-09 19:54:40               NaT
1298665 2017-05-09 2017-05-09 21:21:44               NaT
1298666 2017-05-09 2017-05-09 21:26:45               NaT
1298667 2017-05-09 2017-05-09 21:44:08               NaT
1298668 2017-05-09 2017-05-09 21:44:42               NaT
1298669 2017-05-09 2017-05-09 21:45:25               NaT
1298670 2017-05-09 2017-05-09 21:47:05               NaT
1298671 2017-05-09 2017-05-09 21:47:53               NaT
1298672 2017-05-09 2017-05-09 21:48:42               NaT
1298673 2017-05-09 2017-05-09 21:49:58               NaT
1298674 2017-05-09 2017-05-09 21:52:10               NaT
1298675 2017-05-09 2017-05-09 21:54:48               NaT
1298676 2017-05-09 2017-05-09 21:55:15               NaT
1298677 2017-05-09 2017-05-09 21:55:39               NaT
1298678 2017-05-09 2017-05-09 22:01:25               NaT
1298679 2017-05-09 2017-05-09 23:50:03               NaT

[1298680 rows x 3 columns]

#### Analyzing Boarding and GPS Data

In [42]:
boarding_data[['NUMEROCARTAO','DATAUTILIZACAO','HORAUTILIZACAO','CODLINHA','CODVEICULO']] \
    .sort_values(['NUMEROCARTAO','DATAUTILIZACAO']).head(100)

        NUMEROCARTAO DATAUTILIZACAO HORAUTILIZACAO CODLINHA CODVEICULO
243380        228696       09/05/17       07:01:00      000      08024
243381        228696       09/05/17       13:55:35      000      05312
61748         229948       09/05/17       06:29:09      654      HA017
199680        233641       09/05/17       12:08:17      021      04020
199681        233641       09/05/17       06:39:21      000      01026
199751        257342       09/05/17       17:24:51      000      01021
199752        257342       09/05/17       07:48:58      511      EA172
14035         272904       09/05/17       17:24:52      000      03047
199772        300327       09/05/17       16:52:22      000      03057
199773        300327       09/05/17       06:56:45      OPC      HA240
29166         303661       09/05/17       17:43:10      000      00038
29167         303661       09/05/17       16:36:01      000      03003
300090        304127       09/05/17       10:57:36      370      LC016
300091        304127       09/05/17       10:24:50      175      BC010
67557         304148       09/05/17       17:57:00      000      09021
289675        304627       09/05/17       14:17:23      370      BC032
289676        304627       09/05/17       16:24:40      370      LC020
79322         305601       09/05/17       13:32:37      000      00045
79323         305601       09/05/17       11:06:44      000      05007
117201        305647       09/05/17       17:08:47      207      BC297
37792         306135       09/05/17       07:56:49      777      JC004
305129        306450       09/05/17       15:22:38      000      05023
70981         306504       09/05/17       08:18:10      000      06047
70982         306504       09/05/17       10:00:52      000      03068
93911         306573       09/05/17       19:03:30      050      GR110
93912         306573       09/05/17       07:50:41      309      DA033
112585        307365       09/05/17       17:46:57      000      05006
189762        309525       09/05/17       11:22:28      000      03038
144875        310241       09/05/17       17:55:48      474      DC090
34787         312500       09/05/17       13:26:11      175      BC282
...              ...            ...            ...      ...        ...
23455         323614       09/05/17       13:36:46      000      09027
23456         323614       09/05/17       07:44:35      000      09027
11874         323896       09/05/17       19:51:43      205      BC187
11875         323896       09/05/17       06:41:32      000      03036
209824        323978       09/05/17       17:01:26      665      EC004
209825        323978       09/05/17       07:28:02      673      HN615
194430        324516       09/05/17       07:21:03      000      09022
194431        324516       09/05/17       10:02:03      000      03054
154520        324692       09/05/17       07:13:35      000      09066
154521        324692       09/05/17       18:08:46      000      03013
55840         324874       09/05/17       17:15:15      000      05034
26254         324875       09/05/17       15:51:46      826      JA024
26255         324875       09/05/17       05:33:32      636      GA208
149829        324934       09/05/17       11:41:35      010      BB001
149830        324934       09/05/17       11:41:39      010      BB001
149831        324934       09/05/17       10:12:45      011      BB306
149832        324934       09/05/17       10:12:48      011      BB306
126455        325074       09/05/17       10:38:31      000      09049
300167        325105       09/05/17       08:14:39      000      05050
300168        325105       09/05/17       11:24:40      000      03050
6971          325149       09/05/17       06:50:54      000      01022
6972          325149       09/05/17       17:05:40      000      08024
93913         325211       09/05/17       17:42:23      265      HN606
93914         325211       09/05/17       06:47:02      207      BC020
199765        325225       09/05/17       11:55:33      000      00031
199766        325225       09/05/17       07:29:33      OPC      CC301
199767        325225       09/05/17       07:52:13      000      00045
199768        325225       09/05/17       13:05:32      000      00047
234637        325428       09/05/17       08:46:43      000      09024
234638        325428       09/05/17       08:52:44      000      09024

[100 rows x 5 columns]

In [62]:
gps_by_boarding = gps_data[['cardNum', 'boarding_datetime','gps_datetime','route','busCode','stopPointId']] \
    .sort_values(['cardNum','boarding_datetime'])
gps_by_boarding.head(100)

,cardNum,boarding_datetime,gps_datetime,route,busCode,stopPointId
1140069,229948.0,2017-05-09 06:29:09,2017-05-09 06:20:40,654,HA017,32429
1140684,229948.0,2017-05-09 06:29:09,2017-05-09 06:28:51,654,HA017,35349
1140935,229948.0,2017-05-09 06:29:09,2017-05-09 12:55:17,654,HA017,35927
1141556,229948.0,2017-05-09 06:29:09,2017-05-09 06:17:11,654,HA017,36102
609704,257342.0,2017-05-09 07:48:58,2017-05-09 07:38:32,511,EA172,40444
610234,257342.0,2017-05-09 07:48:58,2017-05-09 07:10:28,511,EA172,28437
610545,257342.0,2017-05-09 07:48:58,2017-05-09 06:06:03,511,EA172,29827
610876,257342.0,2017-05-09 07:48:58,2017-05-09 07:48:14,511,EA172,31195
866834,300327.0,2017-05-09 06:56:45,2017-05-09 06:47:36,654,HA240,36086
866918,300327.0,2017-05-09 06:56:45,2017-05-09 06:55:54,654,HA240,36094
867049,300327.0,2017-05-09 06:56:45,2017-05-09 06:52:47,654,HA240,36072
867215,300327.0,2017-05-09 06:56:45,2017-05-09 06:34:34,654,HA240,36082
370152,304127.0,2017-05-09 10:24:50,2017-05-09 10:16:32,175,BC010,27447
370552,304127.0,2017-05-09 10:24:50,2017-05-09 10:08:29,175,BC010,28632
370582,304127.0,2017-05-09 10:24:50,2017-05-09 10:23:32,175,BC010,31749
370891,304127.0,2017-05-09 10:24:50,2017-05-09 12:14:01,175,BC010,36934
371112,304127.0,2017-05-09 10:24:50,2017-05-09 09:46:00,175,BC010,28424
679179,304127.0,2017-05-09 10:57:36,2017-05-09 10:15:57,370,LC016,3280
679507,304127.0,2017-05-09 10:57:36,2017-05-09 10:57:08,370,LC016,25428
679598,304127.0,2017-05-09 10:57:36,2017-05-09 12:11:16,370,LC016,3377
679832,304127.0,2017-05-09 10:57:36,2017-05-09 07:05:52,370,LC016,30213
679938,304127.0,2017-05-09 10:57:36,2017-05-09 08:00:53,370,LC016,30158
680028,304127.0,2017-05-09 10:57:36,2017-05-09 10:42:18,370,LC016,3377
680288,304127.0,2017-05-09 10:57:36,2017-05-09 10:44:20,370,LC016,29924
1057177,304627.0,2017-05-09 14:17:23,2017-05-09 13:17:59,370,BC032,30158
1057627,304627.0,2017-05-09 14:17:23,2017-05-09 07:40:20,370,BC032,30158
1057758,304627.0,2017-05-09 14:17:23,2017-05-09 08:40:44,370,BC032,29938
1057998,304627.0,2017-05-09 14:17:23,2017-05-09 08:21:38,370,BC032,28600
1058219,304627.0,2017-05-09 14:17:23,2017-05-09 13:46:49,370,BC032,29938
889815,304627.0,2017-05-09 16:24:40,2017-05-09 15:43:57,370,LC020,29921
...,...,...,...,...,...,...
595854,313992.0,2017-05-09 06:58:00,2017-05-09 12:13:50,372,BC316,30767
596081,313992.0,2017-05-09 06:58:00,2017-05-09 12:57:22,372,BC316,30188
596233,313992.0,2017-05-09 06:58:00,2017-05-09 06:57:46,372,BC316,26376
597011,313992.0,2017-05-09 06:58:00,2017-05-09 06:05:48,372,BC316,30181
597262,313992.0,2017-05-09 06:58:00,2017-05-09 06:54:45,372,BC316,30249
836573,313992.0,2017-05-09 18:14:02,2017-05-09 17:29:59,372,BC323,30767
836952,313992.0,2017-05-09 18:14:02,2017-05-09 18:12:41,372,BC323,26336
837493,313992.0,2017-05-09 18:14:02,2017-05-09 18:10:53,372,BC323,30192
837908,313992.0,2017-05-09 18:14:02,2017-05-09 18:04:25,372,BC323,30174
23317,314100.0,2017-05-09 07:22:30,2017-05-09 07:21:35,662,GN603,30710
23537,314100.0,2017-05-09 07:22:30,2017-05-09 07:04:56,662,GN603,29143
23624,314100.0,2017-05-09 07:22:30,2017-05-09 05:49:42,662,GN603,30680
23751,314100.0,2017-05-09 07:22:30,2017-05-09 07:16:40,662,GN603,30461
23950,314100.0,2017-05-09 07:22:30,2017-05-09 06:46:39,662,GN603,30689
362150,314156.0,2017-05-09 08:17:37,2017-05-09 08:14:04,673,HN615,8129
362495,314156.0,2017-05-09 08:17:37,2017-05-09 12:21:31,673,HN615,32137
362859,314156.0,2017-05-09 08:17:37,2017-05-09 07:40:37,673,HN615,32095
363040,314156.0,2017-05-09 08:17:37,2017-05-09 12:32:43,673,HN615,8129
363353,314156.0,2017-05-09 08:17:37,2017-05-09 08:16:37,673,HN615,31670
809417,314357.0,2017-05-09 07:30:43,2017-05-09 07:29:00,534,GA002,29964
809838,314357.0,2017-05-09 07:30:43,2017-05-09 07:17:06,534,GA002,33758
810003,314357.0,2017-05-09 07:30:43,2017-05-09 07:03:58,534,GA002,29972
810166,314357.0,2017-05-09 07:30:43,2017-05-09 07:10:49,534,GA002,29968
810847,314357.0,2017-05-09 07:30:43,2017-05-09 07:30:38,534,GA002,29962
266012,316234.0,2017-05-09 07:06:26,2017-05-09 12:44:19,777,JC008,26149
266306,316234.0,2017-05-09 07:06:26,2017-05-09 12:58:42,777,JC008,26583
266839,316234.0,2017-05-09 07:06:26,2017-05-09 12:59:49,777,JC008,32903
5793,316552.0,2017-05-09 08:51:29,2017-05-09 08:24:58,216,DR403,29143
6311,316552.0,2017-05-09 08:51:29,2017-05-09 08:50:55,216,DR403,29124
609819,316588.0,2017-05-09 10:56:21,2017-05-09 10:53:12,511,EA172,32604

#### Selecting best match by using timediff between GPS and Boarding datetimes

In [75]:
gps_by_boarding['match_diff'] = (gps_by_boarding['boarding_datetime'] - gps_by_boarding['gps_datetime']).astype('timedelta64[s]')

In [76]:
gps_by_boarding.head(100)

,cardNum,boarding_datetime,gps_datetime,route,busCode,stopPointId,match_diff
1140069,229948.0,2017-05-09 06:29:09,2017-05-09 06:20:40,654,HA017,32429,509.0
1140684,229948.0,2017-05-09 06:29:09,2017-05-09 06:28:51,654,HA017,35349,18.0
1140935,229948.0,2017-05-09 06:29:09,2017-05-09 12:55:17,654,HA017,35927,-23168.0
1141556,229948.0,2017-05-09 06:29:09,2017-05-09 06:17:11,654,HA017,36102,718.0
609704,257342.0,2017-05-09 07:48:58,2017-05-09 07:38:32,511,EA172,40444,626.0
610234,257342.0,2017-05-09 07:48:58,2017-05-09 07:10:28,511,EA172,28437,2310.0
610545,257342.0,2017-05-09 07:48:58,2017-05-09 06:06:03,511,EA172,29827,6175.0
610876,257342.0,2017-05-09 07:48:58,2017-05-09 07:48:14,511,EA172,31195,44.0
866834,300327.0,2017-05-09 06:56:45,2017-05-09 06:47:36,654,HA240,36086,549.0
866918,300327.0,2017-05-09 06:56:45,2017-05-09 06:55:54,654,HA240,36094,51.0
867049,300327.0,2017-05-09 06:56:45,2017-05-09 06:52:47,654,HA240,36072,238.0
867215,300327.0,2017-05-09 06:56:45,2017-05-09 06:34:34,654,HA240,36082,1331.0
370152,304127.0,2017-05-09 10:24:50,2017-05-09 10:16:32,175,BC010,27447,498.0
370552,304127.0,2017-05-09 10:24:50,2017-05-09 10:08:29,175,BC010,28632,981.0
370582,304127.0,2017-05-09 10:24:50,2017-05-09 10:23:32,175,BC010,31749,78.0
370891,304127.0,2017-05-09 10:24:50,2017-05-09 12:14:01,175,BC010,36934,-6551.0
371112,304127.0,2017-05-09 10:24:50,2017-05-09 09:46:00,175,BC010,28424,2330.0
679179,304127.0,2017-05-09 10:57:36,2017-05-09 10:15:57,370,LC016,3280,2499.0
679507,304127.0,2017-05-09 10:57:36,2017-05-09 10:57:08,370,LC016,25428,28.0
679598,304127.0,2017-05-09 10:57:36,2017-05-09 12:11:16,370,LC016,3377,-4420.0
679832,304127.0,2017-05-09 10:57:36,2017-05-09 07:05:52,370,LC016,30213,13904.0
679938,304127.0,2017-05-09 10:57:36,2017-05-09 08:00:53,370,LC016,30158,10603.0
680028,304127.0,2017-05-09 10:57:36,2017-05-09 10:42:18,370,LC016,3377,918.0
680288,304127.0,2017-05-09 10:57:36,2017-05-09 10:44:20,370,LC016,29924,796.0
1057177,304627.0,2017-05-09 14:17:23,2017-05-09 13:17:59,370,BC032,30158,3564.0
1057627,304627.0,2017-05-09 14:17:23,2017-05-09 07:40:20,370,BC032,30158,23823.0
1057758,304627.0,2017-05-09 14:17:23,2017-05-09 08:40:44,370,BC032,29938,20199.0
1057998,304627.0,2017-05-09 14:17:23,2017-05-09 08:21:38,370,BC032,28600,21345.0
1058219,304627.0,2017-05-09 14:17:23,2017-05-09 13:46:49,370,BC032,29938,1834.0
889815,304627.0,2017-05-09 16:24:40,2017-05-09 15:43:57,370,LC020,29921,2443.0
...,...,...,...,...,...,...,...
595854,313992.0,2017-05-09 06:58:00,2017-05-09 12:13:50,372,BC316,30767,-18950.0
596081,313992.0,2017-05-09 06:58:00,2017-05-09 12:57:22,372,BC316,30188,-21562.0
596233,313992.0,2017-05-09 06:58:00,2017-05-09 06:57:46,372,BC316,26376,14.0
597011,313992.0,2017-05-09 06:58:00,2017-05-09 06:05:48,372,BC316,30181,3132.0
597262,313992.0,2017-05-09 06:58:00,2017-05-09 06:54:45,372,BC316,30249,195.0
836573,313992.0,2017-05-09 18:14:02,2017-05-09 17:29:59,372,BC323,30767,2643.0
836952,313992.0,2017-05-09 18:14:02,2017-05-09 18:12:41,372,BC323,26336,81.0
837493,313992.0,2017-05-09 18:14:02,2017-05-09 18:10:53,372,BC323,30192,189.0
837908,313992.0,2017-05-09 18:14:02,2017-05-09 18:04:25,372,BC323,30174,577.0
23317,314100.0,2017-05-09 07:22:30,2017-05-09 07:21:35,662,GN603,30710,55.0
23537,314100.0,2017-05-09 07:22:30,2017-05-09 07:04:56,662,GN603,29143,1054.0
23624,314100.0,2017-05-09 07:22:30,2017-05-09 05:49:42,662,GN603,30680,5568.0
23751,314100.0,2017-05-09 07:22:30,2017-05-09 07:16:40,662,GN603,30461,350.0
23950,314100.0,2017-05-09 07:22:30,2017-05-09 06:46:39,662,GN603,30689,2151.0
362150,314156.0,2017-05-09 08:17:37,2017-05-09 08:14:04,673,HN615,8129,213.0
362495,314156.0,2017-05-09 08:17:37,2017-05-09 12:21:31,673,HN615,32137,-14634.0
362859,314156.0,2017-05-09 08:17:37,2017-05-09 07:40:37,673,HN615,32095,2220.0
363040,314156.0,2017-05-09 08:17:37,2017-05-09 12:32:43,673,HN615,8129,-15306.0
363353,314156.0,2017-05-09 08:17:37,2017-05-09 08:16:37,673,HN615,31670,60.0
809417,314357.0,2017-05-09 07:30:43,2017-05-09 07:29:00,534,GA002,29964,103.0
809838,314357.0,2017-05-09 07:30:43,2017-05-09 07:17:06,534,GA002,33758,817.0
810003,314357.0,2017-05-09 07:30:43,2017-05-09 07:03:58,534,GA002,29972,1605.0
810166,314357.0,2017-05-09 07:30:43,2017-05-09 07:10:49,534,GA002,29968,1194.0
810847,314357.0,2017-05-09 07:30:43,2017-05-09 07:30:38,534,GA002,29962,5.0
266012,316234.0,2017-05-09 07:06:26,2017-05-09 12:44:19,777,JC008,26149,-20273.0
266306,316234.0,2017-05-09 07:06:26,2017-05-09 12:58:42,777,JC008,26583,-21136.0
266839,316234.0,2017-05-09 07:06:26,2017-05-09 12:59:49,777,JC008,32903,-21203.0
5793,316552.0,2017-05-09 08:51:29,2017-05-09 08:24:58,216,DR403,29143,1591.0
6311,316552.0,2017-05-09 08:51:29,2017-05-09 08:50:55,216,DR403,29124,34.0
609819,316588.0,2017-05-09 10:56:21,2017-05-09 10:53:12,511,EA172,32604,189.0

In [78]:
gps_by_boarding_filtered = gps_by_boarding.loc[gps_by_boarding[np.abs(gps_by_boarding['match_diff']) <= 3600].groupby(['cardNum','boarding_datetime'])['match_diff'].idxmin()]
gps_by_boarding_filtered

,cardNum,boarding_datetime,gps_datetime,route,busCode,stopPointId,match_diff
1140684,229948.0,2017-05-09 06:29:09,2017-05-09 06:28:51,654,HA017,35349,18.0
610876,257342.0,2017-05-09 07:48:58,2017-05-09 07:48:14,511,EA172,31195,44.0
866918,300327.0,2017-05-09 06:56:45,2017-05-09 06:55:54,654,HA240,36094,51.0
370582,304127.0,2017-05-09 10:24:50,2017-05-09 10:23:32,175,BC010,31749,78.0
679507,304127.0,2017-05-09 10:57:36,2017-05-09 10:57:08,370,LC016,25428,28.0
1058219,304627.0,2017-05-09 14:17:23,2017-05-09 13:46:49,370,BC032,29938,1834.0
890665,304627.0,2017-05-09 16:24:40,2017-05-09 16:05:27,370,LC020,30157,1153.0
206128,306135.0,2017-05-09 07:56:49,2017-05-09 07:56:48,777,JC004,32097,1.0
402017,306573.0,2017-05-09 07:50:41,2017-05-09 07:48:58,323,DA033,32543,103.0
606072,310241.0,2017-05-09 17:55:48,2017-05-09 17:55:39,468,DC090,31505,9.0
214221,312500.0,2017-05-09 13:26:11,2017-05-09 13:24:20,175,BC282,26374,111.0
859027,312823.0,2017-05-09 13:35:49,2017-05-09 13:34:57,652,LA001,34977,52.0
9654,312823.0,2017-05-09 14:37:15,2017-05-09 14:36:25,901,MC076,33905,50.0
596233,313992.0,2017-05-09 06:58:00,2017-05-09 06:57:46,372,BC316,26376,14.0
836952,313992.0,2017-05-09 18:14:02,2017-05-09 18:12:41,372,BC323,26336,81.0
23317,314100.0,2017-05-09 07:22:30,2017-05-09 07:21:35,662,GN603,30710,55.0
363353,314156.0,2017-05-09 08:17:37,2017-05-09 08:16:37,673,HN615,31670,60.0
810847,314357.0,2017-05-09 07:30:43,2017-05-09 07:30:38,534,GA002,29962,5.0
6311,316552.0,2017-05-09 08:51:29,2017-05-09 08:50:55,216,DR403,29124,34.0
610718,316588.0,2017-05-09 10:56:21,2017-05-09 10:55:00,511,EA172,29823,81.0
187422,317896.0,2017-05-09 07:26:08,2017-05-09 07:25:52,542,GA124,31256,16.0
720697,318478.0,2017-05-09 15:47:11,2017-05-09 15:39:24,462,DC297,26157,467.0
872934,320244.0,2017-05-09 08:03:44,2017-05-09 07:49:36,260,BC920,2231,848.0
745002,321169.0,2017-05-09 08:51:42,2017-05-09 08:51:33,002,DN029,40026,9.0
740763,321169.0,2017-05-09 18:03:38,2017-05-09 18:02:45,002,DN028,39724,53.0
306040,321469.0,2017-05-09 16:48:57,2017-05-09 16:48:04,870,BC189,34173,53.0
293406,321530.0,2017-05-09 08:05:22,2017-05-09 07:51:47,533,EA169,30037,815.0
1173020,321530.0,2017-05-09 15:31:14,2017-05-09 15:30:28,021,BB609,30947,46.0
1018452,321916.0,2017-05-09 05:54:27,2017-05-09 05:52:29,779,JC864,33563,118.0
183321,321916.0,2017-05-09 17:28:22,2017-05-09 17:26:51,776,JC002,32097,91.0
...,...,...,...,...,...,...,...
347570,10110444.0,2017-05-09 06:22:41,2017-05-09 06:15:43,272,BN616,2402,418.0
1255944,10110445.0,2017-05-09 14:12:49,2017-05-09 14:12:22,167,BC937,38322,27.0
96374,10110445.0,2017-05-09 16:52:22,2017-05-09 16:52:17,168,BC004,26877,5.0
56515,10110448.0,2017-05-09 11:50:56,2017-05-09 11:50:01,265,HN606,30601,55.0
1281642,10110456.0,2017-05-09 17:42:06,2017-05-09 17:39:43,176,BC939,28556,143.0
1281643,10110456.0,2017-05-09 17:42:14,2017-05-09 17:39:43,176,BC939,28556,151.0
350127,10110457.0,2017-05-09 19:11:41,2017-05-09 19:07:09,272,BN617,28615,272.0
350128,10110457.0,2017-05-09 19:11:44,2017-05-09 19:07:09,272,BN617,28615,275.0
1261449,10110476.0,2017-05-09 18:52:10,2017-05-09 18:27:16,270,BN602,31697,1494.0
1256551,10110484.0,2017-05-09 13:09:20,2017-05-09 13:09:13,167,BC937,37547,7.0
276119,10110598.0,2017-05-09 16:56:41,2017-05-09 16:55:05,901,MC302,33660,96.0
276115,10110599.0,2017-05-09 16:56:31,2017-05-09 16:55:05,901,MC302,33660,86.0
273086,10110603.0,2017-05-09 18:15:26,2017-05-09 17:55:19,205,BC187,30773,1207.0
613123,10110611.0,2017-05-09 09:06:11,2017-05-09 09:05:16,822,BA139,33761,55.0
613124,10110611.0,2017-05-09 09:06:14,2017-05-09 09:05:16,822,BA139,33761,58.0
98628,10110613.0,2017-05-09 06:54:11,2017-05-09 06:52:01,965,MN606,33390,130.0
1169590,10110624.0,2017-05-09 06:50:35,2017-05-09 06:50:32,812,BA295,30350,3.0
807988,10110640.0,2017-05-09 07:25:56,2017-05-09 07:25:41,548,GA200,31585,15.0
34516,10110661.0,2017-05-09 13:50:15,2017-05-09 13:46:06,865,LN006,29420,249.0
735566,10110663.0,2017-05-09 15:54:26,2017-05-09 15:49:46,170,BC598,27256,280.0
1262012,10110665.0,2017-05-09 15:56:50,2017-05-09 15:54:21,270,BN602,26358,149.0
759451,10110789.0,2017-05-09 12:44:34,2017-05-09 12:44:19,760,JC856,32100,15.0
622974,10110789.0,2017-05-09 15:55:42,2017-05-09 15:03:23,801,LC011,30157,3139.0
807103,10110790.0,2017-05-09 09:44:25,2017-05-09 09:44:11,342,BA142,34916,14.0
1189567,10110790.0,2017-05-09 17:40:59,2017-05-09 17:40:42,338,EA194,30053,17.0
220703,10110791.0,2017-05-09 18:32:43,2017-05-09 18:32:37,463,DC082,30738,6.0
793725,10110792.0,2017-05-09 10:21:52,2017-05-09 10:21:02,523,EA003,33412,50.0
346450,10110801.0,2017-05-09 16:22:28,2017-05-09 16:21:35,021,DR114,33050,53.0
23896,10110827.0,2017-05-09 18:40:29,2017-05-09 18:40:09,662,GN603,26630,20.0
16321,10110831.0,2017-05-09 17:15:53,2017-05-09 17:15:50,467,DN606,30720,3.0

In [88]:
print len(gps_by_boarding)
print len(gps_by_boarding_filtered)
print len(gps_by_boarding_filtered)/float(len(gps_by_boarding))

1298680
147830
0.113830966828

In [123]:
all_boardings = gps_by_boarding[['cardNum','boarding_datetime']].drop_duplicates()
matched_boardings = gps_by_boarding_filtered[['cardNum','boarding_datetime']].drop_duplicates()
missed_boardings = pd.concat([all_boardings,matched_boardings]).drop_duplicates(keep=False)
print len(missed_boardings)
missed_boardings

4914

            cardNum   boarding_datetime
691455     305647.0 2017-05-09 17:08:47
266012     316234.0 2017-05-09 07:06:26
176840     331502.0 2017-05-09 13:05:31
176841     331502.0 2017-05-09 13:05:33
1091260    334355.0 2017-05-09 06:16:23
303873     341560.0 2017-05-09 07:50:18
149881     353766.0 2017-05-09 08:15:06
1041194    367413.0 2017-05-09 18:33:38
1251667    368045.0 2017-05-09 06:08:12
951237     372350.0 2017-05-09 06:16:11
51913      374282.0 2017-05-09 17:10:10
229093     375098.0 2017-05-09 16:45:08
1187080    383858.0 2017-05-09 18:14:47
1126294    400506.0 2017-05-09 07:13:36
614415     402579.0 2017-05-09 16:39:12
927051     406453.0 2017-05-09 07:27:32
233139     410338.0 2017-05-09 07:59:50
366480     425395.0 2017-05-09 05:32:00
1257154    432873.0 2017-05-09 14:02:47
222400     437623.0 2017-05-09 18:39:07
271084     448669.0 2017-05-09 19:00:57
654867     459319.0 2017-05-09 17:05:35
233132     501974.0 2017-05-09 07:42:29
233129     514273.0 2017-05-09 07:42:42
360868     535961.0 2017-05-09 07:26:38
304005     567330.0 2017-05-09 14:55:01
1236226    574888.0 2017-05-09 17:44:00
1234414    575207.0 2017-05-09 18:17:09
737979     580115.0 2017-05-09 17:18:57
983571     586284.0 2017-05-09 05:25:34
...             ...                 ...
1225084  10083323.0 2017-05-09 05:22:03
229092   10086276.0 2017-05-09 16:51:18
360349   10088560.0 2017-05-09 19:03:24
212721   10091324.0 2017-05-09 06:46:27
679274   10092458.0 2017-05-09 05:45:28
889607   10093032.0 2017-05-09 06:50:32
927102   10094882.0 2017-05-09 06:47:17
1117162  10095634.0 2017-05-09 13:01:20
1201677  10096872.0 2017-05-09 16:06:03
51912    10097236.0 2017-05-09 17:13:27
108452   10097247.0 2017-05-09 17:45:09
598150   10099146.0 2017-05-09 17:12:49
1146912  10099191.0 2017-05-09 13:09:14
111668   10102993.0 2017-05-09 13:00:16
1063914  10103505.0 2017-05-09 11:51:36
51899    10103538.0 2017-05-09 17:19:37
1063871  10106149.0 2017-05-09 18:04:56
51924    10107383.0 2017-05-09 17:17:18
622577   10108273.0 2017-05-09 13:05:11
1257127  10108534.0 2017-05-09 14:12:21
1076467  10108557.0 2017-05-09 06:37:36
360880   10108600.0 2017-05-09 07:29:02
927096   10108889.0 2017-05-09 05:47:48
360289   10108911.0 2017-05-09 17:40:26
222164   10108945.0 2017-05-09 18:06:32
219552   10109561.0 2017-05-09 08:10:38
108472   10109773.0 2017-05-09 17:45:02
1091261  10109880.0 2017-05-09 05:53:47
149665   10110655.0 2017-05-09 13:03:07
0               NaN                 NaT

[4914 rows x 2 columns]

In [124]:
gps_by_boarding_missed = gps_by_boarding.merge(missed_boardings, on=['cardNum','boarding_datetime'], how='inner')
print len(gps_by_boarding_missed)

654570

In [125]:
gps_by_boarding_missed

,cardNum,boarding_datetime,gps_datetime,route,busCode,stopPointId,match_diff
0,305647.0,2017-05-09 17:08:47,2017-05-09 14:37:05,170,BC297,36673,9102.0
1,316234.0,2017-05-09 07:06:26,2017-05-09 12:44:19,777,JC008,26149,-20273.0
2,316234.0,2017-05-09 07:06:26,2017-05-09 12:58:42,777,JC008,26583,-21136.0
3,316234.0,2017-05-09 07:06:26,2017-05-09 12:59:49,777,JC008,32903,-21203.0
4,331502.0,2017-05-09 13:05:31,2017-05-09 11:41:41,233,BA129,35111,5030.0
5,331502.0,2017-05-09 13:05:31,2017-05-09 11:54:08,233,BA129,34994,4283.0
6,331502.0,2017-05-09 13:05:31,2017-05-09 11:59:31,233,BA129,34989,3960.0
7,331502.0,2017-05-09 13:05:31,2017-05-09 10:39:46,233,BA129,30460,8745.0
8,331502.0,2017-05-09 13:05:31,2017-05-09 11:19:56,233,BA129,34991,6335.0
9,331502.0,2017-05-09 13:05:33,2017-05-09 11:41:41,233,BA129,35111,5032.0
10,331502.0,2017-05-09 13:05:33,2017-05-09 11:54:08,233,BA129,34994,4285.0
11,331502.0,2017-05-09 13:05:33,2017-05-09 11:59:31,233,BA129,34989,3962.0
12,331502.0,2017-05-09 13:05:33,2017-05-09 10:39:46,233,BA129,30460,8747.0
13,331502.0,2017-05-09 13:05:33,2017-05-09 11:19:56,233,BA129,34991,6337.0
14,334355.0,2017-05-09 06:16:23,2017-05-09 12:56:58,011,BB306,32771,-24035.0
15,341560.0,2017-05-09 07:50:18,2017-05-09 06:45:57,462,DC088,31465,3861.0
16,341560.0,2017-05-09 07:50:18,2017-05-09 12:10:52,462,DC088,30892,-15634.0
17,341560.0,2017-05-09 07:50:18,2017-05-09 12:45:38,462,DC088,31482,-17720.0
18,341560.0,2017-05-09 07:50:18,2017-05-09 05:27:06,462,DC088,40267,8592.0
19,341560.0,2017-05-09 07:50:18,2017-05-09 06:33:49,462,DC088,40273,4589.0
20,353766.0,2017-05-09 08:15:06,2017-05-09 12:40:24,205,BC305,30045,-15918.0
21,353766.0,2017-05-09 08:15:06,2017-05-09 12:12:47,205,BC305,35642,-14261.0
22,367413.0,2017-05-09 18:33:38,2017-05-09 17:26:38,924,BA013,32355,4020.0
23,368045.0,2017-05-09 06:08:12,2017-05-09 12:44:48,652,LA056,35103,-23796.0
24,372350.0,2017-05-09 06:16:11,2017-05-09 12:59:19,625,GA148,32618,-24188.0
25,372350.0,2017-05-09 06:16:11,2017-05-09 12:43:46,625,GA148,33758,-23255.0
26,372350.0,2017-05-09 06:16:11,2017-05-09 12:13:50,625,GA148,34116,-21459.0
27,372350.0,2017-05-09 06:16:11,2017-05-09 12:58:38,625,GA148,32619,-24147.0
28,374282.0,2017-05-09 17:10:10,2017-05-09 08:45:18,661,GN607,26154,30292.0
29,374282.0,2017-05-09 17:10:10,2017-05-09 07:32:51,661,GN607,30461,34639.0
...,...,...,...,...,...,...,...
654540,NaN,NaT,2017-05-09 19:45:47,467,DN603,30917,NaN
654541,NaN,NaT,2017-05-09 19:46:45,467,DN603,30883,NaN
654542,NaN,NaT,2017-05-09 19:47:18,467,DN603,30720,NaN
654543,NaN,NaT,2017-05-09 19:47:35,467,DN603,30720,NaN
654544,NaN,NaT,2017-05-09 19:48:26,467,DN603,30718,NaN
654545,NaN,NaT,2017-05-09 19:48:46,467,DN603,30882,NaN
654546,NaN,NaT,2017-05-09 19:49:46,467,DN603,30882,NaN
654547,NaN,NaT,2017-05-09 19:50:54,467,DN603,30948,NaN
654548,NaN,NaT,2017-05-09 19:51:57,467,DN603,30948,NaN
654549,NaN,NaT,2017-05-09 19:52:40,467,DN603,30417,NaN
654550,NaN,NaT,2017-05-09 19:52:49,467,DN603,30417,NaN
654551,NaN,NaT,2017-05-09 19:53:02,467,DN603,30911,NaN
654552,NaN,NaT,2017-05-09 19:53:36,467,DN603,30942,NaN
654553,NaN,NaT,2017-05-09 19:53:39,467,DN603,30748,NaN
654554,NaN,NaT,2017-05-09 19:54:40,467,DN603,30749,NaN
654555,NaN,NaT,2017-05-09 21:21:44,467,DN603,30795,NaN
654556,NaN,NaT,2017-05-09 21:26:45,467,DN603,30795,NaN
654557,NaN,NaT,2017-05-09 21:44:08,467,DN603,30887,NaN
654558,NaN,NaT,2017-05-09 21:44:42,467,DN603,30885,NaN
654559,NaN,NaT,2017-05-09 21:45:25,467,DN603,30884,NaN
654560,NaN,NaT,2017-05-09 21:47:05,467,DN603,30883,NaN
654561,NaN,NaT,2017-05-09 21:47:53,467,DN603,30720,NaN
654562,NaN,NaT,2017-05-09 21:48:42,467,DN603,30718,NaN
654563,NaN,NaT,2017-05-09 21:49:58,467,DN603,30882,NaN
654564,NaN,NaT,2017-05-09 21:52:10,467,DN603,30948,NaN
654565,NaN,NaT,2017-05-09 21:54:48,467,DN603,30417,NaN
654566,NaN,NaT,2017-05-09 21:55:15,467,DN603,30748,NaN
654567,NaN,NaT,2017-05-09 21:55:39,467,DN603,30749,NaN
654568,NaN,NaT,2017-05-09 22:01:25,467,DN603,26181,NaN
654569,NaN,NaT,2017-05-09 23:50:03,467,DN603,26181,NaN

In [93]:
diff = pd.concat([gps_by_boarding_missed, gps_by_boarding_filtered]).drop_duplicates(subset=['cardNum','boarding_datetime'],keep=False)
print len(diff)
diff
#gps_by_boarding_missed[~(gps_by_boarding_missed.isin(gps_by_boarding_filtered))]

4914

,cardNum,boarding_datetime,gps_datetime,route,busCode,stopPointId,match_diff
691455,305647.0,2017-05-09 17:08:47,2017-05-09 14:37:05,170,BC297,36673,9102.0
266012,316234.0,2017-05-09 07:06:26,2017-05-09 12:44:19,777,JC008,26149,-20273.0
176840,331502.0,2017-05-09 13:05:31,2017-05-09 11:41:41,233,BA129,35111,5030.0
176841,331502.0,2017-05-09 13:05:33,2017-05-09 11:41:41,233,BA129,35111,5032.0
1091260,334355.0,2017-05-09 06:16:23,2017-05-09 12:56:58,011,BB306,32771,-24035.0
303873,341560.0,2017-05-09 07:50:18,2017-05-09 06:45:57,462,DC088,31465,3861.0
149881,353766.0,2017-05-09 08:15:06,2017-05-09 12:40:24,205,BC305,30045,-15918.0
1041194,367413.0,2017-05-09 18:33:38,2017-05-09 17:26:38,924,BA013,32355,4020.0
1251667,368045.0,2017-05-09 06:08:12,2017-05-09 12:44:48,652,LA056,35103,-23796.0
951237,372350.0,2017-05-09 06:16:11,2017-05-09 12:59:19,625,GA148,32618,-24188.0
51913,374282.0,2017-05-09 17:10:10,2017-05-09 08:45:18,661,GN607,26154,30292.0
229093,375098.0,2017-05-09 16:45:08,2017-05-09 10:24:11,474,DC083,31500,22857.0
1187080,383858.0,2017-05-09 18:14:47,2017-05-09 08:06:17,021,HB604,33024,36510.0
1126294,400506.0,2017-05-09 07:13:36,2017-05-09 12:01:01,030,BB606,30459,-17245.0
614415,402579.0,2017-05-09 16:39:12,2017-05-09 07:35:46,860,LC010,34128,32606.0
927051,406453.0,2017-05-09 07:27:32,2017-05-09 12:44:47,823,LA006,42425,-19035.0
233139,410338.0,2017-05-09 07:59:50,2017-05-09 12:59:35,778,JC006,33556,-17985.0
366480,425395.0,2017-05-09 05:32:00,2017-05-09 12:21:52,650,HR414,36287,-24592.0
1257154,432873.0,2017-05-09 14:02:47,2017-05-09 09:35:03,623,HA618,37819,16064.0
222400,437623.0,2017-05-09 18:39:07,2017-05-09 06:17:08,870,BC283,35079,44519.0
271084,448669.0,2017-05-09 19:00:57,2017-05-09 17:34:20,619,HA264,35103,5197.0
654867,459319.0,2017-05-09 17:05:35,2017-05-09 08:13:42,372,CC194,29921,31913.0
233132,501974.0,2017-05-09 07:42:29,2017-05-09 12:59:35,778,JC006,33556,-19026.0
233129,514273.0,2017-05-09 07:42:42,2017-05-09 12:59:35,778,JC006,33556,-19013.0
360868,535961.0,2017-05-09 07:26:38,2017-05-09 12:56:53,684,HR412,31052,-19815.0
304005,567330.0,2017-05-09 14:55:01,2017-05-09 13:07:38,462,DC088,31484,6443.0
1236226,574888.0,2017-05-09 17:44:00,2017-05-09 08:52:22,030,GB608,32596,31898.0
1234414,575207.0,2017-05-09 18:17:09,2017-05-09 10:51:08,021,MB602,27475,26761.0
737979,580115.0,2017-05-09 17:18:57,2017-05-09 14:38:32,170,BC599,27745,9625.0
983571,586284.0,2017-05-09 05:25:34,2017-05-09 12:16:15,628,HA249,36189,-24641.0
...,...,...,...,...,...,...,...
1225084,10083323.0,2017-05-09 05:22:03,2017-05-09 12:55:18,244,BN402,48124,-27195.0
229092,10086276.0,2017-05-09 16:51:18,2017-05-09 10:24:11,474,DC083,31500,23227.0
360349,10088560.0,2017-05-09 19:03:24,2017-05-09 17:47:08,021,KB694,30947,4576.0
212721,10091324.0,2017-05-09 06:46:27,2017-05-09 12:59:52,175,BC282,26584,-22405.0
679274,10092458.0,2017-05-09 05:45:28,2017-05-09 12:32:29,370,LC016,30226,-24421.0
889607,10093032.0,2017-05-09 06:50:32,2017-05-09 12:38:31,370,LC020,30213,-20879.0
927102,10094882.0,2017-05-09 06:47:17,2017-05-09 12:44:47,823,LA006,42425,-21450.0
1117162,10095634.0,2017-05-09 13:01:20,2017-05-09 11:59:42,621,EA018,38805,3698.0
1201677,10096872.0,2017-05-09 16:06:03,2017-05-09 10:18:01,720,JA019,35563,20882.0
51912,10097236.0,2017-05-09 17:13:27,2017-05-09 08:45:18,661,GN607,26154,30489.0
108452,10097247.0,2017-05-09 17:45:09,2017-05-09 07:47:12,822,BA025,30994,35877.0
598150,10099146.0,2017-05-09 17:12:49,2017-05-09 07:49:48,170,BC190,36644,33781.0
1146912,10099191.0,2017-05-09 13:09:14,2017-05-09 11:57:55,683,GA153,39198,4279.0
111668,10102993.0,2017-05-09 13:00:16,2017-05-09 11:02:14,561,EC002,26152,7082.0
1063914,10103505.0,2017-05-09 11:51:36,2017-05-09 07:39:11,924,BA017,32229,15145.0
51899,10103538.0,2017-05-09 17:19:37,2017-05-09 08:45:18,661,GN607,26154,30859.0
1063871,10106149.0,2017-05-09 18:04:56,2017-05-09 07:39:11,924,BA017,32229,37545.0
51924,10107383.0,2017-05-09 17:17:18,2017-05-09 08:45:18,661,GN607,26154,30720.0
622577,10108273.0,2017-05-09 13:05:11,2017-05-09 11:21:51,801,LC011,30422,6200.0
1257127,10108534.0,2017-05-09 14:12:21,2017-05-09 09:35:03,623,HA618,37819,16638.0
1076467,10108557.0,2017-05-09 06:37:36,2017-05-09 12:43:49,711,JA010,35427,-21973.0
360880,10108600.0,2017-05-09 07:29:02,2017-05-09 12:56:53,684,HR412,31052,-19671.0
927096,10108889.0,2017-05-09 05:47:48,2017-05-09 12:44:47,823,LA006,42425,-25019.0
360289,10108911.0,2017-05-09 17:40:26,2017-05-09 08:07:11,021,KB694,33048,34395.0
222164,10108945.0,2017-05-09 18:06:32,2017-05-09 16:45:12,870,BC283,31937,4880.0
219552,10109561.0,2017-05-09 08:10:38,2017-05-09 12:43:31,205,BC309,29049,-16373.0
108472,10109773.0,2017-05-09 17:45:02,2017-05-09 07:47:12,822,BA025,30994,35870.0
1091261,10109880.0,2017-05-09 05:53:47,2017-05-09 12:56:58,011,BB306,32771,-25391.0
149665,10110655.0,2017-05-09 13:03:07,2017-05-09 10:50:48,205,BC305,34462,7939.0
0,NaN,NaT,2017-05-09 06:58:25,500,GE718,27560,NaN

### Match BUSTE GPS entries with their respective parent stop codes

#### Read GTFS stops file

In [82]:
stops_df = pd.read_csv('/local/tarciso/data/gtfs/curitiba/stops.txt')

In [83]:
stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,70,104505,Terminal Campina do Siqueira - 303 - Centenári...,Terminal Campina do Siqueira - Campo Comprido,-25.435724,-49.306998,NaN,NaN,0,14506.0,NaN,NaN
1,270,104905,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501341,-49.237597,NaN,NaN,0,14485.0,NaN,NaN
2,276,105606,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451550,-49.214917,NaN,NaN,0,14481.0,NaN,NaN
3,299,105603,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451665,-49.215086,NaN,NaN,0,14481.0,NaN,NaN
4,308,104907,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501311,-49.237825,NaN,NaN,0,14485.0,NaN,NaN

In [84]:
stops_parent_stations = stops_df[['stop_id','parent_station']]

#### Add parent station ID to GPS Boardings data

In [85]:
gps_stops_with_parent_stations = gps_data.merge(stops_parent_stations, left_on='stopPointId', right_on='stop_id', how='inner')

In [86]:
gps_stops_with_parent_stations.head()

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
0,500,2.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438738,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 06:53:44,25515,NaN
1,500,4.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,-25.438743,...,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 18:26:05,25515,NaN
2,500,3.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 07:40:50,25515,NaN
3,500,5.0,4130,6464140,-25.438837,-49.268129,9735.966,GE718,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 08:31:53,25515,NaN
4,550,1.0,2000,4985410,-25.438978,-49.268149,10308.128,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,25515,NaN

#### Finding buses for the following boarding entry:

In [87]:
matched_000_stations[:1]

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368

In [88]:
type(gps_stops_with_parent_stations['stopPointId'][0])

numpy.int64

#### Select candidate bus/trip records by filtering the ones which did not go throught the boarding station

In [128]:
candidate_bus_trips = gps_stops_with_parent_stations.query('parent_station==14492') \
                        .drop_duplicates(subset=['route','busCode','tripNum']) \
                        .sort_values(by='gps_datetime')

In [129]:
candidate_bus_trips

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
1205282,547,21.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534175,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:54:15,30013,14492.0
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0
1164869,548,20.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534248,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:01:29,4661,14492.0
883276,542,14.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534175,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:03:59,30012,14492.0
1205132,547,22.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534195,...,NO_PROBLEM,12/03/85,05:08:22,BAIRRO NOVO C,3090669.0,F,2017-05-09,2017-05-09 05:07:50,30013,14492.0
545583,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,GR028,NaN,-25.534286,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:17,27079,14492.0
1164826,548,3.0,3580,5955066,-25.534213,-49.267794,8750.881,GA204,NaN,-25.534235,...,TRIP_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:31,4661,14492.0
66838,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR409,NaN,NaN,...,BETWEEN,01/05/80,05:19:36,OP. CONTIGENCIA,2394563.0,F,2017-05-09,2017-05-09 05:18:56,5346,14492.0
883749,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534195,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:22:33,30012,14492.0
1205133,547,30.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534210,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:11,30013,14492.0
813926,683,31.0,2145,6043879,-25.534461,-49.268152,0.000,GA153,NaN,-25.534480,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:38,30021,14492.0
986819,625,4.0,2051,6451371,-25.534497,-49.268301,8689.950,GA162,NaN,-25.534488,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:27:18,30020,14492.0
883277,542,6.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534173,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 05:27:29,30012,14492.0
66815,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,KA691,NaN,-25.534408,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:31:04,5346,14492.0
1205400,547,3.0,1994,6165177,-25.534173,-49.267628,0.000,GA158,NaN,-25.534230,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:34:47,30013,14492.0
1205134,547,23.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534213,...,NO_PROBLEM,25/12/78,06:13:41,BAIRRO NOVO C,3784004.0,M,2017-05-09,2017-05-09 05:37:56,30013,14492.0
1239728,637,13.0,2902,6490244,-25.534247,-49.267929,7087.799,GA171,NaN,-25.534000,...,NO_PROBLEM,02/06/89,05:42:21,STA. JOANA,3613093.0,M,2017-05-09,2017-05-09 05:40:25,30523,14492.0
1205283,547,24.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534251,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:42:57,30013,14492.0
883405,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA134,NaN,-25.534156,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:43:23,30012,14492.0
335128,602,7.0,3245,5988072,-25.534383,-49.268598,8689.423,HR028,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:43:34,27121,14492.0
545611,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,KE843,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:44:00,27079,14492.0
1162979,649,6.0,2092,6267865,-25.534553,-49.268524,8124.380,GA132,NaN,-25.534531,...,NO_PROBLEM,06/09/52,05:54:47,PIRINEUS,3229319.0,M,2017-05-09,2017-05-09 05:44:58,30019,14492.0
66891,545,6.0,1991,6029464,-25.534431,-49.268030,4604.271,KA600,NaN,-25.534393,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:36,5346,14492.0
987012,625,1.0,2052,6450554,-25.534497,-49.268300,0.000,GA163,NaN,-25.534503,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:37,30020,14492.0
1070328,508,1.0,3251,5068187,-25.534668,-49.268309,5086.187,GL303,NaN,-25.534630,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:47:56,26257,14492.0
1205399,547,1.0,1994,6165177,-25.534173,-49.267628,0.000,GA158,NaN,-25.534213,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:51:01,30013,14492.0
1164881,548,1.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534265,...,NO_PROBLEM,09/07/78,05:52:02,OSTERN/S.CERCADO,2283638.0,M,2017-05-09,2017-05-09 05:51:17,4661,14492.0
883628,542,1.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534188,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:52:59,30012,14492.0
98520,506,1.0,2601,6075242,-25.534563,-49.268568,14135.094,EL303,NaN,-25.534698,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:53:19,30010,14492.0
460594,545,4.0,1990,3883304,-25.534302,-49.268162,17443.453,JA600,NaN,-25.534328,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:55:06,5452,14492.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263530,534,60.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263531,534,14.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263534,534,44.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263535,534,12.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263536,534,5.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263537,534,18.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263538,534,43.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263539,534,36.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263540,534,13.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263541,534,58.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263543,534,53.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263544,534,11.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263546,534,22.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263547,534,54.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263548,534,16.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263549,534,9.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263550,534,62.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263551,534,31.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263552,534,41.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263553,534,21.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263554,534,8.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263555,534,37.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263556,534,25.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263557,534,50.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263558,534,52.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263559,534,20.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263560,534,1.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263561,534,3.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263563,534,40.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0
1263564,534,10.0,1976,6393323,-25.534570,-49.268696,5390.425,NaN,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,NaT,29631,14492.0

In [130]:
candidate_bus_trips['diff_boarding_arrival'] = np.abs(candidate_bus_trips['gps_datetime'] - pd.to_datetime('2017-05-09 04:47:52', format='%Y-%m-%d %H:%M:%S'))
candidate_bus_trips = candidate_bus_trips[candidate_bus_trips['diff_boarding_arrival'] < pd.Timedelta('1 hour')]

In [142]:
candidate_bus_trips.head(10)

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station,diff_boarding_arrival
1205282,547,21.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534175,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:54:15,30013,14492.0,00:06:23
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0,00:11:06
1164869,548,20.0,3581,6568518,-25.534214,-49.267795,0.000,GA205,NaN,-25.534248,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:01:29,4661,14492.0,00:13:37
883276,542,14.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534175,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:03:59,30012,14492.0,00:16:07
1205132,547,22.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534195,...,12/03/85,05:08:22,BAIRRO NOVO C,3090669.0,F,2017-05-09,2017-05-09 05:07:50,30013,14492.0,00:19:58
545583,502,1.0,3241,6256532,-25.534277,-49.267408,5176.189,GR028,NaN,-25.534286,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:17,27079,14492.0,00:27:25
1164826,548,3.0,3580,5955066,-25.534213,-49.267794,8750.881,GA204,NaN,-25.534235,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:15:31,4661,14492.0,00:27:39
66838,540,1.0,1985,6328328,-25.534398,-49.267898,4568.548,GR409,NaN,NaN,...,01/05/80,05:19:36,OP. CONTIGENCIA,2394563.0,F,2017-05-09,2017-05-09 05:18:56,5346,14492.0,00:31:04
883749,542,7.0,1988,6404092,-25.534141,-49.267486,7134.743,GA143,NaN,-25.534195,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:22:33,30012,14492.0,00:34:41
1205133,547,30.0,1994,6165177,-25.534173,-49.267628,0.000,GA146,NaN,-25.534210,...,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 05:24:11,30013,14492.0,00:36:19

In [149]:
def get_arrival_time_at_next_stop_after_station(gps_df,route,vehicle,trip,station_timestamp):
        return gps_df[((gps_df['route'] == route) & (gps_df['busCode'] == vehicle)) \
                      & ((gps_df['tripNum'] == trip) & (gps_df['gps_datetime'] > station_timestamp))] \
                .drop_duplicates(subset=['route','busCode','tripNum','stopPointId']) \
                .sort_values('gps_datetime')

In [150]:
get_arrival_time_at_next_stop_after_station(gps_stops_with_parent_stations,'542','GA124',13,pd.to_datetime('2017-05-09 04:47:52', format='%Y-%m-%d %H:%M:%S'))

,route,tripNum,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,busCode,gpsPointId,gpsLat,...,problem,birthdate,cardTimestamp,lineName,cardNum,gender,date,gps_datetime,stop_id,parent_station
739654,542,13.0,1988,6403957,-25.551388,-49.266807,3278.756,GA124,NaN,-25.551363,...,NO_PROBLEM,02/02/58,04:48:50,BAIRRO NOVO B,3696327.0,F,2017-05-09,2017-05-09 04:48:22,31255,NaN
739292,542,13.0,1988,6403964,-25.550431,-49.265282,3509.356,GA124,NaN,-25.550511,...,NO_PROBLEM,19/02/80,04:49:15,BAIRRO NOVO B,785212.0,F,2017-05-09,2017-05-09 04:48:59,31256,NaN
738466,542,13.0,1988,6403971,-25.551567,-49.262789,3814.244,GA124,NaN,-25.551588,...,NO_PROBLEM,15/08/63,04:50:49,BAIRRO NOVO B,931864.0,F,2017-05-09,2017-05-09 04:49:55,31257,NaN
738127,542,13.0,1988,6403979,-25.550383,-49.261133,4070.023,GA124,NaN,-25.550470,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:51:05,31258,NaN
737735,542,13.0,1988,6403984,-25.549763,-49.259976,4240.869,GA124,NaN,-25.549690,...,NO_PROBLEM,12/04/94,04:51:57,BAIRRO NOVO B,3824438.0,F,2017-05-09,2017-05-09 04:51:40,31259,NaN
738790,542,13.0,1988,6403992,-25.547981,-49.259658,4518.448,GA124,NaN,-25.547955,...,NO_PROBLEM,17/04/62,04:53:27,BAIRRO NOVO B,1119175.0,F,2017-05-09,2017-05-09 04:52:48,31260,NaN
739922,542,13.0,1988,6404006,-25.545885,-49.263491,4968.473,GA124,NaN,-25.545811,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:53:41,31261,NaN
740736,542,13.0,1988,6404013,-25.545020,-49.265058,5152.768,GA124,NaN,-25.544915,...,NO_PROBLEM,05/01/84,04:55:11,BAIRRO NOVO B,1118881.0,F,2017-05-09,2017-05-09 04:54:19,31262,NaN
742066,542,13.0,1988,6404027,-25.543177,-49.268451,5550.298,GA124,NaN,-25.543125,...,NO_PROBLEM,07/07/78,04:55:22,BAIRRO NOVO B,3788948.0,M,2017-05-09,2017-05-09 04:55:19,31250,NaN
743443,542,13.0,1988,6404044,-25.541586,-49.270588,5838.633,GA124,NaN,NaN,...,BETWEEN,13/08/59,04:56:09,BAIRRO NOVO B,1342841.0,F,2017-05-09,2017-05-09 04:56:00,31263,NaN
745074,542,13.0,1988,6404065,-25.537290,-49.272557,6354.342,GA124,NaN,-25.537263,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:00,31244,NaN
745459,542,13.0,1988,6403876,-25.536870,-49.272795,809.264,GA124,NaN,-25.536818,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:05,31243,NaN
459877,542,13.0,1988,6404075,-25.535550,-49.270968,6703.079,GA124,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 04:57:59,29978,NaN
883278,542,13.0,1988,6404092,-25.534141,-49.267486,7134.743,GA124,NaN,-25.534153,...,NO_PROBLEM,09/04/98,05:28:07,BAIRRO NOVO B,3243753.0,F,2017-05-09,2017-05-09 04:58:58,30012,14492.0
743796,542,13.0,1988,6403889,-25.540195,-49.271230,1209.894,GA124,NaN,NaN,...,BETWEEN,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 12:00:06,31246,NaN
744177,542,13.0,1988,6403888,-25.540057,-49.271300,1193.051,GA124,NaN,NaN,...,BETWEEN,03/10/80,17:38:08,BAIRRO NOVO B,3763726.0,M,2017-05-09,2017-05-09 14:17:17,31562,NaN
71940,542,13.0,1988,6403868,-25.535542,-49.270973,509.083,GA124,NaN,-25.535446,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 18:27:52,29977,NaN
742319,542,13.0,1988,6403913,-25.543420,-49.268377,1875.617,GA124,NaN,-25.543438,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 19:02:32,31249,NaN
741423,542,13.0,1988,6403931,-25.545996,-49.269095,2387.346,GA124,NaN,-25.545931,...,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,2017-05-09,2017-05-09 19:04:14,31252,NaN

#### Concatenate line 000 boardings with GPS boardings

In [151]:
matched_000_stations.head()

,CODLINHA,CODVEICULO,DATANASCIMENTO,DATAUTILIZACAO,NOMELINHA,NUMEROCARTAO,SEXO,boarding_datetime,LINE,NAME,URBS_CODE,STOP_ID,LAT,LON
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,2017-05-09 04:47:59,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,2017-05-09 04:48:16,000,TERMINAL SÍTIO CERCADO,00010,14492,-25.534235,-49.267368
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,2017-05-09 04:51:31,000,TERMINAL SÍTIO CERCADO,00012,14492,-25.534235,-49.267368
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,2017-05-09 04:52:03,000,TERMINAL FAZENDINHA,09003,14512,-25.477397,-49.326660

In [166]:
line_000_boardings = matched_000_stations.drop(['LINE','NAME','URBS_CODE','LAT','LON','boarding_datetime'], axis=1) \
                        .rename(index=str, columns={'CODLINHA': 'route', 'CODVEICULO': 'busCode', 
                                                    'DATANASCIMENTO':'birthdate','DATAUTILIZACAO':'cardTimestamp',
                                                    'NOMELINHA':'lineName','NUMEROCARTAO':'cardNum',
                                                     'SEXO':'gender','STOP_ID':'stopPointId'})

In [165]:
line_000_boardings.head()

,route,busCode,birthdate,cardTimestamp,lineName,cardNum,gender,boarding_datetime,stopPointId
45746,000,00010,25/11/76,"09/05/17 04:47:52,000000",OPER S/LINHA,2337319,M,2017-05-09 04:47:52,14492
46072,000,00010,22/09/66,"09/05/17 04:47:59,000000",OPER S/LINHA,3563770,M,2017-05-09 04:47:59,14492
46180,000,00010,28/06/56,"09/05/17 04:48:16,000000",OPER S/LINHA,1799518,M,2017-05-09 04:48:16,14492
96005,000,00012,29/03/77,"09/05/17 04:51:31,000000",OPER S/LINHA,3633298,M,2017-05-09 04:51:31,14492
81008,000,09003,19/11/52,"09/05/17 04:52:03,000000",OPER S/LINHA,1503781,F,2017-05-09 04:52:03,14512

In [163]:
gps_stops_with_parent_stations.columns

Index([u'route', u'tripNum', u'shapeId', u'shapeSequence', u'shapeLat',
       u'shapeLon', u'distanceTraveledShape', u'busCode', u'gpsPointId',
       u'gpsLat', u'gpsLon', u'distanceToShapePoint', u'timestamp',
       u'stopPointId', u'problem', u'birthdate', u'cardTimestamp', u'lineName',
       u'cardNum', u'gender', u'date', u'gps_datetime', u'stop_id',
       u'parent_station'],
      dtype='object')

In [177]:
gps_boardings_with_000 = pd.concat([gps_stops_with_parent_stations,line_000_boardings]) \
                            .drop('stop_id', axis=1)

In [180]:
gps_boardings_with_000 = gps_boardings_with_000[['route','busCode','tripNum','stopPointId','parent_station','cardNum','cardTimestamp','gps_datetime',
                                      'shapeId','shapeSequence','shapeLat','shapeLon','distanceTraveledShape','gpsPointId',
                                      'gpsLat','gpsLon','distanceToShapePoint','timestamp','problem','lineName','birthdate',
                                      'lineName','gender','date']] \
                            .sort_values(['cardNum','cardTimestamp'])

In [181]:
gps_boardings_with_000

,route,busCode,tripNum,stopPointId,parent_station,cardNum,cardTimestamp,gps_datetime,shapeId,shapeSequence,...,distanceToShapePoint,timestamp,problem,lineName,lineName,birthdate,lineName,lineName,gender,date
109722,000,08024,NaN,41752,NaN,228696.0,"09/05/17 07:01:00,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,27/04/94,OPER S/LINHA,OPER S/LINHA,F,NaT
756925,654,HA017,39.0,35927,NaN,229948.0,06:29:09,2017-05-09 12:55:17,2106.0,6040805.0,...,6.075716,12:55:17,NO_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
810134,654,HA017,1.0,35349,NaN,229948.0,06:29:09,2017-05-09 06:28:51,2106.0,6040781.0,...,20.905151,06:28:51,TRIP_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1141215,654,HA017,26.0,28610,14503.0,229948.0,06:29:09,2017-05-09 05:34:54,2106.0,6040943.0,...,3.586574,05:34:54,NO_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1142836,654,HA017,18.0,27485,14497.0,229948.0,06:29:09,2017-05-09 12:02:21,2106.0,6040759.0,...,11.171079,12:02:21,TRIP_PROBLEM,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
1145283,654,HA017,11.0,36093,NaN,229948.0,06:29:09,2017-05-09 06:07:15,2106.0,6040864.0,...,NaN,06:07:15,BETWEEN,CAMPO ALEGRE,CAMPO ALEGRE,28/04/95,CAMPO ALEGRE,CAMPO ALEGRE,F,2017-05-09
21774,000,01026,NaN,41863,NaN,233641.0,"09/05/17 06:39:21,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,20/09/96,OPER S/LINHA,OPER S/LINHA,F,NaT
1196632,511,EA172,3.0,27747,14487.0,257342.0,07:48:58,2017-05-09 07:24:56,2746.0,5846226.0,...,200.947850,07:24:56,TRIP_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1197822,511,EA172,21.0,28431,NaN,257342.0,07:48:58,2017-05-09 07:36:18,2746.0,5846080.0,...,6.291704,07:36:18,NO_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1234923,511,EA172,51.0,40533,NaN,257342.0,07:48:58,2017-05-09 07:19:54,2746.0,5846198.0,...,3.972438,07:19:54,NO_PROBLEM,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
1235830,511,EA172,22.0,31195,NaN,257342.0,07:48:58,2017-05-09 07:48:14,2746.0,5846156.0,...,NaN,07:48:14,BETWEEN,SÃO FRANCISCO,SÃO FRANCISCO,24/01/71,SÃO FRANCISCO,SÃO FRANCISCO,F,2017-05-09
113863,000,01021,NaN,26037,NaN,257342.0,"09/05/17 17:24:51,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,24/01/71,OPER S/LINHA,OPER S/LINHA,F,NaT
41369,000,03047,NaN,14553,NaN,272904.0,"09/05/17 17:24:52,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,17/09/74,OPER S/LINHA,OPER S/LINHA,F,NaT
1141413,654,HA240,4.0,36105,NaN,300327.0,06:56:45,2017-05-09 06:20:29,2106.0,6040913.0,...,12.681011,06:20:29,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1141671,654,HA240,5.0,36104,NaN,300327.0,06:56:45,2017-05-09 06:25:44,2106.0,6040921.0,...,4.461026,06:25:44,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1143839,654,HA240,7.0,36082,NaN,300327.0,06:56:45,2017-05-09 06:34:34,2106.0,6040843.0,...,NaN,06:34:34,BETWEEN,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1145116,654,HA240,7.0,36093,NaN,300327.0,06:56:45,2017-05-09 06:51:59,2106.0,6040864.0,...,NaN,06:51:59,BETWEEN,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
1145429,654,HA240,2.0,36094,NaN,300327.0,06:56:45,2017-05-09 06:55:54,2106.0,6040871.0,...,0.737270,06:55:54,TRIP_PROBLEM,OP. CONTIGENCIA,OP. CONTIGENCIA,20/05/59,OP. CONTIGENCIA,OP. CONTIGENCIA,F,2017-05-09
27672,000,00038,NaN,26051,NaN,303661.0,"09/05/17 17:43:10,000000",NaT,NaN,NaN,...,NaN,NaN,NaN,OPER S/LINHA,OPER S/LINHA,23/06/73,OPER S/LINHA,OPER S/LINHA,M,NaT
396591,175,BC010,11.0,31749,NaN,304127.0,10:24:50,2017-05-09 10:23:32,2743.0,5404834.0,...,39.855495,10:23:32,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
649432,175,BC010,30.0,27447,NaN,304127.0,10:24:50,2017-05-09 10:16:32,2743.0,5405036.0,...,NaN,10:16:32,BETWEEN,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
969046,175,BC010,28.0,867,NaN,304127.0,10:24:50,2017-05-09 07:31:52,2743.0,5405110.0,...,15.536694,07:31:52,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
969122,175,BC010,10.0,867,NaN,304127.0,10:24:50,2017-05-09 09:53:53,2743.0,5405110.0,...,12.769293,09:53:53,TRIP_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
1115078,175,BC010,20.0,26673,NaN,304127.0,10:24:50,2017-05-09 08:14:12,2743.0,5404860.0,...,40.255400,08:14:12,NO_PROBLEM,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
1115170,175,BC010,21.0,26674,NaN,304127.0,10:24:50,2017-05-09 09:22:55,2743.0,5404871.0,...,NaN,09:22:55,BETWEEN,BOM RETIRO / PUC,BOM RETIRO / PUC,09/06/54,BOM RETIRO / PUC,BOM RETIRO / PUC,M,2017-05-09
294844,370,LC016,8.0,29924,NaN,304127.0,10:57:36,2017-05-09 10:44:20,3669.0,6592068.0,...,NaN,10:44:20,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
297932,370,LC016,1.0,30166,NaN,304127.0,10:57:36,2017-05-09 12:19:59,3669.0,6591967.0,...,NaN,12:19:59,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
304843,370,LC016,6.0,30213,NaN,304127.0,10:57:36,2017-05-09 07:05:52,3669.0,6591877.0,...,4.115276,07:05:52,NO_PROBLEM,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
305222,370,LC016,8.0,33858,NaN,304127.0,10:57:36,2017-05-09 10:29:21,3669.0,6592047.0,...,NaN,10:29:21,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
429616,370,LC016,8.0,30181,NaN,304127.0,10:57:36,2017-05-09 12:08:52,3669.0,6592146.0,...,NaN,12:08:52,BETWEEN,RUA XV / BARIGUI,RUA XV / BARIGUI,09/06/54,RUA XV / BARIGUI,RUA XV / BARIGUI,M,2017-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294978,010,BB304,2.0,33165,NaN,NaN,NaN,2017-05-09 08:29:26,1708.0,5859499.0,...,NaN,08:29:26,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294979,010,BB304,6.0,33165,NaN,NaN,NaN,2017-05-09 15:42:45,1708.0,5859499.0,...,NaN,15:42:45,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294985,594,EN601,1.0,31200,NaN,NaN,NaN,2017-05-09 08:35:21,2008.0,5121549.0,...,NaN,08:35:21,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294986,594,EN601,1.0,31198,NaN,NaN,NaN,2017-05-09 08:42:40,2008.0,5121610.0,...,NaN,08:42:40,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294988,594,EN601,1.0,31605,NaN,NaN,NaN,2017-05-09 09:13:36,2008.0,5121817.0,...,30.448843,09:13:36,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294989,594,EN601,1.0,31603,NaN,NaN,NaN,2017-05-09 09:13:47,2008.0,5121820.0,...,NaN,09:13:47,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294990,594,EN601,1.0,31600,NaN,NaN,NaN,2017-05-09 09:16:37,2008.0,5121849.0,...,9.205729,09:16:37,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1294997,594,EN601,1.0,39759,NaN,NaN,NaN,2017-05-09 08:25:04,2008.0,5121452.0,...,17.603699,08:25:04,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295004,594,EN601,1.0,38267,NaN,NaN,NaN,2017-05-09 08:55:27,2008.0,5121683.0,...,NaN,08:55:27,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295005,594,EN601,1.0,38268,NaN,NaN,NaN,2017-05-09 08:56:31,2008.0,5121686.0,...,NaN,08:56:31,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295006,594,EN601,1.0,31226,NaN,NaN,NaN,2017-05-09 08:59:08,2008.0,5121718.0,...,NaN,08:59:08,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295007,594,EN601,1.0,31223,NaN,NaN,NaN,2017-05-09 09:02:01,2008.0,5121738.0,...,NaN,09:02:01,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295008,594,EN601,1.0,31221,NaN,NaN,NaN,2017-05-09 09:02:36,2008.0,5121741.0,...,NaN,09:02:36,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295009,594,EN601,1.0,31192,NaN,NaN,NaN,2017-05-09 08:46:02,2008.0,5121624.0,...,NaN,08:46:02,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295010,594,EN601,1.0,38260,NaN,NaN,NaN,2017-05-09 08:47:52,2008.0,5121636.0,...,NaN,08:47:52,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295011,594,EN601,1.0,38261,NaN,NaN,NaN,2017-05-09 08:49:11,2008.0,5121645.0,...,NaN,08:49:11,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295012,594,EN601,1.0,38262,NaN,NaN,NaN,2017-05-09 08:50:08,2008.0,5121650.0,...,NaN,08:50:08,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295013,594,EN601,1.0,38263,NaN,NaN,NaN,2017-05-09 08:51:13,2008.0,5121658.0,...,NaN,08:51:13,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295014,594,EN601,1.0,38265,NaN,NaN,NaN,2017-05-09 08:53:20,2008.0,5121670.0,...,NaN,08:53:20,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295015,594,EN601,1.0,38266,NaN,NaN,NaN,2017-05-09 08:54:03,2008.0,5121675.0,...,NaN,08:54:03,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295016,594,EN601,1.0,31219,NaN,NaN,NaN,2017-05-09 09:04:16,2008.0,5121751.0,...,NaN,09:04:16,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295017,814,LA851,50.0,30298,NaN,NaN,NaN,2017-05-09 20:28:12,2815.0,6130667.0,...,15.828756,20:28:12,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295018,814,LA851,50.0,30296,NaN,NaN,NaN,2017-05-09 20:28:48,2815.0,6130677.0,...,37.395260,20:28:48,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295019,814,LA851,50.0,30294,NaN,NaN,NaN,2017-05-09 20:29:30,2815.0,6130688.0,...,NaN,20:29:30,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295020,814,LA851,50.0,30301,NaN,NaN,NaN,2017-05-09 20:29:57,2815.0,6130701.0,...,NaN,20:29:57,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295021,814,LA851,50.0,30292,NaN,NaN,NaN,2017-05-09 20:31:18,2815.0,6130730.0,...,18.634054,20:31:18,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295022,814,LA851,50.0,30290,NaN,NaN,NaN,2017-05-09 20:31:36,2815.0,6130736.0,...,NaN,20:31:36,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295023,814,LA851,50.0,30288,NaN,NaN,NaN,2017-05-09 20:32:12,2815.0,6130750.0,...,2.283268,20:32:12,NO_PROBLEM,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295024,814,LA851,50.0,30286,NaN,NaN,NaN,2017-05-09 20:32:37,2815.0,6130762.0,...,NaN,20:32:37,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09
1295025,814,LA851,50.0,30284,NaN,NaN,NaN,2017-05-09 20:33:09,2815.0,6130776.0,...,NaN,20:33:09,BETWEEN,NaN,NaN,NaN,NaN,NaN,NaN,2017-05-09

In [90]:
gps_stops[gps_stops['stopPointId'] == 14487]

Empty DataFrame
Columns: [stopPointId]
Index: []

In [86]:
gps_stops.merge(line_000_terminals, left_on='stopPointId', right_on='STOP_ID', how='inner')

Empty DataFrame
Columns: [stopPointId, LINE, NAME, URBS_CODE, STOP_ID, LAT, LON]
Index: []