In [3]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [4]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def dist(p1_lat, p1_lon, p2_lat, p2_lon):
    return np.around(distance.geodesic((p1_lat,p1_lon),(p2_lat,p2_lon)).km,decimals=5)

def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2017-06-30", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

In [6]:
def match_terminal_boardings(selected_trips,itineraries_start):
        terminal_boarding_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] != '021')]
        matched_terminal_boardings = terminal_boarding_origins.merge(itineraries_start,
                                                                                                                                left_on=['o_boarding_id','o_stopPointId'],
                                                                                                                                right_on=['user_trip_id','from_parent_station'], how='inner')
        num_matched_terminal_boardings = len(matched_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
        if num_matched_terminal_boardings == 0:
            matched_perc = 0.0
        else:
            matched_perc = 100*(num_matched_terminal_boardings/float(len(terminal_boarding_origins)))
        return (matched_terminal_boardings,num_matched_terminal_boardings,matched_perc)

def match_terminal_021_boardings(selected_trips,itineraries_start):
        terminal_021_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] == '021')]
        matched_021_terminal_boardings = terminal_021_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','from_parent_station'], how='inner')
        num_matched_021_terminal_boardings = len(matched_021_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
        if num_matched_021_terminal_boardings == 0:
                terminal_021_match_perc = 0.0
        else:
                terminal_021_match_perc = 100*(num_matched_021_terminal_boardings/float(len(terminal_021_origins)))
        return (len(terminal_021_origins),matched_021_terminal_boardings,num_matched_021_terminal_boardings,terminal_021_match_perc)

In [7]:
def add_stops_data_to_leg_matches(chosen_leg_matches,stops_locations):
        chosen_leg_matches_data = chosen_leg_matches.merge(stops_locations, left_on='from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) \
                                                                                .merge(user_trips_ids, on=['user_trip_id'], how='inner') \
                                                                                [np.append(np.append(['cardNum'],otp_legs_buste.columns.values),['from_stop_lat','from_stop_lon','to_stop_lat','to_stop_lon'])]
        return chosen_leg_matches_data

In [8]:
def build_candidate_itineraries_df(chosen_leg_matches_data):
        otp_buste_itineraries = chosen_leg_matches_data \
                                        .groupby(['cardNum','user_trip_id','itinerary_id']) \
                                        .agg({'from_stop_id': lambda x: x.iloc[0],
                                                  'matched_start_time': lambda x: x.iloc[0],
                                                  'from_stop_lat': lambda x: x.iloc[0],
                                                  'from_stop_lon': lambda x: x.iloc[0],
                                                  'to_stop_id': lambda x: x.iloc[-1],
                                                  'matched_end_time': lambda x: x.iloc[-1],
                                                  'to_stop_lat': lambda x: x.iloc[-1],
                                                  'to_stop_lon': lambda x: x.iloc[-1],
                                                  'leg_id': lambda x: len(x),
                                                  'first_vehicle_boarding' : lambda x: x.any()}) \
                                        .rename(index=str, columns={'leg_id':'num_transfers','first_vehicle_boarding':'vehicle_boarding'}) \
                                        .add_prefix('match_') \
                                        .reset_index() \
                                        .assign(cardNum = lambda x: x['cardNum'].astype(float),
                                                        user_trip_id = lambda x: x['user_trip_id'].astype(int),
                                                        itinerary_id = lambda x: x['itinerary_id'].astype(int))
        return otp_buste_itineraries

In [9]:
def get_candidate_itineraries_summary(candidate_itineraries,boarding_suggestions_matches):
        otp_buste_itineraries_summary = candidate_itineraries \
                                        .merge(boarding_suggestions_matches \
                                                                .drop_duplicates(subset=['cardNum','user_trip_id','itinerary_id']),
                                                        on=['cardNum','user_trip_id','itinerary_id'],
                                                        how='inner') \
                                        [['cardNum', 'user_trip_id', 'itinerary_id',
                                                  'match_from_stop_id', 'match_matched_start_time', 'o_boarding_datetime',
                                                  'match_from_stop_lat', 'match_from_stop_lon', 'o_stop_lat', 'o_stop_lon',
                                                  'match_to_stop_id', 'match_matched_end_time', 'next_o_boarding_datetime',
                                                  'match_to_stop_lat', 'match_to_stop_lon', 'next_o_stop_lat', 'next_o_stop_lon','match_num_transfers', 'match_vehicle_boarding']] \
                                        .assign(start_diff = lambda x: np.absolute(x['match_matched_start_time'] - x['o_boarding_datetime']),
                                                        trip_duration = lambda x: x['match_matched_end_time'] - x['match_matched_start_time'],
                                                        origin_dist = lambda y: y.apply(lambda x: dist(x['match_from_stop_lat'], x['match_from_stop_lon'], x['o_stop_lat'], x['o_stop_lon']),axis=1),
                                                        next_origin_dist = lambda y: y.apply(lambda x: dist(x['match_to_stop_lat'], x['match_to_stop_lon'], x['next_o_stop_lat'], x['next_o_stop_lon']),axis=1)) \
                                        .sort_values(['cardNum','user_trip_id'])

        otp_buste_itineraries_summary = otp_buste_itineraries_summary[((otp_buste_itineraries_summary['trip_duration'] > pd.Timedelta('0s')) & 
                                                                                                                                        (otp_buste_itineraries_summary['trip_duration'] < pd.Timedelta('2h'))) &
                                                                                                                                ((otp_buste_itineraries_summary['start_diff'] > pd.Timedelta('0s')) &
                                                                                                                                        (otp_buste_itineraries_summary['start_diff'] < pd.Timedelta('1.5h')))] \
                                                                                .query('origin_dist < 0.1') \
                                                                                .query('next_origin_dist < 2.0')
        return otp_buste_itineraries_summary

In [10]:
def get_candidate_itineraries_penalty_score(otp_buste_itineraries_filtered):
        otp_buste_itineraries_penalty = otp_buste_itineraries_filtered \
                                                        .assign(penalty = lambda x: 2*x['start_diff'].dt.total_seconds() + x['trip_duration'].dt.total_seconds() + x['match_num_transfers']*10) \
                                                        [['cardNum','user_trip_id','itinerary_id','match_num_transfers','match_vehicle_boarding','next_origin_dist','origin_dist','start_diff','trip_duration','penalty']] \
                                                        .sort_values(['user_trip_id','penalty'], ascending=True)
        return otp_buste_itineraries_penalty

## Main

In [11]:
otp_suggestions_filepath = '/local/tarciso/data/otp-itineraries/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv'
user_trips_folderpath = '/local/tarciso/data/enhanced-buste/user_trips/'
bus_trips_folderpath = '/local/tarciso/data/enhanced-buste/bus_trips/'
gtfs_base_folderpath = '/local/tarciso/data/gtfs/'
output_folderpath = '/local/tarciso/data/test-odmat/'

In [12]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_user_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: /local/tarciso/data/otp-itineraries/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv

In [13]:
        # Extracting itinerary part name for later use
        itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
        # Read OTP Suggestions
        otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

        if len(otp_suggestions_raw) == 0:
            print "Zero OTP suggestions found."
            print "Skipping next steps..."
            exit(0)

In [238]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [239]:
        # Prepare OTP data for analysis
        otp_suggestions = prepare_otp_data(otp_suggestions_raw)

        # Read stops data
        stops_filepath = gtfs_base_folderpath + os.sep + get_router_id(file_date) + os.sep + 'stops.txt'
        stops_df = pd.read_csv(stops_filepath)

        # Adding Parent Stop data to OTP Suggestions
        stops_parent_stations = stops_df[['stop_id','parent_station']]
        otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
        otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
        otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [240]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

## Match Scheduled Itineraries to Observed Bus Trips

### Read and Prepare Bus Trips data

In [17]:
        # Find OTP Suggested Itineraries in BUSTE Data
        bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
        bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))

In [18]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

In [19]:
bus_trips.dtypes

route                            object
busCode                          object
shapeId                         float64
tripNum                         float64
stopPointId                     float64
gps_datetime             datetime64[ns]
distanceTraveledShape           float64
stop_lat                        float64
stop_lon                        float64
parent_station                  float64
dtype: object

In [20]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

In [21]:
scheduled_itin_observed_od = otp_suggestions_bus_legs.merge(bus_trips.add_prefix('bt_from_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_from_route','bt_from_stopPointId'],
                                how='inner') \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_from_gps_datetime'] - x['otp_start_time']))
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_start_timediff'] <= pd.Timedelta(minutes=60)]

In [22]:
scheduled_itin_observed_od = scheduled_itin_observed_od.merge(bus_trips.add_prefix('bt_to_'),
                                left_on=['otp_route','bt_from_busCode','bt_from_tripNum','otp_to_stop_id'],
                                right_on=['bt_to_route','bt_to_busCode','bt_to_tripNum','bt_to_stopPointId'],
                                how='inner') \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_to_gps_datetime'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_end_timediff'] <= pd.Timedelta(minutes=60)]

In [23]:
scheduled_itin_observed_od = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs])

/home/tarciso/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [24]:
#bus_trips[(bus_trips['route'] == '827') & (bus_trips['stopPointId'] == 33788)].sort_values(['gps_datetime'])

In [25]:
scheduled_itin_observed_od.filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_route','bt_from_busCode','bt_from_tripNum','bt_from_stopPointId','otp_start_time','bt_from_gps_datetime','sched_obs_start_timediff','bt_to_stopPointId','otp_end_time','bt_to_gps_datetime','sched_obs_end_timediff']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_route,bt_from_busCode,bt_from_tripNum,bt_from_stopPointId,otp_start_time,bt_from_gps_datetime,sched_obs_start_timediff,bt_to_stopPointId,otp_end_time,bt_to_gps_datetime,sched_obs_end_timediff
3,28150.0,1,1,827,BC929,16.0,33788.0,2017-05-01 16:38:33,2017-05-01 16:48:58,00:10:25,30993.0,2017-05-01 16:45:00,2017-05-01 16:55:23,00:10:23
0,28150.0,1,1,827,BC929,15.0,33788.0,2017-05-01 16:38:33,2017-05-01 15:59:34,00:38:59,30993.0,2017-05-01 16:45:00,2017-05-01 16:06:35,00:38:25
11,28150.0,1,1,827,BC929,17.0,33788.0,2017-05-01 16:38:33,2017-05-01 17:35:37,00:57:04,30993.0,2017-05-01 16:45:00,2017-05-01 17:41:38,00:56:38
1,28150.0,1,2,nan,NaN,NaN,NaN,2017-05-01 16:45:00,NaT,NaT,NaN,2017-05-01 16:45:52,NaT,NaT
171,28150.0,1,3,303,LE702,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:41:51,00:09:09,25753.0,2017-05-01 17:01:59,2017-05-01 16:50:04,00:11:55
113,28150.0,1,3,303,DE719,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:04:31,00:13:31,25753.0,2017-05-01 17:01:59,2017-05-01 17:12:32,00:10:33
21,28150.0,1,3,303,DE708,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:30:13,00:20:47,25753.0,2017-05-01 17:01:59,2017-05-01 16:38:15,00:23:44
64,28150.0,1,3,303,DE713,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:19:18,00:28:18,25753.0,2017-05-01 17:01:59,2017-05-01 17:27:59,00:26:00
37,28150.0,1,3,303,DE710,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:29:54,00:38:54,25753.0,2017-05-01 17:01:59,2017-05-01 17:37:35,00:35:36
139,28150.0,1,3,303,DE722,5.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:03:23,00:47:37,25753.0,2017-05-01 17:01:59,2017-05-01 16:12:01,00:49:58
3,28150.0,1,4,nan,NaN,NaN,NaN,2017-05-01 17:02:00,NaT,NaT,NaN,2017-05-01 17:09:32,NaT,NaT
5,28150.0,2,2,nan,NaN,NaN,NaN,2017-05-01 16:57:00,NaT,NaT,NaN,2017-05-01 16:57:39,NaT,NaT
114,28150.0,2,3,303,DE719,6.0,26195.0,2017-05-01 17:03:00,2017-05-01 17:04:31,00:01:31,25753.0,2017-05-01 17:15:19,2017-05-01 17:12:32,00:02:47
65,28150.0,2,3,303,DE713,6.0,26195.0,2017-05-01 17:03:00,2017-05-01 17:19:18,00:16:18,25753.0,2017-05-01 17:15:19,2017-05-01 17:27:59,00:12:40
172,28150.0,2,3,303,LE702,6.0,26195.0,2017-05-01 17:03:00,2017-05-01 16:41:51,00:21:09,25753.0,2017-05-01 17:15:19,2017-05-01 16:50:04,00:25:15
38,28150.0,2,3,303,DE710,6.0,26195.0,2017-05-01 17:03:00,2017-05-01 17:29:54,00:26:54,25753.0,2017-05-01 17:15:19,2017-05-01 17:37:35,00:22:16
22,28150.0,2,3,303,DE708,6.0,26195.0,2017-05-01 17:03:00,2017-05-01 16:30:13,00:32:47,25753.0,2017-05-01 17:15:19,2017-05-01 16:38:15,00:37:04
7,28150.0,2,4,nan,NaN,NaN,NaN,2017-05-01 17:15:20,NaT,NaT,NaN,2017-05-01 17:22:52,NaT,NaT
8,28150.0,3,1,nan,NaN,NaN,NaN,2017-05-01 16:41:55,NaT,NaT,NaN,2017-05-01 17:03:38,NaT,NaT
413,28150.0,3,2,870,BC012,10.0,33980.0,2017-05-01 17:03:39,2017-05-01 17:03:56,00:00:17,35079.0,2017-05-01 17:20:05,2017-05-01 17:15:16,00:04:49
414,28150.0,3,2,870,BC012,10.0,33980.0,2017-05-01 17:03:39,2017-05-01 17:03:56,00:00:17,35079.0,2017-05-01 17:20:05,2017-05-01 17:15:16,00:04:49
415,28150.0,3,2,870,BC012,10.0,33980.0,2017-05-01 17:03:39,2017-05-01 17:03:56,00:00:17,35079.0,2017-05-01 17:20:05,2017-05-01 17:15:16,00:04:49
419,28150.0,3,2,870,BC014,10.0,33980.0,2017-05-01 17:03:39,2017-05-01 16:41:37,00:22:02,35079.0,2017-05-01 17:20:05,2017-05-01 16:52:31,00:27:34
424,28150.0,3,2,870,BC283,11.0,33980.0,2017-05-01 17:03:39,2017-05-01 17:27:47,00:24:08,35079.0,2017-05-01 17:20:05,2017-05-01 17:38:56,00:18:51
423,28150.0,3,2,870,BC283,10.0,33980.0,2017-05-01 17:03:39,2017-05-01 16:17:45,00:45:54,35079.0,2017-05-01 17:20:05,2017-05-01 16:30:36,00:49:29
421,28150.0,3,2,870,BC014,11.0,33980.0,2017-05-01 17:03:39,2017-05-01 17:52:52,00:49:13,35079.0,2017-05-01 17:20:05,2017-05-01 18:03:09,00:43:04
10,28150.0,3,3,nan,NaN,NaN,NaN,2017-05-01 17:20:06,NaT,NaT,NaN,2017-05-01 17:31:34,NaT,NaT
12,28150.0,4,2,nan,NaN,NaN,NaN,2017-05-01 17:12:00,NaT,NaT,NaN,2017-05-01 17:12:39,NaT,NaT
66,28150.0,4,3,303,DE713,6.0,26195.0,2017-05-01 17:15:00,2017-05-01 17:19:18,00:04:18,25753.0,2017-05-01 17:25:59,2017-05-01 17:27:59,00:02:00
115,28150.0,4,3,303,DE719,6.0,26195.0,2017-05-01 17:15:00,2017-05-01 17:04:31,00:10:29,25753.0,2017-05-01 17:25:59,2017-05-01 17:12:32,00:13:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7965,72050.0,9,3,nan,NaN,NaN,NaN,2017-05-02 10:00:54,NaT,NaT,NaN,2017-05-02 10:02:07,NaT,NaT
7968,72050.0,9,6,nan,NaN,NaN,NaN,2017-05-02 10:44:34,NaT,NaT,NaN,2017-05-02 10:46:27,NaT,NaT
7969,72050.0,10,1,nan,NaN,NaN,NaN,2017-05-02 09:49:44,NaT,NaT,NaN,2017-05-02 09:53:45,NaT,NaT
7972,72050.0,10,4,nan,NaN,NaN,NaN,2017-05-02 10:21:25,NaT,NaT,NaN,2017-05-02 10:23:38,NaT,NaT
7974,72050.0,10,6,nan,NaN,NaN,NaN,2017-05-02 10:55:42,NaT,NaT,NaN,2017-05-02 10:57:35,NaT,NaT
7975,72172.0,1,1,nan,NaN,NaN,NaN,2017-05-02 08:45:54,NaT,NaT,NaN,2017-05-02 08:54:04,NaT,NaT
7977,72172.0,1,3,nan,NaN,NaN,NaN,2017-05-02 09:05:42,NaT,NaT,NaN,2017-05-02 09:26:27,NaT,NaT
7978,72172.0,2,1,nan,NaN,NaN,NaN,2017-05-02 08:59:38,NaT,NaT,NaN,2017-05-02 09:00:30,NaT,NaT
7980,72172.0,2,3,nan,NaN,NaN,NaN,2017-05-02 09:15:00,NaT,NaT,NaN,2017-05-02 09:15:39,NaT,NaT
7982,72172.0,2,5,nan,NaN,NaN,NaN,2017-05-02 09:28:45,NaT,NaT,NaN,2017-05-02 09:28:48,NaT,NaT
7983,72172.0,3,1,nan,NaN,NaN,NaN,2017-05-02 09:00:17,NaT,NaT,NaN,2017-05-02 09:07:51,NaT,NaT
7985,72172.0,3,3,nan,NaN,NaN,NaN,2017-05-02 09:15:57,NaT,NaT,NaN,2017-05-02 09:33:05,NaT,NaT
7986,72172.0,4,1,nan,NaN,NaN,NaN,2017-05-02 09:06:50,NaT,NaT,NaN,2017-05-02 09:07:42,NaT,NaT
7988,72172.0,4,3,nan,NaN,NaN,NaN,2017-05-02 09:20:00,NaT,NaT,NaN,2017-05-02 09:20:39,NaT,NaT
7990,72172.0,4,5,nan,NaN,NaN,NaN,2017-05-02 09:37:45,NaT,NaT,NaN,2017-05-02 09:37:48,NaT,NaT
7991,72172.0,5,1,nan,NaN,NaN,NaN,2017-05-02 09:12:26,NaT,NaT,NaN,2017-05-02 09:20:00,NaT,NaT
7993,72172.0,5,3,nan,NaN,NaN,NaN,2017-05-02 09:29:26,NaT,NaT,NaN,2017-05-02 09:30:14,NaT,NaT
7996,72172.0,5,6,nan,NaN,NaN,NaN,2017-05-02 09:40:04,NaT,NaT,NaN,2017-05-02 09:40:07,NaT,NaT
7997,72172.0,6,1,nan,NaN,NaN,NaN,2017-05-02 09:07:58,NaT,NaT,NaN,2017-05-02 09:15:32,NaT,NaT
7999,72172.0,6,3,nan,NaN,NaN,NaN,2017-05-02 09:25:19,NaT,NaT,NaN,2017-05-02 09:42:27,NaT,NaT
8000,72172.0,7,1,nan,NaN,NaN,NaN,2017-05-02 09:20:31,NaT,NaT,NaN,2017-05-02 09:21:23,NaT,NaT
8002,72172.0,7,3,nan,NaN,NaN,NaN,2017-05-02 09:35:00,NaT,NaT,NaN,2017-05-02 09:35:39,NaT,NaT
8004,72172.0,7,5,nan,NaN,NaN,NaN,2017-05-02 09:45:45,NaT,NaT,NaN,2017-05-02 09:45:48,NaT,NaT
8005,72172.0,8,1,nan,NaN,NaN,NaN,2017-05-02 09:16:54,NaT,NaT,NaN,2017-05-02 09:24:28,NaT,NaT
8007,72172.0,8,3,nan,NaN,NaN,NaN,2017-05-02 09:33:35,NaT,NaT,NaN,2017-05-02 09:50:43,NaT,NaT
8008,72172.0,9,1,nan,NaN,NaN,NaN,2017-05-02 09:21:21,NaT,NaT,NaN,2017-05-02 09:28:55,NaT,NaT
8010,72172.0,9,3,nan,NaN,NaN,NaN,2017-05-02 09:37:42,NaT,NaT,NaN,2017-05-02 09:54:50,NaT,NaT
8011,72172.0,10,1,nan,NaN,NaN,NaN,2017-05-02 09:43:23,NaT,NaT,NaN,2017-05-02 09:44:15,NaT,NaT
8013,72172.0,10,3,nan,NaN,NaN,NaN,2017-05-02 09:57:00,NaT,NaT,NaN,2017-05-02 09:57:39,NaT,NaT
8015,72172.0,10,5,nan,NaN,NaN,NaN,2017-05-02 10:10:15,NaT,NaT,NaN,2017-05-02 10:10:18,NaT,NaT

In [26]:
#Run choose_legs on scheduled_itin_observed_od

In [283]:
scheduled_itin_observed_od_earliest = scheduled_itin_observed_od.sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff']) \
                        .groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']) \
                        .first() \
                        .filter(['otp_route','otp_mode','stopPointId','otp_start_time','bt_from_gps_datetime','sched_obs_start_timediff','sched_obs_end_timediff']) \
                        .reset_index()

In [286]:
scheduled_itin_observed_od_earliest

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_route,otp_mode,otp_start_time,bt_from_gps_datetime,sched_obs_start_timediff,sched_obs_end_timediff
0,28150.0,1,1,827,BUS,2017-05-01 16:38:33,2017-05-01 16:48:58,00:10:25,00:10:23
1,28150.0,1,2,nan,WALK,2017-05-01 16:45:00,NaT,NaT,NaT
2,28150.0,1,3,303,BUS,2017-05-01 16:51:00,2017-05-01 16:41:51,00:09:09,00:11:55
3,28150.0,1,4,nan,WALK,2017-05-01 17:02:00,NaT,NaT,NaT
4,28150.0,2,2,nan,WALK,2017-05-01 16:57:00,NaT,NaT,NaT
5,28150.0,2,3,303,BUS,2017-05-01 17:03:00,2017-05-01 17:04:31,00:01:31,00:02:47
6,28150.0,2,4,nan,WALK,2017-05-01 17:15:20,NaT,NaT,NaT
7,28150.0,3,1,nan,WALK,2017-05-01 16:41:55,NaT,NaT,NaT
8,28150.0,3,2,870,BUS,2017-05-01 17:03:39,2017-05-01 17:03:56,00:00:17,00:04:49
9,28150.0,3,3,nan,WALK,2017-05-01 17:20:06,NaT,NaT,NaT
10,28150.0,4,2,nan,WALK,2017-05-01 17:12:00,NaT,NaT,NaT
11,28150.0,4,3,303,BUS,2017-05-01 17:15:00,2017-05-01 17:19:18,00:04:18,00:02:00
12,28150.0,4,4,nan,WALK,2017-05-01 17:26:00,NaT,NaT,NaT
13,28150.0,5,1,nan,WALK,2017-05-01 16:53:08,NaT,NaT,NaT
14,28150.0,5,2,821,BUS,2017-05-01 17:10:00,2017-05-01 16:45:07,00:24:53,00:25:55
15,28150.0,5,3,nan,WALK,2017-05-01 17:14:00,NaT,NaT,NaT
16,28150.0,5,4,303,BUS,2017-05-01 17:21:00,2017-05-01 17:19:18,00:01:42,00:05:20
17,28150.0,5,5,nan,WALK,2017-05-01 17:33:20,NaT,NaT,NaT
18,28150.0,6,1,nan,WALK,2017-05-01 16:56:55,NaT,NaT,NaT
19,28150.0,6,2,870,BUS,2017-05-01 17:18:39,2017-05-01 17:27:47,00:09:08,00:03:51
20,28150.0,6,3,nan,WALK,2017-05-01 17:35:06,NaT,NaT,NaT
21,28150.0,7,2,nan,WALK,2017-05-01 17:27:00,NaT,NaT,NaT
22,28150.0,7,3,303,BUS,2017-05-01 17:33:00,2017-05-01 17:29:54,00:03:06,00:06:24
23,28150.0,7,4,nan,WALK,2017-05-01 17:44:00,NaT,NaT,NaT
24,28150.0,8,1,827,BUS,2017-05-01 17:28:17,2017-05-01 17:35:37,00:07:20,00:06:38
25,28150.0,8,2,nan,WALK,2017-05-01 17:35:00,NaT,NaT,NaT
26,28150.0,8,3,303,BUS,2017-05-01 17:39:00,2017-05-01 17:29:54,00:09:06,00:13:44
27,28150.0,8,4,nan,WALK,2017-05-01 17:51:20,NaT,NaT,NaT
28,28150.0,9,2,nan,WALK,2017-05-01 17:42:00,NaT,NaT,NaT
29,28150.0,9,3,303,BUS,2017-05-01 17:45:00,2017-05-01 17:29:54,00:15:06,00:19:44
...,...,...,...,...,...,...,...,...,...
6882,72050.0,9,3,nan,WALK,2017-05-02 10:00:54,NaT,NaT,NaT
6883,72050.0,9,6,nan,WALK,2017-05-02 10:44:34,NaT,NaT,NaT
6884,72050.0,10,1,nan,WALK,2017-05-02 09:49:44,NaT,NaT,NaT
6885,72050.0,10,4,nan,WALK,2017-05-02 10:21:25,NaT,NaT,NaT
6886,72050.0,10,6,nan,WALK,2017-05-02 10:55:42,NaT,NaT,NaT
6887,72172.0,1,1,nan,WALK,2017-05-02 08:45:54,NaT,NaT,NaT
6888,72172.0,1,3,nan,WALK,2017-05-02 09:05:42,NaT,NaT,NaT
6889,72172.0,2,1,nan,WALK,2017-05-02 08:59:38,NaT,NaT,NaT
6890,72172.0,2,3,nan,WALK,2017-05-02 09:15:00,NaT,NaT,NaT
6891,72172.0,2,5,nan,WALK,2017-05-02 09:28:45,NaT,NaT,NaT
6892,72172.0,3,1,nan,WALK,2017-05-02 09:00:17,NaT,NaT,NaT
6893,72172.0,3,3,nan,WALK,2017-05-02 09:15:57,NaT,NaT,NaT
6894,72172.0,4,1,nan,WALK,2017-05-02 09:06:50,NaT,NaT,NaT
6895,72172.0,4,3,nan,WALK,2017-05-02 09:20:00,NaT,NaT,NaT
6896,72172.0,4,5,nan,WALK,2017-05-02 09:37:45,NaT,NaT,NaT
6897,72172.0,5,1,nan,WALK,2017-05-02 09:12:26,NaT,NaT,NaT
6898,72172.0,5,3,nan,WALK,2017-05-02 09:29:26,NaT,NaT,NaT
6899,72172.0,5,6,nan,WALK,2017-05-02 09:40:04,NaT,NaT,NaT
6900,72172.0,6,1,nan,WALK,2017-05-02 09:07:58,NaT,NaT,NaT
6901,72172.0,6,3,nan,WALK,2017-05-02 09:25:19,NaT,NaT,NaT
6902,72172.0,7,1,nan,WALK,2017-05-02 09:20:31,NaT,NaT,NaT
6903,72172.0,7,3,nan,WALK,2017-05-02 09:35:00,NaT,NaT,NaT
6904,72172.0,7,5,nan,WALK,2017-05-02 09:45:45,NaT,NaT,NaT
6905,72172.0,8,1,nan,WALK,2017-05-02 09:16:54,NaT,NaT,NaT
6906,72172.0,8,3,nan,WALK,2017-05-02 09:33:35,NaT,NaT,NaT
6907,72172.0,9,1,nan,WALK,2017-05-02 09:21:21,NaT,NaT,NaT
6908,72172.0,9,3,nan,WALK,2017-05-02 09:37:42,NaT,NaT,NaT
6909,72172.0,10,1,nan,WALK,2017-05-02 09:43:23,NaT,NaT,NaT
6910,72172.0,10,3,nan,WALK,2017-05-02 09:57:00,NaT,NaT,NaT
6911,72172.0,10,5,nan,WALK,2017-05-02 10:10:15,NaT,NaT,NaT

In [289]:
scheduled_itin_observed_od_earliest[scheduled_itin_observed_od_earliest['otp_mode'] == 'BUS'].sched_obs_start_timediff.quantile(.95)

Timedelta('0 days 00:30:48.749999')

### Read and Prepare Origin/Next-Origin Pairs data

In [28]:
def compatible_dates(otp_data,ticketing_data):
        otp_date = otp_data['otp_date'].iloc[0]
        ticketing_date = pd.to_datetime(ticketing_data['o_boarding_datetime'].dt.strftime('%Y-%m-%d')[0])

        return (otp_date == ticketing_date,otp_date,ticketing_date)

In [29]:
        # Read Origin/Next-Origin Pairs for the same date
        trips_origins_filepath = user_trips_folderpath + os.sep + file_date_str + '_user_trips.csv'
        trips_on_pairs_full = pd.read_csv(trips_origins_filepath,
                                                parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])
        # Checking whether OTP and ticketing dates match
        dates_compatibility, otp_date, ticketing_date = compatible_dates(otp_suggestions,trips_on_pairs_full)
        if not dates_compatibility:
                print "ERROR: OTP date", otp_date, "does not match Ticketing data", ticketing_date
                print "Skipping current day"
                exit(1)
        
        trips_on_pairs = trips_on_pairs_full.filter(['o_boarding_id','next_o_boarding_id'])
        trips_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('o_')])
        trips_next_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('next_o_')])

In [30]:
trips_origins.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
0,180.0,2017-05-01 04:48:42,2017-05-01 04:48:17,650,HA030,1.0,36293.0,-25.568989,-49.332253
1,40392.0,2017-05-01 15:52:39,NaT,021,08044,NaN,41791.0,-25.431951,-49.296491
2,181.0,2017-05-01 04:49:13,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900
3,31560.0,2017-05-01 14:16:55,NaT,000,00038,NaN,26051.0,-25.447479,-49.263816
4,182.0,2017-05-01 04:49:19,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900

In [31]:
trips_next_origins.head()

,next_o_boarding_id,next_o_boarding_datetime,next_o_gps_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_stop_lat,next_o_stop_lon
0,40392.0,2017-05-01 15:52:39,NaT,021,08044,NaN,41791.0,-25.431951,-49.296491
1,180.0,2017-05-01 04:48:42,2017-05-01 04:48:17,650,HA030,1.0,36293.0,-25.568989,-49.332253
2,31560.0,2017-05-01 14:16:55,NaT,000,00038,NaN,26051.0,-25.447479,-49.263816
3,181.0,2017-05-01 04:49:13,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900
4,61724.0,2017-05-01 19:27:16,2017-05-01 19:26:26,814,LA851,21.0,30284.0,-25.432534,-49.338889

In [32]:
trips_on_pairs.head()

   o_boarding_id  next_o_boarding_id
0          180.0             40392.0
1        40392.0               180.0
2          181.0             31560.0
3        31560.0               181.0
4          182.0             61724.0

In [33]:
        # Selecting trips for whom OTP suggestions were found
        selected_trips = trips_origins[trips_origins['o_boarding_id'].isin(otp_suggestions['otp_user_trip_id'])]
        num_selected_trips = len(selected_trips)

In [241]:
        # Matching all kinds of boarding events to valid OTP suggestions
        itins_first_bus_legs = otp_suggestions.query('otp_mode == \'BUS\'') \
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .first() \
                                .reset_index()

In [242]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [235]:
len(itins_first_bus_legs)

2000

In [234]:
len(pd.concat([itins_first_bus_legs,otp_suggestions]).drop_duplicates(keep=False))

/home/tarciso/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

7092

In [231]:
itins_rest_bus_legs = otp_suggestions.query('otp_mode == \'BUS\'') \
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .apply(lambda group: group.iloc[1:]) #\
                                #.reset_index(level=0)

In [232]:
itins_rest_bus_legs

                                         otp_date  otp_user_trip_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01           28150.0
                 2                6    2017-05-01           28150.0
                 4                13   2017-05-01           28150.0
                 5                18   2017-05-01           28150.0
                 7                25   2017-05-01           28150.0
                 8                29   2017-05-01           28150.0
                 9                33   2017-05-01           28150.0
                 10               37   2017-05-01           28150.0
28154.0          1                71   2017-05-01           28154.0
                 2                75   2017-05-01           28154.0
                 3                79   2017-05-01           28154.0
                                  81   2017-05-01           28154.0
                 4                86   2017-05-01           28154.0
                 5                91   2017-05-01           28154.0
                                  92   2017-05-01           28154.0
                 6                96   2017-05-01           28154.0
                 7                100  2017-05-01           28154.0
                 8                104  2017-05-01           28154.0
                 9                108  2017-05-01           28154.0
                                  109  2017-05-01           28154.0
                 10               113  2017-05-01           28154.0
                                  114  2017-05-01           28154.0
28156.0          1                118  2017-05-01           28156.0
                 2                123  2017-05-01           28156.0
                 3                127  2017-05-01           28156.0
                 4                132  2017-05-01           28156.0
                 5                136  2017-05-01           28156.0
                                  138  2017-05-01           28156.0
                 6                143  2017-05-01           28156.0
                 7                148  2017-05-01           28156.0
...                                           ...               ...
71837.0          1                7884 2017-05-02           71837.0
                                  7886 2017-05-02           71837.0
                 3                7893 2017-05-02           71837.0
72050.0          1                7911 2017-05-02           72050.0
                                  7913 2017-05-02           72050.0
                                  7915 2017-05-02           72050.0
                 2                7920 2017-05-02           72050.0
                                  7921 2017-05-02           72050.0
                 3                7926 2017-05-02           72050.0
                                  7927 2017-05-02           72050.0
                 4                7932 2017-05-02           72050.0
                                  7934 2017-05-02           72050.0
                 5                7938 2017-05-02           72050.0
                                  7940 2017-05-02           72050.0
                 6                7945 2017-05-02           72050.0
                                  7947 2017-05-02           72050.0
                 7                7952 2017-05-02           72050.0
                                  7954 2017-05-02           72050.0
                 8                7959 2017-05-02           72050.0
                                  7961 2017-05-02           72050.0
                 9                7966 2017-05-02           72050.0
                                  7967 2017-05-02           72050.0
                 10               7971 2017-05-02           72050.0
                                  7973 2017-05-02           72050.0
72172.0          2                7981 2017-05-02           72172.0
                 4                7989 2017-05-02           72172.0
                 5                7994 2017-05-02           72172.0
                                  7995 2017-05-02           72172.0
                 7                8003 2017-05-02           72172.0
                 10               8014 2017-05-02           72172.0

                                        otp_itinerary_id  otp_leg_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2                    1           3
                 2                6                    2           3
                 4                13                   4           3
                 5                18                   5           4
                 7                25                   7           3
                 8                29                   8           3
                 9                33                   9           3
                 10               37                  10           3
28154.0          1                71                   1           3
                 2                75                   2           3
                 3                79                   3           3
                                  81                   3           5
                 4                86                   4           4
                 5                91                   5           4
                                  92                   5           5
                 6                96                   6           3
                 7                100                  7           3
                 8                104                  8           3
                 9                108                  9           3
                                  109                  9           4
                 10               113                 10           3
                                  114                 10           4
28156.0          1                118                  1           3
                 2                123                  2           4
                 3                127                  3           3
                 4                132                  4           4
                 5                136                  5           3
                                  138                  5           5
                 6                143                  6           4
                 7                148                  7           4
...                                                  ...         ...
71837.0          1                7884                 1           3
                                  7886                 1           5
                 3                7893                 3           4
72050.0          1                7911                 1           3
                                  7913                 1           5
                                  7915                 1           7
                 2                7920                 2           4
                                  7921                 2           5
                 3                7926                 3           4
                                  7927                 3           5
                 4                7932                 4           4
                                  7934                 4           6
                 5                7938                 5           3
                                  7940                 5           5
                 6                7945                 6           4
                                  7947                 6           6
                 7                7952                 7           4
                                  7954                 7           6
                 8                7959                 8           4
                                  7961                 8           6
                 9                7966                 9           4
                                  7967                 9           5
                 10               7971                10           3
                                  7973                10           5
72172.0          2                7981                 2           4
                 4                7989                 4           4
                 5                7994                 5           4
                                  7995                 5           5
                 7                8003                 7           4
                 10               8014                10           4

                                            otp_start_time  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01 16:51:00
                 2                6    2017-05-01 17:03:00
                 4                13   2017-05-01 17:15:00
                 5                18   2017-05-01 17:21:00
                 7                25   2017-05-01 17:33:00
                 8                29   2017-05-01 17:39:00
                 9                33   2017-05-01 17:45:00
                 10               37   2017-05-01 18:02:00
28154.0          1                71   2017-05-01 17:22:00
                 2                75   2017-05-01 17:39:00
                 3                79   2017-05-01 17:29:20
                                  81   2017-05-01 17:48:00
                 4                86   2017-05-01 17:47:00
                 5                91   2017-05-01 17:48:14
                                  92   2017-05-01 18:06:40
                 6                96   2017-05-01 17:56:00
                 7                100  2017-05-01 18:05:00
                 8                104  2017-05-01 18:23:00
                 9                108  2017-05-01 18:36:14
                                  109  2017-05-01 18:54:39
                 10               113  2017-05-01 18:45:14
                                  114  2017-05-01 19:03:03
28156.0          1                118  2017-05-01 17:20:00
                 2                123  2017-05-01 17:37:00
                 3                127  2017-05-01 17:32:00
                 4                132  2017-05-01 17:47:00
                 5                136  2017-05-01 17:29:20
                                  138  2017-05-01 17:51:27
                 6                143  2017-05-01 17:39:00
                 7                148  2017-05-01 17:57:00
...                                                    ...
71837.0          1                7884 2017-05-02 02:44:00
                                  7886 2017-05-02 03:05:00
                 3                7893 2017-05-02 09:18:12
72050.0          1                7911 2017-05-02 08:32:27
                                  7913 2017-05-02 08:51:42
                                  7915 2017-05-02 09:12:35
                 2                7920 2017-05-02 09:25:23
                                  7921 2017-05-02 09:51:52
                 3                7926 2017-05-02 09:22:10
                                  7927 2017-05-02 09:45:09
                 4                7932 2017-05-02 09:27:31
                                  7934 2017-05-02 09:50:00
                 5                7938 2017-05-02 09:37:33
                                  7940 2017-05-02 10:01:00
                 6                7945 2017-05-02 09:34:00
                                  7947 2017-05-02 10:11:33
                 7                7952 2017-05-02 09:31:08
                                  7954 2017-05-02 10:00:00
                 8                7959 2017-05-02 09:46:00
                                  7961 2017-05-02 10:25:33
                 9                7966 2017-05-02 10:03:23
                                  7967 2017-05-02 10:37:01
                 10               7971 2017-05-02 10:16:10
                                  7973 2017-05-02 10:27:55
72172.0          2                7981 2017-05-02 09:19:00
                 4                7989 2017-05-02 09:28:00
                 5                7994 2017-05-02 09:31:00
                                  7995 2017-05-02 09:36:49
                 7                8003 2017-05-02 09:36:00
                 10               8014 2017-05-02 09:59:00

                                              otp_end_time otp_mode otp_route  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01 17:01:59      BUS       303
                 2                6    2017-05-01 17:15:19      BUS       303
                 4                13   2017-05-01 17:25:59      BUS       303
                 5                18   2017-05-01 17:33:19      BUS       303
                 7                25   2017-05-01 17:43:59      BUS       303
                 8                29   2017-05-01 17:51:19      BUS       303
                 9                33   2017-05-01 17:57:19      BUS       303
                 10               37   2017-05-01 18:14:19      BUS       303
28154.0          1                71   2017-05-01 17:53:48      BUS       603
                 2                75   2017-05-01 18:10:48      BUS       603
                 3                79   2017-05-01 17:45:00      BUS       627
                                  81   2017-05-01 18:11:02      BUS       203
                 4                86   2017-05-01 18:19:41      BUS       603
                 5                91   2017-05-01 18:05:00      BUS       502
                                  92   2017-05-01 18:23:02      BUS       203
                 6                96   2017-05-01 18:28:41      BUS       603
                 7                100  2017-05-01 18:37:41      BUS       603
                 8                104  2017-05-01 18:55:41      BUS       603
                 9                108  2017-05-01 18:53:00      BUS       502
                                  109  2017-05-01 19:10:02      BUS       603
                 10               113  2017-05-01 19:02:00      BUS       502
                                  114  2017-05-01 19:18:26      BUS       203
28156.0          1                118  2017-05-01 17:58:00      BUS       607
                 2                123  2017-05-01 18:07:00      BUS       550
                 3                127  2017-05-01 18:10:00      BUS       607
                 4                132  2017-05-01 18:17:00      BUS       550
                 5                136  2017-05-01 17:45:00      BUS       627
                                  138  2017-05-01 18:15:00      BUS       507
                 6                143  2017-05-01 18:15:00      BUS       603
                 7                148  2017-05-01 18:27:00      BUS       550
...                                                    ...      ...       ...
71837.0          1                7884 2017-05-02 03:03:31      BUS       507
                                  7886 2017-05-02 03:13:06      BUS       030
                 3                7893 2017-05-02 09:23:58      BUS       338
72050.0          1                7911 2017-05-02 08:49:08      BUS       625
                                  7913 2017-05-02 09:04:40      BUS       633
                                  7915 2017-05-02 09:34:33      BUS       650
                 2                7920 2017-05-02 09:48:47      BUS       628
                                  7921 2017-05-02 09:57:51      BUS       619
                 3                7926 2017-05-02 09:36:43      BUS       545
                                  7927 2017-05-02 10:06:51      BUS       619
                 4                7932 2017-05-02 09:43:00      BUS       612
                                  7934 2017-05-02 10:15:51      BUS       619
                 5                7938 2017-05-02 09:54:00      BUS       612
                                  7940 2017-05-02 10:24:56      BUS       619
                 6                7945 2017-05-02 10:04:14      BUS       545
                                  7947 2017-05-02 10:29:24      BUS       650
                 7                7952 2017-05-02 09:45:00      BUS       654
                                  7954 2017-05-02 10:22:53      BUS       685
                 8                7959 2017-05-02 10:16:14      BUS       545
                                  7961 2017-05-02 10:43:24      BUS       650
                 9                7966 2017-05-02 10:26:47      BUS       628
                                  7967 2017-05-02 10:44:33      BUS       619
                 10               7971 2017-05-02 10:21:25      BUS       040
                                  7973 2017-05-02 10:55:41      BUS       619
72172.0          2                7981 2017-05-02 09:28:44      BUS       822
                 4                7989 2017-05-02 09:37:44      BUS       822
                 5                7994 2017-05-02 09:32:40      BUS       823
                                  7995 2017-05-02 09:40:03      BUS       827
                 7                8003 2017-05-02 09:45:44      BUS       822
                 10               8014 2017-05-02 10:10:14      BUS       822

                                        otp_from_stop_id  otp_to_stop_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2              26195.0         25753.0
                 2                6              26195.0         25753.0
                 4                13             26195.0         25753.0
                 5                18             26195.0         25753.0
                 7                25             26195.0         25753.0
                 8                29             26195.0         25753.0
                 9                33             26195.0         25753.0
                 10               37             26195.0         25753.0
28154.0          1                71             26296.0         25521.0
                 2                75             26296.0         25521.0
                 3                79             35104.0         27585.0
                                  81             26199.0         25521.0
                 4                86             26296.0         25521.0
                 5                91             25534.0         26197.0
                                  92             26197.0         25521.0
                 6                96             26296.0         25521.0
                 7                100            26296.0         25521.0
                 8                104            26296.0         25521.0
                 9                108            25534.0         26197.0
                                  109            26197.0         25521.0
                 10               113            25534.0         26197.0
                                  114            26197.0         25521.0
28156.0          1                118            28606.0         25894.0
                 2                123            26298.0         25906.0
                 3                127            28606.0         25894.0
                 4                132            26298.0         25906.0
                 5                136            35104.0         27585.0
                                  138            26248.0         25911.0
                 6                143            26296.0         26129.0
                 7                148            26298.0         25906.0
...                                                  ...             ...
71837.0          1                7884           25911.0         26262.0
                                  7886             270.0         30059.0
                 3                7893           30054.0         30062.0
72050.0          1                7911           29808.0         36055.0
                                  7913           36056.0         34160.0
                                  7915           38506.0         39747.0

In [150]:
itins_first_bus_legs.otp_leg_id.describe()

count    2000.000000
mean        1.726000
std         0.446121
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         2.000000
Name: otp_leg_id, dtype: float64

In [151]:
itins_first_bus_legs.dtypes

otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_date                   datetime64[ns]
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Working with Vehicle Boardings

In [260]:
selected_trips.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
19800,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221
19801,57666.0,2017-05-01 18:46:58,NaT,021,08065,NaN,41778.0,-25.436627,-49.317949
19802,28153.0,2017-05-01 13:36:28,NaT,TCJ,06003,NaN,14478.0,-25.439980,-49.221858
19803,64706.0,2017-05-01 20:22:36,2017-05-01 19:59:34,020,BB607,7.0,28132.0,-25.435878,-49.306888
19804,28156.0,2017-05-01 13:36:28,2017-05-01 13:36:21,650,HR410,5.0,36299.0,-25.565199,-49.333825

In [261]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [290]:
#itins_first_bus_legs.groupby(['otp_user_trip_id','otp_route','otp_from_stop_id']) \
#                .drop()

In [262]:
def match_vehicle_boardings(selected_trips,itineraries_st):
        vehicle_boarding_origins = selected_trips[np.logical_not(selected_trips['o_busCode'].str.isdigit())]
        matched_vehicle_boardings = vehicle_boarding_origins.merge(itineraries_st, left_on=['o_boarding_id','o_route','o_stopPointId'], 
                                                                   right_on=['otp_user_trip_id','otp_route','otp_from_stop_id'], how='inner')
        num_matched_vehicle_boardings = len(matched_vehicle_boardings.drop_duplicates(subset=['o_boarding_id']))
        if num_matched_vehicle_boardings == 0:
            match_perc = 0.0
        else:
            match_perc = 100*(num_matched_vehicle_boardings/float(len(vehicle_boarding_origins)))
        return (matched_vehicle_boardings,num_matched_vehicle_boardings,match_perc)

In [263]:
        # Matching vehicle boarding origins
        matched_vehicle_boardings,num_matched_vehicle_boardings,vehicle_match_perc = match_vehicle_boardings(selected_trips,itins_first_bus_legs)
        print "Vehicle boardings with matching OTP suggestions: ", num_matched_vehicle_boardings, "(",vehicle_match_perc, "%)"


        # Matching terminal boarding origins
        #matched_terminal_boardings,num_matched_terminal_boardings,terminal_matched_perc = match_terminal_boardings(selected_trips,itineraries_start)
        #print "Terminal boardings with matching OTP suggestions: ", num_matched_terminal_boardings, "(", terminal_matched_perc, "%)"

        # Matching special case route 021 terminal boarding origins 
        #num_terminal_021_boardings,matched_021_terminal_boardings,num_matched_021_terminal_boardings,terminal_021_match_perc = match_terminal_021_boardings(selected_trips,itineraries_start)
        #if (num_terminal_021_boardings > 0):
        #        print "Line 021 Terminal boardings with matching OTP suggestions: ", num_matched_021_terminal_boardings, "(",terminal_021_match_perc, "%)"
        #else:
        #        print "No Line 021 Terminal boardings found. Skipping matching."

        #boarding_suggestions_matches = pd.concat([matched_vehicle_boardings,matched_021_terminal_boardings,matched_terminal_boardings])

        #total_num_matches = num_matched_vehicle_boardings + num_matched_021_terminal_boardings + num_matched_terminal_boardings
        #print "Total number of matches: ", total_num_matches, "(", 100*(total_num_matches/float(num_selected_trips)), "%)"

        #if total_num_matches == 0:
        #    print "No match was found. Skipping next steps..."
        #    exit(0)

Vehicle boardings with matching OTP suggestions:  92 ( 80.701754386 %)

In [264]:
matched_vehicle_boardings.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 14:28:17,2017-05-01 14:35:00,BUS,827,33788.0,30993.0,6.716667,14508.0,14508.0
2,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:42:13,2017-05-01 14:18:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
3,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:57:13,2017-05-01 14:33:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
4,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 14:12:13,2017-05-01 14:48:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0

In [292]:
vehic_first_boardings_options = matched_vehicle_boardings.merge(bus_trips, 
                                left_on=['o_route','o_busCode','o_tripNum','otp_to_stop_id'],
                               right_on=['route','busCode','tripNum','stopPointId'],
                               how='inner') \
            #.filter(['otp_user_trip_id','otp_itinerary_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime'])
            #.filter(selected_trips.columns)

In [293]:
vehic_first_boardings_options

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
2,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
3,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
4,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
5,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
6,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
7,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
8,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
9,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
10,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
11,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
12,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
13,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
14,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
15,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
16,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
17,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
18,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
19,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
20,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,4661.0,2017-05-01 19:00:50,8750.881,-25.534266,-49.267778,14492.0
21,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,4661.0,2017-05-01 19:00:50,8750.881,-25.534266,-49.267778,14492.0
22,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN
23,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN
24,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,31243.0,2017-05-01 18:57:20,8065.976,-25.536860,-49.272710,NaN
25,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,31243.0,2017-05-01 18:57:20,8065.976,-25.536860,-49.272710,NaN
26,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,050,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0
27,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,050,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0
28,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,812,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0
29,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,812,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,216,HA601,1785.0,8.0,45364.0,2017-05-01 16:41:03,8409.558,-25.449010,-49.261531,NaN
311,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,216,HA601,1785.0,8.0,45364.0,2017-05-01 16:41:03,8409.558,-25.449010,-49.261531,NaN
312,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,685,HA288,2972.0,15.0,33860.0,2017-05-01 22:45:37,14016.150,-25.515244,-49.328156,NaN
313,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,685,HA288,2972.0,15.0,35107.0,2017-05-01 22:46:45,14460.344,-25.512756,-49.330335,NaN
314,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
315,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
316,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
317,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
318,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
319,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
320,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
321,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
322,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
323,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
324,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
325,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
326,55169.0,2017-05-01 18:20:24,2017-05-01 18:19:53,683,GA139,15.0,39194.0,-25.564864,-49.275161,55169.0,...,683,GA139,3024.0,15.0,37415.0,2017-05-01 18:23:37,0.000,-25.567167,-49.281746,NaN
327,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,547,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0
328,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,547,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0
329,70719.0,2017-05-01 22:49:57,2017-05-01 22:49:02,924,BA124,10.0,32234.0,-25.383383,-49.281568,70719.0,...,924,BA124,2884.0,10.0,30457.0,2017-05-01 23:05:44,0.000,-25.377180,-49.224049,14470.0
330,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
331,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
332,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
333,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,712,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0
334,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,712,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0
335,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,224,BN409,1796.0,19.0,27148.0,2017-05-01 13:48:42,5558.814,-25.388209,-49.237150,NaN
336,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,224,BN409,1796.0,19.0,27148.0,2017-05-01 13:48:42,5558.814,-25.388209,-49.237150,NaN
337,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0
338,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0
339,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0

### Removing Scheduled trips whose scheduled start time is more than 30 minutes away from the actual boarding time

In [294]:
vehic_first_boardings_options['sched_actual_start_timediff'] = np.abs(vehic_first_boardings_options['otp_start_time']-vehic_first_boardings_options['o_gps_datetime'])

In [295]:
vehic_first_boardings_options \
    .filter(['otp_user_trip_id','otp_itinerary_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime','sched_actual_start_timediff'])

,otp_user_trip_id,otp_itinerary_id,route,busCode,tripNum,stopPointId,otp_start_time,o_gps_datetime,otp_end_time,gps_datetime,sched_actual_start_timediff
0,28150.0,1,827,BC929,12.0,30993.0,2017-05-01 13:38:33,2017-05-01 13:35:18,2017-05-01 13:45:00,2017-05-01 13:44:14,00:03:15
1,28150.0,8,827,BC929,12.0,30993.0,2017-05-01 14:28:17,2017-05-01 13:35:18,2017-05-01 14:35:00,2017-05-01 13:44:14,00:52:59
2,28262.0,1,827,BC929,12.0,30993.0,2017-05-01 13:40:17,2017-05-01 13:37:57,2017-05-01 13:45:00,2017-05-01 13:44:14,00:02:20
3,28262.0,9,827,BC929,12.0,30993.0,2017-05-01 14:30:05,2017-05-01 13:37:57,2017-05-01 14:35:00,2017-05-01 13:44:14,00:52:08
4,28424.0,1,827,BC929,12.0,30993.0,2017-05-01 13:41:48,2017-05-01 13:39:12,2017-05-01 13:45:00,2017-05-01 13:44:14,00:02:36
5,28424.0,10,827,BC929,12.0,30993.0,2017-05-01 14:31:40,2017-05-01 13:39:12,2017-05-01 14:35:00,2017-05-01 13:44:14,00:52:28
6,28154.0,1,684,HA298,11.0,31053.0,2017-05-01 13:42:13,2017-05-01 13:35:38,2017-05-01 14:18:00,2017-05-01 14:01:41,00:06:35
7,28154.0,2,684,HA298,11.0,31053.0,2017-05-01 13:57:13,2017-05-01 13:35:38,2017-05-01 14:33:00,2017-05-01 14:01:41,00:21:35
8,28154.0,6,684,HA298,11.0,31053.0,2017-05-01 14:12:13,2017-05-01 13:35:38,2017-05-01 14:48:00,2017-05-01 14:01:41,00:36:35
9,28154.0,7,684,HA298,11.0,31053.0,2017-05-01 14:27:13,2017-05-01 13:35:38,2017-05-01 15:03:00,2017-05-01 14:01:41,00:51:35
10,28154.0,8,684,HA298,11.0,31053.0,2017-05-01 14:42:13,2017-05-01 13:35:38,2017-05-01 15:18:00,2017-05-01 14:01:41,01:06:35
11,28229.0,1,684,HA298,11.0,31053.0,2017-05-01 13:43:08,2017-05-01 13:36:37,2017-05-01 14:18:00,2017-05-01 14:01:41,00:06:31
12,28229.0,2,684,HA298,11.0,31053.0,2017-05-01 13:58:08,2017-05-01 13:36:37,2017-05-01 14:33:00,2017-05-01 14:01:41,00:21:31
13,28229.0,5,684,HA298,11.0,31053.0,2017-05-01 14:13:08,2017-05-01 13:36:37,2017-05-01 14:48:00,2017-05-01 14:01:41,00:36:31
14,28229.0,6,684,HA298,11.0,31053.0,2017-05-01 14:28:08,2017-05-01 13:36:37,2017-05-01 15:03:00,2017-05-01 14:01:41,00:51:31
15,28229.0,8,684,HA298,11.0,31053.0,2017-05-01 14:43:08,2017-05-01 13:36:37,2017-05-01 15:18:00,2017-05-01 14:01:41,01:06:31
16,28229.0,9,684,HA298,11.0,31053.0,2017-05-01 14:58:08,2017-05-01 13:36:37,2017-05-01 15:33:00,2017-05-01 14:01:41,01:21:31
17,28154.0,9,684,HA298,11.0,34160.0,2017-05-01 14:57:13,2017-05-01 13:35:38,2017-05-01 15:30:02,2017-05-01 13:57:14,01:21:35
18,28154.0,10,684,HA298,11.0,34160.0,2017-05-01 15:12:13,2017-05-01 13:35:38,2017-05-01 15:45:02,2017-05-01 13:57:14,01:36:35
19,28229.0,10,684,HA298,11.0,34160.0,2017-05-01 15:13:08,2017-05-01 13:36:37,2017-05-01 15:45:02,2017-05-01 13:57:14,01:36:31
20,57607.0,1,548,GA158,12.0,4661.0,2017-05-01 18:56:51,2017-05-01 18:46:10,2017-05-01 19:15:00,2017-05-01 19:00:50,00:10:41
21,57607.0,8,548,GA158,12.0,4661.0,2017-05-01 19:46:51,2017-05-01 18:46:10,2017-05-01 20:05:00,2017-05-01 19:00:50,01:00:41
22,57607.0,5,548,GA158,12.0,29978.0,2017-05-01 19:11:51,2017-05-01 18:46:10,2017-05-01 19:28:40,2017-05-01 18:58:01,00:25:41
23,57607.0,5,548,GA158,12.0,29978.0,2017-05-01 19:11:51,2017-05-01 18:46:10,2017-05-01 19:28:40,2017-05-01 18:58:01,00:25:41
24,57607.0,7,548,GA158,12.0,31243.0,2017-05-01 19:26:51,2017-05-01 18:46:10,2017-05-01 19:42:49,2017-05-01 18:57:20,00:40:41
25,57607.0,10,548,GA158,12.0,31243.0,2017-05-01 20:06:51,2017-05-01 18:46:10,2017-05-01 20:22:49,2017-05-01 18:57:20,01:20:41
26,28161.0,4,050,JB301,5.0,32454.0,2017-05-01 13:44:57,2017-05-01 13:35:59,2017-05-01 13:51:00,2017-05-01 13:39:53,00:08:58
27,28161.0,10,050,JB301,5.0,32454.0,2017-05-01 14:03:36,2017-05-01 13:35:59,2017-05-01 14:09:00,2017-05-01 13:39:53,00:27:37
28,28164.0,1,812,BA020,9.0,28138.0,2017-05-01 13:46:46,2017-05-01 13:36:32,2017-05-01 14:03:00,2017-05-01 13:47:34,00:10:14
29,28164.0,4,812,BA020,9.0,28138.0,2017-05-01 14:14:47,2017-05-01 13:36:32,2017-05-01 14:30:00,2017-05-01 13:47:34,00:38:15
...,...,...,...,...,...,...,...,...,...,...,...
310,44578.0,9,216,HA601,8.0,45364.0,2017-05-01 17:24:30,2017-05-01 16:35:31,2017-05-01 17:34:16,2017-05-01 16:41:03,00:48:59
311,44578.0,10,216,HA601,8.0,45364.0,2017-05-01 17:34:30,2017-05-01 16:35:31,2017-05-01 17:44:16,2017-05-01 16:41:03,00:58:59
312,70106.0,1,685,HA288,15.0,33860.0,2017-05-01 22:49:46,2017-05-01 22:31:28,2017-05-01 23:12:11,2017-05-01 22:45:37,00:18:18
313,70106.0,8,685,HA288,15.0,35107.0,2017-05-01 23:53:24,2017-05-01 22:31:28,2017-05-02 00:08:47,2017-05-01 22:46:45,01:21:56
314,28422.0,1,639,GA142,10.0,31026.0,2017-05-01 13:38:12,2017-05-01 13:38:59,2017-05-01 14:00:00,2017-05-01 13:58:18,00:00:47
315,28422.0,5,639,GA142,10.0,31026.0,2017-05-01 14:14:12,2017-05-01 13:38:59,2017-05-01 14:36:00,2017-05-01 13:58:18,00:35:13
316,28422.0,7,639,GA142,10.0,31026.0,2017-05-01 14:32:12,2017-05-01 13:38:59,2017-05-01 14:54:00,2017-05-01 13:58:18,00:53:13
317,28422.0,9,639,GA142,10.0,31026.0,2017-05-01 14:50:12,2017-05-01 13:38:59,2017-05-01 15:12:00,2017-05-01 13:58:18,01:11:13
318,28422.0,10,639,GA142,10.0,31026.0,2017-05-01 15:08:12,2017-05-01 13:38:59,2017-05-01 15:30:00,2017-05-01 13:58:18,01:29:13
319,28455.0,1,639,GA142,10.0,31026.0,2017-05-01 13:38:48,2017-05-01 13:39:51,2017-05-01 14:00:00,2017-05-01 13:58:18,00:01:03
320,28455.0,7,639,GA142,10.0,31026.0,2017-05-01 14:50:48,2017-05-01 13:39:51,2017-05-01 15:12:00,2017-05-01 13:58:18,01:10:57
321,28422.0,2,639,GA142,10.0,34160.0,2017-05-01 13:56:12,2017-05-01 13:38:59,2017-05-01 14:14:46,2017-05-01 13:54:13,00:17:13
322,28455.0,2,639,GA142,10.0,34160.0,2017-05-01 13:56:48,2017-05-01 13:39:51,2017-05-01 14:14:46,2017-05-01 13:54:13,00:16:57
323,28455.0,4,639,GA142,10.0,34160.0,2017-05-01 14:14:48,2017-05-01 13:39:51,2017-05-01 14:32:46,2017-05-01 13:54:13,00:34:57
324,28455.0,6,639,GA142,10.0,34160.0,2017-05-01 14:32:48,2017-05-01 13:39:51,2017-05-01 14:50:46,2017-05-01 13:54:13,00:52:57
325,28455.0,10,639,GA142,10.0,34160.0,2017-05-01 15:08:48,2017-05-01 13:39:51,2017-05-01 15:26:46,2017-05-01 13:54:13,01:28:57
326,55169.0,5,683,GA139,15.0,37415.0,2017-05-01 18:28:08,2017-05-01 18:19:53,2017-05-01 18:31:00,2017-05-01 18:23:37,00:08:15
327,28457.0,1,547,GA201,18.0,30013.0,2017-05-01 13:41:46,2017-05-01 13:40:08,2017-05-01 13:50:00,2017-05-01 13:56:51,00:01:38
328,28457.0,5,547,GA201,18.0,30013.0,2017-05-01 14:01:46,2017-05-01 13:40:08,2017-05-01 14:10:00,2017-05-01 13:56:51,00:21:38
329,70719.0,4,924,BA124,10.0,30457.0,2017-05-01 22:54:24,2017-05-01 22:49:02,2017-05-01 23:15:00,2017-05-01 23:05:44,00:05:22
330,28487.0,2,924,BA124,5.0,32371.0,2017-05-01 13:56:44,2017-05-01 13:40:21,2017-05-01 14:11:00,2017-05-01 13:57:44,00:16:23
331,28487.0,5,924,BA124,5.0,32371.0,2017-05-01 14:23:44,2017-05-01 13:40:21,2017-05-01 14:38:00,2017-05-01 13:57:44,00:43:23
332,28487.0,7,924,BA124,5.0,32371.0,2017-05-01 14:51:28,2017-05-01 13:40:21,2017-05-01 15:06:00,2017-05-01 13:57:44,01:11:07
333,65005.0,1,712,HA016,23.0,31631.0,2017-05-01 20:35:36,2017-05-01 20:27:35,2017-05-01 20:48:00,2017-05-01 20:37:19,00:08:01
334,65005.0,4,712,HA016,23.0,31631.0,2017-05-01 20:56:36,2017-05-01 20:27:35,2017-05-01 21:09:00,2017-05-01 20:37:19,00:29:01
335,28485.0,8,224,BN409,19.0,27148.0,2017-05-01 14:15:52,2017-05-01 13:40:33,2017-05-01 14:26:29,2017-05-01 13:48:42,00:35:19
336,28485.0,10,224,BN409,19.0,27148.0,2017-05-01 14:40:52,2017-05-01 13:40:33,2017-05-01 14:51:29,2017-05-01 13:48:42,01:00:19
337,28491.0,3,020,DR118,4.0,27945.0,2017-05-01 13:49:00,2017-05-01 13:28:06,2017-05-01 14:16:00,2017-05-01 13:50:08,00:20:54
338,28491.0,5,020,DR118,4.0,27945.0,2017-05-01 14:03:00,2017-05-01 13:28:06,2017-05-01 14:30:00,2017-05-01 13:50:08,00:34:54
339,28491.0,8,020,DR118,4.0,27945.0,2017-05-01 14:17:00,2017-05-01 13:28:06,2017-05-01 14:44:00,2017-05-01 13:50:08,00:48:54

In [296]:
vehic_first_boardings_options = vehic_first_boardings_options[vehic_first_boardings_options['sched_actual_start_timediff'] < pd.Timedelta(minutes=30)]

In [297]:
vehic_first_boardings_options

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station,sched_actual_start_timediff
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0,00:03:15
2,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0,00:02:20
4,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0,00:02:36
6,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0,00:06:35
7,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0,00:21:35
11,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0,00:06:31
12,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0,00:21:31
20,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,GA158,3580.0,12.0,4661.0,2017-05-01 19:00:50,8750.881,-25.534266,-49.267778,14492.0,00:10:41
22,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN,00:25:41
23,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN,00:25:41
26,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0,00:08:58
27,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0,00:27:37
28,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0,00:10:14
32,28225.0,2017-05-01 13:37:23,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28225.0,...,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0,00:10:14
38,38953.0,2017-05-01 15:36:38,2017-05-01 15:36:15,812,BA019,10.0,30262.0,-25.430393,-49.317373,38953.0,...,BA019,2210.0,10.0,30319.0,2017-05-01 15:40:15,3931.335,-25.421500,-49.334950,NaN,00:17:44
43,28165.0,2017-05-01 13:36:35,2017-05-01 13:35:42,462,DC093,7.0,30798.0,-25.477617,-49.216957,28165.0,...,DC093,3102.0,7.0,26157.0,2017-05-01 14:00:22,12450.673,-25.434700,-49.272336,NaN,00:03:04
44,28165.0,2017-05-01 13:36:35,2017-05-01 13:35:42,462,DC093,7.0,30798.0,-25.477617,-49.216957,28165.0,...,DC093,3102.0,7.0,26157.0,2017-05-01 14:00:22,12450.673,-25.434700,-49.272336,NaN,00:16:20
48,49951.0,2017-05-01 17:30:08,2017-05-01 17:28:57,461,DC850,12.0,26156.0,-25.434761,-49.272470,49951.0,...,DC850,1910.0,12.0,3830.0,2017-05-01 17:56:45,0.000,-25.474306,-49.218319,NaN,00:19:03
50,28169.0,2017-05-01 13:36:36,2017-05-01 13:36:30,545,JA300,6.0,33835.0,-25.492325,-49.333900,28169.0,...,JA300,1990.0,6.0,29967.0,2017-05-01 14:14:48,19199.887,-25.527700,-49.252659,NaN,00:13:43
53,28411.0,2017-05-01 13:39:44,2017-05-01 13:39:23,545,JA300,6.0,33849.0,-25.504165,-49.334787,28411.0,...,JA300,1990.0,6.0,5452.0,2017-05-01 14:10:54,17443.453,-25.534335,-49.268084,14492.0,00:14:45
58,28172.0,2017-05-01 13:36:41,2017-05-01 13:36:33,334,DA023,20.0,27786.0,-25.467447,-49.198471,28172.0,...,DA023,1865.0,20.0,27812.0,2017-05-01 13:20:33,17.744,-25.469210,-49.208330,14483.0,00:19:06
59,71056.0,2017-05-01 23:00:10,2017-05-01 22:58:56,030,KB600,7.0,26222.0,-25.413140,-49.205680,71056.0,...,KB600,1716.0,7.0,299.0,2017-05-01 23:14:20,12442.395,-25.451665,-49.215086,14481.0,00:06:56
60,71056.0,2017-05-01 23:00:10,2017-05-01 22:58:56,030,KB600,7.0,26222.0,-25.413140,-49.205680,71056.0,...,KB600,1716.0,7.0,32540.0,2017-05-01 23:10:46,10754.463,-25.447297,-49.205482,NaN,00:29:04
67,28180.0,2017-05-01 13:36:46,2017-05-01 13:36:42,182,BC002,8.0,31854.0,-25.366552,-49.272462,28180.0,...,BC002,2629.0,8.0,28615.0,2017-05-01 13:55:37,10135.469,-25.423600,-49.270049,NaN,00:26:47
69,52772.0,2017-05-01 17:57:59,2017-05-01 17:57:08,183,BC186,11.0,35642.0,-25.423318,-49.268572,52772.0,...,BC186,2751.0,11.0,29384.0,2017-05-01 18:22:31,9552.171,-25.366369,-49.272466,NaN,00:18:23
70,28174.0,2017-05-01 13:36:42,2017-05-01 13:36:32,515,EA303,10.0,33580.0,-25.506291,-49.224019,28174.0,...,EA303,1956.0,10.0,27791.0,2017-05-01 13:52:12,0.000,-25.481843,-49.246769,14487.0,00:03:55
71,28174.0,2017-05-01 13:36:42,2017-05-01 13:36:32,515,EA303,10.0,33580.0,-25.506291,-49.224019,28174.0,...,EA303,1956.0,10.0,27791.0,2017-05-01 13:52:12,0.000,-25.481843,-49.246769,14487.0,00:18:55
74,43854.0,2017-05-01 16:29:17,2017-05-01 16:28:23,011,BB307,10.0,32785.0,-25.416320,-49.269040,43854.0,...,BB307,1709.0,10.0,32794.0,2017-05-01 15:39:12,3048.701,-25.422354,-49.284146,NaN,00:05:37
75,43854.0,2017-05-01 16:29:17,2017-05-01 16:28:23,011,BB307,10.0,32785.0,-25.416320,-49.269040,43854.0,...,BB307,1709.0,10.0,32794.0,2017-05-01 15:39:12,3048.701,-25.422354,-49.284146,NaN,00:25:37
78,28177.0,2017-05-01 13:36:44,2017-05-01 13:36:34,658,JA026,8.0,35212.0,-25.494476,-49.298993,28177.0,...,JA026,2115.0,8.0,27620.0,2017-05-01 13:38:12,11584.298,-25.492096,-49.293112,14497.0,00:08:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,28387.0,2017-05-01 13:39:23,2017-05-01 13:38:19,213,BN403,10.0,30236.0,-25.389864,-49.222032,28387.0,...,BN403,2781.0,10.0,28125.0,2017-05-01 13:48:32,0.000,-25.406610,-49.252563,14474.0,00:29:38
275,28391.0,2017-05-01 13:39:26,2017-05-01 13:39:14,617,HA284,9.0,39733.0,-25.574114,-49.329464,28391.0,...,HA284,2038.0,9.0,32042.0,2017-05-01 13:52:40,9181.126,-25.536585,-49.301261,NaN,00:22:45
276,28404.0,2017-05-01 13:39:37,2017-05-01 13:38:48,639,GA202,10.0,34158.0,-25.521141,-49.296043,28404.0,...,GA202,2075.0,10.0,37164.0,2017-05-01 13:50:41,6355.722,-25.555636,-49.284430,NaN,00:06:33
277,28404.0,2017-05-01 13:39:37,2017-05-01 13:38:48,639,GA202,10.0,34158.0,-25.521141,-49.296043,28404.0,...,GA202,2075.0,10.0,37164.0,2017-05-01 13:50:41,6355.722,-25.555636,-49.284430,NaN,00:24:33
281,57132.0,2017-05-01 18:40:47,2017-05-01 18:40:09,639,GA142,16.0,37163.0,-25.555610,-49.284332,57132.0,...,GA142,3770.0,16.0,34160.0,2017-05-01 18:54:37,7148.474,-25.520732,-49.295383,NaN,00:05:16
282,57132.0,2017-05-01 18:40:47,2017-05-01 18:40:09,639,GA142,16.0,37163.0,-25.555610,-49.284332,57132.0,...,GA142,3770.0,16.0,34160.0,2017-05-01 18:54:37,7148.474,-25.520732,-49.295383,NaN,00:14:16
283,57132.0,2017-05-01 18:40:47,2017-05-01 18:40:09,639,GA142,16.0,37163.0,-25.555610,-49.284332,57132.0,...,GA142,3770.0,16.0,34160.0,2017-05-01 18:54:37,7148.474,-25.520732,-49.295383,NaN,00:23:16
292,28402.0,2017-05-01 13:39:33,2017-05-01 13:38:34,040,GR126,2.0,34133.0,-25.458196,-49.346719,28402.0,...,GR126,1718.0,2.0,30991.0,2017-05-01 13:48:35,15500.422,-25.441699,-49.346051,14508.0,00:06:34
297,53308.0,2017-05-01 18:02:28,2017-05-01 18:01:45,040,GR124,4.0,34123.0,-25.451351,-49.350814,53308.0,...,GR124,1717.0,4.0,30438.0,2017-05-01 18:29:09,19001.129,-25.511471,-49.324923,14503.0,00:27:05
298,53308.0,2017-05-01 18:02:28,2017-05-01 18:01:45,040,GR124,4.0,34123.0,-25.451351,-49.350814,53308.0,...,GR124,1717.0,4.0,30438.0,2017-05-01 18:29:09,19001.129,-25.511471,-49.324923,14503.0,00:22:26
301,53308.0,2017-05-01 18:02:28,2017-05-01 18:01:45,040,GR124,4.0,34123.0,-25.451351,-49.350814,53308.0,...,GR124,1717.0,4.0,35104.0,2017-05-01 18:26:18,18636.947,-25.511630,-49.328224,NaN,00:14:26
302,53308.0,2017-05-01 18:02:28,2017-05-01 18:01:45,040,GR124,4.0,34123.0,-25.451351,-49.350814,53308.0,...,GR124,1717.0,4.0,35104.0,2017-05-01 18:26:18,18636.947,-25.511630,-49.328224,NaN,00:14:26
303,53308.0,2017-05-01 18:02:28,2017-05-01 18:01:45,040,GR124,4.0,34123.0,-25.451351,-49.350814,53308.0,...,GR124,1717.0,4.0,35104.0,2017-05-01 18:26:18,18636.947,-25.511630,-49.328224,NaN,00:14:26
304,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,HA601,2778.0,8.0,28332.0,2017-05-01 16:50:00,0.000,-25.476127,-49.292362,14499.0,00:05:15
305,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,HA601,2778.0,8.0,28332.0,2017-05-01 16:50:00,0.000,-25.476127,-49.292362,14499.0,00:05:15
306,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,HA601,1785.0,8.0,29171.0,2017-05-01 16:47:01,12222.965,-25.471858,-49.285907,NaN,00:14:15
308,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,HA601,1785.0,8.0,45364.0,2017-05-01 16:41:03,8409.558,-25.449010,-49.261531,NaN,00:23:10
312,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,HA288,2972.0,15.0,33860.0,2017-05-01 22:45:37,14016.150,-25.515244,-49.328156,NaN,00:18:18
314,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0,00:00:47
319,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0,00:01:03
321,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN,00:17:13
322,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN,00:16:57
326,55169.0,2017-05-01 18:20:24,2017-05-01 18:19:53,683,GA139,15.0,39194.0,-25.564864,-49.275161,55169.0,...,GA139,3024.0,15.0,37415.0,2017-05-01 18:23:37,0.000,-25.567167,-49.281746,NaN,00:08:15
327,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0,00:01:38
328,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0,00:21:38
329,70719.0,2017-05-01 22:49:57,2017-05-01 22:49:02,924,BA124,10.0,32234.0,-25.383383,-49.281568,70719.0,...,BA124,2884.0,10.0,30457.0,2017-05-01 23:05:44,0.000,-25.377180,-49.224049,14470.0,00:05:22
330,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0,00:16:23
333,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0,00:08:01
334,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0,00:29:01
337,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0,00:20:54

In [303]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

In [300]:
scheduled_itin_observed_od_earliest.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_route,otp_mode,otp_start_time,bt_from_gps_datetime,sched_obs_start_timediff,sched_obs_end_timediff
0,28150.0,1,1,827,BUS,2017-05-01 16:38:33,2017-05-01 16:48:58,00:10:25,00:10:23
1,28150.0,1,2,nan,WALK,2017-05-01 16:45:00,NaT,NaT,NaT
2,28150.0,1,3,303,BUS,2017-05-01 16:51:00,2017-05-01 16:41:51,00:09:09,00:11:55
3,28150.0,1,4,nan,WALK,2017-05-01 17:02:00,NaT,NaT,NaT
4,28150.0,2,2,nan,WALK,2017-05-01 16:57:00,NaT,NaT,NaT

## Remove unmatched vehicle-boarding itineraries from scheduled itineraries actual operation

In [306]:
matched_vehicle_boardings_itins = vehic_first_boardings_options_clean.filter(['otp_user_trip_id','otp_itinerary_id'])

In [307]:
matched_vehicle_boardings_itins.head()

   otp_user_trip_id  otp_itinerary_id
0           28150.0                 1
2           28262.0                 1
4           28424.0                 1
6           28154.0                 1
7           28154.0                 2

In [309]:
scheduled_itin_observed_od.head()

,bt_from_busCode,bt_from_distanceTraveledShape,bt_from_gps_datetime,bt_from_parent_station,bt_from_route,bt_from_shapeId,bt_from_stopPointId,bt_from_stop_lat,bt_from_stop_lon,bt_from_tripNum,...,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,otp_start_time,otp_to_parent_station,otp_to_stop_id,otp_user_trip_id,sched_obs_end_timediff,sched_obs_start_timediff
3,BC929,6303.387,2017-05-01 16:48:58,NaN,827,2895.0,33788.0,-25.436303,-49.362221,16.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:10:23,00:10:25
0,BC929,6303.387,2017-05-01 15:59:34,NaN,827,2895.0,33788.0,-25.436303,-49.362221,15.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:38:25,00:38:59
11,BC929,6303.387,2017-05-01 17:35:37,NaN,827,2895.0,33788.0,-25.436303,-49.362221,17.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:56:38,00:57:04
171,LE702,18286.156,2017-05-01 16:41:51,14508.0,303,2585.0,26195.0,-25.441720,-49.346978,6.0,...,1,3,BUS,303,2017-05-01 16:51:00,41756.0,25753.0,28150.0,00:11:55,00:09:09
113,DE719,18286.156,2017-05-01 17:04:31,14508.0,303,2585.0,26195.0,-25.441720,-49.346978,6.0,...,1,3,BUS,303,2017-05-01 16:51:00,41756.0,25753.0,28150.0,00:10:33,00:13:31

In [310]:
len(scheduled_itin_observed_od)

16640

In [311]:
scheduled_itin_observed_od.columns

Index([u'bt_from_busCode', u'bt_from_distanceTraveledShape',
       u'bt_from_gps_datetime', u'bt_from_parent_station', u'bt_from_route',
       u'bt_from_shapeId', u'bt_from_stopPointId', u'bt_from_stop_lat',
       u'bt_from_stop_lon', u'bt_from_tripNum', u'bt_to_busCode',
       u'bt_to_distanceTraveledShape', u'bt_to_gps_datetime',
       u'bt_to_parent_station', u'bt_to_route', u'bt_to_shapeId',
       u'bt_to_stopPointId', u'bt_to_stop_lat', u'bt_to_stop_lon',
       u'bt_to_tripNum', u'otp_date', u'otp_duration_mins', u'otp_end_time',
       u'otp_from_parent_station', u'otp_from_stop_id', u'otp_itinerary_id',
       u'otp_leg_id', u'otp_mode', u'otp_route', u'otp_start_time',
       u'otp_to_parent_station', u'otp_to_stop_id', u'otp_user_trip_id',
       u'sched_obs_end_timediff', u'sched_obs_start_timediff'],
      dtype='object')

In [312]:
matched_vehicle_boardings_itins.columns

Index([u'otp_user_trip_id', u'otp_itinerary_id'], dtype='object')

In [313]:
vehicle_boardings_obs_sch_itin_legs = scheduled_itin_observed_od.merge(matched_vehicle_boardings_itins,how='inner') \
                                        .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [314]:
len(vehicle_boardings_obs_sch_itin_legs)

1473

In [315]:
vehicle_boardings_obs_sch_itin_legs.head()

,bt_from_busCode,bt_from_distanceTraveledShape,bt_from_gps_datetime,bt_from_parent_station,bt_from_route,bt_from_shapeId,bt_from_stopPointId,bt_from_stop_lat,bt_from_stop_lon,bt_from_tripNum,...,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,otp_start_time,otp_to_parent_station,otp_to_stop_id,otp_user_trip_id,sched_obs_end_timediff,sched_obs_start_timediff
0,BC929,6303.387,2017-05-01 16:48:58,NaN,827,2895.0,33788.0,-25.436303,-49.362221,16.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:10:23,00:10:25
1,BC929,6303.387,2017-05-01 15:59:34,NaN,827,2895.0,33788.0,-25.436303,-49.362221,15.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:38:25,00:38:59
2,BC929,6303.387,2017-05-01 17:35:37,NaN,827,2895.0,33788.0,-25.436303,-49.362221,17.0,...,1,1,BUS,827,2017-05-01 16:38:33,14508.0,30993.0,28150.0,00:56:38,00:57:04
9,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,2,WALK,nan,2017-05-01 16:45:00,NaN,NaN,28150.0,NaT,NaT
3,LE702,18286.156,2017-05-01 16:41:51,14508.0,303,2585.0,26195.0,-25.441720,-49.346978,6.0,...,1,3,BUS,303,2017-05-01 16:51:00,41756.0,25753.0,28150.0,00:11:55,00:09:09

### Concatenating first boarding legs to other itinerary legs

#### Preparing First Boarding legs data

In [339]:
vehic_first_boardings_options.columns

Index([u'o_boarding_id', u'o_boarding_datetime', u'o_gps_datetime', u'o_route',
       u'o_busCode', u'o_tripNum', u'o_stopPointId', u'o_stop_lat',
       u'o_stop_lon', u'otp_user_trip_id', u'otp_itinerary_id', u'otp_date',
       u'otp_leg_id', u'otp_start_time', u'otp_end_time', u'otp_mode',
       u'otp_route', u'otp_from_stop_id', u'otp_to_stop_id',
       u'otp_duration_mins', u'otp_from_parent_station',
       u'otp_to_parent_station', u'route', u'busCode', u'shapeId', u'tripNum',
       u'stopPointId', u'gps_datetime', u'distanceTraveledShape', u'stop_lat',
       u'stop_lon', u'parent_station', u'sched_actual_start_timediff'],
      dtype='object')

In [346]:
vehic_first_boardings_options_clean = vehic_first_boardings_options \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','o_busCode',
             'o_tripNum','otp_from_stop_id','otp_start_time','o_boarding_datetime','otp_to_stop_id',
             'otp_end_time','gps_datetime','otp_duration_mins']) \
    .rename(index=str, columns={'o_busCode':'bt_bus_code','o_tripNum':'bt_trip_num',
                                'o_boarding_datetime':'bt_start_time','gps_datetime':'bt_end_time'}) \
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1)) \
    .assign(considered_duration_mins = lambda x: np.where(np.isnan(x.bt_duration_mins),x.otp_duration_mins,x.bt_duration_mins))

In [347]:
vehic_first_boardings_options_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
2,28262.0,1,1,BUS,827,BC929,12.0,33775.0,2017-05-01 13:40:17,2017-05-01 13:37:59,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,4.716667,6.250000,6.250000
4,28424.0,1,1,BUS,827,BC929,12.0,33535.0,2017-05-01 13:41:48,2017-05-01 13:39:51,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,3.200000,4.383333,4.383333
6,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
7,28154.0,2,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667

In [348]:
len(vehic_first_boardings_options_clean)

138

#### Preparing OTP itinerary legs data

In [200]:
vehicle_boardings_obs_sch_itin_legs.columns.values

array(['bt_from_busCode', 'bt_from_distanceTraveledShape',
       'bt_from_gps_datetime', 'bt_from_parent_station', 'bt_from_route',
       'bt_from_shapeId', 'bt_from_stopPointId', 'bt_from_stop_lat',
       'bt_from_stop_lon', 'bt_from_tripNum', 'bt_to_busCode',
       'bt_to_distanceTraveledShape', 'bt_to_gps_datetime',
       'bt_to_parent_station', 'bt_to_route', 'bt_to_shapeId',
       'bt_to_stopPointId', 'bt_to_stop_lat', 'bt_to_stop_lon',
       'bt_to_tripNum', 'otp_date', 'otp_duration_mins', 'otp_end_time',
       'otp_from_parent_station', 'otp_from_stop_id', 'otp_itinerary_id',
       'otp_leg_id', 'otp_mode', 'otp_route', 'otp_start_time',
       'otp_to_parent_station', 'otp_to_stop_id', 'otp_user_trip_id',
       'sched_obs_end_timediff', 'sched_obs_start_timediff',
       'o_boarding_id', 'o_boarding_datetime', 'o_gps_datetime',
       'o_route', 'o_busCode', 'o_tripNum', 'o_stopPointId', 'o_stop_lat',
       'o_stop_lon'], dtype=object)

In [336]:
vehicle_boardings_obs_sch_itin_legs_clean = vehicle_boardings_obs_sch_itin_legs \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','bt_from_busCode',
             'bt_from_tripNum','otp_from_stop_id','otp_start_time','bt_from_gps_datetime','otp_to_stop_id',
             'otp_end_time','bt_to_gps_datetime','otp_duration_mins'])\
    .rename(index=str, columns={'bt_from_busCode':'bt_bus_code','bt_from_tripNum':'bt_trip_num',
                                'bt_from_gps_datetime':'bt_start_time','bt_to_gps_datetime':'bt_end_time'}) \
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1)) \
    .assign(considered_duration_mins = lambda x: np.where(np.isnan(x.bt_duration_mins),x.otp_duration_mins,x.bt_duration_mins))

In [337]:
vehicle_boardings_obs_sch_itin_legs_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,16.0,33788.0,2017-05-01 16:38:33,2017-05-01 16:48:58,30993.0,2017-05-01 16:45:00,2017-05-01 16:55:23,6.450000,6.416667,6.416667
1,28150.0,1,1,BUS,827,BC929,15.0,33788.0,2017-05-01 16:38:33,2017-05-01 15:59:34,30993.0,2017-05-01 16:45:00,2017-05-01 16:06:35,6.450000,7.016667,7.016667
2,28150.0,1,1,BUS,827,BC929,17.0,33788.0,2017-05-01 16:38:33,2017-05-01 17:35:37,30993.0,2017-05-01 16:45:00,2017-05-01 17:41:38,6.450000,6.016667,6.016667
9,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 16:45:00,NaT,NaN,2017-05-01 16:45:52,NaT,0.866667,NaN,0.866667
3,28150.0,1,3,BUS,303,LE702,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:41:51,25753.0,2017-05-01 17:01:59,2017-05-01 16:50:04,10.983333,8.216667,8.216667

In [359]:
len(vehicle_boardings_obs_sch_itin_legs_clean)

1473

#### Concatenating Legs

In [360]:
len(vehic_first_boardings_options_clean)

138

In [384]:
vehic_first_boardings_options_clean_keys = vehic_first_boardings_options_clean.filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']).drop_duplicates()

In [385]:
len(vehic_first_boardings_options_clean_keys)

125

In [386]:
vehic_first_boardings_options_clean_keys.head(10)

    otp_user_trip_id  otp_itinerary_id  otp_leg_id
0            28150.0                 1           1
2            28262.0                 1           1
4            28424.0                 1           1
6            28154.0                 1           1
7            28154.0                 2           1
11           28229.0                 1           1
12           28229.0                 2           1
20           57607.0                 1           1
22           57607.0                 5           1
26           28161.0                 4           1

In [398]:
vehicle_legs_merged = vehicle_boardings_obs_sch_itin_legs_clean.merge(vehic_first_boardings_options_clean_keys, how='outer', indicator=True)
vehicle_legs_rest_clean = vehicle_legs_merged[vehicle_legs_merged['_merge'] == 'left_only'].drop('_merge', axis=1)

In [399]:
len(vehicle_legs_rest_clean)

776

In [400]:
vehicle_legs_rest_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
3,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 16:45:00,NaT,NaN,2017-05-01 16:45:52,NaT,0.866667,NaN,0.866667
4,28150.0,1,3,BUS,303,LE702,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:41:51,25753.0,2017-05-01 17:01:59,2017-05-01 16:50:04,10.983333,8.216667,8.216667
5,28150.0,1,3,BUS,303,DE719,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:04:31,25753.0,2017-05-01 17:01:59,2017-05-01 17:12:32,10.983333,8.016667,8.016667
6,28150.0,1,3,BUS,303,DE708,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:30:13,25753.0,2017-05-01 17:01:59,2017-05-01 16:38:15,10.983333,8.033333,8.033333
7,28150.0,1,3,BUS,303,DE713,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:19:18,25753.0,2017-05-01 17:01:59,2017-05-01 17:27:59,10.983333,8.683333,8.683333
8,28150.0,1,3,BUS,303,DE710,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:29:54,25753.0,2017-05-01 17:01:59,2017-05-01 17:37:35,10.983333,7.683333,7.683333
9,28150.0,1,3,BUS,303,DE722,5.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:03:23,25753.0,2017-05-01 17:01:59,2017-05-01 16:12:01,10.983333,8.633333,8.633333
10,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 17:02:00,NaT,NaN,2017-05-01 17:09:32,NaT,7.533333,NaN,7.533333
19,28154.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 17:18:00,NaT,NaN,2017-05-01 17:19:14,NaT,1.233333,NaN,1.233333
20,28154.0,1,3,BUS,603,HD245,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:18:52,25521.0,2017-05-01 17:53:48,2017-05-01 17:50:55,31.800000,32.050000,32.050000
21,28154.0,1,3,BUS,603,HD249,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:35:52,25521.0,2017-05-01 17:53:48,2017-05-01 18:07:24,31.800000,31.533333,31.533333
22,28154.0,1,3,BUS,603,HD240,7.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:05:36,25521.0,2017-05-01 17:53:48,2017-05-01 17:32:53,31.800000,27.283333,27.283333
23,28154.0,1,3,BUS,603,HD250,9.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:53:34,25521.0,2017-05-01 17:53:48,2017-05-01 18:20:56,31.800000,27.366667,27.366667
24,28154.0,1,3,BUS,603,HD243,9.0,26296.0,2017-05-01 17:22:00,2017-05-01 16:50:26,25521.0,2017-05-01 17:53:48,2017-05-01 17:19:24,31.800000,28.966667,28.966667
25,28154.0,1,3,BUS,603,HD243,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 18:05:06,25521.0,2017-05-01 17:53:48,2017-05-01 18:32:56,31.800000,27.833333,27.833333
26,28154.0,1,3,BUS,603,HD250,8.0,26296.0,2017-05-01 17:22:00,2017-05-01 16:36:11,25521.0,2017-05-01 17:53:48,2017-05-01 17:04:21,31.800000,28.166667,28.166667
27,28154.0,1,3,BUS,603,HD240,8.0,26296.0,2017-05-01 17:22:00,2017-05-01 18:20:55,25521.0,2017-05-01 17:53:48,2017-05-01 18:50:57,31.800000,30.033333,30.033333
28,28154.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 17:53:49,NaT,NaN,2017-05-01 17:55:49,NaT,2.000000,NaN,2.000000
37,28154.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 17:33:00,NaT,NaN,2017-05-01 17:34:14,NaT,1.233333,NaN,1.233333
38,28154.0,2,3,BUS,603,HD249,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:35:52,25521.0,2017-05-01 18:10:48,2017-05-01 18:07:24,31.800000,31.533333,31.533333
39,28154.0,2,3,BUS,603,HD250,9.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:53:34,25521.0,2017-05-01 18:10:48,2017-05-01 18:20:56,31.800000,27.366667,27.366667
40,28154.0,2,3,BUS,603,HD245,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:18:52,25521.0,2017-05-01 18:10:48,2017-05-01 17:50:55,31.800000,32.050000,32.050000
41,28154.0,2,3,BUS,603,HD243,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:05:06,25521.0,2017-05-01 18:10:48,2017-05-01 18:32:56,31.800000,27.833333,27.833333
42,28154.0,2,3,BUS,603,HD240,7.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:05:36,25521.0,2017-05-01 18:10:48,2017-05-01 17:32:53,31.800000,27.283333,27.283333
43,28154.0,2,3,BUS,603,HD240,8.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:20:55,25521.0,2017-05-01 18:10:48,2017-05-01 18:50:57,31.800000,30.033333,30.033333
44,28154.0,2,3,BUS,603,HD243,9.0,26296.0,2017-05-01 17:39:00,2017-05-01 16:50:26,25521.0,2017-05-01 18:10:48,2017-05-01 17:19:24,31.800000,28.966667,28.966667
45,28154.0,2,3,BUS,603,HD245,11.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:38:30,25521.0,2017-05-01 18:10:48,2017-05-01 19:07:29,31.800000,28.983333,28.983333
46,28154.0,2,4,WALK,nan,NaN,NaN,NaN,2017-05-01 18:10:49,NaT,NaN,2017-05-01 18:12:49,NaT,2.000000,NaN,2.000000
50,28161.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-01 16:51:00,NaT,NaN,2017-05-01 16:51:58,NaT,0.966667,NaN,0.966667
51,28161.0,4,3,BUS,303,LE700,6.0,26204.0,2017-05-01 16:52:41,2017-05-01 16:49:40,25646.0,2017-05-01 17:10:50,2017-05-01 17:03:20,18.150000,13.666667,13.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,61070.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 22:40:00,NaT,NaN,2017-05-01 22:40:47,NaT,0.783333,NaN,0.783333
1437,61070.0,1,3,BUS,022,BL337,10.0,26267.0,2017-05-01 22:46:00,2017-05-01 22:46:27,26246.0,2017-05-01 23:06:00,2017-05-01 23:00:27,20.000000,14.000000,14.000000
1438,61070.0,1,3,BUS,022,DL313,10.0,26267.0,2017-05-01 22:46:00,2017-05-01 23:00:28,26246.0,2017-05-01 23:06:00,2017-05-01 23:13:35,20.000000,13.116667,13.116667
1439,61070.0,1,3,BUS,022,EL307,8.0,26267.0,2017-05-01 22:46:00,2017-05-01 22:30:12,26246.0,2017-05-01 23:06:00,2017-05-01 22:46:46,20.000000,16.566667,16.566667
1440,61070.0,1,3,BUS,022,BL334,10.0,26267.0,2017-05-01 22:46:00,2017-05-01 22:13:27,26246.0,2017-05-01 23:06:00,2017-05-01 22:31:37,20.000000,18.166667,18.166667
1441,61070.0,1,3,BUS,022,GL306,10.0,26267.0,2017-05-01 22:46:00,2017-05-01 21:53:45,26246.0,2017-05-01 23:06:00,2017-05-01 22:16:11,20.000000,22.433333,22.433333
1442,61070.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:06:01,NaT,NaN,2017-05-01 23:07:51,NaT,1.833333,NaN,1.833333
1443,61070.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:19:01,NaT,NaN,2017-05-01 23:20:04,NaT,1.050000,NaN,1.050000
1447,61753.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 22:48:34,NaT,NaN,2017-05-01 22:48:43,NaT,0.150000,NaN,0.150000
1450,65005.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:48:00,NaT,NaN,2017-05-01 23:48:25,NaT,0.416667,NaN,0.416667
1451,65005.0,1,3,BUS,040,HB605,8.0,31633.0,2017-05-01 23:59:20,2017-05-01 23:05:55,33119.0,2017-05-02 00:42:00,2017-05-01 23:43:24,42.666667,37.483333,37.483333
1452,65005.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 00:42:00,NaT,NaN,2017-05-02 00:42:43,NaT,0.716667,NaN,0.716667
1453,65005.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:06:35,NaT,NaN,2017-05-02 01:06:36,NaT,0.016667,NaN,0.016667
1456,65005.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:09:00,NaT,NaN,2017-05-02 00:09:25,NaT,0.416667,NaN,0.416667
1457,65005.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-02 01:00:00,NaT,NaN,2017-05-02 01:00:43,NaT,0.716667,NaN,0.716667
1458,65005.0,4,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:41:04,NaT,NaN,2017-05-02 01:41:05,NaT,0.016667,NaN,0.016667
1459,66750.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:35:59,NaT,NaN,2017-05-02 00:36:47,NaT,0.800000,NaN,0.800000
1460,66750.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 00:56:00,NaT,NaN,2017-05-02 00:58:30,NaT,2.500000,NaN,2.500000
1461,66750.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:33:03,NaT,NaN,2017-05-02 01:33:11,NaT,0.133333,NaN,0.133333
1462,66750.0,5,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:50:24,NaT,NaN,2017-05-02 00:51:12,NaT,0.800000,NaN,0.800000
1463,66750.0,5,4,WALK,nan,NaN,NaN,NaN,2017-05-02 01:08:00,NaT,NaN,2017-05-02 01:10:30,NaT,2.500000,NaN,2.500000
1464,66750.0,5,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:53:03,NaT,NaN,2017-05-02 01:53:11,NaT,0.133333,NaN,0.133333
1465,70106.0,1,3,WALK,nan,NaN,NaN,NaN,2017-05-02 02:18:03,NaT,NaN,2017-05-02 02:18:09,NaT,0.100000,NaN,0.100000
1466,70719.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:15:00,NaT,NaN,2017-05-02 02:15:22,NaT,0.366667,NaN,0.366667
1467,70719.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-02 02:32:01,NaT,NaN,2017-05-02 02:34:45,NaT,2.733333,NaN,2.733333
1468,71039.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:17:02,NaT,NaN,2017-05-02 02:21:38,NaT,4.600000,NaN,4.600000
1469,71039.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:32:02,NaT,NaN,2017-05-02 02:36:38,NaT,4.600000,NaN,4.600000
1470,71056.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:26:41,NaT,NaN,2017-05-02 02:29:24,NaT,2.716667,NaN,2.716667
1471,71056.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 02:41:10,NaT,NaN,2017-05-02 02:46:50,NaT,5.666667,NaN,5.666667
1472,71056.0,3,3,WALK,nan,NaN,NaN,NaN,2017-05-02 02:50:01,NaT,NaN,2017-05-02 03:07:26,NaT,17.416667,NaN,17.416667

In [405]:
all_vehicle_legs_options = pd.concat([vehic_first_boardings_options_clean,vehicle_legs_rest_clean]) \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','bt_start_time'])

In [406]:
len(all_vehicle_legs_options)

914

In [408]:
all_vehicle_legs_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
3,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 16:45:00,NaT,NaN,2017-05-01 16:45:52,NaT,0.866667,NaN,0.866667
9,28150.0,1,3,BUS,303,DE722,5.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:03:23,25753.0,2017-05-01 17:01:59,2017-05-01 16:12:01,10.983333,8.633333,8.633333
6,28150.0,1,3,BUS,303,DE708,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:30:13,25753.0,2017-05-01 17:01:59,2017-05-01 16:38:15,10.983333,8.033333,8.033333
4,28150.0,1,3,BUS,303,LE702,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 16:41:51,25753.0,2017-05-01 17:01:59,2017-05-01 16:50:04,10.983333,8.216667,8.216667
5,28150.0,1,3,BUS,303,DE719,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:04:31,25753.0,2017-05-01 17:01:59,2017-05-01 17:12:32,10.983333,8.016667,8.016667
7,28150.0,1,3,BUS,303,DE713,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:19:18,25753.0,2017-05-01 17:01:59,2017-05-01 17:27:59,10.983333,8.683333,8.683333
8,28150.0,1,3,BUS,303,DE710,6.0,26195.0,2017-05-01 16:51:00,2017-05-01 17:29:54,25753.0,2017-05-01 17:01:59,2017-05-01 17:37:35,10.983333,7.683333,7.683333
10,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 17:02:00,NaT,NaN,2017-05-01 17:09:32,NaT,7.533333,NaN,7.533333
6,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
19,28154.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 17:18:00,NaT,NaN,2017-05-01 17:19:14,NaT,1.233333,NaN,1.233333
26,28154.0,1,3,BUS,603,HD250,8.0,26296.0,2017-05-01 17:22:00,2017-05-01 16:36:11,25521.0,2017-05-01 17:53:48,2017-05-01 17:04:21,31.800000,28.166667,28.166667
24,28154.0,1,3,BUS,603,HD243,9.0,26296.0,2017-05-01 17:22:00,2017-05-01 16:50:26,25521.0,2017-05-01 17:53:48,2017-05-01 17:19:24,31.800000,28.966667,28.966667
22,28154.0,1,3,BUS,603,HD240,7.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:05:36,25521.0,2017-05-01 17:53:48,2017-05-01 17:32:53,31.800000,27.283333,27.283333
20,28154.0,1,3,BUS,603,HD245,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:18:52,25521.0,2017-05-01 17:53:48,2017-05-01 17:50:55,31.800000,32.050000,32.050000
21,28154.0,1,3,BUS,603,HD249,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:35:52,25521.0,2017-05-01 17:53:48,2017-05-01 18:07:24,31.800000,31.533333,31.533333
23,28154.0,1,3,BUS,603,HD250,9.0,26296.0,2017-05-01 17:22:00,2017-05-01 17:53:34,25521.0,2017-05-01 17:53:48,2017-05-01 18:20:56,31.800000,27.366667,27.366667
25,28154.0,1,3,BUS,603,HD243,10.0,26296.0,2017-05-01 17:22:00,2017-05-01 18:05:06,25521.0,2017-05-01 17:53:48,2017-05-01 18:32:56,31.800000,27.833333,27.833333
27,28154.0,1,3,BUS,603,HD240,8.0,26296.0,2017-05-01 17:22:00,2017-05-01 18:20:55,25521.0,2017-05-01 17:53:48,2017-05-01 18:50:57,31.800000,30.033333,30.033333
28,28154.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 17:53:49,NaT,NaN,2017-05-01 17:55:49,NaT,2.000000,NaN,2.000000
7,28154.0,2,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
37,28154.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 17:33:00,NaT,NaN,2017-05-01 17:34:14,NaT,1.233333,NaN,1.233333
44,28154.0,2,3,BUS,603,HD243,9.0,26296.0,2017-05-01 17:39:00,2017-05-01 16:50:26,25521.0,2017-05-01 18:10:48,2017-05-01 17:19:24,31.800000,28.966667,28.966667
42,28154.0,2,3,BUS,603,HD240,7.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:05:36,25521.0,2017-05-01 18:10:48,2017-05-01 17:32:53,31.800000,27.283333,27.283333
40,28154.0,2,3,BUS,603,HD245,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:18:52,25521.0,2017-05-01 18:10:48,2017-05-01 17:50:55,31.800000,32.050000,32.050000
38,28154.0,2,3,BUS,603,HD249,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:35:52,25521.0,2017-05-01 18:10:48,2017-05-01 18:07:24,31.800000,31.533333,31.533333
39,28154.0,2,3,BUS,603,HD250,9.0,26296.0,2017-05-01 17:39:00,2017-05-01 17:53:34,25521.0,2017-05-01 18:10:48,2017-05-01 18:20:56,31.800000,27.366667,27.366667
41,28154.0,2,3,BUS,603,HD243,10.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:05:06,25521.0,2017-05-01 18:10:48,2017-05-01 18:32:56,31.800000,27.833333,27.833333
43,28154.0,2,3,BUS,603,HD240,8.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:20:55,25521.0,2017-05-01 18:10:48,2017-05-01 18:50:57,31.800000,30.033333,30.033333
45,28154.0,2,3,BUS,603,HD245,11.0,26296.0,2017-05-01 17:39:00,2017-05-01 18:38:30,25521.0,2017-05-01 18:10:48,2017-05-01 19:07:29,31.800000,28.983333,28.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,65005.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:48:00,NaT,NaN,2017-05-01 23:48:25,NaT,0.416667,NaN,0.416667
1451,65005.0,1,3,BUS,040,HB605,8.0,31633.0,2017-05-01 23:59:20,2017-05-01 23:05:55,33119.0,2017-05-02 00:42:00,2017-05-01 23:43:24,42.666667,37.483333,37.483333
1452,65005.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 00:42:00,NaT,NaN,2017-05-02 00:42:43,NaT,0.716667,NaN,0.716667
1453,65005.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:06:35,NaT,NaN,2017-05-02 01:06:36,NaT,0.016667,NaN,0.016667
334,65005.0,4,1,BUS,712,HA016,23.0,35531.0,2017-05-01 20:56:36,2017-05-01 20:28:26,31631.0,2017-05-01 21:09:00,2017-05-01 20:37:19,12.400000,8.883333,8.883333
1456,65005.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:09:00,NaT,NaN,2017-05-02 00:09:25,NaT,0.416667,NaN,0.416667
1457,65005.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-02 01:00:00,NaT,NaN,2017-05-02 01:00:43,NaT,0.716667,NaN,0.716667
1458,65005.0,4,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:41:04,NaT,NaN,2017-05-02 01:41:05,NaT,0.016667,NaN,0.016667
202,66750.0,1,1,BUS,050,JB301,9.0,31749.0,2017-05-01 21:20:37,2017-05-01 21:09:39,29171.0,2017-05-01 21:35:59,2017-05-01 21:19:50,15.366667,10.183333,10.183333
1459,66750.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:35:59,NaT,NaN,2017-05-02 00:36:47,NaT,0.800000,NaN,0.800000
1460,66750.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 00:56:00,NaT,NaN,2017-05-02 00:58:30,NaT,2.500000,NaN,2.500000
1461,66750.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:33:03,NaT,NaN,2017-05-02 01:33:11,NaT,0.133333,NaN,0.133333
203,66750.0,5,1,BUS,050,JB301,9.0,31749.0,2017-05-01 21:36:29,2017-05-01 21:09:39,29171.0,2017-05-01 21:50:24,2017-05-01 21:19:50,13.916667,10.183333,10.183333
1462,66750.0,5,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:50:24,NaT,NaN,2017-05-02 00:51:12,NaT,0.800000,NaN,0.800000
1463,66750.0,5,4,WALK,nan,NaN,NaN,NaN,2017-05-02 01:08:00,NaT,NaN,2017-05-02 01:10:30,NaT,2.500000,NaN,2.500000
1464,66750.0,5,6,WALK,nan,NaN,NaN,NaN,2017-05-02 01:53:03,NaT,NaN,2017-05-02 01:53:11,NaT,0.133333,NaN,0.133333
312,70106.0,1,1,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667
1465,70106.0,1,3,WALK,nan,NaN,NaN,NaN,2017-05-02 02:18:03,NaT,NaN,2017-05-02 02:18:09,NaT,0.100000,NaN,0.100000
329,70719.0,4,1,BUS,924,BA124,10.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,20.600000,15.783333,15.783333
1466,70719.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:15:00,NaT,NaN,2017-05-02 02:15:22,NaT,0.366667,NaN,0.366667
1467,70719.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-02 02:32:01,NaT,NaN,2017-05-02 02:34:45,NaT,2.733333,NaN,2.733333
119,71039.0,1,1,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
1468,71039.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:17:02,NaT,NaN,2017-05-02 02:21:38,NaT,4.600000,NaN,4.600000
120,71039.0,3,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
1469,71039.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:32:02,NaT,NaN,2017-05-02 02:36:38,NaT,4.600000,NaN,4.600000
59,71056.0,1,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,20.816667,14.166667,14.166667
1470,71056.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-02 02:26:41,NaT,NaN,2017-05-02 02:29:24,NaT,2.716667,NaN,2.716667
1471,71056.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-02 02:41:10,NaT,NaN,2017-05-02 02:46:50,NaT,5.666667,NaN,5.666667
60,71056.0,3,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,15.850000,10.600000,10.600000
1472,71056.0,3,3,WALK,nan,NaN,NaN,NaN,2017-05-02 02:50:01,NaT,NaN,2017-05-02 03:07:26,NaT,17.416667,NaN,17.416667

### Choose best actual leg matches (based on feasibility and start time)

In [211]:
def choose_leg_matches(leg_matches_groups):
        #chosen_leg_matches = pd.DataFrame(columns = otp_legs_buste.columns.values)
        chosen_leg_matches = pd.DataFrame()
        prev_group_id = ()
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0

        for name, group in legs_matches_groups:
            
                print
                print "Name:", name
                print "Group:"
                print group
                print

                if (prev_group_id == ()):
                        prev_leg_end_time = group['otp_date'][0]

                print
                print "Previous leg end time:", prev_leg_end_time
                print
                print "Original Group"
                print group.filter(['otp_start_time','bt_from_gps_datetime','bt_to_gps_datetime'])

                if (group['otp_mode'].iloc[0] == 'WALK'):
                    filtered_group = group
                    filtered_group['bt_from_gps_datetime'] = prev_leg_end_time
                    filtered_group['bt_to_gps_datetime'] = prev_leg_end_time + filtered_group['otp_duration_mins']
                else:
                    filtered_group = group[group['bt_from_gps_datetime'] > prev_leg_end_time]
                print
                print "Filtered Group"
                print filtered_group.filter(['otp_start_time','bt_from_gps_datetime','bt_to_gps_datetime'])

                if (len(filtered_group) == 0):
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_from_gps_datetime').iloc[0]
                print "Chosen Leg"
                print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

        #Update variables
        prev_group_id = name[0:2]
        prev_leg_end_time = chosen_leg_match['bt_to_gps_datetime']

        chosen_leg_matches = chosen_leg_matches.filter(otp_legs_buste.columns.values) \
                                                .assign(user_trip_id = lambda x: x['otp_user_trip_id'].astype(int),
                                                        itinerary_id = lambda x: x['otp_itinerary_id'].astype(int),
                                                        leg_id = lambda x: x['otp_leg_id'].astype(int))


        #print num_groups_not_survived
        return chosen_leg_matches

## Find OTP Vehicle Boarding Itineraries first alighting in BUSTE Data

In [185]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

In [228]:
vehicle_first_boardings = matched_vehicle_boardings.merge(bus_trips,
                                left_on=['o_route','o_busCode','o_tripNum','otp_to_stop_id'],
                                right_on=['route','busCode','tripNum','stopPointId'],
                                how='inner') \
                                .assign(otp_buste_end_timediff = 
                                        lambda x: np.absolute(x['gps_datetime'] - x['otp_end_time']),
                                        actual_duration = lambda x: x.gps_datetime - x.o_boarding_datetime) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','actual_duration','otp_buste_end_timediff'])

vehicle_first_boardings = vehicle_first_boardings[vehicle_first_boardings['actual_duration'] > pd.Timedelta(minutes=0)]

In [229]:
vehicle_first_boardings.filter(['o_boarding_id','otp_itinerary_id','route','busCode','tripNum','otp_from_stop_id','o_stopPointId','otp_start_time','o_boarding_datetime','otp_to_stop_id','stopPointId','otp_end_time','gps_datetime','otp_buste_end_timediff','actual_duration']) #\
                        #.sort_values(['o_boarding_id','otp_itinerary_id'])

,o_boarding_id,otp_itinerary_id,route,busCode,tripNum,otp_from_stop_id,o_stopPointId,otp_start_time,o_boarding_datetime,otp_to_stop_id,stopPointId,otp_end_time,gps_datetime,otp_buste_end_timediff,actual_duration
0,28150.0,1,827,BC929,12.0,33788.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,00:07:49
1,28150.0,8,827,BC929,12.0,33788.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,30993.0,30993.0,2017-05-01 14:35:00,2017-05-01 13:44:14,00:50:46,00:07:49
6,28154.0,1,684,HA298,11.0,39378.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,00:16:19,00:25:13
7,28154.0,2,684,HA298,11.0,39378.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,00:31:19,00:25:13
8,28154.0,6,684,HA298,11.0,39378.0,39378.0,2017-05-01 14:12:13,2017-05-01 13:36:28,31053.0,31053.0,2017-05-01 14:48:00,2017-05-01 14:01:41,00:46:19,00:25:13
9,28154.0,7,684,HA298,11.0,39378.0,39378.0,2017-05-01 14:27:13,2017-05-01 13:36:28,31053.0,31053.0,2017-05-01 15:03:00,2017-05-01 14:01:41,01:01:19,00:25:13
10,28154.0,8,684,HA298,11.0,39378.0,39378.0,2017-05-01 14:42:13,2017-05-01 13:36:28,31053.0,31053.0,2017-05-01 15:18:00,2017-05-01 14:01:41,01:16:19,00:25:13
17,28154.0,9,684,HA298,11.0,39378.0,39378.0,2017-05-01 14:57:13,2017-05-01 13:36:28,34160.0,34160.0,2017-05-01 15:30:02,2017-05-01 13:57:14,01:32:48,00:20:46
18,28154.0,10,684,HA298,11.0,39378.0,39378.0,2017-05-01 15:12:13,2017-05-01 13:36:28,34160.0,34160.0,2017-05-01 15:45:02,2017-05-01 13:57:14,01:47:48,00:20:46
26,28161.0,4,050,JB301,5.0,14404.0,14404.0,2017-05-01 13:44:57,2017-05-01 13:36:33,32454.0,32454.0,2017-05-01 13:51:00,2017-05-01 13:39:53,00:11:07,00:03:20
27,28161.0,10,050,JB301,5.0,14404.0,14404.0,2017-05-01 14:03:36,2017-05-01 13:36:33,32454.0,32454.0,2017-05-01 14:09:00,2017-05-01 13:39:53,00:29:07,00:03:20
28,28164.0,1,812,BA020,9.0,30320.0,30320.0,2017-05-01 13:46:46,2017-05-01 13:36:35,28138.0,28138.0,2017-05-01 14:03:00,2017-05-01 13:47:34,00:15:26,00:10:59
29,28164.0,4,812,BA020,9.0,30320.0,30320.0,2017-05-01 14:14:47,2017-05-01 13:36:35,28138.0,28138.0,2017-05-01 14:30:00,2017-05-01 13:47:34,00:42:26,00:10:59
30,28164.0,8,812,BA020,9.0,30320.0,30320.0,2017-05-01 14:42:17,2017-05-01 13:36:35,28138.0,28138.0,2017-05-01 14:57:00,2017-05-01 13:47:34,01:09:26,00:10:59
31,28164.0,9,812,BA020,9.0,30320.0,30320.0,2017-05-01 15:09:17,2017-05-01 13:36:35,28138.0,28138.0,2017-05-01 15:24:00,2017-05-01 13:47:34,01:36:26,00:10:59
36,28164.0,10,812,BA020,9.0,30320.0,30320.0,2017-05-01 15:35:48,2017-05-01 13:36:35,30270.0,30270.0,2017-05-01 15:48:42,2017-05-01 13:45:17,02:03:25,00:08:42
43,28165.0,1,462,DC093,7.0,30798.0,30798.0,2017-05-01 13:38:46,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 14:12:00,2017-05-01 14:00:22,00:11:38,00:23:47
44,28165.0,2,462,DC093,7.0,30798.0,30798.0,2017-05-01 13:52:02,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 14:28:00,2017-05-01 14:00:22,00:27:38,00:23:47
45,28165.0,8,462,DC093,7.0,30798.0,30798.0,2017-05-01 14:10:46,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 14:44:00,2017-05-01 14:00:22,00:43:38,00:23:47
46,28165.0,9,462,DC093,7.0,30798.0,30798.0,2017-05-01 14:24:02,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 15:00:00,2017-05-01 14:00:22,00:59:38,00:23:47
47,28165.0,10,462,DC093,7.0,30798.0,30798.0,2017-05-01 14:42:46,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 15:16:00,2017-05-01 14:00:22,01:15:38,00:23:47
50,28169.0,4,545,JA300,6.0,33835.0,33835.0,2017-05-01 13:50:13,2017-05-01 13:36:36,29967.0,29967.0,2017-05-01 14:35:04,2017-05-01 14:14:48,00:20:16,00:38:12
51,28169.0,9,545,JA300,6.0,33835.0,33835.0,2017-05-01 14:14:28,2017-05-01 13:36:36,5452.0,5452.0,2017-05-01 14:54:51,2017-05-01 14:10:54,00:43:57,00:34:18
52,28169.0,10,545,JA300,6.0,33835.0,33835.0,2017-05-01 14:38:28,2017-05-01 13:36:36,5452.0,5452.0,2017-05-01 15:18:51,2017-05-01 14:10:54,01:07:57,00:34:18
70,28174.0,1,515,EA303,10.0,33580.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,27791.0,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,00:03:48,00:15:30
71,28174.0,5,515,EA303,10.0,33580.0,33580.0,2017-05-01 13:55:27,2017-05-01 13:36:42,27791.0,27791.0,2017-05-01 14:11:00,2017-05-01 13:52:12,00:18:48,00:15:30
72,28174.0,9,515,EA303,10.0,33580.0,33580.0,2017-05-01 14:10:27,2017-05-01 13:36:42,27791.0,27791.0,2017-05-01 14:26:00,2017-05-01 13:52:12,00:33:48,00:15:30
73,28174.0,10,515,EA303,10.0,33580.0,33580.0,2017-05-01 14:25:27,2017-05-01 13:36:42,27791.0,27791.0,2017-05-01 14:41:00,2017-05-01 13:52:12,00:48:48,00:15:30
78,28177.0,5,658,JA026,8.0,35212.0,35212.0,2017-05-01 13:45:18,2017-05-01 13:36:44,27620.0,27620.0,2017-05-01 13:48:00,2017-05-01 13:38:12,00:09:48,00:01:28
67,28180.0,5,182,BC002,8.0,31854.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,28615.0,28615.0,2017-05-01 14:29:58,2017-05-01 13:55:37,00:34:21,00:18:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,61753.0,1,812,BA020,15.0,30262.0,30262.0,2017-05-01 19:40:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 19:48:33,2017-05-01 19:31:11,00:17:22,00:03:29
127,61753.0,4,812,BA020,15.0,30262.0,30262.0,2017-05-01 20:06:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 20:14:33,2017-05-01 19:31:11,00:43:22,00:03:29
128,61753.0,7,812,BA020,15.0,30262.0,30262.0,2017-05-01 20:33:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 20:41:33,2017-05-01 19:31:11,01:10:22,00:03:29
129,61753.0,9,812,BA020,15.0,30262.0,30262.0,2017-05-01 21:00:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 21:08:33,2017-05-01 19:31:11,01:37:22,00:03:29
130,61753.0,10,812,BA020,15.0,30262.0,30262.0,2017-05-01 21:27:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 21:35:33,2017-05-01 19:31:11,02:04:22,00:03:29
333,65005.0,1,712,HA016,23.0,35531.0,35531.0,2017-05-01 20:35:36,2017-05-01 20:28:26,31631.0,31631.0,2017-05-01 20:48:00,2017-05-01 20:37:19,00:10:41,00:08:53
334,65005.0,4,712,HA016,23.0,35531.0,35531.0,2017-05-01 20:56:36,2017-05-01 20:28:26,31631.0,31631.0,2017-05-01 21:09:00,2017-05-01 20:37:19,00:31:41,00:08:53
202,66750.0,1,050,JB301,9.0,31749.0,31749.0,2017-05-01 21:20:37,2017-05-01 21:09:39,29171.0,29171.0,2017-05-01 21:35:59,2017-05-01 21:19:50,00:16:09,00:10:11
203,66750.0,5,050,JB301,9.0,31749.0,31749.0,2017-05-01 21:36:29,2017-05-01 21:09:39,29171.0,29171.0,2017-05-01 21:50:24,2017-05-01 21:19:50,00:30:34,00:10:11
204,66750.0,8,050,JB301,9.0,31749.0,31749.0,2017-05-01 21:55:47,2017-05-01 21:09:39,31660.0,31660.0,2017-05-01 22:13:54,2017-05-01 21:33:46,00:40:08,00:24:07
205,66750.0,10,050,JB301,9.0,31749.0,31749.0,2017-05-01 22:10:56,2017-05-01 21:09:39,31637.0,31637.0,2017-05-01 22:41:47,2017-05-01 21:42:19,00:59:28,00:32:40
312,70106.0,1,685,HA288,15.0,36326.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,00:26:34,00:14:07
313,70106.0,8,685,HA288,15.0,36326.0,36326.0,2017-05-01 23:53:24,2017-05-01 22:31:30,35107.0,35107.0,2017-05-02 00:08:47,2017-05-01 22:46:45,01:22:02,00:15:15
296,70138.0,9,685,HA286,15.0,35167.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,35449.0,35449.0,2017-05-01 23:33:19,2017-05-01 22:34:49,00:58:30,00:02:50
329,70719.0,4,924,BA124,10.0,32234.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,00:09:16,00:15:47
119,71039.0,1,777,JC004,20.0,33567.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,00:04:28,00:12:52
120,71039.0,3,777,JC004,20.0,33567.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,00:19:28,00:12:52
121,71039.0,6,777,JC004,20.0,33567.0,33567.0,2017-05-01 23:29:21,2017-05-01 22:59:41,26631.0,26631.0,2017-05-01 23:47:57,2017-05-01 23:12:33,00:35:24,00:12:52
122,71039.0,10,777,JC004,20.0,33567.0,33567.0,2017-05-01 23:58:52,2017-05-01 22:59:41,26631.0,26631.0,2017-05-02 00:16:06,2017-05-01 23:12:33,01:03:33,00:12:52
59,71056.0,1,030,KB600,7.0,26222.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,00:12:21,00:14:10
60,71056.0,3,030,KB600,7.0,26222.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,00:33:05,00:10:36
61,71056.0,5,030,KB600,7.0,26222.0,26222.0,2017-05-02 05:30:00,2017-05-01 23:00:10,31482.0,31482.0,2017-05-02 05:57:34,2017-05-01 23:23:14,06:34:20,00:23:04
65,71056.0,6,030,KB600,7.0,26222.0,26222.0,2017-05-02 05:15:00,2017-05-01 23:00:10,31488.0,31488.0,2017-05-02 05:43:56,2017-05-01 23:25:07,06:18:49,00:24:57
62,71056.0,7,030,KB600,7.0,26222.0,26222.0,2017-05-02 05:39:00,2017-05-01 23:00:10,31482.0,31482.0,2017-05-02 06:06:34,2017-05-01 23:23:14,06:43:20,00:23:04
63,71056.0,8,030,KB600,7.0,26222.0,26222.0,2017-05-02 06:34:00,2017-05-01 23:00:10,31482.0,31482.0,2017-05-02 07:03:11,2017-05-01 23:23:14,07:39:57,00:23:04
64,71056.0,9,030,KB600,7.0,26222.0,26222.0,2017-05-02 06:15:00,2017-05-01 23:00:10,31482.0,31482.0,2017-05-02 06:43:11,2017-05-01 23:23:14,07:19:57,00:23:04
66,71056.0,10,030,KB600,7.0,26222.0,26222.0,2017-05-02 05:56:00,2017-05-01 23:00:10,32596.0,32596.0,2017-05-02 06:45:42,2017-05-01 23:42:53,07:02:49,00:42:43
123,71837.0,4,472,KC002,16.0,26583.0,26583.0,2017-05-02 05:59:35,2017-05-01 23:26:52,30062.0,30062.0,2017-05-02 06:28:02,2017-05-01 23:41:07,06:46:55,00:14:15
124,71837.0,8,472,KC002,16.0,26583.0,26583.0,2017-05-02 06:24:35,2017-05-01 23:26:52,30062.0,30062.0,2017-05-02 06:53:02,2017-05-01 23:41:07,07:11:55,00:14:15
125,71837.0,10,472,KC002,16.0,26583.0,26583.0,2017-05-02 06:49:35,2017-05-01 23:26:52,30062.0,30062.0,2017-05-02 07:18:02,2017-05-01 23:41:07,07:36:55,00:14:15

In [230]:
vehicle_first_boardings_filtered = vehicle_first_boardings.sort_values(['actual_duration','otp_buste_end_timediff']) \
                                        .groupby(['o_boarding_id']) \
                                        .first()

In [231]:
vehicle_first_boardings_filtered.filter(['o_boarding_id','otp_itinerary_id','route','busCode','tripNum','otp_from_stop_id','o_stopPointId','otp_start_time','o_boarding_datetime','otp_to_stop_id','stopPointId','otp_end_time','gps_datetime','otp_buste_end_timediff','actual_duration'])

,otp_itinerary_id,route,busCode,tripNum,otp_from_stop_id,o_stopPointId,otp_start_time,o_boarding_datetime,otp_to_stop_id,stopPointId,otp_end_time,gps_datetime,otp_buste_end_timediff,actual_duration
o_boarding_id,,,,,,,,,,,,,,
28150.0,1,827,BC929,12.0,33788.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,00:07:49
28154.0,9,684,HA298,11.0,39378.0,39378.0,2017-05-01 14:57:13,2017-05-01 13:36:28,34160.0,34160.0,2017-05-01 15:30:02,2017-05-01 13:57:14,01:32:48,00:20:46
28161.0,4,050,JB301,5.0,14404.0,14404.0,2017-05-01 13:44:57,2017-05-01 13:36:33,32454.0,32454.0,2017-05-01 13:51:00,2017-05-01 13:39:53,00:11:07,00:03:20
28164.0,10,812,BA020,9.0,30320.0,30320.0,2017-05-01 15:35:48,2017-05-01 13:36:35,30270.0,30270.0,2017-05-01 15:48:42,2017-05-01 13:45:17,02:03:25,00:08:42
28165.0,1,462,DC093,7.0,30798.0,30798.0,2017-05-01 13:38:46,2017-05-01 13:36:35,26157.0,26157.0,2017-05-01 14:12:00,2017-05-01 14:00:22,00:11:38,00:23:47
28169.0,9,545,JA300,6.0,33835.0,33835.0,2017-05-01 14:14:28,2017-05-01 13:36:36,5452.0,5452.0,2017-05-01 14:54:51,2017-05-01 14:10:54,00:43:57,00:34:18
28174.0,1,515,EA303,10.0,33580.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,27791.0,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,00:03:48,00:15:30
28177.0,5,658,JA026,8.0,35212.0,35212.0,2017-05-01 13:45:18,2017-05-01 13:36:44,27620.0,27620.0,2017-05-01 13:48:00,2017-05-01 13:38:12,00:09:48,00:01:28
28180.0,5,182,BC002,8.0,31854.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,28615.0,28615.0,2017-05-01 14:29:58,2017-05-01 13:55:37,00:34:21,00:18:51
28204.0,2,040,HB604,4.0,34260.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:05,34123.0,34123.0,2017-05-01 14:22:38,2017-05-01 13:52:15,00:30:23,00:15:10
28212.0,1,472,EC006,9.0,30078.0,30078.0,2017-05-01 13:40:41,2017-05-01 13:37:12,26182.0,26182.0,2017-05-01 14:14:00,2017-05-01 14:01:58,00:12:02,00:24:46
28214.0,1,371,BC031,10.0,31811.0,31811.0,2017-05-01 13:36:06,2017-05-01 13:37:13,26363.0,26363.0,2017-05-01 13:58:00,2017-05-01 13:54:51,00:03:09,00:17:38
28225.0,10,812,BA020,9.0,30320.0,30320.0,2017-05-01 15:35:48,2017-05-01 13:37:23,30270.0,30270.0,2017-05-01 15:48:42,2017-05-01 13:45:17,02:03:25,00:07:54
28226.0,2,040,HB604,4.0,34260.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:24,34123.0,34123.0,2017-05-01 14:22:38,2017-05-01 13:52:15,00:30:23,00:14:51
28229.0,10,684,HA298,11.0,39365.0,39365.0,2017-05-01 15:13:08,2017-05-01 13:37:29,34160.0,34160.0,2017-05-01 15:45:02,2017-05-01 13:57:14,01:47:48,00:19:45
28234.0,5,870,BC014,7.0,26314.0,26314.0,2017-05-01 13:49:00,2017-05-01 13:37:35,34553.0,34553.0,2017-05-01 13:58:11,2017-05-01 13:50:19,00:07:52,00:12:44
28252.0,1,332,DA015,22.0,32459.0,32459.0,2017-05-01 13:44:34,2017-05-01 13:37:55,30123.0,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,00:04:43,00:09:22
28262.0,1,827,BC929,12.0,33775.0,33775.0,2017-05-01 13:40:17,2017-05-01 13:37:59,30993.0,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,00:06:15
28272.0,1,870,BC012,7.0,30265.0,30265.0,2017-05-01 13:39:02,2017-05-01 13:38:05,26314.0,26314.0,2017-05-01 14:04:00,2017-05-01 13:52:48,00:11:12,00:14:43
28276.0,1,652,LA011,11.0,36694.0,36694.0,2017-05-01 13:46:38,2017-05-01 13:38:11,28609.0,28609.0,2017-05-01 14:04:00,2017-05-01 13:55:44,00:08:16,00:17:33
28282.0,2,655,HA001,9.0,39259.0,39259.0,2017-05-01 13:42:24,2017-05-01 13:38:16,34160.0,34160.0,2017-05-01 14:03:06,2017-05-01 13:53:32,00:09:34,00:15:16
28290.0,1,680,HA003,9.0,8644.0,8644.0,2017-05-01 13:38:06,2017-05-01 13:38:19,34160.0,34160.0,2017-05-01 14:04:56,2017-05-01 13:53:24,00:11:32,00:15:05
28306.0,1,629,KA605,9.0,29839.0,29839.0,2017-05-01 13:43:48,2017-05-01 13:38:33,27486.0,27486.0,2017-05-01 14:08:00,2017-05-01 13:57:11,00:10:49,00:18:38
28308.0,2,684,HA002,5.0,32043.0,32043.0,2017-05-01 13:38:03,2017-05-01 13:38:36,31053.0,31053.0,2017-05-01 13:48:00,2017-05-01 13:46:28,00:01:32,00:07:52
28321.0,1,335,DA022,11.0,33587.0,33587.0,2017-05-01 13:39:38,2017-05-01 13:38:47,30027.0,30027.0,2017-05-01 13:50:00,2017-05-01 13:47:05,00:02:55,00:08:18
28329.0,6,030,CB600,3.0,32508.0,32508.0,2017-05-01 13:42:07,2017-05-01 13:38:54,30459.0,30459.0,2017-05-01 13:58:00,2017-05-01 13:48:41,00:09:19,00:09:47
28332.0,6,270,BN619,7.0,31691.0,31691.0,2017-05-01 14:07:12,2017-05-01 13:38:56,30598.0,30598.0,2017-05-01 14:24:24,2017-05-01 13:52:23,00:32:01,00:13:27
28337.0,9,652,LA011,11.0,36694.0,36694.0,2017-05-01 14:51:11,2017-05-01 13:38:59,35104.0,35104.0,2017-05-01 15:08:28,2017-05-01 13:48:42,01:19:46,00:09:43
28341.0,6,030,CB600,3.0,32508.0,32508.0,2017-05-01 13:42:07,2017-05-01 13:39:02,30459.0,30459.0,2017-05-01 13:58:00,2017-05-01 13:48:41,00:09:19,00:09:39
28349.0,2,021,GR122,4.0,27475.0,27475.0,2017-05-01 13:44:00,2017-05-01 13:39:09,27746.0,27746.0,2017-05-01 14:06:00,2017-05-01 13:50:07,00:15:53,00:10:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30519.0,7,182,BC002,8.0,26353.0,26353.0,2017-05-01 14:32:00,2017-05-01 14:04:45,28587.0,28587.0,2017-05-01 14:41:45,2017-05-01 14:15:09,00:26:36,00:10:24
31239.0,2,653,HA291,9.0,33847.0,33847.0,2017-05-01 14:17:46,2017-05-01 14:13:25,35104.0,35104.0,2017-05-01 14:25:14,2017-05-01 14:19:19,00:05:55,00:05:54
31285.0,1,777,JC004,10.0,26149.0,26149.0,2017-05-01 14:16:00,2017-05-01 14:13:51,33569.0,33569.0,2017-05-01 14:41:17,2017-05-01 14:32:28,00:08:49,00:18:37
32136.0,4,270,BN619,7.0,30828.0,30828.0,2017-05-01 14:55:11,2017-05-01 14:24:29,31692.0,31692.0,2017-05-01 15:11:45,2017-05-01 14:36:01,00:35:44,00:11:32
38953.0,2,812,BA019,10.0,30262.0,30262.0,2017-05-01 15:53:59,2017-05-01 15:36:38,30319.0,30319.0,2017-05-01 16:02:04,2017-05-01 15:40:15,00:21:49,00:03:37
39353.0,7,040,LB602,1.0,33745.0,33745.0,2017-05-01 17:04:20,2017-05-01 15:40:50,35107.0,35107.0,2017-05-01 17:47:18,2017-05-01 16:18:37,01:28:41,00:37:47
40705.0,6,181,BN606,2.0,10906.0,10906.0,2017-05-01 16:18:48,2017-05-01 15:55:41,26349.0,26349.0,2017-05-01 16:28:00,2017-05-01 16:06:47,00:21:13,00:11:06
41233.0,1,371,BC030,12.0,26363.0,26363.0,2017-05-01 16:10:00,2017-05-01 16:01:13,31813.0,31813.0,2017-05-01 16:32:37,2017-05-01 16:16:22,00:16:15,00:15:09
43419.0,5,876,BC026,10.0,34237.0,34237.0,2017-05-01 16:55:01,2017-05-01 16:24:53,10320.0,10320.0,2017-05-01 17:09:00,2017-05-01 16:38:17,00:30:43,00:13:24
44578.0,4,216,HA601,8.0,29157.0,29157.0,2017-05-01 16:58:41,2017-05-01 16:36:31,45364.0,45364.0,2017-05-01 17:07:45,2017-05-01 16:41:03,00:26:42,00:04:32
45308.0,1,870,BC283,10.0,26314.0,26314.0,2017-05-01 16:47:00,2017-05-01 16:44:12,34566.0,34566.0,2017-05-01 17:10:09,2017-05-01 17:02:53,00:07:16,00:18:41
49951.0,5,461,DC850,12.0,26156.0,26156.0,2017-05-01 17:48:00,2017-05-01 17:30:08,3830.0,3830.0,2017-05-01 18:27:00,2017-05-01 17:56:45,00:30:15,00:26:37
51966.0,4,811,BA022,18.0,30515.0,30515.0,2017-05-01 18:03:26,2017-05-01 17:49:42,28134.0,28134.0,2017-05-01 18:28:00,2017-05-01 18:06:19,00:21:41,00:16:37
52772.0,5,183,BC186,11.0,35642.0,35642.0,2017-05-01 18:15:31,2017-05-01 17:57:59,29384.0,29384.0,2017-05-01 18:57:20,2017-05-01 18:22:31,00:34:49,00:24:32
53308.0,3,040,GR124,4.0,34123.0,34123.0,2017-05-01 18:16:11,2017-05-01 18:02:28,35104.0,35104.0,2017-05-01 18:49:01,2017-05-01 18:26:18,00:22:43,00:23:50
55169.0,5,683,GA139,15.0,39194.0,39194.0,2017-05-01 18:28:08,2017-05-01 18:20:24,37415.0,37415.0,2017-05-01 18:31:00,2017-05-01 18:23:37,00:07:23,00:03:13
56164.0,1,683,GA139,16.0,39193.0,39193.0,2017-05-01 18:39:18,2017-05-01 18:30:21,30021.0,30021.0,2017-05-01 18:53:00,2017-05-01 18:55:07,00:02:07,00:24:46
57132.0,1,639,GA142,16.0,37163.0,37163.0,2017-05-01 18:45:25,2017-05-01 18:40:47,34160.0,34160.0,2017-05-01 19:02:46,2017-05-01 18:54:37,00:08:09,00:13:50
57607.0,7,548,GA158,12.0,31582.0,31582.0,2017-05-01 19:26:51,2017-05-01 18:46:16,31243.0,31243.0,2017-05-01 19:42:49,2017-05-01 18:57:20,00:45:29,00:11:04
58869.0,5,967,MN608,7.0,33311.0,33311.0,2017-05-01 19:17:29,2017-05-01 18:59:21,33682.0,33682.0,2017-05-01 19:25:12,2017-05-01 19:05:01,00:20:11,00:05:40
61070.0,1,020,BB613,7.0,30949.0,30949.0,2017-05-01 19:28:16,2017-05-01 19:19:27,27715.0,27715.0,2017-05-01 19:40:00,2017-05-01 19:33:49,00:06:11,00:14:22
61753.0,1,812,BA020,15.0,30262.0,30262.0,2017-05-01 19:40:09,2017-05-01 19:27:42,30319.0,30319.0,2017-05-01 19:48:33,2017-05-01 19:31:11,00:17:22,00:03:29
65005.0,1,712,HA016,23.0,35531.0,35531.0,2017-05-01 20:35:36,2017-05-01 20:28:26,31631.0,31631.0,2017-05-01 20:48:00,2017-05-01 20:37:19,00:10:41,00:08:53
66750.0,1,050,JB301,9.0,31749.0,31749.0,2017-05-01 21:20:37,2017-05-01 21:09:39,29171.0,29171.0,2017-05-01 21:35:59,2017-05-01 21:19:50,00:16:09,00:10:11
70106.0,1,685,HA288,15.0,36326.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,00:26:34,00:14:07
70138.0,9,685,HA286,15.0,35167.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,35449.0,35449.0,2017-05-01 23:33:19,2017-05-01 22:34:49,00:58:30,00:02:50
70719.0,4,924,BA124,10.0,32234.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,00:09:16,00:15:47
71039.0,1,777,JC004,20.0,33567.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,00:04:28,00:12:52
71056.0,3,030,KB600,7.0,26222.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,00:33:05,00:10:36
71837.0,4,472,KC002,16.0,26583.0,26583.0,2017-05-02 05:59:35,2017-05-01 23:26:52,30062.0,30062.0,2017-05-02 06:28:02,2017-05-01 23:41:07,06:46:55,00:14:15

In [222]:
vehicle_first_boardings_filtered.otp_buste_end_timediff.describe()

count                        83
mean     0 days 00:19:36.337349
std      0 days 00:44:32.422767
min             0 days 00:00:36
25%             0 days 00:06:48
50%             0 days 00:12:02
75%             0 days 00:21:27
max             0 days 06:46:55
Name: otp_buste_end_timediff, dtype: object

In [59]:
def get_otp_matched_legs(ebuste_otp_matches_itin,otp_suggestions):
        otp_legs_suggestions_matches = ebuste_otp_matches_itin.merge(otp_suggestions,
                                                                     left_on=['o_boarding_id','itinerary_id'],
                                                                     right_on=['user_trip_id','itinerary_id'],
                                                                     how='inner')
        #otp_legs_suggestions_matches['first_vehicle_boarding'] = np.where((otp_legs_suggestions_matches['mode'] == "BUS") & 
        #                                                                  (np.logical_not(otp_legs_suggestions_matches['o_busCode'].str.isdigit()) & 
        #                                                                   (otp_legs_suggestions_matches['o_route'] == otp_legs_suggestions_matches['route'])),
        #                                                                  True,
        #                                                                  False) #\
        #                                                                #.filter(np.append(otp_suggestions.columns.values,['first_vehicle_boarding','o_busCode','o_tripNum','o_boarding_datetime']))
        return otp_legs_suggestions_matches

In [64]:
        # Add OTP extra origin/next-origin pairs to final dataset
        #vehicle_boarding_matched_itins = matched_vehicle_boardings.filter(np.append(trips_origins.columns.values,['itinerary_id']))
        vehicle_otp_filtered_legs = get_otp_matched_legs(vehicle_boarding_matched_itins,otp_suggestions)
        vehicle_otp_filtered_bus_legs = get_otp_matched_legs(vehicle_boarding_matched_itins,otp_suggestions).query('mode == \'BUS\'')
        vehicle_otp_filtered_walk_legs = get_otp_matched_legs(vehicle_boarding_matched_itins,otp_suggestions).query('mode == \'WALK\'')

In [65]:
vehicle_otp_filtered_legs.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,...,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,from_parent_station,to_parent_station,first_vehicle_boarding
0,3823073.0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,...,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0,True
1,3823073.0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,...,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN,False
2,3823073.0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,...,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0,False
3,3823073.0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,...,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN,False
4,3823073.0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,...,2017-05-01 14:28:17,2017-05-01 14:35:00,BUS,827,33788.0,30993.0,6.716667,NaN,14508.0,True

In [66]:
vehicle_otp_filtered_legs.dtypes

cardNum                            float64
o_boarding_id                      float64
o_boarding_datetime         datetime64[ns]
o_gps_datetime              datetime64[ns]
o_route                             object
o_busCode                           object
o_tripNum                          float64
o_stopPointId                      float64
o_stop_lat                         float64
o_stop_lon                         float64
next_o_boarding_id                 float64
next_o_boarding_datetime    datetime64[ns]
next_o_gps_datetime         datetime64[ns]
next_o_route                        object
next_o_busCode                      object
next_o_tripNum                     float64
next_o_stopPointId                 float64
next_o_stop_lat                    float64
next_o_stop_lon                    float64
boardings_timediff                  object
dist_between_origins               float64
itinerary_id                         int64
date                        datetime64[ns]
user_trip_id                       float64
leg_id                               int64
otp_start_time              datetime64[ns]
otp_end_time                datetime64[ns]
mode                                object
route                               object
from_stop_id                       float64
to_stop_id                         float64
otp_duration_mins                  float64
from_parent_station                float64
to_parent_station                  float64
first_vehicle_boarding                bool
dtype: object

In [72]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

In [79]:
def match_vehicle_boardings_otp_legs_start_to_buste(otp_buste_legs,bus_trips):
        otp_legs_buste_start = otp_filtered_legs.merge(bus_trips,
                                                       left_on=['route','o_busCode','o_tripNum','from_stop_id'],
                                                       right_on=['route','busCode','tripNum','stopPointId'],
                                                       how='inner') \
                                                .assign(otp_buste_start_timediff = 
                                                        lambda x: np.absolute(x['gps_datetime'] - x['otp_start_time'])) \
                                                .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_start_timediff']) \
                                                .rename(index=str, columns={'to_stop_id':'stopPointId', 'gps_datetime':'matched_start_time'})

        #otp_legs_buste_start = otp_legs_buste_start[otp_legs_buste_start['otp_buste_start_timediff'] < pd.Timedelta('60min')]
        return otp_legs_buste_start

In [74]:
        # Find legs candidate match start point
        otp_legs_buste_start = match_vehicle_boardings_otp_legs_start_to_buste(vehicle_otp_filtered_bus_legs,bus_trips)

In [77]:
otp_legs_buste_start.filter(np.append(bus_trips.columns,otp_suggestions.columns)).head()

,route,busCode,tripNum,stopPointId,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,otp_duration_mins
0,827,BC929,12.0,30993.0,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,6.450000
1,827,BC929,12.0,30993.0,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,6.450000
2,827,BC929,12.0,30993.0,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,6.450000
3,827,BC929,12.0,30993.0,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,6.450000
4,827,BC929,12.0,30993.0,28150.0,8,1,2017-05-01 14:28:17,2017-05-01 14:35:00,BUS,827,33788.0,6.716667

In [8]:
def match_otp_legs_end_to_buste(otp_filtered_legs,bus_trips):
        otp_legs_buste = otp_legs_buste_start \
                                .merge(bus_trips,
                                                 on=['route','busCode','tripNum','stopPointId'],
                                                 how='inner') \
                                .assign(otp_buste_end_timediff =
                                                        lambda x: np.absolute(x['gps_datetime'] - x['otp_end_time'])) \
                                .rename(index=str, columns={'stopPointId':'to_stop_id', 'gps_datetime':'matched_end_time'}) \
                                .assign(matched_leg_duration_mins = lambda x: x['matched_end_time'] - x['matched_start_time'],
                                                boarding_matched_start_timediff =
                                                        lambda x: np.absolute(x['o_boarding_datetime'] - x['matched_start_time'])) \
                                .query('matched_end_time > matched_start_time') \
                                .filter(['user_trip_id','first_vehicle_boarding','itinerary_id','leg_id','mode','route','busCode',
                                                 'o_busCode','tripNum','o_tripNum','from_stop_id','otp_start_time',
                                                 'matched_start_time','o_boarding_datetime','otp_buste_start_timediff',
                                                 'to_stop_id','otp_end_time','matched_end_time','otp_buste_end_timediff',
                                                 'boarding_matched_start_timediff', 'otp_duration_mins','matched_leg_duration_mins']) \
                                .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_end_timediff'])

        otp_legs_buste = otp_legs_buste[otp_legs_buste['otp_buste_end_timediff'] < pd.Timedelta('60min')]
        return otp_legs_buste

In [ ]:
itineraries_rest = pd.concat([itineraries_start,otp_suggestions.query('otp_mode == \'BUS\'').sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])]) \
                        .reset_index() \
                        .drop_duplicates(keep=False)