In [88]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [89]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2017-06-30", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

In [90]:
def match_terminal_boardings(selected_trips,itineraries_start):
        terminal_boarding_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] != '021')]
        matched_terminal_boardings = terminal_boarding_origins.merge(itineraries_start,
                                                                                                                                left_on=['o_boarding_id','o_stopPointId'],
                                                                                                                                right_on=['user_trip_id','from_parent_station'], how='inner')
        num_matched_terminal_boardings = len(matched_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
        if num_matched_terminal_boardings == 0:
            matched_perc = 0.0
        else:
            matched_perc = 100*(num_matched_terminal_boardings/float(len(terminal_boarding_origins)))
        return (matched_terminal_boardings,num_matched_terminal_boardings,matched_perc)

def match_terminal_021_boardings(selected_trips,itineraries_start):
        terminal_021_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] == '021')]
        matched_021_terminal_boardings = terminal_021_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','from_parent_station'], how='inner')
        num_matched_021_terminal_boardings = len(matched_021_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
        if num_matched_021_terminal_boardings == 0:
                terminal_021_match_perc = 0.0
        else:
                terminal_021_match_perc = 100*(num_matched_021_terminal_boardings/float(len(terminal_021_origins)))
        return (len(terminal_021_origins),matched_021_terminal_boardings,num_matched_021_terminal_boardings,terminal_021_match_perc)

In [94]:
def get_candidate_itineraries_penalty_score(otp_buste_itineraries_filtered):
        otp_buste_itineraries_penalty = otp_buste_itineraries_filtered \
                                                        .assign(penalty = lambda x: 2*x['start_diff'].dt.total_seconds() + x['trip_duration'].dt.total_seconds() + x['match_num_transfers']*10) \
                                                        [['cardNum','user_trip_id','itinerary_id','match_num_transfers','match_vehicle_boarding','next_origin_dist','origin_dist','start_diff','trip_duration','penalty']] \
                                                        .sort_values(['user_trip_id','penalty'], ascending=True)
        return otp_buste_itineraries_penalty

## Main

In [96]:
otp_suggestions_filepath = '/local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv'
user_trips_folderpath = '/local/tarciso/data/enhanced-buste/user_trips/'
bus_trips_folderpath = '/local/tarciso/data/enhanced-buste/bus_trips/'
gtfs_base_folderpath = '/local/tarciso/data/gtfs/'
output_folderpath = '/local/tarciso/data/test-odmat/'

In [97]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_user_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: /local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv

In [98]:
        # Extracting itinerary part name for later use
        itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
        # Read OTP Suggestions
        otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

        if len(otp_suggestions_raw) == 0:
            print "Zero OTP suggestions found."
            print "Skipping next steps..."
            exit(0)

In [99]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [100]:
        # Prepare OTP data for analysis
        otp_suggestions = prepare_otp_data(otp_suggestions_raw)

        # Read stops data
        stops_filepath = gtfs_base_folderpath + os.sep + get_router_id(file_date) + os.sep + 'stops.txt'
        stops_df = pd.read_csv(stops_filepath)

        # Adding Parent Stop data to OTP Suggestions
        stops_parent_stations = stops_df[['stop_id','parent_station']]
        otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
        otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
        otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [101]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

## Match Scheduled Itineraries to Observed Bus Trips

### Read and Prepare Bus Trips data

In [102]:
        # Find OTP Suggested Itineraries in BUSTE Data
        bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
        bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))

In [103]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

In [104]:
bus_trips.dtypes

route                            object
busCode                          object
shapeId                         float64
tripNum                         float64
stopPointId                     float64
gps_datetime             datetime64[ns]
distanceTraveledShape           float64
stop_lat                        float64
stop_lon                        float64
parent_station                  float64
dtype: object

In [105]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

In [106]:
scheduled_itin_observed_od = otp_suggestions_bus_legs.merge(bus_trips.add_prefix('bt_from_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_from_route','bt_from_stopPointId'],
                                how='inner') \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_from_gps_datetime'] - x['otp_start_time']))
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_start_timediff'] <= pd.Timedelta(minutes=60)]

In [107]:
scheduled_itin_observed_od = scheduled_itin_observed_od.merge(bus_trips.add_prefix('bt_to_'),
                                left_on=['otp_route','bt_from_busCode','bt_from_tripNum','otp_to_stop_id'],
                                right_on=['bt_to_route','bt_to_busCode','bt_to_tripNum','bt_to_stopPointId'],
                                how='inner') \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_to_gps_datetime'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_end_timediff'] <= pd.Timedelta(minutes=60)]

In [108]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs])

/local/tarciso/programs/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [109]:
#bus_trips[(bus_trips['route'] == '827') & (bus_trips['stopPointId'] == 33788)].sort_values(['gps_datetime'])

In [110]:
scheduled_itin_observed_od_full.filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_route','bt_from_busCode','bt_from_tripNum','bt_from_stopPointId','otp_start_time','bt_from_gps_datetime','sched_obs_start_timediff','bt_to_stopPointId','otp_end_time','bt_to_gps_datetime','sched_obs_end_timediff']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_route,bt_from_busCode,bt_from_tripNum,bt_from_stopPointId,otp_start_time,bt_from_gps_datetime,sched_obs_start_timediff,bt_to_stopPointId,otp_end_time,bt_to_gps_datetime,sched_obs_end_timediff
3,28150.0,1,1,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46
4,28150.0,1,1,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46
5,28150.0,1,1,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46
6,28150.0,1,1,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46
15,28150.0,1,1,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,00:45:58
0,28150.0,1,1,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,00:51:56
1,28150.0,1,2,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaT,NaN,2017-05-01 13:45:52,NaT,NaT
110,28150.0,1,3,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,00:11:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,00:10:11
51,28150.0,1,3,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,00:23:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,00:26:00
67,28150.0,1,3,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,00:34:26,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,00:37:36
24,28150.0,1,3,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,00:38:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,00:35:27
103,28150.0,1,3,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,00:43:38,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,00:46:53
152,28150.0,1,3,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,00:50:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,00:48:33
3,28150.0,1,4,nan,NaN,NaN,NaN,2017-05-01 14:02:00,NaT,NaT,NaN,2017-05-01 14:09:32,NaT,NaT
5,28150.0,2,2,nan,NaN,NaN,NaN,2017-05-01 13:57:00,NaT,NaT,NaN,2017-05-01 13:57:39,NaT,NaT
111,28150.0,2,3,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09
25,28150.0,2,3,303,DE708,5.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:29:24,00:26:24,25753.0,2017-05-01 14:15:19,2017-05-01 14:37:26,00:22:07
52,28150.0,2,3,303,DE710,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 13:27:30,00:35:30,25753.0,2017-05-01 14:15:19,2017-05-01 13:35:59,00:39:20
153,28150.0,2,3,303,LE702,5.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:41:47,00:38:47,25753.0,2017-05-01 14:15:19,2017-05-01 14:50:32,00:35:13
68,28150.0,2,3,303,DE713,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 13:16:34,00:46:26,25753.0,2017-05-01 14:15:19,2017-05-01 13:24:23,00:50:56
7,28150.0,2,4,nan,NaN,NaN,NaN,2017-05-01 14:15:20,NaT,NaT,NaN,2017-05-01 14:22:52,NaT,NaT
8,28150.0,3,1,nan,NaN,NaN,NaN,2017-05-01 13:41:55,NaT,NaT,NaN,2017-05-01 14:03:38,NaT,NaT
444,28150.0,3,2,870,BC283,8.0,33980.0,2017-05-01 14:03:39,2017-05-01 13:57:41,00:05:58,35079.0,2017-05-01 14:20:05,2017-05-01 14:07:33,00:12:32
440,28150.0,3,2,870,BC014,8.0,33980.0,2017-05-01 14:03:39,2017-05-01 14:21:56,00:18:17,35079.0,2017-05-01 14:20:05,2017-05-01 14:30:25,00:10:20
441,28150.0,3,2,870,BC014,8.0,33980.0,2017-05-01 14:03:39,2017-05-01 14:21:56,00:18:17,35079.0,2017-05-01 14:20:05,2017-05-01 14:30:25,00:10:20
435,28150.0,3,2,870,BC012,7.0,33980.0,2017-05-01 14:03:39,2017-05-01 13:34:01,00:29:38,35079.0,2017-05-01 14:20:05,2017-05-01 13:43:41,00:36:24
437,28150.0,3,2,870,BC012,8.0,33980.0,2017-05-01 14:03:39,2017-05-01 14:43:05,00:39:26,35079.0,2017-05-01 14:20:05,2017-05-01 14:53:03,00:32:58
439,28150.0,3,2,870,BC014,7.0,33980.0,2017-05-01 14:03:39,2017-05-01 13:11:07,00:52:32,35079.0,2017-05-01 14:20:05,2017-05-01 13:20:35,00:59:30
10,28150.0,3,3,nan,NaN,NaN,NaN,2017-05-01 14:20:06,NaT,NaT,NaN,2017-05-01 14:31:34,NaT,NaT
12,28150.0,4,2,nan,NaN,NaN,NaN,2017-05-01 14:12:00,NaT,NaT,NaN,2017-05-01 14:12:39,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7965,72050.0,9,3,nan,NaN,NaN,NaN,2017-05-02 07:00:54,NaT,NaT,NaN,2017-05-02 07:02:07,NaT,NaT
7968,72050.0,9,6,nan,NaN,NaN,NaN,2017-05-02 07:44:34,NaT,NaT,NaN,2017-05-02 07:46:27,NaT,NaT
7969,72050.0,10,1,nan,NaN,NaN,NaN,2017-05-02 06:49:44,NaT,NaT,NaN,2017-05-02 06:53:45,NaT,NaT
7972,72050.0,10,4,nan,NaN,NaN,NaN,2017-05-02 07:21:25,NaT,NaT,NaN,2017-05-02 07:23:38,NaT,NaT
7974,72050.0,10,6,nan,NaN,NaN,NaN,2017-05-02 07:55:42,NaT,NaT,NaN,2017-05-02 07:57:35,NaT,NaT
7975,72172.0,1,1,nan,NaN,NaN,NaN,2017-05-02 05:45:54,NaT,NaT,NaN,2017-05-02 05:54:04,NaT,NaT
7977,72172.0,1,3,nan,NaN,NaN,NaN,2017-05-02 06:05:42,NaT,NaT,NaN,2017-05-02 06:26:27,NaT,NaT
7978,72172.0,2,1,nan,NaN,NaN,NaN,2017-05-02 05:59:38,NaT,NaT,NaN,2017-05-02 06:00:30,NaT,NaT
7980,72172.0,2,3,nan,NaN,NaN,NaN,2017-05-02 06:15:00,NaT,NaT,NaN,2017-05-02 06:15:39,NaT,NaT
7982,72172.0,2,5,nan,NaN,NaN,NaN,2017-05-02 06:28:45,NaT,NaT,NaN,2017-05-02 06:28:48,NaT,NaT
7983,72172.0,3,1,nan,NaN,NaN,NaN,2017-05-02 06:00:17,NaT,NaT,NaN,2017-05-02 06:07:51,NaT,NaT
7985,72172.0,3,3,nan,NaN,NaN,NaN,2017-05-02 06:15:57,NaT,NaT,NaN,2017-05-02 06:33:05,NaT,NaT
7986,72172.0,4,1,nan,NaN,NaN,NaN,2017-05-02 06:06:50,NaT,NaT,NaN,2017-05-02 06:07:42,NaT,NaT
7988,72172.0,4,3,nan,NaN,NaN,NaN,2017-05-02 06:20:00,NaT,NaT,NaN,2017-05-02 06:20:39,NaT,NaT
7990,72172.0,4,5,nan,NaN,NaN,NaN,2017-05-02 06:37:45,NaT,NaT,NaN,2017-05-02 06:37:48,NaT,NaT
7991,72172.0,5,1,nan,NaN,NaN,NaN,2017-05-02 06:12:26,NaT,NaT,NaN,2017-05-02 06:20:00,NaT,NaT
7993,72172.0,5,3,nan,NaN,NaN,NaN,2017-05-02 06:29:26,NaT,NaT,NaN,2017-05-02 06:30:14,NaT,NaT
7996,72172.0,5,6,nan,NaN,NaN,NaN,2017-05-02 06:40:04,NaT,NaT,NaN,2017-05-02 06:40:07,NaT,NaT
7997,72172.0,6,1,nan,NaN,NaN,NaN,2017-05-02 06:07:58,NaT,NaT,NaN,2017-05-02 06:15:32,NaT,NaT
7999,72172.0,6,3,nan,NaN,NaN,NaN,2017-05-02 06:25:19,NaT,NaT,NaN,2017-05-02 06:42:27,NaT,NaT
8000,72172.0,7,1,nan,NaN,NaN,NaN,2017-05-02 06:20:31,NaT,NaT,NaN,2017-05-02 06:21:23,NaT,NaT
8002,72172.0,7,3,nan,NaN,NaN,NaN,2017-05-02 06:35:00,NaT,NaT,NaN,2017-05-02 06:35:39,NaT,NaT
8004,72172.0,7,5,nan,NaN,NaN,NaN,2017-05-02 06:45:45,NaT,NaT,NaN,2017-05-02 06:45:48,NaT,NaT
8005,72172.0,8,1,nan,NaN,NaN,NaN,2017-05-02 06:16:54,NaT,NaT,NaN,2017-05-02 06:24:28,NaT,NaT
8007,72172.0,8,3,nan,NaN,NaN,NaN,2017-05-02 06:33:35,NaT,NaT,NaN,2017-05-02 06:50:43,NaT,NaT
8008,72172.0,9,1,nan,NaN,NaN,NaN,2017-05-02 06:21:21,NaT,NaT,NaN,2017-05-02 06:28:55,NaT,NaT
8010,72172.0,9,3,nan,NaN,NaN,NaN,2017-05-02 06:37:42,NaT,NaT,NaN,2017-05-02 06:54:50,NaT,NaT
8011,72172.0,10,1,nan,NaN,NaN,NaN,2017-05-02 06:43:23,NaT,NaT,NaN,2017-05-02 06:44:15,NaT,NaT
8013,72172.0,10,3,nan,NaN,NaN,NaN,2017-05-02 06:57:00,NaT,NaT,NaN,2017-05-02 06:57:39,NaT,NaT
8015,72172.0,10,5,nan,NaN,NaN,NaN,2017-05-02 07:10:15,NaT,NaT,NaN,2017-05-02 07:10:18,NaT,NaT

In [111]:
#Run choose_legs on scheduled_itin_observed_od

In [112]:
scheduled_itin_observed_od_earliest = scheduled_itin_observed_od_full.sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff']) \
                        .groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']) \
                        .first() \
                        .filter(['otp_route','otp_mode','stopPointId','otp_start_time','bt_from_gps_datetime','sched_obs_start_timediff','sched_obs_end_timediff']) \
                        .reset_index()

In [113]:
scheduled_itin_observed_od_earliest

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_route,otp_mode,otp_start_time,bt_from_gps_datetime,sched_obs_start_timediff,sched_obs_end_timediff
0,28150.0,1,1,827,BUS,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,00:00:46
1,28150.0,1,2,nan,WALK,2017-05-01 13:45:00,NaT,NaT,NaT
2,28150.0,1,3,303,BUS,2017-05-01 13:51:00,2017-05-01 14:02:48,00:11:48,00:10:11
3,28150.0,1,4,nan,WALK,2017-05-01 14:02:00,NaT,NaT,NaT
4,28150.0,2,2,nan,WALK,2017-05-01 13:57:00,NaT,NaT,NaT
5,28150.0,2,3,303,BUS,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,00:03:09
6,28150.0,2,4,nan,WALK,2017-05-01 14:15:20,NaT,NaT,NaT
7,28150.0,3,1,nan,WALK,2017-05-01 13:41:55,NaT,NaT,NaT
8,28150.0,3,2,870,BUS,2017-05-01 14:03:39,2017-05-01 13:57:41,00:05:58,00:12:32
9,28150.0,3,3,nan,WALK,2017-05-01 14:20:06,NaT,NaT,NaT
10,28150.0,4,2,nan,WALK,2017-05-01 14:12:00,NaT,NaT,NaT
11,28150.0,4,3,303,BUS,2017-05-01 14:15:00,2017-05-01 14:02:48,00:12:12,00:13:49
12,28150.0,4,4,nan,WALK,2017-05-01 14:26:00,NaT,NaT,NaT
13,28150.0,5,1,nan,WALK,2017-05-01 13:53:08,NaT,NaT,NaT
14,28150.0,5,2,821,BUS,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,00:27:27
15,28150.0,5,3,nan,WALK,2017-05-01 14:14:00,NaT,NaT,NaT
16,28150.0,5,4,303,BUS,2017-05-01 14:21:00,2017-05-01 14:29:24,00:08:24,00:04:07
17,28150.0,5,5,nan,WALK,2017-05-01 14:33:20,NaT,NaT,NaT
18,28150.0,6,1,nan,WALK,2017-05-01 13:56:55,NaT,NaT,NaT
19,28150.0,6,2,870,BUS,2017-05-01 14:18:39,2017-05-01 14:21:56,00:03:17,00:04:40
20,28150.0,6,3,nan,WALK,2017-05-01 14:35:06,NaT,NaT,NaT
21,28150.0,7,2,nan,WALK,2017-05-01 14:27:00,NaT,NaT,NaT
22,28150.0,7,3,303,BUS,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,00:06:33
23,28150.0,7,4,nan,WALK,2017-05-01 14:44:00,NaT,NaT,NaT
24,28150.0,8,1,827,BUS,2017-05-01 14:28:17,2017-05-01 14:22:34,00:05:43,00:04:02
25,28150.0,8,2,nan,WALK,2017-05-01 14:35:00,NaT,NaT,NaT
26,28150.0,8,3,303,BUS,2017-05-01 14:39:00,2017-05-01 14:41:47,00:02:47,00:00:47
27,28150.0,8,4,nan,WALK,2017-05-01 14:51:20,NaT,NaT,NaT
28,28150.0,9,2,nan,WALK,2017-05-01 14:42:00,NaT,NaT,NaT
29,28150.0,9,3,303,BUS,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,00:06:47
...,...,...,...,...,...,...,...,...,...
7323,72050.0,9,3,nan,WALK,2017-05-02 07:00:54,NaT,NaT,NaT
7324,72050.0,9,6,nan,WALK,2017-05-02 07:44:34,NaT,NaT,NaT
7325,72050.0,10,1,nan,WALK,2017-05-02 06:49:44,NaT,NaT,NaT
7326,72050.0,10,4,nan,WALK,2017-05-02 07:21:25,NaT,NaT,NaT
7327,72050.0,10,6,nan,WALK,2017-05-02 07:55:42,NaT,NaT,NaT
7328,72172.0,1,1,nan,WALK,2017-05-02 05:45:54,NaT,NaT,NaT
7329,72172.0,1,3,nan,WALK,2017-05-02 06:05:42,NaT,NaT,NaT
7330,72172.0,2,1,nan,WALK,2017-05-02 05:59:38,NaT,NaT,NaT
7331,72172.0,2,3,nan,WALK,2017-05-02 06:15:00,NaT,NaT,NaT
7332,72172.0,2,5,nan,WALK,2017-05-02 06:28:45,NaT,NaT,NaT
7333,72172.0,3,1,nan,WALK,2017-05-02 06:00:17,NaT,NaT,NaT
7334,72172.0,3,3,nan,WALK,2017-05-02 06:15:57,NaT,NaT,NaT
7335,72172.0,4,1,nan,WALK,2017-05-02 06:06:50,NaT,NaT,NaT
7336,72172.0,4,3,nan,WALK,2017-05-02 06:20:00,NaT,NaT,NaT
7337,72172.0,4,5,nan,WALK,2017-05-02 06:37:45,NaT,NaT,NaT
7338,72172.0,5,1,nan,WALK,2017-05-02 06:12:26,NaT,NaT,NaT
7339,72172.0,5,3,nan,WALK,2017-05-02 06:29:26,NaT,NaT,NaT
7340,72172.0,5,6,nan,WALK,2017-05-02 06:40:04,NaT,NaT,NaT
7341,72172.0,6,1,nan,WALK,2017-05-02 06:07:58,NaT,NaT,NaT
7342,72172.0,6,3,nan,WALK,2017-05-02 06:25:19,NaT,NaT,NaT
7343,72172.0,7,1,nan,WALK,2017-05-02 06:20:31,NaT,NaT,NaT
7344,72172.0,7,3,nan,WALK,2017-05-02 06:35:00,NaT,NaT,NaT
7345,72172.0,7,5,nan,WALK,2017-05-02 06:45:45,NaT,NaT,NaT
7346,72172.0,8,1,nan,WALK,2017-05-02 06:16:54,NaT,NaT,NaT
7347,72172.0,8,3,nan,WALK,2017-05-02 06:33:35,NaT,NaT,NaT
7348,72172.0,9,1,nan,WALK,2017-05-02 06:21:21,NaT,NaT,NaT
7349,72172.0,9,3,nan,WALK,2017-05-02 06:37:42,NaT,NaT,NaT
7350,72172.0,10,1,nan,WALK,2017-05-02 06:43:23,NaT,NaT,NaT
7351,72172.0,10,3,nan,WALK,2017-05-02 06:57:00,NaT,NaT,NaT
7352,72172.0,10,5,nan,WALK,2017-05-02 07:10:15,NaT,NaT,NaT

In [114]:
scheduled_itin_observed_od_earliest[scheduled_itin_observed_od_earliest['otp_mode'] == 'BUS'].sched_obs_start_timediff.quantile(.95)

Timedelta('0 days 00:28:10.500000')

### Read and Prepare Origin/Next-Origin Pairs data

In [115]:
def compatible_dates(otp_data,ticketing_data):
        otp_date = otp_data['otp_date'].iloc[0]
        ticketing_date = pd.to_datetime(ticketing_data['o_boarding_datetime'].dt.strftime('%Y-%m-%d')[0])

        return (otp_date == ticketing_date,otp_date,ticketing_date)

In [116]:
        # Read Origin/Next-Origin Pairs for the same date
        trips_origins_filepath = user_trips_folderpath + os.sep + file_date_str + '_user_trips.csv'
        trips_on_pairs_full = pd.read_csv(trips_origins_filepath,
                                                parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])
        # Checking whether OTP and ticketing dates match
        dates_compatibility, otp_date, ticketing_date = compatible_dates(otp_suggestions,trips_on_pairs_full)
        if not dates_compatibility:
                print "ERROR: OTP date", otp_date, "does not match Ticketing data", ticketing_date
                print "Skipping current day"
                exit(1)
        
        trips_on_pairs = trips_on_pairs_full.filter(['o_boarding_id','next_o_boarding_id'])
        trips_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('o_')])
        trips_next_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('next_o_')])

In [117]:
trips_origins.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
0,180.0,2017-05-01 04:48:42,2017-05-01 04:48:17,650,HA030,1.0,36293.0,-25.568989,-49.332253
1,40392.0,2017-05-01 15:52:39,NaT,021,08044,NaN,41791.0,-25.431951,-49.296491
2,181.0,2017-05-01 04:49:13,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900
3,31560.0,2017-05-01 14:16:55,NaT,000,00038,NaN,26051.0,-25.447479,-49.263816
4,182.0,2017-05-01 04:49:19,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900

In [118]:
trips_next_origins.head()

,next_o_boarding_id,next_o_boarding_datetime,next_o_gps_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_stop_lat,next_o_stop_lon
0,40392.0,2017-05-01 15:52:39,NaT,021,08044,NaN,41791.0,-25.431951,-49.296491
1,180.0,2017-05-01 04:48:42,2017-05-01 04:48:17,650,HA030,1.0,36293.0,-25.568989,-49.332253
2,31560.0,2017-05-01 14:16:55,NaT,000,00038,NaN,26051.0,-25.447479,-49.263816
3,181.0,2017-05-01 04:49:13,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900
4,61724.0,2017-05-01 19:27:16,2017-05-01 19:26:26,814,LA851,21.0,30284.0,-25.432534,-49.338889

In [119]:
trips_on_pairs.head()

   o_boarding_id  next_o_boarding_id
0          180.0             40392.0
1        40392.0               180.0
2          181.0             31560.0
3        31560.0               181.0
4          182.0             61724.0

In [120]:
        # Selecting trips for whom OTP suggestions were found
        selected_trips = trips_origins[trips_origins['o_boarding_id'].isin(otp_suggestions['otp_user_trip_id'])]
        num_selected_trips = len(selected_trips)

In [121]:
        # Matching all kinds of boarding events to valid OTP suggestions
        itins_first_bus_legs = otp_suggestions.query('otp_mode == \'BUS\'') \
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .first() \
                                .reset_index()

In [122]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [123]:
len(itins_first_bus_legs)

2000

In [124]:
len(pd.concat([itins_first_bus_legs,otp_suggestions]).drop_duplicates(keep=False))

/local/tarciso/programs/anaconda3/envs/py2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

7092

In [125]:
itins_rest_bus_legs = otp_suggestions.query('otp_mode == \'BUS\'') \
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .apply(lambda group: group.iloc[1:]) #\
                                #.reset_index(level=0)

In [126]:
itins_rest_bus_legs

                                         otp_date  otp_user_trip_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01           28150.0
                 2                6    2017-05-01           28150.0
                 4                13   2017-05-01           28150.0
                 5                18   2017-05-01           28150.0
                 7                25   2017-05-01           28150.0
                 8                29   2017-05-01           28150.0
                 9                33   2017-05-01           28150.0
                 10               37   2017-05-01           28150.0
28154.0          1                71   2017-05-01           28154.0
                 2                75   2017-05-01           28154.0
                 3                79   2017-05-01           28154.0
                                  81   2017-05-01           28154.0
                 4                86   2017-05-01           28154.0
                 5                91   2017-05-01           28154.0
                                  92   2017-05-01           28154.0
                 6                96   2017-05-01           28154.0
                 7                100  2017-05-01           28154.0
                 8                104  2017-05-01           28154.0
                 9                108  2017-05-01           28154.0
                                  109  2017-05-01           28154.0
                 10               113  2017-05-01           28154.0
                                  114  2017-05-01           28154.0
28156.0          1                118  2017-05-01           28156.0
                 2                123  2017-05-01           28156.0
                 3                127  2017-05-01           28156.0
                 4                132  2017-05-01           28156.0
                 5                136  2017-05-01           28156.0
                                  138  2017-05-01           28156.0
                 6                143  2017-05-01           28156.0
                 7                148  2017-05-01           28156.0
...                                           ...               ...
71837.0          1                7884 2017-05-02           71837.0
                                  7886 2017-05-02           71837.0
                 3                7893 2017-05-02           71837.0
72050.0          1                7911 2017-05-02           72050.0
                                  7913 2017-05-02           72050.0
                                  7915 2017-05-02           72050.0
                 2                7920 2017-05-02           72050.0
                                  7921 2017-05-02           72050.0
                 3                7926 2017-05-02           72050.0
                                  7927 2017-05-02           72050.0
                 4                7932 2017-05-02           72050.0
                                  7934 2017-05-02           72050.0
                 5                7938 2017-05-02           72050.0
                                  7940 2017-05-02           72050.0
                 6                7945 2017-05-02           72050.0
                                  7947 2017-05-02           72050.0
                 7                7952 2017-05-02           72050.0
                                  7954 2017-05-02           72050.0
                 8                7959 2017-05-02           72050.0
                                  7961 2017-05-02           72050.0
                 9                7966 2017-05-02           72050.0
                                  7967 2017-05-02           72050.0
                 10               7971 2017-05-02           72050.0
                                  7973 2017-05-02           72050.0
72172.0          2                7981 2017-05-02           72172.0
                 4                7989 2017-05-02           72172.0
                 5                7994 2017-05-02           72172.0
                                  7995 2017-05-02           72172.0
                 7                8003 2017-05-02           72172.0
                 10               8014 2017-05-02           72172.0

                                        otp_itinerary_id  otp_leg_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2                    1           3
                 2                6                    2           3
                 4                13                   4           3
                 5                18                   5           4
                 7                25                   7           3
                 8                29                   8           3
                 9                33                   9           3
                 10               37                  10           3
28154.0          1                71                   1           3
                 2                75                   2           3
                 3                79                   3           3
                                  81                   3           5
                 4                86                   4           4
                 5                91                   5           4
                                  92                   5           5
                 6                96                   6           3
                 7                100                  7           3
                 8                104                  8           3
                 9                108                  9           3
                                  109                  9           4
                 10               113                 10           3
                                  114                 10           4
28156.0          1                118                  1           3
                 2                123                  2           4
                 3                127                  3           3
                 4                132                  4           4
                 5                136                  5           3
                                  138                  5           5
                 6                143                  6           4
                 7                148                  7           4
...                                                  ...         ...
71837.0          1                7884                 1           3
                                  7886                 1           5
                 3                7893                 3           4
72050.0          1                7911                 1           3
                                  7913                 1           5
                                  7915                 1           7
                 2                7920                 2           4
                                  7921                 2           5
                 3                7926                 3           4
                                  7927                 3           5
                 4                7932                 4           4
                                  7934                 4           6
                 5                7938                 5           3
                                  7940                 5           5
                 6                7945                 6           4
                                  7947                 6           6
                 7                7952                 7           4
                                  7954                 7           6
                 8                7959                 8           4
                                  7961                 8           6
                 9                7966                 9           4
                                  7967                 9           5
                 10               7971                10           3
                                  7973                10           5
72172.0          2                7981                 2           4
                 4                7989                 4           4
                 5                7994                 5           4
                                  7995                 5           5
                 7                8003                 7           4
                 10               8014                10           4

                                            otp_start_time  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01 13:51:00
                 2                6    2017-05-01 14:03:00
                 4                13   2017-05-01 14:15:00
                 5                18   2017-05-01 14:21:00
                 7                25   2017-05-01 14:33:00
                 8                29   2017-05-01 14:39:00
                 9                33   2017-05-01 14:45:00
                 10               37   2017-05-01 15:02:00
28154.0          1                71   2017-05-01 14:22:00
                 2                75   2017-05-01 14:39:00
                 3                79   2017-05-01 14:29:20
                                  81   2017-05-01 14:48:00
                 4                86   2017-05-01 14:47:00
                 5                91   2017-05-01 14:48:14
                                  92   2017-05-01 15:06:40
                 6                96   2017-05-01 14:56:00
                 7                100  2017-05-01 15:05:00
                 8                104  2017-05-01 15:23:00
                 9                108  2017-05-01 15:36:14
                                  109  2017-05-01 15:54:39
                 10               113  2017-05-01 15:45:14
                                  114  2017-05-01 16:03:03
28156.0          1                118  2017-05-01 14:20:00
                 2                123  2017-05-01 14:37:00
                 3                127  2017-05-01 14:32:00
                 4                132  2017-05-01 14:47:00
                 5                136  2017-05-01 14:29:20
                                  138  2017-05-01 14:51:27
                 6                143  2017-05-01 14:39:00
                 7                148  2017-05-01 14:57:00
...                                                    ...
71837.0          1                7884 2017-05-01 23:44:00
                                  7886 2017-05-02 00:05:00
                 3                7893 2017-05-02 06:18:12
72050.0          1                7911 2017-05-02 05:32:27
                                  7913 2017-05-02 05:51:42
                                  7915 2017-05-02 06:12:35
                 2                7920 2017-05-02 06:25:23
                                  7921 2017-05-02 06:51:52
                 3                7926 2017-05-02 06:22:10
                                  7927 2017-05-02 06:45:09
                 4                7932 2017-05-02 06:27:31
                                  7934 2017-05-02 06:50:00
                 5                7938 2017-05-02 06:37:33
                                  7940 2017-05-02 07:01:00
                 6                7945 2017-05-02 06:34:00
                                  7947 2017-05-02 07:11:33
                 7                7952 2017-05-02 06:31:08
                                  7954 2017-05-02 07:00:00
                 8                7959 2017-05-02 06:46:00
                                  7961 2017-05-02 07:25:33
                 9                7966 2017-05-02 07:03:23
                                  7967 2017-05-02 07:37:01
                 10               7971 2017-05-02 07:16:10
                                  7973 2017-05-02 07:27:55
72172.0          2                7981 2017-05-02 06:19:00
                 4                7989 2017-05-02 06:28:00
                 5                7994 2017-05-02 06:31:00
                                  7995 2017-05-02 06:36:49
                 7                8003 2017-05-02 06:36:00
                 10               8014 2017-05-02 06:59:00

                                              otp_end_time otp_mode otp_route  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2    2017-05-01 14:01:59      BUS       303
                 2                6    2017-05-01 14:15:19      BUS       303
                 4                13   2017-05-01 14:25:59      BUS       303
                 5                18   2017-05-01 14:33:19      BUS       303
                 7                25   2017-05-01 14:43:59      BUS       303
                 8                29   2017-05-01 14:51:19      BUS       303
                 9                33   2017-05-01 14:57:19      BUS       303
                 10               37   2017-05-01 15:14:19      BUS       303
28154.0          1                71   2017-05-01 14:53:48      BUS       603
                 2                75   2017-05-01 15:10:48      BUS       603
                 3                79   2017-05-01 14:45:00      BUS       627
                                  81   2017-05-01 15:11:02      BUS       203
                 4                86   2017-05-01 15:19:41      BUS       603
                 5                91   2017-05-01 15:05:00      BUS       502
                                  92   2017-05-01 15:23:02      BUS       203
                 6                96   2017-05-01 15:28:41      BUS       603
                 7                100  2017-05-01 15:37:41      BUS       603
                 8                104  2017-05-01 15:55:41      BUS       603
                 9                108  2017-05-01 15:53:00      BUS       502
                                  109  2017-05-01 16:10:02      BUS       603
                 10               113  2017-05-01 16:02:00      BUS       502
                                  114  2017-05-01 16:18:26      BUS       203
28156.0          1                118  2017-05-01 14:58:00      BUS       607
                 2                123  2017-05-01 15:07:00      BUS       550
                 3                127  2017-05-01 15:10:00      BUS       607
                 4                132  2017-05-01 15:17:00      BUS       550
                 5                136  2017-05-01 14:45:00      BUS       627
                                  138  2017-05-01 15:15:00      BUS       507
                 6                143  2017-05-01 15:15:00      BUS       603
                 7                148  2017-05-01 15:27:00      BUS       550
...                                                    ...      ...       ...
71837.0          1                7884 2017-05-02 00:03:31      BUS       507
                                  7886 2017-05-02 00:13:06      BUS       030
                 3                7893 2017-05-02 06:23:58      BUS       338
72050.0          1                7911 2017-05-02 05:49:08      BUS       625
                                  7913 2017-05-02 06:04:40      BUS       633
                                  7915 2017-05-02 06:34:33      BUS       650
                 2                7920 2017-05-02 06:48:47      BUS       628
                                  7921 2017-05-02 06:57:51      BUS       619
                 3                7926 2017-05-02 06:36:43      BUS       545
                                  7927 2017-05-02 07:06:51      BUS       619
                 4                7932 2017-05-02 06:43:00      BUS       612
                                  7934 2017-05-02 07:15:51      BUS       619
                 5                7938 2017-05-02 06:54:00      BUS       612
                                  7940 2017-05-02 07:24:56      BUS       619
                 6                7945 2017-05-02 07:04:14      BUS       545
                                  7947 2017-05-02 07:29:24      BUS       650
                 7                7952 2017-05-02 06:45:00      BUS       654
                                  7954 2017-05-02 07:22:53      BUS       685
                 8                7959 2017-05-02 07:16:14      BUS       545
                                  7961 2017-05-02 07:43:24      BUS       650
                 9                7966 2017-05-02 07:26:47      BUS       628
                                  7967 2017-05-02 07:44:33      BUS       619
                 10               7971 2017-05-02 07:21:25      BUS       040
                                  7973 2017-05-02 07:55:41      BUS       619
72172.0          2                7981 2017-05-02 06:28:44      BUS       822
                 4                7989 2017-05-02 06:37:44      BUS       822
                 5                7994 2017-05-02 06:32:40      BUS       823
                                  7995 2017-05-02 06:40:03      BUS       827
                 7                8003 2017-05-02 06:45:44      BUS       822
                 10               8014 2017-05-02 07:10:14      BUS       822

                                        otp_from_stop_id  otp_to_stop_id  \
otp_user_trip_id otp_itinerary_id
28150.0          1                2              26195.0         25753.0
                 2                6              26195.0         25753.0
                 4                13             26195.0         25753.0
                 5                18             26195.0         25753.0
                 7                25             26195.0         25753.0
                 8                29             26195.0         25753.0
                 9                33             26195.0         25753.0
                 10               37             26195.0         25753.0
28154.0          1                71             26296.0         25521.0
                 2                75             26296.0         25521.0
                 3                79             35104.0         27585.0
                                  81             26199.0         25521.0
                 4                86             26296.0         25521.0
                 5                91             25534.0         26197.0
                                  92             26197.0         25521.0
                 6                96             26296.0         25521.0
                 7                100            26296.0         25521.0
                 8                104            26296.0         25521.0
                 9                108            25534.0         26197.0
                                  109            26197.0         25521.0
                 10               113            25534.0         26197.0
                                  114            26197.0         25521.0
28156.0          1                118            28606.0         25894.0
                 2                123            26298.0         25906.0
                 3                127            28606.0         25894.0
                 4                132            26298.0         25906.0
                 5                136            35104.0         27585.0
                                  138            26248.0         25911.0
                 6                143            26296.0         26129.0
                 7                148            26298.0         25906.0
...                                                  ...             ...
71837.0          1                7884           25911.0         26262.0
                                  7886             270.0         30059.0
                 3                7893           30054.0         30062.0
72050.0          1                7911           29808.0         36055.0
                                  7913           36056.0         34160.0
                                  7915           38506.0         39747.0

In [127]:
itins_first_bus_legs.otp_leg_id.describe()

count    2000.000000
mean        1.726000
std         0.446121
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         2.000000
Name: otp_leg_id, dtype: float64

In [128]:
itins_first_bus_legs.dtypes

otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_date                   datetime64[ns]
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

## Working with Vehicle Boardings

In [129]:
selected_trips.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
19800,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221
19801,57666.0,2017-05-01 18:46:58,NaT,021,08065,NaN,41778.0,-25.436627,-49.317949
19802,28153.0,2017-05-01 13:36:28,NaT,TCJ,06003,NaN,14478.0,-25.439980,-49.221858
19803,64706.0,2017-05-01 20:22:36,2017-05-01 19:59:34,020,BB607,7.0,28132.0,-25.435878,-49.306888
19804,28156.0,2017-05-01 13:36:28,2017-05-01 13:36:21,650,HR410,5.0,36299.0,-25.565199,-49.333825

In [130]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [131]:
#itins_first_bus_legs.groupby(['otp_user_trip_id','otp_route','otp_from_stop_id']) \
#                .drop()

In [132]:
def match_vehicle_boardings(selected_trips,itineraries_st):
        vehicle_boarding_origins = selected_trips[np.logical_not(selected_trips['o_busCode'].str.isdigit())]
        matched_vehicle_boardings = vehicle_boarding_origins.merge(itineraries_st, left_on=['o_boarding_id','o_route','o_stopPointId'], 
                                                                   right_on=['otp_user_trip_id','otp_route','otp_from_stop_id'], how='inner')
        num_matched_vehicle_boardings = len(matched_vehicle_boardings.drop_duplicates(subset=['o_boarding_id']))
        if num_matched_vehicle_boardings == 0:
            match_perc = 0.0
        else:
            match_perc = 100*(num_matched_vehicle_boardings/float(len(vehicle_boarding_origins)))
        return (matched_vehicle_boardings,num_matched_vehicle_boardings,match_perc)

In [133]:
        # Matching vehicle boarding origins
        matched_vehicle_boardings,num_matched_vehicle_boardings,vehicle_match_perc = match_vehicle_boardings(selected_trips,itins_first_bus_legs)
        print "Vehicle boardings with matching OTP suggestions: ", num_matched_vehicle_boardings, "(",vehicle_match_perc, "%)"


        # Matching terminal boarding origins
        #matched_terminal_boardings,num_matched_terminal_boardings,terminal_matched_perc = match_terminal_boardings(selected_trips,itineraries_start)
        #print "Terminal boardings with matching OTP suggestions: ", num_matched_terminal_boardings, "(", terminal_matched_perc, "%)"

        # Matching special case route 021 terminal boarding origins 
        #num_terminal_021_boardings,matched_021_terminal_boardings,num_matched_021_terminal_boardings,terminal_021_match_perc = match_terminal_021_boardings(selected_trips,itineraries_start)
        #if (num_terminal_021_boardings > 0):
        #        print "Line 021 Terminal boardings with matching OTP suggestions: ", num_matched_021_terminal_boardings, "(",terminal_021_match_perc, "%)"
        #else:
        #        print "No Line 021 Terminal boardings found. Skipping matching."

        #boarding_suggestions_matches = pd.concat([matched_vehicle_boardings,matched_021_terminal_boardings,matched_terminal_boardings])

        #total_num_matches = num_matched_vehicle_boardings + num_matched_021_terminal_boardings + num_matched_terminal_boardings
        #print "Total number of matches: ", total_num_matches, "(", 100*(total_num_matches/float(num_selected_trips)), "%)"

        #if total_num_matches == 0:
        #    print "No match was found. Skipping next steps..."
        #    exit(0)

Vehicle boardings with matching OTP suggestions:  92 ( 80.701754386 %)

In [134]:
matched_vehicle_boardings.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 14:28:17,2017-05-01 14:35:00,BUS,827,33788.0,30993.0,6.716667,14508.0,14508.0
2,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:42:13,2017-05-01 14:18:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
3,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:57:13,2017-05-01 14:33:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
4,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 14:12:13,2017-05-01 14:48:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0

In [147]:
vehic_first_boardings_options = matched_vehicle_boardings.merge(bus_trips, 
                                left_on=['o_route','o_busCode','o_tripNum','otp_to_stop_id'],
                               right_on=['route','busCode','tripNum','stopPointId'],
                               how='inner') \
            #.filter(['otp_user_trip_id','otp_itinerary_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime'])
            #.filter(selected_trips.columns)

In [148]:
vehic_first_boardings_options

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
2,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
3,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
4,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
5,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,827,BC929,2895.0,12.0,30993.0,2017-05-01 13:44:14,8568.987,-25.441705,-49.346328,14508.0
6,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
7,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
8,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
9,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
10,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
11,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
12,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
13,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
14,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
15,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
16,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,31053.0,2017-05-01 14:01:41,15448.084,-25.513098,-49.295303,14494.0
17,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
18,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
19,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,684,HA298,2148.0,11.0,34160.0,2017-05-01 13:57:14,14037.260,-25.520732,-49.295383,NaN
20,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,4661.0,2017-05-01 19:00:50,8750.881,-25.534266,-49.267778,14492.0
21,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,4661.0,2017-05-01 19:00:50,8750.881,-25.534266,-49.267778,14492.0
22,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN
23,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,29978.0,2017-05-01 18:58:01,8367.017,-25.535631,-49.270930,NaN
24,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,31243.0,2017-05-01 18:57:20,8065.976,-25.536860,-49.272710,NaN
25,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,548,GA158,3580.0,12.0,31243.0,2017-05-01 18:57:20,8065.976,-25.536860,-49.272710,NaN
26,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,050,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0
27,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,050,JB301,1719.0,5.0,32454.0,2017-05-01 13:39:53,16611.707,-25.451306,-49.215011,14481.0
28,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,812,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0
29,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,812,BA020,2211.0,9.0,28138.0,2017-05-01 13:47:34,9559.349,-25.435959,-49.307134,14506.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,216,HA601,1785.0,8.0,45364.0,2017-05-01 16:41:03,8409.558,-25.449010,-49.261531,NaN
311,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,216,HA601,1785.0,8.0,45364.0,2017-05-01 16:41:03,8409.558,-25.449010,-49.261531,NaN
312,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,685,HA288,2972.0,15.0,33860.0,2017-05-01 22:45:37,14016.150,-25.515244,-49.328156,NaN
313,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,685,HA288,2972.0,15.0,35107.0,2017-05-01 22:46:45,14460.344,-25.512756,-49.330335,NaN
314,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
315,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
316,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
317,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
318,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
319,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
320,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,31026.0,2017-05-01 13:58:18,8490.962,-25.512969,-49.294833,14494.0
321,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
322,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
323,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
324,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
325,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,639,GA142,3770.0,10.0,34160.0,2017-05-01 13:54:13,7148.474,-25.520732,-49.295383,NaN
326,55169.0,2017-05-01 18:20:24,2017-05-01 18:19:53,683,GA139,15.0,39194.0,-25.564864,-49.275161,55169.0,...,683,GA139,3024.0,15.0,37415.0,2017-05-01 18:23:37,0.000,-25.567167,-49.281746,NaN
327,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,547,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0
328,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,547,GA201,1994.0,18.0,30013.0,2017-05-01 13:56:51,0.000,-25.534222,-49.267621,14492.0
329,70719.0,2017-05-01 22:49:57,2017-05-01 22:49:02,924,BA124,10.0,32234.0,-25.383383,-49.281568,70719.0,...,924,BA124,2884.0,10.0,30457.0,2017-05-01 23:05:44,0.000,-25.377180,-49.224049,14470.0
330,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
331,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
332,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,924,BA124,2884.0,5.0,32371.0,2017-05-01 13:57:44,21823.188,-25.400519,-49.330857,14510.0
333,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,712,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0
334,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,712,HA016,2170.0,23.0,31631.0,2017-05-01 20:37:19,5948.643,-25.477354,-49.326961,14512.0
335,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,224,BN409,1796.0,19.0,27148.0,2017-05-01 13:48:42,5558.814,-25.388209,-49.237150,NaN
336,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,224,BN409,1796.0,19.0,27148.0,2017-05-01 13:48:42,5558.814,-25.388209,-49.237150,NaN
337,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0
338,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0
339,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,020,DR118,3260.0,4.0,27945.0,2017-05-01 13:50:08,0.000,-25.440274,-49.221235,14478.0

### Removing Scheduled trips whose scheduled start time is more than 30 minutes away from the actual boarding time

In [149]:
vehic_first_boardings_options['sched_actual_start_timediff'] = np.abs(vehic_first_boardings_options['otp_start_time']-vehic_first_boardings_options['o_gps_datetime'])

In [150]:
vehic_first_boardings_options \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_start_time']) \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime','sched_actual_start_timediff'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,route,busCode,tripNum,stopPointId,otp_start_time,o_gps_datetime,otp_end_time,gps_datetime,sched_actual_start_timediff
0,28150.0,1,1,827,BC929,12.0,30993.0,2017-05-01 13:38:33,2017-05-01 13:35:18,2017-05-01 13:45:00,2017-05-01 13:44:14,00:03:15
1,28150.0,8,1,827,BC929,12.0,30993.0,2017-05-01 14:28:17,2017-05-01 13:35:18,2017-05-01 14:35:00,2017-05-01 13:44:14,00:52:59
6,28154.0,1,1,684,HA298,11.0,31053.0,2017-05-01 13:42:13,2017-05-01 13:35:38,2017-05-01 14:18:00,2017-05-01 14:01:41,00:06:35
7,28154.0,2,1,684,HA298,11.0,31053.0,2017-05-01 13:57:13,2017-05-01 13:35:38,2017-05-01 14:33:00,2017-05-01 14:01:41,00:21:35
8,28154.0,6,1,684,HA298,11.0,31053.0,2017-05-01 14:12:13,2017-05-01 13:35:38,2017-05-01 14:48:00,2017-05-01 14:01:41,00:36:35
9,28154.0,7,1,684,HA298,11.0,31053.0,2017-05-01 14:27:13,2017-05-01 13:35:38,2017-05-01 15:03:00,2017-05-01 14:01:41,00:51:35
10,28154.0,8,1,684,HA298,11.0,31053.0,2017-05-01 14:42:13,2017-05-01 13:35:38,2017-05-01 15:18:00,2017-05-01 14:01:41,01:06:35
17,28154.0,9,1,684,HA298,11.0,34160.0,2017-05-01 14:57:13,2017-05-01 13:35:38,2017-05-01 15:30:02,2017-05-01 13:57:14,01:21:35
18,28154.0,10,1,684,HA298,11.0,34160.0,2017-05-01 15:12:13,2017-05-01 13:35:38,2017-05-01 15:45:02,2017-05-01 13:57:14,01:36:35
26,28161.0,4,1,050,JB301,5.0,32454.0,2017-05-01 13:44:57,2017-05-01 13:35:59,2017-05-01 13:51:00,2017-05-01 13:39:53,00:08:58
27,28161.0,10,1,050,JB301,5.0,32454.0,2017-05-01 14:03:36,2017-05-01 13:35:59,2017-05-01 14:09:00,2017-05-01 13:39:53,00:27:37
28,28164.0,1,1,812,BA020,9.0,28138.0,2017-05-01 13:46:46,2017-05-01 13:36:32,2017-05-01 14:03:00,2017-05-01 13:47:34,00:10:14
29,28164.0,4,1,812,BA020,9.0,28138.0,2017-05-01 14:14:47,2017-05-01 13:36:32,2017-05-01 14:30:00,2017-05-01 13:47:34,00:38:15
30,28164.0,8,1,812,BA020,9.0,28138.0,2017-05-01 14:42:17,2017-05-01 13:36:32,2017-05-01 14:57:00,2017-05-01 13:47:34,01:05:45
31,28164.0,9,1,812,BA020,9.0,28138.0,2017-05-01 15:09:17,2017-05-01 13:36:32,2017-05-01 15:24:00,2017-05-01 13:47:34,01:32:45
36,28164.0,10,1,812,BA020,9.0,30270.0,2017-05-01 15:35:48,2017-05-01 13:36:32,2017-05-01 15:48:42,2017-05-01 13:45:17,01:59:16
43,28165.0,1,1,462,DC093,7.0,26157.0,2017-05-01 13:38:46,2017-05-01 13:35:42,2017-05-01 14:12:00,2017-05-01 14:00:22,00:03:04
44,28165.0,2,1,462,DC093,7.0,26157.0,2017-05-01 13:52:02,2017-05-01 13:35:42,2017-05-01 14:28:00,2017-05-01 14:00:22,00:16:20
45,28165.0,8,1,462,DC093,7.0,26157.0,2017-05-01 14:10:46,2017-05-01 13:35:42,2017-05-01 14:44:00,2017-05-01 14:00:22,00:35:04
46,28165.0,9,1,462,DC093,7.0,26157.0,2017-05-01 14:24:02,2017-05-01 13:35:42,2017-05-01 15:00:00,2017-05-01 14:00:22,00:48:20
47,28165.0,10,1,462,DC093,7.0,26157.0,2017-05-01 14:42:46,2017-05-01 13:35:42,2017-05-01 15:16:00,2017-05-01 14:00:22,01:07:04
50,28169.0,4,1,545,JA300,6.0,29967.0,2017-05-01 13:50:13,2017-05-01 13:36:30,2017-05-01 14:35:04,2017-05-01 14:14:48,00:13:43
51,28169.0,9,1,545,JA300,6.0,5452.0,2017-05-01 14:14:28,2017-05-01 13:36:30,2017-05-01 14:54:51,2017-05-01 14:10:54,00:37:58
52,28169.0,10,1,545,JA300,6.0,5452.0,2017-05-01 14:38:28,2017-05-01 13:36:30,2017-05-01 15:18:51,2017-05-01 14:10:54,01:01:58
58,28172.0,6,1,334,DA023,20.0,27812.0,2017-05-01 13:55:39,2017-05-01 13:36:33,2017-05-01 14:02:00,2017-05-01 13:20:33,00:19:06
70,28174.0,1,1,515,EA303,10.0,27791.0,2017-05-01 13:40:27,2017-05-01 13:36:32,2017-05-01 13:56:00,2017-05-01 13:52:12,00:03:55
71,28174.0,5,1,515,EA303,10.0,27791.0,2017-05-01 13:55:27,2017-05-01 13:36:32,2017-05-01 14:11:00,2017-05-01 13:52:12,00:18:55
72,28174.0,9,1,515,EA303,10.0,27791.0,2017-05-01 14:10:27,2017-05-01 13:36:32,2017-05-01 14:26:00,2017-05-01 13:52:12,00:33:55
73,28174.0,10,1,515,EA303,10.0,27791.0,2017-05-01 14:25:27,2017-05-01 13:36:32,2017-05-01 14:41:00,2017-05-01 13:52:12,00:48:55
78,28177.0,5,1,658,JA026,8.0,27620.0,2017-05-01 13:45:18,2017-05-01 13:36:34,2017-05-01 13:48:00,2017-05-01 13:38:12,00:08:44
...,...,...,...,...,...,...,...,...,...,...,...,...
126,61753.0,1,1,812,BA020,15.0,30319.0,2017-05-01 19:40:09,2017-05-01 19:27:07,2017-05-01 19:48:33,2017-05-01 19:31:11,00:13:02
127,61753.0,4,1,812,BA020,15.0,30319.0,2017-05-01 20:06:09,2017-05-01 19:27:07,2017-05-01 20:14:33,2017-05-01 19:31:11,00:39:02
128,61753.0,7,1,812,BA020,15.0,30319.0,2017-05-01 20:33:09,2017-05-01 19:27:07,2017-05-01 20:41:33,2017-05-01 19:31:11,01:06:02
129,61753.0,9,1,812,BA020,15.0,30319.0,2017-05-01 21:00:09,2017-05-01 19:27:07,2017-05-01 21:08:33,2017-05-01 19:31:11,01:33:02
130,61753.0,10,1,812,BA020,15.0,30319.0,2017-05-01 21:27:09,2017-05-01 19:27:07,2017-05-01 21:35:33,2017-05-01 19:31:11,02:00:02
333,65005.0,1,1,712,HA016,23.0,31631.0,2017-05-01 20:35:36,2017-05-01 20:27:35,2017-05-01 20:48:00,2017-05-01 20:37:19,00:08:01
334,65005.0,4,1,712,HA016,23.0,31631.0,2017-05-01 20:56:36,2017-05-01 20:27:35,2017-05-01 21:09:00,2017-05-01 20:37:19,00:29:01
202,66750.0,1,1,050,JB301,9.0,29171.0,2017-05-01 21:20:37,2017-05-01 21:08:46,2017-05-01 21:35:59,2017-05-01 21:19:50,00:11:51
203,66750.0,5,1,050,JB301,9.0,29171.0,2017-05-01 21:36:29,2017-05-01 21:08:46,2017-05-01 21:50:24,2017-05-01 21:19:50,00:27:43
204,66750.0,8,1,050,JB301,9.0,31660.0,2017-05-01 21:55:47,2017-05-01 21:08:46,2017-05-01 22:13:54,2017-05-01 21:33:46,00:47:01
205,66750.0,10,1,050,JB301,9.0,31637.0,2017-05-01 22:10:56,2017-05-01 21:08:46,2017-05-01 22:41:47,2017-05-01 21:42:19,01:02:10
312,70106.0,1,1,685,HA288,15.0,33860.0,2017-05-01 22:49:46,2017-05-01 22:31:28,2017-05-01 23:12:11,2017-05-01 22:45:37,00:18:18
313,70106.0,8,1,685,HA288,15.0,35107.0,2017-05-01 23:53:24,2017-05-01 22:31:28,2017-05-02 00:08:47,2017-05-01 22:46:45,01:21:56
296,70138.0,9,1,685,HA286,15.0,35449.0,2017-05-01 23:28:50,2017-05-01 22:31:46,2017-05-01 23:33:19,2017-05-01 22:34:49,00:57:04
329,70719.0,4,1,924,BA124,10.0,30457.0,2017-05-01 22:54:24,2017-05-01 22:49:02,2017-05-01 23:15:00,2017-05-01 23:05:44,00:05:22
119,71039.0,1,1,777,JC004,20.0,26631.0,2017-05-01 22:59:06,2017-05-01 22:58:45,2017-05-01 23:17:01,2017-05-01 23:12:33,00:00:21
120,71039.0,3,1,777,JC004,20.0,26631.0,2017-05-01 23:14:06,2017-05-01 22:58:45,2017-05-01 23:32:01,2017-05-01 23:12:33,00:15:21
121,71039.0,6,1,777,JC004,20.0,26631.0,2017-05-01 23:29:21,2017-05-01 22:58:45,2017-05-01 23:47:57,2017-05-01 23:12:33,00:30:36
122,71039.0,10,1,777,JC004,20.0,26631.0,2017-05-01 23:58:52,2017-05-01 22:58:45,2017-05-02 00:16:06,2017-05-01 23:12:33,01:00:07
59,71056.0,1,1,030,KB600,7.0,299.0,2017-05-01 23:05:52,2017-05-01 22:58:56,2017-05-01 23:26:41,2017-05-01 23:14:20,00:06:56
60,71056.0,3,1,030,KB600,7.0,32540.0,2017-05-01 23:28:00,2017-05-01 22:58:56,2017-05-01 23:43:51,2017-05-01 23:10:46,00:29:04
61,71056.0,5,1,030,KB600,7.0,31482.0,2017-05-02 05:30:00,2017-05-01 22:58:56,2017-05-02 05:57:34,2017-05-01 23:23:14,06:31:04
65,71056.0,6,1,030,KB600,7.0,31488.0,2017-05-02 05:15:00,2017-05-01 22:58:56,2017-05-02 05:43:56,2017-05-01 23:25:07,06:16:04
62,71056.0,7,1,030,KB600,7.0,31482.0,2017-05-02 05:39:00,2017-05-01 22:58:56,2017-05-02 06:06:34,2017-05-01 23:23:14,06:40:04
63,71056.0,8,1,030,KB600,7.0,31482.0,2017-05-02 06:34:00,2017-05-01 22:58:56,2017-05-02 07:03:11,2017-05-01 23:23:14,07:35:04
64,71056.0,9,1,030,KB600,7.0,31482.0,2017-05-02 06:15:00,2017-05-01 22:58:56,2017-05-02 06:43:11,2017-05-01 23:23:14,07:16:04
66,71056.0,10,1,030,KB600,7.0,32596.0,2017-05-02 05:56:00,2017-05-01 22:58:56,2017-05-02 06:45:42,2017-05-01 23:42:53,06:57:04
123,71837.0,4,1,472,KC002,16.0,30062.0,2017-05-02 05:59:35,2017-05-01 23:26:04,2017-05-02 06:28:02,2017-05-01 23:41:07,06:33:31
124,71837.0,8,1,472,KC002,16.0,30062.0,2017-05-02 06:24:35,2017-05-01 23:26:04,2017-05-02 06:53:02,2017-05-01 23:41:07,06:58:31
125,71837.0,10,1,472,KC002,16.0,30062.0,2017-05-02 06:49:35,2017-05-01 23:26:04,2017-05-02 07:18:02,2017-05-01 23:41:07,07:23:31

In [151]:
vehic_first_boardings_options = vehic_first_boardings_options[vehic_first_boardings_options['sched_actual_start_timediff'] < pd.Timedelta(minutes=30)]

In [153]:
vehic_first_boardings_options  \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_start_time']) \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime','sched_actual_start_timediff'])

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,route,busCode,tripNum,stopPointId,otp_start_time,o_gps_datetime,otp_end_time,gps_datetime,sched_actual_start_timediff
0,28150.0,1,1,827,BC929,12.0,30993.0,2017-05-01 13:38:33,2017-05-01 13:35:18,2017-05-01 13:45:00,2017-05-01 13:44:14,00:03:15
6,28154.0,1,1,684,HA298,11.0,31053.0,2017-05-01 13:42:13,2017-05-01 13:35:38,2017-05-01 14:18:00,2017-05-01 14:01:41,00:06:35
7,28154.0,2,1,684,HA298,11.0,31053.0,2017-05-01 13:57:13,2017-05-01 13:35:38,2017-05-01 14:33:00,2017-05-01 14:01:41,00:21:35
26,28161.0,4,1,050,JB301,5.0,32454.0,2017-05-01 13:44:57,2017-05-01 13:35:59,2017-05-01 13:51:00,2017-05-01 13:39:53,00:08:58
27,28161.0,10,1,050,JB301,5.0,32454.0,2017-05-01 14:03:36,2017-05-01 13:35:59,2017-05-01 14:09:00,2017-05-01 13:39:53,00:27:37
28,28164.0,1,1,812,BA020,9.0,28138.0,2017-05-01 13:46:46,2017-05-01 13:36:32,2017-05-01 14:03:00,2017-05-01 13:47:34,00:10:14
43,28165.0,1,1,462,DC093,7.0,26157.0,2017-05-01 13:38:46,2017-05-01 13:35:42,2017-05-01 14:12:00,2017-05-01 14:00:22,00:03:04
44,28165.0,2,1,462,DC093,7.0,26157.0,2017-05-01 13:52:02,2017-05-01 13:35:42,2017-05-01 14:28:00,2017-05-01 14:00:22,00:16:20
50,28169.0,4,1,545,JA300,6.0,29967.0,2017-05-01 13:50:13,2017-05-01 13:36:30,2017-05-01 14:35:04,2017-05-01 14:14:48,00:13:43
58,28172.0,6,1,334,DA023,20.0,27812.0,2017-05-01 13:55:39,2017-05-01 13:36:33,2017-05-01 14:02:00,2017-05-01 13:20:33,00:19:06
70,28174.0,1,1,515,EA303,10.0,27791.0,2017-05-01 13:40:27,2017-05-01 13:36:32,2017-05-01 13:56:00,2017-05-01 13:52:12,00:03:55
71,28174.0,5,1,515,EA303,10.0,27791.0,2017-05-01 13:55:27,2017-05-01 13:36:32,2017-05-01 14:11:00,2017-05-01 13:52:12,00:18:55
78,28177.0,5,1,658,JA026,8.0,27620.0,2017-05-01 13:45:18,2017-05-01 13:36:34,2017-05-01 13:48:00,2017-05-01 13:38:12,00:08:44
67,28180.0,5,1,182,BC002,8.0,28615.0,2017-05-01 14:03:29,2017-05-01 13:36:42,2017-05-01 14:29:58,2017-05-01 13:55:37,00:26:47
108,28212.0,1,1,472,EC006,9.0,26182.0,2017-05-01 13:40:41,2017-05-01 13:37:02,2017-05-01 14:14:00,2017-05-01 14:01:58,00:03:39
109,28212.0,1,1,472,EC006,9.0,26182.0,2017-05-01 13:40:41,2017-05-01 13:37:02,2017-05-01 14:14:00,2017-05-01 14:01:58,00:03:39
110,28212.0,9,1,472,EC006,9.0,26182.0,2017-05-01 14:06:41,2017-05-01 13:37:02,2017-05-01 14:40:00,2017-05-01 14:01:58,00:29:39
111,28212.0,9,1,472,EC006,9.0,26182.0,2017-05-01 14:06:41,2017-05-01 13:37:02,2017-05-01 14:40:00,2017-05-01 14:01:58,00:29:39
96,28214.0,1,1,371,BC031,10.0,26363.0,2017-05-01 13:36:06,2017-05-01 13:36:58,2017-05-01 13:58:00,2017-05-01 13:54:51,00:00:52
97,28214.0,2,1,371,BC031,10.0,26363.0,2017-05-01 13:50:19,2017-05-01 13:36:58,2017-05-01 14:13:00,2017-05-01 13:54:51,00:13:21
98,28214.0,4,1,371,BC031,10.0,26363.0,2017-05-01 14:04:19,2017-05-01 13:36:58,2017-05-01 14:27:00,2017-05-01 13:54:51,00:27:21
32,28225.0,1,1,812,BA020,9.0,28138.0,2017-05-01 13:46:46,2017-05-01 13:36:32,2017-05-01 14:03:00,2017-05-01 13:47:34,00:10:14
11,28229.0,1,1,684,HA298,11.0,31053.0,2017-05-01 13:43:08,2017-05-01 13:36:37,2017-05-01 14:18:00,2017-05-01 14:01:41,00:06:31
12,28229.0,2,1,684,HA298,11.0,31053.0,2017-05-01 13:58:08,2017-05-01 13:36:37,2017-05-01 14:33:00,2017-05-01 14:01:41,00:21:31
131,28234.0,5,1,870,BC014,7.0,34553.0,2017-05-01 13:49:00,2017-05-01 13:36:44,2017-05-01 13:58:11,2017-05-01 13:50:19,00:12:16
135,28252.0,1,1,332,DA015,22.0,30123.0,2017-05-01 13:44:34,2017-05-01 13:37:41,2017-05-01 13:52:00,2017-05-01 13:47:17,00:06:53
136,28252.0,4,1,332,DA015,22.0,30123.0,2017-05-01 13:56:34,2017-05-01 13:37:41,2017-05-01 14:04:00,2017-05-01 13:47:17,00:18:53
2,28262.0,1,1,827,BC929,12.0,30993.0,2017-05-01 13:40:17,2017-05-01 13:37:57,2017-05-01 13:45:00,2017-05-01 13:44:14,00:02:20
142,28272.0,1,1,870,BC012,7.0,26314.0,2017-05-01 13:39:02,2017-05-01 13:37:10,2017-05-01 14:04:00,2017-05-01 13:52:48,00:01:52
143,28272.0,1,1,870,BC012,7.0,26314.0,2017-05-01 13:39:02,2017-05-01 13:37:10,2017-05-01 14:04:00,2017-05-01 13:52:48,00:01:52
...,...,...,...,...,...,...,...,...,...,...,...,...
69,52772.0,5,1,183,BC186,11.0,29384.0,2017-05-01 18:15:31,2017-05-01 17:57:08,2017-05-01 18:57:20,2017-05-01 18:22:31,00:18:23
94,52894.0,2,1,828,LA012,9.0,31000.0,2017-05-01 18:11:10,2017-05-01 17:57:57,2017-05-01 18:18:00,2017-05-01 16:38:17,00:13:13
95,52916.0,2,1,828,LA012,9.0,31000.0,2017-05-01 18:11:10,2017-05-01 17:57:57,2017-05-01 18:18:00,2017-05-01 16:38:17,00:13:13
297,53308.0,1,1,040,GR124,4.0,30438.0,2017-05-01 18:28:50,2017-05-01 18:01:45,2017-05-01 19:05:20,2017-05-01 18:29:09,00:27:05
298,53308.0,2,1,040,GR124,4.0,30438.0,2017-05-01 18:24:11,2017-05-01 18:01:45,2017-05-01 18:58:00,2017-05-01 18:29:09,00:22:26
301,53308.0,3,1,040,GR124,4.0,35104.0,2017-05-01 18:16:11,2017-05-01 18:01:45,2017-05-01 18:49:01,2017-05-01 18:26:18,00:14:26
302,53308.0,3,1,040,GR124,4.0,35104.0,2017-05-01 18:16:11,2017-05-01 18:01:45,2017-05-01 18:49:01,2017-05-01 18:26:18,00:14:26
303,53308.0,3,1,040,GR124,4.0,35104.0,2017-05-01 18:16:11,2017-05-01 18:01:45,2017-05-01 18:49:01,2017-05-01 18:26:18,00:14:26
326,55169.0,5,1,683,GA139,15.0,37415.0,2017-05-01 18:28:08,2017-05-01 18:19:53,2017-05-01 18:31:00,2017-05-01 18:23:37,00:08:15
213,56164.0,1,1,683,GA139,16.0,30021.0,2017-05-01 18:39:18,2017-05-01 18:29:30,2017-05-01 18:53:00,2017-05-01 18:55:07,00:09:48
281,57132.0,1,1,639,GA142,16.0,34160.0,2017-05-01 18:45:25,2017-05-01 18:40:09,2017-05-01 19:02:46,2017-05-01 18:54:37,00:05:16
282,57132.0,4,1,639,GA142,16.0,34160.0,2017-05-01 18:54:25,2017-05-01 18:40:09,2017-05-01 19:11:46,2017-05-01 18:54:37,00:14:16
283,57132.0,5,1,639,GA142,16.0,34160.0,2017-05-01 19:03:25,2017-05-01 18:40:09,2017-05-01 19:20:46,2017-05-01 18:54:37,00:23:16
20,57607.0,1,1,548,GA158,12.0,4661.0,2017-05-01 18:56:51,2017-05-01 18:46:10,2017-05-01 19:15:00,2017-05-01 19:00:50,00:10:41
22,57607.0,5,1,548,GA158,12.0,29978.0,2017-05-01 19:11:51,2017-05-01 18:46:10,2017-05-01 19:28:40,2017-05-01 18:58:01,00:25:41
23,57607.0,5,1,548,GA158,12.0,29978.0,2017-05-01 19:11:51,2017-05-01 18:46:10,2017-05-01 19:28:40,2017-05-01 18:58:01,00:25:41
179,58869.0,5,1,967,MN608,7.0,33682.0,2017-05-01 19:17:29,2017-05-01 18:59:16,2017-05-01 19:25:12,2017-05-01 19:05:01,00:18:13
241,61070.0,1,1,020,BB613,7.0,27715.0,2017-05-01 19:28:16,2017-05-01 19:19:18,2017-05-01 19:40:00,2017-05-01 19:33:49,00:08:58
242,61070.0,3,1,020,BB613,7.0,26228.0,2017-05-01 19:40:16,2017-05-01 19:19:18,2017-05-01 20:19:00,2017-05-01 19:55:36,00:20:58
126,61753.0,1,1,812,BA020,15.0,30319.0,2017-05-01 19:40:09,2017-05-01 19:27:07,2017-05-01 19:48:33,2017-05-01 19:31:11,00:13:02
333,65005.0,1,1,712,HA016,23.0,31631.0,2017-05-01 20:35:36,2017-05-01 20:27:35,2017-05-01 20:48:00,2017-05-01 20:37:19,00:08:01
334,65005.0,4,1,712,HA016,23.0,31631.0,2017-05-01 20:56:36,2017-05-01 20:27:35,2017-05-01 21:09:00,2017-05-01 20:37:19,00:29:01
202,66750.0,1,1,050,JB301,9.0,29171.0,2017-05-01 21:20:37,2017-05-01 21:08:46,2017-05-01 21:35:59,2017-05-01 21:19:50,00:11:51
203,66750.0,5,1,050,JB301,9.0,29171.0,2017-05-01 21:36:29,2017-05-01 21:08:46,2017-05-01 21:50:24,2017-05-01 21:19:50,00:27:43
312,70106.0,1,1,685,HA288,15.0,33860.0,2017-05-01 22:49:46,2017-05-01 22:31:28,2017-05-01 23:12:11,2017-05-01 22:45:37,00:18:18
329,70719.0,4,1,924,BA124,10.0,30457.0,2017-05-01 22:54:24,2017-05-01 22:49:02,2017-05-01 23:15:00,2017-05-01 23:05:44,00:05:22
119,71039.0,1,1,777,JC004,20.0,26631.0,2017-05-01 22:59:06,2017-05-01 22:58:45,2017-05-01 23:17:01,2017-05-01 23:12:33,00:00:21
120,71039.0,3,1,777,JC004,20.0,26631.0,2017-05-01 23:14:06,2017-05-01 22:58:45,2017-05-01 23:32:01,2017-05-01 23:12:33,00:15:21
59,71056.0,1,1,030,KB600,7.0,299.0,2017-05-01 23:05:52,2017-05-01 22:58:56,2017-05-01 23:26:41,2017-05-01 23:14:20,00:06:56
60,71056.0,3,1,030,KB600,7.0,32540.0,2017-05-01 23:28:00,2017-05-01 22:58:56,2017-05-01 23:43:51,2017-05-01 23:10:46,00:29:04

In [154]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

In [156]:
scheduled_itin_observed_od_full.head()

,bt_from_busCode,bt_from_distanceTraveledShape,bt_from_gps_datetime,bt_from_parent_station,bt_from_route,bt_from_shapeId,bt_from_stopPointId,bt_from_stop_lat,bt_from_stop_lon,bt_from_tripNum,...,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,otp_start_time,otp_to_parent_station,otp_to_stop_id,otp_user_trip_id,sched_obs_end_timediff,sched_obs_start_timediff
3,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
4,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
5,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
6,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
15,BC929,6303.387,2017-05-01 14:22:34,NaN,827,2895.0,33788.0,-25.436303,-49.362221,13.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:45:58,00:44:01

## Keep only OTP-BusTrips itineraries which figure in first-vehicle-boarding matched itineraries

In [169]:
matched_vehicle_boardings_itins = vehic_first_boardings_options.filter(['otp_user_trip_id','otp_itinerary_id'])

In [170]:
matched_vehicle_boardings_itins.head()

   otp_user_trip_id  otp_itinerary_id
0           28150.0                 1
2           28262.0                 1
4           28424.0                 1
6           28154.0                 1
7           28154.0                 2

In [171]:
scheduled_itin_observed_od_full.head()

,bt_from_busCode,bt_from_distanceTraveledShape,bt_from_gps_datetime,bt_from_parent_station,bt_from_route,bt_from_shapeId,bt_from_stopPointId,bt_from_stop_lat,bt_from_stop_lon,bt_from_tripNum,...,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,otp_start_time,otp_to_parent_station,otp_to_stop_id,otp_user_trip_id,sched_obs_end_timediff,sched_obs_start_timediff
3,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
4,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
5,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
6,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
15,BC929,6303.387,2017-05-01 14:22:34,NaN,827,2895.0,33788.0,-25.436303,-49.362221,13.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:45:58,00:44:01

In [172]:
len(scheduled_itin_observed_od_full)

19121

In [173]:
scheduled_itin_observed_od.columns

Index([u'otp_date', u'otp_user_trip_id', u'otp_itinerary_id', u'otp_leg_id',
       u'otp_start_time', u'otp_end_time', u'otp_mode', u'otp_route',
       u'otp_from_stop_id', u'otp_to_stop_id', u'otp_duration_mins',
       u'otp_from_parent_station', u'otp_to_parent_station', u'bt_from_route',
       u'bt_from_busCode', u'bt_from_shapeId', u'bt_from_tripNum',
       u'bt_from_stopPointId', u'bt_from_gps_datetime',
       u'bt_from_distanceTraveledShape', u'bt_from_stop_lat',
       u'bt_from_stop_lon', u'bt_from_parent_station',
       u'sched_obs_start_timediff', u'bt_to_route', u'bt_to_busCode',
       u'bt_to_shapeId', u'bt_to_tripNum', u'bt_to_stopPointId',
       u'bt_to_gps_datetime', u'bt_to_distanceTraveledShape',
       u'bt_to_stop_lat', u'bt_to_stop_lon', u'bt_to_parent_station',
       u'sched_obs_end_timediff'],
      dtype='object')

In [174]:
matched_vehicle_boardings_itins.columns

Index([u'otp_user_trip_id', u'otp_itinerary_id'], dtype='object')

In [196]:
vehicle_boardings_obs_sch_itin_legs = scheduled_itin_observed_od_full.merge(matched_vehicle_boardings_itins,how='inner') \
                                        .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [197]:
len(vehicle_boardings_obs_sch_itin_legs)

1864

In [198]:
vehicle_boardings_obs_sch_itin_legs.head()

,bt_from_busCode,bt_from_distanceTraveledShape,bt_from_gps_datetime,bt_from_parent_station,bt_from_route,bt_from_shapeId,bt_from_stopPointId,bt_from_stop_lat,bt_from_stop_lon,bt_from_tripNum,...,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,otp_start_time,otp_to_parent_station,otp_to_stop_id,otp_user_trip_id,sched_obs_end_timediff,sched_obs_start_timediff
0,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
1,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
2,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
3,BC929,6303.387,2017-05-01 13:35:18,NaN,827,2895.0,33788.0,-25.436303,-49.362221,12.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:00:46,00:03:15
4,BC929,6303.387,2017-05-01 14:22:34,NaN,827,2895.0,33788.0,-25.436303,-49.362221,13.0,...,1,1,BUS,827,2017-05-01 13:38:33,14508.0,30993.0,28150.0,00:45:58,00:44:01

### Concatenating first boarding legs to other itinerary legs

#### Preparing First Boarding legs data

In [199]:
vehic_first_boardings_options.columns

Index([u'o_boarding_id', u'o_boarding_datetime', u'o_gps_datetime', u'o_route',
       u'o_busCode', u'o_tripNum', u'o_stopPointId', u'o_stop_lat',
       u'o_stop_lon', u'otp_user_trip_id', u'otp_itinerary_id', u'otp_date',
       u'otp_leg_id', u'otp_start_time', u'otp_end_time', u'otp_mode',
       u'otp_route', u'otp_from_stop_id', u'otp_to_stop_id',
       u'otp_duration_mins', u'otp_from_parent_station',
       u'otp_to_parent_station', u'route', u'busCode', u'shapeId', u'tripNum',
       u'stopPointId', u'gps_datetime', u'distanceTraveledShape', u'stop_lat',
       u'stop_lon', u'parent_station', u'sched_actual_start_timediff'],
      dtype='object')

In [200]:
vehic_first_boardings_options_clean = vehic_first_boardings_options \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','o_busCode',
             'o_tripNum','otp_from_stop_id','otp_start_time','o_boarding_datetime','otp_to_stop_id',
             'otp_end_time','gps_datetime','otp_duration_mins']) \
    .rename(index=str, columns={'o_busCode':'bt_bus_code','o_tripNum':'bt_trip_num',
                                'o_boarding_datetime':'bt_start_time','gps_datetime':'bt_end_time'}) \
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1)) \
    .assign(considered_duration_mins = lambda x: np.where(np.isnan(x.bt_duration_mins),x.otp_duration_mins,x.bt_duration_mins))

In [201]:
vehic_first_boardings_options_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
2,28262.0,1,1,BUS,827,BC929,12.0,33775.0,2017-05-01 13:40:17,2017-05-01 13:37:59,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,4.716667,6.250000,6.250000
4,28424.0,1,1,BUS,827,BC929,12.0,33535.0,2017-05-01 13:41:48,2017-05-01 13:39:51,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,3.200000,4.383333,4.383333
6,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
7,28154.0,2,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667

In [202]:
len(vehic_first_boardings_options_clean)

138

#### Preparing OTP itinerary legs data

In [203]:
vehicle_boardings_obs_sch_itin_legs.columns.values

array(['bt_from_busCode', 'bt_from_distanceTraveledShape',
       'bt_from_gps_datetime', 'bt_from_parent_station', 'bt_from_route',
       'bt_from_shapeId', 'bt_from_stopPointId', 'bt_from_stop_lat',
       'bt_from_stop_lon', 'bt_from_tripNum', 'bt_to_busCode',
       'bt_to_distanceTraveledShape', 'bt_to_gps_datetime',
       'bt_to_parent_station', 'bt_to_route', 'bt_to_shapeId',
       'bt_to_stopPointId', 'bt_to_stop_lat', 'bt_to_stop_lon',
       'bt_to_tripNum', 'otp_date', 'otp_duration_mins', 'otp_end_time',
       'otp_from_parent_station', 'otp_from_stop_id', 'otp_itinerary_id',
       'otp_leg_id', 'otp_mode', 'otp_route', 'otp_start_time',
       'otp_to_parent_station', 'otp_to_stop_id', 'otp_user_trip_id',
       'sched_obs_end_timediff', 'sched_obs_start_timediff'], dtype=object)

In [204]:
vehicle_boardings_obs_sch_itin_legs_clean = vehicle_boardings_obs_sch_itin_legs \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','bt_from_busCode',
             'bt_from_tripNum','otp_from_stop_id','otp_start_time','bt_from_gps_datetime','otp_to_stop_id',
             'otp_end_time','bt_to_gps_datetime','otp_duration_mins'])\
    .rename(index=str, columns={'bt_from_busCode':'bt_bus_code','bt_from_tripNum':'bt_trip_num',
                                'bt_from_gps_datetime':'bt_start_time','bt_to_gps_datetime':'bt_end_time'}) \
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1)) \
    .assign(considered_duration_mins = lambda x: np.where(np.isnan(x.bt_duration_mins),x.otp_duration_mins,x.bt_duration_mins))

In [205]:
vehicle_boardings_obs_sch_itin_legs_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.45,8.933333,8.933333
1,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.45,8.933333,8.933333
2,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.45,8.933333,8.933333
3,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.45,8.933333,8.933333
4,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,6.45,8.400000,8.400000

In [206]:
len(vehicle_boardings_obs_sch_itin_legs_clean)

1864

#### Concatenating Legs

In [207]:
len(vehic_first_boardings_options_clean)

138

In [208]:
vehic_first_boardings_options_clean_keys = vehic_first_boardings_options_clean.filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']).drop_duplicates()

In [209]:
len(vehic_first_boardings_options_clean_keys)

125

In [210]:
vehic_first_boardings_options_clean_keys.head(10)

    otp_user_trip_id  otp_itinerary_id  otp_leg_id
0            28150.0                 1           1
2            28262.0                 1           1
4            28424.0                 1           1
6            28154.0                 1           1
7            28154.0                 2           1
11           28229.0                 1           1
12           28229.0                 2           1
20           57607.0                 1           1
22           57607.0                 5           1
26           28161.0                 4           1

In [211]:
vehicle_legs_merged = vehicle_boardings_obs_sch_itin_legs_clean.merge(vehic_first_boardings_options_clean_keys, how='outer', indicator=True)
vehicle_legs_rest_clean = vehicle_legs_merged[vehicle_legs_merged['_merge'] == 'left_only'].drop('_merge', axis=1)

In [212]:
len(vehicle_legs_rest_clean)

807

In [213]:
vehicle_legs_rest_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
6,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN,0.866667
7,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667
8,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333,8.483333
9,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667,7.816667
10,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333,8.033333
11,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333,7.733333
12,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000,8.750000
13,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,NaT,NaN,2017-05-01 14:09:32,NaT,7.533333,NaN,7.533333
23,28154.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,NaT,NaN,2017-05-01 14:19:14,NaT,1.233333,NaN,1.233333
24,28154.0,1,3,BUS,603,HD243,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:22:47,25521.0,2017-05-01 14:53:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
25,28154.0,1,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:07:27,25521.0,2017-05-01 14:53:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
26,28154.0,1,3,BUS,603,HD240,5.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:37:36,25521.0,2017-05-01 14:53:48,2017-05-01 15:04:19,31.800000,26.716667,26.716667
27,28154.0,1,3,BUS,603,HD245,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:01:12,25521.0,2017-05-01 14:53:48,2017-05-01 14:07:19,31.800000,6.116667,6.116667
28,28154.0,1,3,BUS,603,HD245,8.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:51:12,25521.0,2017-05-01 14:53:48,2017-05-01 15:19:21,31.800000,28.150000,28.150000
29,28154.0,1,3,BUS,603,HD249,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 13:51:45,25521.0,2017-05-01 14:53:48,2017-05-01 14:17:40,31.800000,25.916667,25.916667
30,28154.0,1,3,BUS,603,HD249,8.0,26296.0,2017-05-01 14:22:00,2017-05-01 15:06:34,25521.0,2017-05-01 14:53:48,2017-05-01 15:31:11,31.800000,24.616667,24.616667
31,28154.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:53:49,NaT,NaN,2017-05-01 14:55:49,NaT,2.000000,NaN,2.000000
42,28154.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:00,NaT,NaN,2017-05-01 14:34:14,NaT,1.233333,NaN,1.233333
43,28154.0,2,3,BUS,603,HD240,5.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:37:36,25521.0,2017-05-01 15:10:48,2017-05-01 15:04:19,31.800000,26.716667,26.716667
44,28154.0,2,3,BUS,603,HD245,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:51:12,25521.0,2017-05-01 15:10:48,2017-05-01 15:19:21,31.800000,28.150000,28.150000
45,28154.0,2,3,BUS,603,HD243,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:22:47,25521.0,2017-05-01 15:10:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
46,28154.0,2,3,BUS,603,HD249,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:06:34,25521.0,2017-05-01 15:10:48,2017-05-01 15:31:11,31.800000,24.616667,24.616667
47,28154.0,2,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:10:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
48,28154.0,2,3,BUS,603,HD250,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:23:20,25521.0,2017-05-01 15:10:48,2017-05-01 15:47:46,31.800000,24.433333,24.433333
49,28154.0,2,3,BUS,603,HD249,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 13:51:45,25521.0,2017-05-01 15:10:48,2017-05-01 14:17:40,31.800000,25.916667,25.916667
50,28154.0,2,3,BUS,603,HD243,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:36:11,25521.0,2017-05-01 15:10:48,2017-05-01 16:02:50,31.800000,26.650000,26.650000
51,28154.0,2,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:49,NaT,NaN,2017-05-01 15:12:49,NaT,2.000000,NaN,2.000000
55,28161.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:51:00,NaT,NaN,2017-05-01 13:51:58,NaT,0.966667,NaN,0.966667
56,28161.0,4,3,BUS,303,LE702,5.0,26204.0,2017-05-01 13:52:41,2017-05-01 13:49:29,25646.0,2017-05-01 14:10:50,2017-05-01 14:04:25,18.150000,14.933333,14.933333
57,28161.0,4,3,BUS,303,DE715,4.0,26204.0,2017-05-01 13:52:41,2017-05-01 13:58:18,25646.0,2017-05-01 14:10:50,2017-05-01 14:12:36,18.150000,14.300000,14.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,65005.0,4,3,BUS,040,LB300,3.0,31633.0,2017-05-01 21:18:00,2017-05-01 20:33:54,33119.0,2017-05-01 22:00:00,2017-05-01 21:20:49,42.000000,46.916667,46.916667
1799,65005.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-01 22:00:00,NaT,NaN,2017-05-01 22:00:43,NaT,0.716667,NaN,0.716667
1800,65005.0,4,5,BUS,924,BA124,10.0,32371.0,2017-05-01 22:30:00,2017-05-01 22:19:04,26858.0,2017-05-01 22:41:03,2017-05-01 22:35:47,11.050000,16.716667,16.716667
1801,65005.0,4,5,BUS,924,BA134,11.0,32371.0,2017-05-01 22:30:00,2017-05-01 23:05:52,26858.0,2017-05-01 22:41:03,2017-05-01 23:23:29,11.050000,17.616667,17.616667
1802,65005.0,4,6,WALK,nan,NaN,NaN,NaN,2017-05-01 22:41:04,NaT,NaN,2017-05-01 22:41:05,NaT,0.016667,NaN,0.016667
1814,66750.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 21:35:59,NaT,NaN,2017-05-01 21:36:47,NaT,0.800000,NaN,0.800000
1815,66750.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 21:56:00,NaT,NaN,2017-05-01 21:58:30,NaT,2.500000,NaN,2.500000
1816,66750.0,1,5,BUS,619,HA020,18.0,30434.0,2017-05-01 22:10:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:33:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
1817,66750.0,1,5,BUS,619,HA020,19.0,30434.0,2017-05-01 22:10:00,2017-05-01 23:00:17,36275.0,2017-05-01 22:33:02,2017-05-01 23:25:43,23.033333,25.433333,25.433333
1818,66750.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-01 22:33:03,NaT,NaN,2017-05-01 22:33:11,NaT,0.133333,NaN,0.133333
1830,66750.0,5,2,WALK,nan,NaN,NaN,NaN,2017-05-01 21:50:24,NaT,NaN,2017-05-01 21:51:12,NaT,0.800000,NaN,0.800000
1831,66750.0,5,4,WALK,nan,NaN,NaN,NaN,2017-05-01 22:08:00,NaT,NaN,2017-05-01 22:10:30,NaT,2.500000,NaN,2.500000
1832,66750.0,5,5,BUS,619,HA020,18.0,30434.0,2017-05-01 22:30:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:53:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
1833,66750.0,5,5,BUS,619,HA020,19.0,30434.0,2017-05-01 22:30:00,2017-05-01 23:00:17,36275.0,2017-05-01 22:53:02,2017-05-01 23:25:43,23.033333,25.433333,25.433333
1834,66750.0,5,6,WALK,nan,NaN,NaN,NaN,2017-05-01 22:53:03,NaT,NaN,2017-05-01 22:53:11,NaT,0.133333,NaN,0.133333
1837,70106.0,1,2,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:11:25,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333
1838,70106.0,1,2,BUS,545,JA300,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:37:01,33850.0,2017-05-01 23:18:02,2017-05-01 23:39:02,4.233333,2.016667,2.016667
1839,70106.0,1,2,BUS,545,KA689,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 22:43:26,33850.0,2017-05-01 23:18:02,2017-05-01 22:47:50,4.233333,4.400000,4.400000
1840,70106.0,1,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:18:03,NaT,NaN,2017-05-01 23:18:09,NaT,0.100000,NaN,0.100000
1844,70719.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:15:00,NaT,NaN,2017-05-01 23:15:22,NaT,0.366667,NaN,0.366667
1845,70719.0,4,3,BUS,203,BD138,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 23:10:42,26187.0,2017-05-01 23:32:00,2017-05-01 23:21:45,12.000000,11.050000,11.050000
1846,70719.0,4,3,BUS,203,BD146,10.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:57:20,26187.0,2017-05-01 23:32:00,2017-05-01 23:07:58,12.000000,10.633333,10.633333
1847,70719.0,4,3,BUS,203,BD136,10.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:45:30,26187.0,2017-05-01 23:32:00,2017-05-01 22:56:19,12.000000,10.816667,10.816667
1848,70719.0,4,3,BUS,203,BD135,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:31:04,26187.0,2017-05-01 23:32:00,2017-05-01 22:43:17,12.000000,12.216667,12.216667
1849,70719.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:01,NaT,NaN,2017-05-01 23:34:45,NaT,2.733333,NaN,2.733333
1853,71039.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:17:02,NaT,NaN,2017-05-01 23:21:38,NaT,4.600000,NaN,4.600000
1857,71039.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:02,NaT,NaN,2017-05-01 23:36:38,NaT,4.600000,NaN,4.600000
1860,71056.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:41,NaT,NaN,2017-05-01 23:29:24,NaT,2.716667,NaN,2.716667
1861,71056.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:41:10,NaT,NaN,2017-05-01 23:46:50,NaT,5.666667,NaN,5.666667
1863,71056.0,3,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:50:01,NaT,NaN,2017-05-02 00:07:26,NaT,17.416667,NaN,17.416667

In [214]:
all_vehicle_legs_options = pd.concat([vehic_first_boardings_options_clean,vehicle_legs_rest_clean]) \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','bt_start_time'])

In [215]:
len(all_vehicle_legs_options)

945

In [216]:
all_vehicle_legs_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
6,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN,0.866667
11,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333,7.733333
9,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667,7.816667
8,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333,8.483333
7,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667
10,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333,8.033333
12,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000,8.750000
13,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,NaT,NaN,2017-05-01 14:09:32,NaT,7.533333,NaN,7.533333
6,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
23,28154.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,NaT,NaN,2017-05-01 14:19:14,NaT,1.233333,NaN,1.233333
29,28154.0,1,3,BUS,603,HD249,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 13:51:45,25521.0,2017-05-01 14:53:48,2017-05-01 14:17:40,31.800000,25.916667,25.916667
27,28154.0,1,3,BUS,603,HD245,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:01:12,25521.0,2017-05-01 14:53:48,2017-05-01 14:07:19,31.800000,6.116667,6.116667
25,28154.0,1,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:07:27,25521.0,2017-05-01 14:53:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
24,28154.0,1,3,BUS,603,HD243,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:22:47,25521.0,2017-05-01 14:53:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
26,28154.0,1,3,BUS,603,HD240,5.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:37:36,25521.0,2017-05-01 14:53:48,2017-05-01 15:04:19,31.800000,26.716667,26.716667
28,28154.0,1,3,BUS,603,HD245,8.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:51:12,25521.0,2017-05-01 14:53:48,2017-05-01 15:19:21,31.800000,28.150000,28.150000
30,28154.0,1,3,BUS,603,HD249,8.0,26296.0,2017-05-01 14:22:00,2017-05-01 15:06:34,25521.0,2017-05-01 14:53:48,2017-05-01 15:31:11,31.800000,24.616667,24.616667
31,28154.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:53:49,NaT,NaN,2017-05-01 14:55:49,NaT,2.000000,NaN,2.000000
7,28154.0,2,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
42,28154.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:00,NaT,NaN,2017-05-01 14:34:14,NaT,1.233333,NaN,1.233333
49,28154.0,2,3,BUS,603,HD249,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 13:51:45,25521.0,2017-05-01 15:10:48,2017-05-01 14:17:40,31.800000,25.916667,25.916667
47,28154.0,2,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:10:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
45,28154.0,2,3,BUS,603,HD243,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:22:47,25521.0,2017-05-01 15:10:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
43,28154.0,2,3,BUS,603,HD240,5.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:37:36,25521.0,2017-05-01 15:10:48,2017-05-01 15:04:19,31.800000,26.716667,26.716667
44,28154.0,2,3,BUS,603,HD245,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:51:12,25521.0,2017-05-01 15:10:48,2017-05-01 15:19:21,31.800000,28.150000,28.150000
46,28154.0,2,3,BUS,603,HD249,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:06:34,25521.0,2017-05-01 15:10:48,2017-05-01 15:31:11,31.800000,24.616667,24.616667
48,28154.0,2,3,BUS,603,HD250,7.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:23:20,25521.0,2017-05-01 15:10:48,2017-05-01 15:47:46,31.800000,24.433333,24.433333
50,28154.0,2,3,BUS,603,HD243,8.0,26296.0,2017-05-01 14:39:00,2017-05-01 15:36:11,25521.0,2017-05-01 15:10:48,2017-05-01 16:02:50,31.800000,26.650000,26.650000
51,28154.0,2,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:49,NaT,NaN,2017-05-01 15:12:49,NaT,2.000000,NaN,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1816,66750.0,1,5,BUS,619,HA020,18.0,30434.0,2017-05-01 22:10:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:33:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
1817,66750.0,1,5,BUS,619,HA020,19.0,30434.0,2017-05-01 22:10:00,2017-05-01 23:00:17,36275.0,2017-05-01 22:33:02,2017-05-01 23:25:43,23.033333,25.433333,25.433333
1818,66750.0,1,6,WALK,nan,NaN,NaN,NaN,2017-05-01 22:33:03,NaT,NaN,2017-05-01 22:33:11,NaT,0.133333,NaN,0.133333
203,66750.0,5,1,BUS,050,JB301,9.0,31749.0,2017-05-01 21:36:29,2017-05-01 21:09:39,29171.0,2017-05-01 21:50:24,2017-05-01 21:19:50,13.916667,10.183333,10.183333
1830,66750.0,5,2,WALK,nan,NaN,NaN,NaN,2017-05-01 21:50:24,NaT,NaN,2017-05-01 21:51:12,NaT,0.800000,NaN,0.800000
1831,66750.0,5,4,WALK,nan,NaN,NaN,NaN,2017-05-01 22:08:00,NaT,NaN,2017-05-01 22:10:30,NaT,2.500000,NaN,2.500000
1832,66750.0,5,5,BUS,619,HA020,18.0,30434.0,2017-05-01 22:30:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:53:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
1833,66750.0,5,5,BUS,619,HA020,19.0,30434.0,2017-05-01 22:30:00,2017-05-01 23:00:17,36275.0,2017-05-01 22:53:02,2017-05-01 23:25:43,23.033333,25.433333,25.433333
1834,66750.0,5,6,WALK,nan,NaN,NaN,NaN,2017-05-01 22:53:03,NaT,NaN,2017-05-01 22:53:11,NaT,0.133333,NaN,0.133333
312,70106.0,1,1,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667
1839,70106.0,1,2,BUS,545,KA689,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 22:43:26,33850.0,2017-05-01 23:18:02,2017-05-01 22:47:50,4.233333,4.400000,4.400000
1837,70106.0,1,2,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:11:25,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333
1838,70106.0,1,2,BUS,545,JA300,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:37:01,33850.0,2017-05-01 23:18:02,2017-05-01 23:39:02,4.233333,2.016667,2.016667
1840,70106.0,1,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:18:03,NaT,NaN,2017-05-01 23:18:09,NaT,0.100000,NaN,0.100000
329,70719.0,4,1,BUS,924,BA124,10.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,20.600000,15.783333,15.783333
1844,70719.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:15:00,NaT,NaN,2017-05-01 23:15:22,NaT,0.366667,NaN,0.366667
1848,70719.0,4,3,BUS,203,BD135,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:31:04,26187.0,2017-05-01 23:32:00,2017-05-01 22:43:17,12.000000,12.216667,12.216667
1847,70719.0,4,3,BUS,203,BD136,10.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:45:30,26187.0,2017-05-01 23:32:00,2017-05-01 22:56:19,12.000000,10.816667,10.816667
1846,70719.0,4,3,BUS,203,BD146,10.0,26196.0,2017-05-01 23:20:00,2017-05-01 22:57:20,26187.0,2017-05-01 23:32:00,2017-05-01 23:07:58,12.000000,10.633333,10.633333
1845,70719.0,4,3,BUS,203,BD138,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 23:10:42,26187.0,2017-05-01 23:32:00,2017-05-01 23:21:45,12.000000,11.050000,11.050000
1849,70719.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:01,NaT,NaN,2017-05-01 23:34:45,NaT,2.733333,NaN,2.733333
119,71039.0,1,1,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
1853,71039.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:17:02,NaT,NaN,2017-05-01 23:21:38,NaT,4.600000,NaN,4.600000
120,71039.0,3,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
1857,71039.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:02,NaT,NaN,2017-05-01 23:36:38,NaT,4.600000,NaN,4.600000
59,71056.0,1,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,20.816667,14.166667,14.166667
1860,71056.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:41,NaT,NaN,2017-05-01 23:29:24,NaT,2.716667,NaN,2.716667
1861,71056.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:41:10,NaT,NaN,2017-05-01 23:46:50,NaT,5.666667,NaN,5.666667
60,71056.0,3,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,15.850000,10.600000,10.600000
1863,71056.0,3,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:50:01,NaT,NaN,2017-05-02 00:07:26,NaT,17.416667,NaN,17.416667

### Choose best actual leg matches (based on feasibility and start time)

In [240]:
sample_itinerary_options = all_vehicle_legs_options.iloc[0:9,]

In [241]:
sample_itinerary_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
6,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN,0.866667
11,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333,7.733333
9,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667,7.816667
8,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333,8.483333
7,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667
10,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333,8.033333
12,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000,8.750000
13,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,NaT,NaN,2017-05-01 14:09:32,NaT,7.533333,NaN,7.533333

In [417]:
def choose_leg_matches(leg_matches_groups,colnames):
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        chosen_leg_matches = pd.DataFrame()
        prev_group_id = ()
        prev_itin_id = -1
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                if ((prev_itin_id == -1)):
                        prev_itin_id = group['otp_itinerary_id'].iloc[0]
                        prev_leg_end_time = group['bt_start_time'].dt.floor('d').iloc[0]
                elif (prev_itin_id != group['otp_itinerary_id'].iloc[0]):
                        prev_leg_end_time = group['bt_start_time'].dt.floor('d').iloc[0]
                    

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous leg end time:", prev_leg_end_time
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (group['otp_mode'].iloc[0] == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.copy().reset_index()
                    filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                    filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                        pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_itin_id = group['otp_itinerary_id'].iloc[0]
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [418]:
chosen_legs = choose_leg_matches(all_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']),
                                all_vehicle_legs_options.columns)

In [419]:
chosen_legs

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1.0,1.0,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
0,28150.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,0.866667
7,28150.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667
0,28150.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,2017-05-01 14:12:10,NaN,2017-05-01 14:09:32,2017-05-01 14:20:10,7.533333,NaN,7.533333
0,28154.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,2017-05-01 14:20:10,NaN,2017-05-01 14:19:14,2017-05-01 14:21:10,1.233333,NaN,1.233333
24,28154.0,1.0,3.0,BUS,603,HD243,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:22:47,25521.0,2017-05-01 14:53:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
0,28154.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:53:49,2017-05-01 14:49:17,NaN,2017-05-01 14:55:49,2017-05-01 14:51:17,2.000000,NaN,2.000000
7,28154.0,2.0,1.0,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
0,28154.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:00,2017-05-01 14:01:41,NaN,2017-05-01 14:34:14,2017-05-01 14:02:41,1.233333,NaN,1.233333
47,28154.0,2.0,3.0,BUS,603,HD250,6.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:10:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
0,28154.0,2.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:49,2017-05-01 14:32:45,NaN,2017-05-01 15:12:49,2017-05-01 14:34:45,2.000000,NaN,2.000000
26,28161.0,4.0,1.0,BUS,050,JB301,5.0,14404.0,2017-05-01 13:44:57,2017-05-01 13:36:33,32454.0,2017-05-01 13:51:00,2017-05-01 13:39:53,6.050000,3.333333,3.333333
0,28161.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:51:00,2017-05-01 13:39:53,NaN,2017-05-01 13:51:58,2017-05-01 13:40:53,0.966667,NaN,0.966667
56,28161.0,4.0,3.0,BUS,303,LE702,5.0,26204.0,2017-05-01 13:52:41,2017-05-01 13:49:29,25646.0,2017-05-01 14:10:50,2017-05-01 14:04:25,18.150000,14.933333,14.933333
0,28161.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:10:51,2017-05-01 14:04:25,NaN,2017-05-01 14:10:53,2017-05-01 14:04:25,0.033333,NaN,0.033333
27,28161.0,10.0,1.0,BUS,050,JB301,5.0,14404.0,2017-05-01 14:03:36,2017-05-01 13:36:33,32454.0,2017-05-01 14:09:00,2017-05-01 13:39:53,5.400000,3.333333,3.333333
0,28161.0,10.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:09:00,2017-05-01 13:39:53,NaN,2017-05-01 14:09:58,2017-05-01 13:40:53,0.966667,NaN,0.966667
74,28161.0,10.0,3.0,BUS,303,LE702,5.0,26204.0,2017-05-01 14:10:28,2017-05-01 13:49:29,25646.0,2017-05-01 14:28:02,2017-05-01 14:04:25,17.566667,14.933333,14.933333
0,28161.0,10.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:28:03,2017-05-01 14:04:25,NaN,2017-05-01 14:28:05,2017-05-01 14:04:25,0.033333,NaN,0.033333
28,28164.0,1.0,1.0,BUS,812,BA020,9.0,30320.0,2017-05-01 13:46:46,2017-05-01 13:36:35,28138.0,2017-05-01 14:03:00,2017-05-01 13:47:34,16.233333,10.983333,10.983333
86,28164.0,1.0,2.0,BUS,812,BA019,9.0,28138.0,2017-05-01 14:03:00,2017-05-01 14:16:04,30262.0,2017-05-01 14:06:59,2017-05-01 14:28:12,3.983333,12.133333,12.133333
0,28165.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:12:01,2017-05-01 14:28:12,NaN,2017-05-01 14:12:14,2017-05-01 14:28:12,0.216667,NaN,0.216667
44,28165.0,2.0,1.0,BUS,462,DC093,7.0,30798.0,2017-05-01 13:52:02,2017-05-01 13:36:35,26157.0,2017-05-01 14:28:00,2017-05-01 14:00:22,35.966667,23.783333,23.783333
0,28165.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:28:01,2017-05-01 14:00:22,NaN,2017-05-01 14:28:14,2017-05-01 14:00:22,0.216667,NaN,0.216667
50,28169.0,4.0,1.0,BUS,545,JA300,6.0,33835.0,2017-05-01 13:50:13,2017-05-01 13:36:36,29967.0,2017-05-01 14:35:04,2017-05-01 14:14:48,44.850000,38.200000,38.200000
0,28169.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:35:04,2017-05-01 14:14:48,NaN,2017-05-01 14:41:18,2017-05-01 14:20:48,6.233333,NaN,6.233333
110,28169.0,4.0,3.0,BUS,522,EA182,7.0,29836.0,2017-05-01 14:41:47,2017-05-01 14:23:49,33373.0,2017-05-01 14:48:07,2017-05-01 14:28:18,6.333333,4.483333,4.483333
58,28172.0,6.0,1.0,BUS,334,DA023,20.0,27786.0,2017-05-01 13:55:39,2017-05-01 13:36:41,27812.0,2017-05-01 14:02:00,2017-05-01 13:20:33,6.350000,-16.133333,-16.133333
0,28172.0,6.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,2017-05-01 13:20:33,NaN,2017-05-01 14:02:09,2017-05-01 13:20:33,0.150000,NaN,0.150000
119,28172.0,6.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 14:04:00,2017-05-01 13:50:12,26198.0,2017-05-01 14:15:36,2017-05-01 14:02:26,11.600000,12.233333,12.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796,65005.0,4.0,3.0,BUS,040,HB605,7.0,31633.0,2017-05-01 21:18:00,2017-05-01 20:48:48,33119.0,2017-05-01 22:00:00,2017-05-01 21:28:31,42.000000,39.716667,39.716667
0,65005.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:00:00,2017-05-01 21:28:31,NaN,2017-05-01 22:00:43,2017-05-01 21:29:31,0.716667,NaN,0.716667
1800,65005.0,4.0,5.0,BUS,924,BA124,10.0,32371.0,2017-05-01 22:30:00,2017-05-01 22:19:04,26858.0,2017-05-01 22:41:03,2017-05-01 22:35:47,11.050000,16.716667,16.716667
0,65005.0,4.0,6.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:41:04,2017-05-01 22:35:47,NaN,2017-05-01 22:41:05,2017-05-01 22:35:47,0.016667,NaN,0.016667
202,66750.0,1.0,1.0,BUS,050,JB301,9.0,31749.0,2017-05-01 21:20:37,2017-05-01 21:09:39,29171.0,2017-05-01 21:35:59,2017-05-01 21:19:50,15.366667,10.183333,10.183333
0,66750.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:35:59,2017-05-01 21:19:50,NaN,2017-05-01 21:36:47,2017-05-01 21:20:50,0.800000,NaN,0.800000
0,66750.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:56:00,2017-05-01 21:20:50,NaN,2017-05-01 21:58:30,2017-05-01 21:22:50,2.500000,NaN,2.500000
1816,66750.0,1.0,5.0,BUS,619,HA020,18.0,30434.0,2017-05-01 22:10:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:33:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
0,66750.0,1.0,6.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:33:03,2017-05-01 22:26:11,NaN,2017-05-01 22:33:11,2017-05-01 22:26:11,0.133333,NaN,0.133333
203,66750.0,5.0,1.0,BUS,050,JB301,9.0,31749.0,2017-05-01 21:36:29,2017-05-01 21:09:39,29171.0,2017-05-01 21:50:24,2017-05-01 21:19:50,13.916667,10.183333,10.183333
0,66750.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:50:24,2017-05-01 21:19:50,NaN,2017-05-01 21:51:12,2017-05-01 21:20:50,0.800000,NaN,0.800000
0,66750.0,5.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:08:00,2017-05-01 21:20:50,NaN,2017-05-01 22:10:30,2017-05-01 21:22:50,2.500000,NaN,2.500000
1832,66750.0,5.0,5.0,BUS,619,HA020,18.0,30434.0,2017-05-01 22:30:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:53:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
0,66750.0,5.0,6.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:53:03,2017-05-01 22:26:11,NaN,2017-05-01 22:53:11,2017-05-01 22:26:11,0.133333,NaN,0.133333
312,70106.0,1.0,1.0,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667
1837,70106.0,1.0,2.0,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:11:25,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333
0,70106.0,1.0,3.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:18:03,2017-05-01 23:14:27,NaN,2017-05-01 23:18:09,2017-05-01 23:14:27,0.100000,NaN,0.100000
329,70719.0,4.0,1.0,BUS,924,BA124,10.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,20.600000,15.783333,15.783333
0,70719.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:15:00,2017-05-01 23:05:44,NaN,2017-05-01 23:15:22,2017-05-01 23:05:44,0.366667,NaN,0.366667
1845,70719.0,4.0,3.0,BUS,203,BD138,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 23:10:42,26187.0,2017-05-01 23:32:00,2017-05-01 23:21:45,12.000000,11.050000,11.050000
0,70719.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:01,2017-05-01 23:21:45,NaN,2017-05-01 23:34:45,2017-05-01 23:24:45,2.733333,NaN,2.733333
119,71039.0,1.0,1.0,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
0,71039.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:17:02,2017-05-01 23:12:33,NaN,2017-05-01 23:21:38,2017-05-01 23:17:33,4.600000,NaN,4.600000
120,71039.0,3.0,1.0,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
0,71039.0,3.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:02,2017-05-01 23:12:33,NaN,2017-05-01 23:36:38,2017-05-01 23:17:33,4.600000,NaN,4.600000
59,71056.0,1.0,1.0,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,20.816667,14.166667,14.166667
0,71056.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:41,2017-05-01 23:14:20,NaN,2017-05-01 23:29:24,2017-05-01 23:17:20,2.716667,NaN,2.716667
0,71056.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:41:10,2017-05-01 23:17:20,NaN,2017-05-01 23:46:50,2017-05-01 23:23:20,5.666667,NaN,5.666667
60,71056.0,3.0,1.0,BUS,030,KB600,7.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,15.850000,10.600000,10.600000
0,71056.0,3.0,3.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:50:01,2017-05-01 23:10:46,NaN,2017-05-02 00:07:26,2017-05-01 23:27:46,17.416667,NaN,17.416667

#### Remove last walk legs of itinerary

In [424]:
chosen_legs_clean = chosen_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
            .apply(lambda x: x.iloc[:-1] if x.otp_mode.iloc[-1] == 'WALK' else x) \
            .reset_index(drop=True) \
            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [425]:
chosen_legs_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins
0,28150.0,1.0,1.0,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667
1,28150.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,0.866667
2,28150.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667
3,28154.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,2017-05-01 14:20:10,NaN,2017-05-01 14:19:14,2017-05-01 14:21:10,1.233333,NaN,1.233333
4,28154.0,1.0,3.0,BUS,603,HD243,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:22:47,25521.0,2017-05-01 14:53:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000
5,28154.0,2.0,1.0,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667,25.216667
6,28154.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:00,2017-05-01 14:01:41,NaN,2017-05-01 14:34:14,2017-05-01 14:02:41,1.233333,NaN,1.233333
7,28154.0,2.0,3.0,BUS,603,HD250,6.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:10:48,2017-05-01 14:32:45,31.800000,25.300000,25.300000
8,28161.0,4.0,1.0,BUS,050,JB301,5.0,14404.0,2017-05-01 13:44:57,2017-05-01 13:36:33,32454.0,2017-05-01 13:51:00,2017-05-01 13:39:53,6.050000,3.333333,3.333333
9,28161.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:51:00,2017-05-01 13:39:53,NaN,2017-05-01 13:51:58,2017-05-01 13:40:53,0.966667,NaN,0.966667
10,28161.0,4.0,3.0,BUS,303,LE702,5.0,26204.0,2017-05-01 13:52:41,2017-05-01 13:49:29,25646.0,2017-05-01 14:10:50,2017-05-01 14:04:25,18.150000,14.933333,14.933333
11,28161.0,10.0,1.0,BUS,050,JB301,5.0,14404.0,2017-05-01 14:03:36,2017-05-01 13:36:33,32454.0,2017-05-01 14:09:00,2017-05-01 13:39:53,5.400000,3.333333,3.333333
12,28161.0,10.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:09:00,2017-05-01 13:39:53,NaN,2017-05-01 14:09:58,2017-05-01 13:40:53,0.966667,NaN,0.966667
13,28161.0,10.0,3.0,BUS,303,LE702,5.0,26204.0,2017-05-01 14:10:28,2017-05-01 13:49:29,25646.0,2017-05-01 14:28:02,2017-05-01 14:04:25,17.566667,14.933333,14.933333
14,28164.0,1.0,1.0,BUS,812,BA020,9.0,30320.0,2017-05-01 13:46:46,2017-05-01 13:36:35,28138.0,2017-05-01 14:03:00,2017-05-01 13:47:34,16.233333,10.983333,10.983333
15,28164.0,1.0,2.0,BUS,812,BA019,9.0,28138.0,2017-05-01 14:03:00,2017-05-01 14:16:04,30262.0,2017-05-01 14:06:59,2017-05-01 14:28:12,3.983333,12.133333,12.133333
16,28165.0,2.0,1.0,BUS,462,DC093,7.0,30798.0,2017-05-01 13:52:02,2017-05-01 13:36:35,26157.0,2017-05-01 14:28:00,2017-05-01 14:00:22,35.966667,23.783333,23.783333
17,28169.0,4.0,1.0,BUS,545,JA300,6.0,33835.0,2017-05-01 13:50:13,2017-05-01 13:36:36,29967.0,2017-05-01 14:35:04,2017-05-01 14:14:48,44.850000,38.200000,38.200000
18,28169.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:35:04,2017-05-01 14:14:48,NaN,2017-05-01 14:41:18,2017-05-01 14:20:48,6.233333,NaN,6.233333
19,28169.0,4.0,3.0,BUS,522,EA182,7.0,29836.0,2017-05-01 14:41:47,2017-05-01 14:23:49,33373.0,2017-05-01 14:48:07,2017-05-01 14:28:18,6.333333,4.483333,4.483333
20,28172.0,6.0,1.0,BUS,334,DA023,20.0,27786.0,2017-05-01 13:55:39,2017-05-01 13:36:41,27812.0,2017-05-01 14:02:00,2017-05-01 13:20:33,6.350000,-16.133333,-16.133333
21,28172.0,6.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,2017-05-01 13:20:33,NaN,2017-05-01 14:02:09,2017-05-01 13:20:33,0.150000,NaN,0.150000
22,28172.0,6.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 14:04:00,2017-05-01 13:50:12,26198.0,2017-05-01 14:15:36,2017-05-01 14:02:26,11.600000,12.233333,12.233333
23,28172.0,6.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:15:36,2017-05-01 14:02:26,NaN,2017-05-01 14:17:25,2017-05-01 14:04:26,1.816667,NaN,1.816667
24,28172.0,6.0,5.0,BUS,023,DL301,6.0,26223.0,2017-05-01 14:21:00,2017-05-01 14:42:03,25685.0,2017-05-01 14:31:12,2017-05-01 14:52:28,10.200000,10.416667,10.416667
25,28172.0,6.0,6.0,BUS,307,ML306,6.0,25685.0,2017-05-01 14:39:24,2017-05-01 15:08:23,26208.0,2017-05-01 14:54:00,2017-05-01 15:17:24,14.600000,9.016667,9.016667
26,28174.0,1.0,1.0,BUS,515,EA303,10.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,15.550000,15.500000,15.500000
27,28174.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:56:00,2017-05-01 13:52:12,NaN,2017-05-01 13:58:59,2017-05-01 13:55:12,2.983333,NaN,2.983333
28,28174.0,1.0,3.0,BUS,503,KE842,9.0,27474.0,2017-05-01 14:01:04,2017-05-01 14:05:30,26905.0,2017-05-01 14:18:06,2017-05-01 14:22:51,17.033333,17.350000,17.350000
29,28174.0,5.0,1.0,BUS,515,EA303,10.0,33580.0,2017-05-01 13:55:27,2017-05-01 13:36:42,27791.0,2017-05-01 14:11:00,2017-05-01 13:52:12,15.550000,15.500000,15.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,61070.0,3.0,1.0,BUS,020,BB613,7.0,30949.0,2017-05-01 19:40:16,2017-05-01 19:19:27,26228.0,2017-05-01 20:19:00,2017-05-01 19:55:36,38.733333,36.150000,36.150000
280,61753.0,1.0,1.0,BUS,812,BA020,15.0,30262.0,2017-05-01 19:40:09,2017-05-01 19:27:42,30319.0,2017-05-01 19:48:33,2017-05-01 19:31:11,8.400000,3.483333,3.483333
281,65005.0,1.0,1.0,BUS,712,HA016,23.0,35531.0,2017-05-01 20:35:36,2017-05-01 20:28:26,31631.0,2017-05-01 20:48:00,2017-05-01 20:37:19,12.400000,8.883333,8.883333
282,65005.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 20:48:00,2017-05-01 20:37:19,NaN,2017-05-01 20:48:25,2017-05-01 20:37:19,0.416667,NaN,0.416667
283,65005.0,1.0,3.0,BUS,040,HB605,7.0,31633.0,2017-05-01 20:59:20,2017-05-01 20:48:48,33119.0,2017-05-01 21:42:00,2017-05-01 21:28:31,42.666667,39.716667,39.716667
284,65005.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:42:00,2017-05-01 21:28:31,NaN,2017-05-01 21:42:43,2017-05-01 21:29:31,0.716667,NaN,0.716667
285,65005.0,1.0,5.0,BUS,924,BA134,10.0,32371.0,2017-05-01 21:55:00,2017-05-01 21:29:46,26858.0,2017-05-01 22:06:34,2017-05-01 21:50:35,11.566667,20.816667,20.816667
286,65005.0,4.0,1.0,BUS,712,HA016,23.0,35531.0,2017-05-01 20:56:36,2017-05-01 20:28:26,31631.0,2017-05-01 21:09:00,2017-05-01 20:37:19,12.400000,8.883333,8.883333
287,65005.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:09:00,2017-05-01 20:37:19,NaN,2017-05-01 21:09:25,2017-05-01 20:37:19,0.416667,NaN,0.416667
288,65005.0,4.0,3.0,BUS,040,HB605,7.0,31633.0,2017-05-01 21:18:00,2017-05-01 20:48:48,33119.0,2017-05-01 22:00:00,2017-05-01 21:28:31,42.000000,39.716667,39.716667
289,65005.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:00:00,2017-05-01 21:28:31,NaN,2017-05-01 22:00:43,2017-05-01 21:29:31,0.716667,NaN,0.716667
290,65005.0,4.0,5.0,BUS,924,BA124,10.0,32371.0,2017-05-01 22:30:00,2017-05-01 22:19:04,26858.0,2017-05-01 22:41:03,2017-05-01 22:35:47,11.050000,16.716667,16.716667
291,66750.0,1.0,1.0,BUS,050,JB301,9.0,31749.0,2017-05-01 21:20:37,2017-05-01 21:09:39,29171.0,2017-05-01 21:35:59,2017-05-01 21:19:50,15.366667,10.183333,10.183333
292,66750.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:35:59,2017-05-01 21:19:50,NaN,2017-05-01 21:36:47,2017-05-01 21:20:50,0.800000,NaN,0.800000
293,66750.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:56:00,2017-05-01 21:20:50,NaN,2017-05-01 21:58:30,2017-05-01 21:22:50,2.500000,NaN,2.500000
294,66750.0,1.0,5.0,BUS,619,HA020,18.0,30434.0,2017-05-01 22:10:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:33:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
295,66750.0,5.0,1.0,BUS,050,JB301,9.0,31749.0,2017-05-01 21:36:29,2017-05-01 21:09:39,29171.0,2017-05-01 21:50:24,2017-05-01 21:19:50,13.916667,10.183333,10.183333
296,66750.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 21:50:24,2017-05-01 21:19:50,NaN,2017-05-01 21:51:12,2017-05-01 21:20:50,0.800000,NaN,0.800000
297,66750.0,5.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 22:08:00,2017-05-01 21:20:50,NaN,2017-05-01 22:10:30,2017-05-01 21:22:50,2.500000,NaN,2.500000
298,66750.0,5.0,5.0,BUS,619,HA020,18.0,30434.0,2017-05-01 22:30:00,2017-05-01 22:03:49,36275.0,2017-05-01 22:53:02,2017-05-01 22:26:11,23.033333,22.366667,22.366667
299,70106.0,1.0,1.0,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667
300,70106.0,1.0,2.0,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,2017-05-01 23:11:25,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333
301,70719.0,4.0,1.0,BUS,924,BA124,10.0,32234.0,2017-05-01 22:54:24,2017-05-01 22:49:57,30457.0,2017-05-01 23:15:00,2017-05-01 23:05:44,20.600000,15.783333,15.783333
302,70719.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:15:00,2017-05-01 23:05:44,NaN,2017-05-01 23:15:22,2017-05-01 23:05:44,0.366667,NaN,0.366667
303,70719.0,4.0,3.0,BUS,203,BD138,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 23:10:42,26187.0,2017-05-01 23:32:00,2017-05-01 23:21:45,12.000000,11.050000,11.050000
304,71039.0,1.0,1.0,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
305,71039.0,3.0,1.0,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,17.916667,12.866667,12.866667
306,71056.0,1.0,1.0,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,20.816667,14.166667,14.166667
307,71056.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:41,2017-05-01 23:14:20,NaN,2017-05-01 23:29:24,2017-05-01 23:17:20,2.716667,NaN,2.716667
308,71056.0,3.0,1.0,BUS,030,KB600,7.0,26222.0,2017-05-01 23:28:00,2017-05-01 23:00:10,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,15.850000,10.600000,10.600000

#### Add stops data to legs

In [436]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [437]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]

In [438]:
itineraries_legs = add_stops_data_to_legs(chosen_legs_clean,stops_locations)

In [485]:
itineraries_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,28150.0,1.0,1.0,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667,-25.436303,-49.362221,-25.441705,-49.346328
1,28150.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,0.866667,NaN,NaN,NaN,NaN
2,28150.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
3,28154.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,2017-05-01 14:20:10,NaN,2017-05-01 14:19:14,2017-05-01 14:21:10,1.233333,NaN,1.233333,NaN,NaN,NaN,NaN
4,28154.0,1.0,3.0,BUS,603,HD243,7.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:22:47,25521.0,2017-05-01 14:53:48,2017-05-01 14:49:17,31.800000,26.500000,26.500000,-25.512252,-49.295580,-25.442988,-49.280469

In [503]:
itineraries_legs.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'otp_to_stop_id',
       'otp_end_time', 'bt_end_time', 'otp_duration_mins',
       'bt_duration_mins', 'considered_duration_mins', 'from_stop_lat',
       'from_stop_lon', 'to_stop_lat', 'to_stop_lon'], dtype=object)

#### Add back card number

In [512]:
trips_on_pairs_full.columns

Index([u'cardNum', u'o_boarding_id', u'o_boarding_datetime', u'o_gps_datetime',
       u'o_route', u'o_busCode', u'o_tripNum', u'o_stopPointId', u'o_stop_lat',
       u'o_stop_lon', u'next_o_boarding_id', u'next_o_boarding_datetime',
       u'next_o_gps_datetime', u'next_o_route', u'next_o_busCode',
       u'next_o_tripNum', u'next_o_stopPointId', u'next_o_stop_lat',
       u'next_o_stop_lon', u'boardings_timediff', u'dist_between_origins'],
      dtype='object')

In [513]:
passenger_trips_ids = trips_on_pairs_full.filter(['cardNum','o_boarding_id']) \
                            .rename(index=str, columns={'cardNum':'card_num','o_boarding_id':'trip_id'})

In [514]:
passenger_trips_ids.head()

    card_num  trip_id
0  1886552.0    180.0
1  1886552.0  40392.0
2  3601076.0    181.0
3  3601076.0  31560.0
4  3282345.0    182.0

In [515]:
pass_itins_legs = itineraries_legs.merge(passenger_trips_ids, 
                       left_on=['otp_user_trip_id'], 
                       right_on=['trip_id'],
                       how='left') \
                .drop('otp_user_trip_id', axis=1) \
                .filter(np.append(['card_num','trip_id'],itineraries_legs.columns.values[1:])) \
                .sort_values(['card_num','trip_id','otp_itinerary_id','otp_leg_id'])

In [510]:
pass_itins_legs

,card_num,trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
57,827182.0,28276.0,1.0,1.0,BUS,652,LA011,11.0,36694.0,2017-05-01 13:46:38,...,28609.0,2017-05-01 14:04:00,2017-05-01 13:55:44,17.366667,17.550000,17.550000,-25.534742,-49.332760,-25.511657,-49.324786
58,827182.0,28276.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:04:00,...,NaN,2017-05-01 14:04:05,2017-05-01 13:55:44,0.083333,NaN,0.083333,NaN,NaN,NaN,NaN
59,827182.0,28276.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:20:30,...,NaN,2017-05-01 14:21:55,2017-05-01 13:56:44,1.416667,NaN,1.416667,NaN,NaN,NaN,NaN
60,827182.0,28276.0,1.0,5.0,BUS,203,BD135,4.0,26199.0,2017-05-01 14:24:00,...,25732.0,2017-05-01 14:41:26,2017-05-01 14:23:46,17.433333,20.266667,20.266667,-25.491755,-49.293490,-25.448323,-49.287777
61,827182.0,28276.0,6.0,1.0,BUS,652,LA011,11.0,36694.0,2017-05-01 14:07:11,...,28609.0,2017-05-01 14:26:00,2017-05-01 13:55:44,18.816667,17.550000,17.550000,-25.534742,-49.332760,-25.511657,-49.324786
62,827182.0,28276.0,6.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:26:00,...,NaN,2017-05-01 14:26:05,2017-05-01 13:55:44,0.083333,NaN,0.083333,NaN,NaN,NaN,NaN
63,827182.0,28276.0,6.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:44:30,...,NaN,2017-05-01 14:46:29,2017-05-01 13:57:44,1.983333,NaN,1.983333,NaN,NaN,NaN,NaN
64,827182.0,28276.0,6.0,5.0,BUS,603,HD249,7.0,26294.0,2017-05-01 14:47:37,...,25732.0,2017-05-01 15:07:00,2017-05-01 14:14:50,19.383333,15.016667,15.016667,-25.492347,-49.293421,-25.448323,-49.287777
241,869122.0,52894.0,2.0,1.0,BUS,828,LA012,9.0,34119.0,2017-05-01 18:11:10,...,31000.0,2017-05-01 18:18:00,2017-05-01 16:38:17,6.833333,-80.966667,-80.966667,-25.451180,-49.350724,-25.441536,-49.347001
242,869122.0,52894.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 18:18:00,...,NaN,2017-05-01 18:20:42,2017-05-01 16:41:17,2.700000,NaN,2.700000,NaN,NaN,NaN,NaN
26,1024869.0,28174.0,1.0,1.0,BUS,515,EA303,10.0,33580.0,2017-05-01 13:40:27,...,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,15.550000,15.500000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
27,1024869.0,28174.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:56:00,...,NaN,2017-05-01 13:58:59,2017-05-01 13:55:12,2.983333,NaN,2.983333,NaN,NaN,NaN,NaN
28,1024869.0,28174.0,1.0,3.0,BUS,503,KE842,9.0,27474.0,2017-05-01 14:01:04,...,26905.0,2017-05-01 14:18:06,2017-05-01 14:22:51,17.033333,17.350000,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
29,1024869.0,28174.0,5.0,1.0,BUS,515,EA303,10.0,33580.0,2017-05-01 13:55:27,...,27791.0,2017-05-01 14:11:00,2017-05-01 13:52:12,15.550000,15.500000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
30,1024869.0,28174.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:11:00,...,NaN,2017-05-01 14:13:59,2017-05-01 13:55:12,2.983333,NaN,2.983333,NaN,NaN,NaN,NaN
31,1024869.0,28174.0,5.0,3.0,BUS,503,KE842,9.0,27474.0,2017-05-01 14:22:38,...,26905.0,2017-05-01 14:39:10,2017-05-01 14:22:51,16.533333,17.350000,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
165,1168962.0,28455.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:00:00,...,NaN,2017-05-01 14:04:15,2017-05-01 14:26:19,4.250000,NaN,4.250000,NaN,NaN,NaN,NaN
166,1168962.0,28455.0,1.0,3.0,BUS,603,HD240,5.0,26296.0,2017-05-01 14:05:00,...,26197.0,2017-05-01 14:20:31,2017-05-01 14:51:05,15.516667,13.483333,13.483333,-25.512252,-49.295580,-25.476372,-49.292607
167,1168962.0,28455.0,2.0,1.0,BUS,639,GA142,10.0,37403.0,2017-05-01 13:56:48,...,34160.0,2017-05-01 14:14:46,2017-05-01 13:54:13,17.966667,14.016667,14.016667,-25.557041,-49.283864,-25.520732,-49.295383
168,1168962.0,28455.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:46,...,NaN,2017-05-01 14:14:50,2017-05-01 13:54:13,0.066667,NaN,0.066667,NaN,NaN,NaN,NaN
169,1168962.0,28455.0,2.0,3.0,BUS,502,HR028,7.0,25534.0,2017-05-01 14:20:14,...,26197.0,2017-05-01 14:37:00,2017-05-01 14:27:12,16.766667,18.200000,18.200000,-25.520710,-49.295454,-25.476372,-49.292607
131,1354462.0,28373.0,4.0,1.0,BUS,685,HA286,8.0,39837.0,2017-05-01 14:06:05,...,30434.0,2017-05-01 14:26:00,2017-05-01 13:55:27,19.916667,16.150000,16.150000,-25.556058,-49.332414,-25.511661,-49.324223
132,1354462.0,28373.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:26:00,...,NaN,2017-05-01 14:28:30,2017-05-01 13:57:27,2.500000,NaN,2.500000,NaN,NaN,NaN,NaN
133,1354462.0,28373.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:00,...,NaN,2017-05-01 15:10:42,2017-05-01 13:58:27,0.700000,NaN,0.700000,NaN,NaN,NaN,NaN
134,1354462.0,28373.0,4.0,5.0,BUS,870,BC014,8.0,26314.0,2017-05-01 15:19:00,...,33987.0,2017-05-01 15:49:00,2017-05-01 15:12:34,30.000000,30.383333,30.383333,-25.429689,-49.272649,-25.428949,-49.353564
202,1354462.0,39353.0,1.0,1.0,BUS,040,LB602,1.0,33745.0,2017-05-01 15:51:59,...,35104.0,2017-05-01 16:28:17,2017-05-01 16:19:10,36.300000,38.333333,38.333333,-25.435506,-49.349914,-25.511630,-49.328224
203,1354462.0,39353.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 16:28:17,...,NaN,2017-05-01 16:29:29,2017-05-01 16:20:10,1.200000,NaN,1.200000,NaN,NaN,NaN,NaN
204,1354462.0,39353.0,1.0,3.0,BUS,628,HA025,10.0,35103.0,2017-05-01 16:34:35,...,35179.0,2017-05-01 16:56:22,2017-05-01 16:40:50,21.783333,13.216667,13.216667,-25.511477,-49.328306,-25.551285,-49.332021
270,1447119.0,58869.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 19:25:12,...,NaN,2017-05-01 19:27:00,2017-05-01 19:38:05,1.800000,NaN,1.800000,NaN,NaN,NaN,NaN
271,1447119.0,58869.0,5.0,3.0,BUS,023,BL314,9.0,25716.0,2017-05-01 19:32:46,...,26242.0,2017-05-01 20:00:00,2017-05-01 20:13:25,27.233333,23.266667,23.266667,-25.422406,-49.291661,-25.476421,-49.292805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,3815019.0,28388.0,5.0,1.0,BUS,655,HA001,9.0,38519.0,2017-05-01 14:03:21,...,31019.0,2017-05-01 14:26:00,2017-05-01 14:06:36,22.650000,27.216667,27.216667,-25.564788,-49.315151,-25.512016,-49.294864
147,3815019.0,28388.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:26:00,...,NaN,2017-05-01 14:27:50,2017-05-01 14:08:36,1.833333,NaN,1.833333,NaN,NaN,NaN,NaN
148,3815019.0,28388.0,5.0,3.0,BUS,603,HD243,7.0,26296.0,2017-05-01 14:30:00,...,26197.0,2017-05-01 14:45:57,2017-05-01 14:34:41,15.950000,11.900000,11.900000,-25.512252,-49.295580,-25.476372,-49.292607
182,3816838.0,28486.0,1.0,1.0,BUS,332,DA015,22.0,27786.0,2017-05-01 13:47:58,...,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,4.033333,6.633333,6.633333,-25.467447,-49.198471,-25.469115,-49.207963
183,3816838.0,28486.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:52:00,...,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,0.416667,NaN,0.416667,NaN,NaN,NaN,NaN
184,3816838.0,28486.0,1.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 13:58:00,...,25389.0,2017-05-01 14:26:35,2017-05-01 14:17:24,28.583333,27.200000,27.200000,-25.469002,-49.208298,-25.437593,-49.266727
185,3816838.0,28486.0,5.0,1.0,BUS,332,DA015,22.0,27786.0,2017-05-01 13:59:58,...,30123.0,2017-05-01 14:04:00,2017-05-01 13:47:17,4.033333,6.633333,6.633333,-25.467447,-49.198471,-25.469115,-49.207963
186,3816838.0,28486.0,5.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:04:00,...,NaN,2017-05-01 14:04:25,2017-05-01 13:47:17,0.416667,NaN,0.416667,NaN,NaN,NaN,NaN
187,3816838.0,28486.0,5.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 14:10:00,...,25389.0,2017-05-01 14:38:35,2017-05-01 14:17:24,28.583333,27.200000,27.200000,-25.469002,-49.208298,-25.437593,-49.266727
0,3823073.0,28150.0,1.0,1.0,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,...,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667,-25.436303,-49.362221,-25.441705,-49.346328
1,3823073.0,28150.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,...,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,0.866667,NaN,NaN,NaN,NaN
2,3823073.0,28150.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,...,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
155,3829762.0,28411.0,1.0,1.0,BUS,545,JA300,6.0,33849.0,2017-05-01 13:54:08,...,5452.0,2017-05-01 14:29:00,2017-05-01 14:10:54,34.866667,31.166667,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
210,3829762.0,44578.0,1.0,1.0,BUS,216,HA601,8.0,29157.0,2017-05-01 16:40:46,...,28332.0,2017-05-01 17:08:00,2017-05-01 16:50:00,27.233333,13.483333,13.483333,-25.443394,-49.242750,-25.476127,-49.292362
211,3829762.0,44578.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:08:00,...,NaN,2017-05-01 17:10:13,2017-05-01 16:52:00,2.216667,NaN,2.216667,NaN,NaN,NaN,NaN
212,3829762.0,44578.0,1.0,3.0,BUS,602,HE689,9.0,26263.0,2017-05-01 17:11:00,...,26297.0,2017-05-01 17:25:00,2017-05-01 17:27:02,14.000000,11.883333,11.883333,-25.476410,-49.292681,-25.512315,-49.295636
213,3829762.0,44578.0,1.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:25:00,...,NaN,2017-05-01 17:26:55,2017-05-01 17:29:02,1.916667,NaN,1.916667,NaN,NaN,NaN,NaN
214,3829762.0,44578.0,1.0,5.0,BUS,655,HA001,13.0,31019.0,2017-05-01 17:32:00,...,39270.0,2017-05-01 17:54:38,2017-05-01 18:18:35,22.633333,20.166667,20.166667,-25.512016,-49.294864,-25.565648,-49.326363
215,3829762.0,44578.0,3.0,1.0,BUS,216,HA601,8.0,29157.0,2017-05-01 16:49:46,...,29171.0,2017-05-01 17:13:28,2017-05-01 16:47:01,23.700000,10.500000,10.500000,-25.443394,-49.242750,-25.471858,-49.285907
216,3829762.0,44578.0,3.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:13:28,...,NaN,2017-05-01 17:14:16,2017-05-01 16:48:01,0.800000,NaN,0.800000,NaN,NaN,NaN,NaN
217,3829762.0,44578.0,3.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:33:00,...,NaN,2017-05-01 17:35:30,2017-05-01 16:50:01,2.500000,NaN,2.500000,NaN,NaN,NaN,NaN
218,3829762.0,44578.0,3.0,5.0,BUS,685,HA288,10.0,30434.0,2017-05-01 17:44:00,...,36322.0,2017-05-01 18:12:17,2017-05-01 17:17:26,28.283333,24.983333,24.983333,-25.511661,-49.324223,-25.564914,-49.329068
219,3829762.0,44578.0,4.0,1.0,BUS,216,HA601,8.0,29157.0,2017-05-01 16:58:41,...,45364.0,2017-05-01 17:07:45,2017-05-01 16:41:03,9.066667,4.533333,4.533333,-25.443394,-49.242750,-25.449010,-49.261531
220,3829762.0,44578.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:07:45,...,NaN,2017-05-01 17:11:21,2017-05-01 16:45:03,3.600000,NaN,3.600000,NaN,NaN,NaN,NaN
221,3829762.0,44578.0,4.0,3.0,BUS,550,HE706,12.0,25500.0,2017-05-01 17:15:53,...,26298.0,2017-05-01 17:41:00,2017-05-01 17:39:47,25.116667,23.516667,23.516667,-25.448496,-49.263417,-25.512105,-49.294667
222,3829762.0,44578.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:41:00,...,NaN,2017-05-01 17:42:28,2017-05-01 17:40:47,1.466667,NaN,1.466667,NaN,NaN,NaN,NaN
223,3829762.0,44578.0,4.0,6.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:59:50,...,NaN,2017-05-01 17:59:55,2017-05-01 17:40:47,0.083333,NaN,0.083333,NaN,NaN,NaN,NaN
224,3829762.0,44578.0,4.0,7.0,BUS,619,HA020,14.0,33243.0,2017-05-01 18:00:10,...,36235.0,2017-05-01 18:11:07,2017-05-01 18:32:53,10.950000,7.783333,7.783333,-25.534026,-49.317220,-25.559527,-49.331741
299,3829762.0,70106.0,1.0,1.0,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,...,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667,-25.564955,-49.328974,-25.515244,-49.328156
300,3829762.0,70106.0,1.0,2.0,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,...,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333,-25.515244,-49.328156,-25.504091,-49.334712

In [509]:
pass_itins_legs.columns.values

array(['card_num', 'trip_id', 'otp_itinerary_id', 'otp_leg_id',
       'otp_mode', 'otp_route', 'bt_bus_code', 'bt_trip_num',
       'otp_from_stop_id', 'otp_start_time', 'bt_start_time',
       'otp_to_stop_id', 'otp_end_time', 'bt_end_time',
       'otp_duration_mins', 'bt_duration_mins',
       'considered_duration_mins', 'from_stop_lat', 'from_stop_lon',
       'to_stop_lat', 'to_stop_lon'], dtype=object)

### Summarizing suggested itineraries information

In [563]:
def build_candidate_itineraries_df(chosen_leg_matches_data):
        otp_buste_itineraries = chosen_leg_matches_data \
                                        .query('otp_mode == \'BUS\'') \
                                        .groupby(['card_num','trip_id','otp_itinerary_id']) \
                                        .agg({'otp_from_stop_id': lambda x: x.iloc[0],
                                                  'bt_start_time': lambda x: x.iloc[0],
                                                  'from_stop_lat': lambda x: x.iloc[0],
                                                  'from_stop_lon': lambda x: x.iloc[0],
                                                  'otp_to_stop_id': lambda x: x.iloc[-1],
                                                  'bt_end_time': lambda x: x.iloc[-1],
                                                  'to_stop_lat': lambda x: x.iloc[-1],
                                                  'to_stop_lon': lambda x: x.iloc[-1],
                                                  'otp_mode': lambda x: len(x)}) \
                                        .rename(index=str, columns={'otp_mode':'num_transfers'}) \
                                        .reset_index() \
                                        .reindex(['card_num','trip_id','otp_itinerary_id',
                                                  'otp_from_stop_id','bt_start_time','from_stop_lat',
                                                  'from_stop_lon','otp_to_stop_id','bt_end_time',
                                                  'to_stop_lat','to_stop_lon','num_transfers'], axis=1, copy=False)\
                                        .assign(card_num = lambda x: x['card_num'].astype(float),
                                                trip_id = lambda x: x['trip_id'].astype(float),
                                                otp_itinerary_id = lambda x: x['otp_itinerary_id'].astype(float))
        return otp_buste_itineraries

In [564]:
cand_itineraries_df = build_candidate_itineraries_df(pass_itins_legs)

In [565]:
cand_itineraries_df

,card_num,trip_id,otp_itinerary_id,otp_from_stop_id,bt_start_time,from_stop_lat,from_stop_lon,otp_to_stop_id,bt_end_time,to_stop_lat,to_stop_lon,num_transfers
0,827182.0,28276.0,1.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:23:46,-25.448323,-49.287777,2
1,827182.0,28276.0,6.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:14:50,-25.448323,-49.287777,2
2,869122.0,52894.0,2.0,34119.0,2017-05-01 17:59:15,-25.451180,-49.350724,31000.0,2017-05-01 16:38:17,-25.441536,-49.347001,1
3,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,-49.268210,2
4,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,-49.268210,2
5,1168962.0,28455.0,1.0,26296.0,2017-05-01 14:37:36,-25.512252,-49.295580,26197.0,2017-05-01 14:51:05,-25.476372,-49.292607,1
6,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:27:12,-25.476372,-49.292607,2
7,1354462.0,28373.0,4.0,39837.0,2017-05-01 13:39:18,-25.556058,-49.332414,33987.0,2017-05-01 15:12:34,-25.428949,-49.353564,2
8,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,2017-05-01 16:40:50,-25.551285,-49.332021,2
9,1447119.0,58869.0,5.0,25716.0,2017-05-01 19:50:09,-25.422406,-49.291661,36283.0,2017-05-01 20:23:16,-25.573030,-49.334941,3
10,1497570.0,43854.0,1.0,32785.0,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 15:39:12,-25.422354,-49.284146,1
11,1497570.0,43854.0,8.0,32785.0,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 15:39:12,-25.422354,-49.284146,1
12,1998953.0,52772.0,5.0,35642.0,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,2017-05-01 18:22:31,-25.366369,-49.272466,1
13,2103372.0,47677.0,3.0,26209.0,2017-05-01 17:42:35,-25.413080,-49.205530,29114.0,2017-05-01 17:09:15,-25.411269,-49.247491,2
14,2103372.0,47677.0,8.0,31824.0,2017-05-01 17:08:21,-25.419484,-49.224343,25683.0,2017-05-01 18:14:21,-25.410622,-49.248224,3
15,2168963.0,28252.0,1.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,-49.238652,2
16,2168963.0,28252.0,4.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,-49.238652,2
17,2271249.0,28290.0,1.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,-49.292607,2
18,2271249.0,28290.0,3.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,-49.292607,2
19,2312172.0,28457.0,1.0,37155.0,2017-05-01 13:40:15,-25.538781,-49.259211,26067.0,2017-05-01 14:21:58,-25.455471,-49.267544,2
20,2312172.0,28457.0,5.0,37155.0,2017-05-01 13:40:15,-25.538781,-49.259211,26067.0,2017-05-01 14:21:58,-25.455471,-49.267544,2
21,2316370.0,28308.0,2.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:19:49,-25.441207,-49.275853,2
22,2316370.0,28308.0,6.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,-49.275853,3
23,2316370.0,28308.0,10.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,-49.275853,3
24,2365921.0,28364.0,2.0,25716.0,2017-05-01 14:15:21,-25.422406,-49.291661,25415.0,2017-05-01 14:45:11,-25.430398,-49.211208,1
25,2365921.0,28364.0,6.0,33072.0,2017-05-01 13:39:15,-25.411356,-49.292004,25415.0,2017-05-01 15:14:40,-25.430398,-49.211208,2
26,2407131.0,28424.0,1.0,33535.0,2017-05-01 13:39:51,-25.440179,-49.355608,25757.0,2017-05-01 14:20:19,-25.430382,-49.292588,2
27,2701330.0,28164.0,1.0,30320.0,2017-05-01 13:36:35,-25.421591,-49.335066,30262.0,2017-05-01 14:28:12,-25.430393,-49.317373,2
28,2701330.0,38953.0,2.0,30262.0,2017-05-01 15:36:38,-25.430393,-49.317373,30319.0,2017-05-01 15:40:15,-25.421500,-49.334950,1
29,2715287.0,28154.0,1.0,26296.0,2017-05-01 14:22:47,-25.512252,-49.295580,25521.0,2017-05-01 14:49:17,-25.442988,-49.280469,1
...,...,...,...,...,...,...,...,...,...,...,...,...
88,3728595.0,66750.0,1.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,-49.339340,2
89,3728595.0,66750.0,5.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,-49.339340,2
90,3733084.0,57607.0,1.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,4661.0,2017-05-01 19:00:50,-25.534266,-49.267778,1
91,3733084.0,57607.0,5.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,30002.0,2017-05-01 19:30:05,-25.539510,-49.283500,2
92,3739436.0,28161.0,4.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,-49.256635,2
93,3739436.0,28161.0,10.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,-49.256635,2
94,3753611.0,28383.0,1.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,25825.0,2017-05-01 14:08:46,-25.512831,-49.279857,2
95,3753611.0,28383.0,4.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,35807.0,2017-05-01 15:12:23,-25.516210,-49.275350,2
96,3757042.0,28272.0,3.0,30265.0,2017-05-01 13:38:05,-25.430759,-49.338133,26314.0,2017-05-01 13:52:48,-25.429689,-49.272649,1
97,3757042.0,30519.0,7.0,26353.0,2017-05-01 14:04:45,-25.428481,-49.271082,28587.0,2017-05-01 14:15:09,-25.407072,-49.271422,1
98,3757042.0,40705.0,6.0,10906.0,2017-05-01 15:55:41,-25.409002,-49.271733,26349.0,2017-05-01 16:06:47,-25.428753,-49.271146,1
99,3757042.0,45308.0,1.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,-49.337127,1
100,3757042.0,45308.0,3.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,-49.337127,1
101,3763097.0,28214.0,1.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,-49.266502,1
102,3763097.0,28214.0,2.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,-49.266502,1
103,3763097.0,28214.0,4.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,-49.266502,1
104,3763097.0,41233.0,1.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,-49.219312,1
105,3763097.0,41233.0,3.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,-49.219312,1
106,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,2
107,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 13:42:43,-25.453594,-49.226994,1
108,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:27:12,-25.476372,-49.292607,2
109,3815019.0,28388.0,5.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:34:41,-25.476372,-49.292607,2
110,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,-49.266727,2
111,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,-49.266727,2
112,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,2
113,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:10:54,-25.534335,-49.268084,1
114,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 18:18:35,-25.565648,-49.326363,3
115,3829762.0,44578.0,3.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36322.0,2017-05-01 17:17:26,-25.564914,-49.329068,2
116,3829762.0,44578.0,4.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36235.0,2017-05-01 18:32:53,-25.559527,-49.331741,3
117,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,2017-05-01 23:14:27,-25.504091,-49.334712,2

In [566]:
cand_itineraries_df.dtypes

card_num                   float64
trip_id                    float64
otp_itinerary_id           float64
otp_from_stop_id           float64
bt_start_time       datetime64[ns]
from_stop_lat              float64
from_stop_lon              float64
otp_to_stop_id             float64
bt_end_time         datetime64[ns]
to_stop_lat                float64
to_stop_lon                float64
num_transfers                int64
dtype: object

#### Add origin/next-origin locations

In [567]:
passenger_trips_valid_df = trips_on_pairs_full.filter(['cardNum','o_boarding_id','o_stop_lat','o_stop_lon','o_boarding_datetime','next_o_stop_lat','next_o_stop_lon','next_o_boarding_datetime']) \
                            .rename(index=str, columns={'cardNum':'card_num','o_boarding_id':'trip_id'})

In [568]:
passenger_trips_valid_df.head()

,card_num,trip_id,o_stop_lat,o_stop_lon,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime
0,1886552.0,180.0,-25.568989,-49.332253,2017-05-01 04:48:42,-25.431951,-49.296491,2017-05-01 15:52:39
1,1886552.0,40392.0,-25.431951,-49.296491,2017-05-01 15:52:39,-25.568989,-49.332253,2017-05-01 04:48:42
2,3601076.0,181.0,-25.566860,-49.332900,2017-05-01 04:49:13,-25.447479,-49.263816,2017-05-01 14:16:55
3,3601076.0,31560.0,-25.447479,-49.263816,2017-05-01 14:16:55,-25.566860,-49.332900,2017-05-01 04:49:13
4,3282345.0,182.0,-25.566860,-49.332900,2017-05-01 04:49:19,-25.432534,-49.338889,2017-05-01 19:27:16

In [569]:
passenger_trips_locations.dtypes

card_num           float64
trip_id            float64
o_stop_lat         float64
o_stop_lon         float64
next_o_stop_lat    float64
next_o_stop_lon    float64
dtype: object

In [570]:
def dist(p1_lat, p1_lon, p2_lat, p2_lon):
    if(np.isnan([p1_lat, p1_lon, p2_lat, p2_lon]).any()):
        return -1
    else:
        return np.around(distance.geodesic((p1_lat,p1_lon),(p2_lat,p2_lon)).km,decimals=5)

In [571]:
def get_candidate_itineraries_summary(candidate_itineraries,trips_valid):
        otp_buste_itineraries_summary = candidate_itineraries \
                                        .merge(trips_valid,how='inner') \
                                        .assign(start_diff = lambda x: np.absolute(x['bt_start_time'] - x['o_boarding_datetime']),
                                                trip_duration = lambda x: x['bt_end_time'] - x['bt_start_time'],
                                                origin_dist = lambda y: y.apply(lambda x: dist(x['from_stop_lat'], x['from_stop_lon'], x['o_stop_lat'], x['o_stop_lon']),axis=1),
                                                next_origin_dist = lambda y: y.apply(lambda x: dist(x['to_stop_lat'], x['to_stop_lon'], x['next_o_stop_lat'], x['next_o_stop_lon']),axis=1),
                                                next_start_diff = lambda x: np.absolute(x['next_o_boarding_datetime'] - x['bt_end_time'])) \
                                        .sort_values(['card_num','trip_id'])

        #otp_buste_itineraries_summary = otp_buste_itineraries_summary[((otp_buste_itineraries_summary['trip_duration'] > pd.Timedelta('0s')) & 
        #                                                                                                                                (otp_buste_itineraries_summary['trip_duration'] < pd.Timedelta('2h'))) &
        #                                                                                                                        ((otp_buste_itineraries_summary['start_diff'] > pd.Timedelta('0s')) &
        #                                                                                                                                (otp_buste_itineraries_summary['start_diff'] < pd.Timedelta('1.5h')))] \
        #                                                                        .query('origin_dist < 0.1') \
        #                                                                        .query('next_origin_dist < 2.0')
        return otp_buste_itineraries_summary

In [572]:
cand_itineraries_loc_validation = get_candidate_itineraries_summary(cand_itineraries_df,passenger_trips_valid_df)

In [573]:
cand_itineraries_loc_validation

,card_num,trip_id,otp_itinerary_id,otp_from_stop_id,bt_start_time,from_stop_lat,from_stop_lon,otp_to_stop_id,bt_end_time,to_stop_lat,...,o_stop_lon,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,origin_dist,start_diff,trip_duration
0,827182.0,28276.0,1.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:23:46,-25.448323,...,-49.332760,2017-05-01 13:38:11,-25.448327,-49.287780,2017-05-01 22:46:43,0.00051,08:22:57,0.00000,00:00:00,00:45:35
1,827182.0,28276.0,6.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:14:50,-25.448323,...,-49.332760,2017-05-01 13:38:11,-25.448327,-49.287780,2017-05-01 22:46:43,0.00051,08:31:53,0.00000,00:00:00,00:36:39
2,869122.0,52894.0,2.0,34119.0,2017-05-01 17:59:15,-25.451180,-49.350724,31000.0,2017-05-01 16:38:17,-25.441536,...,-49.350724,2017-05-01 17:59:15,-25.423548,-49.351123,2017-05-01 13:37:00,2.03535,03:01:17,0.00000,00:00:00,-1 days +22:39:02
3,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,...,-49.224019,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,04:07:32,0.00000,00:00:00,00:46:09
4,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,...,-49.224019,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,04:07:32,0.00000,00:00:00,00:46:09
5,1168962.0,28455.0,1.0,26296.0,2017-05-01 14:37:36,-25.512252,-49.295580,26197.0,2017-05-01 14:51:05,-25.476372,...,-49.283864,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:30:18,5.09962,00:57:24,00:13:29
6,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.283864,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,0.00000,00:00:00,00:47:00
7,1354462.0,28373.0,4.0,39837.0,2017-05-01 13:39:18,-25.556058,-49.332414,33987.0,2017-05-01 15:12:34,-25.428949,...,-49.332414,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.48663,00:28:13,0.00000,00:00:00,01:33:16
8,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,2017-05-01 16:40:50,-25.551285,...,-49.349914,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:01:36,0.00000,00:00:00,01:00:00
9,1447119.0,58869.0,5.0,25716.0,2017-05-01 19:50:09,-25.422406,-49.291661,36283.0,2017-05-01 20:23:16,-25.573030,...,-49.301067,2017-05-01 18:59:21,-25.573303,-49.334882,2017-05-01 13:38:02,0.03086,06:45:14,1.37701,00:50:48,00:33:07
10,1497570.0,43854.0,1.0,32785.0,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 15:39:12,-25.422354,...,-49.269040,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:02:28,0.00000,00:00:00,-1 days +23:09:55
11,1497570.0,43854.0,8.0,32785.0,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 15:39:12,-25.422354,...,-49.269040,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:02:28,0.00000,00:00:00,-1 days +23:09:55
12,1998953.0,52772.0,5.0,35642.0,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,2017-05-01 18:22:31,-25.366369,...,-49.268572,2017-05-01 17:57:59,-25.368502,-49.270891,2017-05-01 13:36:42,0.28449,04:45:49,0.00000,00:00:00,00:24:32
13,2103372.0,47677.0,3.0,26209.0,2017-05-01 17:42:35,-25.413080,-49.205530,29114.0,2017-05-01 17:09:15,-25.411269,...,-49.224343,2017-05-01 17:08:21,-25.410580,-49.248257,2017-05-01 13:36:54,0.10850,03:32:21,2.02129,00:34:14,-1 days +23:26:40
14,2103372.0,47677.0,8.0,31824.0,2017-05-01 17:08:21,-25.419484,-49.224343,25683.0,2017-05-01 18:14:21,-25.410622,...,-49.224343,2017-05-01 17:08:21,-25.410580,-49.248257,2017-05-01 13:36:54,0.00575,04:37:27,0.00000,00:00:00,01:06:00
15,2168963.0,28252.0,1.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,...,-49.194606,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:51:59,0.00000,00:00:00,00:30:32
16,2168963.0,28252.0,4.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,...,-49.194606,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:51:59,0.00000,00:00:00,00:30:32
17,2271249.0,28290.0,1.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.322097,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:08:17,0.00000,00:00:00,00:48:53
18,2271249.0,28290.0,3.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.322097,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:08:17,0.00000,00:00:00,00:48:53
19,2312172.0,28457.0,1.0,37155.0,2017-05-01 13:40:15,-25.538781,-49.259211,26067.0,2017-05-01 14:21:58,-25.455471,...,-49.259211,2017-05-01 13:40:15,-25.429398,-49.272319,2017-05-01 22:54:48,2.92798,08:32:50,0.00000,00:00:00,00:41:43
20,2312172.0,28457.0,5.0,37155.0,2017-05-01 13:40:15,-25.538781,-49.259211,26067.0,2017-05-01 14:21:58,-25.455471,...,-49.259211,2017-05-01 13:40:15,-25.429398,-49.272319,2017-05-01 22:54:48,2.92798,08:32:50,0.00000,00:00:00,00:41:43
21,2316370.0,28308.0,2.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:19:49,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:37:10,0.00000,00:00:00,00:41:13
22,2316370.0,28308.0,6.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:13:01,0.00000,00:00:00,01:05:22
23,2316370.0,28308.0,10.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:13:01,0.00000,00:00:00,01:05:22
24,2365921.0,28364.0,2.0,25716.0,2017-05-01 14:15:21,-25.422406,-49.291661,25415.0,2017-05-01 14:45:11,-25.430398,...,-49.292004,2017-05-01 13:39:15,-25.430373,-49.211228,2017-05-01 17:24:30,0.00345,02:39:19,1.22458,00:36:06,00:29:50
25,2365921.0,28364.0,6.0,33072.0,2017-05-01 13:39:15,-25.411356,-49.292004,25415.0,2017-05-01 15:14:40,-25.430398,...,-49.292004,2017-05-01 13:39:15,-25.430373,-49.211228,2017-05-01 17:24:30,0.00345,02:09:50,0.00000,00:00:00,01:35:25
26,2407131.0,28424.0,1.0,33535.0,2017-05-01 13:39:51,-25.440179,-49.355608,25757.0,2017-05-01 14:20:19,-25.430382,...,-49.355608,2017-05-01 13:39:51,-25.430289,-49.292615,2017-05-01 22:52:07,0.01068,08:31:48,0.00000,00:00:00,00:40:28
27,2701330.0,28164.0,1.0,30320.0,2017-05-01 13:36:35,-25.421591,-49.335066,30262.0,2017-05-01 14:28:12,-25.430393,...,-49.335066,2017-05-01 13:36:35,-25.430393,-49.317373,2017-05-01 15:36:36,0.00000,01:08:24,0.00000,00:00:00,00:51:37
28,2701330.0,38953.0,2.0,30262.0,2017-05-01 15:36:38,-25.430393,-49.317373,30319.0,2017-05-01 15:40:15,-25.421500,...,-49.317373,2017-05-01 15:36:38,-25.421591,-49.335066,2017-05-01 13:36:35,0.01540,02:03:40,0.00000,00:00:00,00:03:37
29,2715287.0,28154.0,1.0,26296.0,2017-05-01 14:22:47,-25.512252,-49.295580,25521.0,2017-05-01 14:49:17,-25.442988,...,-49.337210,2017-05-01 13:36:28,-25.443355,-49.281734,2017-05-01 23:07:19,0.13351,08:18:02,9.10295,00:46:19,00:26:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,3728595.0,66750.0,1.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,...,-49.252835,2017-05-01 21:09:39,-25.561820,-49.339227,2017-05-01 13:38:44,0.01470,08:47:27,0.00000,00:00:00,01:16:32
89,3728595.0,66750.0,5.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,...,-49.252835,2017-05-01 21:09:39,-25.561820,-49.339227,2017-05-01 13:38:44,0.01470,08:47:27,0.00000,00:00:00,01:16:32
90,3733084.0,57607.0,1.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,4661.0,2017-05-01 19:00:50,-25.534266,...,-49.249510,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,1.70656,05:24:21,0.00000,00:00:00,00:14:34
91,3733084.0,57607.0,5.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,30002.0,2017-05-01 19:30:05,-25.539510,...,-49.249510,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,0.44447,05:53:36,0.00000,00:00:00,00:43:49
92,3739436.0,28161.0,4.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,...,-49.224005,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,0.00000,00:00:00,00:27:52
93,3739436.0,28161.0,10.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,...,-49.224005,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,0.00000,00:00:00,00:27:52
94,3753611.0,28383.0,1.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,25825.0,2017-05-01 14:08:46,-25.512831,...,-49.247926,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.00116,05:10:37,0.00000,00:00:00,00:29:24
95,3753611.0,28383.0,4.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,35807.0,2017-05-01 15:12:23,-25.516210,...,-49.247926,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.58654,04:07:00,0.00000,00:00:00,01:33:01
96,3757042.0,28272.0,3.0,30265.0,2017-05-01 13:38:05,-25.430759,-49.338133,26314.0,2017-05-01 13:52:48,-25.429689,...,-49.338133,2017-05-01 13:38:05,-25.428481,-49.271082,2017-05-01 14:04:34,0.20680,00:11:46,0.00000,00:00:00,00:14:43
97,3757042.0,30519.0,7.0,26353.0,2017-05-01 14:04:45,-25.428481,-49.271082,28587.0,2017-05-01 14:15:09,-25.407072,...,-49.271082,2017-05-01 14:04:45,-25.407068,-49.271578,2017-05-01 15:55:39,0.01572,01:40:30,0.00000,00:00:00,00:10:24
98,3757042.0,40705.0,6.0,10906.0,2017-05-01 15:55:41,-25.409002,-49.271733,26349.0,2017-05-01 16:06:47,-25.428753,...,-49.271733,2017-05-01 15:55:41,-25.429689,-49.272649,2017-05-01 16:44:08,0.18338,00:37:21,0.00000,00:00:00,00:11:06
99,3757042.0,45308.0,1.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,...,-49.272649,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:24:53,0.00000,00:00:00,00:18:41
100,3757042.0,45308.0,3.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,...,-49.272649,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:24:53,0.00000,00:00:00,00:18:41
101,3763097.0,28214.0,1.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.00000,00:00:00,00:17:38
102,3763097.0,28214.0,2.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.00000,00:00:00,00:17:38
103,3763097.0,28214.0,4.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.00000,00:00:00,00:17:38
104,3763097.0,41233.0,1.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,...,-49.266502,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,0.00000,00:00:00,00:15:09
105,3763097.0,41233.0,3.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,...,-49.266502,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,0.00000,00:00:00,00:15:09
106,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.346719,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,08:03:17,0.00000,00:00:00,00:32:37
107,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 13:42:43,-25.453594,...,-49.221436,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:04:38,0.00000,00:00:00,00:03:28
108,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.315151,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,0.00000,00:00:00,00:47:49
109,3815019.0,28388.0,5.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:34:41,-25.476372,...,-49.315151,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:17:07,0.00000,00:00:00,00:55:18
110,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,...,-49.198471,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:22:23,0.00000,00:00:00,00:36:45
111,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,...,-49.198471,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:22:23,0.00000,00:00:00,00:36:45
112,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.362221,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:34:48,0.00000,00:00:00,00:35:45
113,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:10:54,-25.534335,...,-49.334787,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,0.00000,00:00:00,00:31:10
114,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 18:18:35,-25.565648,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:12:55,0.00000,00:00:00,01:42:04
115,3829762.0,44578.0,3.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36322.0,2017-05-01 17:17:26,-25.564914,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.01048,05:14:04,0.00000,00:00:00,00:40:55
116,3829762.0,44578.0,4.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36235.0,2017-05-01 18:32:53,-25.559527,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.66241,03:58:37,0.00000,00:00:00,01:56:22
117,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,2017-05-01 23:14:27,-25.504091,...,-49.328974,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,0.01113,09:34:43,0.00000,00:00:00,00:42:57

In [577]:
valid_candidate_itineraries = cand_itineraries_loc_validation[((cand_itineraries_loc_validation['trip_duration'] > pd.Timedelta('0s')) & 
                                                               (cand_itineraries_loc_validation['trip_duration'] < pd.Timedelta('2h'))) & 
                                                              ((cand_itineraries_loc_validation['start_diff'] >= pd.Timedelta('0s')) & 
                                                               (cand_itineraries_loc_validation['start_diff'] < pd.Timedelta('1.5h')))] \
                                #NEXT_START_DIFF
                                .query('origin_dist < 0.1') \
                                .query('next_origin_dist < 2.0')

In [578]:
valid_candidate_itineraries

,card_num,trip_id,otp_itinerary_id,otp_from_stop_id,bt_start_time,from_stop_lat,from_stop_lon,otp_to_stop_id,bt_end_time,to_stop_lat,...,o_stop_lon,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,origin_dist,start_diff,trip_duration
0,827182.0,28276.0,1.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:23:46,-25.448323,...,-49.332760,2017-05-01 13:38:11,-25.448327,-49.287780,2017-05-01 22:46:43,0.00051,08:22:57,0.0,0 days,00:45:35
1,827182.0,28276.0,6.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:14:50,-25.448323,...,-49.332760,2017-05-01 13:38:11,-25.448327,-49.287780,2017-05-01 22:46:43,0.00051,08:31:53,0.0,0 days,00:36:39
3,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,...,-49.224019,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,04:07:32,0.0,0 days,00:46:09
4,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,...,-49.224019,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,04:07:32,0.0,0 days,00:46:09
6,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.283864,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,0.0,0 days,00:47:00
7,1354462.0,28373.0,4.0,39837.0,2017-05-01 13:39:18,-25.556058,-49.332414,33987.0,2017-05-01 15:12:34,-25.428949,...,-49.332414,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.48663,00:28:13,0.0,0 days,01:33:16
8,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,2017-05-01 16:40:50,-25.551285,...,-49.349914,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:01:36,0.0,0 days,01:00:00
12,1998953.0,52772.0,5.0,35642.0,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,2017-05-01 18:22:31,-25.366369,...,-49.268572,2017-05-01 17:57:59,-25.368502,-49.270891,2017-05-01 13:36:42,0.28449,04:45:49,0.0,0 days,00:24:32
14,2103372.0,47677.0,8.0,31824.0,2017-05-01 17:08:21,-25.419484,-49.224343,25683.0,2017-05-01 18:14:21,-25.410622,...,-49.224343,2017-05-01 17:08:21,-25.410580,-49.248257,2017-05-01 13:36:54,0.00575,04:37:27,0.0,0 days,01:06:00
15,2168963.0,28252.0,1.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,...,-49.194606,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:51:59,0.0,0 days,00:30:32
16,2168963.0,28252.0,4.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,...,-49.194606,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:51:59,0.0,0 days,00:30:32
17,2271249.0,28290.0,1.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.322097,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:08:17,0.0,0 days,00:48:53
18,2271249.0,28290.0,3.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.322097,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:08:17,0.0,0 days,00:48:53
21,2316370.0,28308.0,2.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:19:49,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:37:10,0.0,0 days,00:41:13
22,2316370.0,28308.0,6.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:13:01,0.0,0 days,01:05:22
23,2316370.0,28308.0,10.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:43:58,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:13:01,0.0,0 days,01:05:22
25,2365921.0,28364.0,6.0,33072.0,2017-05-01 13:39:15,-25.411356,-49.292004,25415.0,2017-05-01 15:14:40,-25.430398,...,-49.292004,2017-05-01 13:39:15,-25.430373,-49.211228,2017-05-01 17:24:30,0.00345,02:09:50,0.0,0 days,01:35:25
26,2407131.0,28424.0,1.0,33535.0,2017-05-01 13:39:51,-25.440179,-49.355608,25757.0,2017-05-01 14:20:19,-25.430382,...,-49.355608,2017-05-01 13:39:51,-25.430289,-49.292615,2017-05-01 22:52:07,0.01068,08:31:48,0.0,0 days,00:40:28
27,2701330.0,28164.0,1.0,30320.0,2017-05-01 13:36:35,-25.421591,-49.335066,30262.0,2017-05-01 14:28:12,-25.430393,...,-49.335066,2017-05-01 13:36:35,-25.430393,-49.317373,2017-05-01 15:36:36,0.00000,01:08:24,0.0,0 days,00:51:37
28,2701330.0,38953.0,2.0,30262.0,2017-05-01 15:36:38,-25.430393,-49.317373,30319.0,2017-05-01 15:40:15,-25.421500,...,-49.317373,2017-05-01 15:36:38,-25.421591,-49.335066,2017-05-01 13:36:35,0.01540,02:03:40,0.0,0 days,00:03:37
30,2715287.0,28154.0,2.0,39378.0,2017-05-01 13:36:28,-25.585230,-49.337210,25521.0,2017-05-01 14:32:45,-25.442988,...,-49.337210,2017-05-01 13:36:28,-25.443355,-49.281734,2017-05-01 23:07:19,0.13351,08:34:34,0.0,0 days,00:56:17
31,2753503.0,28329.0,6.0,32508.0,2017-05-01 13:38:54,-25.410306,-49.204294,25389.0,2017-05-01 14:23:32,-25.437593,...,-49.204294,2017-05-01 13:38:54,-25.437655,-49.266632,2017-05-01 18:18:26,0.01184,03:54:54,0.0,0 days,00:44:38
32,2853469.0,28165.0,2.0,30798.0,2017-05-01 13:36:35,-25.477617,-49.216957,26157.0,2017-05-01 14:00:22,-25.434700,...,-49.216957,2017-05-01 13:36:35,-25.434761,-49.272470,2017-05-01 17:30:08,0.01507,03:29:46,0.0,0 days,00:23:47
33,2853469.0,49951.0,5.0,26156.0,2017-05-01 17:30:08,-25.434761,-49.272470,3830.0,2017-05-01 17:56:45,-25.474306,...,-49.272470,2017-05-01 17:30:08,-25.477617,-49.216957,2017-05-01 13:36:35,0.39152,04:20:10,0.0,0 days,00:26:37
34,2868236.0,28341.0,6.0,32508.0,2017-05-01 13:39:02,-25.410306,-49.204294,25389.0,2017-05-01 14:23:32,-25.437593,...,-49.204294,2017-05-01 13:39:02,-25.437655,-49.266632,2017-05-01 18:18:29,0.01184,03:54:57,0.0,0 days,00:44:30
35,2948567.0,28491.0,3.0,28124.0,2017-05-01 13:40:42,-25.406384,-49.252353,27945.0,2017-05-01 13:50:08,-25.440274,...,-49.252353,2017-05-01 13:40:42,-25.439980,-49.221858,2017-05-01 20:28:30,0.07058,06:38:22,0.0,0 days,00:09:26
36,3013861.0,28349.0,2.0,27475.0,2017-05-01 13:39:09,-25.492468,-49.293309,27746.0,2017-05-01 13:50:07,-25.481453,...,-49.293309,2017-05-01 13:39:09,-25.481927,-49.246999,2017-05-01 18:41:49,0.05260,04:51:42,0.0,0 days,00:10:58
38,3016604.0,28422.0,2.0,37405.0,2017-05-01 13:39:50,-25.557108,-49.282218,25523.0,2017-05-01 14:41:30,-25.461205,...,-49.282218,2017-05-01 13:39:50,-25.461214,-49.289889,2017-05-01 22:51:54,0.01083,08:10:24,0.0,0 days,01:01:40
39,3060150.0,28234.0,5.0,26314.0,2017-05-01 13:37:35,-25.429689,-49.272649,34553.0,2017-05-01 13:50:19,-25.429778,...,-49.272649,2017-05-01 13:37:35,-25.423123,-49.305867,2017-05-01 16:24:53,1.30390,02:34:34,0.0,0 days,00:12:44
40,3181018.0,28476.0,1.0,38516.0,2017-05-01 13:40:36,-25.560733,-49.314580,25924.0,2017-05-01 14:36:46,-25.472597,...,-49.314580,2017-05-01 13:40:36,-25.472613,-49.294477,2017-05-01 23:00:33,0.01070,08:23:47,0.0,0 days,00:56:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,3728595.0,66750.0,1.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,...,-49.252835,2017-05-01 21:09:39,-25.561820,-49.339227,2017-05-01 13:38:44,0.01470,08:47:27,0.0,0 days,01:16:32
89,3728595.0,66750.0,5.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,...,-49.252835,2017-05-01 21:09:39,-25.561820,-49.339227,2017-05-01 13:38:44,0.01470,08:47:27,0.0,0 days,01:16:32
90,3733084.0,57607.0,1.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,4661.0,2017-05-01 19:00:50,-25.534266,...,-49.249510,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,1.70656,05:24:21,0.0,0 days,00:14:34
91,3733084.0,57607.0,5.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,30002.0,2017-05-01 19:30:05,-25.539510,...,-49.249510,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,0.44447,05:53:36,0.0,0 days,00:43:49
92,3739436.0,28161.0,4.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,...,-49.224005,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,0.0,0 days,00:27:52
93,3739436.0,28161.0,10.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,...,-49.224005,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,0.0,0 days,00:27:52
94,3753611.0,28383.0,1.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,25825.0,2017-05-01 14:08:46,-25.512831,...,-49.247926,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.00116,05:10:37,0.0,0 days,00:29:24
95,3753611.0,28383.0,4.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,35807.0,2017-05-01 15:12:23,-25.516210,...,-49.247926,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.58654,04:07:00,0.0,0 days,01:33:01
96,3757042.0,28272.0,3.0,30265.0,2017-05-01 13:38:05,-25.430759,-49.338133,26314.0,2017-05-01 13:52:48,-25.429689,...,-49.338133,2017-05-01 13:38:05,-25.428481,-49.271082,2017-05-01 14:04:34,0.20680,00:11:46,0.0,0 days,00:14:43
97,3757042.0,30519.0,7.0,26353.0,2017-05-01 14:04:45,-25.428481,-49.271082,28587.0,2017-05-01 14:15:09,-25.407072,...,-49.271082,2017-05-01 14:04:45,-25.407068,-49.271578,2017-05-01 15:55:39,0.01572,01:40:30,0.0,0 days,00:10:24
98,3757042.0,40705.0,6.0,10906.0,2017-05-01 15:55:41,-25.409002,-49.271733,26349.0,2017-05-01 16:06:47,-25.428753,...,-49.271733,2017-05-01 15:55:41,-25.429689,-49.272649,2017-05-01 16:44:08,0.18338,00:37:21,0.0,0 days,00:11:06
99,3757042.0,45308.0,1.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,...,-49.272649,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:24:53,0.0,0 days,00:18:41
100,3757042.0,45308.0,3.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,...,-49.272649,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:24:53,0.0,0 days,00:18:41
101,3763097.0,28214.0,1.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.0,0 days,00:17:38
102,3763097.0,28214.0,2.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.0,0 days,00:17:38
103,3763097.0,28214.0,4.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.0,0 days,00:17:38
104,3763097.0,41233.0,1.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,...,-49.266502,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,0.0,0 days,00:15:09
105,3763097.0,41233.0,3.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,...,-49.266502,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,0.0,0 days,00:15:09
106,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.346719,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,08:03:17,0.0,0 days,00:32:37
107,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 13:42:43,-25.453594,...,-49.221436,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:04:38,0.0,0 days,00:03:28
108,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.315151,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,0.0,0 days,00:47:49
109,3815019.0,28388.0,5.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:34:41,-25.476372,...,-49.315151,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:17:07,0.0,0 days,00:55:18
110,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,...,-49.198471,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:22:23,0.0,0 days,00:36:45
111,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,...,-49.198471,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:22:23,0.0,0 days,00:36:45
112,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.362221,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:34:48,0.0,0 days,00:35:45
113,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:10:54,-25.534335,...,-49.334787,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,0.0,0 days,00:31:10
114,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 18:18:35,-25.565648,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:12:55,0.0,0 days,01:42:04
115,3829762.0,44578.0,3.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36322.0,2017-05-01 17:17:26,-25.564914,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.01048,05:14:04,0.0,0 days,00:40:55
116,3829762.0,44578.0,4.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36235.0,2017-05-01 18:32:53,-25.559527,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.66241,03:58:37,0.0,0 days,01:56:22
117,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,2017-05-01 23:14:27,-25.504091,...,-49.328974,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,0.01113,09:34:43,0.0,0 days,00:42:57

In [581]:
inferred_trip_itineraries = valid_candidate_itineraries.sort_values(['card_num','trip_id','trip_duration']) \
                                .groupby(['card_num','trip_id']) \
                                .first() \
                                .reset_index()

In [582]:
inferred_trip_itineraries

,card_num,trip_id,otp_itinerary_id,otp_from_stop_id,bt_start_time,from_stop_lat,from_stop_lon,otp_to_stop_id,bt_end_time,to_stop_lat,...,o_stop_lon,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,origin_dist,start_diff,trip_duration
0,827182.0,28276.0,6.0,36694.0,2017-05-01 13:38:11,-25.534742,-49.332760,25732.0,2017-05-01 14:14:50,-25.448323,...,-49.332760,2017-05-01 13:38:11,-25.448327,-49.287780,2017-05-01 22:46:43,0.00051,08:31:53,0.0,0 days,00:36:39
1,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:22:51,-25.438600,...,-49.224019,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,04:07:32,0.0,0 days,00:46:09
2,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.283864,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,0.0,0 days,00:47:00
3,1354462.0,28373.0,4.0,39837.0,2017-05-01 13:39:18,-25.556058,-49.332414,33987.0,2017-05-01 15:12:34,-25.428949,...,-49.332414,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.48663,00:28:13,0.0,0 days,01:33:16
4,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,2017-05-01 16:40:50,-25.551285,...,-49.349914,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:01:36,0.0,0 days,01:00:00
5,1998953.0,52772.0,5.0,35642.0,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,2017-05-01 18:22:31,-25.366369,...,-49.268572,2017-05-01 17:57:59,-25.368502,-49.270891,2017-05-01 13:36:42,0.28449,04:45:49,0.0,0 days,00:24:32
6,2103372.0,47677.0,8.0,31824.0,2017-05-01 17:08:21,-25.419484,-49.224343,25683.0,2017-05-01 18:14:21,-25.410622,...,-49.224343,2017-05-01 17:08:21,-25.410580,-49.248257,2017-05-01 13:36:54,0.00575,04:37:27,0.0,0 days,01:06:00
7,2168963.0,28252.0,1.0,32459.0,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,2017-05-01 14:08:27,-25.438111,...,-49.194606,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:51:59,0.0,0 days,00:30:32
8,2271249.0,28290.0,1.0,8644.0,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.322097,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:08:17,0.0,0 days,00:48:53
9,2316370.0,28308.0,2.0,32043.0,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,2017-05-01 14:19:49,-25.441207,...,-49.300631,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:37:10,0.0,0 days,00:41:13
10,2365921.0,28364.0,6.0,33072.0,2017-05-01 13:39:15,-25.411356,-49.292004,25415.0,2017-05-01 15:14:40,-25.430398,...,-49.292004,2017-05-01 13:39:15,-25.430373,-49.211228,2017-05-01 17:24:30,0.00345,02:09:50,0.0,0 days,01:35:25
11,2407131.0,28424.0,1.0,33535.0,2017-05-01 13:39:51,-25.440179,-49.355608,25757.0,2017-05-01 14:20:19,-25.430382,...,-49.355608,2017-05-01 13:39:51,-25.430289,-49.292615,2017-05-01 22:52:07,0.01068,08:31:48,0.0,0 days,00:40:28
12,2701330.0,28164.0,1.0,30320.0,2017-05-01 13:36:35,-25.421591,-49.335066,30262.0,2017-05-01 14:28:12,-25.430393,...,-49.335066,2017-05-01 13:36:35,-25.430393,-49.317373,2017-05-01 15:36:36,0.00000,01:08:24,0.0,0 days,00:51:37
13,2701330.0,38953.0,2.0,30262.0,2017-05-01 15:36:38,-25.430393,-49.317373,30319.0,2017-05-01 15:40:15,-25.421500,...,-49.317373,2017-05-01 15:36:38,-25.421591,-49.335066,2017-05-01 13:36:35,0.01540,02:03:40,0.0,0 days,00:03:37
14,2715287.0,28154.0,2.0,39378.0,2017-05-01 13:36:28,-25.585230,-49.337210,25521.0,2017-05-01 14:32:45,-25.442988,...,-49.337210,2017-05-01 13:36:28,-25.443355,-49.281734,2017-05-01 23:07:19,0.13351,08:34:34,0.0,0 days,00:56:17
15,2753503.0,28329.0,6.0,32508.0,2017-05-01 13:38:54,-25.410306,-49.204294,25389.0,2017-05-01 14:23:32,-25.437593,...,-49.204294,2017-05-01 13:38:54,-25.437655,-49.266632,2017-05-01 18:18:26,0.01184,03:54:54,0.0,0 days,00:44:38
16,2853469.0,28165.0,2.0,30798.0,2017-05-01 13:36:35,-25.477617,-49.216957,26157.0,2017-05-01 14:00:22,-25.434700,...,-49.216957,2017-05-01 13:36:35,-25.434761,-49.272470,2017-05-01 17:30:08,0.01507,03:29:46,0.0,0 days,00:23:47
17,2853469.0,49951.0,5.0,26156.0,2017-05-01 17:30:08,-25.434761,-49.272470,3830.0,2017-05-01 17:56:45,-25.474306,...,-49.272470,2017-05-01 17:30:08,-25.477617,-49.216957,2017-05-01 13:36:35,0.39152,04:20:10,0.0,0 days,00:26:37
18,2868236.0,28341.0,6.0,32508.0,2017-05-01 13:39:02,-25.410306,-49.204294,25389.0,2017-05-01 14:23:32,-25.437593,...,-49.204294,2017-05-01 13:39:02,-25.437655,-49.266632,2017-05-01 18:18:29,0.01184,03:54:57,0.0,0 days,00:44:30
19,2948567.0,28491.0,3.0,28124.0,2017-05-01 13:40:42,-25.406384,-49.252353,27945.0,2017-05-01 13:50:08,-25.440274,...,-49.252353,2017-05-01 13:40:42,-25.439980,-49.221858,2017-05-01 20:28:30,0.07058,06:38:22,0.0,0 days,00:09:26
20,3013861.0,28349.0,2.0,27475.0,2017-05-01 13:39:09,-25.492468,-49.293309,27746.0,2017-05-01 13:50:07,-25.481453,...,-49.293309,2017-05-01 13:39:09,-25.481927,-49.246999,2017-05-01 18:41:49,0.05260,04:51:42,0.0,0 days,00:10:58
21,3016604.0,28422.0,2.0,37405.0,2017-05-01 13:39:50,-25.557108,-49.282218,25523.0,2017-05-01 14:41:30,-25.461205,...,-49.282218,2017-05-01 13:39:50,-25.461214,-49.289889,2017-05-01 22:51:54,0.01083,08:10:24,0.0,0 days,01:01:40
22,3060150.0,28234.0,5.0,26314.0,2017-05-01 13:37:35,-25.429689,-49.272649,34553.0,2017-05-01 13:50:19,-25.429778,...,-49.272649,2017-05-01 13:37:35,-25.423123,-49.305867,2017-05-01 16:24:53,1.30390,02:34:34,0.0,0 days,00:12:44
23,3181018.0,28476.0,1.0,38516.0,2017-05-01 13:40:36,-25.560733,-49.314580,25924.0,2017-05-01 14:36:46,-25.472597,...,-49.314580,2017-05-01 13:40:36,-25.472613,-49.294477,2017-05-01 23:00:33,0.01070,08:23:47,0.0,0 days,00:56:10
24,3232277.0,28404.0,4.0,34158.0,2017-05-01 13:39:37,-25.521141,-49.296043,37164.0,2017-05-01 13:50:41,-25.555636,...,-49.296043,2017-05-01 13:39:37,-25.555610,-49.284332,2017-05-01 18:40:44,0.01027,04:50:03,0.0,0 days,00:11:04
25,3232277.0,57132.0,4.0,37163.0,2017-05-01 18:40:47,-25.555610,-49.284332,34160.0,2017-05-01 18:54:37,-25.520732,...,-49.284332,2017-05-01 18:40:47,-25.521141,-49.296043,2017-05-01 13:39:31,0.08033,05:15:06,0.0,0 days,00:13:50
26,3290048.0,28351.0,3.0,32988.0,2017-05-01 13:39:09,-25.504734,-49.285771,48230.0,2017-05-01 15:07:58,-25.419008,...,-49.285771,2017-05-01 13:39:09,-25.423635,-49.347386,2017-05-01 17:49:42,0.54878,02:41:44,0.0,0 days,01:28:49
27,3290048.0,51966.0,4.0,30515.0,2017-05-01 17:49:42,-25.423635,-49.347386,26297.0,2017-05-01 18:46:53,-25.512315,...,-49.347386,2017-05-01 17:49:42,-25.512487,-49.295048,2017-05-01 23:19:41,0.06216,04:32:48,0.0,0 days,00:57:11
28,3325831.0,28321.0,1.0,33587.0,2017-05-01 13:38:47,-25.498662,-49.218746,40568.0,2017-05-01 14:48:54,-25.552746,...,-49.218746,2017-05-01 13:38:47,-25.555036,-49.276550,2017-05-01 18:30:21,0.25416,03:41:27,0.0,0 days,01:10:07
29,3325831.0,56164.0,1.0,39193.0,2017-05-01 18:30:21,-25.555036,-49.276550,33586.0,2017-05-01 19:48:39,-25.499269,...,-49.276550,2017-05-01 18:30:21,-25.498662,-49.218746,2017-05-01 13:38:47,0.07566,06:09:52,0.0,0 days,01:18:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,3513074.0,71039.0,1.0,33567.0,2017-05-01 22:59:41,-25.459909,-49.319820,26631.0,2017-05-01 23:12:33,-25.440706,...,-49.319820,2017-05-01 22:59:41,-25.439559,-49.269784,2017-05-01 23:26:52,0.21082,00:14:19,0.0,0 days,00:12:52
40,3574424.0,28337.0,5.0,36694.0,2017-05-01 13:38:59,-25.534742,-49.332760,25521.0,2017-05-01 14:17:40,-25.442988,...,-49.332760,2017-05-01 13:38:59,-25.443355,-49.281734,2017-05-01 23:00:11,0.13351,08:42:31,0.0,0 days,00:38:41
41,3575247.0,28487.0,2.0,26877.0,2017-05-01 13:40:39,-25.379321,-49.315545,35531.0,2017-05-01 15:05:17,-25.502939,...,-49.315545,2017-05-01 13:40:39,-25.502939,-49.337871,2017-05-01 20:28:26,0.00000,05:23:09,0.0,0 days,01:24:38
42,3575247.0,65005.0,1.0,35531.0,2017-05-01 20:28:26,-25.502939,-49.337871,26858.0,2017-05-01 21:50:35,-25.379272,...,-49.337871,2017-05-01 20:28:26,-25.379321,-49.315545,2017-05-01 13:40:37,0.01179,08:09:58,0.0,0 days,01:22:09
43,3582554.0,28225.0,1.0,30320.0,2017-05-01 13:37:23,-25.421591,-49.335066,30262.0,2017-05-01 14:28:12,-25.430393,...,-49.335066,2017-05-01 13:37:23,-25.430393,-49.317373,2017-05-01 19:27:42,0.00000,04:59:30,0.0,0 days,00:50:49
44,3582554.0,61753.0,1.0,30262.0,2017-05-01 19:27:42,-25.430393,-49.317373,30319.0,2017-05-01 19:31:11,-25.421500,...,-49.317373,2017-05-01 19:27:42,-25.421591,-49.335066,2017-05-01 13:37:23,0.01540,05:53:48,0.0,0 days,00:03:29
45,3594909.0,28306.0,1.0,29839.0,2017-05-01 13:38:33,-25.526341,-49.252934,25732.0,2017-05-01 14:23:46,-25.448323,...,-49.252934,2017-05-01 13:38:33,-25.448327,-49.287780,2017-05-01 23:12:13,0.00051,08:48:27,0.0,0 days,00:45:13
46,3631040.0,28282.0,2.0,39259.0,2017-05-01 13:38:16,-25.567449,-49.315098,25737.0,2017-05-01 14:24:46,-25.484422,...,-49.315098,2017-05-01 13:38:16,-25.484419,-49.293792,2017-05-01 15:30:41,0.01026,01:05:55,0.0,0 days,00:46:30
47,3666871.0,55169.0,5.0,39194.0,2017-05-01 18:20:24,-25.564864,-49.275161,25899.0,2017-05-01 20:02:13,-25.436156,...,-49.275161,2017-05-01 18:20:24,-25.438860,-49.268205,2017-05-01 13:40:09,0.42343,06:22:04,0.0,0 days,01:41:49
48,3706490.0,28356.0,1.0,27475.0,2017-05-01 13:39:13,-25.492468,-49.293309,30950.0,2017-05-01 14:15:54,-25.457753,...,-49.293309,2017-05-01 13:39:13,-25.457834,-49.232411,2017-05-01 19:19:27,0.03987,05:03:33,0.0,0 days,00:36:41
49,3706490.0,61070.0,3.0,30949.0,2017-05-01 19:19:27,-25.457834,-49.232411,26228.0,2017-05-01 19:55:36,-25.492283,...,-49.232411,2017-05-01 19:19:27,-25.492468,-49.293309,2017-05-01 13:39:13,0.03066,06:16:23,0.0,0 days,00:36:09
50,3721290.0,28172.0,6.0,27786.0,2017-05-01 13:36:41,-25.467447,-49.198471,26208.0,2017-05-01 15:17:24,-25.413190,...,-49.198471,2017-05-01 13:36:41,-25.413140,-49.205680,2017-05-01 23:00:10,0.01420,07:42:46,0.0,0 days,01:40:43
51,3728595.0,66750.0,1.0,31749.0,2017-05-01 21:09:39,-25.451121,-49.252835,36275.0,2017-05-01 22:26:11,-25.561905,...,-49.252835,2017-05-01 21:09:39,-25.561820,-49.339227,2017-05-01 13:38:44,0.01470,08:47:27,0.0,0 days,01:16:32
52,3733084.0,57607.0,1.0,31582.0,2017-05-01 18:46:16,-25.556360,-49.249510,4661.0,2017-05-01 19:00:50,-25.534266,...,-49.249510,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,1.70656,05:24:21,0.0,0 days,00:14:34
53,3739436.0,28161.0,4.0,14404.0,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,2017-05-01 14:04:25,-25.435618,...,-49.224005,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,0.0,0 days,00:27:52
54,3753611.0,28383.0,1.0,31580.0,2017-05-01 13:39:22,-25.557718,-49.247926,25825.0,2017-05-01 14:08:46,-25.512831,...,-49.247926,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.00116,05:10:37,0.0,0 days,00:29:24
55,3757042.0,28272.0,3.0,30265.0,2017-05-01 13:38:05,-25.430759,-49.338133,26314.0,2017-05-01 13:52:48,-25.429689,...,-49.338133,2017-05-01 13:38:05,-25.428481,-49.271082,2017-05-01 14:04:34,0.20680,00:11:46,0.0,0 days,00:14:43
56,3757042.0,30519.0,7.0,26353.0,2017-05-01 14:04:45,-25.428481,-49.271082,28587.0,2017-05-01 14:15:09,-25.407072,...,-49.271082,2017-05-01 14:04:45,-25.407068,-49.271578,2017-05-01 15:55:39,0.01572,01:40:30,0.0,0 days,00:10:24
57,3757042.0,40705.0,6.0,10906.0,2017-05-01 15:55:41,-25.409002,-49.271733,26349.0,2017-05-01 16:06:47,-25.428753,...,-49.271733,2017-05-01 15:55:41,-25.429689,-49.272649,2017-05-01 16:44:08,0.18338,00:37:21,0.0,0 days,00:11:06
58,3757042.0,45308.0,1.0,26314.0,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,2017-05-01 17:02:53,-25.430315,...,-49.272649,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:24:53,0.0,0 days,00:18:41
59,3763097.0,28214.0,1.0,31811.0,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,2017-05-01 13:54:51,-25.428383,...,-49.219571,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,0.0,0 days,00:17:38
60,3763097.0,41233.0,1.0,26363.0,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 16:16:22,-25.414434,...,-49.266502,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,0.0,0 days,00:15:09
61,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.346719,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,08:03:17,0.0,0 days,00:32:37
62,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 13:42:43,-25.453594,...,-49.221436,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:04:38,0.0,0 days,00:03:28
63,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:27:12,-25.476372,...,-49.315151,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,0.0,0 days,00:47:49
64,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:17:24,-25.437593,...,-49.198471,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:22:23,0.0,0 days,00:36:45
65,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:12:10,-25.437968,...,-49.362221,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:34:48,0.0,0 days,00:35:45
66,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:10:54,-25.534335,...,-49.334787,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,0.0,0 days,00:31:10
67,3829762.0,44578.0,3.0,29157.0,2017-05-01 16:36:31,-25.443394,-49.242750,36322.0,2017-05-01 17:17:26,-25.564914,...,-49.242750,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.01048,05:14:04,0.0,0 days,00:40:55
68,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,2017-05-01 23:14:27,-25.504091,...,-49.328974,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,0.01113,09:34:43,0.0,0 days,00:42:57

In [586]:
inferred_trip_itineraries.filter(['next_origin_dist','next_start_diff','origin_dist','start_diff','trip_duration']).describe()

,next_origin_dist,next_start_diff,origin_dist,start_diff,trip_duration
count,69.000000,69,69.0,69,69
mean,0.166341,0 days 04:52:47.246376,0.0,0 days 00:00:00,0 days 00:41:34.347826
std,0.317079,0 days 02:51:29.037900,0.0,0 days 00:00:00,0 days 00:25:54.544872
min,0.000000,0 days 00:04:38,0.0,0 days 00:00:00,0 days 00:03:28
25%,0.010270,0 days 02:41:44,0.0,0 days 00:00:00,0 days 00:18:41
50%,0.015720,0 days 04:45:49,0.0,0 days 00:00:00,0 days 00:38:41
75%,0.185860,0 days 08:03:17,0.0,0 days 00:00:00,0 days 00:56:10
max,1.706560,0 days 09:41:28,0.0,0 days 00:00:00,0 days 01:41:49

#### Writing Inferred Trips Itineraries dataset to file

In [593]:
inf_trips_itineraries_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_itins_inf_trips.csv'
inferred_trip_itineraries.to_csv(inf_trips_itineraries_output_filepath,index=False)

#### Getting Itineraries Legs back

In [589]:
inferred_trip_itineraries_legs = pass_itins_legs.merge(inferred_trip_itineraries \
                                                       .filter(['card_num','trip_id','otp_itinerary_id']),
                                                       how='inner') \
                                                .sort_values(['card_num','trip_id','otp_itinerary_id','otp_leg_id'])

In [590]:
inferred_trip_itineraries_legs

,card_num,trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,...,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,considered_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,827182.0,28276.0,6.0,1.0,BUS,652,LA011,11.0,36694.0,2017-05-01 14:07:11,...,28609.0,2017-05-01 14:26:00,2017-05-01 13:55:44,18.816667,17.550000,17.550000,-25.534742,-49.332760,-25.511657,-49.324786
1,827182.0,28276.0,6.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:26:00,...,NaN,2017-05-01 14:26:05,2017-05-01 13:55:44,0.083333,NaN,0.083333,NaN,NaN,NaN,NaN
2,827182.0,28276.0,6.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:44:30,...,NaN,2017-05-01 14:46:29,2017-05-01 13:57:44,1.983333,NaN,1.983333,NaN,NaN,NaN,NaN
3,827182.0,28276.0,6.0,5.0,BUS,603,HD249,7.0,26294.0,2017-05-01 14:47:37,...,25732.0,2017-05-01 15:07:00,2017-05-01 14:14:50,19.383333,15.016667,15.016667,-25.492347,-49.293421,-25.448323,-49.287777
4,1024869.0,28174.0,1.0,1.0,BUS,515,EA303,10.0,33580.0,2017-05-01 13:40:27,...,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,15.550000,15.500000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
5,1024869.0,28174.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:56:00,...,NaN,2017-05-01 13:58:59,2017-05-01 13:55:12,2.983333,NaN,2.983333,NaN,NaN,NaN,NaN
6,1024869.0,28174.0,1.0,3.0,BUS,503,KE842,9.0,27474.0,2017-05-01 14:01:04,...,26905.0,2017-05-01 14:18:06,2017-05-01 14:22:51,17.033333,17.350000,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
7,1168962.0,28455.0,2.0,1.0,BUS,639,GA142,10.0,37403.0,2017-05-01 13:56:48,...,34160.0,2017-05-01 14:14:46,2017-05-01 13:54:13,17.966667,14.016667,14.016667,-25.557041,-49.283864,-25.520732,-49.295383
8,1168962.0,28455.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:46,...,NaN,2017-05-01 14:14:50,2017-05-01 13:54:13,0.066667,NaN,0.066667,NaN,NaN,NaN,NaN
9,1168962.0,28455.0,2.0,3.0,BUS,502,HR028,7.0,25534.0,2017-05-01 14:20:14,...,26197.0,2017-05-01 14:37:00,2017-05-01 14:27:12,16.766667,18.200000,18.200000,-25.520710,-49.295454,-25.476372,-49.292607
10,1354462.0,28373.0,4.0,1.0,BUS,685,HA286,8.0,39837.0,2017-05-01 14:06:05,...,30434.0,2017-05-01 14:26:00,2017-05-01 13:55:27,19.916667,16.150000,16.150000,-25.556058,-49.332414,-25.511661,-49.324223
11,1354462.0,28373.0,4.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:26:00,...,NaN,2017-05-01 14:28:30,2017-05-01 13:57:27,2.500000,NaN,2.500000,NaN,NaN,NaN,NaN
12,1354462.0,28373.0,4.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:00,...,NaN,2017-05-01 15:10:42,2017-05-01 13:58:27,0.700000,NaN,0.700000,NaN,NaN,NaN,NaN
13,1354462.0,28373.0,4.0,5.0,BUS,870,BC014,8.0,26314.0,2017-05-01 15:19:00,...,33987.0,2017-05-01 15:49:00,2017-05-01 15:12:34,30.000000,30.383333,30.383333,-25.429689,-49.272649,-25.428949,-49.353564
14,1354462.0,39353.0,1.0,1.0,BUS,040,LB602,1.0,33745.0,2017-05-01 15:51:59,...,35104.0,2017-05-01 16:28:17,2017-05-01 16:19:10,36.300000,38.333333,38.333333,-25.435506,-49.349914,-25.511630,-49.328224
15,1354462.0,39353.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 16:28:17,...,NaN,2017-05-01 16:29:29,2017-05-01 16:20:10,1.200000,NaN,1.200000,NaN,NaN,NaN,NaN
16,1354462.0,39353.0,1.0,3.0,BUS,628,HA025,10.0,35103.0,2017-05-01 16:34:35,...,35179.0,2017-05-01 16:56:22,2017-05-01 16:40:50,21.783333,13.216667,13.216667,-25.511477,-49.328306,-25.551285,-49.332021
17,1998953.0,52772.0,5.0,1.0,BUS,183,BC186,11.0,35642.0,2017-05-01 18:15:31,...,29384.0,2017-05-01 18:57:20,2017-05-01 18:22:31,41.816667,24.533333,24.533333,-25.423318,-49.268572,-25.366369,-49.272466
18,2103372.0,47677.0,8.0,1.0,BUS,371,BC030,13.0,31824.0,2017-05-01 17:29:24,...,26216.0,2017-05-01 17:38:00,2017-05-01 16:20:49,8.600000,-47.533333,-47.533333,-25.419484,-49.224343,-25.412990,-49.205510
19,2103372.0,47677.0,8.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:38:00,...,NaN,2017-05-01 17:38:09,2017-05-01 16:20:49,0.150000,NaN,0.150000,NaN,NaN,NaN,NaN
20,2103372.0,47677.0,8.0,3.0,BUS,307,ML301,8.0,26208.0,2017-05-01 17:43:00,...,25684.0,2017-05-01 18:05:09,2017-05-01 17:58:17,22.150000,-14.200000,-14.200000,-25.413190,-49.205810,-25.425924,-49.242351
21,2103372.0,47677.0,8.0,4.0,BUS,023,BL336,8.0,25684.0,2017-05-01 18:07:42,...,25683.0,2017-05-01 18:14:29,2017-05-01 18:14:21,6.783333,5.616667,5.616667,-25.425924,-49.242351,-25.410622,-49.248224
22,2168963.0,28252.0,1.0,1.0,BUS,332,DA015,22.0,32459.0,2017-05-01 13:44:34,...,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,7.433333,9.366667,9.366667,-25.471072,-49.194606,-25.469115,-49.207963
23,2168963.0,28252.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:52:00,...,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,0.416667,NaN,0.416667,NaN,NaN,NaN,NaN
24,2168963.0,28252.0,1.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 13:58:00,...,26045.0,2017-05-01 14:16:49,2017-05-01 14:08:27,18.816667,18.250000,18.250000,-25.469002,-49.208298,-25.438111,-49.238652
25,2271249.0,28290.0,1.0,1.0,BUS,680,HA003,9.0,8644.0,2017-05-01 13:38:06,...,34160.0,2017-05-01 14:04:56,2017-05-01 13:53:24,26.833333,15.083333,15.083333,-25.576357,-49.322097,-25.520732,-49.295383
26,2271249.0,28290.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:04:56,...,NaN,2017-05-01 14:05:00,2017-05-01 13:53:24,0.066667,NaN,0.066667,NaN,NaN,NaN,NaN
27,2271249.0,28290.0,1.0,3.0,BUS,502,HR028,7.0,25534.0,2017-05-01 14:10:14,...,26197.0,2017-05-01 14:27:00,2017-05-01 14:27:12,16.766667,18.200000,18.200000,-25.520710,-49.295454,-25.476372,-49.292607
28,2316370.0,28308.0,2.0,1.0,BUS,684,HA002,5.0,32043.0,2017-05-01 13:38:03,...,31053.0,2017-05-01 13:48:00,2017-05-01 13:46:28,9.950000,7.866667,7.866667,-25.534129,-49.300631,-25.513098,-49.295303
29,2316370.0,28308.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:48:00,...,NaN,2017-05-01 13:49:14,2017-05-01 13:47:28,1.233333,NaN,1.233333,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,3739436.0,28161.0,4.0,3.0,BUS,303,LE702,5.0,26204.0,2017-05-01 13:52:41,...,25646.0,2017-05-01 14:10:50,2017-05-01 14:04:25,18.150000,14.933333,14.933333,-25.451939,-49.214774,-25.435618,-49.256635
150,3753611.0,28383.0,1.0,1.0,BUS,548,GA158,7.0,31580.0,2017-05-01 13:42:40,...,4661.0,2017-05-01 14:00:00,2017-05-01 13:58:30,17.333333,19.133333,19.133333,-25.557718,-49.247926,-25.534266,-49.267778
151,3753611.0,28383.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:00:00,...,NaN,2017-05-01 14:00:38,2017-05-01 13:59:30,0.633333,NaN,0.633333,NaN,NaN,NaN,NaN
152,3753611.0,28383.0,1.0,3.0,BUS,506,EL316,6.0,30008.0,2017-05-01 14:03:00,...,25825.0,2017-05-01 14:12:19,2017-05-01 14:08:46,9.316667,8.400000,8.400000,-25.534552,-49.268162,-25.512831,-49.279857
153,3757042.0,28272.0,3.0,1.0,BUS,870,BC012,7.0,30265.0,2017-05-01 13:54:02,...,26314.0,2017-05-01 14:19:00,2017-05-01 13:52:48,24.966667,14.716667,14.716667,-25.430759,-49.338133,-25.429689,-49.272649
154,3757042.0,30519.0,7.0,1.0,BUS,182,BC002,8.0,26353.0,2017-05-01 14:32:00,...,28587.0,2017-05-01 14:41:45,2017-05-01 14:15:09,9.750000,10.400000,10.400000,-25.428481,-49.271082,-25.407072,-49.271422
155,3757042.0,40705.0,6.0,1.0,BUS,181,BN606,2.0,10906.0,2017-05-01 16:18:48,...,26349.0,2017-05-01 16:28:00,2017-05-01 16:06:47,9.200000,11.100000,11.100000,-25.409002,-49.271733,-25.428753,-49.271146
156,3757042.0,45308.0,1.0,1.0,BUS,870,BC283,10.0,26314.0,2017-05-01 16:47:00,...,34566.0,2017-05-01 17:10:09,2017-05-01 17:02:53,23.150000,18.683333,18.683333,-25.429689,-49.272649,-25.430315,-49.337127
157,3763097.0,28214.0,1.0,1.0,BUS,371,BC031,10.0,31811.0,2017-05-01 13:36:06,...,26363.0,2017-05-01 13:58:00,2017-05-01 13:54:51,21.900000,17.633333,17.633333,-25.414393,-49.219571,-25.428383,-49.266502
158,3763097.0,41233.0,1.0,1.0,BUS,371,BC030,12.0,26363.0,2017-05-01 16:10:00,...,31813.0,2017-05-01 16:32:37,2017-05-01 16:16:22,22.616667,15.150000,15.150000,-25.428383,-49.266502,-25.414434,-49.219312
159,3791033.0,28402.0,1.0,1.0,BUS,040,GR126,2.0,34133.0,2017-05-01 13:45:08,...,30991.0,2017-05-01 13:55:00,2017-05-01 13:48:35,9.866667,9.033333,9.033333,-25.458196,-49.346719,-25.441699,-49.346051
160,3791033.0,28402.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:55:00,...,NaN,2017-05-01 13:56:13,2017-05-01 13:49:35,1.216667,NaN,1.216667,NaN,NaN,NaN,NaN
161,3791033.0,28402.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:57:00,...,25753.0,2017-05-01 14:07:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
162,3806874.0,28363.0,2.0,1.0,BUS,462,DC093,7.0,31481.0,2017-05-01 13:57:20,...,31467.0,2017-05-01 14:03:37,2017-05-01 13:42:43,6.283333,3.466667,3.466667,-25.467161,-49.221436,-25.453594,-49.226994
163,3815019.0,28388.0,2.0,1.0,BUS,655,HA001,9.0,38519.0,2017-05-01 13:43:21,...,34160.0,2017-05-01 14:03:06,2017-05-01 13:53:32,19.750000,14.150000,14.150000,-25.564788,-49.315151,-25.520732,-49.295383
164,3815019.0,28388.0,2.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 14:03:06,...,NaN,2017-05-01 14:03:10,2017-05-01 13:53:32,0.066667,NaN,0.066667,NaN,NaN,NaN,NaN
165,3815019.0,28388.0,2.0,3.0,BUS,502,HR028,7.0,25534.0,2017-05-01 14:10:14,...,26197.0,2017-05-01 14:27:00,2017-05-01 14:27:12,16.766667,18.200000,18.200000,-25.520710,-49.295454,-25.476372,-49.292607
166,3816838.0,28486.0,1.0,1.0,BUS,332,DA015,22.0,27786.0,2017-05-01 13:47:58,...,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,4.033333,6.633333,6.633333,-25.467447,-49.198471,-25.469115,-49.207963
167,3816838.0,28486.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:52:00,...,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,0.416667,NaN,0.416667,NaN,NaN,NaN,NaN
168,3816838.0,28486.0,1.0,3.0,BUS,303,DE715,4.0,26192.0,2017-05-01 13:58:00,...,25389.0,2017-05-01 14:26:35,2017-05-01 14:17:24,28.583333,27.200000,27.200000,-25.469002,-49.208298,-25.437593,-49.266727
169,3823073.0,28150.0,1.0,1.0,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,...,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,7.816667,-25.436303,-49.362221,-25.441705,-49.346328
170,3823073.0,28150.0,1.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,...,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,0.866667,NaN,NaN,NaN,NaN
171,3823073.0,28150.0,1.0,3.0,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,...,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
172,3829762.0,28411.0,1.0,1.0,BUS,545,JA300,6.0,33849.0,2017-05-01 13:54:08,...,5452.0,2017-05-01 14:29:00,2017-05-01 14:10:54,34.866667,31.166667,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
173,3829762.0,44578.0,3.0,1.0,BUS,216,HA601,8.0,29157.0,2017-05-01 16:49:46,...,29171.0,2017-05-01 17:13:28,2017-05-01 16:47:01,23.700000,10.500000,10.500000,-25.443394,-49.242750,-25.471858,-49.285907
174,3829762.0,44578.0,3.0,2.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:13:28,...,NaN,2017-05-01 17:14:16,2017-05-01 16:48:01,0.800000,NaN,0.800000,NaN,NaN,NaN,NaN
175,3829762.0,44578.0,3.0,4.0,WALK,nan,NaN,NaN,NaN,2017-05-01 17:33:00,...,NaN,2017-05-01 17:35:30,2017-05-01 16:50:01,2.500000,NaN,2.500000,NaN,NaN,NaN,NaN
176,3829762.0,44578.0,3.0,5.0,BUS,685,HA288,10.0,30434.0,2017-05-01 17:44:00,...,36322.0,2017-05-01 18:12:17,2017-05-01 17:17:26,28.283333,24.983333,24.983333,-25.511661,-49.324223,-25.564914,-49.329068
177,3829762.0,70106.0,1.0,1.0,BUS,685,HA288,15.0,36326.0,2017-05-01 22:49:46,...,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,14.116667,-25.564955,-49.328974,-25.515244,-49.328156
178,3829762.0,70106.0,1.0,2.0,BUS,545,GA168,11.0,33860.0,2017-05-01 23:13:48,...,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,3.033333,-25.515244,-49.328156,-25.504091,-49.334712

#### Writing Inferred Trips Itineraries Legs dataset to file

In [ ]:
inf_trips_itineraries_legs_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_legs_inf_trips_itins.csv'
inferred_trip_itineraries.to_csv(inf_trips_itineraries_output_filepath,index=False)

In [460]:
if len(pass_itins_legs) == 0:
            print "No matches left after matching and selecting feasible bus legs."
            print "Skipping next steps..."
            exit(0)

In [461]:
# Writing suggested itineraries dataset to file
actual_itineraries_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_actual_itin.csv'
pass_itins_legs.to_csv(actual_itineraries_output_filepath, index=False)