In [1]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time
from geopy import distance


#Data Analysis Libs
import pandas as pd
import numpy as np

In [2]:
#Functions
def select_input_files(enh_buste_base_path,init_date,fin_date,suffix):
        selected_files = []
        all_files = glob.glob(os.path.join(enh_buste_base_path,"*"))

        for file_ in all_files:
                try:
                        file_date = pd.to_datetime(file_.split('/')[-1],format=('%Y_%m_%d' + suffix  + '.csv'))
                        if (file_date >= init_date) and (file_date <= fin_date):
                                selected_files.append((file_,file_date))
                except:
                        continue

        return sorted(selected_files)

def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2017-06-30", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

In [3]:
#def match_terminal_boardings(selected_trips,itineraries_start):
#        terminal_boarding_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] != '021')]
#        matched_terminal_boardings = terminal_boarding_origins.merge(itineraries_start,
#                                                                                                                                left_on=['o_boarding_id','o_stopPointId'],
#                                                                                                                                right_on=['user_trip_id','from_parent_station'], how='inner')
#        num_matched_terminal_boardings = len(matched_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
#        if num_matched_terminal_boardings == 0:
#            matched_perc = 0.0
#        else:
#            matched_perc = 100*(num_matched_terminal_boardings/float(len(terminal_boarding_origins)))
#        return (matched_terminal_boardings,num_matched_terminal_boardings,matched_perc)

#def match_terminal_021_boardings(selected_trips,itineraries_start):
#        terminal_021_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] == '021')]
#        matched_021_terminal_boardings = terminal_021_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','from_parent_station'], how='inner')
#        num_matched_021_terminal_boardings = len(matched_021_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))
#        if num_matched_021_terminal_boardings == 0:
#                terminal_021_match_perc = 0.0
#        else:
#                terminal_021_match_perc = 100*(num_matched_021_terminal_boardings/float(len(terminal_021_origins)))
#        return (len(terminal_021_origins),matched_021_terminal_boardings,num_matched_021_terminal_boardings,terminal_021_match_perc)

In [4]:
#def get_candidate_itineraries_penalty_score(otp_buste_itineraries_filtered):
#        otp_buste_itineraries_penalty = otp_buste_itineraries_filtered \
#                                                        .assign(penalty = lambda x: 2*x['start_diff'].dt.total_seconds() + x['trip_duration'].dt.total_seconds() + x['match_num_transfers']*10) \
#                                                        [['cardNum','user_trip_id','itinerary_id','match_num_transfers','match_vehicle_boarding','next_origin_dist','origin_dist','start_diff','trip_duration','penalty']] \
#                                                        .sort_values(['user_trip_id','penalty'], ascending=True)
#        return otp_buste_itineraries_penalty

## Main

In [5]:
otp_suggestions_filepath = '/local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv'
user_trips_folderpath = '/local/tarciso/data/enhanced-buste/user_trips/'
bus_trips_folderpath = '/local/tarciso/data/enhanced-buste/bus_trips/'
gtfs_base_folderpath = '/local/tarciso/data/gtfs/'
output_folderpath = '/local/tarciso/data/test-odmat/'

In [6]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_user_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: /local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv

In [7]:
        # Extracting itinerary part name for later use
        itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
        # Read OTP Suggestions
        otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

        if len(otp_suggestions_raw) == 0:
            print "Zero OTP suggestions found."
            print "Skipping next steps..."
            exit(0)

In [8]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

In [9]:
        # Prepare OTP data for analysis
        otp_suggestions = prepare_otp_data(otp_suggestions_raw)

        # Read stops data
        stops_filepath = gtfs_base_folderpath + os.sep + get_router_id(file_date) + os.sep + 'stops.txt'
        stops_df = pd.read_csv(stops_filepath)

        # Adding Parent Stop data to OTP Suggestions
        stops_parent_stations = stops_df[['stop_id','parent_station']]
        otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
        #otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
        #otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [10]:
otp_suggestions.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

## Match Scheduled Itineraries to Observed Bus Trips

In [11]:
def compatible_dates(otp_data,ticketing_data):
        otp_date = otp_data['otp_date'].iloc[0]
        ticketing_date = pd.to_datetime(ticketing_data['o_boarding_datetime'].dt.strftime('%Y-%m-%d')[0])

        return (otp_date == ticketing_date,otp_date,ticketing_date)

### Read and Prepare Origin/Next-Origin Pairs data

In [12]:
        # Read Origin/Next-Origin Pairs for the same date
        trips_origins_filepath = user_trips_folderpath + os.sep + file_date_str + '_user_trips.csv'
        trips_on_pairs_full = pd.read_csv(trips_origins_filepath,
                                                parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])
        # Checking whether OTP and ticketing dates match
        dates_compatibility, otp_date, ticketing_date = compatible_dates(otp_suggestions,trips_on_pairs_full)
        if not dates_compatibility:
                print "ERROR: OTP date", otp_date, "does not match Ticketing data", ticketing_date
                print "Skipping current day"
                exit(1)
        
        trips_on_pairs = trips_on_pairs_full.filter(['o_boarding_id','next_o_boarding_id'])
        trips_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('o_')])

In [13]:
trips_origins.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
0,180.0,2017-05-01 04:48:42,2017-05-01 04:48:17,650,HA030,1.0,36293.0,-25.568989,-49.332253
1,40392.0,2017-05-01 15:52:39,NaT,021,08044,NaN,41791.0,-25.431951,-49.296491
2,181.0,2017-05-01 04:49:13,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900
3,31560.0,2017-05-01 14:16:55,NaT,000,00038,NaN,26051.0,-25.447479,-49.263816
4,182.0,2017-05-01 04:49:19,2017-05-01 04:49:08,650,HA030,1.0,36294.0,-25.566860,-49.332900

In [14]:
trips_on_pairs.head()

   o_boarding_id  next_o_boarding_id
0          180.0             40392.0
1        40392.0               180.0
2          181.0             31560.0
3        31560.0               181.0
4          182.0             61724.0

### Filtering out non-vehicle-boarding itinerary suggestions

In [15]:
vehicle_boarding_trip_ids = trips_origins[np.logical_not(trips_origins['o_busCode'].str.isdigit())].o_boarding_id

In [16]:
otp_suggestions_vehicle = otp_suggestions[otp_suggestions['otp_user_trip_id'].isin(vehicle_boarding_trip_ids)]
otp_suggestions_bus_legs = otp_suggestions_vehicle[otp_suggestions_vehicle['otp_mode'] == 'BUS']
otp_suggestions_walk_legs = otp_suggestions_vehicle[otp_suggestions_vehicle['otp_mode'] == 'WALK']

In [17]:
len(otp_suggestions)

8016

In [18]:
len(otp_suggestions_vehicle)

4452

### Read and Prepare Bus Trips data

In [19]:
        # Find OTP Suggested Itineraries in BUSTE Data
        bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
        bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3))  \
                                        .drop_duplicates()

In [20]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

In [21]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [22]:
bus_trips_clean.head()

      route busCode  tripNum  stopPointId        gps_datetime
29435   010   BB303      1.0      33157.0 2017-05-01 06:28:07
29436   010   BB303      1.0      33159.0 2017-05-01 06:30:38
29437   010   BB303      1.0      33158.0 2017-05-01 06:31:40
29438   010   BB303      1.0      30150.0 2017-05-01 06:32:26
29439   010   BB303      1.0      28637.0 2017-05-01 06:33:11

#### Identify Possible Matches between OTP Itineraries and Bus Trips Observed Data

In [23]:
bus_trips.dtypes

route                            object
busCode                          object
shapeId                         float64
tripNum                         float64
stopPointId                     float64
gps_datetime             datetime64[ns]
distanceTraveledShape           float64
stop_lat                        float64
stop_lon                        float64
parent_station                  float64
dtype: object

In [24]:
otp_suggestions_bus_legs.dtypes

otp_date                   datetime64[ns]
otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

In [15]:
# scheduled_itin_observed_od = otp_suggestions_bus_legs.merge(bus_trips.add_prefix('bt_from_'),
#                                 left_on=['otp_route','otp_from_stop_id'],
#                                 right_on=['bt_from_route','bt_from_stopPointId'],
#                                 how='inner') \
#                                 .assign(sched_obs_start_timediff = 
#                                         lambda x: np.absolute(x['bt_from_gps_datetime'] - x['otp_start_time']))
# scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_start_timediff'] <= pd.Timedelta(minutes=60)]

In [16]:
# scheduled_itin_observed_od = scheduled_itin_observed_od.merge(bus_trips.add_prefix('bt_to_'),
#                                 left_on=['otp_route','bt_from_busCode','bt_from_tripNum','otp_to_stop_id'],
#                                 right_on=['bt_to_route','bt_to_busCode','bt_to_tripNum','bt_to_stopPointId'],
#                                 how='inner') \
#                                 .assign(sched_obs_end_timediff = 
#                                         lambda x: np.absolute(x['bt_to_gps_datetime'] - x['otp_end_time'])) \
#                                 .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])
# scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_end_timediff'] <= pd.Timedelta(minutes=60)]

In [30]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))
#scheduled_itin_observed_o = scheduled_itin_observed_o[scheduled_itin_observed_o['sched_obs_start_timediff'] <= pd.Timedelta(minutes=60)]

In [31]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])
#scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_end_timediff'] <= pd.Timedelta(minutes=60)]

In [32]:
len(scheduled_itin_observed_od)

77614

In [33]:
scheduled_itin_observed_od['bt_duration_mins'] = (scheduled_itin_observed_od['bt_end_time'] - scheduled_itin_observed_od['bt_start_time'])/pd.Timedelta(minutes=1)
scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['bt_duration_mins'] > 0]

In [34]:
len(scheduled_itin_observed_od)

68242

In [35]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [36]:
#bus_trips[(bus_trips['route'] == '827') & (bus_trips['stopPointId'] == 33788)].sort_values(['gps_datetime'])

In [38]:
scheduled_itin_observed_od_full.head() \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff,bt_duration_mins
66,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,14508.0,BC929,12.0,2017-05-01 13:35:18,00:03:15,BC929,12.0,2017-05-01 13:44:14,00:00:46,8.933333
72,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,14508.0,BC929,13.0,2017-05-01 14:22:34,00:44:01,BC929,13.0,2017-05-01 14:30:58,00:45:58,8.400000
60,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,14508.0,BC929,11.0,2017-05-01 12:47:49,00:50:44,BC929,11.0,2017-05-01 12:53:04,00:51:56,5.250000
78,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,14508.0,BC929,14.0,2017-05-01 15:11:15,01:32:42,BC929,14.0,2017-05-01 15:18:06,01:33:06,6.850000
54,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,14508.0,BC929,10.0,2017-05-01 11:58:41,01:39:52,BC929,10.0,2017-05-01 12:07:05,01:37:55,8.400000

In [39]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [40]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
66,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,0 days 00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,0 days 00:00:46,6.450000
72,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,0 days 00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,0 days 00:45:58,6.450000
60,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,0 days 00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,0 days 00:51:56,6.450000
78,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,0 days 01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,0 days 01:33:06,6.450000
54,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,0 days 01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,0 days 01:37:55,6.450000
84,28150.0,1,1,BUS,827,BC929,15.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:59:34,0 days 02:21:01,30993.0,2017-05-01 13:45:00,2017-05-01 16:06:35,0 days 02:21:35,6.450000
48,28150.0,1,1,BUS,827,BC929,9.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:08:39,0 days 02:29:54,30993.0,2017-05-01 13:45:00,2017-05-01 11:19:47,0 days 02:25:13,6.450000
90,28150.0,1,1,BUS,827,BC929,16.0,33788.0,2017-05-01 13:38:33,2017-05-01 16:48:58,0 days 03:10:25,30993.0,2017-05-01 13:45:00,2017-05-01 16:55:23,0 days 03:10:23,6.450000
42,28150.0,1,1,BUS,827,BC929,8.0,33788.0,2017-05-01 13:38:33,2017-05-01 10:23:21,0 days 03:15:12,30993.0,2017-05-01 13:45:00,2017-05-01 10:33:22,0 days 03:11:38,6.450000
96,28150.0,1,1,BUS,827,BC929,17.0,33788.0,2017-05-01 13:38:33,2017-05-01 17:35:37,0 days 03:57:04,30993.0,2017-05-01 13:45:00,2017-05-01 17:41:38,0 days 03:56:38,6.450000
36,28150.0,1,1,BUS,827,BC929,7.0,33788.0,2017-05-01 13:38:33,2017-05-01 09:35:13,0 days 04:03:20,30993.0,2017-05-01 13:45:00,2017-05-01 09:41:29,0 days 04:03:31,6.450000
102,28150.0,1,1,BUS,827,BC929,18.0,33788.0,2017-05-01 13:38:33,2017-05-01 18:23:30,0 days 04:44:57,30993.0,2017-05-01 13:45:00,2017-05-01 18:29:16,0 days 04:44:16,6.450000
30,28150.0,1,1,BUS,827,BC929,6.0,33788.0,2017-05-01 13:38:33,2017-05-01 08:46:39,0 days 04:51:54,30993.0,2017-05-01 13:45:00,2017-05-01 08:51:39,0 days 04:53:21,6.450000
108,28150.0,1,1,BUS,827,BC929,19.0,33788.0,2017-05-01 13:38:33,2017-05-01 19:08:58,0 days 05:30:25,30993.0,2017-05-01 13:45:00,2017-05-01 19:14:27,0 days 05:29:27,6.450000
24,28150.0,1,1,BUS,827,BC929,5.0,33788.0,2017-05-01 13:38:33,2017-05-01 08:07:09,0 days 05:31:24,30993.0,2017-05-01 13:45:00,2017-05-01 08:13:17,0 days 05:31:43,6.450000
18,28150.0,1,1,BUS,827,BC929,4.0,33788.0,2017-05-01 13:38:33,2017-05-01 07:21:37,0 days 06:16:56,30993.0,2017-05-01 13:45:00,2017-05-01 07:28:57,0 days 06:16:03,6.450000
114,28150.0,1,1,BUS,827,BC929,20.0,33788.0,2017-05-01 13:38:33,2017-05-01 19:58:56,0 days 06:20:23,30993.0,2017-05-01 13:45:00,2017-05-01 20:05:29,0 days 06:20:29,6.450000
12,28150.0,1,1,BUS,827,BC929,3.0,33788.0,2017-05-01 13:38:33,2017-05-01 06:33:45,0 days 07:04:48,30993.0,2017-05-01 13:45:00,2017-05-01 06:40:18,0 days 07:04:42,6.450000
120,28150.0,1,1,BUS,827,BC929,21.0,33788.0,2017-05-01 13:38:33,2017-05-01 20:45:55,0 days 07:07:22,30993.0,2017-05-01 13:45:00,2017-05-01 20:56:56,0 days 07:11:56,6.450000
6,28150.0,1,1,BUS,827,BC929,2.0,33788.0,2017-05-01 13:38:33,2017-05-01 05:51:25,0 days 07:47:08,30993.0,2017-05-01 13:45:00,2017-05-01 05:58:11,0 days 07:46:49,6.450000
126,28150.0,1,1,BUS,827,BC929,22.0,33788.0,2017-05-01 13:38:33,2017-05-01 21:34:22,0 days 07:55:49,30993.0,2017-05-01 13:45:00,2017-05-01 21:41:04,0 days 07:56:04,6.450000
0,28150.0,1,1,BUS,827,BC929,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 05:02:20,0 days 08:36:13,30993.0,2017-05-01 13:45:00,2017-05-01 05:08:35,0 days 08:36:25,6.450000
132,28150.0,1,1,BUS,827,BC929,23.0,33788.0,2017-05-01 13:38:33,2017-05-01 22:21:42,0 days 08:43:09,30993.0,2017-05-01 13:45:00,2017-05-01 22:26:41,0 days 08:41:41,6.450000
138,28150.0,1,1,BUS,827,BC929,24.0,33788.0,2017-05-01 13:38:33,2017-05-01 23:07:59,0 days 09:29:26,30993.0,2017-05-01 13:45:00,2017-05-01 23:22:51,0 days 09:37:51,6.450000
1,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaT,NaN,2017-05-01 13:45:52,NaT,NaT,0.866667
1629,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,0 days 00:11:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,0 days 00:10:11,10.983333
468,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,0 days 00:23:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,0 days 00:26:00,10.983333
684,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,0 days 00:34:26,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,0 days 00:37:36,10.983333
252,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,0 days 00:38:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,0 days 00:35:27,10.983333
1386,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,0 days 00:43:38,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,0 days 00:46:53,10.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77552,71837.0,10,1,BUS,472,KC002,15.0,26583.0,2017-05-02 06:49:35,2017-05-01 22:21:47,0 days 08:27:48,30062.0,2017-05-02 07:18:02,2017-05-01 22:42:41,0 days 08:35:21,28.450000
77507,71837.0,10,1,BUS,472,EC006,16.0,26583.0,2017-05-02 06:49:35,2017-05-01 21:48:36,0 days 09:00:59,30062.0,2017-05-02 07:18:02,2017-05-01 22:05:14,0 days 09:12:48,28.450000
77549,71837.0,10,1,BUS,472,KC002,14.0,26583.0,2017-05-02 06:49:35,2017-05-01 21:16:28,0 days 09:33:07,30062.0,2017-05-02 07:18:02,2017-05-01 21:36:45,0 days 09:41:17,28.450000
77504,71837.0,10,1,BUS,472,EC006,15.0,26583.0,2017-05-02 06:49:35,2017-05-01 20:42:01,0 days 10:07:34,30062.0,2017-05-02 07:18:02,2017-05-01 20:59:11,0 days 10:18:51,28.450000
77546,71837.0,10,1,BUS,472,KC002,13.0,26583.0,2017-05-02 06:49:35,2017-05-01 20:12:51,0 days 10:36:44,30062.0,2017-05-02 07:18:02,2017-05-01 20:33:56,0 days 10:44:06,28.450000
77501,71837.0,10,1,BUS,472,EC006,14.0,26583.0,2017-05-02 06:49:35,2017-05-01 19:37:22,0 days 11:12:13,30062.0,2017-05-02 07:18:02,2017-05-01 19:55:29,0 days 11:22:33,28.450000
77543,71837.0,10,1,BUS,472,KC002,12.0,26583.0,2017-05-02 06:49:35,2017-05-01 19:05:47,0 days 11:43:48,30062.0,2017-05-02 07:18:02,2017-05-01 19:28:47,0 days 11:49:15,28.450000
77498,71837.0,10,1,BUS,472,EC006,13.0,26583.0,2017-05-02 06:49:35,2017-05-01 18:32:47,0 days 12:16:48,30062.0,2017-05-02 07:18:02,2017-05-01 18:51:44,0 days 12:26:18,28.450000
77540,71837.0,10,1,BUS,472,KC002,11.0,26583.0,2017-05-02 06:49:35,2017-05-01 17:59:53,0 days 12:49:42,30062.0,2017-05-02 07:18:02,2017-05-01 18:22:59,0 days 12:55:03,28.450000
77495,71837.0,10,1,BUS,472,EC006,12.0,26583.0,2017-05-02 06:49:35,2017-05-01 17:25:17,0 days 13:24:18,30062.0,2017-05-02 07:18:02,2017-05-01 17:45:37,0 days 13:32:25,28.450000
77537,71837.0,10,1,BUS,472,KC002,10.0,26583.0,2017-05-02 06:49:35,2017-05-01 16:52:14,0 days 13:57:21,30062.0,2017-05-02 07:18:02,2017-05-01 17:14:00,0 days 14:04:02,28.450000
77492,71837.0,10,1,BUS,472,EC006,11.0,26583.0,2017-05-02 06:49:35,2017-05-01 16:20:48,0 days 14:28:47,30062.0,2017-05-02 07:18:02,2017-05-01 16:41:05,0 days 14:36:57,28.450000
77534,71837.0,10,1,BUS,472,KC002,9.0,26583.0,2017-05-02 06:49:35,2017-05-01 15:46:27,0 days 15:03:08,30062.0,2017-05-02 07:18:02,2017-05-01 16:06:52,0 days 15:11:10,28.450000
77489,71837.0,10,1,BUS,472,EC006,10.0,26583.0,2017-05-02 06:49:35,2017-05-01 15:14:49,0 days 15:34:46,30062.0,2017-05-02 07:18:02,2017-05-01 15:35:05,0 days 15:42:57,28.450000
77531,71837.0,10,1,BUS,472,KC002,8.0,26583.0,2017-05-02 06:49:35,2017-05-01 14:46:18,0 days 16:03:17,30062.0,2017-05-02 07:18:02,2017-05-01 15:05:12,0 days 16:12:50,28.450000
77486,71837.0,10,1,BUS,472,EC006,9.0,26583.0,2017-05-02 06:49:35,2017-05-01 14:07:18,0 days 16:42:17,30062.0,2017-05-02 07:18:02,2017-05-01 14:26:03,0 days 16:51:59,28.450000
77528,71837.0,10,1,BUS,472,KC002,7.0,26583.0,2017-05-02 06:49:35,2017-05-01 13:34:39,0 days 17:14:56,30062.0,2017-05-02 07:18:02,2017-05-01 13:52:59,0 days 17:25:03,28.450000
77483,71837.0,10,1,BUS,472,EC006,8.0,26583.0,2017-05-02 06:49:35,2017-05-01 13:01:20,0 days 17:48:15,30062.0,2017-05-02 07:18:02,2017-05-01 13:23:19,0 days 17:54:43,28.450000
77525,71837.0,10,1,BUS,472,KC002,6.0,26583.0,2017-05-02 06:49:35,2017-05-01 12:28:17,0 days 18:21:18,30062.0,2017-05-02 07:18:02,2017-05-01 12:45:35,0 days 18:32:27,28.450000
77480,71837.0,10,1,BUS,472,EC006,7.0,26583.0,2017-05-02 06:49:35,2017-05-01 11:56:49,0 days 18:52:46,30062.0,2017-05-02 07:18:02,2017-05-01 12:15:36,0 days 19:02:26,28.450000
77522,71837.0,10,1,BUS,472,KC002,5.0,26583.0,2017-05-02 06:49:35,2017-05-01 11:22:25,0 days 19:27:10,30062.0,2017-05-02 07:18:02,2017-05-01 11:44:06,0 days 19:33:56,28.450000
77477,71837.0,10,1,BUS,472,EC006,6.0,26583.0,2017-05-02 06:49:35,2017-05-01 10:50:43,0 days 19:58:52,30062.0,2017-05-02 07:18:02,2017-05-01 11:11:08,0 days 20:06:54,28.450000
77519,71837.0,10,1,BUS,472,KC002,4.0,26583.0,2017-05-02 06:49:35,2017-05-01 10:16:18,0 days 20:33:17,30062.0,2017-05-02 07:18:02,2017-05-01 10:32:07,0 days 20:45:55,28.450000
77474,71837.0,10,1,BUS,472,EC006,5.0,26583.0,2017-05-02 06:49:35,2017-05-01 09:44:45,0 days 21:04:50,30062.0,2017-05-02 07:18:02,2017-05-01 10:02:02,0 days 21:16:00,28.450000
77516,71837.0,10,1,BUS,472,KC002,3.0,26583.0,2017-05-02 06:49:35,2017-05-01 09:10:16,0 days 21:39:19,30062.0,2017-05-02 07:18:02,2017-05-01 09:28:53,0 days 21:49:09,28.450000
77471,71837.0,10,1,BUS,472,EC006,4.0,26583.0,2017-05-02 06:49:35,2017-05-01 08:37:14,0 days 22:12:21,30062.0,2017-05-02 07:18:02,2017-05-01 08:57:15,0 days 22:20:47,28.450000
77468,71837.0,10,1,BUS,472,EC006,3.0,26583.0,2017-05-02 06:49:35,2017-05-01 07:31:14,0 days 23:18:21,30062.0,2017-05-02 07:18:02,2017-05-01 07:51:43,0 days 23:26:19,28.450000
77513,71837.0,10,1,BUS,472,KC002,1.0,26583.0,2017-05-02 06:49:35,2017-05-01 06:57:36,0 days 23:51:59,30062.0,2017-05-02 07:18:02,2017-05-01 07:13:07,1 days 00:04:55,28.450000
77465,71837.0,10,1,BUS,472,EC006,1.0,26583.0,2017-05-02 06:49:35,2017-05-01 06:24:19,1 days 00:25:16,30062.0,2017-05-02 07:18:02,2017-05-01 06:42:13,1 days 00:35:49,28.450000
7908,71837.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:18:03,NaT,NaT,NaN,2017-05-02 07:18:08,NaT,NaT,0.083333

## Working with Vehicle Boardings

In [41]:
        # Selecting trips for whom OTP suggestions were found
        selected_trips = trips_origins[trips_origins['o_boarding_id'].isin(otp_suggestions_vehicle['otp_user_trip_id'])]
        num_selected_trips = len(selected_trips)

In [42]:
        # Matching all kinds of boarding events to valid OTP suggestions
        itins_first_bus_legs = otp_suggestions_bus_legs \
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .first() \
                                .reset_index()

In [43]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [44]:
len(itins_first_bus_legs)

1140

In [45]:
itins_first_bus_legs.otp_leg_id.describe()

count    1140.000000
mean        1.529825
std         0.499329
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         2.000000
Name: otp_leg_id, dtype: float64

In [46]:
itins_first_bus_legs.dtypes

otp_user_trip_id                  float64
otp_itinerary_id                    int64
otp_date                   datetime64[ns]
otp_leg_id                          int64
otp_start_time             datetime64[ns]
otp_end_time               datetime64[ns]
otp_mode                           object
otp_route                          object
otp_from_stop_id                  float64
otp_to_stop_id                    float64
otp_duration_mins                 float64
otp_from_parent_station           float64
otp_to_parent_station             float64
dtype: object

In [47]:
selected_trips.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon
19800,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221
19803,64706.0,2017-05-01 20:22:36,2017-05-01 19:59:34,020,BB607,7.0,28132.0,-25.435878,-49.306888
19804,28156.0,2017-05-01 13:36:28,2017-05-01 13:36:21,650,HR410,5.0,36299.0,-25.565199,-49.333825
19806,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210
19809,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510

In [48]:
itins_first_bus_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_date,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,1,2017-05-01,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2,2017-05-01,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
2,28150.0,3,2017-05-01,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
3,28150.0,4,2017-05-01,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,14508.0,14508.0
4,28150.0,5,2017-05-01,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,14508.0,14508.0

In [49]:
def match_vehicle_boardings(selected_trips,itineraries_st):
        vehicle_boarding_origins = selected_trips[np.logical_not(selected_trips['o_busCode'].str.isdigit())]
        matched_vehicle_boardings = vehicle_boarding_origins.merge(itineraries_st, left_on=['o_boarding_id','o_route','o_stopPointId'], 
                                                                   right_on=['otp_user_trip_id','otp_route','otp_from_stop_id'], how='inner')
        num_matched_vehicle_boardings = len(matched_vehicle_boardings.drop_duplicates(subset=['o_boarding_id']))
        if num_matched_vehicle_boardings == 0:
            match_perc = 0.0
        else:
            match_perc = 100*(num_matched_vehicle_boardings/float(len(vehicle_boarding_origins)))
        return (matched_vehicle_boardings,num_matched_vehicle_boardings,match_perc)

In [50]:
        # Matching vehicle boarding origins
        matched_vehicle_boardings,num_matched_vehicle_boardings,vehicle_match_perc = match_vehicle_boardings(selected_trips,itins_first_bus_legs)
        print "Vehicle boardings with matching OTP suggestions: ", num_matched_vehicle_boardings, "(",vehicle_match_perc, "%)"

        total_num_matches = num_matched_vehicle_boardings
        print "Total number of matches: ", total_num_matches, "(", 100*(total_num_matches/float(num_selected_trips)), "%)"

        if total_num_matches == 0:
            print "No match was found. Skipping next steps..."
            exit(0)

Vehicle boardings with matching OTP suggestions:  92 ( 80.701754386 %)
Total number of matches:  92 ( 80.701754386 %)

In [51]:
matched_vehicle_boardings.head()

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,14508.0,14508.0
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,1,2017-05-01 14:28:17,2017-05-01 14:35:00,BUS,827,33788.0,30993.0,6.716667,14508.0,14508.0
2,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:42:13,2017-05-01 14:18:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
3,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 13:57:13,2017-05-01 14:33:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0
4,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,1,2017-05-01 14:12:13,2017-05-01 14:48:00,BUS,684,39378.0,31053.0,35.783333,14494.0,14494.0

In [52]:
vehic_first_boardings_options = matched_vehicle_boardings.merge(bus_trips_clean, 
                                left_on=['o_route','o_busCode','o_tripNum','otp_to_stop_id'],
                               right_on=['route','busCode','tripNum','stopPointId'],
                               how='inner') \
            #.filter(['otp_user_trip_id','otp_itinerary_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime'])
            #.filter(selected_trips.columns)

In [53]:
vehic_first_boardings_options

,o_boarding_id,o_boarding_datetime,o_gps_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_stop_lat,o_stop_lon,otp_user_trip_id,...,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,route,busCode,tripNum,stopPointId,gps_datetime
0,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,33788.0,30993.0,6.450000,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
1,28150.0,2017-05-01 13:36:25,2017-05-01 13:35:18,827,BC929,12.0,33788.0,-25.436303,-49.362221,28150.0,...,33788.0,30993.0,6.716667,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
2,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,33775.0,30993.0,4.716667,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
3,28262.0,2017-05-01 13:37:59,2017-05-01 13:37:57,827,BC929,12.0,33775.0,-25.438158,-49.358207,28262.0,...,33775.0,30993.0,4.916667,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
4,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,33535.0,30993.0,3.200000,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
5,28424.0,2017-05-01 13:39:51,2017-05-01 13:39:12,827,BC929,12.0,33535.0,-25.440179,-49.355608,28424.0,...,33535.0,30993.0,3.333333,14508.0,14508.0,827,BC929,12.0,30993.0,2017-05-01 13:44:14
6,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,31053.0,35.783333,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
7,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,31053.0,35.783333,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
8,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,31053.0,35.783333,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
9,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,31053.0,35.783333,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
10,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,31053.0,35.783333,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
11,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
12,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
13,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
14,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
15,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
16,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,31053.0,34.866667,14494.0,14494.0,684,HA298,11.0,31053.0,2017-05-01 14:01:41
17,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,34160.0,32.816667,41827.0,14499.0,684,HA298,11.0,34160.0,2017-05-01 13:57:14
18,28154.0,2017-05-01 13:36:28,2017-05-01 13:35:38,684,HA298,11.0,39378.0,-25.585230,-49.337210,28154.0,...,39378.0,34160.0,32.816667,41827.0,14499.0,684,HA298,11.0,34160.0,2017-05-01 13:57:14
19,28229.0,2017-05-01 13:37:29,2017-05-01 13:36:37,684,HA298,11.0,39365.0,-25.582807,-49.337223,28229.0,...,39365.0,34160.0,31.900000,41827.0,14499.0,684,HA298,11.0,34160.0,2017-05-01 13:57:14
20,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,31582.0,4661.0,18.150000,14492.0,14492.0,548,GA158,12.0,4661.0,2017-05-01 19:00:50
21,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,31582.0,4661.0,18.150000,14492.0,14492.0,548,GA158,12.0,4661.0,2017-05-01 19:00:50
22,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,31582.0,29978.0,16.816667,NaN,NaN,548,GA158,12.0,29978.0,2017-05-01 18:58:01
23,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,31582.0,31243.0,15.966667,NaN,NaN,548,GA158,12.0,31243.0,2017-05-01 18:57:20
24,57607.0,2017-05-01 18:46:16,2017-05-01 18:46:10,548,GA158,12.0,31582.0,-25.556360,-49.249510,57607.0,...,31582.0,31243.0,15.966667,NaN,NaN,548,GA158,12.0,31243.0,2017-05-01 18:57:20
25,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,14404.0,32454.0,6.050000,14481.0,14481.0,050,JB301,5.0,32454.0,2017-05-01 13:39:53
26,28161.0,2017-05-01 13:36:33,2017-05-01 13:35:59,050,JB301,5.0,14404.0,-25.452238,-49.224005,28161.0,...,14404.0,32454.0,5.400000,14481.0,14481.0,050,JB301,5.0,32454.0,2017-05-01 13:39:53
27,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,30320.0,28138.0,16.233333,14506.0,14506.0,812,BA020,9.0,28138.0,2017-05-01 13:47:34
28,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,30320.0,28138.0,15.216667,14506.0,14506.0,812,BA020,9.0,28138.0,2017-05-01 13:47:34
29,28164.0,2017-05-01 13:36:35,2017-05-01 13:36:32,812,BA020,9.0,30320.0,-25.421591,-49.335066,28164.0,...,30320.0,28138.0,14.716667,14506.0,14506.0,812,BA020,9.0,28138.0,2017-05-01 13:47:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,29157.0,45364.0,9.766667,26052.0,14494.0,216,HA601,8.0,45364.0,2017-05-01 16:41:03
287,44578.0,2017-05-01 16:36:31,2017-05-01 16:35:31,216,HA601,8.0,29157.0,-25.443394,-49.242750,44578.0,...,29157.0,45364.0,9.766667,26052.0,14494.0,216,HA601,8.0,45364.0,2017-05-01 16:41:03
288,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,36326.0,33860.0,22.416667,NaN,NaN,685,HA288,15.0,33860.0,2017-05-01 22:45:37
289,70106.0,2017-05-01 22:31:30,2017-05-01 22:31:28,685,HA288,15.0,36326.0,-25.564955,-49.328974,70106.0,...,36326.0,35107.0,15.383333,NaN,NaN,685,HA288,15.0,35107.0,2017-05-01 22:46:45
290,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,31026.0,21.800000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
291,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,31026.0,21.800000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
292,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,31026.0,21.800000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
293,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,31026.0,21.800000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
294,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,31026.0,21.800000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
295,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,31026.0,21.200000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
296,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,31026.0,21.200000,14494.0,14494.0,639,GA142,10.0,31026.0,2017-05-01 13:58:18
297,28422.0,2017-05-01 13:39:50,2017-05-01 13:38:59,639,GA142,10.0,37405.0,-25.557108,-49.282218,28422.0,...,37405.0,34160.0,18.566667,41827.0,14499.0,639,GA142,10.0,34160.0,2017-05-01 13:54:13
298,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,34160.0,17.966667,41827.0,14499.0,639,GA142,10.0,34160.0,2017-05-01 13:54:13
299,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,34160.0,17.966667,41827.0,14499.0,639,GA142,10.0,34160.0,2017-05-01 13:54:13
300,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,34160.0,17.966667,41827.0,14499.0,639,GA142,10.0,34160.0,2017-05-01 13:54:13
301,28455.0,2017-05-01 13:40:12,2017-05-01 13:39:51,639,GA142,10.0,37403.0,-25.557041,-49.283864,28455.0,...,37403.0,34160.0,17.966667,41827.0,14499.0,639,GA142,10.0,34160.0,2017-05-01 13:54:13
302,55169.0,2017-05-01 18:20:24,2017-05-01 18:19:53,683,GA139,15.0,39194.0,-25.564864,-49.275161,55169.0,...,39194.0,37415.0,2.866667,14492.0,14492.0,683,GA139,15.0,37415.0,2017-05-01 18:23:37
303,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,37155.0,30013.0,8.233333,14492.0,14492.0,547,GA201,18.0,30013.0,2017-05-01 13:56:51
304,28457.0,2017-05-01 13:40:15,2017-05-01 13:40:08,547,GA201,18.0,37155.0,-25.538781,-49.259211,28457.0,...,37155.0,30013.0,8.233333,14492.0,14492.0,547,GA201,18.0,30013.0,2017-05-01 13:56:51
305,70719.0,2017-05-01 22:49:57,2017-05-01 22:49:02,924,BA124,10.0,32234.0,-25.383383,-49.281568,70719.0,...,32234.0,30457.0,20.600000,14470.0,14470.0,924,BA124,10.0,30457.0,2017-05-01 23:05:44
306,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,26877.0,32371.0,14.266667,14510.0,14510.0,924,BA124,5.0,32371.0,2017-05-01 13:57:44
307,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,26877.0,32371.0,14.266667,14510.0,14510.0,924,BA124,5.0,32371.0,2017-05-01 13:57:44
308,28487.0,2017-05-01 13:40:39,2017-05-01 13:40:21,924,BA124,5.0,26877.0,-25.379321,-49.315545,28487.0,...,26877.0,32371.0,14.533333,14510.0,14510.0,924,BA124,5.0,32371.0,2017-05-01 13:57:44
309,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,35531.0,31631.0,12.400000,14512.0,14512.0,712,HA016,23.0,31631.0,2017-05-01 20:37:19
310,65005.0,2017-05-01 20:28:26,2017-05-01 20:27:35,712,HA016,23.0,35531.0,-25.502939,-49.337871,65005.0,...,35531.0,31631.0,12.400000,14512.0,14512.0,712,HA016,23.0,31631.0,2017-05-01 20:37:19
311,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,27195.0,27148.0,10.616667,41813.0,26099.0,224,BN409,19.0,27148.0,2017-05-01 13:48:42
312,28485.0,2017-05-01 13:40:38,2017-05-01 13:40:33,224,BN409,19.0,27195.0,-25.376405,-49.238659,28485.0,...,27195.0,27148.0,10.616667,41813.0,26099.0,224,BN409,19.0,27148.0,2017-05-01 13:48:42
313,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,28124.0,27945.0,27.000000,14474.0,14478.0,020,DR118,4.0,27945.0,2017-05-01 13:50:08
314,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,28124.0,27945.0,27.000000,14474.0,14478.0,020,DR118,4.0,27945.0,2017-05-01 13:50:08
315,28491.0,2017-05-01 13:40:42,2017-05-01 13:28:06,020,DR118,4.0,28124.0,-25.406384,-49.252353,28491.0,...,28124.0,27945.0,27.000000,14474.0,14478.0,020,DR118,4.0,27945.0,2017-05-01 13:50:08

### Removing Scheduled trips whose scheduled start time is more than 30 minutes away from the actual boarding time

In [56]:
#vehic_first_boardings_options['sched_actual_start_timediff'] = np.abs(vehic_first_boardings_options['otp_start_time']-vehic_first_boardings_options['o_gps_datetime'])

In [57]:
# vehic_first_boardings_options \
#     .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_start_time']) \
#     .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime','sched_actual_start_timediff'])

In [58]:
#vehic_first_boardings_options = vehic_first_boardings_options[vehic_first_boardings_options['sched_actual_start_timediff'] < pd.Timedelta(minutes=30)]

In [59]:
# vehic_first_boardings_options  \
#     .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_start_time']) \
#     .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','route','busCode','tripNum','stopPointId','otp_start_time','o_gps_datetime','otp_end_time','gps_datetime','sched_actual_start_timediff'])

In [60]:
otp_suggestions_vehicle.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0

In [62]:
scheduled_itin_observed_od_full_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
66,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,6.45
72,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,00:45:58,6.45
60,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,00:51:56,6.45
78,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,01:33:06,6.45
54,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,01:37:55,6.45

## Retain only OTP-BusTrips itineraries which figure in first-vehicle-boarding matched itineraries

In [63]:
matched_vehicle_boardings_itins = vehic_first_boardings_options.filter(['otp_user_trip_id','otp_itinerary_id'])

In [64]:
matched_vehicle_boardings_itins.head()

   otp_user_trip_id  otp_itinerary_id
0           28150.0                 1
1           28150.0                 8
2           28262.0                 1
3           28262.0                 9
4           28424.0                 1

In [68]:
scheduled_itin_observed_od_full_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
66,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,6.45
72,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,00:45:58,6.45
60,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,00:51:56,6.45
78,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,01:33:06,6.45
54,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,01:37:55,6.45

In [69]:
len(scheduled_itin_observed_od_full_clean)

70661

In [70]:
scheduled_itin_observed_od_full_clean.columns

Index([u'otp_user_trip_id', u'otp_itinerary_id', u'otp_leg_id', u'otp_mode',
       u'otp_route', u'bt_bus_code', u'bt_trip_num', u'otp_from_stop_id',
       u'otp_start_time', u'bt_start_time', u'sched_obs_start_timediff',
       u'otp_to_stop_id', u'otp_end_time', u'bt_end_time',
       u'sched_obs_end_timediff', u'otp_duration_mins'],
      dtype='object')

In [71]:
matched_vehicle_boardings_itins.columns

Index([u'otp_user_trip_id', u'otp_itinerary_id'], dtype='object')

In [72]:
vehicle_boardings_obs_sch_itin_legs = scheduled_itin_observed_od_full_clean.merge(matched_vehicle_boardings_itins,how='inner') \
                                        .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [73]:
len(vehicle_boardings_obs_sch_itin_legs)

22445

In [74]:
vehicle_boardings_obs_sch_itin_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,6.45
1,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,00:45:58,6.45
2,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,00:51:56,6.45
3,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,01:33:06,6.45
4,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,01:37:55,6.45

### Concatenating first boarding legs to other itinerary legs

#### Preparing First Boarding legs data

In [75]:
vehic_first_boardings_options.columns

Index([u'o_boarding_id', u'o_boarding_datetime', u'o_gps_datetime', u'o_route',
       u'o_busCode', u'o_tripNum', u'o_stopPointId', u'o_stop_lat',
       u'o_stop_lon', u'otp_user_trip_id', u'otp_itinerary_id', u'otp_date',
       u'otp_leg_id', u'otp_start_time', u'otp_end_time', u'otp_mode',
       u'otp_route', u'otp_from_stop_id', u'otp_to_stop_id',
       u'otp_duration_mins', u'otp_from_parent_station',
       u'otp_to_parent_station', u'route', u'busCode', u'tripNum',
       u'stopPointId', u'gps_datetime', u'sched_actual_start_timediff'],
      dtype='object')

In [84]:
vehic_first_boardings_options_clean = vehic_first_boardings_options \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','o_busCode',
             'o_tripNum','otp_from_stop_id','otp_start_time','o_boarding_datetime','otp_to_stop_id',
             'otp_end_time','gps_datetime','otp_duration_mins']) \
    .rename(index=str, columns={'o_busCode':'bt_bus_code','o_tripNum':'bt_trip_num',
                                'o_boarding_datetime':'bt_start_time','gps_datetime':'bt_end_time'}) \
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1))

In [85]:
vehic_first_boardings_options_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667
1,28150.0,8,1,BUS,827,BC929,12.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,30993.0,2017-05-01 14:35:00,2017-05-01 13:44:14,6.716667,7.816667
2,28262.0,1,1,BUS,827,BC929,12.0,33775.0,2017-05-01 13:40:17,2017-05-01 13:37:59,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,4.716667,6.250000
3,28262.0,9,1,BUS,827,BC929,12.0,33775.0,2017-05-01 14:30:05,2017-05-01 13:37:59,30993.0,2017-05-01 14:35:00,2017-05-01 13:44:14,4.916667,6.250000
4,28424.0,1,1,BUS,827,BC929,12.0,33535.0,2017-05-01 13:41:48,2017-05-01 13:39:51,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,3.200000,4.383333

In [86]:
len(vehic_first_boardings_options_clean)

316

#### Preparing OTP itinerary legs data

In [87]:
vehicle_boardings_obs_sch_itin_legs.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'sched_obs_start_timediff',
       'otp_to_stop_id', 'otp_end_time', 'bt_end_time',
       'sched_obs_end_timediff', 'otp_duration_mins'], dtype=object)

In [88]:
vehicle_boardings_obs_sch_itin_legs_clean = vehicle_boardings_obs_sch_itin_legs \
    .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route','bt_bus_code',
             'bt_trip_num','otp_from_stop_id','otp_start_time','bt_start_time','otp_to_stop_id',
             'otp_end_time','bt_end_time','otp_duration_mins'])\
    .assign(bt_duration_mins = lambda x: (x.bt_end_time - x.bt_start_time)/pd.Timedelta(minutes=1))

In [89]:
vehicle_boardings_obs_sch_itin_legs_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.45,8.933333
1,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,6.45,8.400000
2,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,6.45,5.250000
3,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,6.45,6.850000
4,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,6.45,8.400000

In [90]:
len(vehicle_boardings_obs_sch_itin_legs_clean)

22445

#### Concatenating Legs

In [91]:
len(vehic_first_boardings_options_clean)

316

In [92]:
vehic_first_boardings_options_clean_keys = vehic_first_boardings_options_clean.filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']).drop_duplicates()

In [93]:
len(vehic_first_boardings_options_clean_keys)

309

In [96]:
vehic_first_boardings_options_clean_keys.head()

   otp_user_trip_id  otp_itinerary_id  otp_leg_id
0           28150.0                 1           1
1           28150.0                 8           1
2           28262.0                 1           1
3           28262.0                 9           1
4           28424.0                 1           1

In [97]:
vehicle_legs_merged = vehicle_boardings_obs_sch_itin_legs_clean.merge(vehic_first_boardings_options_clean_keys, how='outer', indicator=True)
vehicle_legs_rest_clean = vehicle_legs_merged[vehicle_legs_merged['_merge'] == 'left_only'].drop('_merge', axis=1)

In [98]:
len(vehicle_legs_rest_clean)

10358

In [99]:
vehicle_legs_rest_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
24,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN
25,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667
26,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333
27,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667
28,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333
29,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333
30,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000
31,28150.0,1,3,BUS,303,LE702,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:40:58,25753.0,2017-05-01 14:01:59,2017-05-01 12:50:10,10.983333,9.200000
32,28150.0,1,3,BUS,303,DE719,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:04:59,25753.0,2017-05-01 14:01:59,2017-05-01 15:13:00,10.983333,8.016667
33,28150.0,1,3,BUS,303,DE708,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:28:23,25753.0,2017-05-01 14:01:59,2017-05-01 12:36:19,10.983333,7.933333
34,28150.0,1,3,BUS,303,DE713,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:16:31,25753.0,2017-05-01 14:01:59,2017-05-01 15:27:12,10.983333,10.683333
35,28150.0,1,3,BUS,303,DE710,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:28:47,25753.0,2017-05-01 14:01:59,2017-05-01 15:36:24,10.983333,7.616667
36,28150.0,1,3,BUS,303,DE722,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:04:28,25753.0,2017-05-01 14:01:59,2017-05-01 12:12:54,10.983333,8.433333
37,28150.0,1,3,BUS,303,DE722,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 16:03:23,25753.0,2017-05-01 14:01:59,2017-05-01 16:12:01,10.983333,8.633333
38,28150.0,1,3,BUS,303,DE710,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:28:28,25753.0,2017-05-01 14:01:59,2017-05-01 11:37:02,10.983333,8.566667
39,28150.0,1,3,BUS,303,DE713,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:16:41,25753.0,2017-05-01 14:01:59,2017-05-01 11:23:51,10.983333,7.166667
40,28150.0,1,3,BUS,303,DE708,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 16:30:13,25753.0,2017-05-01 14:01:59,2017-05-01 16:38:15,10.983333,8.033333
41,28150.0,1,3,BUS,303,DE719,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:02:21,25753.0,2017-05-01 14:01:59,2017-05-01 11:12:20,10.983333,9.983333
42,28150.0,1,3,BUS,303,LE702,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 16:41:51,25753.0,2017-05-01 14:01:59,2017-05-01 16:50:04,10.983333,8.216667
43,28150.0,1,3,BUS,303,LE702,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:40:50,25753.0,2017-05-01 14:01:59,2017-05-01 10:49:42,10.983333,8.866667
44,28150.0,1,3,BUS,303,DE719,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 17:04:31,25753.0,2017-05-01 14:01:59,2017-05-01 17:12:32,10.983333,8.016667
45,28150.0,1,3,BUS,303,DE708,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:27:31,25753.0,2017-05-01 14:01:59,2017-05-01 10:36:31,10.983333,9.000000
46,28150.0,1,3,BUS,303,DE713,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 17:19:18,25753.0,2017-05-01 14:01:59,2017-05-01 17:27:59,10.983333,8.683333
47,28150.0,1,3,BUS,303,DE710,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 17:29:54,25753.0,2017-05-01 14:01:59,2017-05-01 17:37:35,10.983333,7.683333
48,28150.0,1,3,BUS,303,DE722,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:00:35,25753.0,2017-05-01 14:01:59,2017-05-01 10:13:22,10.983333,12.783333
49,28150.0,1,3,BUS,303,DE722,6.0,26195.0,2017-05-01 13:51:00,2017-05-01 18:03:01,25753.0,2017-05-01 14:01:59,2017-05-01 18:11:53,10.983333,8.866667
50,28150.0,1,3,BUS,303,DE710,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:27:38,25753.0,2017-05-01 14:01:59,2017-05-01 09:37:51,10.983333,10.216667
51,28150.0,1,3,BUS,303,DE713,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:16:06,25753.0,2017-05-01 14:01:59,2017-05-01 09:24:07,10.983333,8.016667
52,28150.0,1,3,BUS,303,DE708,7.0,26195.0,2017-05-01 13:51:00,2017-05-01 18:30:35,25753.0,2017-05-01 14:01:59,2017-05-01 18:38:49,10.983333,8.233333
53,28150.0,1,3,BUS,303,DE719,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:04:03,25753.0,2017-05-01 14:01:59,2017-05-01 09:12:23,10.983333,8.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22322,71056.0,10,7,BUS,338,EA190,9.0,30085.0,2017-05-02 07:59:48,2017-05-01 15:43:05,30110.0,2017-05-02 08:18:01,2017-05-01 15:58:39,18.216667,15.566667
22323,71056.0,10,7,BUS,338,DA019,9.0,30085.0,2017-05-02 07:59:48,2017-05-01 15:19:19,30110.0,2017-05-02 08:18:01,2017-05-01 15:33:26,18.216667,14.116667
22324,71056.0,10,7,BUS,338,DA033,8.0,30085.0,2017-05-02 07:59:48,2017-05-01 14:51:10,30110.0,2017-05-02 08:18:01,2017-05-01 15:05:08,18.216667,13.966667
22325,71056.0,10,7,BUS,338,EA190,8.0,30085.0,2017-05-02 07:59:48,2017-05-01 14:29:50,30110.0,2017-05-02 08:18:01,2017-05-01 14:48:10,18.216667,18.333333
22326,71056.0,10,7,BUS,338,DA019,8.0,30085.0,2017-05-02 07:59:48,2017-05-01 14:03:31,30110.0,2017-05-02 08:18:01,2017-05-01 14:20:05,18.216667,16.566667
22327,71056.0,10,7,BUS,338,DA033,7.0,30085.0,2017-05-02 07:59:48,2017-05-01 13:38:23,30110.0,2017-05-02 08:18:01,2017-05-01 13:53:30,18.216667,15.116667
22328,71056.0,10,7,BUS,338,EA190,7.0,30085.0,2017-05-02 07:59:48,2017-05-01 13:12:39,30110.0,2017-05-02 08:18:01,2017-05-01 13:26:56,18.216667,14.283333
22329,71056.0,10,7,BUS,338,DA019,7.0,30085.0,2017-05-02 07:59:48,2017-05-01 12:49:11,30110.0,2017-05-02 08:18:01,2017-05-01 13:04:23,18.216667,15.200000
22330,71056.0,10,7,BUS,338,DA033,6.0,30085.0,2017-05-02 07:59:48,2017-05-01 12:22:21,30110.0,2017-05-02 08:18:01,2017-05-01 12:36:53,18.216667,14.533333
22331,71056.0,10,7,BUS,338,EA190,6.0,30085.0,2017-05-02 07:59:48,2017-05-01 11:57:44,30110.0,2017-05-02 08:18:01,2017-05-01 12:13:37,18.216667,15.883333
22332,71056.0,10,7,BUS,338,DA019,6.0,30085.0,2017-05-02 07:59:48,2017-05-01 11:32:33,30110.0,2017-05-02 08:18:01,2017-05-01 11:45:48,18.216667,13.250000
22333,71056.0,10,7,BUS,338,DA033,5.0,30085.0,2017-05-02 07:59:48,2017-05-01 11:06:04,30110.0,2017-05-02 08:18:01,2017-05-01 11:19:28,18.216667,13.400000
22334,71056.0,10,7,BUS,338,EA190,5.0,30085.0,2017-05-02 07:59:48,2017-05-01 10:43:15,30110.0,2017-05-02 08:18:01,2017-05-01 10:58:34,18.216667,15.316667
22335,71056.0,10,7,BUS,338,DA019,5.0,30085.0,2017-05-02 07:59:48,2017-05-01 10:17:49,30110.0,2017-05-02 08:18:01,2017-05-01 10:32:58,18.216667,15.150000
22336,71056.0,10,7,BUS,338,DA033,4.0,30085.0,2017-05-02 07:59:48,2017-05-01 09:52:11,30110.0,2017-05-02 08:18:01,2017-05-01 10:04:59,18.216667,12.800000
22337,71056.0,10,7,BUS,338,EA190,4.0,30085.0,2017-05-02 07:59:48,2017-05-01 09:27:08,30110.0,2017-05-02 08:18:01,2017-05-01 09:41:53,18.216667,14.750000
22338,71056.0,10,7,BUS,338,DA019,4.0,30085.0,2017-05-02 07:59:48,2017-05-01 09:04:10,30110.0,2017-05-02 08:18:01,2017-05-01 09:18:31,18.216667,14.350000
22339,71056.0,10,7,BUS,338,DA033,3.0,30085.0,2017-05-02 07:59:48,2017-05-01 08:37:40,30110.0,2017-05-02 08:18:01,2017-05-01 08:51:02,18.216667,13.366667
22340,71056.0,10,7,BUS,338,EA190,3.0,30085.0,2017-05-02 07:59:48,2017-05-01 08:13:37,30110.0,2017-05-02 08:18:01,2017-05-01 08:26:49,18.216667,13.200000
22341,71056.0,10,7,BUS,338,DA019,3.0,30085.0,2017-05-02 07:59:48,2017-05-01 07:48:03,30110.0,2017-05-02 08:18:01,2017-05-01 08:02:30,18.216667,14.450000
22342,71056.0,10,7,BUS,338,DA033,2.0,30085.0,2017-05-02 07:59:48,2017-05-01 07:22:22,30110.0,2017-05-02 08:18:01,2017-05-01 07:35:28,18.216667,13.100000
22343,71056.0,10,7,BUS,338,EA190,2.0,30085.0,2017-05-02 07:59:48,2017-05-01 06:56:52,30110.0,2017-05-02 08:18:01,2017-05-01 07:10:23,18.216667,13.516667
22344,71056.0,10,7,BUS,338,DA019,2.0,30085.0,2017-05-02 07:59:48,2017-05-01 06:32:07,30110.0,2017-05-02 08:18:01,2017-05-01 06:46:15,18.216667,14.133333
22345,71056.0,10,7,BUS,338,DA033,1.0,30085.0,2017-05-02 07:59:48,2017-05-01 06:03:09,30110.0,2017-05-02 08:18:01,2017-05-01 06:16:00,18.216667,12.850000
22346,71056.0,10,7,BUS,338,EA190,1.0,30085.0,2017-05-02 07:59:48,2017-05-01 05:40:09,30110.0,2017-05-02 08:18:01,2017-05-01 05:52:51,18.216667,12.700000
22347,71056.0,10,7,BUS,338,DA019,1.0,30085.0,2017-05-02 07:59:48,2017-05-01 05:20:13,30110.0,2017-05-02 08:18:01,2017-05-01 05:33:47,18.216667,13.566667
22348,71056.0,10,8,WALK,nan,NaN,NaN,NaN,2017-05-02 08:18:02,NaT,NaN,2017-05-02 08:21:15,NaT,3.216667,NaN
22380,71837.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:28:03,NaT,NaN,2017-05-02 06:28:08,NaT,0.083333,NaN
22412,71837.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:53:03,NaT,NaN,2017-05-02 06:53:08,NaT,0.083333,NaN
22444,71837.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:18:03,NaT,NaN,2017-05-02 07:18:08,NaT,0.083333,NaN

In [100]:
all_vehicle_legs_options = pd.concat([vehic_first_boardings_options_clean,vehicle_legs_rest_clean]) \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','bt_start_time'])

In [101]:
len(all_vehicle_legs_options)

10674

In [102]:
all_vehicle_legs_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667
24,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN
70,28150.0,1,3,BUS,303,DE708,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 06:29:10,25753.0,2017-05-01 14:01:59,2017-05-01 06:36:54,10.983333,7.733333
69,28150.0,1,3,BUS,303,LE702,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 06:37:11,25753.0,2017-05-01 14:01:59,2017-05-01 06:47:25,10.983333,10.233333
67,28150.0,1,3,BUS,303,DE719,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:01:26,25753.0,2017-05-01 14:01:59,2017-05-01 07:13:11,10.983333,11.750000
64,28150.0,1,3,BUS,303,DE713,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:15:53,25753.0,2017-05-01 14:01:59,2017-05-01 07:24:14,10.983333,8.350000
63,28150.0,1,3,BUS,303,DE710,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:24:41,25753.0,2017-05-01 14:01:59,2017-05-01 07:36:59,10.983333,12.300000
60,28150.0,1,3,BUS,303,DE722,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:04:38,25753.0,2017-05-01 14:01:59,2017-05-01 08:12:58,10.983333,8.333333
57,28150.0,1,3,BUS,303,DE708,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:27:29,25753.0,2017-05-01 14:01:59,2017-05-01 08:37:09,10.983333,9.666667
55,28150.0,1,3,BUS,303,LE702,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:38:35,25753.0,2017-05-01 14:01:59,2017-05-01 08:48:59,10.983333,10.400000
53,28150.0,1,3,BUS,303,DE719,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:04:03,25753.0,2017-05-01 14:01:59,2017-05-01 09:12:23,10.983333,8.333333
51,28150.0,1,3,BUS,303,DE713,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:16:06,25753.0,2017-05-01 14:01:59,2017-05-01 09:24:07,10.983333,8.016667
50,28150.0,1,3,BUS,303,DE710,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:27:38,25753.0,2017-05-01 14:01:59,2017-05-01 09:37:51,10.983333,10.216667
48,28150.0,1,3,BUS,303,DE722,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:00:35,25753.0,2017-05-01 14:01:59,2017-05-01 10:13:22,10.983333,12.783333
45,28150.0,1,3,BUS,303,DE708,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:27:31,25753.0,2017-05-01 14:01:59,2017-05-01 10:36:31,10.983333,9.000000
43,28150.0,1,3,BUS,303,LE702,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:40:50,25753.0,2017-05-01 14:01:59,2017-05-01 10:49:42,10.983333,8.866667
41,28150.0,1,3,BUS,303,DE719,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:02:21,25753.0,2017-05-01 14:01:59,2017-05-01 11:12:20,10.983333,9.983333
39,28150.0,1,3,BUS,303,DE713,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:16:41,25753.0,2017-05-01 14:01:59,2017-05-01 11:23:51,10.983333,7.166667
38,28150.0,1,3,BUS,303,DE710,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:28:28,25753.0,2017-05-01 14:01:59,2017-05-01 11:37:02,10.983333,8.566667
36,28150.0,1,3,BUS,303,DE722,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:04:28,25753.0,2017-05-01 14:01:59,2017-05-01 12:12:54,10.983333,8.433333
33,28150.0,1,3,BUS,303,DE708,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:28:23,25753.0,2017-05-01 14:01:59,2017-05-01 12:36:19,10.983333,7.933333
31,28150.0,1,3,BUS,303,LE702,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:40:58,25753.0,2017-05-01 14:01:59,2017-05-01 12:50:10,10.983333,9.200000
29,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333
27,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667
26,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333
25,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667
28,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333
30,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000
32,28150.0,1,3,BUS,303,DE719,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:04:59,25753.0,2017-05-01 14:01:59,2017-05-01 15:13:00,10.983333,8.016667
34,28150.0,1,3,BUS,303,DE713,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:16:31,25753.0,2017-05-01 14:01:59,2017-05-01 15:27:12,10.983333,10.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22325,71056.0,10,7,BUS,338,EA190,8.0,30085.0,2017-05-02 07:59:48,2017-05-01 14:29:50,30110.0,2017-05-02 08:18:01,2017-05-01 14:48:10,18.216667,18.333333
22324,71056.0,10,7,BUS,338,DA033,8.0,30085.0,2017-05-02 07:59:48,2017-05-01 14:51:10,30110.0,2017-05-02 08:18:01,2017-05-01 15:05:08,18.216667,13.966667
22323,71056.0,10,7,BUS,338,DA019,9.0,30085.0,2017-05-02 07:59:48,2017-05-01 15:19:19,30110.0,2017-05-02 08:18:01,2017-05-01 15:33:26,18.216667,14.116667
22322,71056.0,10,7,BUS,338,EA190,9.0,30085.0,2017-05-02 07:59:48,2017-05-01 15:43:05,30110.0,2017-05-02 08:18:01,2017-05-01 15:58:39,18.216667,15.566667
22321,71056.0,10,7,BUS,338,DA033,9.0,30085.0,2017-05-02 07:59:48,2017-05-01 16:07:11,30110.0,2017-05-02 08:18:01,2017-05-01 16:25:06,18.216667,17.916667
22320,71056.0,10,7,BUS,338,DA019,10.0,30085.0,2017-05-02 07:59:48,2017-05-01 16:33:37,30110.0,2017-05-02 08:18:01,2017-05-01 16:49:09,18.216667,15.533333
22319,71056.0,10,7,BUS,338,EA190,10.0,30085.0,2017-05-02 07:59:48,2017-05-01 17:00:29,30110.0,2017-05-02 08:18:01,2017-05-01 17:17:28,18.216667,16.983333
22318,71056.0,10,7,BUS,338,DA033,10.0,30085.0,2017-05-02 07:59:48,2017-05-01 17:24:45,30110.0,2017-05-02 08:18:01,2017-05-01 17:41:28,18.216667,16.716667
22317,71056.0,10,7,BUS,338,DA019,11.0,30085.0,2017-05-02 07:59:48,2017-05-01 17:48:09,30110.0,2017-05-02 08:18:01,2017-05-01 18:03:36,18.216667,15.450000
22316,71056.0,10,7,BUS,338,EA190,11.0,30085.0,2017-05-02 07:59:48,2017-05-01 18:16:03,30110.0,2017-05-02 08:18:01,2017-05-01 18:34:47,18.216667,18.733333
22315,71056.0,10,7,BUS,338,DA033,11.0,30085.0,2017-05-02 07:59:48,2017-05-01 18:41:38,30110.0,2017-05-02 08:18:01,2017-05-01 18:58:01,18.216667,16.383333
22314,71056.0,10,7,BUS,338,DA019,12.0,30085.0,2017-05-02 07:59:48,2017-05-01 19:03:21,30110.0,2017-05-02 08:18:01,2017-05-01 19:17:58,18.216667,14.616667
22313,71056.0,10,7,BUS,338,EA190,12.0,30085.0,2017-05-02 07:59:48,2017-05-01 19:31:48,30110.0,2017-05-02 08:18:01,2017-05-01 19:50:16,18.216667,18.466667
22312,71056.0,10,7,BUS,338,DA033,12.0,30085.0,2017-05-02 07:59:48,2017-05-01 19:55:01,30110.0,2017-05-02 08:18:01,2017-05-01 20:10:12,18.216667,15.183333
22311,71056.0,10,7,BUS,338,DA019,13.0,30085.0,2017-05-02 07:59:48,2017-05-01 20:19:40,30110.0,2017-05-02 08:18:01,2017-05-01 20:35:00,18.216667,15.333333
22310,71056.0,10,7,BUS,338,EA190,13.0,30085.0,2017-05-02 07:59:48,2017-05-01 20:45:20,30110.0,2017-05-02 08:18:01,2017-05-01 21:01:54,18.216667,16.566667
22309,71056.0,10,7,BUS,338,DA033,13.0,30085.0,2017-05-02 07:59:48,2017-05-01 21:06:42,30110.0,2017-05-02 08:18:01,2017-05-01 21:20:52,18.216667,14.166667
22308,71056.0,10,7,BUS,338,DA019,14.0,30085.0,2017-05-02 07:59:48,2017-05-01 21:32:32,30110.0,2017-05-02 08:18:01,2017-05-01 21:46:52,18.216667,14.333333
22307,71056.0,10,7,BUS,338,EA190,14.0,30085.0,2017-05-02 07:59:48,2017-05-01 21:58:01,30110.0,2017-05-02 08:18:01,2017-05-01 22:12:12,18.216667,14.183333
22306,71056.0,10,7,BUS,338,DA033,14.0,30085.0,2017-05-02 07:59:48,2017-05-01 22:22:12,30110.0,2017-05-02 08:18:01,2017-05-01 22:34:24,18.216667,12.200000
22305,71056.0,10,7,BUS,338,DA019,15.0,30085.0,2017-05-02 07:59:48,2017-05-01 22:47:35,30110.0,2017-05-02 08:18:01,2017-05-01 23:01:59,18.216667,14.400000
22304,71056.0,10,7,BUS,338,EA190,15.0,30085.0,2017-05-02 07:59:48,2017-05-01 23:11:08,30110.0,2017-05-02 08:18:01,2017-05-01 23:25:59,18.216667,14.850000
22303,71056.0,10,7,BUS,338,DA033,15.0,30085.0,2017-05-02 07:59:48,2017-05-01 23:36:41,30110.0,2017-05-02 08:18:01,2017-05-01 23:48:38,18.216667,11.950000
22348,71056.0,10,8,WALK,nan,NaN,NaN,NaN,2017-05-02 08:18:02,NaT,NaN,2017-05-02 08:21:15,NaT,3.216667,NaN
119,71837.0,4,1,BUS,472,KC002,16.0,26583.0,2017-05-02 05:59:35,2017-05-01 23:26:52,30062.0,2017-05-02 06:28:02,2017-05-01 23:41:07,28.450000,14.250000
22380,71837.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:28:03,NaT,NaN,2017-05-02 06:28:08,NaT,0.083333,NaN
120,71837.0,8,1,BUS,472,KC002,16.0,26583.0,2017-05-02 06:24:35,2017-05-01 23:26:52,30062.0,2017-05-02 06:53:02,2017-05-01 23:41:07,28.450000,14.250000
22412,71837.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:53:03,NaT,NaN,2017-05-02 06:53:08,NaT,0.083333,NaN
121,71837.0,10,1,BUS,472,KC002,16.0,26583.0,2017-05-02 06:49:35,2017-05-01 23:26:52,30062.0,2017-05-02 07:18:02,2017-05-01 23:41:07,28.450000,14.250000
22444,71837.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:18:03,NaT,NaN,2017-05-02 07:18:08,NaT,0.083333,NaN

### Filtering out itineraries which lost bus legs along the processing

In [103]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [104]:
original_suggested_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 2         4
2           28150.0                 3         3
3           28150.0                 4         4
4           28150.0                 5         5

In [105]:
curr_matched_itins_num_legs = all_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [107]:
curr_matched_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 8         4
2           28154.0                 1         4
3           28154.0                 2         4
4           28154.0                 6         4

In [108]:
complete_matched_itins = original_suggested_itins_num_legs.merge(curr_matched_itins_num_legs, how='inner')

In [109]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 8         4
2           28154.0                 1         4
3           28154.0                 2         4
4           28154.0                 6         4

In [110]:
all_complete_vehicle_legs_options = all_vehicle_legs_options.merge(complete_matched_itins.drop('num_legs', axis=1), how='inner')

In [111]:
len(all_vehicle_legs_options)

10674

In [113]:
len(all_complete_vehicle_legs_options)

9339

### Choose best actual leg matches (based on feasibility and start time)

In [118]:
sample_itinerary_options = all_vehicle_legs_options.iloc[0:30,]

In [120]:
sample_itinerary_options

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667
24,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaN,2017-05-01 13:45:52,NaT,0.866667,NaN
70,28150.0,1,3,BUS,303,DE708,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 06:29:10,25753.0,2017-05-01 14:01:59,2017-05-01 06:36:54,10.983333,7.733333
69,28150.0,1,3,BUS,303,LE702,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 06:37:11,25753.0,2017-05-01 14:01:59,2017-05-01 06:47:25,10.983333,10.233333
67,28150.0,1,3,BUS,303,DE719,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:01:26,25753.0,2017-05-01 14:01:59,2017-05-01 07:13:11,10.983333,11.750000
64,28150.0,1,3,BUS,303,DE713,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:15:53,25753.0,2017-05-01 14:01:59,2017-05-01 07:24:14,10.983333,8.350000
63,28150.0,1,3,BUS,303,DE710,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 07:24:41,25753.0,2017-05-01 14:01:59,2017-05-01 07:36:59,10.983333,12.300000
60,28150.0,1,3,BUS,303,DE722,1.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:04:38,25753.0,2017-05-01 14:01:59,2017-05-01 08:12:58,10.983333,8.333333
57,28150.0,1,3,BUS,303,DE708,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:27:29,25753.0,2017-05-01 14:01:59,2017-05-01 08:37:09,10.983333,9.666667
55,28150.0,1,3,BUS,303,LE702,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 08:38:35,25753.0,2017-05-01 14:01:59,2017-05-01 08:48:59,10.983333,10.400000
53,28150.0,1,3,BUS,303,DE719,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:04:03,25753.0,2017-05-01 14:01:59,2017-05-01 09:12:23,10.983333,8.333333
51,28150.0,1,3,BUS,303,DE713,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:16:06,25753.0,2017-05-01 14:01:59,2017-05-01 09:24:07,10.983333,8.016667
50,28150.0,1,3,BUS,303,DE710,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 09:27:38,25753.0,2017-05-01 14:01:59,2017-05-01 09:37:51,10.983333,10.216667
48,28150.0,1,3,BUS,303,DE722,2.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:00:35,25753.0,2017-05-01 14:01:59,2017-05-01 10:13:22,10.983333,12.783333
45,28150.0,1,3,BUS,303,DE708,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:27:31,25753.0,2017-05-01 14:01:59,2017-05-01 10:36:31,10.983333,9.000000
43,28150.0,1,3,BUS,303,LE702,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 10:40:50,25753.0,2017-05-01 14:01:59,2017-05-01 10:49:42,10.983333,8.866667
41,28150.0,1,3,BUS,303,DE719,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:02:21,25753.0,2017-05-01 14:01:59,2017-05-01 11:12:20,10.983333,9.983333
39,28150.0,1,3,BUS,303,DE713,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:16:41,25753.0,2017-05-01 14:01:59,2017-05-01 11:23:51,10.983333,7.166667
38,28150.0,1,3,BUS,303,DE710,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 11:28:28,25753.0,2017-05-01 14:01:59,2017-05-01 11:37:02,10.983333,8.566667
36,28150.0,1,3,BUS,303,DE722,3.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:04:28,25753.0,2017-05-01 14:01:59,2017-05-01 12:12:54,10.983333,8.433333
33,28150.0,1,3,BUS,303,DE708,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:28:23,25753.0,2017-05-01 14:01:59,2017-05-01 12:36:19,10.983333,7.933333
31,28150.0,1,3,BUS,303,LE702,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 12:40:58,25753.0,2017-05-01 14:01:59,2017-05-01 12:50:10,10.983333,9.200000
29,28150.0,1,3,BUS,303,DE719,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:07:22,25753.0,2017-05-01 14:01:59,2017-05-01 13:15:06,10.983333,7.733333
27,28150.0,1,3,BUS,303,DE713,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:16:34,25753.0,2017-05-01 14:01:59,2017-05-01 13:24:23,10.983333,7.816667
26,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,10.983333,8.483333
25,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667
28,28150.0,1,3,BUS,303,DE708,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:29:24,25753.0,2017-05-01 14:01:59,2017-05-01 14:37:26,10.983333,8.033333
30,28150.0,1,3,BUS,303,LE702,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:41:47,25753.0,2017-05-01 14:01:59,2017-05-01 14:50:32,10.983333,8.750000
32,28150.0,1,3,BUS,303,DE719,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:04:59,25753.0,2017-05-01 14:01:59,2017-05-01 15:13:00,10.983333,8.016667
34,28150.0,1,3,BUS,303,DE713,5.0,26195.0,2017-05-01 13:51:00,2017-05-01 15:16:31,25753.0,2017-05-01 14:01:59,2017-05-01 15:27:12,10.983333,10.683333

In [121]:
# def choose_leg_matches(leg_matches_groups):
#         colnames = leg_matches_groups.obj.columns.values
#         chosen_leg_matches = pd.DataFrame(columns = colnames)
#         prev_group_id = ()
#         prev_itin_id = -1
#         prev_leg_end_time = pd.NaT
#         num_groups_not_survived = 0

#         for name, group in leg_matches_groups:
            
#                 #print
#                 #print "Name:", name
#                 #print "Group:"
#                 #print group
#                 #print
                
#                 if (prev_itin_id == -1):
#                         prev_itin_id = group['otp_itinerary_id'].iloc[0]
#                         prev_leg_end_time = group['bt_start_time'].dt.floor('d').iloc[0]
#                 elif (prev_itin_id != group['otp_itinerary_id'].iloc[0]):
#                         prev_leg_end_time = group['bt_start_time'].dt.floor('d').iloc[0]
                    

#                 #if (prev_group_id == ()):
#                 #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

#                 #print
#                 #print "Previous leg end time:", prev_leg_end_time
#                 #print
#                 #print "Original Group"
#                 #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
#                 if (group['otp_mode'].iloc[0] == 'WALK'):
#                     #print "Walking duration:", filtered_group['otp_duration_mins']
#                     filtered_group = group.reset_index()
#                     filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
#                     filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
#                         pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    
#                     #print "Filtered Group"
#                     #print filtered_group
#                 else:
#                     filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
#                 #print
#                 #print "Filtered Group"
#                 #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

#                 if (len(filtered_group) == 0):
#                         #print "Group did not survive! =("
#                         num_groups_not_survived += 1
#                         continue

#                 chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
#                 #print "Chosen Leg"
#                 #print chosen_leg_match

#                 chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

#                 #Update variables
#                 #prev_group_id = name
#                 prev_itin_id = group['otp_itinerary_id'].iloc[0]
#                 prev_leg_end_time = chosen_leg_match['bt_end_time']

#         #print num_groups_not_survived
#         return chosen_leg_matches.filter(colnames)

In [122]:
def is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id):
    return ((prev_trip_id != curr_trip_id) | (prev_itin_id != curr_itin_id))    

def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_trip_id = -1
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0
        new_itinerary = False

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                
                curr_trip_id = group['otp_user_trip_id'].iloc[0]
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                
                new_itinerary = is_new_itinerary(prev_trip_id,curr_trip_id,prev_itin_id,curr_itin_id)
                if new_itinerary:
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if new_itinerary: #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        #print
                        #print "Previous itinerary id:", prev_itin_id
                        #print "Previous leg mode:", prev_leg_mode
                        #print "Previous leg end time:", prev_leg_end_time
                        #print "Current leg id:", curr_leg_id
                        #print "Current leg mode:", curr_leg_mode
                        #print
                        #print "Original Group"
                        #print group#.filter(['otp_start_time','bt_start_time','bt_end_time'])
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_trip_id = curr_trip_id
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print "Number of groups which did not survive:", num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [125]:
legs_groups = all_complete_vehicle_legs_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [126]:
legs_groups.obj.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'otp_to_stop_id',
       'otp_end_time', 'bt_end_time', 'otp_duration_mins',
       'bt_duration_mins'], dtype=object)

In [193]:
import time

start = time.time()
#chosen_legs = choose_leg_matches(sample_itinerary_options.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
feasible_legs = choose_leg_matches(legs_groups)
end = time.time()

print "Execution time in s:", (end-start)

Execution time in s: 6.71631813049

In [194]:
feasible_legs

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667
0,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN
25,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667
0,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,2017-05-01 14:12:10,NaN,2017-05-01 14:09:32,2017-05-01 14:20:10,7.533333,NaN
58,28150.0,8,1,BUS,827,BC929,12.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,30993.0,2017-05-01 14:35:00,2017-05-01 13:44:14,6.716667,7.816667
0,28150.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:35:00,2017-05-01 13:44:14,NaN,2017-05-01 14:35:52,2017-05-01 13:45:14,0.866667,NaN
83,28150.0,8,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:39:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:51:19,2017-05-01 14:12:10,12.316667,9.366667
0,28150.0,8,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:51:20,2017-05-01 14:12:10,NaN,2017-05-01 14:58:52,2017-05-01 14:20:10,7.533333,NaN
116,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,35.783333,25.216667
0,28154.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:18:00,2017-05-01 14:01:41,NaN,2017-05-01 14:19:14,2017-05-01 14:02:41,1.233333,NaN
145,28154.0,1,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:22:00,2017-05-01 14:07:27,25521.0,2017-05-01 14:53:48,2017-05-01 14:32:45,31.800000,25.300000
0,28154.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:53:49,2017-05-01 14:32:45,NaN,2017-05-01 14:55:49,2017-05-01 14:34:45,2.000000,NaN
183,28154.0,2,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:33:00,2017-05-01 14:01:41,35.783333,25.216667
0,28154.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:00,2017-05-01 14:01:41,NaN,2017-05-01 14:34:14,2017-05-01 14:02:41,1.233333,NaN
212,28154.0,2,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:39:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:10:48,2017-05-01 14:32:45,31.800000,25.300000
0,28154.0,2,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:10:49,2017-05-01 14:32:45,NaN,2017-05-01 15:12:49,2017-05-01 14:34:45,2.000000,NaN
250,28154.0,6,1,BUS,684,HA298,11.0,39378.0,2017-05-01 14:12:13,2017-05-01 13:36:28,31053.0,2017-05-01 14:48:00,2017-05-01 14:01:41,35.783333,25.216667
0,28154.0,6,2,WALK,nan,NaN,NaN,NaN,2017-05-01 14:48:00,2017-05-01 14:01:41,NaN,2017-05-01 14:49:14,2017-05-01 14:02:41,1.233333,NaN
279,28154.0,6,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:56:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:28:41,2017-05-01 14:32:45,32.683333,25.300000
0,28154.0,6,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:28:42,2017-05-01 14:32:45,NaN,2017-05-01 15:30:42,2017-05-01 14:34:45,2.000000,NaN
317,28154.0,7,1,BUS,684,HA298,11.0,39378.0,2017-05-01 14:27:13,2017-05-01 13:36:28,31053.0,2017-05-01 15:03:00,2017-05-01 14:01:41,35.783333,25.216667
0,28154.0,7,2,WALK,nan,NaN,NaN,NaN,2017-05-01 15:03:00,2017-05-01 14:01:41,NaN,2017-05-01 15:04:14,2017-05-01 14:02:41,1.233333,NaN
346,28154.0,7,3,BUS,603,HD250,6.0,26296.0,2017-05-01 15:05:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:37:41,2017-05-01 14:32:45,32.683333,25.300000
0,28154.0,7,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:37:42,2017-05-01 14:32:45,NaN,2017-05-01 15:39:42,2017-05-01 14:34:45,2.000000,NaN
384,28154.0,8,1,BUS,684,HA298,11.0,39378.0,2017-05-01 14:42:13,2017-05-01 13:36:28,31053.0,2017-05-01 15:18:00,2017-05-01 14:01:41,35.783333,25.216667
0,28154.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-01 15:18:00,2017-05-01 14:01:41,NaN,2017-05-01 15:19:14,2017-05-01 14:02:41,1.233333,NaN
413,28154.0,8,3,BUS,603,HD250,6.0,26296.0,2017-05-01 15:23:00,2017-05-01 14:07:27,25521.0,2017-05-01 15:55:41,2017-05-01 14:32:45,32.683333,25.300000
0,28154.0,8,4,WALK,nan,NaN,NaN,NaN,2017-05-01 15:55:42,2017-05-01 14:32:45,NaN,2017-05-01 15:57:42,2017-05-01 14:34:45,2.000000,NaN
451,28154.0,9,1,BUS,684,HA298,11.0,39378.0,2017-05-01 14:57:13,2017-05-01 13:36:28,34160.0,2017-05-01 15:30:02,2017-05-01 13:57:14,32.816667,20.766667
0,28154.0,9,2,WALK,nan,NaN,NaN,NaN,2017-05-01 15:30:02,2017-05-01 13:57:14,NaN,2017-05-01 15:30:06,2017-05-01 13:57:14,0.066667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8954,70719.0,4,3,BUS,203,BD138,9.0,26196.0,2017-05-01 23:20:00,2017-05-01 23:10:42,26187.0,2017-05-01 23:32:00,2017-05-01 23:21:45,12.000000,11.050000
0,70719.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:01,2017-05-01 23:21:45,NaN,2017-05-01 23:34:45,2017-05-01 23:24:45,2.733333,NaN
8956,71039.0,1,1,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,17.916667,12.866667
0,71039.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:17:02,2017-05-01 23:12:33,NaN,2017-05-01 23:21:38,2017-05-01 23:17:33,4.600000,NaN
8958,71039.0,3,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:59:41,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,17.916667,12.866667
0,71039.0,3,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:32:02,2017-05-01 23:12:33,NaN,2017-05-01 23:36:38,2017-05-01 23:17:33,4.600000,NaN
8960,71039.0,6,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:29:21,2017-05-01 22:59:41,26631.0,2017-05-01 23:47:57,2017-05-01 23:12:33,18.600000,12.866667
0,71039.0,6,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:47:58,2017-05-01 23:12:33,NaN,2017-05-01 23:52:34,2017-05-01 23:17:33,4.600000,NaN
8962,71039.0,10,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:58:52,2017-05-01 22:59:41,26631.0,2017-05-02 00:16:06,2017-05-01 23:12:33,17.233333,12.866667
0,71039.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 00:16:07,2017-05-01 23:12:33,NaN,2017-05-02 00:20:43,2017-05-01 23:17:33,4.600000,NaN
8964,71056.0,1,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 23:00:10,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,20.816667,14.166667
0,71056.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:41,2017-05-01 23:14:20,NaN,2017-05-01 23:29:24,2017-05-01 23:17:20,2.716667,NaN
0,71056.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 23:41:10,2017-05-01 23:17:20,NaN,2017-05-01 23:46:50,2017-05-01 23:23:20,5.666667,NaN
0,71056.0,5,2,WALK,nan,NaN,NaN,NaN,2017-05-02 05:57:34,NaT,NaN,2017-05-02 06:02:56,2017-05-02 00:00:00,5.366667,NaN
0,71056.0,5,4,WALK,nan,NaN,NaN,NaN,2017-05-02 06:07:52,2017-05-02 00:00:00,NaN,2017-05-02 06:16:40,2017-05-02 00:09:00,8.800000,NaN
0,71056.0,6,2,WALK,nan,NaN,NaN,NaN,2017-05-02 05:43:56,NaT,NaN,2017-05-02 05:49:52,2017-05-02 00:00:00,5.933333,NaN
0,71056.0,6,4,WALK,nan,NaN,NaN,NaN,2017-05-02 06:03:56,2017-05-02 00:00:00,NaN,2017-05-02 06:23:41,2017-05-02 00:20:00,19.750000,NaN
0,71056.0,7,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:06:34,NaT,NaN,2017-05-02 06:11:56,2017-05-02 00:00:00,5.366667,NaN
0,71056.0,7,4,WALK,nan,NaN,NaN,NaN,2017-05-02 06:30:10,2017-05-02 00:00:00,NaN,2017-05-02 06:35:00,2017-05-02 00:05:00,4.833333,NaN
0,71056.0,7,6,WALK,nan,NaN,NaN,NaN,2017-05-02 06:48:00,2017-05-02 00:05:00,NaN,2017-05-02 06:52:10,2017-05-02 00:09:00,4.166667,NaN
0,71056.0,7,8,WALK,nan,NaN,NaN,NaN,2017-05-02 07:04:11,2017-05-02 00:09:00,NaN,2017-05-02 07:07:24,2017-05-02 00:12:00,3.216667,NaN
0,71056.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:03:11,NaT,NaN,2017-05-02 07:08:33,2017-05-02 00:00:00,5.366667,NaN
0,71056.0,8,4,WALK,nan,NaN,NaN,NaN,2017-05-02 07:19:52,2017-05-02 00:00:00,NaN,2017-05-02 07:28:40,2017-05-02 00:09:00,8.800000,NaN
0,71056.0,9,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:43:11,NaT,NaN,2017-05-02 06:48:33,2017-05-02 00:00:00,5.366667,NaN
0,71056.0,9,4,WALK,nan,NaN,NaN,NaN,2017-05-02 06:54:10,2017-05-02 00:00:00,NaN,2017-05-02 06:59:00,2017-05-02 00:05:00,4.833333,NaN
0,71056.0,9,6,WALK,nan,NaN,NaN,NaN,2017-05-02 07:36:00,2017-05-02 00:05:00,NaN,2017-05-02 07:40:10,2017-05-02 00:09:00,4.166667,NaN
0,71056.0,9,8,WALK,nan,NaN,NaN,NaN,2017-05-02 07:51:57,2017-05-02 00:09:00,NaN,2017-05-02 07:55:10,2017-05-02 00:12:00,3.216667,NaN
0,71837.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:28:03,NaT,NaN,2017-05-02 06:28:08,2017-05-02 00:00:00,0.083333,NaN
0,71837.0,8,2,WALK,nan,NaN,NaN,NaN,2017-05-02 06:53:03,NaT,NaN,2017-05-02 06:53:08,2017-05-02 00:00:00,0.083333,NaN
0,71837.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:18:03,NaT,NaN,2017-05-02 07:18:08,2017-05-02 00:00:00,0.083333,NaN

### Filtering out itineraries which lost bus legs along the processing

In [196]:
original_suggested_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 2         4
2           28150.0                 3         3
3           28150.0                 4         4
4           28150.0                 5         5

In [197]:
feasible_itins_num_legs = feasible_legs.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [198]:
feasible_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 8         4
2           28154.0                 1         4
3           28154.0                 2         4
4           28154.0                 6         4

In [203]:
feasible_complete_itins = feasible_itins_num_legs.merge(original_suggested_itins_num_legs,how='inner')

In [204]:
feasible_complete_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 8         4
2           28154.0                 1         4
3           28154.0                 2         4
4           28154.0                 6         4

In [207]:
feasible_complete_itins_legs = feasible_legs.merge(feasible_complete_itins.drop('num_legs', axis=1),how='inner')

In [208]:
len(feasible_legs)

869

In [210]:
len(feasible_complete_itins_legs)

849

## Perform an endogenous validation using location and time features

#### Add stops data to legs

In [256]:
def add_stops_data_to_legs(itineraries_legs,stops_locs):
    itineraries_legs_stops = itineraries_legs.merge(stops_locs, left_on='otp_from_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
                                                                                .merge(stops_locations, left_on='otp_to_stop_id', right_on='stop_id', how='left') \
                                                                                .drop('stop_id', axis=1) \
                                                                                .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) 
    return itineraries_legs_stops

In [257]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]

In [258]:
itineraries_legs = add_stops_data_to_legs(feasible_complete_itins_legs,stops_locations)

In [259]:
itineraries_legs.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,-25.436303,-49.362221,-25.441705,-49.346328
1,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,NaN,NaN,NaN,NaN
2,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
3,28150.0,1,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:02:00,2017-05-01 14:12:10,NaN,2017-05-01 14:09:32,2017-05-01 14:20:10,7.533333,NaN,NaN,NaN,NaN,NaN
4,28150.0,8,1,BUS,827,BC929,12.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,30993.0,2017-05-01 14:35:00,2017-05-01 13:44:14,6.716667,7.816667,-25.436303,-49.362221,-25.441705,-49.346328

In [260]:
itineraries_legs.columns.values

array(['otp_user_trip_id', 'otp_itinerary_id', 'otp_leg_id', 'otp_mode',
       'otp_route', 'bt_bus_code', 'bt_trip_num', 'otp_from_stop_id',
       'otp_start_time', 'bt_start_time', 'otp_to_stop_id',
       'otp_end_time', 'bt_end_time', 'otp_duration_mins',
       'bt_duration_mins', 'from_stop_lat', 'from_stop_lon',
       'to_stop_lat', 'to_stop_lon'], dtype=object)

#### Add card number and date

In [261]:
trips_on_pairs_full.columns

Index([u'cardNum', u'o_boarding_id', u'o_boarding_datetime', u'o_gps_datetime',
       u'o_route', u'o_busCode', u'o_tripNum', u'o_stopPointId', u'o_stop_lat',
       u'o_stop_lon', u'next_o_boarding_id', u'next_o_boarding_datetime',
       u'next_o_gps_datetime', u'next_o_route', u'next_o_busCode',
       u'next_o_tripNum', u'next_o_stopPointId', u'next_o_stop_lat',
       u'next_o_stop_lon', u'boardings_timediff', u'dist_between_origins'],
      dtype='object')

In [262]:
passenger_trips_ids = trips_on_pairs_full.filter(['cardNum','o_boarding_id']) \
                            .rename(index=str, columns={'cardNum':'card_num','o_boarding_id':'trip_id'})

In [263]:
passenger_trips_ids.head()

    card_num  trip_id
0  1886552.0    180.0
1  1886552.0  40392.0
2  3601076.0    181.0
3  3601076.0  31560.0
4  3282345.0    182.0

In [264]:
pass_itins_legs = itineraries_legs.merge(passenger_trips_ids, 
                       left_on=['otp_user_trip_id'], 
                       right_on=['trip_id'],
                       how='left') \
                .drop('otp_user_trip_id', axis=1) \
                .assign(date = lambda x: x.otp_start_time.dt.floor('d')) \
                .filter(np.append(['date','card_num','trip_id'],itineraries_legs.columns.values[1:])) \
                .sort_values(['card_num','trip_id','otp_itinerary_id','otp_leg_id'])

In [265]:
pass_itins_legs

,date,card_num,trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,...,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
108,2017-05-01,869122.0,28204.0,2,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 14:22:38,2017-05-01 13:52:15,15.633333,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
109,2017-05-01,869122.0,28204.0,2,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 14:22:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
110,2017-05-01,869122.0,28204.0,5,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 14:33:38,2017-05-01 13:52:15,14.050000,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
111,2017-05-01,869122.0,28204.0,5,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 14:33:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
112,2017-05-01,869122.0,28204.0,6,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 14:47:38,2017-05-01 13:52:15,14.050000,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
113,2017-05-01,869122.0,28204.0,6,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 14:47:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
114,2017-05-01,869122.0,28204.0,8,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 15:33:38,2017-05-01 13:52:15,15.633333,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
115,2017-05-01,869122.0,28204.0,8,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 15:33:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
116,2017-05-01,869122.0,28204.0,9,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 15:46:38,2017-05-01 13:52:15,15.283333,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
117,2017-05-01,869122.0,28204.0,9,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 15:46:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
118,2017-05-01,869122.0,28204.0,10,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 16:01:22,2017-05-01 13:52:15,15.366667,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
119,2017-05-01,869122.0,28204.0,10,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 16:01:36,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
84,2017-05-01,1024869.0,28174.0,1,1,BUS,515,EA303,10.0,33580.0,...,2017-05-01 13:36:42,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,15.550000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
85,2017-05-01,1024869.0,28174.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:12,NaN,2017-05-01 13:58:59,2017-05-01 13:55:12,2.983333,NaN,NaN,NaN,NaN,NaN
86,2017-05-01,1024869.0,28174.0,1,3,BUS,503,KE842,9.0,27474.0,...,2017-05-01 14:05:30,26905.0,2017-05-01 14:18:06,2017-05-01 14:22:51,17.033333,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
87,2017-05-01,1024869.0,28174.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:22:51,NaN,2017-05-01 14:28:56,2017-05-01 14:33:51,10.816667,NaN,NaN,NaN,NaN,NaN
88,2017-05-01,1024869.0,28174.0,5,1,BUS,515,EA303,10.0,33580.0,...,2017-05-01 13:36:42,27791.0,2017-05-01 14:11:00,2017-05-01 13:52:12,15.550000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
89,2017-05-01,1024869.0,28174.0,5,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:12,NaN,2017-05-01 14:13:59,2017-05-01 13:55:12,2.983333,NaN,NaN,NaN,NaN,NaN
90,2017-05-01,1024869.0,28174.0,5,3,BUS,503,KE842,9.0,27474.0,...,2017-05-01 14:05:30,26905.0,2017-05-01 14:39:10,2017-05-01 14:22:51,16.533333,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
91,2017-05-01,1024869.0,28174.0,5,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:22:51,NaN,2017-05-01 14:50:00,2017-05-01 14:33:51,10.816667,NaN,NaN,NaN,NaN,NaN
92,2017-05-01,1024869.0,28174.0,9,1,BUS,515,EA303,10.0,33580.0,...,2017-05-01 13:36:42,27791.0,2017-05-01 14:26:00,2017-05-01 13:52:12,15.550000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
93,2017-05-01,1024869.0,28174.0,9,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:12,NaN,2017-05-01 14:28:59,2017-05-01 13:55:12,2.983333,NaN,NaN,NaN,NaN,NaN
94,2017-05-01,1024869.0,28174.0,9,3,BUS,503,KE842,9.0,27474.0,...,2017-05-01 14:05:30,26905.0,2017-05-01 14:51:06,2017-05-01 14:22:51,17.033333,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
95,2017-05-01,1024869.0,28174.0,9,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:22:51,NaN,2017-05-01 15:01:56,2017-05-01 14:33:51,10.816667,NaN,NaN,NaN,NaN,NaN
96,2017-05-01,1024869.0,28174.0,10,1,BUS,515,EA303,10.0,33580.0,...,2017-05-01 13:36:42,27791.0,2017-05-01 14:41:00,2017-05-01 13:52:12,15.550000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
97,2017-05-01,1024869.0,28174.0,10,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:12,NaN,2017-05-01 14:43:59,2017-05-01 13:55:12,2.983333,NaN,NaN,NaN,NaN,NaN
98,2017-05-01,1024869.0,28174.0,10,3,BUS,503,KE842,9.0,27474.0,...,2017-05-01 14:05:30,26905.0,2017-05-01 15:02:06,2017-05-01 14:22:51,17.033333,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
99,2017-05-01,1024869.0,28174.0,10,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:22:51,NaN,2017-05-01 15:12:56,2017-05-01 14:33:51,10.816667,NaN,NaN,NaN,NaN,NaN
494,2017-05-01,1168962.0,28455.0,1,1,BUS,639,GA142,10.0,37403.0,...,2017-05-01 13:40:12,31026.0,2017-05-01 14:00:00,2017-05-01 13:58:18,21.200000,18.100000,-25.557041,-49.283864,-25.512969,-49.294833
495,2017-05-01,1168962.0,28455.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:58:18,NaN,2017-05-01 14:04:15,2017-05-01 14:02:18,4.250000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,2017-05-01,3829762.0,28411.0,4,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:10:54,NaN,2017-05-01 14:55:18,2017-05-01 14:10:54,0.433333,NaN,NaN,NaN,NaN,NaN
459,2017-05-01,3829762.0,28411.0,7,1,BUS,545,JA300,6.0,33849.0,...,2017-05-01 13:39:44,5452.0,2017-05-01 15:18:51,2017-05-01 14:10:54,36.300000,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
460,2017-05-01,3829762.0,28411.0,7,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:10:54,NaN,2017-05-01 15:19:18,2017-05-01 14:10:54,0.433333,NaN,NaN,NaN,NaN,NaN
461,2017-05-01,3829762.0,28411.0,9,1,BUS,545,JA300,6.0,33849.0,...,2017-05-01 13:39:44,5452.0,2017-05-01 15:41:00,2017-05-01 14:10:54,34.866667,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
462,2017-05-01,3829762.0,28411.0,9,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:10:54,NaN,2017-05-01 15:41:27,2017-05-01 14:10:54,0.433333,NaN,NaN,NaN,NaN,NaN
463,2017-05-01,3829762.0,28411.0,10,1,BUS,545,JA300,6.0,33849.0,...,2017-05-01 13:39:44,5452.0,2017-05-01 16:31:00,2017-05-01 14:10:54,36.416667,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
464,2017-05-01,3829762.0,28411.0,10,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:10:54,NaN,2017-05-01 16:31:27,2017-05-01 14:10:54,0.433333,NaN,NaN,NaN,NaN,NaN
645,2017-05-01,3829762.0,44578.0,1,1,BUS,216,HA601,8.0,29157.0,...,2017-05-01 16:36:31,28332.0,2017-05-01 17:08:00,2017-05-01 16:50:00,27.233333,13.483333,-25.443394,-49.242750,-25.476127,-49.292362
646,2017-05-01,3829762.0,44578.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:50:00,NaN,2017-05-01 17:10:13,2017-05-01 16:52:00,2.216667,NaN,NaN,NaN,NaN,NaN
647,2017-05-01,3829762.0,44578.0,1,3,BUS,602,HE689,9.0,26263.0,...,2017-05-01 17:15:09,26297.0,2017-05-01 17:25:00,2017-05-01 17:27:02,14.000000,11.883333,-25.476410,-49.292681,-25.512315,-49.295636
648,2017-05-01,3829762.0,44578.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 17:27:02,NaN,2017-05-01 17:26:55,2017-05-01 17:29:02,1.916667,NaN,NaN,NaN,NaN,NaN
649,2017-05-01,3829762.0,44578.0,1,5,BUS,655,HA001,13.0,31019.0,...,2017-05-01 17:58:25,39270.0,2017-05-01 17:54:38,2017-05-01 18:18:35,22.633333,20.166667,-25.512016,-49.294864,-25.565648,-49.326363
650,2017-05-01,3829762.0,44578.0,1,6,WALK,nan,NaN,NaN,NaN,...,2017-05-01 18:18:35,NaN,2017-05-01 17:59:37,2017-05-01 18:23:35,4.966667,NaN,NaN,NaN,NaN,NaN
651,2017-05-01,3829762.0,44578.0,5,1,BUS,216,HA601,8.0,29157.0,...,2017-05-01 16:36:31,45364.0,2017-05-01 17:16:23,2017-05-01 16:41:03,9.250000,4.533333,-25.443394,-49.242750,-25.449010,-49.261531
652,2017-05-01,3829762.0,44578.0,5,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:41:03,NaN,2017-05-01 17:19:59,2017-05-01 16:45:03,3.600000,NaN,NaN,NaN,NaN,NaN
653,2017-05-01,3829762.0,44578.0,5,3,BUS,550,HE706,12.0,25500.0,...,2017-05-01 17:16:16,26298.0,2017-05-01 17:50:00,2017-05-01 17:39:47,25.116667,23.516667,-25.448496,-49.263417,-25.512105,-49.294667
654,2017-05-01,3829762.0,44578.0,5,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 17:39:47,NaN,2017-05-01 17:51:16,2017-05-01 17:40:47,1.266667,NaN,NaN,NaN,NaN,NaN
655,2017-05-01,3829762.0,44578.0,5,5,BUS,655,HA001,13.0,31019.0,...,2017-05-01 17:58:25,39270.0,2017-05-01 18:16:38,2017-05-01 18:18:35,22.633333,20.166667,-25.512016,-49.294864,-25.565648,-49.326363
656,2017-05-01,3829762.0,44578.0,5,6,WALK,nan,NaN,NaN,NaN,...,2017-05-01 18:18:35,NaN,2017-05-01 18:21:37,2017-05-01 18:23:35,4.966667,NaN,NaN,NaN,NaN,NaN
657,2017-05-01,3829762.0,44578.0,10,1,BUS,216,HA601,8.0,29157.0,...,2017-05-01 16:36:31,45364.0,2017-05-01 17:44:16,2017-05-01 16:41:03,9.766667,4.533333,-25.443394,-49.242750,-25.449010,-49.261531
658,2017-05-01,3829762.0,44578.0,10,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:41:03,NaN,2017-05-01 17:47:52,2017-05-01 16:45:03,3.600000,NaN,NaN,NaN,NaN,NaN
659,2017-05-01,3829762.0,44578.0,10,3,BUS,550,HE706,12.0,25500.0,...,2017-05-01 17:16:16,26298.0,2017-05-01 18:13:00,2017-05-01 17:39:47,25.116667,23.516667,-25.448496,-49.263417,-25.512105,-49.294667
660,2017-05-01,3829762.0,44578.0,10,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 17:39:47,NaN,2017-05-01 18:14:16,2017-05-01 17:40:47,1.266667,NaN,NaN,NaN,NaN,NaN
661,2017-05-01,3829762.0,44578.0,10,5,BUS,655,HA001,13.0,31019.0,...,2017-05-01 17:58:25,39270.0,2017-05-01 18:38:38,2017-05-01 18:18:35,22.633333,20.166667,-25.512016,-49.294864,-25.565648,-49.326363
662,2017-05-01,3829762.0,44578.0,10,6,WALK,nan,NaN,NaN,NaN,...,2017-05-01 18:18:35,NaN,2017-05-01 18:43:37,2017-05-01 18:23:35,4.966667,NaN,NaN,NaN,NaN,NaN
830,2017-05-01,3829762.0,70106.0,1,1,BUS,685,HA288,15.0,36326.0,...,2017-05-01 22:31:30,33860.0,2017-05-01 23:12:11,2017-05-01 22:45:37,22.416667,14.116667,-25.564955,-49.328974,-25.515244,-49.328156
831,2017-05-01,3829762.0,70106.0,1,2,BUS,545,GA168,11.0,33860.0,...,2017-05-01 23:11:25,33850.0,2017-05-01 23:18:02,2017-05-01 23:14:27,4.233333,3.033333,-25.515244,-49.328156,-25.504091,-49.334712
832,2017-05-01,3829762.0,70106.0,1,3,WALK,nan,NaN,NaN,NaN,...,2017-05-01 23:14:27,NaN,2017-05-01 23:18:09,2017-05-01 23:14:27,0.100000,NaN,NaN,NaN,NaN,NaN
833,2017-05-01,3829762.0,70106.0,8,1,BUS,685,HA288,15.0,36326.0,...,2017-05-01 22:31:30,35107.0,2017-05-02 00:08:47,2017-05-01 22:46:45,15.383333,15.250000,-25.564955,-49.328974,-25.512756,-49.330335
834,2017-05-02,3829762.0,70106.0,8,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 22:46:45,NaN,2017-05-02 00:24:15,2017-05-01 23:01:45,15.450000,NaN,NaN,NaN,NaN,NaN

In [266]:
pass_itins_legs.columns.values

array(['date', 'card_num', 'trip_id', 'otp_itinerary_id', 'otp_leg_id',
       'otp_mode', 'otp_route', 'bt_bus_code', 'bt_trip_num',
       'otp_from_stop_id', 'otp_start_time', 'bt_start_time',
       'otp_to_stop_id', 'otp_end_time', 'bt_end_time',
       'otp_duration_mins', 'bt_duration_mins', 'from_stop_lat',
       'from_stop_lon', 'to_stop_lat', 'to_stop_lon'], dtype=object)

### Summarizing suggested itineraries information

In [267]:
def build_candidate_itineraries_df(chosen_leg_matches_data):
        itins_bus_info = chosen_leg_matches_data \
                                        .query('otp_mode == \'BUS\'') \
                                        .groupby(['card_num','trip_id','otp_itinerary_id']) \
                                        .agg({'otp_from_stop_id': lambda x: x.iloc[0],
                                              'from_stop_lat': lambda x: x.iloc[0],
                                              'from_stop_lon': lambda x: x.iloc[0],
                                              'otp_to_stop_id': lambda x: x.iloc[-1],
                                              'to_stop_lat': lambda x: x.iloc[-1],
                                              'to_stop_lon': lambda x: x.iloc[-1],
                                              'otp_mode': lambda x: len(x)}) \
                                        .reset_index() \
                                        .rename(index=str, columns={'otp_mode':'num_transfers',
                                                                    'otp_from_stop_id':'from_stop_id',
                                                                    'otp_to_stop_id':'to_stop_id'})
        itins_time_info = chosen_leg_matches_data \
                                        .groupby(['card_num','trip_id','otp_itinerary_id']) \
                                        .agg({'bt_start_time': lambda x: x.iloc[0],
                                              'bt_end_time': lambda x: x.iloc[-1],
                                              'otp_start_time': lambda x: x.iloc[0],
                                              'otp_end_time': lambda x: x.iloc[-1],
                                              'date': lambda x: x.iloc[0]}) \
                                        .reset_index() \
                                        .rename(index=str, columns={'otp_start_time':'sch_start_time',
                                                                    'otp_end_time':'sch_end_time',
                                                                    'bt_start_time':'obs_start_time',
                                                                    'bt_end_time':'obs_end_time'}) 
        
        otp_buste_itineraries = itins_bus_info.merge(itins_time_info) \
                                        .reindex(['date','card_num','trip_id','otp_itinerary_id',
                                                  'from_stop_id','sch_start_time','obs_start_time',
                                                  'from_stop_lat','from_stop_lon','to_stop_id',
                                                  'sch_end_time','obs_end_time','to_stop_lat',
                                                  'to_stop_lon','num_transfers'], axis=1, copy=False)\
                                        .assign(card_num = lambda x: x['card_num'].astype(float),
                                                trip_id = lambda x: x['trip_id'].astype(float),
                                                otp_itinerary_id = lambda x: x['otp_itinerary_id'].astype(float))
        return otp_buste_itineraries

In [268]:
cand_itineraries_df = build_candidate_itineraries_df(pass_itins_legs)

In [269]:
cand_itineraries_df

,date,card_num,trip_id,otp_itinerary_id,from_stop_id,sch_start_time,obs_start_time,from_stop_lat,from_stop_lon,to_stop_id,sch_end_time,obs_end_time,to_stop_lat,to_stop_lon,num_transfers
0,2017-05-01,869122.0,28204.0,2.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 14:22:52,2017-05-01 13:52:15,-25.451351,-49.350814,1
1,2017-05-01,869122.0,28204.0,5.0,34260.0,2017-05-01 14:19:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 14:33:52,2017-05-01 13:52:15,-25.451351,-49.350814,1
2,2017-05-01,869122.0,28204.0,6.0,34260.0,2017-05-01 14:33:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 14:47:52,2017-05-01 13:52:15,-25.451351,-49.350814,1
3,2017-05-01,869122.0,28204.0,8.0,34260.0,2017-05-01 15:18:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 15:33:52,2017-05-01 13:52:15,-25.451351,-49.350814,1
4,2017-05-01,869122.0,28204.0,9.0,34260.0,2017-05-01 15:31:21,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 15:46:52,2017-05-01 13:52:15,-25.451351,-49.350814,1
5,2017-05-01,869122.0,28204.0,10.0,34260.0,2017-05-01 15:46:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,2017-05-01 16:01:36,2017-05-01 13:52:15,-25.451351,-49.350814,1
6,2017-05-01,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:28:56,2017-05-01 14:33:51,-25.438600,-49.268210,2
7,2017-05-01,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:55:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 14:50:00,2017-05-01 14:33:51,-25.438600,-49.268210,2
8,2017-05-01,1024869.0,28174.0,9.0,33580.0,2017-05-01 14:10:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 15:01:56,2017-05-01 14:33:51,-25.438600,-49.268210,2
9,2017-05-01,1024869.0,28174.0,10.0,33580.0,2017-05-01 14:25:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,2017-05-01 15:12:56,2017-05-01 14:33:51,-25.438600,-49.268210,2
10,2017-05-01,1168962.0,28455.0,1.0,37403.0,2017-05-01 13:38:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:20:36,2017-05-01 14:19:35,-25.476372,-49.292607,2
11,2017-05-01,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:56:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:37:05,2017-05-01 14:27:12,-25.476372,-49.292607,2
12,2017-05-01,1168962.0,28455.0,4.0,37403.0,2017-05-01 14:14:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 14:56:05,2017-05-01 14:27:12,-25.476372,-49.292607,2
13,2017-05-01,1168962.0,28455.0,6.0,37403.0,2017-05-01 14:32:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 15:15:05,2017-05-01 14:27:12,-25.476372,-49.292607,2
14,2017-05-01,1168962.0,28455.0,7.0,37403.0,2017-05-01 14:50:48,2017-05-01 13:40:12,-25.557041,-49.283864,26239.0,2017-05-01 15:31:38,2017-05-01 14:09:59,-25.476439,-49.292220,2
15,2017-05-01,1168962.0,28455.0,10.0,37403.0,2017-05-01 15:08:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,2017-05-01 15:53:05,2017-05-01 14:27:12,-25.476372,-49.292607,2
16,2017-05-01,1354462.0,28373.0,6.0,39837.0,2017-05-01 14:47:24,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,2017-05-01 16:07:25,2017-05-01 14:40:09,-25.432956,-49.351933,2
17,2017-05-01,1354462.0,28373.0,10.0,39837.0,2017-05-01 15:15:20,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,2017-05-01 16:36:53,2017-05-01 14:40:09,-25.432956,-49.351933,2
18,2017-05-01,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:51:59,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,2017-05-01 17:04:53,2017-05-01 16:48:50,-25.551285,-49.332021,2
19,2017-05-01,1354462.0,39353.0,5.0,33745.0,2017-05-01 16:46:30,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,2017-05-01 17:57:23,2017-05-01 17:31:50,-25.555684,-49.332996,2
20,2017-05-01,1354462.0,39353.0,6.0,33745.0,2017-05-01 16:53:23,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,2017-05-01 18:10:24,2017-05-01 17:15:02,-25.555684,-49.332996,2
21,2017-05-01,1354462.0,39353.0,7.0,33745.0,2017-05-01 17:04:20,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,2017-05-01 18:11:23,2017-05-01 17:31:50,-25.555684,-49.332996,2
22,2017-05-01,1354462.0,39353.0,8.0,33745.0,2017-05-01 17:14:45,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,2017-05-01 18:25:23,2017-05-01 17:31:50,-25.555684,-49.332996,2
23,2017-05-01,1354462.0,39353.0,10.0,33745.0,2017-05-01 17:19:04,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,2017-05-01 18:36:24,2017-05-01 17:15:02,-25.555684,-49.332996,2
24,2017-05-01,1447119.0,58869.0,5.0,33311.0,2017-05-01 19:17:29,2017-05-01 18:59:21,-25.413376,-49.301067,36283.0,2017-05-01 21:04:18,2017-05-01 23:07:21,-25.573030,-49.334941,4
25,2017-05-01,1497570.0,43854.0,1.0,32785.0,2017-05-01 16:34:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 16:49:18,2017-05-01 15:41:12,-25.422354,-49.284146,1
26,2017-05-01,1497570.0,43854.0,8.0,32785.0,2017-05-01 16:54:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 17:09:18,2017-05-01 15:41:12,-25.422354,-49.284146,1
27,2017-05-01,1497570.0,43854.0,9.0,32785.0,2017-05-01 17:10:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 17:26:19,2017-05-01 15:41:12,-25.422354,-49.284146,1
28,2017-05-01,1497570.0,43854.0,10.0,32785.0,2017-05-01 17:26:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,2017-05-01 17:43:20,2017-05-01 15:41:12,-25.422354,-49.284146,1
29,2017-05-01,1998953.0,28180.0,5.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,-25.366552,-49.272462,28615.0,2017-05-01 14:34:47,2017-05-01 14:00:37,-25.423600,-49.270049,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2017-05-01,3763097.0,41233.0,10.0,26363.0,2017-05-01 17:23:00,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,2017-05-01 17:47:32,2017-05-01 16:16:22,-25.414434,-49.219312,1
243,2017-05-01,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:45:08,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 14:15:32,2017-05-01 14:20:10,-25.437968,-49.314099,2
244,2017-05-01,3791033.0,28402.0,8.0,34133.0,2017-05-01 14:28:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 15:04:52,2017-05-01 14:20:10,-25.437968,-49.314099,2
245,2017-05-01,3791033.0,28402.0,9.0,34133.0,2017-05-01 14:42:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 15:14:32,2017-05-01 14:20:10,-25.437968,-49.314099,2
246,2017-05-01,3791033.0,28402.0,10.0,34133.0,2017-05-01 14:56:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,2017-05-01 15:26:32,2017-05-01 14:20:10,-25.437968,-49.314099,2
247,2017-05-01,3798510.0,28485.0,8.0,27195.0,2017-05-01 14:15:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,2017-05-01 15:09:44,2017-05-01 14:23:56,-25.444816,-49.285595,2
248,2017-05-01,3798510.0,28485.0,10.0,27195.0,2017-05-01 14:40:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,2017-05-01 15:31:44,2017-05-01 14:23:56,-25.444816,-49.285595,2
249,2017-05-01,3806874.0,28363.0,1.0,31481.0,2017-05-01 13:43:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 13:55:00,2017-05-01 13:48:43,-25.453594,-49.226994,1
250,2017-05-01,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:57:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 14:09:09,2017-05-01 13:48:43,-25.453594,-49.226994,1
251,2017-05-01,3806874.0,28363.0,5.0,31481.0,2017-05-01 14:15:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 14:27:00,2017-05-01 13:48:43,-25.453594,-49.226994,1
252,2017-05-01,3806874.0,28363.0,7.0,31481.0,2017-05-01 14:29:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 14:41:09,2017-05-01 13:48:43,-25.453594,-49.226994,1
253,2017-05-01,3806874.0,28363.0,8.0,31481.0,2017-05-01 14:47:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 14:59:00,2017-05-01 13:48:43,-25.453594,-49.226994,1
254,2017-05-01,3806874.0,28363.0,10.0,31481.0,2017-05-01 15:03:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,2017-05-01 15:15:00,2017-05-01 13:48:43,-25.453594,-49.226994,1
255,2017-05-01,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:43:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:27:05,2017-05-01 14:27:12,-25.476372,-49.292607,2
256,2017-05-01,3815019.0,28388.0,5.0,38519.0,2017-05-01 14:03:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,2017-05-01 14:46:02,2017-05-01 14:34:41,-25.476372,-49.292607,2
257,2017-05-01,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:29:19,2017-05-01 14:20:24,-25.437593,-49.266727,2
258,2017-05-01,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:59:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,2017-05-01 14:41:19,2017-05-01 14:20:24,-25.437593,-49.266727,2
259,2017-05-01,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:09:32,2017-05-01 14:20:10,-25.437968,-49.314099,2
260,2017-05-01,3823073.0,28150.0,8.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,2017-05-01 14:58:52,2017-05-01 14:20:10,-25.437968,-49.314099,2
261,2017-05-01,3829656.0,70138.0,9.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,-25.546662,-49.319794,35449.0,2017-05-01 23:44:13,2017-05-01 22:45:49,-25.557623,-49.332020,1
262,2017-05-01,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:54:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:29:27,2017-05-01 14:10:54,-25.534335,-49.268084,1
263,2017-05-01,3829762.0,28411.0,4.0,33849.0,2017-05-01 14:18:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 14:55:18,2017-05-01 14:10:54,-25.534335,-49.268084,1
264,2017-05-01,3829762.0,28411.0,7.0,33849.0,2017-05-01 14:42:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 15:19:18,2017-05-01 14:10:54,-25.534335,-49.268084,1
265,2017-05-01,3829762.0,28411.0,9.0,33849.0,2017-05-01 15:06:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 15:41:27,2017-05-01 14:10:54,-25.534335,-49.268084,1
266,2017-05-01,3829762.0,28411.0,10.0,33849.0,2017-05-01 15:54:35,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,2017-05-01 16:31:27,2017-05-01 14:10:54,-25.534335,-49.268084,1
267,2017-05-01,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:40:46,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 17:59:37,2017-05-01 18:23:35,-25.565648,-49.326363,3
268,2017-05-01,3829762.0,44578.0,5.0,29157.0,2017-05-01 17:07:08,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 18:21:37,2017-05-01 18:23:35,-25.565648,-49.326363,3
269,2017-05-01,3829762.0,44578.0,10.0,29157.0,2017-05-01 17:34:30,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,2017-05-01 18:43:37,2017-05-01 18:23:35,-25.565648,-49.326363,3
270,2017-05-01,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,2017-05-01 23:18:09,2017-05-01 23:14:27,-25.504091,-49.334712,2
271,2017-05-01,3829762.0,70106.0,8.0,36326.0,2017-05-01 23:53:24,2017-05-01 22:31:30,-25.564955,-49.328974,35107.0,2017-05-02 00:24:15,2017-05-01 23:01:45,-25.512756,-49.330335,1

In [270]:
cand_itineraries_df.dtypes

date                datetime64[ns]
card_num                   float64
trip_id                    float64
otp_itinerary_id           float64
from_stop_id               float64
sch_start_time      datetime64[ns]
obs_start_time      datetime64[ns]
from_stop_lat              float64
from_stop_lon              float64
to_stop_id                 float64
sch_end_time        datetime64[ns]
obs_end_time        datetime64[ns]
to_stop_lat                float64
to_stop_lon                float64
num_transfers                int64
dtype: object

#### Add origin/next-origin locations

In [271]:
passenger_trips_valid_df = trips_on_pairs_full.filter(['cardNum','o_boarding_id','o_stop_lat','o_stop_lon','o_boarding_datetime','next_o_stop_lat','next_o_stop_lon','next_o_boarding_datetime']) \
                            .rename(index=str, columns={'cardNum':'card_num','o_boarding_id':'trip_id'})

In [272]:
passenger_trips_valid_df.head()

,card_num,trip_id,o_stop_lat,o_stop_lon,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime
0,1886552.0,180.0,-25.568989,-49.332253,2017-05-01 04:48:42,-25.431951,-49.296491,2017-05-01 15:52:39
1,1886552.0,40392.0,-25.431951,-49.296491,2017-05-01 15:52:39,-25.568989,-49.332253,2017-05-01 04:48:42
2,3601076.0,181.0,-25.566860,-49.332900,2017-05-01 04:49:13,-25.447479,-49.263816,2017-05-01 14:16:55
3,3601076.0,31560.0,-25.447479,-49.263816,2017-05-01 14:16:55,-25.566860,-49.332900,2017-05-01 04:49:13
4,3282345.0,182.0,-25.566860,-49.332900,2017-05-01 04:49:19,-25.432534,-49.338889,2017-05-01 19:27:16

In [273]:
passenger_trips_valid_df.dtypes

card_num                           float64
trip_id                            float64
o_stop_lat                         float64
o_stop_lon                         float64
o_boarding_datetime         datetime64[ns]
next_o_stop_lat                    float64
next_o_stop_lon                    float64
next_o_boarding_datetime    datetime64[ns]
dtype: object

In [274]:
def dist(p1_lat, p1_lon, p2_lat, p2_lon):
    if(np.isnan([p1_lat, p1_lon, p2_lat, p2_lon]).any()):
        return -1
    else:
        return np.around(distance.geodesic((p1_lat,p1_lon),(p2_lat,p2_lon)).km,decimals=5)

In [275]:
def get_candidate_itineraries_summary(candidate_itineraries,trips_validation):
        otp_buste_itineraries_summary = candidate_itineraries \
                                        .merge(trips_validation,how='inner') \
                                        .assign(start_diff = lambda x: np.absolute(x['obs_start_time'] - x['o_boarding_datetime']),
                                                origin_dist = lambda y: y.apply(lambda x: dist(x['from_stop_lat'], x['from_stop_lon'], x['o_stop_lat'], x['o_stop_lon']),axis=1),
                                                next_origin_dist = lambda y: y.apply(lambda x: dist(x['to_stop_lat'], x['to_stop_lon'], x['next_o_stop_lat'], x['next_o_stop_lon']),axis=1),
                                                next_start_diff = lambda x: np.absolute(x['next_o_boarding_datetime'] - x['obs_end_time']),
                                                sch_duration_mins = lambda x: 
                                                (x.sch_end_time - x.sch_start_time)/pd.Timedelta('1m'),
                                                obs_duration_mins = lambda x:
                                                (x.obs_end_time - x.obs_start_time)/pd.Timedelta('1m')) \
                                        .sort_values(['card_num','trip_id'])
        return otp_buste_itineraries_summary

In [276]:
cand_itineraries_loc_validation = get_candidate_itineraries_summary(cand_itineraries_df,passenger_trips_valid_df)

In [277]:
cand_itineraries_loc_validation

,date,card_num,trip_id,otp_itinerary_id,from_stop_id,sch_start_time,obs_start_time,from_stop_lat,from_stop_lon,to_stop_id,...,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,obs_duration_mins,origin_dist,sch_duration_mins,start_diff
0,2017-05-01,869122.0,28204.0,2.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.866667,0 days
1,2017-05-01,869122.0,28204.0,5.0,34260.0,2017-05-01 14:19:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,14.283333,0 days
2,2017-05-01,869122.0,28204.0,6.0,34260.0,2017-05-01 14:33:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,14.283333,0 days
3,2017-05-01,869122.0,28204.0,8.0,34260.0,2017-05-01 15:18:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.866667,0 days
4,2017-05-01,869122.0,28204.0,9.0,34260.0,2017-05-01 15:31:21,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.516667,0 days
5,2017-05-01,869122.0,28204.0,10.0,34260.0,2017-05-01 15:46:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.600000,0 days
6,2017-05-01,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,48.483333,0 days
7,2017-05-01,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:55:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,54.550000,0 days
8,2017-05-01,1024869.0,28174.0,9.0,33580.0,2017-05-01 14:10:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,51.483333,0 days
9,2017-05-01,1024869.0,28174.0,10.0,33580.0,2017-05-01 14:25:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,47.483333,0 days
10,2017-05-01,1168962.0,28455.0,1.0,37403.0,2017-05-01 13:38:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,01:01:48,39.383333,0.0,41.800000,0 days
11,2017-05-01,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:56:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,40.283333,0 days
12,2017-05-01,1168962.0,28455.0,4.0,37403.0,2017-05-01 14:14:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,41.283333,0 days
13,2017-05-01,1168962.0,28455.0,6.0,37403.0,2017-05-01 14:32:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,42.283333,0 days
14,2017-05-01,1168962.0,28455.0,7.0,37403.0,2017-05-01 14:50:48,2017-05-01 13:40:12,-25.557041,-49.283864,26239.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.04269,01:11:24,29.783333,0.0,40.833333,0 days
15,2017-05-01,1168962.0,28455.0,10.0,37403.0,2017-05-01 15:08:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,44.283333,0 days
16,2017-05-01,1354462.0,28373.0,6.0,39837.0,2017-05-01 14:47:24,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,...,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.01922,01:00:38,60.850000,0.0,80.016667,0 days
17,2017-05-01,1354462.0,28373.0,10.0,39837.0,2017-05-01 15:15:20,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,...,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.01922,01:00:38,60.850000,0.0,81.550000,0 days
18,2017-05-01,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:51:59,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:09:36,68.000000,0.0,72.900000,0 days
19,2017-05-01,1354462.0,39353.0,5.0,33745.0,2017-05-01 16:46:30,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,70.883333,0 days
20,2017-05-01,1354462.0,39353.0,6.0,33745.0,2017-05-01 16:53:23,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:35:48,94.200000,0.0,77.016667,0 days
21,2017-05-01,1354462.0,39353.0,7.0,33745.0,2017-05-01 17:04:20,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,67.050000,0 days
22,2017-05-01,1354462.0,39353.0,8.0,33745.0,2017-05-01 17:14:45,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,70.633333,0 days
23,2017-05-01,1354462.0,39353.0,10.0,33745.0,2017-05-01 17:19:04,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:35:48,94.200000,0.0,77.333333,0 days
24,2017-05-01,1447119.0,58869.0,5.0,33311.0,2017-05-01 19:17:29,2017-05-01 18:59:21,-25.413376,-49.301067,36283.0,...,2017-05-01 18:59:21,-25.573303,-49.334882,2017-05-01 13:38:02,0.03086,09:29:19,248.000000,0.0,106.816667,0 days
25,2017-05-01,1497570.0,43854.0,1.0,32785.0,2017-05-01 16:34:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,...,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:04:28,-48.083333,0.0,15.300000,0 days
26,2017-05-01,1497570.0,43854.0,8.0,32785.0,2017-05-01 16:54:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,...,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:04:28,-48.083333,0.0,15.300000,0 days
27,2017-05-01,1497570.0,43854.0,9.0,32785.0,2017-05-01 17:10:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,...,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:04:28,-48.083333,0.0,16.316667,0 days
28,2017-05-01,1497570.0,43854.0,10.0,32785.0,2017-05-01 17:26:00,2017-05-01 16:29:17,-25.416320,-49.269040,32794.0,...,2017-05-01 16:29:17,-25.422483,-49.284328,2017-05-01 13:36:44,0.02317,02:04:28,-48.083333,0.0,17.333333,0 days
29,2017-05-01,1998953.0,28180.0,5.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,-25.366552,-49.272462,28615.0,...,2017-05-01 13:36:46,-25.423318,-49.268572,2017-05-01 17:57:56,0.15181,03:57:19,23.850000,0.0,31.300000,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2017-05-01,3763097.0,41233.0,10.0,26363.0,2017-05-01 17:23:00,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,...,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,15.150000,0.0,24.533333,0 days
243,2017-05-01,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:45:08,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,30.400000,0 days
244,2017-05-01,3791033.0,28402.0,8.0,34133.0,2017-05-01 14:28:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,36.066667,0 days
245,2017-05-01,3791033.0,28402.0,9.0,34133.0,2017-05-01 14:42:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,31.733333,0 days
246,2017-05-01,3791033.0,28402.0,10.0,34133.0,2017-05-01 14:56:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,29.733333,0 days
247,2017-05-01,3798510.0,28485.0,8.0,27195.0,2017-05-01 14:15:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,...,2017-05-01 13:40:38,-25.444810,-49.285586,2017-05-01 16:21:41,0.00115,01:57:45,43.300000,0.0,53.866667,0 days
248,2017-05-01,3798510.0,28485.0,10.0,27195.0,2017-05-01 14:40:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,...,2017-05-01 13:40:38,-25.444810,-49.285586,2017-05-01 16:21:41,0.00115,01:57:45,43.300000,0.0,50.866667,0 days
249,2017-05-01,3806874.0,28363.0,1.0,31481.0,2017-05-01 13:43:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
250,2017-05-01,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:57:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.816667,0 days
251,2017-05-01,3806874.0,28363.0,5.0,31481.0,2017-05-01 14:15:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
252,2017-05-01,3806874.0,28363.0,7.0,31481.0,2017-05-01 14:29:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.816667,0 days
253,2017-05-01,3806874.0,28363.0,8.0,31481.0,2017-05-01 14:47:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
254,2017-05-01,3806874.0,28363.0,10.0,31481.0,2017-05-01 15:03:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
255,2017-05-01,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:43:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,...,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,47.816667,0.0,43.733333,0 days
256,2017-05-01,3815019.0,28388.0,5.0,38519.0,2017-05-01 14:03:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,...,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:17:07,55.300000,0.0,42.683333,0 days
257,2017-05-01,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,...,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:19:23,39.750000,0.0,41.350000,0 days
258,2017-05-01,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:59:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,...,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:19:23,39.750000,0.0,41.350000,0 days
259,2017-05-01,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,...,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:26:48,43.750000,0.0,30.983333,0 days
260,2017-05-01,3823073.0,28150.0,8.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,...,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:26:48,43.750000,0.0,30.583333,0 days
261,2017-05-01,3829656.0,70138.0,9.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,-25.546662,-49.319794,35449.0,...,2017-05-01 22:31:59,-25.559668,-49.338593,2017-05-01 13:39:36,0.69825,09:06:13,13.833333,0.0,15.383333,0 days
262,2017-05-01,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:54:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,35.316667,0 days
263,2017-05-01,3829762.0,28411.0,4.0,33849.0,2017-05-01 14:18:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.750000,0 days
264,2017-05-01,3829762.0,28411.0,7.0,33849.0,2017-05-01 14:42:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.750000,0 days
265,2017-05-01,3829762.0,28411.0,9.0,33849.0,2017-05-01 15:06:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,35.316667,0 days
266,2017-05-01,3829762.0,28411.0,10.0,33849.0,2017-05-01 15:54:35,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.866667,0 days
267,2017-05-01,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:40:46,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,78.850000,0 days
268,2017-05-01,3829762.0,44578.0,5.0,29157.0,2017-05-01 17:07:08,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,74.483333,0 days
269,2017-05-01,3829762.0,44578.0,10.0,29157.0,2017-05-01 17:34:30,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,69.116667,0 days
270,2017-05-01,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,...,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,0.01113,09:34:43,42.950000,0.0,28.383333,0 days
271,2017-05-01,3829762.0,70106.0,8.0,36326.0,2017-05-01 23:53:24,2017-05-01 22:31:30,-25.564955,-49.328974,35107.0,...,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,1.05171,09:22:01,30.250000,0.0,30.850000,0 days

In [278]:
valid_candidate_itineraries = cand_itineraries_loc_validation[((cand_itineraries_loc_validation['obs_duration_mins'] > 0) & 
                                                               (cand_itineraries_loc_validation['obs_duration_mins'] < 120)) & 
                                                              ((cand_itineraries_loc_validation['start_diff'] >= pd.Timedelta('0s')) & 
                                                               (cand_itineraries_loc_validation['start_diff'] < pd.Timedelta('1.5h')))] \
                                    .query('origin_dist < 0.1') \
                                    .query('next_origin_dist < 2.0')
                                    #NEXT_START_DIFF

In [279]:
valid_candidate_itineraries

,date,card_num,trip_id,otp_itinerary_id,from_stop_id,sch_start_time,obs_start_time,from_stop_lat,from_stop_lon,to_stop_id,...,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,obs_duration_mins,origin_dist,sch_duration_mins,start_diff
0,2017-05-01,869122.0,28204.0,2.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.866667,0 days
1,2017-05-01,869122.0,28204.0,5.0,34260.0,2017-05-01 14:19:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,14.283333,0 days
2,2017-05-01,869122.0,28204.0,6.0,34260.0,2017-05-01 14:33:35,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,14.283333,0 days
3,2017-05-01,869122.0,28204.0,8.0,34260.0,2017-05-01 15:18:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.866667,0 days
4,2017-05-01,869122.0,28204.0,9.0,34260.0,2017-05-01 15:31:21,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.516667,0 days
5,2017-05-01,869122.0,28204.0,10.0,34260.0,2017-05-01 15:46:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.600000,0 days
6,2017-05-01,1024869.0,28174.0,1.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,48.483333,0 days
7,2017-05-01,1024869.0,28174.0,5.0,33580.0,2017-05-01 13:55:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,54.550000,0 days
8,2017-05-01,1024869.0,28174.0,9.0,33580.0,2017-05-01 14:10:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,51.483333,0 days
9,2017-05-01,1024869.0,28174.0,10.0,33580.0,2017-05-01 14:25:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,47.483333,0 days
10,2017-05-01,1168962.0,28455.0,1.0,37403.0,2017-05-01 13:38:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,01:01:48,39.383333,0.0,41.800000,0 days
11,2017-05-01,1168962.0,28455.0,2.0,37403.0,2017-05-01 13:56:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,40.283333,0 days
12,2017-05-01,1168962.0,28455.0,4.0,37403.0,2017-05-01 14:14:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,41.283333,0 days
13,2017-05-01,1168962.0,28455.0,6.0,37403.0,2017-05-01 14:32:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,42.283333,0 days
14,2017-05-01,1168962.0,28455.0,7.0,37403.0,2017-05-01 14:50:48,2017-05-01 13:40:12,-25.557041,-49.283864,26239.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.04269,01:11:24,29.783333,0.0,40.833333,0 days
15,2017-05-01,1168962.0,28455.0,10.0,37403.0,2017-05-01 15:08:48,2017-05-01 13:40:12,-25.557041,-49.283864,26197.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.00463,00:54:11,47.000000,0.0,44.283333,0 days
16,2017-05-01,1354462.0,28373.0,6.0,39837.0,2017-05-01 14:47:24,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,...,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.01922,01:00:38,60.850000,0.0,80.016667,0 days
17,2017-05-01,1354462.0,28373.0,10.0,39837.0,2017-05-01 15:15:20,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,...,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.01922,01:00:38,60.850000,0.0,81.550000,0 days
18,2017-05-01,1354462.0,39353.0,1.0,33745.0,2017-05-01 15:51:59,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:09:36,68.000000,0.0,72.900000,0 days
19,2017-05-01,1354462.0,39353.0,5.0,33745.0,2017-05-01 16:46:30,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,70.883333,0 days
20,2017-05-01,1354462.0,39353.0,6.0,33745.0,2017-05-01 16:53:23,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:35:48,94.200000,0.0,77.016667,0 days
21,2017-05-01,1354462.0,39353.0,7.0,33745.0,2017-05-01 17:04:20,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,67.050000,0 days
22,2017-05-01,1354462.0,39353.0,8.0,33745.0,2017-05-01 17:14:45,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:52:36,111.000000,0.0,70.633333,0 days
23,2017-05-01,1354462.0,39353.0,10.0,33745.0,2017-05-01 17:19:04,2017-05-01 15:40:50,-25.435506,-49.349914,35447.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.07176,03:35:48,94.200000,0.0,77.333333,0 days
29,2017-05-01,1998953.0,28180.0,5.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,-25.366552,-49.272462,28615.0,...,2017-05-01 13:36:46,-25.423318,-49.268572,2017-05-01 17:57:56,0.15181,03:57:19,23.850000,0.0,31.300000,0 days
30,2017-05-01,1998953.0,28180.0,9.0,31854.0,2017-05-01 14:39:54,2017-05-01 13:36:46,-25.366552,-49.272462,28615.0,...,2017-05-01 13:36:46,-25.423318,-49.268572,2017-05-01 17:57:56,0.15181,03:57:19,23.850000,0.0,32.766667,0 days
31,2017-05-01,1998953.0,52772.0,5.0,35642.0,2017-05-01 18:15:31,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,...,2017-05-01 17:57:59,-25.368502,-49.270891,2017-05-01 13:36:42,0.28449,04:49:49,28.533333,0.0,45.700000,0 days
32,2017-05-01,2100344.0,28332.0,6.0,31691.0,2017-05-01 14:07:12,2017-05-01 13:38:56,-25.381614,-49.243812,30598.0,...,2017-05-01 13:38:56,-25.397440,-49.256690,2017-05-01 14:24:29,0.21880,00:29:06,16.450000,0.0,20.283333,0 days
33,2017-05-01,2100344.0,28332.0,10.0,31691.0,2017-05-01 14:43:19,2017-05-01 13:38:56,-25.381614,-49.243812,30598.0,...,2017-05-01 13:38:56,-25.397440,-49.256690,2017-05-01 14:24:29,0.21880,00:29:06,16.450000,0.0,20.766667,0 days
34,2017-05-01,2100344.0,32136.0,4.0,30828.0,2017-05-01 14:55:11,2017-05-01 14:24:29,-25.397440,-49.256690,31692.0,...,2017-05-01 14:24:29,-25.381614,-49.243812,2017-05-01 13:38:56,0.05977,00:58:05,12.533333,0.0,17.350000,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2017-05-01,3763097.0,41233.0,10.0,26363.0,2017-05-01 17:23:00,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,...,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,15.150000,0.0,24.533333,0 days
243,2017-05-01,3791033.0,28402.0,1.0,34133.0,2017-05-01 13:45:08,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,30.400000,0 days
244,2017-05-01,3791033.0,28402.0,8.0,34133.0,2017-05-01 14:28:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,36.066667,0 days
245,2017-05-01,3791033.0,28402.0,9.0,34133.0,2017-05-01 14:42:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,31.733333,0 days
246,2017-05-01,3791033.0,28402.0,10.0,34133.0,2017-05-01 14:56:48,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,29.733333,0 days
247,2017-05-01,3798510.0,28485.0,8.0,27195.0,2017-05-01 14:15:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,...,2017-05-01 13:40:38,-25.444810,-49.285586,2017-05-01 16:21:41,0.00115,01:57:45,43.300000,0.0,53.866667,0 days
248,2017-05-01,3798510.0,28485.0,10.0,27195.0,2017-05-01 14:40:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,...,2017-05-01 13:40:38,-25.444810,-49.285586,2017-05-01 16:21:41,0.00115,01:57:45,43.300000,0.0,50.866667,0 days
249,2017-05-01,3806874.0,28363.0,1.0,31481.0,2017-05-01 13:43:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
250,2017-05-01,3806874.0,28363.0,2.0,31481.0,2017-05-01 13:57:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.816667,0 days
251,2017-05-01,3806874.0,28363.0,5.0,31481.0,2017-05-01 14:15:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
252,2017-05-01,3806874.0,28363.0,7.0,31481.0,2017-05-01 14:29:20,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.816667,0 days
253,2017-05-01,3806874.0,28363.0,8.0,31481.0,2017-05-01 14:47:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
254,2017-05-01,3806874.0,28363.0,10.0,31481.0,2017-05-01 15:03:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
255,2017-05-01,3815019.0,28388.0,2.0,38519.0,2017-05-01 13:43:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,...,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,47.816667,0.0,43.733333,0 days
256,2017-05-01,3815019.0,28388.0,5.0,38519.0,2017-05-01 14:03:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,...,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:17:07,55.300000,0.0,42.683333,0 days
257,2017-05-01,3816838.0,28486.0,1.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,...,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:19:23,39.750000,0.0,41.350000,0 days
258,2017-05-01,3816838.0,28486.0,5.0,27786.0,2017-05-01 13:59:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,...,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:19:23,39.750000,0.0,41.350000,0 days
259,2017-05-01,3823073.0,28150.0,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,...,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:26:48,43.750000,0.0,30.983333,0 days
260,2017-05-01,3823073.0,28150.0,8.0,33788.0,2017-05-01 14:28:17,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,...,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:26:48,43.750000,0.0,30.583333,0 days
261,2017-05-01,3829656.0,70138.0,9.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,-25.546662,-49.319794,35449.0,...,2017-05-01 22:31:59,-25.559668,-49.338593,2017-05-01 13:39:36,0.69825,09:06:13,13.833333,0.0,15.383333,0 days
262,2017-05-01,3829762.0,28411.0,1.0,33849.0,2017-05-01 13:54:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,35.316667,0 days
263,2017-05-01,3829762.0,28411.0,4.0,33849.0,2017-05-01 14:18:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.750000,0 days
264,2017-05-01,3829762.0,28411.0,7.0,33849.0,2017-05-01 14:42:33,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.750000,0 days
265,2017-05-01,3829762.0,28411.0,9.0,33849.0,2017-05-01 15:06:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,35.316667,0 days
266,2017-05-01,3829762.0,28411.0,10.0,33849.0,2017-05-01 15:54:35,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,36.866667,0 days
267,2017-05-01,3829762.0,44578.0,1.0,29157.0,2017-05-01 16:40:46,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,78.850000,0 days
268,2017-05-01,3829762.0,44578.0,5.0,29157.0,2017-05-01 17:07:08,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,74.483333,0 days
269,2017-05-01,3829762.0,44578.0,10.0,29157.0,2017-05-01 17:34:30,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,69.116667,0 days
270,2017-05-01,3829762.0,70106.0,1.0,36326.0,2017-05-01 22:49:46,2017-05-01 22:31:30,-25.564955,-49.328974,33850.0,...,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,0.01113,09:34:43,42.950000,0.0,28.383333,0 days
271,2017-05-01,3829762.0,70106.0,8.0,36326.0,2017-05-01 23:53:24,2017-05-01 22:31:30,-25.564955,-49.328974,35107.0,...,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,1.05171,09:22:01,30.250000,0.0,30.850000,0 days

In [280]:
inferred_trip_itineraries.columns.values

array(['card_num', 'trip_id', 'date', 'otp_itinerary_id', 'from_stop_id',
       'sch_start_time', 'obs_start_time', 'from_stop_lat',
       'from_stop_lon', 'to_stop_id', 'sch_end_time', 'obs_end_time',
       'to_stop_lat', 'to_stop_lon', 'num_transfers', 'o_stop_lat',
       'o_stop_lon', 'o_boarding_datetime', 'next_o_stop_lat',
       'next_o_stop_lon', 'next_o_boarding_datetime', 'next_origin_dist',
       'next_start_diff', 'obs_duration_mins', 'origin_dist',
       'sch_duration_mins', 'start_diff'], dtype=object)

In [281]:
inferred_trip_itineraries = valid_candidate_itineraries.sort_values(['card_num','trip_id','obs_duration_mins']) \
                                .groupby(['card_num','trip_id']) \
                                .first() \
                                .reset_index()

In [282]:
inferred_trip_itineraries

,card_num,trip_id,date,otp_itinerary_id,from_stop_id,sch_start_time,obs_start_time,from_stop_lat,from_stop_lon,to_stop_id,...,o_boarding_datetime,next_o_stop_lat,next_o_stop_lon,next_o_boarding_datetime,next_origin_dist,next_start_diff,obs_duration_mins,origin_dist,sch_duration_mins,start_diff
0,869122.0,28204.0,2017-05-01,2.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:05,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:05,-25.451180,-49.350724,2017-05-01 17:59:08,0.02096,04:06:53,15.166667,0.0,15.866667,0 days
1,1024869.0,28174.0,2017-05-01,1.0,33580.0,2017-05-01 13:40:27,2017-05-01 13:36:42,-25.506291,-49.224019,26905.0,...,2017-05-01 13:36:42,-25.441209,-49.275853,2017-05-01 18:30:23,0.82126,03:56:32,57.150000,0.0,48.483333,0 days
2,1168962.0,28455.0,2017-05-01,7.0,37403.0,2017-05-01 14:50:48,2017-05-01 13:40:12,-25.557041,-49.283864,26239.0,...,2017-05-01 13:40:12,-25.476335,-49.292629,2017-05-01 15:21:23,0.04269,01:11:24,29.783333,0.0,40.833333,0 days
3,1354462.0,28373.0,2017-05-01,6.0,39837.0,2017-05-01 14:47:24,2017-05-01 13:39:18,-25.556058,-49.332414,33970.0,...,2017-05-01 13:39:18,-25.433111,-49.352019,2017-05-01 15:40:47,0.01922,01:00:38,60.850000,0.0,80.016667,0 days
4,1354462.0,39353.0,2017-05-01,1.0,33745.0,2017-05-01 15:51:59,2017-05-01 15:40:50,-25.435506,-49.349914,35179.0,...,2017-05-01 15:40:50,-25.556058,-49.332414,2017-05-01 13:39:14,0.53028,03:09:36,68.000000,0.0,72.900000,0 days
5,1998953.0,28180.0,2017-05-01,5.0,31854.0,2017-05-01 14:03:29,2017-05-01 13:36:46,-25.366552,-49.272462,28615.0,...,2017-05-01 13:36:46,-25.423318,-49.268572,2017-05-01 17:57:56,0.15181,03:57:19,23.850000,0.0,31.300000,0 days
6,1998953.0,52772.0,2017-05-01,5.0,35642.0,2017-05-01 18:15:31,2017-05-01 17:57:59,-25.423318,-49.268572,29384.0,...,2017-05-01 17:57:59,-25.368502,-49.270891,2017-05-01 13:36:42,0.28449,04:49:49,28.533333,0.0,45.700000,0 days
7,2100344.0,28332.0,2017-05-01,6.0,31691.0,2017-05-01 14:07:12,2017-05-01 13:38:56,-25.381614,-49.243812,30598.0,...,2017-05-01 13:38:56,-25.397440,-49.256690,2017-05-01 14:24:29,0.21880,00:29:06,16.450000,0.0,20.283333,0 days
8,2100344.0,32136.0,2017-05-01,4.0,30828.0,2017-05-01 14:55:11,2017-05-01 14:24:29,-25.397440,-49.256690,31692.0,...,2017-05-01 14:24:29,-25.381614,-49.243812,2017-05-01 13:38:56,0.05977,00:58:05,12.533333,0.0,17.350000,0 days
9,2168963.0,28252.0,2017-05-01,1.0,32459.0,2017-05-01 13:44:34,2017-05-01 13:37:55,-25.471072,-49.194606,26045.0,...,2017-05-01 13:37:55,-25.438187,-49.238717,2017-05-01 18:00:26,0.01067,03:49:59,32.533333,0.0,34.350000,0 days
10,2271249.0,28290.0,2017-05-01,7.0,8644.0,2017-05-01 14:24:06,2017-05-01 13:38:19,-25.576357,-49.322097,26197.0,...,2017-05-01 13:38:19,-25.476335,-49.292629,2017-05-01 18:35:29,0.00463,04:15:54,41.266667,0.0,47.933333,0 days
11,2316370.0,28308.0,2017-05-01,2.0,32043.0,2017-05-01 13:38:03,2017-05-01 13:38:36,-25.534129,-49.300631,25730.0,...,2017-05-01 13:38:36,-25.441209,-49.275853,2017-05-01 22:56:59,0.00020,08:37:10,41.216667,0.0,52.633333,0 days
12,2365921.0,28364.0,2017-05-01,2.0,33072.0,2017-05-01 13:44:47,2017-05-01 13:39:15,-25.411356,-49.292004,25415.0,...,2017-05-01 13:39:15,-25.430373,-49.211228,2017-05-01 17:24:30,0.00345,03:06:10,39.083333,0.0,46.100000,0 days
13,2407131.0,28424.0,2017-05-01,1.0,33535.0,2017-05-01 13:41:48,2017-05-01 13:39:51,-25.440179,-49.355608,25757.0,...,2017-05-01 13:39:51,-25.430289,-49.292615,2017-05-01 22:52:07,0.01068,08:29:48,42.466667,0.0,29.516667,0 days
14,2499960.0,28397.0,2017-05-01,3.0,35254.0,2017-05-01 14:18:04,2017-05-01 13:39:31,-25.477644,-49.332598,30991.0,...,2017-05-01 13:39:31,-25.441614,-49.346740,2017-05-01 20:19:19,0.06986,06:21:24,18.400000,0.0,20.700000,0 days
15,2540240.0,28393.0,2017-05-01,8.0,32607.0,2017-05-01 14:13:10,2017-05-01 13:39:26,-25.513013,-49.262555,26087.0,...,2017-05-01 13:39:26,-25.472308,-49.251698,2017-05-01 15:43:32,0.00001,01:33:29,30.616667,0.0,24.583333,0 days
16,2701330.0,28164.0,2017-05-01,10.0,30320.0,2017-05-01 15:35:48,2017-05-01 13:36:35,-25.421591,-49.335066,30262.0,...,2017-05-01 13:36:35,-25.430393,-49.317373,2017-05-01 15:36:36,0.00000,01:38:50,21.183333,0.0,18.183333,0 days
17,2701330.0,38953.0,2017-05-01,2.0,30262.0,2017-05-01 15:53:59,2017-05-01 15:36:38,-25.430393,-49.317373,30319.0,...,2017-05-01 15:36:38,-25.421591,-49.335066,2017-05-01 13:36:35,0.01540,02:03:40,3.616667,0.0,8.250000,0 days
18,2715287.0,28154.0,2017-05-01,1.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:36:28,-25.585230,-49.337210,25521.0,...,2017-05-01 13:36:28,-25.443355,-49.281734,2017-05-01 23:07:19,0.13351,08:32:34,58.283333,0.0,73.600000,0 days
19,2753503.0,28329.0,2017-05-01,6.0,32508.0,2017-05-01 13:42:07,2017-05-01 13:38:54,-25.410306,-49.204294,25389.0,...,2017-05-01 13:38:54,-25.437655,-49.266632,2017-05-01 18:18:26,0.01184,03:51:54,47.633333,0.0,57.250000,0 days
20,2853469.0,28165.0,2017-05-01,1.0,30798.0,2017-05-01 13:38:46,2017-05-01 13:36:35,-25.477617,-49.216957,26157.0,...,2017-05-01 13:36:35,-25.434761,-49.272470,2017-05-01 17:30:08,0.01507,03:29:46,23.783333,0.0,33.466667,0 days
21,2853469.0,49951.0,2017-05-01,5.0,26156.0,2017-05-01 17:48:00,2017-05-01 17:30:08,-25.434761,-49.272470,3830.0,...,2017-05-01 17:30:08,-25.477617,-49.216957,2017-05-01 13:36:35,0.39152,04:26:10,32.616667,0.0,44.783333,0 days
22,2868236.0,28341.0,2017-05-01,6.0,32508.0,2017-05-01 13:42:07,2017-05-01 13:39:02,-25.410306,-49.204294,25389.0,...,2017-05-01 13:39:02,-25.437655,-49.266632,2017-05-01 18:18:29,0.01184,03:51:57,47.500000,0.0,57.250000,0 days
23,2948567.0,28491.0,2017-05-01,3.0,28124.0,2017-05-01 13:49:00,2017-05-01 13:40:42,-25.406384,-49.252353,27945.0,...,2017-05-01 13:40:42,-25.439980,-49.221858,2017-05-01 20:28:30,0.07058,06:37:22,10.433333,0.0,27.916667,0 days
24,3013861.0,28349.0,2017-05-01,2.0,27475.0,2017-05-01 13:44:00,2017-05-01 13:39:09,-25.492468,-49.293309,27746.0,...,2017-05-01 13:39:09,-25.481927,-49.246999,2017-05-01 18:41:49,0.05260,04:48:42,13.966667,0.0,25.033333,0 days
25,3016604.0,28422.0,2017-05-01,1.0,37405.0,2017-05-01 13:38:12,2017-05-01 13:39:50,-25.557108,-49.282218,25523.0,...,2017-05-01 13:39:50,-25.461214,-49.289889,2017-05-01 22:51:54,0.01083,08:25:04,47.000000,0.0,51.416667,0 days
26,3060150.0,28234.0,2017-05-01,5.0,26314.0,2017-05-01 13:49:00,2017-05-01 13:37:35,-25.429689,-49.272649,34553.0,...,2017-05-01 13:37:35,-25.423123,-49.305867,2017-05-01 16:24:53,1.30390,02:16:34,30.733333,0.0,27.683333,0 days
27,3060150.0,43419.0,2017-05-01,5.0,34237.0,2017-05-01 16:55:01,2017-05-01 16:24:53,-25.423123,-49.305867,10320.0,...,2017-05-01 16:24:53,-25.429689,-49.272649,2017-05-01 13:37:35,0.05150,03:01:42,14.400000,0.0,14.900000,0 days
28,3181018.0,28476.0,2017-05-01,1.0,38516.0,2017-05-01 13:44:42,2017-05-01 13:40:36,-25.560733,-49.314580,25924.0,...,2017-05-01 13:40:36,-25.472613,-49.294477,2017-05-01 23:00:33,0.01070,08:23:47,56.166667,0.0,46.366667,0 days
29,3209191.0,28391.0,2017-05-01,5.0,39733.0,2017-05-01 14:01:59,2017-05-01 13:39:26,-25.574114,-49.329464,33846.0,...,2017-05-01 13:39:26,-25.503570,-49.322926,2017-05-01 14:54:40,1.27917,00:04:45,70.483333,0.0,62.866667,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,3575247.0,28487.0,2017-05-01,2.0,26877.0,2017-05-01 13:56:44,2017-05-01 13:40:39,-25.379321,-49.315545,35531.0,...,2017-05-01 13:40:39,-25.502939,-49.337871,2017-05-01 20:28:26,0.00000,05:23:09,84.633333,0.0,93.633333,0 days
48,3575247.0,65005.0,2017-05-01,1.0,35531.0,2017-05-01 20:35:36,2017-05-01 20:28:26,-25.502939,-49.337871,26858.0,...,2017-05-01 20:28:26,-25.379321,-49.315545,2017-05-01 13:40:37,0.01179,08:09:58,82.150000,0.0,91.000000,0 days
49,3582554.0,28225.0,2017-05-01,10.0,30320.0,2017-05-01 15:35:48,2017-05-01 13:37:23,-25.421591,-49.335066,30262.0,...,2017-05-01 13:37:23,-25.430393,-49.317373,2017-05-01 19:27:42,0.00000,05:29:56,20.383333,0.0,18.183333,0 days
50,3582554.0,61753.0,2017-05-01,1.0,30262.0,2017-05-01 19:40:09,2017-05-01 19:27:42,-25.430393,-49.317373,30319.0,...,2017-05-01 19:27:42,-25.421591,-49.335066,2017-05-01 13:37:23,0.01540,05:53:48,3.483333,0.0,8.566667,0 days
51,3594909.0,28306.0,2017-05-01,1.0,29839.0,2017-05-01 13:43:48,2017-05-01 13:38:33,-25.526341,-49.252934,25732.0,...,2017-05-01 13:38:33,-25.448327,-49.287780,2017-05-01 23:12:13,0.00051,08:48:27,45.216667,0.0,45.450000,0 days
52,3631040.0,28282.0,2017-05-01,2.0,39259.0,2017-05-01 13:42:24,2017-05-01 13:38:16,-25.567449,-49.315098,25737.0,...,2017-05-01 13:38:16,-25.484419,-49.293792,2017-05-01 15:30:41,0.01026,01:01:55,50.500000,0.0,45.983333,0 days
53,3702057.0,28226.0,2017-05-01,2.0,34260.0,2017-05-01 14:07:00,2017-05-01 13:37:24,-25.423548,-49.351123,34123.0,...,2017-05-01 13:37:24,-25.451180,-49.350724,2017-05-01 17:58:54,0.02096,04:06:39,14.850000,0.0,15.866667,0 days
54,3706490.0,28356.0,2017-05-01,1.0,27475.0,2017-05-01 13:44:00,2017-05-01 13:39:13,-25.492468,-49.293309,30950.0,...,2017-05-01 13:39:13,-25.457834,-49.232411,2017-05-01 19:19:27,0.03987,05:01:33,38.683333,0.0,36.366667,0 days
55,3706490.0,61070.0,2017-05-01,3.0,30949.0,2017-05-01 19:40:16,2017-05-01 19:19:27,-25.457834,-49.232411,26228.0,...,2017-05-01 19:19:27,-25.492468,-49.293309,2017-05-01 13:39:13,0.03066,06:17:23,37.150000,0.0,39.800000,0 days
56,3717526.0,28177.0,2017-05-01,5.0,35212.0,2017-05-01 13:45:18,2017-05-01 13:36:44,-25.494476,-49.298993,25924.0,...,2017-05-01 13:36:44,-25.472613,-49.294477,2017-05-01 20:53:34,0.01070,07:00:33,16.283333,0.0,15.666667,0 days
57,3721290.0,28172.0,2017-05-01,6.0,27786.0,2017-05-01 13:55:39,2017-05-01 13:36:41,-25.467447,-49.198471,26208.0,...,2017-05-01 13:36:41,-25.413140,-49.205680,2017-05-01 23:00:10,0.01420,07:42:46,100.716667,0.0,58.350000,0 days
58,3733084.0,57607.0,2017-05-01,10.0,31582.0,2017-05-01 20:06:51,2017-05-01 18:46:16,-25.556360,-49.249510,31243.0,...,2017-05-01 18:46:16,-25.535646,-49.284689,2017-05-01 13:36:29,1.21151,05:37:51,28.066667,0.0,32.966667,0 days
59,3739436.0,28161.0,2017-05-01,4.0,14404.0,2017-05-01 13:44:57,2017-05-01 13:36:33,-25.452238,-49.224005,25646.0,...,2017-05-01 13:36:33,-25.435634,-49.256611,2017-05-01 22:45:32,0.00303,08:41:07,27.866667,0.0,25.933333,0 days
60,3753611.0,28383.0,2017-05-01,1.0,31580.0,2017-05-01 13:42:40,2017-05-01 13:39:22,-25.557718,-49.247926,25825.0,...,2017-05-01 13:39:22,-25.512840,-49.279851,2017-05-01 19:19:23,0.00116,05:10:37,29.400000,0.0,29.683333,0 days
61,3757042.0,28272.0,2017-05-01,1.0,30265.0,2017-05-01 13:39:02,2017-05-01 13:38:05,-25.430759,-49.338133,26314.0,...,2017-05-01 13:38:05,-25.428481,-49.271082,2017-05-01 14:04:34,0.20680,00:08:46,17.716667,0.0,28.400000,0 days
62,3757042.0,30519.0,2017-05-01,7.0,26353.0,2017-05-01 14:32:00,2017-05-01 14:04:45,-25.428481,-49.271082,28587.0,...,2017-05-01 14:04:45,-25.407068,-49.271578,2017-05-01 15:55:39,0.01572,01:40:30,10.400000,0.0,9.850000,0 days
63,3757042.0,40705.0,2017-05-01,6.0,10906.0,2017-05-01 16:18:48,2017-05-01 15:55:41,-25.409002,-49.271733,26349.0,...,2017-05-01 15:55:41,-25.429689,-49.272649,2017-05-01 16:44:08,0.18338,00:34:21,14.100000,0.0,12.200000,0 days
64,3757042.0,45308.0,2017-05-01,1.0,26314.0,2017-05-01 16:47:00,2017-05-01 16:44:12,-25.429689,-49.272649,34566.0,...,2017-05-01 16:44:12,-25.430759,-49.338133,2017-05-01 13:38:00,0.11249,03:30:53,24.683333,0.0,29.150000,0 days
65,3763097.0,28214.0,2017-05-01,1.0,31811.0,2017-05-01 13:36:06,2017-05-01 13:37:13,-25.414393,-49.219571,26363.0,...,2017-05-01 13:37:13,-25.428383,-49.266502,2017-05-01 16:00:59,0.00000,02:06:08,17.633333,0.0,21.900000,0 days
66,3763097.0,41233.0,2017-05-01,1.0,26363.0,2017-05-01 16:10:00,2017-05-01 16:01:13,-25.428383,-49.266502,31813.0,...,2017-05-01 16:01:13,-25.414393,-49.219571,2017-05-01 13:37:04,0.02644,02:39:18,15.150000,0.0,22.916667,0 days
67,3791033.0,28402.0,2017-05-01,1.0,34133.0,2017-05-01 13:45:08,2017-05-01 13:39:33,-25.458196,-49.346719,25753.0,...,2017-05-01 13:39:33,-25.436627,-49.317949,2017-05-01 22:15:27,0.41480,07:55:17,40.616667,0.0,30.400000,0 days
68,3798510.0,28485.0,2017-05-01,8.0,27195.0,2017-05-01 14:15:52,2017-05-01 13:40:38,-25.376405,-49.238659,25393.0,...,2017-05-01 13:40:38,-25.444810,-49.285586,2017-05-01 16:21:41,0.00115,01:57:45,43.300000,0.0,53.866667,0 days
69,3806874.0,28363.0,2017-05-01,1.0,31481.0,2017-05-01 13:43:40,2017-05-01 13:39:15,-25.467161,-49.221436,31467.0,...,2017-05-01 13:39:15,-25.452337,-49.229947,2017-05-01 13:47:21,0.32804,00:01:22,9.466667,0.0,11.333333,0 days
70,3815019.0,28388.0,2017-05-01,2.0,38519.0,2017-05-01 13:43:21,2017-05-01 13:39:23,-25.564788,-49.315151,26197.0,...,2017-05-01 13:39:23,-25.476335,-49.292629,2017-05-01 14:51:48,0.00463,00:24:36,47.816667,0.0,43.733333,0 days
71,3816838.0,28486.0,2017-05-01,1.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:39,-25.467447,-49.198471,25389.0,...,2017-05-01 13:40:39,-25.437655,-49.266632,2017-05-01 22:39:47,0.01184,08:19:23,39.750000,0.0,41.350000,0 days
72,3823073.0,28150.0,2017-05-01,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:36:25,-25.436303,-49.362221,25753.0,...,2017-05-01 13:36:25,-25.436627,-49.317949,2017-05-01 18:46:58,0.41480,04:26:48,43.750000,0.0,30.983333,0 days
73,3829656.0,70138.0,2017-05-01,9.0,35167.0,2017-05-01 23:28:50,2017-05-01 22:31:59,-25.546662,-49.319794,35449.0,...,2017-05-01 22:31:59,-25.559668,-49.338593,2017-05-01 13:39:36,0.69825,09:06:13,13.833333,0.0,15.383333,0 days
74,3829762.0,28411.0,2017-05-01,1.0,33849.0,2017-05-01 13:54:08,2017-05-01 13:39:44,-25.504165,-49.334787,5452.0,...,2017-05-01 13:39:44,-25.534177,-49.267780,2017-05-01 14:29:18,0.03514,00:18:24,31.166667,0.0,35.316667,0 days
75,3829762.0,44578.0,2017-05-01,1.0,29157.0,2017-05-01 16:40:46,2017-05-01 16:36:31,-25.443394,-49.242750,39270.0,...,2017-05-01 16:36:31,-25.564955,-49.328974,2017-05-01 22:31:30,0.27341,04:07:55,107.066667,0.0,78.850000,0 days
76,3829762.0,70106.0,2017-05-01,8.0,36326.0,2017-05-01 23:53:24,2017-05-01 22:31:30,-25.564955,-49.328974,35107.0,...,2017-05-01 22:31:30,-25.504165,-49.334787,2017-05-01 13:39:44,1.05171,09:22:01,30.250000,0.0,30.850000,0 days

In [283]:
inferred_trip_itineraries.filter(['next_origin_dist','next_start_diff','origin_dist','start_diff','trip_duration']).describe()

       next_origin_dist         next_start_diff  origin_dist       start_diff
count         77.000000                      77         77.0               77
mean           0.176025  0 days 04:33:41.194805          0.0  0 days 00:00:00
std            0.305169  0 days 02:49:42.961504          0.0  0 days 00:00:00
min            0.000000         0 days 00:01:22          0.0  0 days 00:00:00
25%            0.010680         0 days 02:16:34          0.0  0 days 00:00:00
50%            0.032650         0 days 04:15:54          0.0  0 days 00:00:00
75%            0.206800         0 days 06:37:22          0.0  0 days 00:00:00
max            1.303900         0 days 09:44:28          0.0  0 days 00:00:00

#### Writing Inferred Trips Itineraries dataset to file

In [251]:
inf_trips_itineraries_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_itins_inf_trips.csv'
inferred_trip_itineraries.to_csv(inf_trips_itineraries_output_filepath,index=False)

#### Getting Itineraries Legs back

In [252]:
    inferred_trip_itineraries_legs = pass_itins_legs.merge(inferred_trip_itineraries \
                                                           .filter(['card_num','trip_id','otp_itinerary_id']),
                                                           how='inner') \
                                                    .sort_values(['card_num','trip_id','otp_itinerary_id','otp_leg_id'])

In [254]:
inferred_trip_itineraries_legs

,date,card_num,trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,...,bt_start_time,otp_to_stop_id,otp_end_time,bt_end_time,otp_duration_mins,bt_duration_mins,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,2017-05-01,869122.0,28204.0,2,1,BUS,040,HB604,4.0,34260.0,...,2017-05-01 13:37:05,34123.0,2017-05-01 14:22:38,2017-05-01 13:52:15,15.633333,15.166667,-25.423548,-49.351123,-25.451351,-49.350814
1,2017-05-01,869122.0,28204.0,2,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:15,NaN,2017-05-01 14:22:52,2017-05-01 13:52:15,0.216667,NaN,NaN,NaN,NaN,NaN
2,2017-05-01,1024869.0,28174.0,1,1,BUS,515,EA303,10.0,33580.0,...,2017-05-01 13:36:42,27791.0,2017-05-01 13:56:00,2017-05-01 13:52:12,15.550000,15.500000,-25.506291,-49.224019,-25.481843,-49.246769
3,2017-05-01,1024869.0,28174.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:12,NaN,2017-05-01 13:58:59,2017-05-01 13:55:12,2.983333,NaN,NaN,NaN,NaN,NaN
4,2017-05-01,1024869.0,28174.0,1,3,BUS,503,KE842,9.0,27474.0,...,2017-05-01 14:05:30,26905.0,2017-05-01 14:18:06,2017-05-01 14:22:51,17.033333,17.350000,-25.481586,-49.247071,-25.438600,-49.268210
5,2017-05-01,1024869.0,28174.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:22:51,NaN,2017-05-01 14:28:56,2017-05-01 14:33:51,10.816667,NaN,NaN,NaN,NaN,NaN
6,2017-05-01,1168962.0,28455.0,7,1,BUS,639,GA142,10.0,37403.0,...,2017-05-01 13:40:12,31026.0,2017-05-01 15:12:00,2017-05-01 13:58:18,21.200000,18.100000,-25.557041,-49.283864,-25.512969,-49.294833
7,2017-05-01,1168962.0,28455.0,7,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:58:18,NaN,2017-05-01 15:12:04,2017-05-01 13:58:18,0.066667,NaN,NaN,NaN,NaN,NaN
8,2017-05-01,1168962.0,28455.0,7,3,BUS,204,HL307,2.0,26252.0,...,2017-05-01 13:58:29,26239.0,2017-05-01 15:29:33,2017-05-01 14:07:59,13.550000,9.500000,-25.512983,-49.294505,-25.476439,-49.292220
9,2017-05-01,1168962.0,28455.0,7,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:07:59,NaN,2017-05-01 15:31:38,2017-05-01 14:09:59,2.066667,NaN,NaN,NaN,NaN,NaN
10,2017-05-01,1354462.0,28373.0,6,1,BUS,685,HA286,8.0,39837.0,...,2017-05-01 13:39:18,35104.0,2017-05-01 15:10:44,2017-05-01 13:53:15,23.333333,13.950000,-25.556058,-49.332414,-25.511630,-49.328224
11,2017-05-01,1354462.0,28373.0,6,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:53:15,NaN,2017-05-01 15:11:56,2017-05-01 13:54:15,1.200000,NaN,NaN,NaN,NaN,NaN
12,2017-05-01,1354462.0,28373.0,6,3,BUS,040,LB601,4.0,35103.0,...,2017-05-01 14:06:06,33970.0,2017-05-01 16:07:15,2017-05-01 14:40:09,44.450000,34.050000,-25.511477,-49.328306,-25.432956,-49.351933
13,2017-05-01,1354462.0,28373.0,6,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:40:09,NaN,2017-05-01 16:07:25,2017-05-01 14:40:09,0.150000,NaN,NaN,NaN,NaN,NaN
14,2017-05-01,1354462.0,39353.0,1,1,BUS,040,LB602,1.0,33745.0,...,2017-05-01 15:40:50,35104.0,2017-05-01 16:28:17,2017-05-01 16:19:10,36.300000,38.333333,-25.435506,-49.349914,-25.511630,-49.328224
15,2017-05-01,1354462.0,39353.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:19:10,NaN,2017-05-01 16:29:29,2017-05-01 16:20:10,1.200000,NaN,NaN,NaN,NaN,NaN
16,2017-05-01,1354462.0,39353.0,1,3,BUS,628,HA025,10.0,35103.0,...,2017-05-01 16:27:37,35179.0,2017-05-01 16:56:22,2017-05-01 16:40:50,21.783333,13.216667,-25.511477,-49.328306,-25.551285,-49.332021
17,2017-05-01,1354462.0,39353.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:40:50,NaN,2017-05-01 17:04:53,2017-05-01 16:48:50,8.500000,NaN,NaN,NaN,NaN,NaN
18,2017-05-01,1998953.0,28180.0,5,1,BUS,182,BC002,8.0,31854.0,...,2017-05-01 13:36:46,28615.0,2017-05-01 14:29:58,2017-05-01 13:55:37,26.483333,18.850000,-25.366552,-49.272462,-25.423600,-49.270049
19,2017-05-01,1998953.0,28180.0,5,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:55:37,NaN,2017-05-01 14:34:47,2017-05-01 14:00:37,4.800000,NaN,NaN,NaN,NaN,NaN
20,2017-05-01,1998953.0,52772.0,5,1,BUS,183,BC186,11.0,35642.0,...,2017-05-01 17:57:59,29384.0,2017-05-01 18:57:20,2017-05-01 18:22:31,41.816667,24.533333,-25.423318,-49.268572,-25.366369,-49.272466
21,2017-05-01,1998953.0,52772.0,5,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 18:22:31,NaN,2017-05-01 19:01:13,2017-05-01 18:26:31,3.866667,NaN,NaN,NaN,NaN,NaN
22,2017-05-01,2100344.0,28332.0,6,1,BUS,270,BN619,7.0,31691.0,...,2017-05-01 13:38:56,30598.0,2017-05-01 14:24:24,2017-05-01 13:52:23,17.200000,13.450000,-25.381614,-49.243812,-25.397790,-49.258830
23,2017-05-01,2100344.0,28332.0,6,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:52:23,NaN,2017-05-01 14:27:29,2017-05-01 13:55:23,3.066667,NaN,NaN,NaN,NaN,NaN
24,2017-05-01,2100344.0,32136.0,4,1,BUS,270,BN619,7.0,30828.0,...,2017-05-01 14:24:29,31692.0,2017-05-01 15:11:45,2017-05-01 14:36:01,16.566667,11.533333,-25.397440,-49.256690,-25.381997,-49.243394
25,2017-05-01,2100344.0,32136.0,4,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:36:01,NaN,2017-05-01 15:12:32,2017-05-01 14:37:01,0.766667,NaN,NaN,NaN,NaN,NaN
26,2017-05-01,2168963.0,28252.0,1,1,BUS,332,DA015,22.0,32459.0,...,2017-05-01 13:37:55,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,7.433333,9.366667,-25.471072,-49.194606,-25.469115,-49.207963
27,2017-05-01,2168963.0,28252.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:47:17,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,0.416667,NaN,NaN,NaN,NaN,NaN
28,2017-05-01,2168963.0,28252.0,1,3,BUS,303,DE715,4.0,26192.0,...,2017-05-01 13:50:12,26045.0,2017-05-01 14:16:49,2017-05-01 14:08:27,18.816667,18.250000,-25.469002,-49.208298,-25.438111,-49.238652
29,2017-05-01,2168963.0,28252.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:08:27,NaN,2017-05-01 14:18:55,2017-05-01 14:10:27,2.083333,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,2017-05-01,3798510.0,28485.0,8,1,BUS,224,BN409,19.0,27195.0,...,2017-05-01 13:40:38,27148.0,2017-05-01 14:26:29,2017-05-01 13:48:42,10.616667,8.066667,-25.376405,-49.238659,-25.388209,-49.237150
222,2017-05-01,3798510.0,28485.0,8,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:48:42,NaN,2017-05-01 14:28:19,2017-05-01 13:50:42,1.833333,NaN,NaN,NaN,NaN,NaN
223,2017-05-01,3798510.0,28485.0,8,3,BUS,203,BD138,4.0,25380.0,...,2017-05-01 13:51:11,25393.0,2017-05-01 15:09:42,2017-05-01 14:23:56,33.833333,32.750000,-25.388780,-49.236226,-25.444816,-49.285595
224,2017-05-01,3798510.0,28485.0,8,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:23:56,NaN,2017-05-01 15:09:44,2017-05-01 14:23:56,0.016667,NaN,NaN,NaN,NaN,NaN
225,2017-05-01,3806874.0,28363.0,1,1,BUS,462,DC093,7.0,31481.0,...,2017-05-01 13:39:15,31467.0,2017-05-01 13:49:28,2017-05-01 13:42:43,5.800000,3.466667,-25.467161,-49.221436,-25.453594,-49.226994
226,2017-05-01,3806874.0,28363.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:42:43,NaN,2017-05-01 13:55:00,2017-05-01 13:48:43,5.516667,NaN,NaN,NaN,NaN,NaN
227,2017-05-01,3815019.0,28388.0,2,1,BUS,655,HA001,9.0,38519.0,...,2017-05-01 13:39:23,34160.0,2017-05-01 14:03:06,2017-05-01 13:53:32,19.750000,14.150000,-25.564788,-49.315151,-25.520732,-49.295383
228,2017-05-01,3815019.0,28388.0,2,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:53:32,NaN,2017-05-01 14:03:10,2017-05-01 13:53:32,0.066667,NaN,NaN,NaN,NaN,NaN
229,2017-05-01,3815019.0,28388.0,2,3,BUS,502,HR028,7.0,25534.0,...,2017-05-01 14:09:00,26197.0,2017-05-01 14:27:00,2017-05-01 14:27:12,16.766667,18.200000,-25.520710,-49.295454,-25.476372,-49.292607
230,2017-05-01,3815019.0,28388.0,2,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:27:12,NaN,2017-05-01 14:27:05,2017-05-01 14:27:12,0.066667,NaN,NaN,NaN,NaN,NaN
231,2017-05-01,3816838.0,28486.0,1,1,BUS,332,DA015,22.0,27786.0,...,2017-05-01 13:40:39,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,4.033333,6.633333,-25.467447,-49.198471,-25.469115,-49.207963
232,2017-05-01,3816838.0,28486.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:47:17,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,0.416667,NaN,NaN,NaN,NaN,NaN
233,2017-05-01,3816838.0,28486.0,1,3,BUS,303,DE715,4.0,26192.0,...,2017-05-01 13:50:12,25389.0,2017-05-01 14:26:35,2017-05-01 14:17:24,28.583333,27.200000,-25.469002,-49.208298,-25.437593,-49.266727
234,2017-05-01,3816838.0,28486.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:17:24,NaN,2017-05-01 14:29:19,2017-05-01 14:20:24,2.716667,NaN,NaN,NaN,NaN,NaN
235,2017-05-01,3823073.0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,...,2017-05-01 13:36:25,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,6.450000,7.816667,-25.436303,-49.362221,-25.441705,-49.346328
236,2017-05-01,3823073.0,28150.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 13:44:14,NaN,2017-05-01 13:45:52,2017-05-01 13:45:14,0.866667,NaN,NaN,NaN,NaN,NaN
237,2017-05-01,3823073.0,28150.0,1,3,BUS,303,DE722,4.0,26195.0,...,2017-05-01 14:02:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,10.983333,9.366667,-25.441720,-49.346978,-25.437968,-49.314099
238,2017-05-01,3823073.0,28150.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:12:10,NaN,2017-05-01 14:09:32,2017-05-01 14:20:10,7.533333,NaN,NaN,NaN,NaN,NaN
239,2017-05-01,3829656.0,70138.0,9,1,BUS,685,HA286,15.0,35167.0,...,2017-05-01 22:31:59,35449.0,2017-05-01 23:33:19,2017-05-01 22:34:49,4.483333,2.833333,-25.546662,-49.319794,-25.557623,-49.332020
240,2017-05-01,3829656.0,70138.0,9,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 22:34:49,NaN,2017-05-01 23:44:13,2017-05-01 22:45:49,10.883333,NaN,NaN,NaN,NaN,NaN
241,2017-05-01,3829762.0,28411.0,1,1,BUS,545,JA300,6.0,33849.0,...,2017-05-01 13:39:44,5452.0,2017-05-01 14:29:00,2017-05-01 14:10:54,34.866667,31.166667,-25.504165,-49.334787,-25.534335,-49.268084
242,2017-05-01,3829762.0,28411.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 14:10:54,NaN,2017-05-01 14:29:27,2017-05-01 14:10:54,0.433333,NaN,NaN,NaN,NaN,NaN
243,2017-05-01,3829762.0,44578.0,1,1,BUS,216,HA601,8.0,29157.0,...,2017-05-01 16:36:31,28332.0,2017-05-01 17:08:00,2017-05-01 16:50:00,27.233333,13.483333,-25.443394,-49.242750,-25.476127,-49.292362
244,2017-05-01,3829762.0,44578.0,1,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 16:50:00,NaN,2017-05-01 17:10:13,2017-05-01 16:52:00,2.216667,NaN,NaN,NaN,NaN,NaN
245,2017-05-01,3829762.0,44578.0,1,3,BUS,602,HE689,9.0,26263.0,...,2017-05-01 17:15:09,26297.0,2017-05-01 17:25:00,2017-05-01 17:27:02,14.000000,11.883333,-25.476410,-49.292681,-25.512315,-49.295636
246,2017-05-01,3829762.0,44578.0,1,4,WALK,nan,NaN,NaN,NaN,...,2017-05-01 17:27:02,NaN,2017-05-01 17:26:55,2017-05-01 17:29:02,1.916667,NaN,NaN,NaN,NaN,NaN
247,2017-05-01,3829762.0,44578.0,1,5,BUS,655,HA001,13.0,31019.0,...,2017-05-01 17:58:25,39270.0,2017-05-01 17:54:38,2017-05-01 18:18:35,22.633333,20.166667,-25.512016,-49.294864,-25.565648,-49.326363
248,2017-05-01,3829762.0,44578.0,1,6,WALK,nan,NaN,NaN,NaN,...,2017-05-01 18:18:35,NaN,2017-05-01 17:59:37,2017-05-01 18:23:35,4.966667,NaN,NaN,NaN,NaN,NaN
249,2017-05-01,3829762.0,70106.0,8,1,BUS,685,HA288,15.0,36326.0,...,2017-05-01 22:31:30,35107.0,2017-05-02 00:08:47,2017-05-01 22:46:45,15.383333,15.250000,-25.564955,-49.328974,-25.512756,-49.330335
250,2017-05-02,3829762.0,70106.0,8,2,WALK,nan,NaN,NaN,NaN,...,2017-05-01 22:46:45,NaN,2017-05-02 00:24:15,2017-05-01 23:01:45,15.450000,NaN,NaN,NaN,NaN,NaN

#### Writing Inferred Trips Itineraries Legs dataset to file

In [255]:
inf_trips_itineraries_legs_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_legs_inf_trips.csv'
inferred_trip_itineraries_legs.to_csv(inf_trips_itineraries_legs_output_filepath,index=False)

In [108]:
#if len(pass_itins_legs) == 0:
#            print "No matches left after matching and selecting feasible bus legs."
#            print "Skipping next steps..."
#            exit(0)

In [109]:
# Writing suggested itineraries dataset to file
#actual_itineraries_output_filepath = output_folderpath + os.sep + file_date_str + '_' + itinerary_part_name + '_actual_itin.csv'
#pass_itins_legs.to_csv(actual_itineraries_output_filepath, index=False)