In [57]:
#Libraries

#Python Libs
import sys
import os
import glob
import traceback
from datetime import datetime
import time

#Data Analysis Libs
import pandas as pd
import numpy as np

In [2]:
def prepare_otp_data(otp_data):
        #Fixing prefix
        otp_data.columns = otp_data.columns.str.replace('otp_','')
        otp_data = otp_data.add_prefix('otp_')
        
        #Fixing Timezone difference - when needed
        otp_data['otp_start_time'] = otp_data['otp_start_time'] - pd.Timedelta('10800 s')
        otp_data['otp_end_time'] = otp_data['otp_end_time'] - pd.Timedelta('10800 s')
        
        #Adjusting route format to have 3 numbers
        otp_data['otp_route'] = otp_data['otp_route'].astype(str)
        otp_data['otp_route'] = np.where(otp_data['otp_mode'] == 'BUS',
                            otp_data['otp_route'].astype(str).str.replace("\.0",'').str.zfill(3),
                            otp_data['otp_route'])

        return otp_data

def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2017-06-30", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

In [3]:
otp_suggestions_filepath = '/local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv'
user_trips_folderpath = '/local/tarciso/data/enhanced-buste/user_trips/'
bus_trips_folderpath = '/local/tarciso/data/enhanced-buste/bus_trips/'
gtfs_base_folderpath = '/local/tarciso/data/gtfs/'
output_folderpath = '/local/tarciso/data/test-odmat/'

In [4]:
file_date_str = otp_suggestions_filepath.split('/')[-1].split('_user_trips_')[0]
file_date = pd.to_datetime(file_date_str,format='%Y_%m_%d')
print "Processing File:", otp_suggestions_filepath

Processing File: /local/tarciso/data/otp_itineraries/2017_05_01_user_trips_100_otp_itineraries.csv

### Reading and Preparing OTP Suggestions data

In [5]:
# Extracting itinerary part name for later use
itinerary_part_name = otp_suggestions_filepath.split('/')[-1].split('_')[5]
# Read OTP Suggestions
otp_suggestions_raw = pd.read_csv(otp_suggestions_filepath, parse_dates=['date','otp_start_time','otp_end_time'])

if len(otp_suggestions_raw) == 0:
    print "Zero OTP suggestions found."
    print "Skipping next steps..."
    exit(0)

In [6]:
        # Prepare OTP data for analysis
        otp_suggestions = prepare_otp_data(otp_suggestions_raw)

        # Read stops data
        stops_filepath = gtfs_base_folderpath + os.sep + get_router_id(file_date) + os.sep + 'stops.txt'
        stops_df = pd.read_csv(stops_filepath)

        # Adding Parent Stop data to OTP Suggestions
        stops_parent_stations = stops_df[['stop_id','parent_station']]
        otp_suggestions = otp_suggestions.merge(stops_parent_stations.add_prefix('from_'),
                                                left_on='otp_from_stop_id',
                                                right_on='from_stop_id',
                                                how='left') \
                                        .merge(stops_parent_stations.add_prefix('to_'),
                                                left_on='otp_to_stop_id',
                                                right_on='to_stop_id',
                                                how='left') \
                                        .drop(['from_stop_id','to_stop_id'], axis=1) \
                                        .rename(index=str, columns={'from_parent_station':'otp_from_parent_station',
                                                                    'to_parent_station':'otp_to_parent_station'})
        
        otp_suggestions_bus_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'BUS']
        otp_suggestions_walk_legs = otp_suggestions[otp_suggestions['otp_mode'] == 'WALK']

In [155]:
otp_suggestions.head(20)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
1,2017-05-01,28150.0,1,2,2017-05-01 13:45:00,2017-05-01 13:45:52,WALK,nan,NaN,NaN,0.866667,NaN,NaN
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
3,2017-05-01,28150.0,1,4,2017-05-01 14:02:00,2017-05-01 14:09:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0
5,2017-05-01,28150.0,2,2,2017-05-01 13:57:00,2017-05-01 13:57:39,WALK,nan,NaN,NaN,0.650000,NaN,NaN
6,2017-05-01,28150.0,2,3,2017-05-01 14:03:00,2017-05-01 14:15:19,BUS,303,26195.0,25753.0,12.316667,14508.0,41756.0
7,2017-05-01,28150.0,2,4,2017-05-01 14:15:20,2017-05-01 14:22:52,WALK,nan,NaN,NaN,7.533333,NaN,NaN
8,2017-05-01,28150.0,3,1,2017-05-01 13:41:55,2017-05-01 14:03:38,WALK,nan,NaN,NaN,21.716667,NaN,NaN
9,2017-05-01,28150.0,3,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN
10,2017-05-01,28150.0,3,3,2017-05-01 14:20:06,2017-05-01 14:31:34,WALK,nan,NaN,NaN,11.466667,NaN,NaN
11,2017-05-01,28150.0,4,1,2017-05-01 13:57:58,2017-05-01 14:12:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0
12,2017-05-01,28150.0,4,2,2017-05-01 14:12:00,2017-05-01 14:12:39,WALK,nan,NaN,NaN,0.650000,NaN,NaN
13,2017-05-01,28150.0,4,3,2017-05-01 14:15:00,2017-05-01 14:25:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
14,2017-05-01,28150.0,4,4,2017-05-01 14:26:00,2017-05-01 14:33:32,WALK,nan,NaN,NaN,7.533333,NaN,NaN
15,2017-05-01,28150.0,5,1,2017-05-01 13:53:08,2017-05-01 14:09:59,WALK,nan,NaN,NaN,16.850000,NaN,NaN
16,2017-05-01,28150.0,5,2,2017-05-01 14:10:00,2017-05-01 14:14:00,BUS,821,33973.0,30995.0,4.000000,NaN,14508.0
17,2017-05-01,28150.0,5,3,2017-05-01 14:14:00,2017-05-01 14:14:26,WALK,nan,NaN,NaN,0.433333,NaN,NaN
18,2017-05-01,28150.0,5,4,2017-05-01 14:21:00,2017-05-01 14:33:19,BUS,303,26195.0,25753.0,12.316667,14508.0,41756.0
19,2017-05-01,28150.0,5,5,2017-05-01 14:33:20,2017-05-01 14:40:52,WALK,nan,NaN,NaN,7.533333,NaN,NaN

### Reading and Preparing User Trips data

In [59]:
def compatible_dates(otp_data,ticketing_data):
        otp_date = otp_data['otp_date'].iloc[0]
        ticketing_date = pd.to_datetime(ticketing_data['o_boarding_datetime'].dt.strftime('%Y-%m-%d')[0])

        return (otp_date == ticketing_date,otp_date,ticketing_date)

In [60]:
        # Read Origin/Next-Origin Pairs for the same date
        trips_origins_filepath = user_trips_folderpath + os.sep + file_date_str + '_user_trips.csv'
        trips_on_pairs_full = pd.read_csv(trips_origins_filepath,
                                                parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])
        # Checking whether OTP and ticketing dates match
        dates_compatibility, otp_date, ticketing_date = compatible_dates(otp_suggestions,trips_on_pairs_full)
        if not dates_compatibility:
                print "ERROR: OTP date", otp_date, "does not match Ticketing data", ticketing_date
                print "Skipping current day"
                exit(1)
        
        trips_on_pairs = trips_on_pairs_full.filter(['o_boarding_id','next_o_boarding_id'])
        trips_origins = trips_on_pairs_full.filter([col for col in trips_on_pairs_full.columns if col.startswith('o_')])

In [64]:
vehicle_boarding_trip_ids = trips_origins[np.logical_not(trips_origins['o_busCode'].str.isdigit())].o_boarding_id

In [66]:
vehicle_boarding_trip_ids.head()

0      180.0
2      181.0
4      182.0
5    61724.0
7      187.0
Name: o_boarding_id, dtype: float64

### Filtering out non-vehicle-boarding itinerary suggestions

In [67]:
otp_suggestions_vehicle = otp_suggestions[otp_suggestions['otp_user_trip_id'].isin(vehicle_boarding_trip_ids)]
otp_suggestions_bus_legs = otp_suggestions_vehicle[otp_suggestions_vehicle['otp_mode'] == 'BUS']
otp_suggestions_walk_legs = otp_suggestions_vehicle[otp_suggestions_vehicle['otp_mode'] == 'WALK']

In [68]:
len(otp_suggestions)

8016

In [69]:
len(otp_suggestions_vehicle)

4452

### Reading and Preparing Bus Trips data

In [70]:
        # Find OTP Suggested Itineraries in BUSTE Data
        bus_trips_filepath = bus_trips_folderpath + os.sep + file_date_str + '_bus_trips.csv'
        bus_trips = pd.read_csv(bus_trips_filepath, dtype={'route': object},parse_dates=['gps_datetime']) \
                                        .sort_values(['route','busCode','tripNum','gps_datetime']) \
                                        .assign(route = lambda x: x['route'].astype(str).str.replace("\.0",'').str.zfill(3)) \
                                        .drop_duplicates()

In [71]:
bus_trips.head()

,route,busCode,shapeId,tripNum,stopPointId,gps_datetime,distanceTraveledShape,stop_lat,stop_lon,parent_station
29435,010,BB303,1708.0,1.0,33157.0,2017-05-01 06:28:07,537.974,-25.410517,-49.276479,NaN
29436,010,BB303,1708.0,1.0,33159.0,2017-05-01 06:30:38,1141.061,-25.411726,-49.270902,NaN
29437,010,BB303,1708.0,1.0,33158.0,2017-05-01 06:31:40,1624.751,-25.415285,-49.270134,NaN
29438,010,BB303,1708.0,1.0,30150.0,2017-05-01 06:32:26,1972.077,-25.416733,-49.267863,NaN
29439,010,BB303,1708.0,1.0,28637.0,2017-05-01 06:33:11,2378.349,-25.414184,-49.265917,NaN

### Matching OTP Suggestions data to Bus Trips

In [72]:
bus_trips_clean = bus_trips.filter(['route','busCode','tripNum','stopPointId','gps_datetime'])

In [73]:
bus_trips_clean.head()

      route busCode  tripNum  stopPointId        gps_datetime
29435   010   BB303      1.0      33157.0 2017-05-01 06:28:07
29436   010   BB303      1.0      33159.0 2017-05-01 06:30:38
29437   010   BB303      1.0      33158.0 2017-05-01 06:31:40
29438   010   BB303      1.0      30150.0 2017-05-01 06:32:26
29439   010   BB303      1.0      28637.0 2017-05-01 06:33:11

In [74]:
otp_suggestions_bus_legs.sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']).head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.450000,NaN,14508.0
2,2017-05-01,28150.0,1,3,2017-05-01 13:51:00,2017-05-01 14:01:59,BUS,303,26195.0,25753.0,10.983333,14508.0,41756.0
4,2017-05-01,28150.0,2,1,2017-05-01 13:42:58,2017-05-01 13:57:00,BUS,822,33788.0,30994.0,14.033333,NaN,14508.0
6,2017-05-01,28150.0,2,3,2017-05-01 14:03:00,2017-05-01 14:15:19,BUS,303,26195.0,25753.0,12.316667,14508.0,41756.0
9,2017-05-01,28150.0,3,2,2017-05-01 14:03:39,2017-05-01 14:20:05,BUS,870,33980.0,35079.0,16.433333,NaN,NaN

In [101]:
scheduled_itin_observed_o = otp_suggestions_bus_legs.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','otp_from_stop_id'],
                                right_on=['bt_route','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_start_time',
                                                            'bt_tripNum':'bt_trip_num',
                                                            'bt_busCode':'bt_bus_code'}) \
                                .assign(sched_obs_start_timediff = 
                                        lambda x: np.absolute(x['bt_start_time'] - x['otp_start_time']))
#scheduled_itin_observed_o = scheduled_itin_observed_o[scheduled_itin_observed_o['sched_obs_start_timediff'] <= pd.Timedelta(minutes=60)]

In [102]:
scheduled_itin_observed_o.head(10)

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,otp_duration_mins,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff
0,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,1.0,2017-05-01 05:02:20,08:36:13
1,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,2.0,2017-05-01 05:51:25,07:47:08
2,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,3.0,2017-05-01 06:33:45,07:04:48
3,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,4.0,2017-05-01 07:21:37,06:16:56
4,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,5.0,2017-05-01 08:07:09,05:31:24
5,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,6.0,2017-05-01 08:46:39,04:51:54
6,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,7.0,2017-05-01 09:35:13,04:03:20
7,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,8.0,2017-05-01 10:23:21,03:15:12
8,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,9.0,2017-05-01 11:08:39,02:29:54
9,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,6.45,NaN,14508.0,BC929,10.0,2017-05-01 11:58:41,01:39:52

In [103]:
scheduled_itin_observed_od = scheduled_itin_observed_o.merge(bus_trips_clean.add_prefix('bt_'),
                                left_on=['otp_route','bt_bus_code','bt_trip_num','otp_to_stop_id'],
                                right_on=['bt_route','bt_busCode','bt_tripNum','bt_stopPointId'],
                                how='inner') \
                                .drop(['bt_route','bt_stopPointId'], axis=1) \
                                .rename(index=str, columns={'bt_gps_datetime':'bt_end_time'}) \
                                .assign(sched_obs_end_timediff = 
                                        lambda x: np.absolute(x['bt_end_time'] - x['otp_end_time'])) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','sched_obs_start_timediff','sched_obs_end_timediff'])
#scheduled_itin_observed_od = scheduled_itin_observed_od[scheduled_itin_observed_od['sched_obs_end_timediff'] <= pd.Timedelta(minutes=60)]

In [104]:
scheduled_itin_observed_od_full = pd.concat([scheduled_itin_observed_od,otp_suggestions_walk_legs], sort=False)

In [105]:
scheduled_itin_observed_od_full.head()

,otp_date,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_start_time,otp_end_time,otp_mode,otp_route,otp_from_stop_id,otp_to_stop_id,...,otp_from_parent_station,otp_to_parent_station,bt_bus_code,bt_trip_num,bt_start_time,sched_obs_start_timediff,bt_busCode,bt_tripNum,bt_end_time,sched_obs_end_timediff
66,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,NaN,14508.0,BC929,12.0,2017-05-01 13:35:18,00:03:15,BC929,12.0,2017-05-01 13:44:14,00:00:46
72,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,NaN,14508.0,BC929,13.0,2017-05-01 14:22:34,00:44:01,BC929,13.0,2017-05-01 14:30:58,00:45:58
60,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,NaN,14508.0,BC929,11.0,2017-05-01 12:47:49,00:50:44,BC929,11.0,2017-05-01 12:53:04,00:51:56
78,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,NaN,14508.0,BC929,14.0,2017-05-01 15:11:15,01:32:42,BC929,14.0,2017-05-01 15:18:06,01:33:06
54,2017-05-01,28150.0,1,1,2017-05-01 13:38:33,2017-05-01 13:45:00,BUS,827,33788.0,30993.0,...,NaN,14508.0,BC929,10.0,2017-05-01 11:58:41,01:39:52,BC929,10.0,2017-05-01 12:07:05,01:37:55

In [106]:
scheduled_itin_observed_od_full_clean = scheduled_itin_observed_od_full \
                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','otp_mode','otp_route',
                                     'bt_bus_code','bt_trip_num','otp_from_stop_id','otp_start_time',
                                     'bt_start_time','sched_obs_start_timediff','otp_to_stop_id',
                                     'otp_end_time','bt_end_time','sched_obs_end_timediff','otp_duration_mins']) \
                            .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id'])

In [107]:
scheduled_itin_observed_od_full_clean

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
66,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,0 days 00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,0 days 00:00:46,6.450000
72,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,0 days 00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,0 days 00:45:58,6.450000
60,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,0 days 00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,0 days 00:51:56,6.450000
78,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,0 days 01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,0 days 01:33:06,6.450000
54,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,0 days 01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,0 days 01:37:55,6.450000
84,28150.0,1,1,BUS,827,BC929,15.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:59:34,0 days 02:21:01,30993.0,2017-05-01 13:45:00,2017-05-01 16:06:35,0 days 02:21:35,6.450000
48,28150.0,1,1,BUS,827,BC929,9.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:08:39,0 days 02:29:54,30993.0,2017-05-01 13:45:00,2017-05-01 11:19:47,0 days 02:25:13,6.450000
90,28150.0,1,1,BUS,827,BC929,16.0,33788.0,2017-05-01 13:38:33,2017-05-01 16:48:58,0 days 03:10:25,30993.0,2017-05-01 13:45:00,2017-05-01 16:55:23,0 days 03:10:23,6.450000
42,28150.0,1,1,BUS,827,BC929,8.0,33788.0,2017-05-01 13:38:33,2017-05-01 10:23:21,0 days 03:15:12,30993.0,2017-05-01 13:45:00,2017-05-01 10:33:22,0 days 03:11:38,6.450000
96,28150.0,1,1,BUS,827,BC929,17.0,33788.0,2017-05-01 13:38:33,2017-05-01 17:35:37,0 days 03:57:04,30993.0,2017-05-01 13:45:00,2017-05-01 17:41:38,0 days 03:56:38,6.450000
36,28150.0,1,1,BUS,827,BC929,7.0,33788.0,2017-05-01 13:38:33,2017-05-01 09:35:13,0 days 04:03:20,30993.0,2017-05-01 13:45:00,2017-05-01 09:41:29,0 days 04:03:31,6.450000
102,28150.0,1,1,BUS,827,BC929,18.0,33788.0,2017-05-01 13:38:33,2017-05-01 18:23:30,0 days 04:44:57,30993.0,2017-05-01 13:45:00,2017-05-01 18:29:16,0 days 04:44:16,6.450000
30,28150.0,1,1,BUS,827,BC929,6.0,33788.0,2017-05-01 13:38:33,2017-05-01 08:46:39,0 days 04:51:54,30993.0,2017-05-01 13:45:00,2017-05-01 08:51:39,0 days 04:53:21,6.450000
108,28150.0,1,1,BUS,827,BC929,19.0,33788.0,2017-05-01 13:38:33,2017-05-01 19:08:58,0 days 05:30:25,30993.0,2017-05-01 13:45:00,2017-05-01 19:14:27,0 days 05:29:27,6.450000
24,28150.0,1,1,BUS,827,BC929,5.0,33788.0,2017-05-01 13:38:33,2017-05-01 08:07:09,0 days 05:31:24,30993.0,2017-05-01 13:45:00,2017-05-01 08:13:17,0 days 05:31:43,6.450000
18,28150.0,1,1,BUS,827,BC929,4.0,33788.0,2017-05-01 13:38:33,2017-05-01 07:21:37,0 days 06:16:56,30993.0,2017-05-01 13:45:00,2017-05-01 07:28:57,0 days 06:16:03,6.450000
114,28150.0,1,1,BUS,827,BC929,20.0,33788.0,2017-05-01 13:38:33,2017-05-01 19:58:56,0 days 06:20:23,30993.0,2017-05-01 13:45:00,2017-05-01 20:05:29,0 days 06:20:29,6.450000
12,28150.0,1,1,BUS,827,BC929,3.0,33788.0,2017-05-01 13:38:33,2017-05-01 06:33:45,0 days 07:04:48,30993.0,2017-05-01 13:45:00,2017-05-01 06:40:18,0 days 07:04:42,6.450000
120,28150.0,1,1,BUS,827,BC929,21.0,33788.0,2017-05-01 13:38:33,2017-05-01 20:45:55,0 days 07:07:22,30993.0,2017-05-01 13:45:00,2017-05-01 20:56:56,0 days 07:11:56,6.450000
6,28150.0,1,1,BUS,827,BC929,2.0,33788.0,2017-05-01 13:38:33,2017-05-01 05:51:25,0 days 07:47:08,30993.0,2017-05-01 13:45:00,2017-05-01 05:58:11,0 days 07:46:49,6.450000
126,28150.0,1,1,BUS,827,BC929,22.0,33788.0,2017-05-01 13:38:33,2017-05-01 21:34:22,0 days 07:55:49,30993.0,2017-05-01 13:45:00,2017-05-01 21:41:04,0 days 07:56:04,6.450000
0,28150.0,1,1,BUS,827,BC929,1.0,33788.0,2017-05-01 13:38:33,2017-05-01 05:02:20,0 days 08:36:13,30993.0,2017-05-01 13:45:00,2017-05-01 05:08:35,0 days 08:36:25,6.450000
132,28150.0,1,1,BUS,827,BC929,23.0,33788.0,2017-05-01 13:38:33,2017-05-01 22:21:42,0 days 08:43:09,30993.0,2017-05-01 13:45:00,2017-05-01 22:26:41,0 days 08:41:41,6.450000
138,28150.0,1,1,BUS,827,BC929,24.0,33788.0,2017-05-01 13:38:33,2017-05-01 23:07:59,0 days 09:29:26,30993.0,2017-05-01 13:45:00,2017-05-01 23:22:51,0 days 09:37:51,6.450000
1,28150.0,1,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:00,NaT,NaT,NaN,2017-05-01 13:45:52,NaT,NaT,0.866667
1143,28150.0,1,3,BUS,303,DE716,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:50:21,0 days 00:00:39,25753.0,2017-05-01 14:01:59,2017-05-01 12:00:07,0 days 02:01:52,10.983333
1629,28150.0,1,3,BUS,303,DE722,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:02:48,0 days 00:11:48,25753.0,2017-05-01 14:01:59,2017-05-01 14:12:10,0 days 00:10:11,10.983333
1845,28150.0,1,3,BUS,303,LE700,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:37:03,0 days 00:13:57,25753.0,2017-05-01 14:01:59,2017-05-01 11:47:48,0 days 02:14:11,10.983333
468,28150.0,1,3,BUS,303,DE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 13:27:30,0 days 00:23:30,25753.0,2017-05-01 14:01:59,2017-05-01 13:35:59,0 days 00:26:00,10.983333
2304,28150.0,1,3,BUS,303,LE710,4.0,26195.0,2017-05-01 13:51:00,2017-05-01 14:18:42,0 days 00:27:42,25753.0,2017-05-01 14:01:59,2017-05-01 12:25:36,0 days 01:36:23,10.983333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77552,71837.0,10,1,BUS,472,KC002,15.0,26583.0,2017-05-02 06:49:35,2017-05-01 22:21:47,0 days 08:27:48,30062.0,2017-05-02 07:18:02,2017-05-01 22:42:41,0 days 08:35:21,28.450000
77507,71837.0,10,1,BUS,472,EC006,16.0,26583.0,2017-05-02 06:49:35,2017-05-01 21:48:36,0 days 09:00:59,30062.0,2017-05-02 07:18:02,2017-05-01 22:05:14,0 days 09:12:48,28.450000
77549,71837.0,10,1,BUS,472,KC002,14.0,26583.0,2017-05-02 06:49:35,2017-05-01 21:16:28,0 days 09:33:07,30062.0,2017-05-02 07:18:02,2017-05-01 21:36:45,0 days 09:41:17,28.450000
77504,71837.0,10,1,BUS,472,EC006,15.0,26583.0,2017-05-02 06:49:35,2017-05-01 20:42:01,0 days 10:07:34,30062.0,2017-05-02 07:18:02,2017-05-01 20:59:11,0 days 10:18:51,28.450000
77546,71837.0,10,1,BUS,472,KC002,13.0,26583.0,2017-05-02 06:49:35,2017-05-01 20:12:51,0 days 10:36:44,30062.0,2017-05-02 07:18:02,2017-05-01 20:33:56,0 days 10:44:06,28.450000
77501,71837.0,10,1,BUS,472,EC006,14.0,26583.0,2017-05-02 06:49:35,2017-05-01 19:37:22,0 days 11:12:13,30062.0,2017-05-02 07:18:02,2017-05-01 19:55:29,0 days 11:22:33,28.450000
77543,71837.0,10,1,BUS,472,KC002,12.0,26583.0,2017-05-02 06:49:35,2017-05-01 19:05:47,0 days 11:43:48,30062.0,2017-05-02 07:18:02,2017-05-01 19:28:47,0 days 11:49:15,28.450000
77498,71837.0,10,1,BUS,472,EC006,13.0,26583.0,2017-05-02 06:49:35,2017-05-01 18:32:47,0 days 12:16:48,30062.0,2017-05-02 07:18:02,2017-05-01 18:51:44,0 days 12:26:18,28.450000
77540,71837.0,10,1,BUS,472,KC002,11.0,26583.0,2017-05-02 06:49:35,2017-05-01 17:59:53,0 days 12:49:42,30062.0,2017-05-02 07:18:02,2017-05-01 18:22:59,0 days 12:55:03,28.450000
77495,71837.0,10,1,BUS,472,EC006,12.0,26583.0,2017-05-02 06:49:35,2017-05-01 17:25:17,0 days 13:24:18,30062.0,2017-05-02 07:18:02,2017-05-01 17:45:37,0 days 13:32:25,28.450000
77537,71837.0,10,1,BUS,472,KC002,10.0,26583.0,2017-05-02 06:49:35,2017-05-01 16:52:14,0 days 13:57:21,30062.0,2017-05-02 07:18:02,2017-05-01 17:14:00,0 days 14:04:02,28.450000
77492,71837.0,10,1,BUS,472,EC006,11.0,26583.0,2017-05-02 06:49:35,2017-05-01 16:20:48,0 days 14:28:47,30062.0,2017-05-02 07:18:02,2017-05-01 16:41:05,0 days 14:36:57,28.450000
77534,71837.0,10,1,BUS,472,KC002,9.0,26583.0,2017-05-02 06:49:35,2017-05-01 15:46:27,0 days 15:03:08,30062.0,2017-05-02 07:18:02,2017-05-01 16:06:52,0 days 15:11:10,28.450000
77489,71837.0,10,1,BUS,472,EC006,10.0,26583.0,2017-05-02 06:49:35,2017-05-01 15:14:49,0 days 15:34:46,30062.0,2017-05-02 07:18:02,2017-05-01 15:35:05,0 days 15:42:57,28.450000
77531,71837.0,10,1,BUS,472,KC002,8.0,26583.0,2017-05-02 06:49:35,2017-05-01 14:46:18,0 days 16:03:17,30062.0,2017-05-02 07:18:02,2017-05-01 15:05:12,0 days 16:12:50,28.450000
77486,71837.0,10,1,BUS,472,EC006,9.0,26583.0,2017-05-02 06:49:35,2017-05-01 14:07:18,0 days 16:42:17,30062.0,2017-05-02 07:18:02,2017-05-01 14:26:03,0 days 16:51:59,28.450000
77528,71837.0,10,1,BUS,472,KC002,7.0,26583.0,2017-05-02 06:49:35,2017-05-01 13:34:39,0 days 17:14:56,30062.0,2017-05-02 07:18:02,2017-05-01 13:52:59,0 days 17:25:03,28.450000
77483,71837.0,10,1,BUS,472,EC006,8.0,26583.0,2017-05-02 06:49:35,2017-05-01 13:01:20,0 days 17:48:15,30062.0,2017-05-02 07:18:02,2017-05-01 13:23:19,0 days 17:54:43,28.450000
77525,71837.0,10,1,BUS,472,KC002,6.0,26583.0,2017-05-02 06:49:35,2017-05-01 12:28:17,0 days 18:21:18,30062.0,2017-05-02 07:18:02,2017-05-01 12:45:35,0 days 18:32:27,28.450000
77480,71837.0,10,1,BUS,472,EC006,7.0,26583.0,2017-05-02 06:49:35,2017-05-01 11:56:49,0 days 18:52:46,30062.0,2017-05-02 07:18:02,2017-05-01 12:15:36,0 days 19:02:26,28.450000
77522,71837.0,10,1,BUS,472,KC002,5.0,26583.0,2017-05-02 06:49:35,2017-05-01 11:22:25,0 days 19:27:10,30062.0,2017-05-02 07:18:02,2017-05-01 11:44:06,0 days 19:33:56,28.450000
77477,71837.0,10,1,BUS,472,EC006,6.0,26583.0,2017-05-02 06:49:35,2017-05-01 10:50:43,0 days 19:58:52,30062.0,2017-05-02 07:18:02,2017-05-01 11:11:08,0 days 20:06:54,28.450000
77519,71837.0,10,1,BUS,472,KC002,4.0,26583.0,2017-05-02 06:49:35,2017-05-01 10:16:18,0 days 20:33:17,30062.0,2017-05-02 07:18:02,2017-05-01 10:32:07,0 days 20:45:55,28.450000
77474,71837.0,10,1,BUS,472,EC006,5.0,26583.0,2017-05-02 06:49:35,2017-05-01 09:44:45,0 days 21:04:50,30062.0,2017-05-02 07:18:02,2017-05-01 10:02:02,0 days 21:16:00,28.450000
77516,71837.0,10,1,BUS,472,KC002,3.0,26583.0,2017-05-02 06:49:35,2017-05-01 09:10:16,0 days 21:39:19,30062.0,2017-05-02 07:18:02,2017-05-01 09:28:53,0 days 21:49:09,28.450000
77471,71837.0,10,1,BUS,472,EC006,4.0,26583.0,2017-05-02 06:49:35,2017-05-01 08:37:14,0 days 22:12:21,30062.0,2017-05-02 07:18:02,2017-05-01 08:57:15,0 days 22:20:47,28.450000
77468,71837.0,10,1,BUS,472,EC006,3.0,26583.0,2017-05-02 06:49:35,2017-05-01 07:31:14,0 days 23:18:21,30062.0,2017-05-02 07:18:02,2017-05-01 07:51:43,0 days 23:26:19,28.450000
77513,71837.0,10,1,BUS,472,KC002,1.0,26583.0,2017-05-02 06:49:35,2017-05-01 06:57:36,0 days 23:51:59,30062.0,2017-05-02 07:18:02,2017-05-01 07:13:07,1 days 00:04:55,28.450000
77465,71837.0,10,1,BUS,472,EC006,1.0,26583.0,2017-05-02 06:49:35,2017-05-01 06:24:19,1 days 00:25:16,30062.0,2017-05-02 07:18:02,2017-05-01 06:42:13,1 days 00:35:49,28.450000
7908,71837.0,10,2,WALK,nan,NaN,NaN,NaN,2017-05-02 07:18:03,NaT,NaT,NaN,2017-05-02 07:18:08,NaT,NaT,0.083333

### Filtering out leg matches whose observed start_time is earlier than the boarding record start_time or are more than 15 minutes later

In [108]:
first_bus_legs = scheduled_itin_observed_od_full_clean.query('otp_mode == \'BUS\'')\
                                .groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                .first() \
                                .reset_index()

In [128]:
first_bus_legs[(first_bus_legs['otp_user_trip_id'] == 28150.0) & (first_bus_legs['otp_itinerary_id'] == 2)]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
1,28150.0,2,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667

In [126]:
first_bus_legs[first_bus_legs['otp_leg_id'] > 2]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
1,28150.0,2,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667
3,28150.0,4,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25753.0,2017-05-01 14:25:59,2017-05-01 12:25:36,02:00:23,10.983333
6,28150.0,7,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25753.0,2017-05-01 14:43:59,2017-05-01 14:37:26,00:06:33,10.983333
8,28150.0,9,3,BUS,303,LE702,5.0,26195.0,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,25753.0,2017-05-01 14:57:19,2017-05-01 14:50:32,00:06:47,12.316667
9,28150.0,10,3,BUS,303,DE719,5.0,26195.0,2017-05-01 15:02:00,2017-05-01 15:04:59,00:02:59,25753.0,2017-05-01 15:14:19,2017-05-01 15:13:00,00:01:19,12.316667
34,28161.0,5,3,BUS,303,DE715,4.0,26198.0,2017-05-01 14:03:36,2017-05-01 14:02:26,00:01:10,25646.0,2017-05-01 14:16:02,2017-05-01 14:12:36,00:03:26,12.433333
59,28169.0,1,4,BUS,030,KB605,3.0,27636.0,2017-05-01 13:56:00,2017-05-01 13:43:50,00:12:10,32610.0,2017-05-01 14:11:26,2017-05-01 11:16:16,02:55:10,15.433333
64,28169.0,6,4,BUS,625,GA149,6.0,27639.0,2017-05-01 14:21:00,2017-05-01 14:25:52,00:04:52,36064.0,2017-05-01 14:44:54,2017-05-01 14:47:07,00:02:13,23.900000
65,28169.0,7,4,BUS,625,GA164,4.0,27639.0,2017-05-01 14:38:00,2017-05-01 14:46:56,00:08:56,36064.0,2017-05-01 15:01:54,2017-05-01 15:06:51,00:04:57,23.900000
71,28172.0,3,4,BUS,030,KB604,4.0,32546.0,2017-05-01 14:07:02,2017-05-01 14:18:17,00:11:15,30860.0,2017-05-01 14:25:46,2017-05-01 14:32:02,00:06:16,18.733333
76,28172.0,8,4,BUS,373,CC195,9.0,30199.0,2017-05-01 14:42:29,2017-05-01 14:53:21,00:10:52,30860.0,2017-05-01 14:53:41,2017-05-01 14:59:54,00:06:13,11.200000
78,28172.0,10,4,BUS,030,KB605,4.0,276.0,2017-05-01 14:50:28,2017-05-01 14:42:03,00:08:25,30860.0,2017-05-01 15:10:09,2017-05-01 15:00:38,00:09:31,19.683333
89,28177.0,1,3,BUS,203,BE703,5.0,26199.0,2017-05-01 13:42:00,2017-05-01 13:43:09,00:01:09,25924.0,2017-05-01 13:49:38,2017-05-01 13:53:01,00:03:23,7.633333
97,28177.0,9,3,BUS,203,BD135,4.0,26199.0,2017-05-01 14:00:00,2017-05-01 14:03:30,00:03:30,25924.0,2017-05-01 14:07:38,2017-05-01 14:14:15,00:06:37,7.633333
121,28204.0,3,4,BUS,304,LL304,5.0,26286.0,2017-05-01 14:16:18,2017-05-01 14:11:59,00:04:19,2654.0,2017-05-01 14:20:00,2017-05-01 14:19:57,00:00:03,3.700000
171,28226.0,3,4,BUS,304,LL304,5.0,26286.0,2017-05-01 14:16:18,2017-05-01 14:11:59,00:04:19,2654.0,2017-05-01 14:20:00,2017-05-01 14:19:57,00:00:03,3.700000
211,28262.0,3,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667
213,28262.0,5,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25753.0,2017-05-01 14:25:59,2017-05-01 12:25:36,02:00:23,10.983333
216,28262.0,8,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25753.0,2017-05-01 14:43:59,2017-05-01 14:37:26,00:06:33,10.983333
218,28262.0,10,3,BUS,303,LE702,5.0,26195.0,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,25753.0,2017-05-01 14:57:19,2017-05-01 14:50:32,00:06:47,12.316667
220,28266.0,2,4,BUS,203,HD241,5.0,26190.0,2017-05-01 14:13:33,2017-05-01 14:12:02,00:01:31,25391.0,2017-05-01 14:41:04,2017-05-01 14:41:05,00:00:01,27.516667
224,28266.0,6,4,BUS,270,BN619,7.0,31703.0,2017-05-01 14:10:14,2017-05-01 13:41:55,00:28:19,29223.0,2017-05-01 14:29:12,2017-05-01 13:58:10,00:31:02,18.966667
227,28266.0,9,4,BUS,203,GD350,5.0,26190.0,2017-05-01 14:45:33,2017-05-01 14:44:07,00:01:26,25391.0,2017-05-01 15:13:04,2017-05-01 15:14:02,00:00:58,27.516667
228,28266.0,10,4,BUS,203,BD135,5.0,26190.0,2017-05-01 15:10:46,2017-05-01 15:09:20,00:01:26,25391.0,2017-05-01 15:38:32,2017-05-01 15:34:59,00:03:33,27.766667
329,28308.0,8,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:13:00,2017-05-01 14:07:27,00:05:33,25730.0,2017-05-01 14:47:41,2017-05-01 14:34:50,00:12:51,34.683333
353,28321.0,2,4,BUS,502,HR028,6.0,27512.0,2017-05-01 13:56:36,2017-05-01 13:35:37,00:20:59,27353.0,2017-05-01 14:02:00,2017-05-01 13:41:03,00:20:57,5.400000
363,28325.0,2,4,BUS,303,DE719,5.0,26204.0,2017-05-01 14:10:28,2017-05-01 14:12:34,00:02:06,25564.0,2017-05-01 14:49:43,2017-05-01 14:55:43,00:06:00,39.250000
364,28325.0,3,4,BUS,303,DE719,5.0,25542.0,2017-05-01 14:13:24,2017-05-01 14:09:10,00:04:14,25564.0,2017-05-01 14:56:16,2017-05-01 14:55:43,00:00:33,42.866667
367,28325.0,6,4,BUS,303,DE713,5.0,26204.0,2017-05-01 14:28:28,2017-05-01 14:24:37,00:03:51,25564.0,2017-05-01 15:07:43,2017-05-01 15:07:24,00:00:19,39.250000
368,28325.0,7,4,BUS,303,DE710,5.0,26204.0,2017-05-01 14:34:28,2017-05-01 14:36:11,00:01:43,25564.0,2017-05-01 15:13:43,2017-05-01 15:18:53,00:05:10,39.250000
369,28325.0,8,4,BUS,303,LE700,5.0,25545.0,2017-05-01 14:44:07,2017-05-01 14:49:27,00:05:20,25564.0,2017-05-01 15:19:43,2017-05-01 15:30:00,00:10:17,35.600000
516,28387.0,5,4,BUS,204,HL308,5.0,30446.0,2017-05-01 14:10:25,2017-05-01 14:02:11,00:08:14,26233.0,2017-05-01 14:16:43,2017-05-01 14:08:11,00:08:32,6.300000
555,28397.0,4,3,BUS,020,BR107,5.0,32732.0,2017-05-01 14:09:20,2017-05-01 14:00:56,00:08:24,28132.0,2017-05-01 14:20:00,2017-05-01 14:09:46,00:10:14,10.666667
597,28411.0,6,4,BUS,602,HE689,8.0,25783.0,2017-05-01 14:55:56,2017-05-01 15:01:47,00:05:51,27121.0,2017-05-01 15:07:00,2017-05-01 15:11:44,00:04:44,11.066667
624,28424.0,3,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25757.0,2017-05-01 14:23:33,2017-05-01 14:20:19,00:03:14,20.550000
627,28424.0,6,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25757.0,2017-05-01 14:33:20,2017-05-01 12:34:01,01:59:19,18.333333
630,28424.0,9,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25757.0,2017-05-01 14:51:20,2017-05-01 14:45:53,00:05:27,18.333333
653,28457.0,2,4,BUS,304,LL302,5.0,25916.0,2017-05-01 14:42:09,2017-05-01 14:45:26,00:03:17,25891.0,2017-05-01 14:46:33,2017-05-01 14:53:17,00:06:44,4.400000
659,28461.0,3,4,BUS,170,BC034,9.0,27745.0,2017-05-01 14:02:00,2017-05-01 13:55:44,00:06:16,36660.0,2017-05-01 14:21:58,2017-05-01 14:12:26,00:09:32,19.966667
690,28485.0,4,4,BUS,203,HD242,5.0,26190.0,2017-05-01 14:16:46,2017-05-01 14:21:16,00:04:30,25393.0,2017-05-01 14:48:00,2017-05-01 14:50:41,00:02:41,31.233333
708,28487.0,3,4,BUS,303,DE715,4.0,25557.0,2017-05-01 14:31:31,2017-05-01 14:33:18,00:01:47,26195.0,2017-05-01 14:56:00,2017-05-01 14:56:11,00:00:11,24.483333
739,31239.0,4,4,BUS,203,BD147,5.0,26199.0,2017-05-01 14:55:00,2017-05-01 14:48:27,00:06:33,26197.0,2017-05-01 15:01:40,2017-05-01 14:58:31,00:03:09,6.666667
743,31239.0,8,4,BUS,203,BD139,5.0,26199.0,2017-05-01 15:12:00,2017-05-01 15:16:52,00:04:52,26197.0,2017-05-01 15:18:40,2017-05-01 15:25:37,00:06:57,6.666667
787,39353.0,4,3,BUS,619,HA020,13.0,33243.0,2017-05-01 17:32:10,2017-05-01 17:24:21,00:07:49,35447.0,2017-05-01 17:41:55,2017-05-01 17:30:50,00:11:05,9.750000
792,39353.0,9,3,BUS,628,HA015,12.0,33241.0,2017-05-01 18:12:58,2017-05-01 18:23:15,00:10:17,35179.0,2017-05-01 18:22:47,2017-05-01 18:29:29,00:06:42,9.816667
828,43854.0,5,4,BUS,901,MC305,13.0,29598.0,2017-05-01 16:50:00,2017-05-01 16:46:54,00:03:06,32794.0,2017-05-01 16:56:34,2017-05-01 16:53:33,00:03:01,6.566667
829,43854.0,6,4,BUS,972,MN611,10.0,29599.0,2017-05-01 16:53:00,2017-05-01 17:00:19,00:07:19,32794.0,2017-05-01 16:58:27,2017-05-01 17:10:40,00:12:13,5.450000
840,44578.0,7,3,BUS,020,BB603,4.0,30943.0,2017-05-01 16:56:52,2017-05-01 16:56:28,00:00:24,32720.0,2017-05-01 17:37:03,2017-05-01 17:21:58,00:15:05,40.183333
894,52894.0,1,3,BUS,821,MA013,14.0,30995.0,2017-05-01 18:25:00,2017-05-01 18:48:59,00:23:59,33995.0,2017-05-01 18:30:51,2017-05-01 18:54:14,00:23:23,5.850000
903,52916.0,1,3,BUS,821,MA013,14.0,30995.0,2017-05-01 18:25:00,2017-05-01 18:48:59,00:23:59,33995.0,2017-05-01 18:30:51,2017-05-01 18:54:14,00:23:23,5.850000
916,53308.0,5,3,BUS,619,HA020,15.0,33243.0,2017-05-01 19:40:26,2017-05-01 19:26:00,00:14:26,36273.0,2017-05-01 19:51:31,2017-05-01 19:37:30,00:14:01,11.083333
920,53308.0,9,3,BUS,619,HA020,16.0,33241.0,2017-05-01 20:19:56,2017-05-01 20:20:11,00:00:15,36273.0,2017-05-01 20:32:25,2017-05-01 20:31:19,00:01:06,12.483333
921,53308.0,10,3,BUS,619,HA020,17.0,33241.0,2017-05-01 21:19:56,2017-05-01 21:21:00,00:01:04,36273.0,2017-05-01 21:32:25,2017-05-01 21:32:42,00:00:17,12.483333
1037,65005.0,7,4,BUS,821,MA013,17.0,30995.0,2017-05-01 21:43:00,2017-05-01 21:49:37,00:06:37,33342.0,2017-05-01 22:13:58,2017-05-01 22:11:23,00:02:35,30.966667
1038,65005.0,8,4,BUS,304,LL302,9.0,2654.0,2017-05-01 22:13:00,2017-05-01 22:17:39,00:04:39,25723.0,2017-05-01 22:38:00,2017-05-01 21:00:01,01:37:59,25.000000
1042,66750.0,2,3,BUS,550,GE715,16.0,25500.0,2017-05-01 21:25:53,2017-05-01 21:29:01,00:03:08,26298.0,2017-05-01 21:51:00,2017-05-01 21:50:26,00:00:34,25.116667
1044,66750.0,4,4,BUS,545,JA300,10.0,30039.0,2017-05-01 21:49:00,2017-05-01 21:33:14,00:15:46,32036.0,2017-05-01 22:13:29,2017-05-01 21:59:16,00:14:13,24.483333
1049,66750.0,9,3,BUS,602,HE689,13.0,26263.0,2017-05-01 22:20:00,2017-05-01 22:15:31,00:04:29,26297.0,2017-05-01 22:34:00,2017-05-01 22:27:03,00:06:57,14.000000
1081,70809.0,3,4,BUS,619,HA020,19.0,33234.0,2017-05-01 23:18:17,2017-05-01 23:12:11,00:06:06,36273.0,2017-05-01 23:36:54,2017-05-01 23:24:52,00:12:02,18.616667
1106,71837.0,1,5,BUS,030,KB605,7.0,270.0,2017-05-02 00:05:00,2017-05-01 22:33:05,01:31:55,30059.0,2017-05-02 00:13:06,2017-05-01 22:49:03,01:24:03,8.100000

In [109]:
vehicle_boarding_start_time = trips_origins.filter(['o_boarding_id','o_boarding_datetime'])

In [110]:
vehicle_boarding_start_time.head()

   o_boarding_id o_boarding_datetime
0          180.0 2017-05-01 04:48:42
1        40392.0 2017-05-01 15:52:39
2          181.0 2017-05-01 04:49:13
3        31560.0 2017-05-01 14:16:55
4          182.0 2017-05-01 04:49:19

In [125]:
first_bus_legs_time_validation = first_bus_legs.merge(vehicle_boarding_start_time, 
                                                      left_on='otp_user_trip_id',
                                                      right_on='o_boarding_id',
                                                      how='inner') \
                                                .assign(pass_obs_start_diff = lambda x: x.bt_start_time - x.o_boarding_datetime)

In [123]:
first_bus_legs_time_validation

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime,pass_obs_start_diff
0,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,6.450000,28150.0,2017-05-01 13:36:25,-1 days +23:58:53
1,28150.0,2,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667,28150.0,2017-05-01 13:36:25,00:26:23
2,28150.0,3,2,BUS,870,BC283,8.0,33980.0,2017-05-01 14:03:39,2017-05-01 13:57:41,00:05:58,35079.0,2017-05-01 14:20:05,2017-05-01 14:07:33,00:12:32,16.433333,28150.0,2017-05-01 13:36:25,00:21:16
3,28150.0,4,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25753.0,2017-05-01 14:25:59,2017-05-01 12:25:36,02:00:23,10.983333,28150.0,2017-05-01 13:36:25,00:42:17
4,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000,28150.0,2017-05-01 13:36:25,00:07:42
5,28150.0,6,2,BUS,870,BC014,8.0,33980.0,2017-05-01 14:18:39,2017-05-01 14:21:56,00:03:17,35079.0,2017-05-01 14:35:05,2017-05-01 14:30:25,00:04:40,16.433333,28150.0,2017-05-01 13:36:25,00:45:31
6,28150.0,7,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25753.0,2017-05-01 14:43:59,2017-05-01 14:37:26,00:06:33,10.983333,28150.0,2017-05-01 13:36:25,00:52:59
7,28150.0,8,1,BUS,827,BC929,13.0,33788.0,2017-05-01 14:28:17,2017-05-01 14:22:34,00:05:43,30993.0,2017-05-01 14:35:00,2017-05-01 14:30:58,00:04:02,6.716667,28150.0,2017-05-01 13:36:25,00:46:09
8,28150.0,9,3,BUS,303,LE702,5.0,26195.0,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,25753.0,2017-05-01 14:57:19,2017-05-01 14:50:32,00:06:47,12.316667,28150.0,2017-05-01 13:36:25,01:05:22
9,28150.0,10,3,BUS,303,DE719,5.0,26195.0,2017-05-01 15:02:00,2017-05-01 15:04:59,00:02:59,25753.0,2017-05-01 15:14:19,2017-05-01 15:13:00,00:01:19,12.316667,28150.0,2017-05-01 13:36:25,01:28:34
10,28154.0,1,1,BUS,684,HA298,11.0,39378.0,2017-05-01 13:42:13,2017-05-01 13:35:38,00:06:35,31053.0,2017-05-01 14:18:00,2017-05-01 14:01:41,00:16:19,35.783333,28154.0,2017-05-01 13:36:28,-1 days +23:59:10
11,28154.0,2,1,BUS,684,HA019,12.0,39378.0,2017-05-01 13:57:13,2017-05-01 13:57:23,00:00:10,31053.0,2017-05-01 14:33:00,2017-05-01 14:21:28,00:11:32,35.783333,28154.0,2017-05-01 13:36:28,00:20:55
12,28154.0,3,2,BUS,685,HA288,8.0,36354.0,2017-05-01 13:56:19,2017-05-01 14:01:45,00:05:26,35104.0,2017-05-01 14:24:59,2017-05-01 14:25:50,00:00:51,28.666667,28154.0,2017-05-01 13:36:28,00:25:17
13,28154.0,4,2,BUS,617,HA282,9.0,39727.0,2017-05-01 13:57:25,2017-05-01 14:06:35,00:09:10,31051.0,2017-05-01 14:32:00,2017-05-01 14:37:37,00:05:37,34.583333,28154.0,2017-05-01 13:36:28,00:30:07
14,28154.0,5,2,BUS,646,HA006,9.0,41583.0,2017-05-01 14:10:09,2017-05-01 14:14:55,00:04:46,34160.0,2017-05-01 14:41:18,2017-05-01 14:37:21,00:03:57,31.150000,28154.0,2017-05-01 13:36:28,00:38:27
15,28154.0,6,1,BUS,684,HA296,11.0,39378.0,2017-05-01 14:12:13,2017-05-01 14:16:52,00:04:39,31053.0,2017-05-01 14:48:00,2017-05-01 14:41:32,00:06:28,35.783333,28154.0,2017-05-01 13:36:28,00:40:24
16,28154.0,7,1,BUS,684,HA002,7.0,39378.0,2017-05-01 14:27:13,2017-05-01 14:32:39,00:05:26,31053.0,2017-05-01 15:03:00,2017-05-01 14:57:32,00:05:28,35.783333,28154.0,2017-05-01 13:36:28,00:56:11
17,28154.0,8,1,BUS,684,HA298,12.0,39378.0,2017-05-01 14:42:13,2017-05-01 14:44:48,00:02:35,31053.0,2017-05-01 15:18:00,2017-05-01 15:10:34,00:07:26,35.783333,28154.0,2017-05-01 13:36:28,01:08:20
18,28154.0,9,1,BUS,684,HA019,13.0,39378.0,2017-05-01 14:57:13,2017-05-01 15:03:07,00:05:54,34160.0,2017-05-01 15:30:02,2017-05-01 15:23:26,00:06:36,32.816667,28154.0,2017-05-01 13:36:28,01:26:39
19,28154.0,10,1,BUS,684,HA296,12.0,39378.0,2017-05-01 15:12:13,2017-05-01 15:18:39,00:06:26,34160.0,2017-05-01 15:45:02,2017-05-01 15:38:17,00:06:45,32.816667,28154.0,2017-05-01 13:36:28,01:42:11
20,28156.0,1,1,BUS,619,HA020,10.0,36299.0,2017-05-01 13:38:40,2017-05-01 13:47:28,00:08:48,30434.0,2017-05-01 14:14:00,2017-05-01 14:09:40,00:04:20,35.333333,28156.0,2017-05-01 13:36:28,00:11:00
21,28156.0,2,2,BUS,655,HA005,11.0,39379.0,2017-05-01 13:55:56,2017-05-01 14:02:14,00:06:18,31019.0,2017-05-01 14:26:00,2017-05-01 14:31:37,00:05:37,30.066667,28156.0,2017-05-01 13:36:28,00:25:46
22,28156.0,3,1,BUS,619,HA020,10.0,36299.0,2017-05-01 13:55:43,2017-05-01 13:47:28,00:08:15,30434.0,2017-05-01 14:26:00,2017-05-01 14:09:40,00:16:20,30.283333,28156.0,2017-05-01 13:36:28,00:11:00
23,28156.0,4,2,BUS,617,HA282,9.0,36284.0,2017-05-01 14:00:59,2017-05-01 14:10:57,00:09:58,31051.0,2017-05-01 14:32:00,2017-05-01 14:37:37,00:05:37,31.016667,28156.0,2017-05-01 13:36:28,00:34:29
24,28156.0,5,2,BUS,685,HA288,8.0,36331.0,2017-05-01 14:02:12,2017-05-01 14:06:59,00:04:47,35104.0,2017-05-01 14:24:59,2017-05-01 14:25:50,00:00:51,22.783333,28156.0,2017-05-01 13:36:28,00:30:31
25,28156.0,6,2,BUS,684,HA019,12.0,39355.0,2017-05-01 14:03:07,2017-05-01 13:59:24,00:03:43,31053.0,2017-05-01 14:33:00,2017-05-01 14:21:28,00:11:32,29.883333,28156.0,2017-05-01 13:36:28,00:22:56
26,28156.0,7,2,BUS,655,HA005,11.0,39379.0,2017-05-01 14:15:56,2017-05-01 14:02:14,00:13:42,31019.0,2017-05-01 14:46:00,2017-05-01 14:31:37,00:14:23,30.066667,28156.0,2017-05-01 13:36:28,00:25:46
27,28156.0,8,1,BUS,619,HA020,10.0,36299.0,2017-05-01 14:14:30,2017-05-01 13:47:28,00:27:02,33244.0,2017-05-01 14:34:32,2017-05-01 14:00:05,00:34:27,20.033333,28156.0,2017-05-01 13:36:28,00:11:00
28,28156.0,9,2,BUS,655,HA001,10.0,39379.0,2017-05-01 14:35:56,2017-05-01 14:33:28,00:02:28,31019.0,2017-05-01 15:06:00,2017-05-01 15:02:06,00:03:54,30.066667,28156.0,2017-05-01 13:36:28,00:57:00
29,28156.0,10,2,BUS,655,HA005,12.0,39379.0,2017-05-01 14:55:56,2017-05-01 15:01:11,00:05:15,31019.0,2017-05-01 15:26:00,2017-05-01 15:27:28,00:01:28,30.066667,28156.0,2017-05-01 13:36:28,01:24:43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,70809.0,8,2,BUS,617,HA282,17.0,34155.0,2017-05-01 23:25:27,2017-05-01 23:26:48,00:01:21,39734.0,2017-05-01 23:45:15,2017-05-01 23:41:59,00:03:16,19.800000,70809.0,2017-05-01 22:53:02,00:33:46
1087,70809.0,9,2,BUS,655,HA001,18.0,34155.0,2017-05-01 23:41:46,2017-05-01 23:02:56,00:38:50,36238.0,2017-05-02 00:05:00,2017-05-01 23:23:22,00:41:38,23.233333,70809.0,2017-05-01 22:53:02,00:09:54
1088,70809.0,10,2,BUS,684,HA296,19.0,34155.0,2017-05-01 23:42:18,2017-05-01 23:36:49,00:05:29,39263.0,2017-05-01 23:57:34,2017-05-01 23:47:35,00:09:59,15.266667,70809.0,2017-05-01 22:53:02,00:43:47
1089,71039.0,1,1,BUS,777,JC004,20.0,33567.0,2017-05-01 22:59:06,2017-05-01 22:58:45,00:00:21,26631.0,2017-05-01 23:17:01,2017-05-01 23:12:33,00:04:28,17.916667,71039.0,2017-05-01 22:59:41,-1 days +23:59:04
1090,71039.0,2,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:08:12,2017-05-01 23:08:40,00:00:28,26631.0,2017-05-01 23:26:48,2017-05-01 23:21:51,00:04:57,18.600000,71039.0,2017-05-01 22:59:41,00:08:59
1091,71039.0,3,1,BUS,777,JC004,20.0,33567.0,2017-05-01 23:14:06,2017-05-01 22:58:45,00:15:21,26631.0,2017-05-01 23:32:01,2017-05-01 23:12:33,00:19:28,17.916667,71039.0,2017-05-01 22:59:41,-1 days +23:59:04
1092,71039.0,5,1,BUS,778,JC010,16.0,33567.0,2017-05-01 23:18:12,2017-05-01 23:29:28,00:11:16,26631.0,2017-05-01 23:42:20,2017-05-01 23:44:42,00:02:22,24.133333,71039.0,2017-05-01 22:59:41,00:29:47
1093,71039.0,6,1,BUS,777,JC014,21.0,33567.0,2017-05-01 23:29:21,2017-05-01 23:30:19,00:00:58,26631.0,2017-05-01 23:47:57,2017-05-01 23:41:32,00:06:25,18.600000,71039.0,2017-05-01 22:59:41,00:30:38
1094,71039.0,9,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:54:12,2017-05-01 23:08:40,00:45:32,26631.0,2017-05-02 00:12:48,2017-05-01 23:21:51,00:50:57,18.600000,71039.0,2017-05-01 22:59:41,00:08:59
1095,71039.0,10,1,BUS,777,JC014,21.0,33567.0,2017-05-01 23:58:52,2017-05-01 23:30:19,00:28:33,26631.0,2017-05-02 00:16:06,2017-05-01 23:41:32,00:34:34,17.233333,71039.0,2017-05-01 22:59:41,00:30:38
1096,71056.0,1,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:05:52,2017-05-01 22:58:56,00:06:56,299.0,2017-05-01 23:26:41,2017-05-01 23:14:20,00:12:21,20.816667,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1097,71056.0,2,1,BUS,307,ML301,11.0,26208.0,2017-05-01 23:00:00,2017-05-01 23:08:21,00:08:21,25685.0,2017-05-01 23:09:54,2017-05-01 22:58:54,00:11:00,9.900000,71056.0,2017-05-01 23:00:10,00:08:11
1098,71056.0,3,1,BUS,030,KB600,7.0,26222.0,2017-05-01 23:28:00,2017-05-01 22:58:56,00:29:04,32540.0,2017-05-01 23:43:51,2017-05-01 23:10:46,00:33:05,15.850000,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1099,71056.0,4,2,BUS,373,CC195,17.0,26218.0,2017-05-01 23:05:00,2017-05-01 23:01:36,00:03:24,30879.0,2017-05-01 23:12:42,2017-05-01 22:19:49,00:52:53,7.700000,71056.0,2017-05-01 23:00:10,00:01:26
1100,71056.0,5,1,BUS,030,KB600,7.0,26222.0,2017-05-02 05:30:00,2017-05-01 22:58:56,06:31:04,31482.0,2017-05-02 05:57:34,2017-05-01 23:23:14,06:34:20,27.566667,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1101,71056.0,6,1,BUS,030,KB600,7.0,26222.0,2017-05-02 05:15:00,2017-05-01 22:58:56,06:16:04,31488.0,2017-05-02 05:43:56,2017-05-01 23:25:07,06:18:49,28.933333,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1102,71056.0,7,1,BUS,030,KB600,7.0,26222.0,2017-05-02 05:39:00,2017-05-01 22:58:56,06:40:04,31482.0,2017-05-02 06:06:34,2017-05-01 23:23:14,06:43:20,27.566667,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1103,71056.0,8,1,BUS,030,KB600,7.0,26222.0,2017-05-02 06:34:00,2017-05-01 22:58:56,07:35:04,31482.0,2017-05-02 07:03:11,2017-05-01 23:23:14,07:39:57,29.183333,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1104,71056.0,9,1,BUS,030,KB600,7.0,26222.0,2017-05-02 06:15:00,2017-05-01 22:58:56,07:16:04,31482.0,2017-05-02 06:43:11,2017-05-01 23:23:14,07:19:57,28.183333,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1105,71056.0,10,1,BUS,030,KB600,7.0,26222.0,2017-05-02 05:56:00,2017-05-01 22:58:56,06:57:04,32596.0,2017-05-02 06:45:42,2017-05-01 23:42:53,07:02:49,49.700000,71056.0,2017-05-01 23:00:10,-1 days +23:58:46
1106,71837.0,1,5,BUS,030,KB605,7.0,270.0,2017-05-02 00:05:00,2017-05-01 22:33:05,01:31:55,30059.0,2017-05-02 00:13:06,2017-05-01 22:49:03,01:24:03,8.100000,71837.0,2017-05-01 23:26:52,-1 days +23:06:13
1107,71837.0,2,1,BUS,471,EC007,16.0,26583.0,2017-05-02 05:46:52,2017-05-01 23:10:56,06:35:56,32155.0,2017-05-02 06:18:07,2017-05-01 23:29:15,06:48:52,31.250000,71837.0,2017-05-01 23:26:52,-1 days +23:44:04
1108,71837.0,3,2,BUS,468,DC298,15.0,31499.0,2017-05-02 05:48:10,2017-05-01 23:21:54,06:26:16,31513.0,2017-05-02 06:10:50,2017-05-01 23:32:53,06:37:57,22.666667,71837.0,2017-05-01 23:26:52,-1 days +23:55:02
1109,71837.0,4,1,BUS,472,KC002,16.0,26583.0,2017-05-02 05:59:35,2017-05-01 23:26:04,06:33:31,30062.0,2017-05-02 06:28:02,2017-05-01 23:41:07,06:46:55,28.450000,71837.0,2017-05-01 23:26:52,-1 days +23:59:12
1110,71837.0,5,1,BUS,475,EC005,9.0,26583.0,2017-05-02 05:52:55,2017-05-01 23:17:00,06:35:55,33546.0,2017-05-02 06:22:26,2017-05-01 23:32:17,06:50:09,29.516667,71837.0,2017-05-01 23:26:52,-1 days +23:50:08
1111,71837.0,6,1,BUS,471,EC007,16.0,26583.0,2017-05-02 06:10:56,2017-05-01 23:10:56,07:00:00,32155.0,2017-05-02 06:43:06,2017-05-01 23:29:15,07:13:51,32.166667,71837.0,2017-05-01 23:26:52,-1 days +23:44:04
1112,71837.0,7,1,BUS,475,EC005,9.0,26583.0,2017-05-02 06:11:46,2017-05-01 23:17:00,06:54:46,33546.0,2017-05-02 06:39:00,2017-05-01 23:32:17,07:06:43,27.233333,71837.0,2017-05-01 23:26:52,-1 days +23:50:08
1113,71837.0,8,1,BUS,472,KC002,16.0,26583.0,2017-05-02 06:24:35,2017-05-01 23:26:04,06:58:31,30062.0,2017-05-02 06:53:02,2017-05-01 23:41:07,07:11:55,28.450000,71837.0,2017-05-01 23:26:52,-1 days +23:59:12
1114,71837.0,9,1,BUS,471,EC007,16.0,26583.0,2017-05-02 06:34:56,2017-05-01 23:10:56,07:24:00,32155.0,2017-05-02 07:07:06,2017-05-01 23:29:15,07:37:51,32.166667,71837.0,2017-05-01 23:26:52,-1 days +23:44:04
1115,71837.0,10,1,BUS,472,KC002,16.0,26583.0,2017-05-02 06:49:35,2017-05-01 23:26:04,07:23:31,30062.0,2017-05-02 07:18:02,2017-05-01 23:41:07,07:36:55,28.450000,71837.0,2017-05-01 23:26:52,-1 days +23:59:12

In [121]:
first_bus_legs_time_validation[first_bus_legs_time_validation['otp_leg_id'] > 2]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime,pass_obs_start_diff
1,28150.0,2,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667,28150.0,2017-05-01 13:36:25,00:26:23
3,28150.0,4,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25753.0,2017-05-01 14:25:59,2017-05-01 12:25:36,02:00:23,10.983333,28150.0,2017-05-01 13:36:25,00:42:17
6,28150.0,7,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25753.0,2017-05-01 14:43:59,2017-05-01 14:37:26,00:06:33,10.983333,28150.0,2017-05-01 13:36:25,00:52:59
8,28150.0,9,3,BUS,303,LE702,5.0,26195.0,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,25753.0,2017-05-01 14:57:19,2017-05-01 14:50:32,00:06:47,12.316667,28150.0,2017-05-01 13:36:25,01:05:22
9,28150.0,10,3,BUS,303,DE719,5.0,26195.0,2017-05-01 15:02:00,2017-05-01 15:04:59,00:02:59,25753.0,2017-05-01 15:14:19,2017-05-01 15:13:00,00:01:19,12.316667,28150.0,2017-05-01 13:36:25,01:28:34
34,28161.0,5,3,BUS,303,DE715,4.0,26198.0,2017-05-01 14:03:36,2017-05-01 14:02:26,00:01:10,25646.0,2017-05-01 14:16:02,2017-05-01 14:12:36,00:03:26,12.433333,28161.0,2017-05-01 13:36:33,00:25:53
59,28169.0,1,4,BUS,030,KB605,3.0,27636.0,2017-05-01 13:56:00,2017-05-01 13:43:50,00:12:10,32610.0,2017-05-01 14:11:26,2017-05-01 11:16:16,02:55:10,15.433333,28169.0,2017-05-01 13:36:36,00:07:14
64,28169.0,6,4,BUS,625,GA149,6.0,27639.0,2017-05-01 14:21:00,2017-05-01 14:25:52,00:04:52,36064.0,2017-05-01 14:44:54,2017-05-01 14:47:07,00:02:13,23.900000,28169.0,2017-05-01 13:36:36,00:49:16
65,28169.0,7,4,BUS,625,GA164,4.0,27639.0,2017-05-01 14:38:00,2017-05-01 14:46:56,00:08:56,36064.0,2017-05-01 15:01:54,2017-05-01 15:06:51,00:04:57,23.900000,28169.0,2017-05-01 13:36:36,01:10:20
71,28172.0,3,4,BUS,030,KB604,4.0,32546.0,2017-05-01 14:07:02,2017-05-01 14:18:17,00:11:15,30860.0,2017-05-01 14:25:46,2017-05-01 14:32:02,00:06:16,18.733333,28172.0,2017-05-01 13:36:41,00:41:36
76,28172.0,8,4,BUS,373,CC195,9.0,30199.0,2017-05-01 14:42:29,2017-05-01 14:53:21,00:10:52,30860.0,2017-05-01 14:53:41,2017-05-01 14:59:54,00:06:13,11.200000,28172.0,2017-05-01 13:36:41,01:16:40
78,28172.0,10,4,BUS,030,KB605,4.0,276.0,2017-05-01 14:50:28,2017-05-01 14:42:03,00:08:25,30860.0,2017-05-01 15:10:09,2017-05-01 15:00:38,00:09:31,19.683333,28172.0,2017-05-01 13:36:41,01:05:22
89,28177.0,1,3,BUS,203,BE703,5.0,26199.0,2017-05-01 13:42:00,2017-05-01 13:43:09,00:01:09,25924.0,2017-05-01 13:49:38,2017-05-01 13:53:01,00:03:23,7.633333,28177.0,2017-05-01 13:36:44,00:06:25
97,28177.0,9,3,BUS,203,BD135,4.0,26199.0,2017-05-01 14:00:00,2017-05-01 14:03:30,00:03:30,25924.0,2017-05-01 14:07:38,2017-05-01 14:14:15,00:06:37,7.633333,28177.0,2017-05-01 13:36:44,00:26:46
121,28204.0,3,4,BUS,304,LL304,5.0,26286.0,2017-05-01 14:16:18,2017-05-01 14:11:59,00:04:19,2654.0,2017-05-01 14:20:00,2017-05-01 14:19:57,00:00:03,3.700000,28204.0,2017-05-01 13:37:05,00:34:54
171,28226.0,3,4,BUS,304,LL304,5.0,26286.0,2017-05-01 14:16:18,2017-05-01 14:11:59,00:04:19,2654.0,2017-05-01 14:20:00,2017-05-01 14:19:57,00:00:03,3.700000,28226.0,2017-05-01 13:37:24,00:34:35
211,28262.0,3,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25753.0,2017-05-01 14:15:19,2017-05-01 14:12:10,00:03:09,12.316667,28262.0,2017-05-01 13:37:59,00:24:49
213,28262.0,5,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25753.0,2017-05-01 14:25:59,2017-05-01 12:25:36,02:00:23,10.983333,28262.0,2017-05-01 13:37:59,00:40:43
216,28262.0,8,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25753.0,2017-05-01 14:43:59,2017-05-01 14:37:26,00:06:33,10.983333,28262.0,2017-05-01 13:37:59,00:51:25
218,28262.0,10,3,BUS,303,LE702,5.0,26195.0,2017-05-01 14:45:00,2017-05-01 14:41:47,00:03:13,25753.0,2017-05-01 14:57:19,2017-05-01 14:50:32,00:06:47,12.316667,28262.0,2017-05-01 13:37:59,01:03:48
220,28266.0,2,4,BUS,203,HD241,5.0,26190.0,2017-05-01 14:13:33,2017-05-01 14:12:02,00:01:31,25391.0,2017-05-01 14:41:04,2017-05-01 14:41:05,00:00:01,27.516667,28266.0,2017-05-01 13:38:00,00:34:02
224,28266.0,6,4,BUS,270,BN619,7.0,31703.0,2017-05-01 14:10:14,2017-05-01 13:41:55,00:28:19,29223.0,2017-05-01 14:29:12,2017-05-01 13:58:10,00:31:02,18.966667,28266.0,2017-05-01 13:38:00,00:03:55
227,28266.0,9,4,BUS,203,GD350,5.0,26190.0,2017-05-01 14:45:33,2017-05-01 14:44:07,00:01:26,25391.0,2017-05-01 15:13:04,2017-05-01 15:14:02,00:00:58,27.516667,28266.0,2017-05-01 13:38:00,01:06:07
228,28266.0,10,4,BUS,203,BD135,5.0,26190.0,2017-05-01 15:10:46,2017-05-01 15:09:20,00:01:26,25391.0,2017-05-01 15:38:32,2017-05-01 15:34:59,00:03:33,27.766667,28266.0,2017-05-01 13:38:00,01:31:20
329,28308.0,8,3,BUS,603,HD250,6.0,26296.0,2017-05-01 14:13:00,2017-05-01 14:07:27,00:05:33,25730.0,2017-05-01 14:47:41,2017-05-01 14:34:50,00:12:51,34.683333,28308.0,2017-05-01 13:38:36,00:28:51
353,28321.0,2,4,BUS,502,HR028,6.0,27512.0,2017-05-01 13:56:36,2017-05-01 13:35:37,00:20:59,27353.0,2017-05-01 14:02:00,2017-05-01 13:41:03,00:20:57,5.400000,28321.0,2017-05-01 13:38:47,-1 days +23:56:50
363,28325.0,2,4,BUS,303,DE719,5.0,26204.0,2017-05-01 14:10:28,2017-05-01 14:12:34,00:02:06,25564.0,2017-05-01 14:49:43,2017-05-01 14:55:43,00:06:00,39.250000,28325.0,2017-05-01 13:38:50,00:33:44
364,28325.0,3,4,BUS,303,DE719,5.0,25542.0,2017-05-01 14:13:24,2017-05-01 14:09:10,00:04:14,25564.0,2017-05-01 14:56:16,2017-05-01 14:55:43,00:00:33,42.866667,28325.0,2017-05-01 13:38:50,00:30:20
367,28325.0,6,4,BUS,303,DE713,5.0,26204.0,2017-05-01 14:28:28,2017-05-01 14:24:37,00:03:51,25564.0,2017-05-01 15:07:43,2017-05-01 15:07:24,00:00:19,39.250000,28325.0,2017-05-01 13:38:50,00:45:47
368,28325.0,7,4,BUS,303,DE710,5.0,26204.0,2017-05-01 14:34:28,2017-05-01 14:36:11,00:01:43,25564.0,2017-05-01 15:13:43,2017-05-01 15:18:53,00:05:10,39.250000,28325.0,2017-05-01 13:38:50,00:57:21
369,28325.0,8,4,BUS,303,LE700,5.0,25545.0,2017-05-01 14:44:07,2017-05-01 14:49:27,00:05:20,25564.0,2017-05-01 15:19:43,2017-05-01 15:30:00,00:10:17,35.600000,28325.0,2017-05-01 13:38:50,01:10:37
516,28387.0,5,4,BUS,204,HL308,5.0,30446.0,2017-05-01 14:10:25,2017-05-01 14:02:11,00:08:14,26233.0,2017-05-01 14:16:43,2017-05-01 14:08:11,00:08:32,6.300000,28387.0,2017-05-01 13:39:23,00:22:48
555,28397.0,4,3,BUS,020,BR107,5.0,32732.0,2017-05-01 14:09:20,2017-05-01 14:00:56,00:08:24,28132.0,2017-05-01 14:20:00,2017-05-01 14:09:46,00:10:14,10.666667,28397.0,2017-05-01 13:39:31,00:21:25
597,28411.0,6,4,BUS,602,HE689,8.0,25783.0,2017-05-01 14:55:56,2017-05-01 15:01:47,00:05:51,27121.0,2017-05-01 15:07:00,2017-05-01 15:11:44,00:04:44,11.066667,28411.0,2017-05-01 13:39:44,01:22:03
624,28424.0,3,3,BUS,303,DE722,4.0,26195.0,2017-05-01 14:03:00,2017-05-01 14:02:48,00:00:12,25757.0,2017-05-01 14:23:33,2017-05-01 14:20:19,00:03:14,20.550000,28424.0,2017-05-01 13:39:51,00:22:57
627,28424.0,6,3,BUS,303,LE710,4.0,26195.0,2017-05-01 14:15:00,2017-05-01 14:18:42,00:03:42,25757.0,2017-05-01 14:33:20,2017-05-01 12:34:01,01:59:19,18.333333,28424.0,2017-05-01 13:39:51,00:38:51
630,28424.0,9,3,BUS,303,DE708,5.0,26195.0,2017-05-01 14:33:00,2017-05-01 14:29:24,00:03:36,25757.0,2017-05-01 14:51:20,2017-05-01 14:45:53,00:05:27,18.333333,28424.0,2017-05-01 13:39:51,00:49:33
653,28457.0,2,4,BUS,304,LL302,5.0,25916.0,2017-05-01 14:42:09,2017-05-01 14:45:26,00:03:17,25891.0,2017-05-01 14:46:33,2017-05-01 14:53:17,00:06:44,4.400000,28457.0,2017-05-01 13:40:15,01:05:11
659,28461.0,3,4,BUS,170,BC034,9.0,27745.0,2017-05-01 14:02:00,2017-05-01 13:55:44,00:06:16,36660.0,2017-05-01 14:21:58,2017-05-01 14:12:26,00:09:32,19.966667,28461.0,2017-05-01 13:40:17,00:15:27
690,28485.0,4,4,BUS,203,HD242,5.0,26190.0,2017-05-01 14:16:46,2017-05-01 14:21:16,00:04:30,25393.0,2017-05-01 14:48:00,2017-05-01 14:50:41,00:02:41,31.233333,28485.0,2017-05-01 13:40:38,00:40:38
708,28487.0,3,4,BUS,303,DE715,4.0,25557.0,2017-05-01 14:31:31,2017-05-01 14:33:18,00:01:47,26195.0,2017-05-01 14:56:00,2017-05-01 14:56:11,00:00:11,24.483333,28487.0,2017-05-01 13:40:39,00:52:39
739,31239.0,4,4,BUS,203,BD147,5.0,26199.0,2017-05-01 14:55:00,2017-05-01 14:48:27,00:06:33,26197.0,2017-05-01 15:01:40,2017-05-01 14:58:31,00:03:09,6.666667,31239.0,2017-05-01 14:13:25,00:35:02
743,31239.0,8,4,BUS,203,BD139,5.0,26199.0,2017-05-01 15:12:00,2017-05-01 15:16:52,00:04:52,26197.0,2017-05-01 15:18:40,2017-05-01 15:25:37,00:06:57,6.666667,31239.0,2017-05-01 14:13:25,01:03:27
787,39353.0,4,3,BUS,619,HA020,13.0,33243.0,2017-05-01 17:32:10,2017-05-01 17:24:21,00:07:49,35447.0,2017-05-01 17:41:55,2017-05-01 17:30:50,00:11:05,9.750000,39353.0,2017-05-01 15:40:50,01:43:31
792,39353.0,9,3,BUS,628,HA015,12.0,33241.0,2017-05-01 18:12:58,2017-05-01 18:23:15,00:10:17,35179.0,2017-05-01 18:22:47,2017-05-01 18:29:29,00:06:42,9.816667,39353.0,2017-05-01 15:40:50,02:42:25
828,43854.0,5,4,BUS,901,MC305,13.0,29598.0,2017-05-01 16:50:00,2017-05-01 16:46:54,00:03:06,32794.0,2017-05-01 16:56:34,2017-05-01 16:53:33,00:03:01,6.566667,43854.0,2017-05-01 16:29:17,00:17:37
829,43854.0,6,4,BUS,972,MN611,10.0,29599.0,2017-05-01 16:53:00,2017-05-01 17:00:19,00:07:19,32794.0,2017-05-01 16:58:27,2017-05-01 17:10:40,00:12:13,5.450000,43854.0,2017-05-01 16:29:17,00:31:02
840,44578.0,7,3,BUS,020,BB603,4.0,30943.0,2017-05-01 16:56:52,2017-05-01 16:56:28,00:00:24,32720.0,2017-05-01 17:37:03,2017-05-01 17:21:58,00:15:05,40.183333,44578.0,2017-05-01 16:36:31,00:19:57
894,52894.0,1,3,BUS,821,MA013,14.0,30995.0,2017-05-01 18:25:00,2017-05-01 18:48:59,00:23:59,33995.0,2017-05-01 18:30:51,2017-05-01 18:54:14,00:23:23,5.850000,52894.0,2017-05-01 17:59:15,00:49:44
903,52916.0,1,3,BUS,821,MA013,14.0,30995.0,2017-05-01 18:25:00,2017-05-01 18:48:59,00:23:59,33995.0,2017-05-01 18:30:51,2017-05-01 18:54:14,00:23:23,5.850000,52916.0,2017-05-01 17:59:24,00:49:35
916,53308.0,5,3,BUS,619,HA020,15.0,33243.0,2017-05-01 19:40:26,2017-05-01 19:26:00,00:14:26,36273.0,2017-05-01 19:51:31,2017-05-01 19:37:30,00:14:01,11.083333,53308.0,2017-05-01 18:02:28,01:23:32
920,53308.0,9,3,BUS,619,HA020,16.0,33241.0,2017-05-01 20:19:56,2017-05-01 20:20:11,00:00:15,36273.0,2017-05-01 20:32:25,2017-05-01 20:31:19,00:01:06,12.483333,53308.0,2017-05-01 18:02:28,02:17:43
921,53308.0,10,3,BUS,619,HA020,17.0,33241.0,2017-05-01 21:19:56,2017-05-01 21:21:00,00:01:04,36273.0,2017-05-01 21:32:25,2017-05-01 21:32:42,00:00:17,12.483333,53308.0,2017-05-01 18:02:28,03:18:32
1037,65005.0,7,4,BUS,821,MA013,17.0,30995.0,2017-05-01 21:43:00,2017-05-01 21:49:37,00:06:37,33342.0,2017-05-01 22:13:58,2017-05-01 22:11:23,00:02:35,30.966667,65005.0,2017-05-01 20:28:26,01:21:11
1038,65005.0,8,4,BUS,304,LL302,9.0,2654.0,2017-05-01 22:13:00,2017-05-01 22:17:39,00:04:39,25723.0,2017-05-01 22:38:00,2017-05-01 21:00:01,01:37:59,25.000000,65005.0,2017-05-01 20:28:26,01:49:13
1042,66750.0,2,3,BUS,550,GE715,16.0,25500.0,2017-05-01 21:25:53,2017-05-01 21:29:01,00:03:08,26298.0,2017-05-01 21:51:00,2017-05-01 21:50:26,00:00:34,25.116667,66750.0,2017-05-01 21:09:39,00:19:22
1044,66750.0,4,4,BUS,545,JA300,10.0,30039.0,2017-05-01 21:49:00,2017-05-01 21:33:14,00:15:46,32036.0,2017-05-01 22:13:29,2017-05-01 21:59:16,00:14:13,24.483333,66750.0,2017-05-01 21:09:39,00:23:35
1049,66750.0,9,3,BUS,602,HE689,13.0,26263.0,2017-05-01 22:20:00,2017-05-01 22:15:31,00:04:29,26297.0,2017-05-01 22:34:00,2017-05-01 22:27:03,00:06:57,14.000000,66750.0,2017-05-01 21:09:39,01:05:52
1081,70809.0,3,4,BUS,619,HA020,19.0,33234.0,2017-05-01 23:18:17,2017-05-01 23:12:11,00:06:06,36273.0,2017-05-01 23:36:54,2017-05-01 23:24:52,00:12:02,18.616667,70809.0,2017-05-01 22:53:02,00:19:09
1106,71837.0,1,5,BUS,030,KB605,7.0,270.0,2017-05-02 00:05:00,2017-05-01 22:33:05,01:31:55,30059.0,2017-05-02 00:13:06,2017-05-01 22:49:03,01:24:03,8.100000,71837.0,2017-05-01 23:26:52,-1 days +23:06:13

In [115]:
valid_first_bus_legs_matches = first_bus_legs_time_validation[
    (first_bus_legs_time_validation['pass_obs_start_diff'] > pd.Timedelta('0s')) &
    (first_bus_legs_time_validation['pass_obs_start_diff'] <= pd.Timedelta('15m'))] \
    .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','bt_start_time'])

In [116]:
valid_first_bus_legs_matches

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime,pass_obs_start_diff
4,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000,28150.0,2017-05-01 13:36:25,00:07:42
20,28156.0,1,1,BUS,619,HA020,10.0,36299.0,2017-05-01 13:38:40,2017-05-01 13:47:28,00:08:48,30434.0,2017-05-01 14:14:00,2017-05-01 14:09:40,00:04:20,35.333333,28156.0,2017-05-01 13:36:28,00:11:00
22,28156.0,3,1,BUS,619,HA020,10.0,36299.0,2017-05-01 13:55:43,2017-05-01 13:47:28,00:08:15,30434.0,2017-05-01 14:26:00,2017-05-01 14:09:40,00:16:20,30.283333,28156.0,2017-05-01 13:36:28,00:11:00
27,28156.0,8,1,BUS,619,HA020,10.0,36299.0,2017-05-01 14:14:30,2017-05-01 13:47:28,00:27:02,33244.0,2017-05-01 14:34:32,2017-05-01 14:00:05,00:34:27,20.033333,28156.0,2017-05-01 13:36:28,00:11:00
31,28161.0,2,2,BUS,303,LE702,5.0,25544.0,2017-05-01 13:51:32,2017-05-01 13:50:17,00:01:15,25646.0,2017-05-01 14:05:38,2017-05-01 14:04:25,00:01:13,14.100000,28161.0,2017-05-01 13:36:33,00:13:44
36,28161.0,8,2,BUS,462,DC093,7.0,33025.0,2017-05-01 13:50:45,2017-05-01 13:44:34,00:06:11,30746.0,2017-05-01 14:07:57,2017-05-01 13:55:26,00:12:31,17.200000,28161.0,2017-05-01 13:36:33,00:08:01
59,28169.0,1,4,BUS,030,KB605,3.0,27636.0,2017-05-01 13:56:00,2017-05-01 13:43:50,00:12:10,32610.0,2017-05-01 14:11:26,2017-05-01 11:16:16,02:55:10,15.433333,28169.0,2017-05-01 13:36:36,00:07:14
60,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,00:11:10,16.700000,28169.0,2017-05-01 13:36:36,00:05:43
70,28172.0,2,1,BUS,332,DA015,22.0,27786.0,2017-05-01 13:35:58,2017-05-01 13:40:21,00:04:23,30123.0,2017-05-01 13:40:00,2017-05-01 13:47:17,00:07:17,4.033333,28172.0,2017-05-01 13:36:41,00:03:40
72,28172.0,4,1,BUS,332,DA015,22.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:21,00:07:37,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,00:04:43,4.033333,28172.0,2017-05-01 13:36:41,00:03:40
73,28172.0,5,2,BUS,303,DE715,4.0,26192.0,2017-05-01 13:52:00,2017-05-01 13:50:12,00:01:48,26045.0,2017-05-01 14:10:04,2017-05-01 14:08:27,00:01:37,18.066667,28172.0,2017-05-01 13:36:41,00:13:31
80,28174.0,2,2,BUS,515,EA195,10.0,33561.0,2017-05-01 13:41:43,2017-05-01 13:44:39,00:02:56,30029.0,2017-05-01 13:49:00,2017-05-01 13:49:48,00:00:48,7.283333,28174.0,2017-05-01 13:36:42,00:07:57
82,28174.0,4,2,BUS,335,DA022,11.0,33561.0,2017-05-01 13:44:05,2017-05-01 13:41:46,00:02:19,30027.0,2017-05-01 13:50:00,2017-05-01 13:47:05,00:02:55,5.916667,28174.0,2017-05-01 13:36:42,00:05:04
89,28177.0,1,3,BUS,203,BE703,5.0,26199.0,2017-05-01 13:42:00,2017-05-01 13:43:09,00:01:09,25924.0,2017-05-01 13:49:38,2017-05-01 13:53:01,00:03:23,7.633333,28177.0,2017-05-01 13:36:44,00:06:25
90,28177.0,2,2,BUS,020,BR107,5.0,32721.0,2017-05-01 13:40:37,2017-05-01 13:47:52,00:07:15,31970.0,2017-05-01 13:48:56,2017-05-01 13:55:33,00:06:37,8.316667,28177.0,2017-05-01 13:36:44,00:11:08
91,28177.0,3,2,BUS,603,HD245,7.0,26294.0,2017-05-01 13:47:51,2017-05-01 13:46:20,00:01:31,25924.0,2017-05-01 13:56:44,2017-05-01 13:54:36,00:02:08,8.883333,28177.0,2017-05-01 13:36:44,00:09:36
93,28177.0,5,1,BUS,658,HA027,5.0,35212.0,2017-05-01 13:45:18,2017-05-01 13:49:44,00:04:26,27620.0,2017-05-01 13:48:00,2017-05-01 13:51:50,00:03:50,2.700000,28177.0,2017-05-01 13:36:44,00:13:00
96,28177.0,8,2,BUS,020,BR107,5.0,32721.0,2017-05-01 13:54:37,2017-05-01 13:47:52,00:06:45,31970.0,2017-05-01 14:02:47,2017-05-01 13:55:33,00:07:14,8.166667,28177.0,2017-05-01 13:36:44,00:11:08
99,28178.0,1,1,BUS,901,MC303,9.0,26900.0,2017-05-01 13:35:05,2017-05-01 13:38:50,00:03:45,27256.0,2017-05-01 13:41:02,2017-05-01 13:43:50,00:02:48,5.950000,28178.0,2017-05-01 13:36:44,00:02:06
102,28178.0,4,2,BUS,022,DL302,5.0,25832.0,2017-05-01 13:47:00,2017-05-01 13:43:11,00:03:49,25873.0,2017-05-01 13:59:08,2017-05-01 13:53:33,00:05:35,12.133333,28178.0,2017-05-01 13:36:44,00:06:27
103,28178.0,5,1,BUS,901,MC303,9.0,26900.0,2017-05-01 13:44:52,2017-05-01 13:38:50,00:06:02,29598.0,2017-05-01 13:52:00,2017-05-01 13:45:01,00:06:59,7.133333,28178.0,2017-05-01 13:36:44,00:02:06
109,28180.0,1,2,BUS,183,BC186,8.0,29383.0,2017-05-01 13:50:06,2017-05-01 13:50:53,00:00:47,28615.0,2017-05-01 14:17:55,2017-05-01 14:07:48,00:10:07,27.816667,28180.0,2017-05-01 13:36:46,00:14:07
115,28180.0,7,2,BUS,183,BC186,8.0,29383.0,2017-05-01 14:20:24,2017-05-01 13:50:53,00:29:31,28615.0,2017-05-01 14:49:48,2017-05-01 14:07:48,00:42:00,29.400000,28180.0,2017-05-01 13:36:46,00:14:07
122,28204.0,4,2,BUS,821,MA013,9.0,33980.0,2017-05-01 14:08:38,2017-05-01 13:43:33,00:25:05,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,5.366667,28204.0,2017-05-01 13:37:05,00:06:28
141,28214.0,3,2,BUS,374,CC191,9.0,31928.0,2017-05-01 13:51:53,2017-05-01 13:44:16,00:07:37,26362.0,2017-05-01 14:16:00,2017-05-01 14:06:56,00:09:04,24.116667,28214.0,2017-05-01 13:37:13,00:07:03
143,28214.0,5,2,BUS,375,CC197,9.0,30964.0,2017-05-01 14:11:34,2017-05-01 13:47:24,00:24:10,26369.0,2017-05-01 14:37:00,2017-05-01 14:12:54,00:24:06,25.433333,28214.0,2017-05-01 13:37:13,00:10:11
149,28220.0,1,2,BUS,912,MN405,3.0,34356.0,2017-05-01 13:51:06,2017-05-01 13:47:53,00:03:13,34358.0,2017-05-01 13:52:01,2017-05-01 13:47:30,00:04:31,0.916667,28220.0,2017-05-01 13:37:19,00:10:34
172,28226.0,4,2,BUS,821,MA013,9.0,33980.0,2017-05-01 14:08:38,2017-05-01 13:43:33,00:25:05,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,5.366667,28226.0,2017-05-01 13:37:24,00:06:09
190,28234.0,2,2,BUS,901,MC303,9.0,29598.0,2017-05-01 13:42:00,2017-05-01 13:45:01,00:03:01,33681.0,2017-05-01 13:51:33,2017-05-01 13:51:46,00:00:13,9.550000,28234.0,2017-05-01 13:37:35,00:07:26
194,28234.0,6,2,BUS,464,DC852,8.0,26344.0,2017-05-01 13:46:36,2017-05-01 13:51:35,00:04:59,3982.0,2017-05-01 14:06:00,2017-05-01 14:05:39,00:00:21,19.400000,28234.0,2017-05-01 13:37:35,00:14:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,52772.0,4,1,BUS,274,BN629,12.0,35642.0,2017-05-01 18:18:53,2017-05-01 18:08:47,00:10:06,31109.0,2017-05-01 18:51:49,2017-05-01 18:28:18,00:23:31,32.933333,52772.0,2017-05-01 17:57:59,00:10:48
889,52772.0,6,1,BUS,184,BN621,12.0,35642.0,2017-05-01 18:30:39,2017-05-01 18:05:53,00:24:46,29947.0,2017-05-01 18:55:16,2017-05-01 18:22:06,00:33:10,24.616667,52772.0,2017-05-01 17:57:59,00:07:54
915,53308.0,4,1,BUS,828,LA012,10.0,34123.0,2017-05-01 18:07:53,2017-05-01 18:10:22,00:02:29,33811.0,2017-05-01 18:35:18,2017-05-01 18:33:16,00:02:02,27.416667,53308.0,2017-05-01 18:02:28,00:07:54
918,53308.0,7,1,BUS,828,LA012,10.0,34123.0,2017-05-01 18:24:22,2017-05-01 18:10:22,00:14:00,33044.0,2017-05-01 19:07:49,2017-05-01 18:42:06,00:25:43,43.450000,53308.0,2017-05-01 18:02:28,00:07:54
924,54448.0,3,2,BUS,633,GA141,17.0,36062.0,2017-05-01 18:19:18,2017-05-01 18:21:44,00:02:26,31021.0,2017-05-01 18:39:00,2017-05-01 18:35:20,00:03:40,19.700000,54448.0,2017-05-01 18:12:38,00:09:06
928,54448.0,7,2,BUS,624,GA204,19.0,6616.0,2017-05-01 18:33:00,2017-05-01 18:17:56,00:15:04,27640.0,2017-05-01 18:52:00,2017-05-01 17:58:50,00:53:10,19.000000,54448.0,2017-05-01 18:12:38,00:05:18
932,55169.0,1,2,BUS,643,GA152,11.0,37183.0,2017-05-01 18:32:29,2017-05-01 18:25:33,00:06:56,31025.0,2017-05-01 18:53:00,2017-05-01 18:44:46,00:08:14,20.516667,55169.0,2017-05-01 18:20:24,00:05:09
962,57607.0,2,2,BUS,506,GL305,9.0,25830.0,2017-05-01 18:58:00,2017-05-01 19:00:37,00:02:37,30008.0,2017-05-01 19:07:55,2017-05-01 17:49:08,01:18:47,9.916667,57607.0,2017-05-01 18:46:16,00:14:21
963,57607.0,3,2,BUS,548,GA208,15.0,31581.0,2017-05-01 18:47:20,2017-05-01 18:49:00,00:01:40,31591.0,2017-05-01 18:58:52,2017-05-01 18:59:43,00:00:51,11.533333,57607.0,2017-05-01 18:46:16,00:02:44
973,58869.0,3,2,BUS,972,MN611,12.0,33674.0,2017-05-01 19:03:06,2017-05-01 19:07:15,00:04:09,29599.0,2017-05-01 19:16:00,2017-05-01 19:26:37,00:10:37,12.900000,58869.0,2017-05-01 18:59:21,00:07:54
974,58869.0,4,2,BUS,901,MC305,16.0,33674.0,2017-05-01 19:13:08,2017-05-01 19:14:18,00:01:10,33682.0,2017-05-01 19:17:36,2017-05-01 19:17:40,00:00:04,4.466667,58869.0,2017-05-01 18:59:21,00:14:57
981,59819.0,1,2,BUS,213,BN403,19.0,28997.0,2017-05-01 19:12:29,2017-05-01 19:14:14,00:01:45,30237.0,2017-05-01 19:28:00,2017-05-01 19:21:49,00:06:11,15.516667,59819.0,2017-05-01 19:07:24,00:06:50
982,59819.0,2,2,BUS,214,BN410,17.0,28997.0,2017-05-01 19:19:36,2017-05-01 19:14:16,00:05:20,28334.0,2017-05-01 19:33:55,2017-05-01 19:22:36,00:11:19,14.316667,59819.0,2017-05-01 19:07:24,00:06:52
984,59819.0,4,2,BUS,213,BN403,19.0,28997.0,2017-05-01 19:34:29,2017-05-01 19:14:14,00:20:15,30237.0,2017-05-01 19:50:00,2017-05-01 19:21:49,00:28:11,15.516667,59819.0,2017-05-01 19:07:24,00:06:50
992,61070.0,2,2,BUS,021,BB299,5.0,30950.0,2017-05-01 19:23:37,2017-05-01 19:33:42,00:10:05,28136.0,2017-05-01 19:49:00,2017-05-01 18:43:16,01:05:44,25.383333,61070.0,2017-05-01 19:19:27,00:14:15
1012,64698.0,2,2,BUS,303,LE710,8.0,26200.0,2017-05-01 20:31:42,2017-05-01 20:25:24,00:06:18,26191.0,2017-05-01 21:04:57,2017-05-01 20:58:20,00:06:37,33.250000,64698.0,2017-05-01 20:22:26,00:02:58
1022,64706.0,2,2,BUS,303,LE710,8.0,26200.0,2017-05-01 20:31:42,2017-05-01 20:25:24,00:06:18,26191.0,2017-05-01 21:04:57,2017-05-01 20:58:20,00:06:37,33.250000,64706.0,2017-05-01 20:22:36,00:02:48
1052,70106.0,2,2,BUS,619,HA020,19.0,36294.0,2017-05-01 22:39:57,2017-05-01 22:31:52,00:08:05,30434.0,2017-05-01 23:10:00,2017-05-01 23:00:17,00:09:43,30.050000,70106.0,2017-05-01 22:31:30,00:00:22
1054,70106.0,4,2,BUS,619,HA020,19.0,36294.0,2017-05-01 22:59:57,2017-05-01 22:31:52,00:28:05,33244.0,2017-05-01 23:17:39,2017-05-01 22:43:57,00:33:42,17.700000,70106.0,2017-05-01 22:31:30,00:00:22
1063,70138.0,3,2,BUS,619,HA020,19.0,35175.0,2017-05-01 22:32:22,2017-05-01 22:40:58,00:08:36,33246.0,2017-05-01 22:36:00,2017-05-01 22:42:52,00:06:52,3.633333,70138.0,2017-05-01 22:31:59,00:08:59
1064,70138.0,4,1,BUS,628,HA025,15.0,35167.0,2017-05-01 22:49:42,2017-05-01 22:42:29,00:07:13,35179.0,2017-05-01 22:53:57,2017-05-01 22:44:10,00:09:47,4.250000,70138.0,2017-05-01 22:31:59,00:10:30
1066,70138.0,6,2,BUS,619,HA020,19.0,39837.0,2017-05-01 23:06:53,2017-05-01 22:37:54,00:28:59,35178.0,2017-05-01 23:08:23,2017-05-01 22:39:11,00:29:12,1.500000,70138.0,2017-05-01 22:31:59,00:05:55
1068,70138.0,8,2,BUS,619,HA020,19.0,35175.0,2017-05-01 22:52:22,2017-05-01 22:40:58,00:11:24,33246.0,2017-05-01 22:56:00,2017-05-01 22:42:52,00:13:08,3.633333,70138.0,2017-05-01 22:31:59,00:08:59
1082,70809.0,4,2,BUS,655,HA001,18.0,34155.0,2017-05-01 23:11:46,2017-05-01 23:02:56,00:08:50,36238.0,2017-05-01 23:35:00,2017-05-01 23:23:22,00:11:38,23.233333,70809.0,2017-05-01 22:53:02,00:09:54
1083,70809.0,5,2,BUS,684,HA002,15.0,34155.0,2017-05-01 23:03:15,2017-05-01 22:56:12,00:07:03,39263.0,2017-05-01 23:17:51,2017-05-01 23:08:19,00:09:32,14.600000,70809.0,2017-05-01 22:53:02,00:03:10
1087,70809.0,9,2,BUS,655,HA001,18.0,34155.0,2017-05-01 23:41:46,2017-05-01 23:02:56,00:38:50,36238.0,2017-05-02 00:05:00,2017-05-01 23:23:22,00:41:38,23.233333,70809.0,2017-05-01 22:53:02,00:09:54
1090,71039.0,2,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:08:12,2017-05-01 23:08:40,00:00:28,26631.0,2017-05-01 23:26:48,2017-05-01 23:21:51,00:04:57,18.600000,71039.0,2017-05-01 22:59:41,00:08:59
1094,71039.0,9,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:54:12,2017-05-01 23:08:40,00:45:32,26631.0,2017-05-02 00:12:48,2017-05-01 23:21:51,00:50:57,18.600000,71039.0,2017-05-01 22:59:41,00:08:59
1097,71056.0,2,1,BUS,307,ML301,11.0,26208.0,2017-05-01 23:00:00,2017-05-01 23:08:21,00:08:21,25685.0,2017-05-01 23:09:54,2017-05-01 22:58:54,00:11:00,9.900000,71056.0,2017-05-01 23:00:10,00:08:11
1099,71056.0,4,2,BUS,373,CC195,17.0,26218.0,2017-05-01 23:05:00,2017-05-01 23:01:36,00:03:24,30879.0,2017-05-01 23:12:42,2017-05-01 22:19:49,00:52:53,7.700000,71056.0,2017-05-01 23:00:10,00:01:26

In [ ]:
valid_itineraries

#### Filtering out invalid itineraries

In [130]:
scheduled_itin_observed_od_full_clean.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
66,28150.0,1,1,BUS,827,BC929,12.0,33788.0,2017-05-01 13:38:33,2017-05-01 13:35:18,00:03:15,30993.0,2017-05-01 13:45:00,2017-05-01 13:44:14,00:00:46,6.45
72,28150.0,1,1,BUS,827,BC929,13.0,33788.0,2017-05-01 13:38:33,2017-05-01 14:22:34,00:44:01,30993.0,2017-05-01 13:45:00,2017-05-01 14:30:58,00:45:58,6.45
60,28150.0,1,1,BUS,827,BC929,11.0,33788.0,2017-05-01 13:38:33,2017-05-01 12:47:49,00:50:44,30993.0,2017-05-01 13:45:00,2017-05-01 12:53:04,00:51:56,6.45
78,28150.0,1,1,BUS,827,BC929,14.0,33788.0,2017-05-01 13:38:33,2017-05-01 15:11:15,01:32:42,30993.0,2017-05-01 13:45:00,2017-05-01 15:18:06,01:33:06,6.45
54,28150.0,1,1,BUS,827,BC929,10.0,33788.0,2017-05-01 13:38:33,2017-05-01 11:58:41,01:39:52,30993.0,2017-05-01 13:45:00,2017-05-01 12:07:05,01:37:55,6.45

In [132]:
len(scheduled_itin_observed_od_full_clean)

80033

In [187]:
valid_first_bus_itineraris_matches_keys = valid_first_bus_legs_matches.filter(['otp_user_trip_id','otp_itinerary_id']).drop_duplicates()

In [188]:
valid_first_bus_itineraris_matches_keys.head()

    otp_user_trip_id  otp_itinerary_id
4            28150.0                 5
20           28156.0                 1
22           28156.0                 3
27           28156.0                 8
31           28161.0                 2

In [189]:
valid_sched_obs_itins = scheduled_itin_observed_od_full_clean.merge(valid_first_bus_itineraris_matches_keys, how='inner')

In [190]:
len(valid_sched_obs_itins)

14035

In [191]:
valid_sched_obs_itins

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,28150.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:53:08,NaT,NaT,NaN,2017-05-01 14:09:59,NaT,NaT,16.850000
1,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000
2,28150.0,5,2,BUS,821,MA013,10.0,33973.0,2017-05-01 14:10:00,2017-05-01 14:42:01,00:32:01,30995.0,2017-05-01 14:14:00,2017-05-01 14:45:51,00:31:51,4.000000
3,28150.0,5,2,BUS,821,MA013,8.0,33973.0,2017-05-01 14:10:00,2017-05-01 12:44:09,01:25:51,30995.0,2017-05-01 14:14:00,2017-05-01 12:48:35,01:25:25,4.000000
4,28150.0,5,2,BUS,821,MA013,11.0,33973.0,2017-05-01 14:10:00,2017-05-01 15:44:37,01:34:37,30995.0,2017-05-01 14:14:00,2017-05-01 15:48:45,01:34:45,4.000000
5,28150.0,5,2,BUS,821,MA013,7.0,33973.0,2017-05-01 14:10:00,2017-05-01 11:44:09,02:25:51,30995.0,2017-05-01 14:14:00,2017-05-01 11:48:50,02:25:10,4.000000
6,28150.0,5,2,BUS,821,MA013,12.0,33973.0,2017-05-01 14:10:00,2017-05-01 16:45:07,02:35:07,30995.0,2017-05-01 14:14:00,2017-05-01 16:48:05,02:34:05,4.000000
7,28150.0,5,2,BUS,821,MA013,6.0,33973.0,2017-05-01 14:10:00,2017-05-01 10:43:17,03:26:43,30995.0,2017-05-01 14:14:00,2017-05-01 10:47:08,03:26:52,4.000000
8,28150.0,5,2,BUS,821,MA013,13.0,33973.0,2017-05-01 14:10:00,2017-05-01 17:44:10,03:34:10,30995.0,2017-05-01 14:14:00,2017-05-01 17:50:36,03:36:36,4.000000
9,28150.0,5,2,BUS,821,MA013,5.0,33973.0,2017-05-01 14:10:00,2017-05-01 09:41:56,04:28:04,30995.0,2017-05-01 14:14:00,2017-05-01 09:45:09,04:28:51,4.000000
10,28150.0,5,2,BUS,821,MA013,14.0,33973.0,2017-05-01 14:10:00,2017-05-01 18:44:38,04:34:38,30995.0,2017-05-01 14:14:00,2017-05-01 18:48:59,04:34:59,4.000000
11,28150.0,5,2,BUS,821,MA013,4.0,33973.0,2017-05-01 14:10:00,2017-05-01 08:41:16,05:28:44,30995.0,2017-05-01 14:14:00,2017-05-01 08:45:19,05:28:41,4.000000
12,28150.0,5,2,BUS,821,MA013,15.0,33973.0,2017-05-01 14:10:00,2017-05-01 19:41:20,05:31:20,30995.0,2017-05-01 14:14:00,2017-05-01 19:44:36,05:30:36,4.000000
13,28150.0,5,2,BUS,821,MA013,3.0,33973.0,2017-05-01 14:10:00,2017-05-01 07:40:44,06:29:16,30995.0,2017-05-01 14:14:00,2017-05-01 07:49:14,06:24:46,4.000000
14,28150.0,5,2,BUS,821,MA013,16.0,33973.0,2017-05-01 14:10:00,2017-05-01 20:41:07,06:31:07,30995.0,2017-05-01 14:14:00,2017-05-01 20:45:19,06:31:19,4.000000
15,28150.0,5,2,BUS,821,MA013,17.0,33973.0,2017-05-01 14:10:00,2017-05-01 21:40:38,07:30:38,30995.0,2017-05-01 14:14:00,2017-05-01 21:49:37,07:35:37,4.000000
16,28150.0,5,2,BUS,821,MA013,2.0,33973.0,2017-05-01 14:10:00,2017-05-01 06:38:23,07:31:37,30995.0,2017-05-01 14:14:00,2017-05-01 06:46:25,07:27:35,4.000000
17,28150.0,5,2,BUS,821,MA013,18.0,33973.0,2017-05-01 14:10:00,2017-05-01 22:31:53,08:21:53,30995.0,2017-05-01 14:14:00,2017-05-01 22:34:20,08:20:20,4.000000
18,28150.0,5,2,BUS,821,MA013,1.0,33973.0,2017-05-01 14:10:00,2017-05-01 05:38:09,08:31:51,30995.0,2017-05-01 14:14:00,2017-05-01 05:47:09,08:26:51,4.000000
19,28150.0,5,2,BUS,821,MA013,19.0,33973.0,2017-05-01 14:10:00,2017-05-01 23:29:26,09:19:26,30995.0,2017-05-01 14:14:00,2017-05-01 23:33:37,09:19:37,4.000000
20,28150.0,5,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:00,NaT,NaT,NaN,2017-05-01 14:14:26,NaT,NaT,0.433333
21,28150.0,5,4,BUS,303,LE710,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:18:42,00:02:18,25753.0,2017-05-01 14:33:19,2017-05-01 12:25:36,02:07:43,12.316667
22,28150.0,5,4,BUS,303,DE708,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:29:24,00:08:24,25753.0,2017-05-01 14:33:19,2017-05-01 14:37:26,00:04:07,12.316667
23,28150.0,5,4,BUS,303,DE722,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:02:48,00:18:12,25753.0,2017-05-01 14:33:19,2017-05-01 14:12:10,00:21:09,12.316667
24,28150.0,5,4,BUS,303,LE702,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:41:47,00:20:47,25753.0,2017-05-01 14:33:19,2017-05-01 14:50:32,00:17:13,12.316667
25,28150.0,5,4,BUS,303,DE716,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:50:21,00:30:39,25753.0,2017-05-01 14:33:19,2017-05-01 12:00:07,02:33:12,12.316667
26,28150.0,5,4,BUS,303,DE715,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:56:11,00:35:11,25753.0,2017-05-01 14:33:19,2017-05-01 13:05:00,01:28:19,12.316667
27,28150.0,5,4,BUS,303,LE700,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:37:03,00:43:57,25753.0,2017-05-01 14:33:19,2017-05-01 11:47:48,02:45:31,12.316667
28,28150.0,5,4,BUS,303,DE719,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:04:59,00:43:59,25753.0,2017-05-01 14:33:19,2017-05-01 15:13:00,00:39:41,12.316667
29,28150.0,5,4,BUS,303,DE710,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:27:30,00:53:30,25753.0,2017-05-01 14:33:19,2017-05-01 13:35:59,00:57:20,12.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14005,71056.0,4,7,BUS,338,EA190,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:48:34,07:05:05,30110.0,2017-05-02 00:31:28,2017-05-01 17:17:28,07:14:00,37.816667
14006,71056.0,4,7,BUS,338,DA019,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:23:10,07:30:29,30110.0,2017-05-02 00:31:28,2017-05-01 16:49:09,07:42:19,37.816667
14007,71056.0,4,7,BUS,338,DA033,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:58:05,07:55:34,30110.0,2017-05-02 00:31:28,2017-05-01 16:25:06,08:06:22,37.816667
14008,71056.0,4,7,BUS,338,EA190,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:33:52,08:19:47,30110.0,2017-05-02 00:31:28,2017-05-01 15:58:39,08:32:49,37.816667
14009,71056.0,4,7,BUS,338,DA019,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:08:46,08:44:53,30110.0,2017-05-02 00:31:28,2017-05-01 15:33:26,08:58:02,37.816667
14010,71056.0,4,7,BUS,338,DA033,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:41:47,09:11:52,30110.0,2017-05-02 00:31:28,2017-05-01 15:05:08,09:26:20,37.816667
14011,71056.0,4,7,BUS,338,EA190,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:19:33,09:34:06,30110.0,2017-05-02 00:31:28,2017-05-01 14:48:10,09:43:18,37.816667
14012,71056.0,4,7,BUS,338,DA019,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:54:56,09:58:43,30110.0,2017-05-02 00:31:28,2017-05-01 14:20:05,10:11:23,37.816667
14013,71056.0,4,7,BUS,338,DA033,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:30:57,10:22:42,30110.0,2017-05-02 00:31:28,2017-05-01 13:53:30,10:37:58,37.816667
14014,71056.0,4,7,BUS,338,EA190,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:03:46,10:49:53,30110.0,2017-05-02 00:31:28,2017-05-01 13:26:56,11:04:32,37.816667
14015,71056.0,4,7,BUS,338,DA019,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:38:22,11:15:17,30110.0,2017-05-02 00:31:28,2017-05-01 13:04:23,11:27:05,37.816667
14016,71056.0,4,7,BUS,338,DA033,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:14:14,11:39:25,30110.0,2017-05-02 00:31:28,2017-05-01 12:36:53,11:54:35,37.816667
14017,71056.0,4,7,BUS,338,EA190,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 11:48:44,12:04:55,30110.0,2017-05-02 00:31:28,2017-05-01 12:13:37,12:17:51,37.816667
14018,71056.0,4,7,BUS,338,DA019,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 11:23:14,12:30:25,30110.0,2017-05-02 00:31:28,2017-05-01 11:45:48,12:45:40,37.816667
14019,71056.0,4,7,BUS,338,DA033,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:57:45,12:55:54,30110.0,2017-05-02 00:31:28,2017-05-01 11:19:28,13:12:00,37.816667
14020,71056.0,4,7,BUS,338,EA190,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:33:50,13:19:49,30110.0,2017-05-02 00:31:28,2017-05-01 10:58:34,13:32:54,37.816667
14021,71056.0,4,7,BUS,338,DA019,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:08:24,13:45:15,30110.0,2017-05-02 00:31:28,2017-05-01 10:32:58,13:58:30,37.816667
14022,71056.0,4,7,BUS,338,DA033,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 09:43:08,14:10:31,30110.0,2017-05-02 00:31:28,2017-05-01 10:04:59,14:26:29,37.816667
14023,71056.0,4,7,BUS,338,EA190,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 09:19:05,14:34:34,30110.0,2017-05-02 00:31:28,2017-05-01 09:41:53,14:49:35,37.816667
14024,71056.0,4,7,BUS,338,DA019,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:54:53,14:58:46,30110.0,2017-05-02 00:31:28,2017-05-01 09:18:31,15:12:57,37.816667
14025,71056.0,4,7,BUS,338,DA033,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:27:40,15:25:59,30110.0,2017-05-02 00:31:28,2017-05-01 08:51:02,15:40:26,37.816667
14026,71056.0,4,7,BUS,338,EA190,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:05:15,15:48:24,30110.0,2017-05-02 00:31:28,2017-05-01 08:26:49,16:04:39,37.816667
14027,71056.0,4,7,BUS,338,DA019,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 07:38:13,16:15:26,30110.0,2017-05-02 00:31:28,2017-05-01 08:02:30,16:28:58,37.816667
14028,71056.0,4,7,BUS,338,DA033,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 07:12:37,16:41:02,30110.0,2017-05-02 00:31:28,2017-05-01 07:35:28,16:56:00,37.816667
14029,71056.0,4,7,BUS,338,EA190,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 06:48:49,17:04:50,30110.0,2017-05-02 00:31:28,2017-05-01 07:10:23,17:21:05,37.816667
14030,71056.0,4,7,BUS,338,DA019,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 06:23:15,17:30:24,30110.0,2017-05-02 00:31:28,2017-05-01 06:46:15,17:45:13,37.816667
14031,71056.0,4,7,BUS,338,DA033,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:57:00,17:56:39,30110.0,2017-05-02 00:31:28,2017-05-01 06:16:00,18:15:28,37.816667
14032,71056.0,4,7,BUS,338,EA190,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:33:00,18:20:39,30110.0,2017-05-02 00:31:28,2017-05-01 05:52:51,18:38:37,37.816667
14033,71056.0,4,7,BUS,338,DA019,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:12:56,18:40:43,30110.0,2017-05-02 00:31:28,2017-05-01 05:33:47,18:57:41,37.816667
14034,71056.0,4,8,WALK,nan,NaN,NaN,NaN,2017-05-02 00:31:29,NaT,NaT,NaN,2017-05-02 00:34:42,NaT,NaT,3.216667

### Filtering out itineraries which lost bus legs along the processing

In [192]:
original_suggested_itins_num_legs = otp_suggestions.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(x)}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [193]:
original_suggested_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 1         4
1           28150.0                 2         4
2           28150.0                 3         3
3           28150.0                 4         4
4           28150.0                 5         5

In [194]:
final_matched_itins_num_legs = valid_sched_obs_itins.groupby(['otp_user_trip_id','otp_itinerary_id']) \
                                    .agg({'otp_leg_id': lambda x: len(np.unique(x))}) \
                                    .reset_index() \
                                    .rename(index=str, columns={'otp_leg_id':'num_legs'})

In [195]:
final_matched_itins_num_legs.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 5         5
1           28156.0                 1         3
2           28156.0                 3         3
3           28156.0                 8         5
4           28161.0                 2         3

In [196]:
complete_matched_itins = original_suggested_itins_num_legs.merge(final_matched_itins_num_legs, how='inner')

In [197]:
complete_matched_itins.head()

   otp_user_trip_id  otp_itinerary_id  num_legs
0           28150.0                 5         5
1           28161.0                 2         3
2           28161.0                 8         3
3           28169.0                 2         5
4           28172.0                 2         6

In [294]:
valid_complete_first_bus_legs_matches = valid_first_bus_legs_matches.merge(complete_matched_itins.drop('num_legs', axis=1),
                                                                  how='inner')

In [295]:
len(valid_first_bus_legs_matches)

184

In [296]:
len(valid_complete_first_bus_legs_matches)

155

In [198]:
complete_matched_itins_legs_options = valid_sched_obs_itins.merge(complete_matched_itins.drop('num_legs', axis=1),
                                                                  how='inner')

In [289]:
len(valid_sched_obs_itins)

14035

In [290]:
len(complete_matched_itins_legs_options)

12317

### Substitute first bus legs per valid first bus legs

In [291]:
complete_matched_itins_legs_options.iloc[50:100,]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
50,28150.0,5,4,BUS,303,DE713,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 17:19:18,02:58:18,25753.0,2017-05-01 14:33:19,2017-05-01 17:27:59,02:54:40,12.316667
51,28150.0,5,4,BUS,303,DE713,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:16:41,03:04:19,25753.0,2017-05-01 14:33:19,2017-05-01 11:23:51,03:09:28,12.316667
52,28150.0,5,4,BUS,303,DE710,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 17:29:54,03:08:54,25753.0,2017-05-01 14:33:19,2017-05-01 17:37:35,03:04:16,12.316667
53,28150.0,5,4,BUS,303,LE700,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 17:36:36,03:15:36,25753.0,2017-05-01 14:33:19,2017-05-01 15:51:39,01:18:20,12.316667
54,28150.0,5,4,BUS,303,DE719,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:02:21,03:18:39,25753.0,2017-05-01 14:33:19,2017-05-01 11:12:20,03:20:59,12.316667
55,28150.0,5,4,BUS,303,DE715,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:54:57,03:26:03,25753.0,2017-05-01 14:33:19,2017-05-01 09:00:55,05:32:24,12.316667
56,28150.0,5,4,BUS,303,DE716,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 17:52:58,03:31:58,25753.0,2017-05-01 14:33:19,2017-05-01 16:00:03,01:26:44,12.316667
57,28150.0,5,4,BUS,303,LE702,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:40:50,03:40:10,25753.0,2017-05-01 14:33:19,2017-05-01 10:49:42,03:43:37,12.316667
58,28150.0,5,4,BUS,303,DE722,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 18:03:01,03:42:01,25753.0,2017-05-01 14:33:19,2017-05-01 18:11:53,03:38:34,12.316667
59,28150.0,5,4,BUS,303,DE708,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:27:31,03:53:29,25753.0,2017-05-01 14:33:19,2017-05-01 10:36:31,03:56:48,12.316667
60,28150.0,5,4,BUS,303,LE710,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 18:16:34,03:55:34,25753.0,2017-05-01 14:33:19,2017-05-01 16:24:02,01:50:43,12.316667
61,28150.0,5,4,BUS,303,LE710,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:15:06,04:05:54,25753.0,2017-05-01 14:33:19,2017-05-01 08:23:55,06:09:24,12.316667
62,28150.0,5,4,BUS,303,DE708,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 18:30:35,04:09:35,25753.0,2017-05-01 14:33:19,2017-05-01 18:38:49,04:05:30,12.316667
63,28150.0,5,4,BUS,303,LE702,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 18:40:35,04:19:35,25753.0,2017-05-01 14:33:19,2017-05-01 18:48:25,04:15:06,12.316667
64,28150.0,5,4,BUS,303,DE722,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:00:35,04:20:25,25753.0,2017-05-01 14:33:19,2017-05-01 10:13:22,04:19:57,12.316667
65,28150.0,5,4,BUS,303,DE716,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:48:45,04:32:15,25753.0,2017-05-01 14:33:19,2017-05-01 08:00:14,06:33:05,12.316667
66,28150.0,5,4,BUS,303,DE715,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 18:53:33,04:32:33,25753.0,2017-05-01 14:33:19,2017-05-01 17:01:50,02:28:31,12.316667
67,28150.0,5,4,BUS,303,DE719,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:03:49,04:42:49,25753.0,2017-05-01 14:33:19,2017-05-01 19:12:49,04:39:30,12.316667
68,28150.0,5,4,BUS,303,LE700,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:37:54,04:43:06,25753.0,2017-05-01 14:33:19,2017-05-01 07:48:49,06:44:30,12.316667
69,28150.0,5,4,BUS,303,DE710,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:27:38,04:53:22,25753.0,2017-05-01 14:33:19,2017-05-01 09:37:51,04:55:28,12.316667
70,28150.0,5,4,BUS,303,DE713,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:15:39,04:54:39,25753.0,2017-05-01 14:33:19,2017-05-01 19:24:33,04:51:14,12.316667
71,28150.0,5,4,BUS,303,DE713,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:16:06,05:04:54,25753.0,2017-05-01 14:33:19,2017-05-01 09:24:07,05:09:12,12.316667
72,28150.0,5,4,BUS,303,DE710,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:26:53,05:05:53,25753.0,2017-05-01 14:33:19,2017-05-01 19:36:21,05:03:02,12.316667
73,28150.0,5,4,BUS,303,DE719,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:04:03,05:16:57,25753.0,2017-05-01 14:33:19,2017-05-01 09:12:23,05:20:56,12.316667
74,28150.0,5,4,BUS,303,LE700,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:42:54,05:21:54,25753.0,2017-05-01 14:33:19,2017-05-01 17:50:30,03:17:11,12.316667
75,28150.0,5,4,BUS,303,LE700,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:44:14,05:23:14,25753.0,2017-05-01 14:33:19,2017-05-01 19:51:33,05:18:14,12.316667
76,28150.0,5,4,BUS,303,DE716,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 19:49:48,05:28:48,25753.0,2017-05-01 14:33:19,2017-05-01 18:01:18,03:27:59,12.316667
77,28150.0,5,4,BUS,303,DE715,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:52:03,05:28:57,25753.0,2017-05-01 14:33:19,2017-05-01 07:00:57,07:32:22,12.316667
78,28150.0,5,4,BUS,303,LE702,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:38:35,05:42:25,25753.0,2017-05-01 14:33:19,2017-05-01 08:48:59,05:44:20,12.316667
79,28150.0,5,4,BUS,303,DE722,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 20:03:32,05:42:32,25753.0,2017-05-01 14:33:19,2017-05-01 20:12:52,05:39:33,12.316667
80,28150.0,5,4,BUS,303,LE710,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 20:12:26,05:51:26,25753.0,2017-05-01 14:33:19,2017-05-01 18:26:11,03:52:52,12.316667
81,28150.0,5,4,BUS,303,DE708,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:27:29,05:53:31,25753.0,2017-05-01 14:33:19,2017-05-01 08:37:09,05:56:10,12.316667
82,28150.0,5,4,BUS,303,DE708,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 20:26:13,06:05:13,25753.0,2017-05-01 14:33:19,2017-05-01 20:36:22,06:03:03,12.316667
83,28150.0,5,4,BUS,303,LE710,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:14:27,06:06:33,25753.0,2017-05-01 14:33:19,2017-05-01 06:22:02,08:11:17,12.316667
84,28150.0,5,4,BUS,303,DE722,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:04:38,06:16:22,25753.0,2017-05-01 14:33:19,2017-05-01 08:12:58,06:20:21,12.316667
85,28150.0,5,4,BUS,303,LE702,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 20:38:37,06:17:37,25753.0,2017-05-01 14:33:19,2017-05-01 20:49:27,06:16:08,12.316667
86,28150.0,5,4,BUS,303,DE716,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:51:44,06:29:16,25753.0,2017-05-01 14:33:19,2017-05-01 06:02:32,08:30:47,12.316667
87,28150.0,5,4,BUS,303,DE715,7.0,26195.0,2017-05-01 14:21:00,2017-05-01 20:52:20,06:31:20,25753.0,2017-05-01 14:33:19,2017-05-01 19:02:07,04:28:48,12.316667
88,28150.0,5,4,BUS,303,DE719,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 21:02:03,06:41:03,25753.0,2017-05-01 14:33:19,2017-05-01 21:12:20,06:39:01,12.316667
89,28150.0,5,4,BUS,303,LE700,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:39:38,06:41:22,25753.0,2017-05-01 14:33:19,2017-05-01 05:47:45,08:45:34,12.316667
90,28150.0,5,4,BUS,303,DE713,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 21:14:10,06:53:10,25753.0,2017-05-01 14:33:19,2017-05-01 21:23:16,06:49:57,12.316667
91,28150.0,5,4,BUS,303,DE710,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:24:41,06:56:19,25753.0,2017-05-01 14:33:19,2017-05-01 07:36:59,06:56:20,12.316667
92,28150.0,5,4,BUS,303,DE710,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 21:24:52,07:03:52,25753.0,2017-05-01 14:33:19,2017-05-01 21:36:10,07:02:51,12.316667
93,28150.0,5,4,BUS,303,DE713,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:15:53,07:05:07,25753.0,2017-05-01 14:33:19,2017-05-01 07:24:14,07:09:05,12.316667
94,28150.0,5,4,BUS,303,DE719,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:01:26,07:19:34,25753.0,2017-05-01 14:33:19,2017-05-01 07:13:11,07:20:08,12.316667
95,28150.0,5,4,BUS,303,DE716,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 21:51:15,07:30:15,25753.0,2017-05-01 14:33:19,2017-05-01 20:00:10,05:26:51,12.316667
96,28150.0,5,4,BUS,303,DE716,9.0,26195.0,2017-05-01 14:21:00,2017-05-01 21:53:06,07:32:06,25753.0,2017-05-01 14:33:19,2017-05-01 22:00:32,07:27:13,12.316667
97,28150.0,5,4,BUS,303,DE722,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 22:02:04,07:41:04,25753.0,2017-05-01 14:33:19,2017-05-01 22:11:42,07:38:23,12.316667
98,28150.0,5,4,BUS,303,LE702,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 06:37:11,07:43:49,25753.0,2017-05-01 14:33:19,2017-05-01 06:47:25,07:45:54,12.316667
99,28150.0,5,4,BUS,303,LE710,8.0,26195.0,2017-05-01 14:21:00,2017-05-01 22:12:21,07:51:21,25753.0,2017-05-01 14:33:19,2017-05-01 20:23:12,05:49:53,12.316667

In [297]:
valid_complete_first_bus_legs_matches.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime,pass_obs_start_diff
0,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000,28150.0,2017-05-01 13:36:25,00:07:42
1,28161.0,2,2,BUS,303,LE702,5.0,25544.0,2017-05-01 13:51:32,2017-05-01 13:50:17,00:01:15,25646.0,2017-05-01 14:05:38,2017-05-01 14:04:25,00:01:13,14.100000,28161.0,2017-05-01 13:36:33,00:13:44
2,28161.0,8,2,BUS,462,DC093,7.0,33025.0,2017-05-01 13:50:45,2017-05-01 13:44:34,00:06:11,30746.0,2017-05-01 14:07:57,2017-05-01 13:55:26,00:12:31,17.200000,28161.0,2017-05-01 13:36:33,00:08:01
3,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,00:11:10,16.700000,28169.0,2017-05-01 13:36:36,00:05:43
4,28172.0,2,1,BUS,332,DA015,22.0,27786.0,2017-05-01 13:35:58,2017-05-01 13:40:21,00:04:23,30123.0,2017-05-01 13:40:00,2017-05-01 13:47:17,00:07:17,4.033333,28172.0,2017-05-01 13:36:41,00:03:40

In [308]:
valid_bus_legs_matches_rest = complete_matched_itins_legs_options.merge(valid_complete_first_bus_legs_matches \
                                            .filter(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']),
                                          how='left', 
                                          indicator=True) \
                                    .query('_merge == \'left_only\'') \
                                    .drop('_merge', axis=1)

In [309]:
valid_bus_legs_matches_rest

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,28150.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:53:08,NaT,NaT,NaN,2017-05-01 14:09:59,NaT,NaT,16.850000
20,28150.0,5,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:00,NaT,NaT,NaN,2017-05-01 14:14:26,NaT,NaT,0.433333
21,28150.0,5,4,BUS,303,LE710,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:18:42,00:02:18,25753.0,2017-05-01 14:33:19,2017-05-01 12:25:36,02:07:43,12.316667
22,28150.0,5,4,BUS,303,DE708,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:29:24,00:08:24,25753.0,2017-05-01 14:33:19,2017-05-01 14:37:26,00:04:07,12.316667
23,28150.0,5,4,BUS,303,DE722,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:02:48,00:18:12,25753.0,2017-05-01 14:33:19,2017-05-01 14:12:10,00:21:09,12.316667
24,28150.0,5,4,BUS,303,LE702,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:41:47,00:20:47,25753.0,2017-05-01 14:33:19,2017-05-01 14:50:32,00:17:13,12.316667
25,28150.0,5,4,BUS,303,DE716,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:50:21,00:30:39,25753.0,2017-05-01 14:33:19,2017-05-01 12:00:07,02:33:12,12.316667
26,28150.0,5,4,BUS,303,DE715,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 14:56:11,00:35:11,25753.0,2017-05-01 14:33:19,2017-05-01 13:05:00,01:28:19,12.316667
27,28150.0,5,4,BUS,303,LE700,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:37:03,00:43:57,25753.0,2017-05-01 14:33:19,2017-05-01 11:47:48,02:45:31,12.316667
28,28150.0,5,4,BUS,303,DE719,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:04:59,00:43:59,25753.0,2017-05-01 14:33:19,2017-05-01 15:13:00,00:39:41,12.316667
29,28150.0,5,4,BUS,303,DE710,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:27:30,00:53:30,25753.0,2017-05-01 14:33:19,2017-05-01 13:35:59,00:57:20,12.316667
30,28150.0,5,4,BUS,303,DE713,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:16:31,00:55:31,25753.0,2017-05-01 14:33:19,2017-05-01 15:27:12,00:53:53,12.316667
31,28150.0,5,4,BUS,303,DE713,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:16:34,01:04:26,25753.0,2017-05-01 14:33:19,2017-05-01 13:24:23,01:08:56,12.316667
32,28150.0,5,4,BUS,303,DE710,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:28:47,01:07:47,25753.0,2017-05-01 14:33:19,2017-05-01 15:36:24,01:03:05,12.316667
33,28150.0,5,4,BUS,303,DE719,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:07:22,01:13:38,25753.0,2017-05-01 14:33:19,2017-05-01 13:15:06,01:18:13,12.316667
34,28150.0,5,4,BUS,303,LE700,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:38:23,01:17:23,25753.0,2017-05-01 14:33:19,2017-05-01 13:51:07,00:42:12,12.316667
35,28150.0,5,4,BUS,303,DE715,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 12:56:36,01:24:24,25753.0,2017-05-01 14:33:19,2017-05-01 11:03:17,03:30:02,12.316667
36,28150.0,5,4,BUS,303,DE716,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 15:50:49,01:29:49,25753.0,2017-05-01 14:33:19,2017-05-01 14:00:23,00:32:56,12.316667
37,28150.0,5,4,BUS,303,LE702,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 12:40:58,01:40:02,25753.0,2017-05-01 14:33:19,2017-05-01 12:50:10,01:43:09,12.316667
38,28150.0,5,4,BUS,303,DE722,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 16:03:23,01:42:23,25753.0,2017-05-01 14:33:19,2017-05-01 16:12:01,01:38:42,12.316667
39,28150.0,5,4,BUS,303,DE708,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 12:28:23,01:52:37,25753.0,2017-05-01 14:33:19,2017-05-01 12:36:19,01:57:00,12.316667
40,28150.0,5,4,BUS,303,LE710,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 16:15:27,01:54:27,25753.0,2017-05-01 14:33:19,2017-05-01 14:26:56,00:06:23,12.316667
41,28150.0,5,4,BUS,303,LE710,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 12:17:18,02:03:42,25753.0,2017-05-01 14:33:19,2017-05-01 10:23:47,04:09:32,12.316667
42,28150.0,5,4,BUS,303,DE708,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 16:30:13,02:09:13,25753.0,2017-05-01 14:33:19,2017-05-01 16:38:15,02:04:56,12.316667
43,28150.0,5,4,BUS,303,DE722,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 12:04:28,02:16:32,25753.0,2017-05-01 14:33:19,2017-05-01 12:12:54,02:20:25,12.316667
44,28150.0,5,4,BUS,303,LE702,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 16:41:51,02:20:51,25753.0,2017-05-01 14:33:19,2017-05-01 16:50:04,02:16:45,12.316667
45,28150.0,5,4,BUS,303,DE716,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:51:58,02:29:02,25753.0,2017-05-01 14:33:19,2017-05-01 10:00:03,04:33:16,12.316667
46,28150.0,5,4,BUS,303,DE715,5.0,26195.0,2017-05-01 14:21:00,2017-05-01 16:53:38,02:32:38,25753.0,2017-05-01 14:33:19,2017-05-01 15:04:36,00:31:17,12.316667
47,28150.0,5,4,BUS,303,DE719,6.0,26195.0,2017-05-01 14:21:00,2017-05-01 17:04:31,02:43:31,25753.0,2017-05-01 14:33:19,2017-05-01 17:12:32,02:39:13,12.316667
48,28150.0,5,4,BUS,303,LE700,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:36:43,02:44:17,25753.0,2017-05-01 14:33:19,2017-05-01 09:48:25,04:44:54,12.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12287,71056.0,4,7,BUS,338,EA190,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:48:34,07:05:05,30110.0,2017-05-02 00:31:28,2017-05-01 17:17:28,07:14:00,37.816667
12288,71056.0,4,7,BUS,338,DA019,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:23:10,07:30:29,30110.0,2017-05-02 00:31:28,2017-05-01 16:49:09,07:42:19,37.816667
12289,71056.0,4,7,BUS,338,DA033,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:58:05,07:55:34,30110.0,2017-05-02 00:31:28,2017-05-01 16:25:06,08:06:22,37.816667
12290,71056.0,4,7,BUS,338,EA190,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:33:52,08:19:47,30110.0,2017-05-02 00:31:28,2017-05-01 15:58:39,08:32:49,37.816667
12291,71056.0,4,7,BUS,338,DA019,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:08:46,08:44:53,30110.0,2017-05-02 00:31:28,2017-05-01 15:33:26,08:58:02,37.816667
12292,71056.0,4,7,BUS,338,DA033,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:41:47,09:11:52,30110.0,2017-05-02 00:31:28,2017-05-01 15:05:08,09:26:20,37.816667
12293,71056.0,4,7,BUS,338,EA190,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:19:33,09:34:06,30110.0,2017-05-02 00:31:28,2017-05-01 14:48:10,09:43:18,37.816667
12294,71056.0,4,7,BUS,338,DA019,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:54:56,09:58:43,30110.0,2017-05-02 00:31:28,2017-05-01 14:20:05,10:11:23,37.816667
12295,71056.0,4,7,BUS,338,DA033,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:30:57,10:22:42,30110.0,2017-05-02 00:31:28,2017-05-01 13:53:30,10:37:58,37.816667
12296,71056.0,4,7,BUS,338,EA190,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:03:46,10:49:53,30110.0,2017-05-02 00:31:28,2017-05-01 13:26:56,11:04:32,37.816667
12297,71056.0,4,7,BUS,338,DA019,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:38:22,11:15:17,30110.0,2017-05-02 00:31:28,2017-05-01 13:04:23,11:27:05,37.816667
12298,71056.0,4,7,BUS,338,DA033,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:14:14,11:39:25,30110.0,2017-05-02 00:31:28,2017-05-01 12:36:53,11:54:35,37.816667
12299,71056.0,4,7,BUS,338,EA190,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 11:48:44,12:04:55,30110.0,2017-05-02 00:31:28,2017-05-01 12:13:37,12:17:51,37.816667
12300,71056.0,4,7,BUS,338,DA019,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 11:23:14,12:30:25,30110.0,2017-05-02 00:31:28,2017-05-01 11:45:48,12:45:40,37.816667
12301,71056.0,4,7,BUS,338,DA033,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:57:45,12:55:54,30110.0,2017-05-02 00:31:28,2017-05-01 11:19:28,13:12:00,37.816667
12302,71056.0,4,7,BUS,338,EA190,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:33:50,13:19:49,30110.0,2017-05-02 00:31:28,2017-05-01 10:58:34,13:32:54,37.816667
12303,71056.0,4,7,BUS,338,DA019,5.0,28119.0,2017-05-01 23:53:39,2017-05-01 10:08:24,13:45:15,30110.0,2017-05-02 00:31:28,2017-05-01 10:32:58,13:58:30,37.816667
12304,71056.0,4,7,BUS,338,DA033,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 09:43:08,14:10:31,30110.0,2017-05-02 00:31:28,2017-05-01 10:04:59,14:26:29,37.816667
12305,71056.0,4,7,BUS,338,EA190,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 09:19:05,14:34:34,30110.0,2017-05-02 00:31:28,2017-05-01 09:41:53,14:49:35,37.816667
12306,71056.0,4,7,BUS,338,DA019,4.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:54:53,14:58:46,30110.0,2017-05-02 00:31:28,2017-05-01 09:18:31,15:12:57,37.816667
12307,71056.0,4,7,BUS,338,DA033,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:27:40,15:25:59,30110.0,2017-05-02 00:31:28,2017-05-01 08:51:02,15:40:26,37.816667
12308,71056.0,4,7,BUS,338,EA190,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 08:05:15,15:48:24,30110.0,2017-05-02 00:31:28,2017-05-01 08:26:49,16:04:39,37.816667
12309,71056.0,4,7,BUS,338,DA019,3.0,28119.0,2017-05-01 23:53:39,2017-05-01 07:38:13,16:15:26,30110.0,2017-05-02 00:31:28,2017-05-01 08:02:30,16:28:58,37.816667
12310,71056.0,4,7,BUS,338,DA033,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 07:12:37,16:41:02,30110.0,2017-05-02 00:31:28,2017-05-01 07:35:28,16:56:00,37.816667
12311,71056.0,4,7,BUS,338,EA190,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 06:48:49,17:04:50,30110.0,2017-05-02 00:31:28,2017-05-01 07:10:23,17:21:05,37.816667
12312,71056.0,4,7,BUS,338,DA019,2.0,28119.0,2017-05-01 23:53:39,2017-05-01 06:23:15,17:30:24,30110.0,2017-05-02 00:31:28,2017-05-01 06:46:15,17:45:13,37.816667
12313,71056.0,4,7,BUS,338,DA033,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:57:00,17:56:39,30110.0,2017-05-02 00:31:28,2017-05-01 06:16:00,18:15:28,37.816667
12314,71056.0,4,7,BUS,338,EA190,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:33:00,18:20:39,30110.0,2017-05-02 00:31:28,2017-05-01 05:52:51,18:38:37,37.816667
12315,71056.0,4,7,BUS,338,DA019,1.0,28119.0,2017-05-01 23:53:39,2017-05-01 05:12:56,18:40:43,30110.0,2017-05-02 00:31:28,2017-05-01 05:33:47,18:57:41,37.816667
12316,71056.0,4,8,WALK,nan,NaN,NaN,NaN,2017-05-02 00:31:29,NaT,NaT,NaN,2017-05-02 00:34:42,NaT,NaT,3.216667

In [310]:
valid_complete_first_bus_legs_matches.head()

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime,pass_obs_start_diff
0,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000,28150.0,2017-05-01 13:36:25,00:07:42
1,28161.0,2,2,BUS,303,LE702,5.0,25544.0,2017-05-01 13:51:32,2017-05-01 13:50:17,00:01:15,25646.0,2017-05-01 14:05:38,2017-05-01 14:04:25,00:01:13,14.100000,28161.0,2017-05-01 13:36:33,00:13:44
2,28161.0,8,2,BUS,462,DC093,7.0,33025.0,2017-05-01 13:50:45,2017-05-01 13:44:34,00:06:11,30746.0,2017-05-01 14:07:57,2017-05-01 13:55:26,00:12:31,17.200000,28161.0,2017-05-01 13:36:33,00:08:01
3,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,00:11:10,16.700000,28169.0,2017-05-01 13:36:36,00:05:43
4,28172.0,2,1,BUS,332,DA015,22.0,27786.0,2017-05-01 13:35:58,2017-05-01 13:40:21,00:04:23,30123.0,2017-05-01 13:40:00,2017-05-01 13:47:17,00:07:17,4.033333,28172.0,2017-05-01 13:36:41,00:03:40

In [311]:
valid_bus_legs_matches_all = pd.concat([valid_complete_first_bus_legs_matches.drop(['o_boarding_id','o_boarding_datetime','pass_obs_start_diff'], axis=1),
                                        valid_bus_legs_matches_rest], sort=False) \
                                .sort_values(['otp_user_trip_id','otp_itinerary_id','otp_leg_id','bt_start_time'])

In [314]:
valid_bus_legs_matches_all

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,28150.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:53:08,NaT,NaT,NaN,2017-05-01 14:09:59,NaT,NaT,16.850000
0,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,00:27:27,4.000000
20,28150.0,5,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:00,NaT,NaT,NaN,2017-05-01 14:14:26,NaT,NaT,0.433333
100,28150.0,5,4,BUS,303,DE708,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 06:29:10,07:51:50,25753.0,2017-05-01 14:33:19,2017-05-01 06:36:54,07:56:25,12.316667
98,28150.0,5,4,BUS,303,LE702,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 06:37:11,07:43:49,25753.0,2017-05-01 14:33:19,2017-05-01 06:47:25,07:45:54,12.316667
94,28150.0,5,4,BUS,303,DE719,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:01:26,07:19:34,25753.0,2017-05-01 14:33:19,2017-05-01 07:13:11,07:20:08,12.316667
93,28150.0,5,4,BUS,303,DE713,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:15:53,07:05:07,25753.0,2017-05-01 14:33:19,2017-05-01 07:24:14,07:09:05,12.316667
91,28150.0,5,4,BUS,303,DE710,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:24:41,06:56:19,25753.0,2017-05-01 14:33:19,2017-05-01 07:36:59,06:56:20,12.316667
89,28150.0,5,4,BUS,303,LE700,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:39:38,06:41:22,25753.0,2017-05-01 14:33:19,2017-05-01 05:47:45,08:45:34,12.316667
86,28150.0,5,4,BUS,303,DE716,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 07:51:44,06:29:16,25753.0,2017-05-01 14:33:19,2017-05-01 06:02:32,08:30:47,12.316667
84,28150.0,5,4,BUS,303,DE722,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:04:38,06:16:22,25753.0,2017-05-01 14:33:19,2017-05-01 08:12:58,06:20:21,12.316667
83,28150.0,5,4,BUS,303,LE710,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:14:27,06:06:33,25753.0,2017-05-01 14:33:19,2017-05-01 06:22:02,08:11:17,12.316667
81,28150.0,5,4,BUS,303,DE708,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:27:29,05:53:31,25753.0,2017-05-01 14:33:19,2017-05-01 08:37:09,05:56:10,12.316667
78,28150.0,5,4,BUS,303,LE702,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:38:35,05:42:25,25753.0,2017-05-01 14:33:19,2017-05-01 08:48:59,05:44:20,12.316667
77,28150.0,5,4,BUS,303,DE715,1.0,26195.0,2017-05-01 14:21:00,2017-05-01 08:52:03,05:28:57,25753.0,2017-05-01 14:33:19,2017-05-01 07:00:57,07:32:22,12.316667
73,28150.0,5,4,BUS,303,DE719,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:04:03,05:16:57,25753.0,2017-05-01 14:33:19,2017-05-01 09:12:23,05:20:56,12.316667
71,28150.0,5,4,BUS,303,DE713,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:16:06,05:04:54,25753.0,2017-05-01 14:33:19,2017-05-01 09:24:07,05:09:12,12.316667
69,28150.0,5,4,BUS,303,DE710,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:27:38,04:53:22,25753.0,2017-05-01 14:33:19,2017-05-01 09:37:51,04:55:28,12.316667
68,28150.0,5,4,BUS,303,LE700,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:37:54,04:43:06,25753.0,2017-05-01 14:33:19,2017-05-01 07:48:49,06:44:30,12.316667
65,28150.0,5,4,BUS,303,DE716,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 09:48:45,04:32:15,25753.0,2017-05-01 14:33:19,2017-05-01 08:00:14,06:33:05,12.316667
64,28150.0,5,4,BUS,303,DE722,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:00:35,04:20:25,25753.0,2017-05-01 14:33:19,2017-05-01 10:13:22,04:19:57,12.316667
61,28150.0,5,4,BUS,303,LE710,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:15:06,04:05:54,25753.0,2017-05-01 14:33:19,2017-05-01 08:23:55,06:09:24,12.316667
59,28150.0,5,4,BUS,303,DE708,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:27:31,03:53:29,25753.0,2017-05-01 14:33:19,2017-05-01 10:36:31,03:56:48,12.316667
57,28150.0,5,4,BUS,303,LE702,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:40:50,03:40:10,25753.0,2017-05-01 14:33:19,2017-05-01 10:49:42,03:43:37,12.316667
55,28150.0,5,4,BUS,303,DE715,2.0,26195.0,2017-05-01 14:21:00,2017-05-01 10:54:57,03:26:03,25753.0,2017-05-01 14:33:19,2017-05-01 09:00:55,05:32:24,12.316667
54,28150.0,5,4,BUS,303,DE719,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:02:21,03:18:39,25753.0,2017-05-01 14:33:19,2017-05-01 11:12:20,03:20:59,12.316667
51,28150.0,5,4,BUS,303,DE713,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:16:41,03:04:19,25753.0,2017-05-01 14:33:19,2017-05-01 11:23:51,03:09:28,12.316667
49,28150.0,5,4,BUS,303,DE710,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:28:28,02:52:32,25753.0,2017-05-01 14:33:19,2017-05-01 11:37:02,02:56:17,12.316667
48,28150.0,5,4,BUS,303,LE700,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:36:43,02:44:17,25753.0,2017-05-01 14:33:19,2017-05-01 09:48:25,04:44:54,12.316667
45,28150.0,5,4,BUS,303,DE716,3.0,26195.0,2017-05-01 14:21:00,2017-05-01 11:51:58,02:29:02,25753.0,2017-05-01 14:33:19,2017-05-01 10:00:03,04:33:16,12.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12299,71056.0,4,7,BUS,338,EA190,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 11:48:44,12:04:55,30110.0,2017-05-02 00:31:28,2017-05-01 12:13:37,12:17:51,37.816667
12298,71056.0,4,7,BUS,338,DA033,6.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:14:14,11:39:25,30110.0,2017-05-02 00:31:28,2017-05-01 12:36:53,11:54:35,37.816667
12297,71056.0,4,7,BUS,338,DA019,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 12:38:22,11:15:17,30110.0,2017-05-02 00:31:28,2017-05-01 13:04:23,11:27:05,37.816667
12296,71056.0,4,7,BUS,338,EA190,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:03:46,10:49:53,30110.0,2017-05-02 00:31:28,2017-05-01 13:26:56,11:04:32,37.816667
12295,71056.0,4,7,BUS,338,DA033,7.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:30:57,10:22:42,30110.0,2017-05-02 00:31:28,2017-05-01 13:53:30,10:37:58,37.816667
12294,71056.0,4,7,BUS,338,DA019,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 13:54:56,09:58:43,30110.0,2017-05-02 00:31:28,2017-05-01 14:20:05,10:11:23,37.816667
12293,71056.0,4,7,BUS,338,EA190,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:19:33,09:34:06,30110.0,2017-05-02 00:31:28,2017-05-01 14:48:10,09:43:18,37.816667
12292,71056.0,4,7,BUS,338,DA033,8.0,28119.0,2017-05-01 23:53:39,2017-05-01 14:41:47,09:11:52,30110.0,2017-05-02 00:31:28,2017-05-01 15:05:08,09:26:20,37.816667
12291,71056.0,4,7,BUS,338,DA019,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:08:46,08:44:53,30110.0,2017-05-02 00:31:28,2017-05-01 15:33:26,08:58:02,37.816667
12290,71056.0,4,7,BUS,338,EA190,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:33:52,08:19:47,30110.0,2017-05-02 00:31:28,2017-05-01 15:58:39,08:32:49,37.816667
12289,71056.0,4,7,BUS,338,DA033,9.0,28119.0,2017-05-01 23:53:39,2017-05-01 15:58:05,07:55:34,30110.0,2017-05-02 00:31:28,2017-05-01 16:25:06,08:06:22,37.816667
12288,71056.0,4,7,BUS,338,DA019,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:23:10,07:30:29,30110.0,2017-05-02 00:31:28,2017-05-01 16:49:09,07:42:19,37.816667
12287,71056.0,4,7,BUS,338,EA190,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 16:48:34,07:05:05,30110.0,2017-05-02 00:31:28,2017-05-01 17:17:28,07:14:00,37.816667
12286,71056.0,4,7,BUS,338,DA033,10.0,28119.0,2017-05-01 23:53:39,2017-05-01 17:14:17,06:39:22,30110.0,2017-05-02 00:31:28,2017-05-01 17:41:28,06:50:00,37.816667
12285,71056.0,4,7,BUS,338,DA019,11.0,28119.0,2017-05-01 23:53:39,2017-05-01 17:38:17,06:15:22,30110.0,2017-05-02 00:31:28,2017-05-01 18:03:36,06:27:52,37.816667
12284,71056.0,4,7,BUS,338,EA190,11.0,28119.0,2017-05-01 23:53:39,2017-05-01 18:04:58,05:48:41,30110.0,2017-05-02 00:31:28,2017-05-01 18:34:47,05:56:41,37.816667
12283,71056.0,4,7,BUS,338,DA033,11.0,28119.0,2017-05-01 23:53:39,2017-05-01 18:30:24,05:23:15,30110.0,2017-05-02 00:31:28,2017-05-01 18:58:01,05:33:27,37.816667
12282,71056.0,4,7,BUS,338,DA019,12.0,28119.0,2017-05-01 23:53:39,2017-05-01 18:53:39,05:00:00,30110.0,2017-05-02 00:31:28,2017-05-01 19:17:58,05:13:30,37.816667
12281,71056.0,4,7,BUS,338,EA190,12.0,28119.0,2017-05-01 23:53:39,2017-05-01 19:19:57,04:33:42,30110.0,2017-05-02 00:31:28,2017-05-01 19:50:16,04:41:12,37.816667
12280,71056.0,4,7,BUS,338,DA033,12.0,28119.0,2017-05-01 23:53:39,2017-05-01 19:43:52,04:09:47,30110.0,2017-05-02 00:31:28,2017-05-01 20:10:12,04:21:16,37.816667
12279,71056.0,4,7,BUS,338,DA019,13.0,28119.0,2017-05-01 23:53:39,2017-05-01 20:08:40,03:44:59,30110.0,2017-05-02 00:31:28,2017-05-01 20:35:00,03:56:28,37.816667
12278,71056.0,4,7,BUS,338,EA190,13.0,28119.0,2017-05-01 23:53:39,2017-05-01 20:35:23,03:18:16,30110.0,2017-05-02 00:31:28,2017-05-01 21:01:54,03:29:34,37.816667
12277,71056.0,4,7,BUS,338,DA033,13.0,28119.0,2017-05-01 23:53:39,2017-05-01 20:57:38,02:56:01,30110.0,2017-05-02 00:31:28,2017-05-01 21:20:52,03:10:36,37.816667
12276,71056.0,4,7,BUS,338,DA019,14.0,28119.0,2017-05-01 23:53:39,2017-05-01 21:23:31,02:30:08,30110.0,2017-05-02 00:31:28,2017-05-01 21:46:52,02:44:36,37.816667
12275,71056.0,4,7,BUS,338,EA190,14.0,28119.0,2017-05-01 23:53:39,2017-05-01 21:48:54,02:04:45,30110.0,2017-05-02 00:31:28,2017-05-01 22:12:12,02:19:16,37.816667
12274,71056.0,4,7,BUS,338,DA033,14.0,28119.0,2017-05-01 23:53:39,2017-05-01 22:13:22,01:40:17,30110.0,2017-05-02 00:31:28,2017-05-01 22:34:24,01:57:04,37.816667
12273,71056.0,4,7,BUS,338,DA019,15.0,28119.0,2017-05-01 23:53:39,2017-05-01 22:38:23,01:15:16,30110.0,2017-05-02 00:31:28,2017-05-01 23:01:59,01:29:29,37.816667
12272,71056.0,4,7,BUS,338,EA190,15.0,28119.0,2017-05-01 23:53:39,2017-05-01 23:03:50,00:49:49,30110.0,2017-05-02 00:31:28,2017-05-01 23:25:59,01:05:29,37.816667
12271,71056.0,4,7,BUS,338,DA033,15.0,28119.0,2017-05-01 23:53:39,2017-05-01 23:28:40,00:24:59,30110.0,2017-05-02 00:31:28,2017-05-01 23:48:38,00:42:50,37.816667
12316,71056.0,4,8,WALK,nan,NaN,NaN,NaN,2017-05-02 00:31:29,NaT,NaT,NaN,2017-05-02 00:34:42,NaT,NaT,3.216667

In [315]:
len(valid_bus_legs_matches_all)

6638

In [338]:
valid_bus_legs_matches_all[valid_bus_legs_matches_all['otp_user_trip_id'] == 28169.0]

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
215,28169.0,2,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:42:03,NaT,NaT,NaN,2017-05-01 13:46:17,NaT,NaT,4.233333
3,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,00:11:10,16.700000
269,28169.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:03:00,NaT,NaT,NaN,2017-05-01 14:03:03,NaT,NaT,0.050000
309,28169.0,2,4,BUS,625,GA162,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 05:58:59,08:06:01,36064.0,2017-05-01 14:28:54,2017-05-01 06:18:17,08:10:37,23.900000
307,28169.0,2,4,BUS,625,GA161,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 06:26:07,07:38:53,36064.0,2017-05-01 14:28:54,2017-05-01 06:49:36,07:39:18,23.900000
305,28169.0,2,4,BUS,625,GA162,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 06:56:07,07:08:53,36064.0,2017-05-01 14:28:54,2017-05-01 07:18:17,07:10:37,23.900000
303,28169.0,2,4,BUS,625,GA161,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 07:26:07,06:38:53,36064.0,2017-05-01 14:28:54,2017-05-01 07:49:06,06:39:48,23.900000
302,28169.0,2,4,BUS,625,GA162,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 07:54:30,06:10:30,36064.0,2017-05-01 14:28:54,2017-05-01 08:19:57,06:08:57,23.900000
299,28169.0,2,4,BUS,625,GA161,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 08:26:05,05:38:55,36064.0,2017-05-01 14:28:54,2017-05-01 08:49:13,05:39:41,23.900000
295,28169.0,2,4,BUS,625,GA162,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 08:57:30,05:07:30,36064.0,2017-05-01 14:28:54,2017-05-01 09:18:58,05:09:56,23.900000
291,28169.0,2,4,BUS,625,GA162,5.0,27639.0,2017-05-01 14:05:00,2017-05-01 09:59:02,04:05:58,36064.0,2017-05-01 14:28:54,2017-05-01 10:20:10,04:08:44,23.900000
288,28169.0,2,4,BUS,625,GA149,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:27:35,03:37:25,36064.0,2017-05-01 14:28:54,2017-05-01 10:49:19,03:39:35,23.900000
289,28169.0,2,4,BUS,625,GA149,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:27:35,03:37:25,36064.0,2017-05-01 14:28:54,2017-05-01 09:50:22,04:38:32,23.900000
287,28169.0,2,4,BUS,625,GA162,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:59:02,03:05:58,36064.0,2017-05-01 14:28:54,2017-05-01 11:25:50,03:03:04,23.900000
282,28169.0,2,4,BUS,625,GA164,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 11:48:34,02:16:26,36064.0,2017-05-01 14:28:54,2017-05-01 12:11:41,02:17:13,23.900000
280,28169.0,2,4,BUS,625,GA162,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:09:30,01:55:30,36064.0,2017-05-01 14:28:54,2017-05-01 12:29:09,01:59:45,23.900000
279,28169.0,2,4,BUS,625,GA149,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:25:57,01:39:03,36064.0,2017-05-01 14:28:54,2017-05-01 11:49:48,02:39:06,23.900000
278,28169.0,2,4,BUS,625,GA164,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:43:58,01:21:02,36064.0,2017-05-01 14:28:54,2017-05-01 13:07:57,01:20:57,23.900000
276,28169.0,2,4,BUS,625,GA162,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:07:58,00:57:02,36064.0,2017-05-01 14:28:54,2017-05-01 13:32:00,00:56:54,23.900000
274,28169.0,2,4,BUS,625,GA149,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:25:57,00:39:03,36064.0,2017-05-01 14:28:54,2017-05-01 12:48:52,01:40:02,23.900000
271,28169.0,2,4,BUS,625,GA164,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:46:55,00:18:05,36064.0,2017-05-01 14:28:54,2017-05-01 14:09:23,00:19:31,23.900000
270,28169.0,2,4,BUS,625,GA162,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:11:44,00:06:44,36064.0,2017-05-01 14:28:54,2017-05-01 14:32:26,00:03:32,23.900000
272,28169.0,2,4,BUS,625,GA149,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:25:52,00:20:52,36064.0,2017-05-01 14:28:54,2017-05-01 14:47:07,00:18:13,23.900000
273,28169.0,2,4,BUS,625,GA149,5.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:25:52,00:20:52,36064.0,2017-05-01 14:28:54,2017-05-01 13:49:59,00:38:55,23.900000
275,28169.0,2,4,BUS,625,GA164,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:46:56,00:41:56,36064.0,2017-05-01 14:28:54,2017-05-01 15:06:51,00:37:57,23.900000
277,28169.0,2,4,BUS,625,GA162,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 15:06:46,01:01:46,36064.0,2017-05-01 14:28:54,2017-05-01 15:31:24,01:02:30,23.900000
281,28169.0,2,4,BUS,625,GA162,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:08:07,02:03:07,36064.0,2017-05-01 14:28:54,2017-05-01 16:30:28,02:01:34,23.900000
283,28169.0,2,4,BUS,625,GA149,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:26:07,02:21:07,36064.0,2017-05-01 14:28:54,2017-05-01 15:47:48,01:18:54,23.900000
284,28169.0,2,4,BUS,625,GA149,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:26:07,02:21:07,36064.0,2017-05-01 14:28:54,2017-05-01 16:49:23,02:20:29,23.900000
285,28169.0,2,4,BUS,625,GA164,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:45:20,02:40:20,36064.0,2017-05-01 14:28:54,2017-05-01 17:08:35,02:39:41,23.900000
286,28169.0,2,4,BUS,625,GA162,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 17:10:18,03:05:18,36064.0,2017-05-01 14:28:54,2017-05-01 17:33:02,03:04:08,23.900000
290,28169.0,2,4,BUS,625,GA164,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 17:48:57,03:43:57,36064.0,2017-05-01 14:28:54,2017-05-01 18:08:43,03:39:49,23.900000
292,28169.0,2,4,BUS,625,GA162,13.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:12:08,04:07:08,36064.0,2017-05-01 14:28:54,2017-05-01 18:35:17,04:06:23,23.900000
293,28169.0,2,4,BUS,625,GA149,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:28:31,04:23:31,36064.0,2017-05-01 14:28:54,2017-05-01 17:50:06,03:21:12,23.900000
294,28169.0,2,4,BUS,625,GA164,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:50:18,04:45:18,36064.0,2017-05-01 14:28:54,2017-05-01 19:10:57,04:42:03,23.900000
296,28169.0,2,4,BUS,625,GA162,14.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:17:00,05:12:00,36064.0,2017-05-01 14:28:54,2017-05-01 19:37:50,05:08:56,23.900000
297,28169.0,2,4,BUS,625,GA149,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:31:56,05:26:56,36064.0,2017-05-01 14:28:54,2017-05-01 18:50:44,04:21:50,23.900000
298,28169.0,2,4,BUS,625,GA149,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:31:56,05:26:56,36064.0,2017-05-01 14:28:54,2017-05-01 19:50:43,05:21:49,23.900000
300,28169.0,2,4,BUS,625,GA164,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:50:25,05:45:25,36064.0,2017-05-01 14:28:54,2017-05-01 20:11:04,05:42:10,23.900000
301,28169.0,2,4,BUS,625,GA162,15.0,27639.0,2017-05-01 14:05:00,2017-05-01 20:09:35,06:04:35,36064.0,2017-05-01 14:28:54,2017-05-01 20:28:15,05:59:21,23.900000
304,28169.0,2,4,BUS,625,GA164,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 20:59:38,06:54:38,36064.0,2017-05-01 14:28:54,2017-05-01 21:20:05,06:51:11,23.900000
306,28169.0,2,4,BUS,625,GA149,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 21:24:32,07:19:32,36064.0,2017-05-01 14:28:54,2017-05-01 20:48:41,06:19:47,23.900000
308,28169.0,2,4,BUS,625,GA164,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 21:54:31,07:49:31,36064.0,2017-05-01 14:28:54,2017-05-01 22:19:34,07:50:40,23.900000
310,28169.0,2,4,BUS,625,GA149,13.0,27639.0,2017-05-01 14:05:00,2017-05-01 22:24:56,08:19:56,36064.0,2017-05-01 14:28:54,2017-05-01 21:49:06,07:20:12,23.900000
311,28169.0,2,4,BUS,625,GA164,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 22:55:24,08:50:24,36064.0,2017-05-01 14:28:54,2017-05-01 23:19:32,08:50:38,23.900000
312,28169.0,2,4,BUS,625,GA149,14.0,27639.0,2017-05-01 14:05:00,2017-05-01 23:26:05,09:21:05,36064.0,2017-05-01 14:28:54,2017-05-01 22:47:46,08:18:52,23.900000
313,28169.0,2,4,BUS,625,GA149,15.0,27639.0,2017-05-01 14:05:00,2017-05-01 23:26:05,09:21:05,36064.0,2017-05-01 14:28:54,2017-05-01 23:47:22,09:18:28,23.900000
314,28169.0,2,5,WALK,nan,NaN,NaN,NaN,2017-05-01 14:28:55,NaT,NaT,NaN,2017-05-01 14:35:05,NaT,NaT,6.166667

### Choosing Feasible Legs

In [331]:
def choose_leg_matches(leg_matches_groups):
        colnames = leg_matches_groups.obj.columns.values
        chosen_leg_matches = pd.DataFrame(columns = colnames)
        prev_itin_id = -1
        prev_leg_mode = ""
        prev_leg_end_time = pd.NaT
        num_groups_not_survived = 0

        for name, group in leg_matches_groups:
            
                #print
                #print "Name:", name
                #print "Group:"
                #print group
                #print
                curr_itin_id = group['otp_itinerary_id'].iloc[0]
                curr_leg_mode = group['otp_mode'].iloc[0]
                curr_leg_id = group['otp_leg_id'].iloc[0]
                
                if (prev_itin_id != curr_itin_id): #new itinerary
                    prev_leg_end_time = group['otp_start_time'].dt.floor('d').iloc[0]

                #if (prev_group_id == ()):
                #        prev_leg_end_time = group['bt_start_time'].dt.floor('d')[0]

                #print
                #print "Previous itinerary id:", prev_itin_id
                #print "Previous leg mode:", prev_leg_mode
                #print "Previous leg end time:", prev_leg_end_time
                #print "Current leg id:", curr_leg_id
                #print "Current leg mode:", curr_leg_mode
                #print
                #print "Original Group"
                #print group.filter(['otp_start_time','bt_start_time','bt_end_time'])
                
                if (curr_leg_mode == 'WALK'):
                    #print "Walking duration:", filtered_group['otp_duration_mins']
                    filtered_group = group.reset_index()
                    if (prev_itin_id != curr_itin_id): #first leg is a WALK leg
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time
                    else:
                        filtered_group.loc[0,'bt_start_time'] = prev_leg_end_time
                        filtered_group.loc[0,'bt_end_time'] = prev_leg_end_time + \
                            pd.Timedelta(minutes=np.rint(filtered_group['otp_duration_mins'].iloc[0]))
                    #print "Filtered Group"
                    #print filtered_group
                else:
                    filtered_group = group[group['bt_start_time'] > prev_leg_end_time]
                
                #print
                #print "Filtered Group"
                #print filtered_group.filter(['otp_start_time','bt_start_time','bt_end_time'])

                if (len(filtered_group) == 0):
                        #print "Group did not survive! =("
                        num_groups_not_survived += 1
                        continue

                chosen_leg_match = filtered_group.sort_values('bt_start_time').iloc[0]
                
                if ((curr_leg_id == 2) & 
                    ((curr_leg_mode == 'BUS') & (prev_leg_mode == 'WALK'))):
                        #Update previous walk start/end_times
                        #print
                        #print "Chosen Leg Matches"
                        #print chosen_leg_matches.iloc[-1]
                        #print
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_start_time')] = chosen_leg_match['bt_start_time'] - \
                            pd.Timedelta(minutes=np.rint(chosen_leg_matches.iloc[-1].otp_duration_mins))
                        chosen_leg_matches.iloc[-1,chosen_leg_matches.columns.get_loc('bt_end_time')] = chosen_leg_match['bt_start_time']
                #print "Chosen Leg"
                #print chosen_leg_match

                chosen_leg_matches = chosen_leg_matches.append(chosen_leg_match)

                #Update variables
                #prev_group_id = name
                prev_itin_id = curr_itin_id
                prev_leg_mode = curr_leg_mode
                prev_leg_end_time = chosen_leg_match['bt_end_time']

        #print num_groups_not_survived
        return chosen_leg_matches.filter(colnames)

In [332]:
sample_leg_matches = valid_bus_legs_matches_all[valid_bus_legs_matches_all['otp_user_trip_id'] == 28169.0]

In [333]:
sample_leg_matches

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
215,28169.0,2,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:42:03,NaT,NaT,NaN,2017-05-01 13:46:17,NaT,NaT,4.233333
3,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,00:11:10,16.700000
269,28169.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:03:00,NaT,NaT,NaN,2017-05-01 14:03:03,NaT,NaT,0.050000
309,28169.0,2,4,BUS,625,GA162,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 05:58:59,08:06:01,36064.0,2017-05-01 14:28:54,2017-05-01 06:18:17,08:10:37,23.900000
307,28169.0,2,4,BUS,625,GA161,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 06:26:07,07:38:53,36064.0,2017-05-01 14:28:54,2017-05-01 06:49:36,07:39:18,23.900000
305,28169.0,2,4,BUS,625,GA162,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 06:56:07,07:08:53,36064.0,2017-05-01 14:28:54,2017-05-01 07:18:17,07:10:37,23.900000
303,28169.0,2,4,BUS,625,GA161,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 07:26:07,06:38:53,36064.0,2017-05-01 14:28:54,2017-05-01 07:49:06,06:39:48,23.900000
302,28169.0,2,4,BUS,625,GA162,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 07:54:30,06:10:30,36064.0,2017-05-01 14:28:54,2017-05-01 08:19:57,06:08:57,23.900000
299,28169.0,2,4,BUS,625,GA161,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 08:26:05,05:38:55,36064.0,2017-05-01 14:28:54,2017-05-01 08:49:13,05:39:41,23.900000
295,28169.0,2,4,BUS,625,GA162,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 08:57:30,05:07:30,36064.0,2017-05-01 14:28:54,2017-05-01 09:18:58,05:09:56,23.900000
291,28169.0,2,4,BUS,625,GA162,5.0,27639.0,2017-05-01 14:05:00,2017-05-01 09:59:02,04:05:58,36064.0,2017-05-01 14:28:54,2017-05-01 10:20:10,04:08:44,23.900000
288,28169.0,2,4,BUS,625,GA149,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:27:35,03:37:25,36064.0,2017-05-01 14:28:54,2017-05-01 10:49:19,03:39:35,23.900000
289,28169.0,2,4,BUS,625,GA149,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:27:35,03:37:25,36064.0,2017-05-01 14:28:54,2017-05-01 09:50:22,04:38:32,23.900000
287,28169.0,2,4,BUS,625,GA162,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 10:59:02,03:05:58,36064.0,2017-05-01 14:28:54,2017-05-01 11:25:50,03:03:04,23.900000
282,28169.0,2,4,BUS,625,GA164,1.0,27639.0,2017-05-01 14:05:00,2017-05-01 11:48:34,02:16:26,36064.0,2017-05-01 14:28:54,2017-05-01 12:11:41,02:17:13,23.900000
280,28169.0,2,4,BUS,625,GA162,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:09:30,01:55:30,36064.0,2017-05-01 14:28:54,2017-05-01 12:29:09,01:59:45,23.900000
279,28169.0,2,4,BUS,625,GA149,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:25:57,01:39:03,36064.0,2017-05-01 14:28:54,2017-05-01 11:49:48,02:39:06,23.900000
278,28169.0,2,4,BUS,625,GA164,2.0,27639.0,2017-05-01 14:05:00,2017-05-01 12:43:58,01:21:02,36064.0,2017-05-01 14:28:54,2017-05-01 13:07:57,01:20:57,23.900000
276,28169.0,2,4,BUS,625,GA162,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:07:58,00:57:02,36064.0,2017-05-01 14:28:54,2017-05-01 13:32:00,00:56:54,23.900000
274,28169.0,2,4,BUS,625,GA149,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:25:57,00:39:03,36064.0,2017-05-01 14:28:54,2017-05-01 12:48:52,01:40:02,23.900000
271,28169.0,2,4,BUS,625,GA164,3.0,27639.0,2017-05-01 14:05:00,2017-05-01 13:46:55,00:18:05,36064.0,2017-05-01 14:28:54,2017-05-01 14:09:23,00:19:31,23.900000
270,28169.0,2,4,BUS,625,GA162,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:11:44,00:06:44,36064.0,2017-05-01 14:28:54,2017-05-01 14:32:26,00:03:32,23.900000
272,28169.0,2,4,BUS,625,GA149,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:25:52,00:20:52,36064.0,2017-05-01 14:28:54,2017-05-01 14:47:07,00:18:13,23.900000
273,28169.0,2,4,BUS,625,GA149,5.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:25:52,00:20:52,36064.0,2017-05-01 14:28:54,2017-05-01 13:49:59,00:38:55,23.900000
275,28169.0,2,4,BUS,625,GA164,4.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:46:56,00:41:56,36064.0,2017-05-01 14:28:54,2017-05-01 15:06:51,00:37:57,23.900000
277,28169.0,2,4,BUS,625,GA162,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 15:06:46,01:01:46,36064.0,2017-05-01 14:28:54,2017-05-01 15:31:24,01:02:30,23.900000
281,28169.0,2,4,BUS,625,GA162,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:08:07,02:03:07,36064.0,2017-05-01 14:28:54,2017-05-01 16:30:28,02:01:34,23.900000
283,28169.0,2,4,BUS,625,GA149,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:26:07,02:21:07,36064.0,2017-05-01 14:28:54,2017-05-01 15:47:48,01:18:54,23.900000
284,28169.0,2,4,BUS,625,GA149,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:26:07,02:21:07,36064.0,2017-05-01 14:28:54,2017-05-01 16:49:23,02:20:29,23.900000
285,28169.0,2,4,BUS,625,GA164,6.0,27639.0,2017-05-01 14:05:00,2017-05-01 16:45:20,02:40:20,36064.0,2017-05-01 14:28:54,2017-05-01 17:08:35,02:39:41,23.900000
286,28169.0,2,4,BUS,625,GA162,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 17:10:18,03:05:18,36064.0,2017-05-01 14:28:54,2017-05-01 17:33:02,03:04:08,23.900000
290,28169.0,2,4,BUS,625,GA164,7.0,27639.0,2017-05-01 14:05:00,2017-05-01 17:48:57,03:43:57,36064.0,2017-05-01 14:28:54,2017-05-01 18:08:43,03:39:49,23.900000
292,28169.0,2,4,BUS,625,GA162,13.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:12:08,04:07:08,36064.0,2017-05-01 14:28:54,2017-05-01 18:35:17,04:06:23,23.900000
293,28169.0,2,4,BUS,625,GA149,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:28:31,04:23:31,36064.0,2017-05-01 14:28:54,2017-05-01 17:50:06,03:21:12,23.900000
294,28169.0,2,4,BUS,625,GA164,8.0,27639.0,2017-05-01 14:05:00,2017-05-01 18:50:18,04:45:18,36064.0,2017-05-01 14:28:54,2017-05-01 19:10:57,04:42:03,23.900000
296,28169.0,2,4,BUS,625,GA162,14.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:17:00,05:12:00,36064.0,2017-05-01 14:28:54,2017-05-01 19:37:50,05:08:56,23.900000
297,28169.0,2,4,BUS,625,GA149,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:31:56,05:26:56,36064.0,2017-05-01 14:28:54,2017-05-01 18:50:44,04:21:50,23.900000
298,28169.0,2,4,BUS,625,GA149,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:31:56,05:26:56,36064.0,2017-05-01 14:28:54,2017-05-01 19:50:43,05:21:49,23.900000
300,28169.0,2,4,BUS,625,GA164,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 19:50:25,05:45:25,36064.0,2017-05-01 14:28:54,2017-05-01 20:11:04,05:42:10,23.900000
301,28169.0,2,4,BUS,625,GA162,15.0,27639.0,2017-05-01 14:05:00,2017-05-01 20:09:35,06:04:35,36064.0,2017-05-01 14:28:54,2017-05-01 20:28:15,05:59:21,23.900000
304,28169.0,2,4,BUS,625,GA164,10.0,27639.0,2017-05-01 14:05:00,2017-05-01 20:59:38,06:54:38,36064.0,2017-05-01 14:28:54,2017-05-01 21:20:05,06:51:11,23.900000
306,28169.0,2,4,BUS,625,GA149,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 21:24:32,07:19:32,36064.0,2017-05-01 14:28:54,2017-05-01 20:48:41,06:19:47,23.900000
308,28169.0,2,4,BUS,625,GA164,11.0,27639.0,2017-05-01 14:05:00,2017-05-01 21:54:31,07:49:31,36064.0,2017-05-01 14:28:54,2017-05-01 22:19:34,07:50:40,23.900000
310,28169.0,2,4,BUS,625,GA149,13.0,27639.0,2017-05-01 14:05:00,2017-05-01 22:24:56,08:19:56,36064.0,2017-05-01 14:28:54,2017-05-01 21:49:06,07:20:12,23.900000
311,28169.0,2,4,BUS,625,GA164,12.0,27639.0,2017-05-01 14:05:00,2017-05-01 22:55:24,08:50:24,36064.0,2017-05-01 14:28:54,2017-05-01 23:19:32,08:50:38,23.900000
312,28169.0,2,4,BUS,625,GA149,14.0,27639.0,2017-05-01 14:05:00,2017-05-01 23:26:05,09:21:05,36064.0,2017-05-01 14:28:54,2017-05-01 22:47:46,08:18:52,23.900000
313,28169.0,2,4,BUS,625,GA149,15.0,27639.0,2017-05-01 14:05:00,2017-05-01 23:26:05,09:21:05,36064.0,2017-05-01 14:28:54,2017-05-01 23:47:22,09:18:28,23.900000
314,28169.0,2,5,WALK,nan,NaN,NaN,NaN,2017-05-01 14:28:55,NaT,NaT,NaN,2017-05-01 14:35:05,NaT,NaT,6.166667

In [336]:
start = time.time()
feasible_itins_legs = choose_leg_matches(valid_bus_legs_matches_all.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
#feasible_itins_legs = choose_leg_matches(sample_leg_matches.groupby(['otp_user_trip_id','otp_itinerary_id','otp_leg_id']))
end = time.time()

print "Time to get feasible legs:", end-start

Time to get feasible legs: 5.1568570137

In [337]:
feasible_itins_legs

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins
0,28150.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:53:08,2017-05-01 13:27:07,NaT,NaN,2017-05-01 14:09:59,2017-05-01 13:44:07,NaT,16.850000
0,28150.0,5,2,BUS,821,MA013,9.0,33973.0,2017-05-01 14:10:00,2017-05-01 13:44:07,0 days 00:25:53,30995.0,2017-05-01 14:14:00,2017-05-01 13:46:33,0 days 00:27:27,4.000000
0,28150.0,5,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:14:00,2017-05-01 13:46:33,NaT,NaN,2017-05-01 14:14:26,2017-05-01 13:46:33,NaT,0.433333
25,28150.0,5,4,BUS,303,DE716,4.0,26195.0,2017-05-01 14:21:00,2017-05-01 13:50:21,0 days 00:30:39,25753.0,2017-05-01 14:33:19,2017-05-01 12:00:07,0 days 02:33:12,12.316667
0,28150.0,5,5,WALK,nan,NaN,NaN,NaN,2017-05-01 14:33:20,2017-05-01 12:00:07,NaT,NaN,2017-05-01 14:40:52,2017-05-01 12:08:07,NaT,7.533333
0,28161.0,2,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:37:32,2017-05-01 13:36:17,NaT,NaN,2017-05-01 13:51:31,2017-05-01 13:50:17,NaT,13.983333
1,28161.0,2,2,BUS,303,LE702,5.0,25544.0,2017-05-01 13:51:32,2017-05-01 13:50:17,0 days 00:01:15,25646.0,2017-05-01 14:05:38,2017-05-01 14:04:25,0 days 00:01:13,14.100000
0,28161.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:05:39,2017-05-01 14:04:25,NaT,NaN,2017-05-01 14:05:41,2017-05-01 14:04:25,NaT,0.033333
0,28161.0,8,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:45:52,2017-05-01 13:39:34,NaT,NaN,2017-05-01 13:50:44,2017-05-01 13:44:34,NaT,4.866667
2,28161.0,8,2,BUS,462,DC093,7.0,33025.0,2017-05-01 13:50:45,2017-05-01 13:44:34,0 days 00:06:11,30746.0,2017-05-01 14:07:57,2017-05-01 13:55:26,0 days 00:12:31,17.200000
0,28161.0,8,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:07:58,2017-05-01 13:55:26,NaT,NaN,2017-05-01 14:16:42,2017-05-01 14:04:26,NaT,8.733333
0,28169.0,2,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:42:03,2017-05-01 13:38:19,NaT,NaN,2017-05-01 13:46:17,2017-05-01 13:42:19,NaT,4.233333
3,28169.0,2,2,BUS,658,HA027,5.0,35911.0,2017-05-01 13:46:18,2017-05-01 13:42:19,0 days 00:03:59,27620.0,2017-05-01 14:03:00,2017-05-01 13:51:50,0 days 00:11:10,16.700000
0,28169.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 14:03:00,2017-05-01 13:51:50,NaT,NaN,2017-05-01 14:03:03,2017-05-01 13:51:50,NaT,0.050000
270,28169.0,2,4,BUS,625,GA162,9.0,27639.0,2017-05-01 14:05:00,2017-05-01 14:11:44,0 days 00:06:44,36064.0,2017-05-01 14:28:54,2017-05-01 14:32:26,0 days 00:03:32,23.900000
0,28169.0,2,5,WALK,nan,NaN,NaN,NaN,2017-05-01 14:28:55,2017-05-01 14:32:26,NaT,NaN,2017-05-01 14:35:05,2017-05-01 14:38:26,NaT,6.166667
0,28172.0,2,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:40:00,2017-05-01 14:38:26,NaT,NaN,2017-05-01 13:40:25,2017-05-01 14:38:26,NaT,0.416667
371,28172.0,2,3,BUS,303,LE700,5.0,26192.0,2017-05-01 13:44:00,2017-05-01 14:39:29,0 days 00:55:29,26198.0,2017-05-01 13:54:26,2017-05-01 14:51:00,0 days 00:56:34,10.433333
0,28172.0,2,4,WALK,nan,NaN,NaN,NaN,2017-05-01 13:54:26,2017-05-01 14:51:00,NaT,NaN,2017-05-01 13:56:15,2017-05-01 14:53:00,NaT,1.816667
457,28172.0,2,5,BUS,023,BL335,4.0,26223.0,2017-05-01 14:01:00,2017-05-01 14:57:31,0 days 00:56:31,25685.0,2017-05-01 14:11:12,2017-05-01 15:07:41,0 days 00:56:29,10.200000
503,28172.0,2,6,BUS,307,ML306,6.0,25685.0,2017-05-01 14:11:22,2017-05-01 15:08:23,0 days 00:57:01,26208.0,2017-05-01 14:26:00,2017-05-01 15:17:24,0 days 00:51:24,14.633333
5,28172.0,4,1,BUS,332,DA015,22.0,27786.0,2017-05-01 13:47:58,2017-05-01 13:40:21,0 days 00:07:37,30123.0,2017-05-01 13:52:00,2017-05-01 13:47:17,0 days 00:04:43,4.033333
0,28172.0,4,2,WALK,nan,NaN,NaN,NaN,2017-05-01 13:52:00,2017-05-01 13:47:17,NaT,NaN,2017-05-01 13:52:25,2017-05-01 13:47:17,NaT,0.416667
591,28172.0,4,3,BUS,303,DE715,4.0,26192.0,2017-05-01 13:58:00,2017-05-01 13:50:12,0 days 00:07:48,26198.0,2017-05-01 14:10:05,2017-05-01 14:02:26,0 days 00:07:39,12.083333
0,28172.0,4,4,WALK,nan,NaN,NaN,NaN,2017-05-01 14:10:05,2017-05-01 14:02:26,NaT,NaN,2017-05-01 14:10:57,2017-05-01 14:03:26,NaT,0.866667
680,28172.0,4,5,BUS,021,GR122,5.0,27962.0,2017-05-01 14:14:00,2017-05-01 14:08:45,0 days 00:05:15,33018.0,2017-05-01 14:19:36,2017-05-01 14:15:15,0 days 00:04:21,5.600000
0,28172.0,4,6,WALK,nan,NaN,NaN,NaN,2017-05-01 14:19:36,2017-05-01 14:15:15,NaT,NaN,2017-05-01 14:21:52,2017-05-01 14:17:15,NaT,2.266667
720,28172.0,4,7,BUS,307,CL300,5.0,25415.0,2017-05-01 14:30:50,2017-05-01 14:18:20,0 days 00:12:30,26208.0,2017-05-01 14:40:00,2017-05-01 14:25:42,0 days 00:14:18,9.166667
0,28172.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 13:37:07,2017-05-01 13:35:12,NaT,NaN,2017-05-01 13:51:59,2017-05-01 13:50:12,NaT,14.866667
6,28172.0,5,2,BUS,303,DE715,4.0,26192.0,2017-05-01 13:52:00,2017-05-01 13:50:12,0 days 00:01:48,26045.0,2017-05-01 14:10:04,2017-05-01 14:08:27,0 days 00:01:37,18.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740,70138.0,8,6,BUS,655,HA001,18.0,32036.0,2017-05-01 23:17:05,2017-05-01 23:07:39,0 days 00:09:26,36238.0,2017-05-01 23:35:00,2017-05-01 23:23:22,0 days 00:11:38,17.916667
0,70138.0,8,7,WALK,nan,NaN,NaN,NaN,2017-05-01 23:35:01,2017-05-01 23:23:22,NaT,NaN,2017-05-01 23:43:13,2017-05-01 23:31:22,NaT,8.200000
0,70809.0,4,1,WALK,nan,NaN,NaN,NaN,2017-05-01 23:10:11,2017-05-01 23:00:56,NaT,NaN,2017-05-01 23:11:45,2017-05-01 23:02:56,NaT,1.566667
148,70809.0,4,2,BUS,655,HA001,18.0,34155.0,2017-05-01 23:11:46,2017-05-01 23:02:56,0 days 00:08:50,36238.0,2017-05-01 23:35:00,2017-05-01 23:23:22,0 days 00:11:38,23.233333
0,70809.0,4,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:35:01,2017-05-01 23:23:22,NaT,NaN,2017-05-01 23:41:04,2017-05-01 23:29:22,NaT,6.050000
0,70809.0,5,1,WALK,nan,NaN,NaN,NaN,2017-05-01 23:01:40,2017-05-01 22:54:12,NaT,NaN,2017-05-01 23:03:14,2017-05-01 22:56:12,NaT,1.566667
149,70809.0,5,2,BUS,684,HA002,15.0,34155.0,2017-05-01 23:03:15,2017-05-01 22:56:12,0 days 00:07:03,39263.0,2017-05-01 23:17:51,2017-05-01 23:08:19,0 days 00:09:32,14.600000
0,70809.0,5,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:17:52,2017-05-01 23:08:19,NaT,NaN,2017-05-01 23:42:47,2017-05-01 23:33:19,NaT,24.916667
0,70809.0,9,1,WALK,nan,NaN,NaN,NaN,2017-05-01 23:40:11,2017-05-01 23:00:56,NaT,NaN,2017-05-01 23:41:45,2017-05-01 23:02:56,NaT,1.566667
150,70809.0,9,2,BUS,655,HA001,18.0,34155.0,2017-05-01 23:41:46,2017-05-01 23:02:56,0 days 00:38:50,36238.0,2017-05-02 00:05:00,2017-05-01 23:23:22,0 days 00:41:38,23.233333
0,70809.0,9,3,WALK,nan,NaN,NaN,NaN,2017-05-02 00:05:01,2017-05-01 23:23:22,NaT,NaN,2017-05-02 00:11:04,2017-05-01 23:29:22,NaT,6.050000
0,71039.0,2,1,WALK,nan,NaN,NaN,NaN,2017-05-01 22:58:28,2017-05-01 22:58:40,NaT,NaN,2017-05-01 23:08:11,2017-05-01 23:08:40,NaT,9.716667
151,71039.0,2,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:08:12,2017-05-01 23:08:40,0 days 00:00:28,26631.0,2017-05-01 23:26:48,2017-05-01 23:21:51,0 days 00:04:57,18.600000
0,71039.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:26:49,2017-05-01 23:21:51,NaT,NaN,2017-05-01 23:31:25,2017-05-01 23:26:51,NaT,4.600000
0,71039.0,9,1,WALK,nan,NaN,NaN,NaN,2017-05-01 23:44:28,2017-05-01 22:58:40,NaT,NaN,2017-05-01 23:54:11,2017-05-01 23:08:40,NaT,9.716667
152,71039.0,9,2,BUS,760,JC861,4.0,32811.0,2017-05-01 23:54:12,2017-05-01 23:08:40,0 days 00:45:32,26631.0,2017-05-02 00:12:48,2017-05-01 23:21:51,0 days 00:50:57,18.600000
0,71039.0,9,3,WALK,nan,NaN,NaN,NaN,2017-05-02 00:12:49,2017-05-01 23:21:51,NaT,NaN,2017-05-02 00:17:25,2017-05-01 23:26:51,NaT,4.600000
153,71056.0,2,1,BUS,307,ML301,11.0,26208.0,2017-05-01 23:00:00,2017-05-01 23:08:21,0 days 00:08:21,25685.0,2017-05-01 23:09:54,2017-05-01 22:58:54,0 days 00:11:00,9.900000
0,71056.0,2,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:27:00,2017-05-01 22:58:54,NaT,NaN,2017-05-01 23:29:19,2017-05-01 23:00:54,NaT,2.316667
12037,71056.0,2,4,BUS,303,DE708,9.0,26191.0,2017-05-01 23:31:11,2017-05-01 23:10:22,0 days 00:20:49,26192.0,2017-05-01 23:45:00,2017-05-01 21:25:07,0 days 02:19:53,13.816667
0,71056.0,2,5,WALK,nan,NaN,NaN,NaN,2017-05-01 23:45:00,2017-05-01 21:25:07,NaT,NaN,2017-05-01 23:45:25,2017-05-01 21:25:07,NaT,0.416667
12127,71056.0,2,6,BUS,332,DA015,42.0,30123.0,2017-05-01 23:46:00,2017-05-01 21:48:02,0 days 01:57:58,27836.0,2017-05-01 23:50:00,2017-05-01 21:28:41,0 days 02:21:19,4.000000
0,71056.0,2,7,WALK,nan,NaN,NaN,NaN,2017-05-01 23:50:01,2017-05-01 21:28:41,NaT,NaN,2017-05-01 23:52:09,2017-05-01 21:30:41,NaT,2.133333
0,71056.0,4,1,WALK,nan,NaN,NaN,NaN,2017-05-01 23:01:21,2017-05-01 22:57:36,NaT,NaN,2017-05-01 23:04:59,2017-05-01 23:01:36,NaT,3.633333
154,71056.0,4,2,BUS,373,CC195,17.0,26218.0,2017-05-01 23:05:00,2017-05-01 23:01:36,0 days 00:03:24,30879.0,2017-05-01 23:12:42,2017-05-01 22:19:49,0 days 00:52:53,7.700000
0,71056.0,4,3,WALK,nan,NaN,NaN,NaN,2017-05-01 23:12:42,2017-05-01 22:19:49,NaT,NaN,2017-05-01 23:14:01,2017-05-01 22:20:49,NaT,1.316667
12226,71056.0,4,5,BUS,020,BB603,6.0,27945.0,2017-05-01 23:22:00,2017-05-01 22:41:17,0 days 00:40:43,28120.0,2017-05-01 23:38:08,2017-05-01 20:52:20,0 days 02:45:48,16.133333
0,71056.0,4,6,WALK,nan,NaN,NaN,NaN,2017-05-01 23:38:08,2017-05-01 20:52:20,NaT,NaN,2017-05-01 23:38:23,2017-05-01 20:52:20,NaT,0.250000
12277,71056.0,4,7,BUS,338,DA033,13.0,28119.0,2017-05-01 23:53:39,2017-05-01 20:57:38,0 days 02:56:01,30110.0,2017-05-02 00:31:28,2017-05-01 21:20:52,0 days 03:10:36,37.816667
0,71056.0,4,8,WALK,nan,NaN,NaN,NaN,2017-05-02 00:31:29,2017-05-01 21:20:52,NaT,NaN,2017-05-02 00:34:42,2017-05-01 21:23:52,NaT,3.216667

In [221]:
feasible_itins_legs.tail(1)

,otp_user_trip_id,otp_itinerary_id,otp_leg_id,otp_mode,otp_route,bt_bus_code,bt_trip_num,otp_from_stop_id,otp_start_time,bt_start_time,sched_obs_start_timediff,otp_to_stop_id,otp_end_time,bt_end_time,sched_obs_end_timediff,otp_duration_mins,o_boarding_id,o_boarding_datetime
0,71056.0,4,8,WALK,nan,NaN,NaN,NaN,2017-05-02 00:31:29,NaT,NaT,NaN,2017-05-02 00:34:42,NaT,NaT,3.216667,NaN,NaT

In [224]:
feasible_itins_legs.iloc[-1].otp_leg_id = 1

/local/tarciso/programs/anaconda3/envs/py2/lib/python2.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value