In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Functions

In [15]:
def dist(stop_lat, stop_lon,next_o_lat,next_o_lon):
    return np.arccos(
        np.sin(np.radians(stop_lat)) * np.sin(np.radians(next_o_lat)) + 
        np.cos(np.radians(stop_lat)) * np.cos(np.radians(next_o_lat)) * 
            np.cos(np.radians(stop_lon) - np.radians(next_o_lon))
    ) * 6371

#### Read Origin/Next-Origin Pairs

In [99]:
trips_origins = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_user_trips.csv', parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])

In [101]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(20)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,next_o_boarding_id,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,0 days 05:28:56.000000000
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,NaN
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,0 days 09:35:53.000000000
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,NaN
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,0 days 00:32:46.000000000
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,NaN
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,0 days 02:07:17.000000000
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,NaN
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,0 days 02:25:53.000000000
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,NaN
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,0 days 01:01:26.000000000
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,NaN
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,0 days 11:16:02.000000000
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,NaN
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,0 days 09:30:13.000000000
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,NaN
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,0 days 00:21:31.000000000
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,NaN
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,0 days 08:36:01.000000000
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,NaN

In [102]:
trips_origins['dist_between_origins'] = trips_origins.apply(lambda x: dist(x['o_stop_lat'],x['o_stop_lon'],x['next_o_stop_lat'],x['next_o_stop_lon']), axis=1)
trips_origins['boardings_timediff'] = pd.to_timedelta(trips_origins['boardings_timediff'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [103]:
trips_origins['boardings_timediff'] = np.where(np.isnat(trips_origins['boardings_timediff']),
                                             trips_origins['o_boarding_datetime'] - trips_origins['next_o_boarding_datetime'],
                                             trips_origins['boardings_timediff'])

In [104]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(50)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,...,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,05:28:56,14.636225
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,...,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,05:28:56,14.636225
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,...,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,09:35:53,3.178960
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,...,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,09:35:53,3.178960
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,...,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,00:32:46,2.639323
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,...,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,00:32:46,2.639323
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,...,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,02:07:17,8.248431
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,...,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,02:07:17,8.248431
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,...,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,02:25:53,6.307331
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,02:25:53,6.307331
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,...,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,01:01:26,13.187375
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,...,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,01:01:26,13.187375
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,...,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,11:16:02,0.939445
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,...,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,11:16:02,0.939445
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,...,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,09:30:13,14.870978
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,...,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,09:30:13,14.870978
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,...,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,00:21:31,4.583676
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,...,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,00:21:31,4.583676
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,...,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,08:36:01,12.996760
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,...,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,08:36:01,12.996760
169125,318478.0,40,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,...,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,00:42:34,2.168102
169126,318478.0,41,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,...,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,00:42:34,2.168102
8820,320930.0,43,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,...,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,05:29:34,8.460167
8821,320930.0,44,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,05:29:34,8.460167
117786,321169.0,45,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,...,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,09:11:56,2.529063
117787,321169.0,46,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,...,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,09:11:56,2.529063
98556,321508.0,48,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,...,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,08:54:35,1.878469
98557,321508.0,49,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,...,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,08:54:35,1.878469
101591,321530.0,50,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,...,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,07:25:52,9.303320
101592,321530.0,51,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,...,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,01:47:29,4.564118
101593,321530.0,52,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,09:13:21,11.214495
8566,321916.0,53,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,...,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,11:33:55,NaN
8567,321916.0,54,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,...,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,11:33:55,NaN
90459,323614.0,60,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,05:52:11,0.000000
90460,323614.0,61,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,02:17:46,1.861568
90461,323614.0,62,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,08:09:57,1.861568
78695,323978.0,64,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,...,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,09:33:24,4.498368
78696,323978.0,65,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,...,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,09:33:24,4.498368
72432,324516.0,66,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,...,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,02:41:00,6.209405
72433,324516.0,67,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,02:41:00,6.209405
65120,324692.0,68,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,...,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,10:55:11,8.619015
65121,324692.0,69,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,10:55:11,8.619015
3664,324875.0,71,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,...,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,10:18:14,9.921650
3665,324875.0,72,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,...,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,10:18:14,9.921650
132445,324934.0,73,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,00:00:03,0.000000
132446,324934.0,74,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,01:28:47,2.374585
132447,324934.0,75,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,00:00:04,0.000095
132448,324934.0,76,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,01:28:54,2.374585
105761,325105.0,78,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,...,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,03:10:01,3.600381
105762,325105.0,79,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,03:10:01,3.600381

In [105]:
trips_origins.dist_between_origins.describe()

count    176588.000000
mean          5.467415
std           4.161731
min           0.000000
25%           2.052165
50%           5.142366
75%           8.200742
max          28.419669
Name: dist_between_origins, dtype: float64

In [106]:
trips_origins.boardings_timediff.describe()

count                    177756
mean     0 days 05:49:04.257307
std      0 days 04:05:58.037363
min             0 days 00:00:01
25%      0 days 01:38:57.750000
50%             0 days 05:49:27
75%             0 days 09:49:12
max             0 days 16:26:35
Name: boardings_timediff, dtype: object

In [107]:
len(trips_origins)

177756

In [144]:
trips_origins_clean = trips_origins[(trips_origins['dist_between_origins'] > 1.5) &
                                    (trips_origins['boardings_timediff'] > pd.Timedelta('5 min'))]

In [145]:
len(trips_origins_clean)

139498

In [146]:
trips_origins.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                         int64
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
dtype: object

#### Read Bus Trips data

In [147]:
bus_trips = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_bus_trips.csv', parse_dates=['gps_datetime'])

In [148]:
bus_trips.head()

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station
0,654,HA017,2.0,35350,2017-05-09 06:28:49,-25.492665,-49.303977,NaN
1,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,NaN
2,654,HA240,3.0,36094,2017-05-09 06:55:54,-25.501283,-49.320023,NaN
3,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,NaN
4,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,NaN

In [161]:
len(bus_trips)

606996

In [149]:
bus_trips.dtypes

route                     object
busCode                   object
tripNum                  float64
stopPointId                int64
gps_datetime      datetime64[ns]
stop_lat                 float64
stop_lon                 float64
parent_station           float64
dtype: object

#### Find trips whose destination is reacheable from origin by taking the boarding bus

In [164]:
od_trips = bus_trips.merge(trips_origins_clean, left_on=['route','busCode','tripNum'], 
                           right_on=['o_route','o_busCode','o_tripNum'], how='inner') \
                    .sort_values(['cardNum','o_boarding_datetime','gps_datetime']) \
                    .query('gps_datetime > o_boarding_datetime')

In [184]:
len(od_trips)

50987

In [183]:
len(od_trips.drop_duplicates(subset=['cardNum','o_route','o_busCode','o_tripNum','o_boarding_datetime']))

1854

In [166]:
od_trips[['cardNum','o_route','o_busCode','o_tripNum','route','busCode','tripNum','stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime']] \
        .sort_values(['cardNum','o_boarding_datetime','gps_datetime']).head(50)

,cardNum,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime
85040,331166.0,965,MN606,15.0,965,MN606,15.0,33371,2017-05-09 20:07:29,2017-05-09 20:08:00,2017-05-09 07:53:13
85041,331166.0,965,MN606,15.0,965,MN606,15.0,33306,2017-05-09 20:07:29,2017-05-09 20:09:10,2017-05-09 07:53:13
85042,331166.0,965,MN606,15.0,965,MN606,15.0,33376,2017-05-09 20:07:29,2017-05-09 20:09:34,2017-05-09 07:53:13
85043,331166.0,965,MN606,15.0,965,MN606,15.0,33382,2017-05-09 20:07:29,2017-05-09 20:10:42,2017-05-09 07:53:13
85044,331166.0,965,MN606,15.0,965,MN606,15.0,26346,2017-05-09 20:07:29,2017-05-09 20:11:35,2017-05-09 07:53:13
85045,331166.0,965,MN606,15.0,965,MN606,15.0,33390,2017-05-09 20:07:29,2017-05-09 20:12:13,2017-05-09 07:53:13
85046,331166.0,965,MN606,15.0,965,MN606,15.0,33310,2017-05-09 20:07:29,2017-05-09 20:13:46,2017-05-09 07:53:13
85047,331166.0,965,MN606,15.0,965,MN606,15.0,33450,2017-05-09 20:07:29,2017-05-09 20:14:52,2017-05-09 07:53:13
85048,331166.0,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13
85049,331166.0,965,MN606,15.0,965,MN606,15.0,26448,2017-05-09 20:07:29,2017-05-09 20:16:06,2017-05-09 07:53:13
85050,331166.0,965,MN606,15.0,965,MN606,15.0,26455,2017-05-09 20:07:29,2017-05-09 20:16:19,2017-05-09 07:53:13
85051,331166.0,965,MN606,15.0,965,MN606,15.0,33463,2017-05-09 20:07:29,2017-05-09 20:17:13,2017-05-09 07:53:13
85052,331166.0,965,MN606,15.0,965,MN606,15.0,33682,2017-05-09 20:07:29,2017-05-09 20:18:38,2017-05-09 07:53:13
85053,331166.0,965,MN606,15.0,965,MN606,15.0,33717,2017-05-09 20:07:29,2017-05-09 20:18:56,2017-05-09 07:53:13
85054,331166.0,965,MN606,15.0,965,MN606,15.0,32797,2017-05-09 20:07:29,2017-05-09 20:20:08,2017-05-09 07:53:13
85055,331166.0,965,MN606,15.0,965,MN606,15.0,33457,2017-05-09 20:07:29,2017-05-09 20:21:20,2017-05-09 07:53:13
85056,331166.0,965,MN606,15.0,965,MN606,15.0,33451,2017-05-09 20:07:29,2017-05-09 20:22:34,2017-05-09 07:53:13
85057,331166.0,965,MN606,15.0,965,MN606,15.0,33311,2017-05-09 20:07:29,2017-05-09 20:23:42,2017-05-09 07:53:13
85058,331166.0,965,MN606,15.0,965,MN606,15.0,33734,2017-05-09 20:07:29,2017-05-09 20:24:07,2017-05-09 07:53:13
85059,331166.0,965,MN606,15.0,965,MN606,15.0,33393,2017-05-09 20:07:29,2017-05-09 20:24:43,2017-05-09 07:53:13
85060,331166.0,965,MN606,15.0,965,MN606,15.0,33387,2017-05-09 20:07:29,2017-05-09 20:25:56,2017-05-09 07:53:13
85061,331166.0,965,MN606,15.0,965,MN606,15.0,33386,2017-05-09 20:07:29,2017-05-09 20:26:31,2017-05-09 07:53:13
85062,331166.0,965,MN606,15.0,965,MN606,15.0,33374,2017-05-09 20:07:29,2017-05-09 20:29:39,2017-05-09 07:53:13
85063,331166.0,965,MN606,15.0,965,MN606,15.0,32363,2017-05-09 20:07:29,2017-05-09 20:31:53,2017-05-09 07:53:13
85064,331166.0,965,MN606,15.0,965,MN606,15.0,32366,2017-05-09 20:07:29,2017-05-09 20:32:26,2017-05-09 07:53:13
85065,331166.0,965,MN606,15.0,965,MN606,15.0,34366,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13
85066,331166.0,965,MN606,15.0,965,MN606,15.0,34367,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13
85067,331166.0,965,MN606,15.0,965,MN606,15.0,32367,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13
85068,331166.0,965,MN606,15.0,965,MN606,15.0,32368,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13
85069,331166.0,965,MN606,15.0,965,MN606,15.0,32369,2017-05-09 20:07:29,2017-05-09 20:34:12,2017-05-09 07:53:13
85070,331166.0,965,MN606,15.0,965,MN606,15.0,32370,2017-05-09 20:07:29,2017-05-09 20:34:23,2017-05-09 07:53:13
5942,352491.0,901,MC303,11.0,901,MC303,11.0,26637,2017-05-09 17:32:45,2017-05-09 17:34:31,2017-05-09 07:18:53
5963,352491.0,901,MC303,11.0,901,MC303,11.0,32795,2017-05-09 17:32:45,2017-05-09 17:38:44,2017-05-09 07:18:53
5984,352491.0,901,MC303,11.0,901,MC303,11.0,33681,2017-05-09 17:32:45,2017-05-09 17:40:55,2017-05-09 07:18:53
6005,352491.0,901,MC303,11.0,901,MC303,11.0,33677,2017-05-09 17:32:45,2017-05-09 17:41:26,2017-05-09 07:18:53
6026,352491.0,901,MC303,11.0,901,MC303,11.0,33675,2017-05-09 17:32:45,2017-05-09 17:42:12,2017-05-09 07:18:53
6047,352491.0,901,MC303,11.0,901,MC303,11.0,33671,2017-05-09 17:32:45,2017-05-09 17:43:28,2017-05-09 07:18:53
6068,352491.0,901,MC303,11.0,901,MC303,11.0,33669,2017-05-09 17:32:45,2017-05-09 17:44:56,2017-05-09 07:18:53
6089,352491.0,901,MC303,11.0,901,MC303,11.0,33666,2017-05-09 17:32:45,2017-05-09 17:45:25,2017-05-09 07:18:53
6110,352491.0,901,MC303,11.0,901,MC303,11.0,33658,2017-05-09 17:32:45,2017-05-09 17:48:36,2017-05-09 07:18:53
6131,352491.0,901,MC303,11.0,901,MC303,11.0,33654,2017-05-09 17:32:45,2017-05-09 17:50:02,2017-05-09 07:18:53
6152,352491.0,901,MC303,11.0,901,MC303,11.0,32370,2017-05-09 17:32:45,2017-05-09 17:52:17,2017-05-09 07:18:53
6173,352491.0,901,MC303,11.0,901,MC303,11.0,33116,2017-05-09 17:32:45,2017-05-09 17:54:12,2017-05-09 07:18:53
21538,384263.0,916,MA299,3.0,916,MA299,3.0,33341,2017-05-09 11:25:04,2017-05-09 12:12:32,2017-05-09 12:45:22
21555,384263.0,916,MA299,3.0,916,MA299,3.0,33309,2017-05-09 11:25:04,2017-05-09 12:14:55,2017-05-09 12:45:22
21572,384263.0,916,MA299,3.0,916,MA299,3.0,33400,2017-05-09 11:25:04,2017-05-09 12:15:56,2017-05-09 12:45:22
21589,384263.0,916,MA299,3.0,916,MA299,3.0,33402,2017-05-09 11:25:04,2017-05-09 12:16:16,2017-05-09 12:45:22
21606,384263.0,916,MA299,3.0,916,MA299,3.0,33424,2017-05-09 11:25:04,2017-05-09 12:16:57,2017-05-09 12:45:22
21623,384263.0,916,MA299,3.0,916,MA299,3.0,33427,2017-05-09 11:25:04,2017-05-09 12:17:14,2017-05-09 12:45:22
21640,384263.0,916,MA299,3.0,916,MA299,3.0,33438,2017-05-09 11:25:04,2017-05-09 12:19:49,2017-05-09 12:45:22

In [167]:
od_trips

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station,cardNum,o_boarding_id,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
85040,965,MN606,15.0,33371,2017-05-09 20:08:00,-25.400821,-49.312561,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85041,965,MN606,15.0,33306,2017-05-09 20:09:10,-25.404896,-49.313743,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85042,965,MN606,15.0,33376,2017-05-09 20:09:34,-25.407791,-49.313072,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85043,965,MN606,15.0,33382,2017-05-09 20:10:42,-25.407703,-49.309823,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85044,965,MN606,15.0,26346,2017-05-09 20:11:35,-25.429344,-49.271138,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85045,965,MN606,15.0,33390,2017-05-09 20:12:13,-25.410597,-49.307468,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85046,965,MN606,15.0,33310,2017-05-09 20:13:46,-25.412069,-49.303053,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85047,965,MN606,15.0,33450,2017-05-09 20:14:52,-25.413864,-49.298043,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85048,965,MN606,15.0,26900,2017-05-09 20:15:37,-25.422483,-49.284328,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85049,965,MN606,15.0,26448,2017-05-09 20:16:06,-25.411622,-49.294794,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85050,965,MN606,15.0,26455,2017-05-09 20:16:19,-25.423430,-49.287646,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85051,965,MN606,15.0,33463,2017-05-09 20:17:13,-25.416318,-49.293893,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85052,965,MN606,15.0,33682,2017-05-09 20:18:38,-25.421278,-49.292316,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85053,965,MN606,15.0,33717,2017-05-09 20:18:56,-25.424000,-49.279854,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85054,965,MN606,15.0,32797,2017-05-09 20:20:08,-25.423931,-49.291052,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85055,965,MN606,15.0,33457,2017-05-09 20:21:20,-25.413184,-49.294176,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85056,965,MN606,15.0,33451,2017-05-09 20:22:34,-25.412748,-49.296296,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85057,965,MN606,15.0,33311,2017-05-09 20:23:42,-25.413376,-49.301067,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85058,965,MN606,15.0,33734,2017-05-09 20:24:07,-25.426369,-49.277005,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85059,965,MN606,15.0,33393,2017-05-09 20:24:43,-25.412274,-49.304391,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85060,965,MN606,15.0,33387,2017-05-09 20:25:56,-25.409851,-49.309279,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85061,965,MN606,15.0,33386,2017-05-09 20:26:31,-25.408543,-49.308387,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85062,965,MN606,15.0,33374,2017-05-09 20:29:39,-25.402404,-49.312365,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85063,965,MN606,15.0,32363,2017-05-09 20:31:53,-25.398228,-49.318935,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85064,965,MN606,15.0,32366,2017-05-09 20:32:26,-25.399242,-49.322112,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85065,965,MN606,15.0,34366,2017-05-09 20:32:52,-25.398619,-49.323979,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85066,965,MN606,15.0,34367,2017-05-09 20:32:52,-25.398686,-49.323976,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85067,965,MN606,15.0,32367,2017-05-09 20:33:22,-25.399561,-49.326201,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85068,965,MN606,15.0,32368,2017-05-09 20:33:22,-25.399555,-49.326098,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85069,965,MN606,15.0,32369,2017-05-09 20:34:12,-25.402222,-49.327749,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97772,972,MC301,2.0,29599,2017-05-09 07:32:01,-25.428372,-49.272863,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97791,972,MC301,2.0,26720,2017-05-09 07:33:39,-25.429152,-49.276481,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97810,972,MC301,2.0,26638,2017-05-09 07:34:21,-25.425330,-49.279466,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97829,972,MC301,2.0,26721,2017-05-09 07:34:32,-25.428837,-49.278335,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97848,972,MC301,2.0,26722,2017-05-09 07:34:53,-25.426941,-49.279159,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97867,972,MC301,2.0,26637,2017-05-09 07:36:33,-25.423203,-49.280680,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97886,972,MC301,2.0,32796,2017-05-09 07:37:50,-25.422572,-49.290002,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97905,972,MC301,2.0,32794,2017-05-09 07:38:11,-25.422354,-49.284146,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97924,972,MC301,2.0,33681,2017-05-09 07:41:56,-25.421024,-49.292248,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97943,972,MC301,2.0,33677,2017-05-09 07:42:05,-25.416842,-49.294574,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97962,972,MC301,2.0,33679,2017-05-09 07:42:21,-25.418513,-49.293422,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97981,972,MC301,2.0,33675,2017-05-09 07:43:52,-25.415751,-49.297035,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98000,972,MC301,2.0,33673,2017-05-09 07:44:17,-25.415488,-49.300555,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98019,972,MC301,2.0,33671,2017-05-09 07:45:14,-25.414494,-49.304344,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98038,972,MC301,2.0,33669,2017-05-09 07:45:45,-25.414255,-49.308201,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98057,972,MC301,2.0,33380,2017-05-09 07:46:48,-25.412816,-49.311366,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98076,972,MC301,2.0,33377,2017-05-09 07:48:19,-25.407559,-49.313104,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98095,972,MC301,2.0,33305,2017-05-09 07:48:56,-25.404890,-49.313631,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98114,972,MC301,2.0,33375,2017-05-09 07:49:46,-25.402474,-49.312256,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98133,972,MC301,2.0,33972,2017-05-09 07:49:56,-25.393701,-49.321327,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98152,972,MC301,2.0,33369,2017-05-09 07:50:53,-25.400772,-49.312413,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98171,972,MC301,2.0,32359,2017-05-09 07:51:46,-25.398572,-49.314697,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98190,972,MC301,2.0,32361,2017-05-09 07:52:24,-25.397776,-49.317051,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98209,972,MC301,2.0,33989,2017-05-09 07:53:12,-25.395728,-49.318315,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98228,972,MC301,2.0,33966,2017-05-09 07:55:24,-25.393297,-49.326180,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98247,972,MC301,2.0,33963,2017-05-09 07:56:11,-25.392986,-49.329433,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98266,972,MC301,2.0,33959,2017-05-09 07:56:40,-25.392722,-49.332345,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98285,972,MC301,2.0,33342,2017-05-09 07:57:19,-25.399836,-49.333621,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98304,972,MC301,2.0,33346,2017-05-09 07:57:49,-25.393650,-49.335686,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98323,972,MC301,2.0,33344,2017-05-09 07:58:42,-25.397277,-49.334848,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463

In [168]:
od_trips['dist'] = od_trips.apply(lambda x: dist(x['stop_lat'],x['stop_lon'],x['next_o_stop_lat'],x['next_o_stop_lon']), axis=1)

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [169]:
od_trips[['cardNum','o_route','o_busCode','o_tripNum','route','busCode','tripNum','stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime','dist']].head(30)

,cardNum,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime,dist
85040,331166.0,965,MN606,15.0,965,MN606,15.0,33371,2017-05-09 20:07:29,2017-05-09 20:08:00,2017-05-09 07:53:13,3.314109
85041,331166.0,965,MN606,15.0,965,MN606,15.0,33306,2017-05-09 20:07:29,2017-05-09 20:09:10,2017-05-09 07:53:13,3.090123
85042,331166.0,965,MN606,15.0,965,MN606,15.0,33376,2017-05-09 20:07:29,2017-05-09 20:09:34,2017-05-09 07:53:13,2.840697
85043,331166.0,965,MN606,15.0,965,MN606,15.0,33382,2017-05-09 20:07:29,2017-05-09 20:10:42,2017-05-09 07:53:13,2.587805
85044,331166.0,965,MN606,15.0,965,MN606,15.0,26346,2017-05-09 20:07:29,2017-05-09 20:11:35,2017-05-09 07:53:13,2.038588
85045,331166.0,965,MN606,15.0,965,MN606,15.0,33390,2017-05-09 20:07:29,2017-05-09 20:12:13,2017-05-09 07:53:13,2.202349
85046,331166.0,965,MN606,15.0,965,MN606,15.0,33310,2017-05-09 20:07:29,2017-05-09 20:13:46,2017-05-09 07:53:13,1.755588
85047,331166.0,965,MN606,15.0,965,MN606,15.0,33450,2017-05-09 20:07:29,2017-05-09 20:14:52,2017-05-09 07:53:13,1.260855
85048,331166.0,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13,0.569992
85049,331166.0,965,MN606,15.0,965,MN606,15.0,26448,2017-05-09 20:07:29,2017-05-09 20:16:06,2017-05-09 07:53:13,1.309328
85050,331166.0,965,MN606,15.0,965,MN606,15.0,26455,2017-05-09 20:07:29,2017-05-09 20:16:19,2017-05-09 07:53:13,0.255135
85051,331166.0,965,MN606,15.0,965,MN606,15.0,33463,2017-05-09 20:07:29,2017-05-09 20:17:13,2017-05-09 07:53:13,0.797730
85052,331166.0,965,MN606,15.0,965,MN606,15.0,33682,2017-05-09 20:07:29,2017-05-09 20:18:38,2017-05-09 07:53:13,0.273320
85053,331166.0,965,MN606,15.0,965,MN606,15.0,33717,2017-05-09 20:07:29,2017-05-09 20:18:56,2017-05-09 07:53:13,1.031491
85054,331166.0,965,MN606,15.0,965,MN606,15.0,32797,2017-05-09 20:07:29,2017-05-09 20:20:08,2017-05-09 07:53:13,0.184253
85055,331166.0,965,MN606,15.0,965,MN606,15.0,33457,2017-05-09 20:07:29,2017-05-09 20:21:20,2017-05-09 07:53:13,1.124938
85056,331166.0,965,MN606,15.0,965,MN606,15.0,33451,2017-05-09 20:07:29,2017-05-09 20:22:34,2017-05-09 07:53:13,1.262120
85057,331166.0,965,MN606,15.0,965,MN606,15.0,33311,2017-05-09 20:07:29,2017-05-09 20:23:42,2017-05-09 07:53:13,1.510162
85058,331166.0,965,MN606,15.0,965,MN606,15.0,33734,2017-05-09 20:07:29,2017-05-09 20:24:07,2017-05-09 07:53:13,1.371833
85059,331166.0,965,MN606,15.0,965,MN606,15.0,33393,2017-05-09 20:07:29,2017-05-09 20:24:43,2017-05-09 07:53:13,1.843731
85060,331166.0,965,MN606,15.0,965,MN606,15.0,33387,2017-05-09 20:07:29,2017-05-09 20:25:56,2017-05-09 07:53:13,2.397753
85061,331166.0,965,MN606,15.0,965,MN606,15.0,33386,2017-05-09 20:07:29,2017-05-09 20:26:31,2017-05-09 07:53:13,2.417186
85062,331166.0,965,MN606,15.0,965,MN606,15.0,33374,2017-05-09 20:07:29,2017-05-09 20:29:39,2017-05-09 07:53:13,3.173933
85063,331166.0,965,MN606,15.0,965,MN606,15.0,32363,2017-05-09 20:07:29,2017-05-09 20:31:53,2017-05-09 07:53:13,3.971395
85064,331166.0,965,MN606,15.0,965,MN606,15.0,32366,2017-05-09 20:07:29,2017-05-09 20:32:26,2017-05-09 07:53:13,4.138905
85065,331166.0,965,MN606,15.0,965,MN606,15.0,34366,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13,4.328875
85066,331166.0,965,MN606,15.0,965,MN606,15.0,34367,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13,4.324107
85067,331166.0,965,MN606,15.0,965,MN606,15.0,32367,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13,4.445847
85068,331166.0,965,MN606,15.0,965,MN606,15.0,32368,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13,4.437758
85069,331166.0,965,MN606,15.0,965,MN606,15.0,32369,2017-05-09 20:07:29,2017-05-09 20:34:12,2017-05-09 07:53:13,4.415053

In [185]:
od_trips_dest = od_trips.query('dist <= 1.0') \
                        .groupby(['cardNum','o_boarding_datetime','o_route','o_busCode','o_tripNum']) \
                        .first().reset_index() \
                        .sort_values(['cardNum','o_boarding_datetime']) \
                        .assign(trip_duration = lambda x: x['gps_datetime'] - x['o_boarding_datetime'])

In [186]:
od_trips_dest.head()

,cardNum,o_boarding_datetime,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,gps_datetime,...,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins,dist,trip_duration
0,331166.0,2017-05-09 20:07:29,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:15:37,...,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228,0.569992,00:08:08
1,352491.0,2017-05-09 17:32:45,901,MC303,11.0,901,MC303,11.0,33658,2017-05-09 17:48:36,...,MC300,3.0,32369,2017-05-09 07:17:11,-25.402222,-49.327749,10:13:52,5.600896,0.811769,00:15:51
2,384263.0,2017-05-09 11:25:04,916,MA299,3.0,916,MA299,3.0,33341,2017-05-09 12:12:32,...,07001,NaN,14510,NaT,-25.400933,-49.330279,01:20:18,3.093219,0.316732,00:47:28
3,405013.0,2017-05-09 07:27:40,911,MN400,3.0,911,MN400,3.0,34350,2017-05-09 07:33:27,...,07902,NaN,14510,NaT,-25.400933,-49.330279,05:39:03,2.694138,0.910208,00:05:47
4,411687.0,2017-05-09 09:31:13,901,MC303,3.0,901,MC303,3.0,32796,2017-05-09 09:38:08,...,07020,NaN,14432,NaT,-25.422391,-49.291635,07:21:57,2.095410,0.165152,00:06:55

In [187]:
od_trips_dest[['cardNum','o_route','o_busCode','o_tripNum','o_stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime','dist','trip_duration','boardings_timediff']] \
        .sort_values(['cardNum','o_boarding_datetime'])

,cardNum,o_route,o_busCode,o_tripNum,o_stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime,dist,trip_duration,boardings_timediff
0,331166.0,965,MN606,15.0,32360,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13,0.569992,00:08:08,12:14:16
1,352491.0,901,MC303,11.0,26722,2017-05-09 17:32:45,2017-05-09 17:48:36,2017-05-09 07:18:53,0.811769,00:15:51,10:13:52
2,384263.0,916,MA299,3.0,33447,2017-05-09 11:25:04,2017-05-09 12:12:32,2017-05-09 12:45:22,0.316732,00:47:28,01:20:18
3,405013.0,911,MN400,3.0,34372,2017-05-09 07:27:40,2017-05-09 07:33:27,2017-05-09 13:06:43,0.910208,00:05:47,05:39:03
4,411687.0,901,MC303,3.0,27256,2017-05-09 09:31:13,2017-05-09 09:38:08,2017-05-09 16:53:10,0.165152,00:06:55,07:21:57
5,445228.0,965,MN606,10.0,33376,2017-05-09 17:10:38,2017-05-09 17:44:13,2017-05-09 06:36:47,0.418205,00:33:35,10:33:51
6,643000.0,967,MN600,3.0,33439,2017-05-09 07:15:07,2017-05-09 07:38:39,2017-05-09 18:32:57,0.668432,00:23:32,11:17:50
7,643000.0,967,MN604,13.0,26345,2017-05-09 18:32:57,2017-05-09 18:54:11,2017-05-09 07:15:07,0.640512,00:21:14,11:17:50
8,652419.0,901,MC491,16.0,26455,2017-05-09 15:06:07,2017-05-09 15:16:34,2017-05-09 13:17:31,0.998556,00:10:27,01:48:36
9,669176.0,967,MN604,2.0,26345,2017-05-09 07:27:21,2017-05-09 07:42:25,2017-05-09 19:13:03,0.999929,00:15:04,11:45:42
10,719299.0,901,MC303,12.0,33681,2017-05-09 18:42:26,2017-05-09 18:51:08,2017-05-09 07:58:18,0.483990,00:08:42,10:44:08
11,722778.0,967,MN600,1.0,33734,2017-05-09 05:53:40,2017-05-09 06:05:06,2017-05-09 15:08:41,0.970087,00:11:26,09:15:01
12,722778.0,967,MN604,10.0,33308,2017-05-09 15:08:41,2017-05-09 15:28:50,2017-05-09 17:40:02,0.965822,00:20:09,02:31:21
13,732323.0,967,MN600,3.0,33444,2017-05-09 07:14:00,2017-05-09 07:48:36,2017-05-09 07:46:36,0.895510,00:34:36,00:32:36
14,735961.0,967,MN604,9.0,26345,2017-05-09 14:27:44,2017-05-09 14:49:42,2017-05-09 15:05:33,0.141512,00:21:58,00:37:49
15,735961.0,967,MN604,10.0,33435,2017-05-09 15:05:33,2017-05-09 15:29:42,2017-05-09 14:27:44,0.668432,00:24:09,00:37:49
16,771608.0,916,MA299,3.0,33434,2017-05-09 11:59:07,2017-05-09 12:12:32,2017-05-09 14:09:59,0.316732,00:13:25,02:10:52
17,794660.0,967,MN604,6.0,26722,2017-05-09 11:33:56,2017-05-09 11:45:45,2017-05-09 08:57:46,0.488717,00:11:49,02:36:10
18,801327.0,967,MN604,3.0,26345,2017-05-09 08:23:25,2017-05-09 08:49:48,2017-05-09 18:06:48,0.981828,00:26:23,09:43:23
19,808478.0,901,MC303,6.0,32797,2017-05-09 12:13:02,2017-05-09 12:16:28,2017-05-09 13:14:23,0.965822,00:03:26,01:01:21
20,864227.0,901,MC303,2.0,27256,2017-05-09 08:35:58,2017-05-09 08:50:11,2017-05-09 18:46:58,0.780027,00:14:13,10:11:00
21,938412.0,967,MN604,2.0,10840,2017-05-09 07:06:06,2017-05-09 07:12:01,2017-05-09 07:16:59,0.712379,00:05:55,00:10:53
22,940004.0,972,MC301,2.0,33381,2017-05-09 07:12:09,2017-05-09 07:32:01,2017-05-09 07:39:55,0.984331,00:19:52,00:27:46
23,957005.0,901,MC491,5.0,29598,2017-05-09 08:16:45,2017-05-09 08:25:36,2017-05-09 16:29:12,0.724680,00:08:51,08:12:27
24,981570.0,967,MN604,4.0,33463,2017-05-09 09:12:44,2017-05-09 09:29:51,2017-05-09 18:32:45,0.000000,00:17:07,09:20:01
25,981570.0,967,MN604,13.0,26345,2017-05-09 18:32:45,2017-05-09 18:47:01,2017-05-09 09:12:44,0.248600,00:14:16,09:20:01
26,989529.0,911,MN400,2.0,34368,2017-05-09 06:44:39,2017-05-09 06:48:37,2017-05-09 15:06:14,0.910208,00:03:58,08:21:35
27,1030071.0,967,MN604,8.0,33463,2017-05-09 13:13:46,2017-05-09 13:20:18,2017-05-09 17:34:00,0.852940,00:06:32,04:20:14
28,1030071.0,965,MN606,10.0,33734,2017-05-09 17:34:00,2017-05-09 17:50:55,2017-05-09 13:13:46,0.877123,00:16:55,04:20:14
29,1035733.0,911,MN400,9.0,34388,2017-05-09 05:27:04,2017-05-09 12:33:08,2017-05-09 13:52:10,0.721455,07:06:04,08:25:06
...,...,...,...,...,...,...,...,...,...,...,...
831,3836043.0,911,MN400,3.0,34382,2017-05-09 07:17:49,2017-05-09 07:29:05,2017-05-09 12:39:59,0.736195,00:11:16,05:22:10
832,3836043.0,911,MN400,9.0,34354,2017-05-09 12:39:59,2017-05-09 13:05:10,2017-05-09 17:20:28,0.385790,00:25:11,04:40:29
833,3837005.0,924,MA007,4.0,32369,2017-05-09 11:59:24,2017-05-09 12:08:42,2017-05-09 13:47:06,0.388796,00:09:18,01:47:42
834,3837189.0,972,MC301,6.0,29599,2017-05-09 12:08:31,2017-05-09 12:16:18,2017-05-09 13:11:52,0.358558,00:07:47,01:03:21
835,3837459.0,965,MN606,8.0,33734,2017-05-09 15:02:05,2017-05-09 15:31:35,2017-05-09 13:04:12,0.854538,00:29:30,01:57:53
836,10003536.0,967,MN604,5.0,33439,2017-05-09 10:02:34,2017-05-09 10:19:28,2017-05-09 12:25:05,0.785136,00:16:54,02:22:31
837,10003536.0,967,MN604,7.0,33717,2017-05-09 12:25:05,2017-05-09 12:47:35,2017-05-09 10:02:34,0.329810,00:22:30,02:22:31
838,10007641.0,965,MN606,3.0,32362,2017-05-09 08:25:34,2017-05-09 08:50:07,2017-05-09 18:55:38,0.852940,00:24:33,10:30:04
839,10038670.0,965,MN606,1.0,33385,2017-05-09 06:53:22,2017-05-09 07:01:16,2017-05-09 12:17:42,0.854538,00:07:54,05:24:20
840,10042276.0,901,MC303,10.0,29598,2017-05-09 16:22:10,2017-05-09 16:38:48,2017-05-09 14:49:17,0.912126,00:16:38,01:32:53
841,10066977.0,967,MN604,3.0,33463,2017-05-09 08:01:54,2017-05-09 08:11:30,2017-05-09 18:32:27,0.668432,00:09:36,10:30:33
842,10066977.0,967,MN604,13.0,26345,2017-05-09 18:32:27,2017-05-09 18:47:01,2017-05-09 08:01:54,0.248600,00:14:34,10:30:33
843,10071335.0,972,MC301,4.0,32360,2017-05-09 09:24:13,2017-05-09 09:38:45,2017-05-09 10:57:22,0.910857,00:14:32,01:33:09
844,10071335.0,972,MC301,5.0,27256,2017-05-09 10:57:22,2017-05-09 11:19:51,2017-05-09 09:24:13,0.997982,00:22:29,01:33:09
845,10077853.0,967,MN604,10.0,10840,2017-05-09 15:11:26,2017-05-09 15:13:01,2017-05-09 10:48:39,0.986195,00:01:35,04:22:47
846,10083220.0,967,MN600,3.0,33425,2017-05-09 07:18:14,2017-05-09 07:38:39,2017-05-09 15:35:24,0.668432,00:20:25,08:17:10
847,10083220.0,967,MN604,10.0,26345,2017-05-09 15:35:24,2017-05-09 15:50:27,2017-05-09 07:18:14,0.020618,00:15:03,08:17:10
848,10085579.0,967,MN604,5.0,26345,2017-05-09 10:31:05,2017-05-09 10:47:43,2017-05-09 17:04:59,0.605991,00:16:38,06:33:54
849,10085579.0,967,MN604,12.0,33444,2017-05-09 17:04:59,2017-05-09 17:30:23,2017-05-09 10:31:05,0.668432,00:25:24,06:33:54
850,10087541.0,967,MN604,3.0,10840,2017-05-09 07:57:45,2017-05-09 08:03:24,2017-05-09 08:07:21,0.404429,00:05:39,00:09:36
851,10088111.0,967,MN604,5.0,26900,2017-05-09 10:20:58,2017-05-09 10:33:36,2017-05-09 11:29:58,0.569342,00:12:38,01:09:00
852,10091534.0,967,MN604,9.0,33310,2017-05-09 14:07:48,2017-05-09 14:23:26,2017-05-09 16:32:28,0.668432,00:15:38,02:24:40
853,10091534.0,967,MN604,11.0,26345,2017-05-09 16:32:28,2017-05-09 16:50:24,2017-05-09 14:07:48,0.909662,00:17:56,02:24:40
854,10093467.0,967,MN600,3.0,33431,2017-05-09 07:16:08,2017-05-09 07:38:39,2017-05-09 17:38:20,0.668432,00:22:31,10:22:12
855,10093467.0,967,MN604,12.0,26345,2017-05-09 17:38:20,2017-05-09 17:57:58,2017-05-09 07:16:08,0.999929,00:19:38,10:22:12
856,10098842.0,967,MN604,1.0,33435,2017-05-09 06:08:36,2017-05-09 06:20:23,2017-05-09 09:27:57,0.852940,00:11:47,03:19:21
857,10098842.0,967,MN604,4.0,33734,2017-05-09 09:27:57,2017-05-09 09:48:01,2017-05-09 06:08:26,0.943987,00:20:04,03:19:31
858,10101703.0,967,MN604,4.0,10811,2017-05-09 09:02:28,2017-05-09 09:20:46,2017-05-09 09:43:14,0.985647,00:18:18,00:40:46
859,10106271.0,967,MN604,7.0,33310,2017-05-09 12:08:46,2017-05-09 12:32:46,2017-05-09 12:41:43,0.804956,00:24:00,00:32:57
860,10110099.0,972,MC301,2.0,33345,2017-05-09 06:59:25,2017-05-09 07:24:39,2017-05-09 11:33:54,0.845365,00:25:14,04:34:29

In [188]:
len(od_trips_dest)

861

In [189]:
od_trips_dest.trip_duration.describe()

count                       861
mean     0 days 00:14:33.634146
std      0 days 00:16:58.419148
min             0 days 00:00:04
25%             0 days 00:06:45
50%             0 days 00:12:36
75%             0 days 00:19:20
max             0 days 07:06:04
Name: trip_duration, dtype: object

In [181]:
od_trips_dest.dist.describe()

count    861.000000
mean       0.246562
std        0.269727
min        0.000000
25%        0.019221
50%        0.164025
75%        0.381333
max        0.984331
Name: dist, dtype: float64

In [159]:
od_trips_dest.cardNum.value_counts()

3187918.0     2
3250023.0     1
2722488.0     1
1654074.0     1
3788749.0     1
2958180.0     1
771608.0      1
3064671.0     1
1565224.0     1
3498692.0     1
3503554.0     1
384263.0      1
3591477.0     1
2652722.0     1
3484961.0     1
2791181.0     1
2410247.0     1
3804412.0     1
2185602.0     1
3469816.0     1
2054995.0     1
10088111.0    1
3462829.0     1
3636750.0     1
2053596.0     1
3276476.0     1
2704065.0     1
3131077.0     1
3439575.0     1
10077853.0    1
3773414.0     1
2282732.0     1
2346224.0     1
2342388.0     1
3778305.0     1
Name: cardNum, dtype: int64

In [140]:
len(od_trips)

109318

In [27]:
candidate_vehicles = enhanced_buste[(enhanced_buste['parent_station'] == enhanced_buste['stopPointId'].iloc[8]) & 
                               ((pd.to_datetime(enhanced_buste['gps_datetime']) > (pd.to_datetime(enhanced_buste['boarding_datetime'].iloc[8]) - pd.Timedelta(value=5,unit='m'))) & 
                                (pd.to_datetime(enhanced_buste['gps_datetime']) < (pd.to_datetime(enhanced_buste['boarding_datetime'].iloc[8]) + pd.Timedelta(value=20,unit='m'))))]

In [28]:
candidate_vehicles

,cardNum,boarding_datetime,route,busCode,tripNum,gps_datetime,stopPointId,stop_lat,stop_lon,parent_station,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,problem,lineName,birthdate,gender
112368,NaN,NaT,203,BD138,1.0,2017-05-01 09:16:17,25732,-25.448323,-49.287777,26105.0,3855.0,4649347.0,-25.448370,-49.287847,5065.989,NO_PROBLEM,NaN,NaN,NaN
114415,NaN,NaT,203,BD147,2.0,2017-05-01 09:26:48,25732,-25.448323,-49.287777,26105.0,3855.0,4649347.0,-25.448370,-49.287847,5065.989,NO_PROBLEM,NaN,NaN,NaN
232947,NaN,NaT,603,HD249,3.0,2017-05-01 09:14:53,25732,-25.448323,-49.287777,26105.0,3156.0,3758012.0,-25.448258,-49.287815,7432.708,NO_PROBLEM,NaN,NaN,NaN
233467,NaN,NaT,603,HD250,2.0,2017-05-01 09:33:05,25732,-25.448323,-49.287777,26105.0,3156.0,3758012.0,-25.448258,-49.287815,7432.708,BETWEEN,NaN,NaN,NaN

In [29]:
def find_candidate_vehicles(row,gps_df,lower_time_thresh = 0, higher_time_thresh = 40):
    return gps_df[(gps_df['parent_station'] == row['stopPointId']) & 
                               ((pd.to_datetime(gps_df['gps_datetime']) > (pd.to_datetime(row['boarding_datetime']) - pd.Timedelta(value=lower_time_thresh,unit='m'))) & 
                                (pd.to_datetime(gps_df['gps_datetime']) < (pd.to_datetime(row['boarding_datetime']) + pd.Timedelta(value=higher_time_thresh,unit='m'))))]

In [30]:
first_boarding = 40
second_boarding = 41

In [31]:
test_data = enhanced_buste.loc[first_boarding:second_boarding].head(1)

In [32]:
test_data

,cardNum,boarding_datetime,route,busCode,tripNum,gps_datetime,stopPointId,stop_lat,stop_lon,parent_station,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,problem,lineName,birthdate,gender
40,341036.0,2017-05-01 08:57:07,021,08025,NaN,NaT,41751,-25.441058,-49.3425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTERB II ANTI H,09/07/69,F

In [33]:
nstop_lat = enhanced_buste['stop_lat'].loc[second_boarding]
nstop_lon = enhanced_buste['stop_lon'].loc[second_boarding]

In [34]:
nstop_lat, nstop_lon

(-25.4376552204, -49.266631957100003)

In [36]:
dist(-7.213345, -35.907678, -7.219092, -35.877251)

3.4168198120895932

In [37]:
def is_vehicle_suitable(row,gps_df,next_stop_lat,next_stop_lon,higher_time_thresh=2):
    vehicle_trip = gps_df[(gps_df['busCode'] == row['busCode']) & (gps_df['tripNum'] == row['tripNum'])].sort_values('gps_datetime')
    vehicle_suitability = vehicle_trip[(vehicle_trip['gps_datetime'] > row['gps_datetime'])].apply(lambda row: dist(row['stop_lat'],row['stop_lon'],next_stop_lat,next_stop_lon), axis=1) \
                            .reset_index(name='dist')
    #print vehicle_suitability['dist']
    return len(vehicle_suitability[vehicle_suitability['dist'] <= 1.0]) > 0

In [38]:
for index, row in test_data.iterrows():
    cand_vehicles = find_candidate_vehicles(row,enhanced_buste)
    suitable_candidates = []
    for cand_index, cand_row in cand_vehicles.iterrows():
        if (is_vehicle_suitable(cand_row,enhanced_buste,nstop_lat, nstop_lon)):
            suitable_candidates.append(cand_row)
    suitable_candidates_df = pd.DataFrame.from_records(suitable_candidates, columns=cand_vehicles.columns)
    print suitable_candidates_df
    chosen_candidate = suitable_candidates_df.loc[suitable_candidates_df['gps_datetime'].idxmin()]
    print chosen_candidate

   cardNum boarding_datetime route busCode  tripNum        gps_datetime  \
0      NaN               NaT   303   DE710      2.0 2017-05-01 09:31:02
1      NaN               NaT   303   DE713      2.0 2017-05-01 09:17:39
2      NaN               NaT   303   DE719      2.0 2017-05-01 09:05:31

   stopPointId   stop_lat   stop_lon  parent_station  shapeId  shapeSequence  \
0        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0
1        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0
2        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0

    shapeLat   shapeLon  distanceTraveledShape     problem  lineName  \
0 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN
1 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN
2 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN

   birthdate  gender
0        NaN     NaN
1        NaN     NaN
2        NaN     NaN
cardNum                                  NaN
boarding_datetime                        NaT
route                                    303
busCode                                DE719
tripNum                                    2
gps_datetime             2017-05-01 09:05:31
stopPointId                            25748
stop_lat                            -25.4411
stop_lon                            -49.3425
parent_station                         41751
shapeId                                 3617
shapeSequence                    4.39977e+06
shapeLat                             -25.441
shapeLon                            -49.3426
distanceTraveledShape                456.152
problem                           NO_PROBLEM
lineName                                 NaN
birthdate                                NaN
gender                                   NaN
Name: 2, dtype: object