In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Functions

In [2]:
def dist(stop_lat, stop_lon,next_o_lat,next_o_lon):
    return np.arccos(
        np.sin(np.radians(stop_lat)) * np.sin(np.radians(next_o_lat)) + 
        np.cos(np.radians(stop_lat)) * np.cos(np.radians(next_o_lat)) * 
            np.cos(np.radians(stop_lon) - np.radians(next_o_lon))
    ) * 6371

#### Read Origin/Next-Origin Pairs

In [3]:
trips_origins = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_user_trips.csv', parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])

In [4]:
len(trips_origins)

177756

In [5]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(20)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,next_o_boarding_id,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,0 days 05:28:56.000000000
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,NaN
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,0 days 09:35:53.000000000
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,NaN
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,0 days 00:32:46.000000000
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,NaN
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,0 days 02:07:17.000000000
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,NaN
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,0 days 02:25:53.000000000
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,NaN
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,0 days 01:01:26.000000000
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,NaN
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,0 days 11:16:02.000000000
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,NaN
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,0 days 09:30:13.000000000
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,NaN
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,0 days 00:21:31.000000000
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,NaN
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,0 days 08:36:01.000000000
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,NaN

In [6]:
trips_origins['dist_between_origins'] = trips_origins.apply(lambda x: dist(x['o_stop_lat'],x['o_stop_lon'],x['next_o_stop_lat'],x['next_o_stop_lon']), axis=1)
trips_origins['boardings_timediff'] = pd.to_timedelta(trips_origins['boardings_timediff'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [7]:
trips_origins['boardings_timediff'] = np.where(np.isnat(trips_origins['boardings_timediff']),
                                             trips_origins['o_boarding_datetime'] - trips_origins['next_o_boarding_datetime'],
                                             trips_origins['boardings_timediff'])

In [8]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(50)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,...,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,05:28:56,14.636225
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,...,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,05:28:56,14.636225
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,...,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,09:35:53,3.178960
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,...,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,09:35:53,3.178960
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,...,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,00:32:46,2.639323
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,...,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,00:32:46,2.639323
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,...,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,02:07:17,8.248431
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,...,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,02:07:17,8.248431
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,...,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,02:25:53,6.307331
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,02:25:53,6.307331
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,...,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,01:01:26,13.187375
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,...,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,01:01:26,13.187375
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,...,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,11:16:02,0.939445
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,...,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,11:16:02,0.939445
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,...,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,09:30:13,14.870978
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,...,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,09:30:13,14.870978
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,...,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,00:21:31,4.583676
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,...,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,00:21:31,4.583676
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,...,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,08:36:01,12.996760
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,...,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,08:36:01,12.996760
169125,318478.0,40,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,...,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,00:42:34,2.168102
169126,318478.0,41,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,...,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,00:42:34,2.168102
8820,320930.0,43,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,...,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,05:29:34,8.460167
8821,320930.0,44,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,05:29:34,8.460167
117786,321169.0,45,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,...,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,09:11:56,2.529063
117787,321169.0,46,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,...,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,09:11:56,2.529063
98556,321508.0,48,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,...,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,08:54:35,1.878469
98557,321508.0,49,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,...,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,08:54:35,1.878469
101591,321530.0,50,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,...,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,07:25:52,9.303320
101592,321530.0,51,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,...,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,01:47:29,4.564118
101593,321530.0,52,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,09:13:21,11.214495
8566,321916.0,53,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,...,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,11:33:55,NaN
8567,321916.0,54,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,...,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,11:33:55,NaN
90459,323614.0,60,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,05:52:11,0.000000
90460,323614.0,61,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,02:17:46,1.861568
90461,323614.0,62,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,08:09:57,1.861568
78695,323978.0,64,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,...,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,09:33:24,4.498368
78696,323978.0,65,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,...,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,09:33:24,4.498368
72432,324516.0,66,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,...,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,02:41:00,6.209405
72433,324516.0,67,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,02:41:00,6.209405
65120,324692.0,68,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,...,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,10:55:11,8.619015
65121,324692.0,69,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,10:55:11,8.619015
3664,324875.0,71,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,...,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,10:18:14,9.921650
3665,324875.0,72,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,...,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,10:18:14,9.921650
132445,324934.0,73,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,00:00:03,0.000000
132446,324934.0,74,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,01:28:47,2.374585
132447,324934.0,75,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,00:00:04,0.000095
132448,324934.0,76,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,01:28:54,2.374585
105761,325105.0,78,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,...,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,03:10:01,3.600381
105762,325105.0,79,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,03:10:01,3.600381

In [9]:
trips_origins.dist_between_origins.describe()

count    176588.000000
mean          5.467415
std           4.161731
min           0.000000
25%           2.052165
50%           5.142366
75%           8.200742
max          28.419669
Name: dist_between_origins, dtype: float64

In [10]:
trips_origins.boardings_timediff.describe()

count                    177756
mean     0 days 05:49:04.257307
std      0 days 04:05:58.037363
min             0 days 00:00:01
25%      0 days 01:38:57.750000
50%             0 days 05:49:27
75%             0 days 09:49:12
max             0 days 16:26:35
Name: boardings_timediff, dtype: object

In [11]:
len(trips_origins)

177756

In [12]:
trips_origins_clean = trips_origins[(trips_origins['dist_between_origins'] > 1.5) &
                                    (trips_origins['boardings_timediff'] > pd.Timedelta('5 min'))]

In [13]:
len(trips_origins_clean)

139498

In [14]:
trips_origins.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                         int64
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
dtype: object

#### Read OTP Suggestions

In [15]:
otp_suggestions = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/otp-itineraries/2017_05_09_otp_itineraries.csv', parse_dates=['date','otp_start_time','otp_end_time'])
otp_suggestions['otp_start_time'] = otp_suggestions['otp_start_time'] - pd.Timedelta('10800 s')
otp_suggestions['otp_end_time'] = otp_suggestions['otp_end_time'] - pd.Timedelta('10800 s')
otp_suggestions['route'] = otp_suggestions['route'].astype(str)
otp_suggestions['route'] = np.where(otp_suggestions['mode'] == 'BUS',
                                    otp_suggestions['route'].astype(str).str.replace("\.0",'').str.zfill(3),
                                    otp_suggestions['route'])

In [16]:
len(otp_suggestions.drop_duplicates(subset=['user_trip_id']))

956

In [17]:
otp_suggestions.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2017-05-09,1496,1,1,2017-05-09 05:14:11,2017-05-09 05:17:49,WALK,nan,NaN,NaN,3.633333
1,2017-05-09,1496,1,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222.0,26365.0,27.166667
2,2017-05-09,1496,1,3,2017-05-09 05:45:00,2017-05-09 05:47:44,WALK,nan,NaN,NaN,2.733333
3,2017-05-09,1496,1,4,2017-05-09 05:55:00,2017-05-09 06:15:56,BUS,304,25891.0,26286.0,20.933333
4,2017-05-09,1496,1,5,2017-05-09 06:15:56,2017-05-09 06:16:35,WALK,nan,NaN,NaN,0.650000

In [18]:
len(otp_suggestions)

43688

#### Adding Parent Stop data to OTP Suggestions

In [19]:
stops_df = pd.read_csv('/local/tarciso/data/gtfs/curitiba/stops.txt')

In [20]:
stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,70,104505,Terminal Campina do Siqueira - 303 - Centenri...,Terminal Campina do Siqueira - Campo Comprido,-25.435724,-49.306998,NaN,NaN,0,14506.0,NaN,NaN
1,270,104905,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501341,-49.237597,NaN,NaN,0,14485.0,NaN,NaN
2,276,105606,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451550,-49.214917,NaN,NaN,0,14481.0,NaN,NaN
3,299,105603,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451665,-49.215086,NaN,NaN,0,14481.0,NaN,NaN
4,308,104907,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501311,-49.237825,NaN,NaN,0,14485.0,NaN,NaN

In [21]:
stops_parent_stations = stops_df[['stop_id','parent_station']]

In [22]:
otp_suggestions = otp_suggestions.merge(stops_parent_stations, left_on='from_stop_id', right_on='stop_id', how='left') \
                                    .drop(['stop_id'], axis=1)

In [23]:
otp_suggestions.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,2017-05-09,1496,1,1,2017-05-09 05:14:11,2017-05-09 05:17:49,WALK,nan,NaN,NaN,3.633333,NaN
1,2017-05-09,1496,1,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222,26365.0,27.166667,NaN
2,2017-05-09,1496,1,3,2017-05-09 05:45:00,2017-05-09 05:47:44,WALK,nan,NaN,NaN,2.733333,NaN
3,2017-05-09,1496,1,4,2017-05-09 05:55:00,2017-05-09 06:15:56,BUS,304,25891,26286.0,20.933333,41860.0
4,2017-05-09,1496,1,5,2017-05-09 06:15:56,2017-05-09 06:16:35,WALK,nan,NaN,NaN,0.650000,NaN

#### Selecting trips for whom OTP suggestions were found

In [24]:
selected_trips = trips_origins_clean[trips_origins_clean['o_boarding_id'].isin(otp_suggestions['user_trip_id'])]

In [25]:
len(selected_trips)

920

In [26]:
selected_trips.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,10:04:22,6.653455
1,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,10:04:22,6.653455
2,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,10:52:10,10.974491
3,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,10:52:10,10.974491
4,3609013.0,201240,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,...,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,10:22:43,14.935055

In [27]:
itineraries_start = otp_suggestions.query('mode == \'BUS\'') \
                    .groupby(['user_trip_id','itinerary_id']) \
                    .first() \
                    .reset_index()

In [28]:
itineraries_start.head()

,user_trip_id,itinerary_id,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,1496,1,2017-05-09,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222.0,26365.0,27.166667,41860.0
1,1496,2,2017-05-09,1,2017-05-09 05:03:32,2017-05-09 05:20:00,BUS,226,34486.0,30452.0,16.466667,14471.0
2,1496,3,2017-05-09,2,2017-05-09 05:23:03,2017-05-09 05:55:00,BUS,270,31703.0,26358.0,31.950000,41860.0
3,1496,4,2017-05-09,1,2017-05-09 05:28:22,2017-05-09 05:44:00,BUS,226,34486.0,30452.0,15.633333,14471.0
4,1496,5,2017-05-09,2,2017-05-09 05:40:25,2017-05-09 06:11:00,BUS,271,31703.0,26359.0,30.583333,41860.0

In [29]:
vehicle_boarding_origins = selected_trips[np.logical_not(selected_trips['o_busCode'].str.isdigit())]

In [30]:
len(vehicle_boarding_origins)

555

In [31]:
vehicle_boarding_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,10:04:22,6.653455
1,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,10:04:22,6.653455
2,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,10:52:10,10.974491
4,3609013.0,201240,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,...,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,10:22:43,14.935055
6,1940885.0,42210,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,...,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,11:27:07,6.249052

In [32]:
vehicle_boarding_origins.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                         int64
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
dtype: object

In [33]:
itineraries_start.dtypes

user_trip_id                  int64
itinerary_id                  int64
date                 datetime64[ns]
leg_id                        int64
otp_start_time       datetime64[ns]
otp_end_time         datetime64[ns]
mode                         object
route                        object
from_stop_id                float64
to_stop_id                  float64
otp_duration_mins           float64
parent_station              float64
dtype: object

In [34]:
matched_vehicle_boardings = vehicle_boarding_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','from_stop_id'], how='inner')

In [35]:
num_matched_vehicle_boardings = len(matched_vehicle_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Vehicle boardings with matching OTP suggestions: ", num_matched_vehicle_boardings, "(", \
                                                            100*(num_matched_vehicle_boardings/float(len(vehicle_boarding_origins))), "%)"

Vehicle boardings with matching OTP suggestions:  498 ( 89.7297297297 %)

In [36]:
matched_vehicle_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593.0,31572.0,12.350000,14489.0
1,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593.0,31572.0,11.416667,14489.0
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593.0,4661.0,22.466667,14492.0
3,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593.0,4661.0,22.466667,14492.0
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593.0,31572.0,11.416667,NaN

In [37]:
pd.concat([matched_vehicle_boardings[vehicle_boarding_origins.columns],vehicle_boarding_origins]).drop_duplicates(keep=False)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
6,1940885.0,42210,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,...,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,11:27:07,6.249052
21,2178773.0,54396,2017-05-09 04:46:13,619,HA600,5.0,30434,2017-05-09 12:57:05,-25.511661,-49.324223,...,2017-05-09 05:57:54,000,03044,NaN,41826,NaT,-25.439459,-49.271565,01:11:41,9.612407
43,3491154.0,178753,2017-05-09 05:54:25,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 15:10:03,967,MN604,10.0,33397,2017-05-09 15:08:47,-25.408069,-49.304026,09:15:38,3.391939
96,3510903.0,182201,2017-05-09 05:17:29,040,HB606,1.0,35108,2017-05-09 05:16:53,-25.512566,-49.330333,...,2017-05-09 04:48:58,619,HA600,1.0,36284,2017-05-09 04:48:47,-25.573642,-49.332666,00:28:31,6.795384
148,2258052.0,60146,2017-05-09 18:44:40,870,BC189,10.0,29420,2017-05-09 18:39:00,-25.430894,-49.276454,...,2017-05-09 04:51:41,040,MB604,1.0,34260,2017-05-09 04:50:48,-25.423548,-49.351123,13:52:59,7.542864
150,3620341.0,204008,2017-05-09 05:54:30,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 14:20:26,901,MC076,9.0,33676,2017-05-09 14:20:13,-25.415973,-49.296807,08:25:56,2.300296
219,2113177.0,50896,2017-05-09 04:53:48,643,GA003,7.0,38025,2017-05-09 12:59:43,-25.585504,-49.274348,...,2017-05-09 05:16:13,000,09048,NaN,41829,NaT,-25.527912,-49.291347,00:22:25,6.627091
257,3207482.0,140017,2017-05-09 04:55:08,542,GA124,1.0,31262,2017-05-09 04:54:19,-25.544890,-49.265160,...,2017-05-09 16:08:12,000,03041,NaN,26095,NaT,-25.443355,-49.281734,11:13:04,11.412121
264,3742409.0,238100,2017-05-09 14:50:44,650,HA030,9.0,39826,2017-05-09 14:49:47,-25.549416,-49.324263,...,2017-05-09 15:42:33,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,00:51:49,5.045196
304,1342841.0,18334,2017-05-09 04:56:09,542,GA124,1.0,31263,2017-05-09 04:56:00,-25.541510,-49.270560,...,2017-05-09 16:04:44,021,08044,NaN,41791,NaT,-25.431951,-49.296491,11:08:35,12.457360
309,2754018.0,103424,2017-05-09 16:05:32,463,DC087,10.0,30749,2017-05-09 15:55:20,-25.435959,-49.266889,...,2017-05-09 04:56:09,332,DA300,1.0,27777,2017-05-09 04:56:03,-25.474934,-49.191668,11:09:23,8.707357
310,1973503.0,43777,2017-05-09 04:56:18,638,GA178,9.0,36203,2017-05-09 12:59:55,-25.515160,-49.294444,...,2017-05-09 16:08:25,000,03043,NaN,26092,NaT,-25.441209,-49.275853,11:12:07,8.432026
335,3482348.0,177314,2017-05-09 10:11:09,216,HA606,2.0,29171,2017-05-09 10:10:43,-25.471858,-49.285907,...,2017-05-09 04:57:00,650,HA243,1.0,39855,2017-05-09 04:56:00,-25.564561,-49.330228,05:14:09,11.226699
408,983894.0,8659,2017-05-09 04:59:22,633,GA128,1.0,36057,2017-05-09 04:59:10,-25.521523,-49.272268,...,2017-05-09 15:13:02,030,DR117,4.0,32601,2017-05-09 15:12:09,-25.509128,-49.251998,10:13:40,2.457121
410,2462475.0,82552,2017-05-09 04:59:22,542,GA124,1.0,30012,2017-05-09 04:58:58,-25.534192,-49.267467,...,2017-05-09 14:33:40,627,HA012,8.0,35098,2017-05-09 14:32:49,-25.504604,-49.317969,09:34:18,6.041993
412,1728023.0,32838,2017-05-09 04:59:29,624,GA144,12.0,32629,2017-05-09 12:54:20,-25.495373,-49.292507,...,2017-05-09 15:57:23,000,03008,NaN,14503,NaT,-25.511654,-49.324539,10:57:54,3.689441
438,2272224.0,62236,2017-05-09 05:00:06,547,GA146,1.0,37147,2017-05-09 04:59:52,-25.536830,-49.255965,...,2017-05-09 14:40:18,000,00022,NaN,43345,NaT,-25.485860,-49.245117,09:40:12,5.771158
444,3711473.0,227814,2017-05-09 05:00:16,652,LA007,1.0,35104,2017-05-09 04:59:59,-25.511630,-49.328224,...,2017-05-09 10:08:25,000,03053,NaN,26064,NaT,-25.471860,-49.285697,05:08:09,6.146191
452,2501413.0,85213,2017-05-09 05:00:29,636,GA169,11.0,29990,2017-05-09 12:59:28,-25.530324,-49.289000,...,2017-05-09 15:54:34,000,03014,NaN,14499,NaT,-25.476335,-49.292629,10:54:05,6.014254
476,3681373.0,219023,2017-05-09 05:00:59,827,BA287,1.0,30993,2017-05-09 05:00:07,-25.441705,-49.346328,...,2017-05-09 15:12:31,901,MC491,16.0,33670,2017-05-09 15:12:19,-25.414684,-49.308120,10:11:32,4.873435
484,3655169.0,212545,2017-05-09 05:01:03,533,EA169,9.0,48361,2017-05-09 12:36:25,-25.534334,-49.251461,...,2017-05-09 15:00:31,040,JB606,4.0,35736,2017-05-09 15:00:19,-25.517025,-49.318825,09:59:28,7.028058
509,3475672.0,176145,2017-05-09 05:01:24,623,HA244,11.0,37814,2017-05-09 12:59:42,-25.505166,-49.303239,...,2017-05-09 13:46:20,000,03033,NaN,26094,NaT,-25.456942,-49.288610,08:44:56,5.559757
538,1046463.0,9962,2017-05-09 05:02:08,336,DA009,1.0,30111,2017-05-09 05:02:01,-25.468530,-49.201970,...,2017-05-09 15:22:07,021,08045,NaN,41796,NaT,-25.430289,-49.292615,10:19:59,10.045593
540,1284042.0,16280,2017-05-09 05:02:14,336,DA009,1.0,30111,2017-05-09 05:02:01,-25.468530,-49.201970,...,2017-05-09 14:50:20,021,08041,NaN,41765,NaT,-25.433218,-49.299969,09:48:06,10.593979
546,3822224.0,273891,2017-05-09 15:15:21,640,GA174,13.0,34158,2017-05-09 15:15:20,-25.521141,-49.296043,...,2017-05-09 05:02:15,617,HA289,1.0,36205,2017-05-09 05:01:12,-25.550678,-49.304472,10:13:06,3.391463
555,1967058.0,43491,2017-05-09 05:02:23,335,DR401,1.0,33585,2017-05-09 05:02:09,-25.500213,-49.220071,...,2017-05-09 16:07:07,000,05062,NaN,41854,NaT,-25.410580,-49.248257,11:04:44,10.360722
557,3642872.0,209585,2017-05-09 05:02:23,721,JA013,12.0,35711,2017-05-09 12:59:47,-25.490662,-49.347028,...,2017-05-09 15:58:17,000,05042,NaN,41822,NaT,-25.418867,-49.263976,10:55:54,11.543892
562,3698225.0,223941,2017-05-09 14:48:15,511,EA172,15.0,31195,2017-05-09 14:47:56,-25.498750,-49.247840,...,2017-05-09 05:02:26,535,EA076,1.0,36878,2017-05-09 05:01:22,-25.556732,-49.255092,09:45:49,6.488233
564,2258940.0,60249,2017-05-09 12:54:38,216,BA034,5.0,29109,2017-05-09 12:53:38,-25.414408,-49.252092,...,2017-05-09 05:02:33,332,DA300,1.0,32461,2017-05-09 05:02:09,-25.467464,-49.194708,07:52:05,8.246681
568,3596867.0,198570,2017-05-09 14:53:02,040,JB606,4.0,35104,2017-05-09 14:51:27,-25.511630,-49.328224,...,2017-05-09 05:02:34,652,LA001,1.0,36710,2017-05-09 05:02:12,-25.528363,-49.337962,09:50:28,2.101618
574,2785174.0,105833,2017-05-09 15:02:08,650,HA612,3.0,32036,2017-05-09 14:57:19,-25.536449,-49.301536,...,2017-05-09 05:02:36,619,HA254,1.0,36290,2017-05-09 05:02:20,-25.570770,-49.331832,09:59:32,4.878664
604,2431392.0,80343,2017-05-09 13:20:29,050,LB603,5.0,31742,2017-05-09 13:20:21,-25.475050,-49.296480,...,2017-05-09 05:03:13,638,GA178,1.0,37746,2017-05-09 05:03:02,-25.549100,-49.285004,08:17:16,8.314178
617,2323140.0,69265,2017-05-09 05:03:25,323,DA014,1.0,33303,2017-05-09 05:03:24,-25.449766,-49.200080,...,2017-05-09 17:29:11,021,08047,NaN,41800,NaT,-25.428826,-49.287990,12:25:46,9.129290
639,3769590.0,248279,2017-05-09 15:40:52,801,LC073,14.0,30154,2017-05-09 15:39:35,-25.443676,-49.290548,...,2017-05-09 05:03:46,334,DA020,1.0,32491,2017-05-09 05:03:42,-25.464970,-49.192210,10:37:06,10.153165
641,2237188.0,58175,2017-05-09 14:34:17,732,JA024,4.0,33191,2017-05-09 14:33:55,-25.467270,-49.355550,...,2017-05-09 05:03:47,000,00064,NaN,41839,NaT,-25.530009,-49.250165,09:30:30,12.670333
643,3267363.0,147119,2017-05-09 14:38:14,629,KA690,9.0,29831,2017-05-09 14:38:09,-25.515491,-49.256905,...,2017-05-09 19:32:16,531,EA007,4.0,29798,2017-05-09 19:32:05,-25.536100,-49.246414,04:54:02,2.521843
646,3324298.0,153777,2017-05-09 06:10:20,373,CC192,1.0,26338,2017-05-09 06:09:18,-25.432890,-49.270402,...,2017-05-09 05:03:48,684,HA019,1.0,39368,2017-05-09 05:03:42,-25.588450,-49.341190,01:06:32,18.699434
650,3715052.0,228906,2017-05-09 15:12:37,216,DR403,5.0,29128,2017-05-09 15:11:38,-25.421820,-49.248340,...,2017-05-09 05:03:51,334,DA020,1.0,32491,2017-05-09 05:03:42,-25.464970,-49.192210,10:08:46,7.401765
654,2605698.0,92387,2017-05-09 14:28:48,628,HA015,7.0,35098,2017-05-09 14:27:57,-25.504604,-49.317969,...,2017-05-09 05:03:52,636,GA169,1.0,36711,2017-05-09 05:03:08,-25.545017,-49.287450,09:24:56,5.437919
668,2581064.0,90765,2017-05-09 15:52:11,703,JC309,6.0,26631,2017-05-09 15:46:09,-25.440706,-49.271456,...,2017-05-09 05:04:08,000,09005,NaN,14515,NaT,-25.483724,-49.350160,10:48:03,9.236541
682,3828396.0,277180,2017-05-09 18:44:49,040,GR124,6.0,35470,2017-05-09 18:44:12,-25.511047,-49.331872,...,2017-05-09 05:04:16,712,JA012,1.0,35541,2017-05-09 05:04:04,-25.491793,-49.335509,13:40:33,2.171821
691,1375101.0,19589,2017-05-09 19:07:02,207,BC014,11.0,29058,2017-05-09 19:06:52,-25.401762,-49.268438,...,2017-05-09 05:04:23,547,GA146,1.0,37162,2017-05-09 05:04:11,-25.539895,-49.263026,14:02:39,15.369289
705,2808668.0,107654,2017-05-09 14:15:47,619,HA254,9.0,33233,2017-05-09 14:14:34,-25.525136,-49.330092,...,2017-05-09 05:04:27,619,HA254,1.0,36299,2017-05-09 05:04:05,-25.565199,-49.333825,09:11:20,4.470518
709,568690.0,1497,2017-05-09 19:29:50,732,JA024,11.0,33186,2017-05-09 19:28:56,-25.451781,-49.361863,...,2017-05-09 05:04:34,226,BA140,1.0,34486,2017-05-09 05:03:32,-25.373245,-49.244344,14:25:16,14.682499
783,3692758.0,222295,2017-05-09 05:05:37,633,GA128,1.0,36118,2017-05-09 05:04:54,-25.526507,-49.290137,...,2017-05-09 17:31:42,000,09055,NaN,41776,NaT,-25.535814,-49.274473,12:26:05,1.881815
812,2538201.0,87880,2017-05-09 14:50:48,650,HA030,9.0,39826,2017-05-09 14:49:47,-25.549416,-49.324263,...,2017-05-09 05:06:14,636,GA169,1.0,34335,2017-05-09 05:06:09,-25.542798,-49.278501,09:44:34,4.649597
843,3825522.0,275649,2017-05-09 05:07:03,622,HA027,1.0,35921,2017-05-09 05:06:34,-25.494483,-49.317553,...,2017-05-09 07:16:48,000,09003,NaN,14512,NaT,-25.477340,-49.327038,02:09:45,2.130743
847,2940829.0,119047,2017-05-09 05:54:20,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 15:09:26,967,MN604,10.0,33397,2017-05-09 15:08:47,-25.408069,-49.304026,09:15:06,3.391939
945,3785606.0,255025,2017-05-09 18:41:00,222,BA028,17.0,29009,2017-05-09 18:40:34,-25.397832,-49.234793,...,2017-05-09 05:08:03,684,HA019,1.0,39372,2017-05-09 05:07:54,-25.593450,-49.333880,13:32:57,23.917330
948,3356129.0,157636,2017-05-09 05:08:08,545,GA600,1.0,29974,2017-05-09 05:07:17,-25.531175,-49.258401,...,2017-05-09 15:41:58,021,DR100,2.0,28136,2017-05-09 15:31:43,-25.435992,-49.307712,10:33:50,11.684115
968,2566579.0,89801,2017-05-09 05:08:17,639,GA177,1.0,36203,2017-05-09 05:07:33,-25.515160,-49.294444,...,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,10:30:54,8.085651
970,2025189.0,46391,2017-05-09 05:08:18,323,DA014,1.0,33330,2017-05-09 05:08:13,-25.451985,-49.198938,...,2017-05-09 18:36:51,000,06062,NaN,41921,NaT,-25.436485,-49.271032,13:28:33,7.441193
983,983632.0,8646,2017-05-09 16:30:12,701,JC604,9.0,26141,2017-05-09 16:29:11,-25.434868,-49.272330,...,2017-05-09 05:08:28,652,LA001,1.0,36694,2017-05-09 05:07:37,-25.534742,-49.332760,11:21:44,12.654007
988,3670144.0,216099,2017-05-09 05:08:29,231,BA114,1.0,40882,2017-05-09 05:08:18,-25.370108,-49.203738,...,2017-05-09 18:46:40,000,03040,NaN,26095,NaT,-25.443355,-49.281734,13:38:11,11.300701
990,3127579.0,132527,2017-05-09 05:08:32,336,DA016,1.0,33941,2017-05-09 05:08:04,-25.489000,-49.199952,...,2017-05-09 16:23:51,021,MR106,5.0,33028,2017-05-09 16:23:22,-25.459710,-49.232910,11:15:19,4.642594
994,3181869.0,137031,2017-05-09 15:01:28,876,BC324,7.0,34090,2017-05-09 14:56:41,-25.408740,-49.357685,...,2017-05-09 16:33:00,040,LC506,4.0,35104,2017-05-09 16:31:40,-25.511630,-49.328224,01:31:32,11.817048
995,3181869.0,137032,2017-05-09 16:33:00,040,LC506,4.0,35104,2017-05-09 16:31:40,-25.511630,-49.328224,...,2017-05-09 05:08:32,652,LA001,1.0,34977,2017-05-09 05:08:28,-25.534715,-49.331276,11:24:28,2.585126

In [38]:
itineraries_start[itineraries_start['user_trip_id'] == 60146]

,user_trip_id,itinerary_id,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
2916,60146,1,2017-05-09,2,2017-05-09 19:04:27,2017-05-09 19:33:29,BUS,870,28604.0,34258.0,29.033333,NaN
2917,60146,2,2017-05-09,2,2017-05-09 18:55:49,2017-05-09 19:27:52,BUS,876,28604.0,30333.0,32.050000,NaN
2918,60146,3,2017-05-09,2,2017-05-09 18:56:09,2017-05-09 19:10:16,BUS,303,25557.0,70.0,14.116667,41768.0
2919,60146,4,2017-05-09,2,2017-05-09 19:21:27,2017-05-09 19:50:29,BUS,870,28604.0,34258.0,29.033333,NaN
2920,60146,5,2017-05-09,2,2017-05-09 18:53:41,2017-05-09 19:35:29,BUS,972,26720.0,33342.0,41.800000,NaN
2921,60146,6,2017-05-09,2,2017-05-09 19:38:27,2017-05-09 20:07:29,BUS,870,28604.0,34258.0,29.033333,NaN
2922,60146,7,2017-05-09,2,2017-05-09 19:55:34,2017-05-09 20:27:01,BUS,870,28604.0,34258.0,31.450000,NaN
2923,60146,8,2017-05-09,2,2017-05-09 19:56:31,2017-05-09 20:23:13,BUS,876,28604.0,30333.0,26.700000,NaN
2924,60146,9,2017-05-09,2,2017-05-09 20:31:12,2017-05-09 20:55:24,BUS,870,28604.0,34258.0,24.200000,NaN
2925,60146,10,2017-05-09,2,2017-05-09 20:51:12,2017-05-09 21:15:24,BUS,870,28604.0,34258.0,24.200000,NaN

In [39]:
terminal_boarding_origins = selected_trips[selected_trips['o_busCode'].str.isdigit()]

In [40]:
terminal_boarding_origins['o_route'].value_counts()

000    303
021     37
TPH      9
TMA      4
TCJ      2
TFA      2
TCR      2
TSP      2
TCA      1
TSQ      1
TSB      1
TSF      1
Name: o_route, dtype: int64

In [41]:
terminal_021_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] == '021')]

In [42]:
terminal_021_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
5,3609013.0,201241,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,...,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,10:22:43,14.935055
68,1598789.0,27398,2017-05-09 16:39:51,021,08042,NaN,41765,NaT,-25.433218,-49.299969,...,2017-05-09 04:47:57,655,HA257,9.0,39262,2017-05-09 12:59:51,-25.568646,-49.319413,11:51:54,15.184799
74,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09 04:48:22,650,HA243,1.0,36293,2017-05-09 04:47:57,-25.568989,-49.332253,11:11:40,14.983937
92,2385286.0,76681,2017-05-09 15:07:35,021,08046,NaN,41796,NaT,-25.430289,-49.292615,...,2017-05-09 04:48:56,652,LA007,1.0,36697,2017-05-09 04:48:53,-25.532192,-49.337116,10:18:39,12.179731
156,1163918.0,12638,2017-05-09 14:32:14,021,08033,NaN,41760,NaT,-25.437598,-49.324377,...,2017-05-09 04:51:59,684,HA602,1.0,39377,2017-05-09 04:51:51,-25.586030,-49.334810,09:40:15,16.538020

In [43]:
matched_021_terminal_boardings = terminal_021_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','parent_station'], how='inner')

In [44]:
num_matched_021_terminal_boardings = len(matched_021_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Line 021 Terminal boardings with matching OTP suggestions: ", num_matched_021_terminal_boardings, "(", \
                                                            100*(num_matched_021_terminal_boardings/float(len(terminal_021_origins))), "%)"

Line 021 Terminal boardings with matching OTP suggestions:  1 ( 2.7027027027 %)

In [45]:
matched_021_terminal_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:04:00,2017-05-09 16:36:00,BUS,021,28136.0,27475.0,32.00,14506.0
1,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:18:00,2017-05-09 16:45:21,BUS,021,28136.0,33044.0,27.35,14506.0
2,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:27:00,2017-05-09 16:57:00,BUS,021,28136.0,27475.0,30.00,14506.0

In [46]:
terminal_boarding_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] != '021')]

In [47]:
terminal_boarding_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
3,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,10:52:10,10.974491
7,1940885.0,42211,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,11:27:07,6.249052
9,1232958.0,14668,2017-05-09 15:04:54,000,00024,NaN,43347,NaT,-25.475898,-49.249983,...,2017-05-09 04:45:04,548,GA205,1.0,48762,2017-05-09 04:44:52,-25.563193,-49.253670,10:19:50,9.713823
11,715315.0,2902,2017-05-09 13:33:44,000,09070,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 04:45:14,684,HA602,1.0,39368,2017-05-09 04:43:41,-25.588450,-49.341190,08:48:30,18.620097
13,1982410.0,44255,2017-05-09 18:38:20,000,00070,NaN,14487,NaT,-25.481927,-49.246999,...,2017-05-09 04:45:28,684,HA602,1.0,39369,2017-05-09 04:45:27,-25.592110,-49.342120,13:52:52,15.530264

In [48]:
matched_terminal_boardings = terminal_boarding_origins.merge(itineraries_start, left_on=['o_boarding_id','o_stopPointId'], right_on=['user_trip_id','parent_station'], how='inner') \
                .drop_duplicates(subset=['cardNum','o_boarding_id'])

In [49]:
num_matched_terminal_boardings = len(matched_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Terminal boardings with matching OTP suggestions: ", num_matched_terminal_boardings, "(", \
                                                            100*(num_matched_terminal_boardings/float(len(terminal_boarding_origins))), "%)"

Terminal boardings with matching OTP suggestions:  226 ( 68.9024390244 %)

In [50]:
matched_terminal_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09,2,2017-05-09 15:41:31,2017-05-09 16:06:00,BUS,603,25398.0,26296.0,24.483333,26121.0
9,1940885.0,42211,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09,1,2017-05-09 16:13:00,2017-05-09 16:33:37,BUS,617,31051.0,38521.0,20.616667,14494.0
19,1232958.0,14668,2017-05-09 15:04:54,000,00024,NaN,43347,NaT,-25.475898,-49.249983,...,2017-05-09,2,2017-05-09 15:05:39,2017-05-09 15:08:41,BUS,602,25468.0,25463.0,3.033333,43347.0
23,1982410.0,44255,2017-05-09 18:38:20,000,00070,NaN,14487,NaT,-25.481927,-49.246999,...,2017-05-09,2,2017-05-09 18:40:00,2017-05-09 18:45:41,BUS,602,25474.0,25463.0,5.683333,14487.0
33,2178773.0,54398,2017-05-09 15:41:51,000,06057,NaN,26011,NaT,-25.435634,-49.256611,...,2017-05-09,2,2017-05-09 15:48:26,2017-05-09 15:55:00,BUS,303,25646.0,26185.0,6.566667,26011.0

In [51]:
total_num_matches = num_matched_vehicle_boardings + num_matched_021_terminal_boardings + num_matched_terminal_boardings

print "Total number of matches: ", total_num_matches, "(", \
                                    100*(total_num_matches/float(len(selected_trips))), "%)"

Total number of matches:  725 ( 78.8043478261 %)

In [52]:
boarding_suggestions_matches = pd.concat([matched_vehicle_boardings,matched_021_terminal_boardings,matched_terminal_boardings])

In [53]:
len(boarding_suggestions_matches)

2298

In [54]:
boarding_suggestions_matches.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593.0,31572.0,12.350000,14489.0
1,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593.0,31572.0,11.416667,14489.0
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593.0,4661.0,22.466667,14492.0
3,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593.0,4661.0,22.466667,14492.0
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593.0,31572.0,11.416667,NaN

#### Add OTP extra origin/next-origin pairs to final dataset

In [55]:
boarding_suggestions_matches.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                        object
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
user_trip_id                          int64
itinerary_id                          int64
date                         datetime64[ns]
leg_id                                int64
otp_start_time               datetime64[ns]
otp_end_time                 datetime64[ns]
mode                                 object
route                                object
from_stop_id                        float64
to_stop_id                          float64
otp_duration_mins                   float64
parent_station                      float64
dtype: object

In [56]:
all_boarding_suggestions_matches = boarding_suggestions_matches[np.append(trips_origins_clean.columns.values,['itinerary_id'])] \
                    .merge(otp_suggestions, left_on=['o_boarding_id','itinerary_id'], right_on=['user_trip_id','itinerary_id'], how='inner') \
                    .query('mode == \'BUS\'')

In [57]:
len(all_boarding_suggestions_matches)

5231

In [58]:
all_boarding_suggestions_matches

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,user_trip_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0
6,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN
8,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN
10,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0
12,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN
14,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0
16,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN
18,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0
20,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0
22,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN
24,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN
26,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN
28,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN
30,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0
32,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN
34,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN
36,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0
38,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN
40,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0
42,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN
44,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0
46,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN
48,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0
49,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN
51,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN
53,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0
55,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0
57,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2241851.0,58551,2017-05-09 17:10:14,000,03023,NaN,26128,NaT,-25.441810,-49.268330,...,58551,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0
9992,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,61261,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0
9994,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,61261,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0
9997,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0
9998,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0
9999,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0
10002,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,9813,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0
10004,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,9813,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0
10007,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,9814,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0
10008,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,9814,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0
10011,2139018.0,52259,2017-05-09 05:08:09,000,09003,NaN,14512,NaT,-25.477340,-49.327038,...,52259,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0
10014,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,57662,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0
10016,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,57662,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0
10018,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0
10020,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0
10022,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0
10024,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0
10025,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN
10026,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN
10029,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0
10030,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0
10031,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0
10033,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN
10036,2566579.0,89802,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,...,89802,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0
10039,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0
10041,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0
10042,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN
10045,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0
10047,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0
10048,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN

In [59]:
all_boarding_suggestions_matches['first_vehicle_boarding'] = np.where(np.logical_not(all_boarding_suggestions_matches['o_busCode'].str.isdigit()) & 
                                                                      (all_boarding_suggestions_matches['o_route'] == all_boarding_suggestions_matches['route']),
                                                                      True,
                                                                      False)

In [60]:
all_boarding_suggestions_matches

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False
6,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True
8,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False
10,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0,False
12,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN,True
14,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0,False
16,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN,True
18,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0,False
20,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0,False
22,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN,True
24,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN,False
26,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN,True
28,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN,False
30,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0,False
32,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN,True
34,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN,False
36,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0,False
38,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN,True
40,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0,False
42,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN,True
44,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0,False
46,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN,True
48,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0,False
49,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN,False
51,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN,True
53,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0,False
55,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0,False
57,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2241851.0,58551,2017-05-09 17:10:14,000,03023,NaN,26128,NaT,-25.441810,-49.268330,...,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0,False
9992,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0,False
9994,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0,False
9997,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0,False
9998,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0,False
9999,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0,False
10002,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0,False
10004,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0,False
10007,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0,False
10008,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0,False
10011,2139018.0,52259,2017-05-09 05:08:09,000,09003,NaN,14512,NaT,-25.477340,-49.327038,...,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0,False
10014,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0,False
10016,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0,False
10018,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0,False
10020,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0,False
10022,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0,False
10024,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0,False
10025,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN,False
10026,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN,False
10029,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0,False
10030,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0,False
10031,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0,False
10033,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN,False
10036,2566579.0,89802,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,...,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0,False
10039,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False
10041,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False
10042,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False
10045,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False
10047,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False
10048,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False

In [61]:
otp_filtered_itineraries = all_boarding_suggestions_matches[np.append(otp_suggestions.columns.values,['first_vehicle_boarding','o_busCode','o_tripNum','o_boarding_datetime'])]

In [62]:
otp_filtered_itineraries

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding,o_busCode,o_tripNum,o_boarding_datetime
0,2017-05-09,247071,1,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True,GA205,1.0,2017-05-09 04:41:55
2,2017-05-09,247071,1,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
4,2017-05-09,247071,1,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False,GA205,1.0,2017-05-09 04:41:55
6,2017-05-09,247071,2,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
8,2017-05-09,247071,2,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False,GA205,1.0,2017-05-09 04:41:55
10,2017-05-09,247071,2,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
12,2017-05-09,247071,3,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN,True,GA205,1.0,2017-05-09 04:41:55
14,2017-05-09,247071,3,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0,False,GA205,1.0,2017-05-09 04:41:55
16,2017-05-09,247071,5,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN,True,GA205,1.0,2017-05-09 04:41:55
18,2017-05-09,247071,5,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0,False,GA205,1.0,2017-05-09 04:41:55
20,2017-05-09,247071,5,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
22,2017-05-09,247071,6,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
24,2017-05-09,247071,6,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN,False,GA205,1.0,2017-05-09 04:41:55
26,2017-05-09,247071,7,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
28,2017-05-09,247071,7,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
30,2017-05-09,247071,7,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
32,2017-05-09,247071,9,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
34,2017-05-09,247071,9,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
36,2017-05-09,247071,9,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0,False,GA205,1.0,2017-05-09 04:41:55
38,2017-05-09,247072,1,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
40,2017-05-09,247072,1,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0,False,EA302,12.0,2017-05-09 14:46:17
42,2017-05-09,247072,5,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
44,2017-05-09,247072,5,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0,False,EA302,12.0,2017-05-09 14:46:17
46,2017-05-09,247072,8,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
48,2017-05-09,247072,8,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0,False,EA302,12.0,2017-05-09 14:46:17
49,2017-05-09,247072,8,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN,False,EA302,12.0,2017-05-09 14:46:17
51,2017-05-09,131140,2,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN,True,GA205,1.0,2017-05-09 04:43:59
53,2017-05-09,131140,2,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0,False,GA205,1.0,2017-05-09 04:43:59
55,2017-05-09,131140,2,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0,False,GA205,1.0,2017-05-09 04:43:59
57,2017-05-09,131140,4,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN,True,GA205,1.0,2017-05-09 04:43:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,2017-05-09,58551,1,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0,False,03023,NaN,2017-05-09 17:10:14
9992,2017-05-09,61261,1,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0,False,00010,NaN,2017-05-09 05:08:03
9994,2017-05-09,61261,1,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0,False,00010,NaN,2017-05-09 05:08:03
9997,2017-05-09,61262,1,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0,False,02036,NaN,2017-05-09 15:34:35
9998,2017-05-09,61262,1,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0,False,02036,NaN,2017-05-09 15:34:35
9999,2017-05-09,61262,1,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0,False,02036,NaN,2017-05-09 15:34:35
10002,2017-05-09,9813,1,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0,False,00006,NaN,2017-05-09 05:08:07
10004,2017-05-09,9813,1,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0,False,00006,NaN,2017-05-09 05:08:07
10007,2017-05-09,9814,1,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0,False,04024,NaN,2017-05-09 14:51:09
10008,2017-05-09,9814,1,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0,False,04024,NaN,2017-05-09 14:51:09
10011,2017-05-09,52259,1,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0,False,09003,NaN,2017-05-09 05:08:09
10014,2017-05-09,57662,2,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0,False,00068,NaN,2017-05-09 05:08:11
10016,2017-05-09,57662,2,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0,False,00068,NaN,2017-05-09 05:08:11
10018,2017-05-09,53088,5,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0,False,03043,NaN,2017-05-09 15:29:56
10020,2017-05-09,53088,5,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0,False,03043,NaN,2017-05-09 15:29:56
10022,2017-05-09,53088,5,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0,False,03043,NaN,2017-05-09 15:29:56
10024,2017-05-09,170760,1,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0,False,03019,NaN,2017-05-09 05:08:15
10025,2017-05-09,170760,1,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN,False,03019,NaN,2017-05-09 05:08:15
10026,2017-05-09,170760,1,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN,False,03019,NaN,2017-05-09 05:08:15
10029,2017-05-09,49693,1,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0,False,03031,NaN,2017-05-09 14:16:36
10030,2017-05-09,49693,1,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0,False,03031,NaN,2017-05-09 14:16:36
10031,2017-05-09,49693,1,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0,False,03031,NaN,2017-05-09 14:16:36
10033,2017-05-09,49693,1,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN,False,03031,NaN,2017-05-09 14:16:36
10036,2017-05-09,89802,2,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0,False,03041,NaN,2017-05-09 15:39:11
10039,2017-05-09,225522,5,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False,00058,NaN,2017-05-09 05:08:25
10041,2017-05-09,225522,5,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False,00058,NaN,2017-05-09 05:08:25
10042,2017-05-09,225522,5,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False,00058,NaN,2017-05-09 05:08:25
10045,2017-05-09,107832,5,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False,00058,NaN,2017-05-09 05:08:29
10047,2017-05-09,107832,5,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False,00058,NaN,2017-05-09 05:08:29
10048,2017-05-09,107832,5,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False,00058,NaN,2017-05-09 05:08:29

#### Find OTP Suggested Itineraries in BUSTE Data

In [63]:
bus_trips = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_bus_trips.csv', parse_dates=['gps_datetime'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
bus_trips = bus_trips.sort_values(['route','busCode','tripNum','gps_datetime'])
bus_trips['route'] = bus_trips['route'].astype(str).str.replace("\.0",'').str.zfill(3)

In [65]:
bus_trips.head()

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station
139946,001,BN997,1.0,29887,2017-05-09 06:47:54,-25.428171,-49.264558,NaN
139947,001,BN997,1.0,31453,2017-05-09 06:48:54,-25.430388,-49.263602,NaN
138395,001,BN997,1.0,31454,2017-05-09 06:49:52,-25.433503,-49.262257,NaN
139948,001,BN997,1.0,30748,2017-05-09 06:52:21,-25.435187,-49.264933,NaN
139949,001,BN997,1.0,30749,2017-05-09 06:52:35,-25.435959,-49.266889,NaN

##### Vehicle Boarding (1st boarding)

In [66]:
otp_vehicle_first_boarding = otp_filtered_itineraries.query('first_vehicle_boarding == True') \
                                .sort_values(['user_trip_id','itinerary_id'])

In [67]:
len(otp_vehicle_first_boarding)

2080

In [68]:
otp_vehicle_first_boarding

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding,o_busCode,o_tripNum,o_boarding_datetime
6634,2017-05-09,1496,2,1,2017-05-09 05:03:32,2017-05-09 05:20:00,BUS,226,34486,30452.0,16.466667,NaN,True,BA140,1.0,2017-05-09 05:04:34
6641,2017-05-09,1496,4,1,2017-05-09 05:28:22,2017-05-09 05:44:00,BUS,226,34486,30452.0,15.633333,NaN,True,BA140,1.0,2017-05-09 05:04:34
5689,2017-05-09,1869,2,1,2017-05-09 05:03:02,2017-05-09 05:20:00,BUS,653,36174,30435.0,16.966667,NaN,True,HA270,1.0,2017-05-09 05:03:17
5694,2017-05-09,1869,4,1,2017-05-09 05:23:02,2017-05-09 05:40:00,BUS,653,36174,30435.0,16.966667,NaN,True,HA270,1.0,2017-05-09 05:03:17
5699,2017-05-09,1869,5,1,2017-05-09 05:31:05,2017-05-09 05:48:25,BUS,653,36174,35104.0,17.333333,NaN,True,HA270,1.0,2017-05-09 05:03:17
5706,2017-05-09,1869,7,1,2017-05-09 05:43:02,2017-05-09 06:00:00,BUS,653,36174,30435.0,16.966667,NaN,True,HA270,1.0,2017-05-09 05:03:17
5711,2017-05-09,1869,9,1,2017-05-09 05:51:14,2017-05-09 06:00:21,BUS,653,36174,33841.0,9.116667,NaN,True,HA270,1.0,2017-05-09 05:03:17
5719,2017-05-09,1870,6,1,2017-05-09 16:07:57,2017-05-09 16:18:00,BUS,216,29126,28128.0,10.050000,NaN,True,BA600,6.0,2017-05-09 15:56:24
4884,2017-05-09,1947,1,1,2017-05-09 05:07:18,2017-05-09 05:20:00,BUS,639,32033,31026.0,12.700000,NaN,True,GA177,1.0,2017-05-09 05:01:08
4888,2017-05-09,1947,5,1,2017-05-09 05:20:00,2017-05-09 05:31:00,BUS,639,32033,31026.0,11.000000,NaN,True,GA177,1.0,2017-05-09 05:01:08
4892,2017-05-09,1947,8,1,2017-05-09 05:42:34,2017-05-09 05:54:00,BUS,639,32033,31026.0,11.433333,NaN,True,GA177,1.0,2017-05-09 05:01:08
4896,2017-05-09,1947,9,1,2017-05-09 05:34:25,2017-05-09 05:45:00,BUS,639,32033,31026.0,10.583333,NaN,True,GA177,1.0,2017-05-09 05:01:08
6777,2017-05-09,2028,1,1,2017-05-09 05:05:05,2017-05-09 05:20:00,BUS,721,39756,8983.0,14.916667,NaN,True,JA013,1.0,2017-05-09 05:04:45
6783,2017-05-09,2028,3,1,2017-05-09 05:43:05,2017-05-09 05:58:00,BUS,721,39756,8983.0,14.916667,NaN,True,JA013,1.0,2017-05-09 05:04:45
6787,2017-05-09,2029,4,1,2017-05-09 16:20:59,2017-05-09 16:35:00,BUS,826,33185,41622.0,14.016667,NaN,True,LA009,9.0,2017-05-09 15:14:22
6789,2017-05-09,2029,6,1,2017-05-09 17:20:59,2017-05-09 17:35:00,BUS,826,33185,41622.0,14.016667,NaN,True,LA009,9.0,2017-05-09 15:14:22
6791,2017-05-09,2029,9,1,2017-05-09 17:41:43,2017-05-09 17:57:00,BUS,826,33185,41622.0,15.283333,NaN,True,LA009,9.0,2017-05-09 15:14:22
137,2017-05-09,2901,1,1,2017-05-09 04:43:58,2017-05-09 05:18:00,BUS,684,39368,31053.0,34.033333,NaN,True,HA602,1.0,2017-05-09 04:45:14
141,2017-05-09,2901,2,1,2017-05-09 05:04:03,2017-05-09 05:41:00,BUS,684,39368,31053.0,36.950000,NaN,True,HA602,1.0,2017-05-09 04:45:14
145,2017-05-09,2901,4,1,2017-05-09 05:16:03,2017-05-09 05:53:00,BUS,684,39368,31053.0,36.950000,NaN,True,HA602,1.0,2017-05-09 04:45:14
149,2017-05-09,2901,8,1,2017-05-09 05:40:05,2017-05-09 06:18:00,BUS,684,39368,31053.0,37.916667,NaN,True,HA602,1.0,2017-05-09 04:45:14
153,2017-05-09,2901,9,1,2017-05-09 05:47:08,2017-05-09 06:27:00,BUS,684,39368,31053.0,39.866667,NaN,True,HA602,1.0,2017-05-09 04:45:14
157,2017-05-09,2901,10,1,2017-05-09 05:54:10,2017-05-09 06:35:00,BUS,684,39368,31053.0,40.833333,NaN,True,HA602,1.0,2017-05-09 04:45:14
7850,2017-05-09,2915,1,1,2017-05-09 05:09:03,2017-05-09 05:48:15,BUS,020,32717,32739.0,39.200000,NaN,True,BB603,1.0,2017-05-09 05:07:13
7852,2017-05-09,2915,2,1,2017-05-09 05:19:28,2017-05-09 05:59:15,BUS,020,32717,32739.0,39.783333,NaN,True,BB603,1.0,2017-05-09 05:07:13
7854,2017-05-09,2915,4,1,2017-05-09 05:30:28,2017-05-09 06:10:15,BUS,020,32717,32739.0,39.783333,NaN,True,BB603,1.0,2017-05-09 05:07:13
7856,2017-05-09,2915,5,1,2017-05-09 05:40:28,2017-05-09 06:20:15,BUS,020,32717,32739.0,39.783333,NaN,True,BB603,1.0,2017-05-09 05:07:13
7858,2017-05-09,2915,6,1,2017-05-09 05:50:28,2017-05-09 06:29:15,BUS,020,32717,32739.0,38.783333,NaN,True,BB603,1.0,2017-05-09 05:07:13
7860,2017-05-09,2915,7,1,2017-05-09 05:59:28,2017-05-09 06:37:00,BUS,020,32717,28132.0,37.533333,NaN,True,BB603,1.0,2017-05-09 05:07:13
7862,2017-05-09,2915,9,1,2017-05-09 06:08:28,2017-05-09 06:46:00,BUS,020,32717,28132.0,37.533333,NaN,True,BB603,1.0,2017-05-09 05:07:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7457,2017-05-09,272631,1,1,2017-05-09 05:07:35,2017-05-09 05:20:00,BUS,721,36171,8983.0,12.416667,NaN,True,JA013,1.0,2017-05-09 05:06:11
7464,2017-05-09,272631,6,1,2017-05-09 05:45:35,2017-05-09 05:58:00,BUS,721,36171,8983.0,12.416667,NaN,True,JA013,1.0,2017-05-09 05:06:11
2526,2017-05-09,273815,1,1,2017-05-09 04:54:58,2017-05-09 05:10:00,BUS,336,33937,27984.0,15.033333,NaN,True,DA009,1.0,2017-05-09 04:54:16
2531,2017-05-09,273815,3,1,2017-05-09 05:10:12,2017-05-09 05:26:00,BUS,336,33937,27984.0,15.800000,NaN,True,DA009,1.0,2017-05-09 04:54:16
2536,2017-05-09,273815,6,1,2017-05-09 05:22:13,2017-05-09 05:35:00,BUS,336,33937,27984.0,12.783333,NaN,True,DA009,1.0,2017-05-09 04:54:16
2541,2017-05-09,273815,7,1,2017-05-09 05:30:43,2017-05-09 05:45:00,BUS,336,33937,27984.0,14.283333,NaN,True,DA009,1.0,2017-05-09 04:54:16
2546,2017-05-09,273815,8,1,2017-05-09 05:39:43,2017-05-09 05:54:00,BUS,336,33937,27984.0,14.283333,NaN,True,DA009,1.0,2017-05-09 04:54:16
2551,2017-05-09,273815,9,1,2017-05-09 05:48:43,2017-05-09 06:03:00,BUS,336,33937,27984.0,14.283333,NaN,True,DA009,1.0,2017-05-09 04:54:16
2556,2017-05-09,273815,10,1,2017-05-09 05:58:28,2017-05-09 06:12:00,BUS,336,33937,27984.0,13.533333,NaN,True,DA009,1.0,2017-05-09 04:54:16
5212,2017-05-09,273889,1,1,2017-05-09 05:04:01,2017-05-09 05:14:28,BUS,617,36205,33271.0,10.450000,NaN,True,HA289,1.0,2017-05-09 05:02:15
5213,2017-05-09,273889,6,1,2017-05-09 05:19:01,2017-05-09 05:29:28,BUS,617,36205,33271.0,10.450000,NaN,True,HA289,1.0,2017-05-09 05:02:15
8298,2017-05-09,276179,4,1,2017-05-09 05:10:46,2017-05-09 05:20:00,BUS,718,35497,31621.0,9.233333,NaN,True,JA015,1.0,2017-05-09 05:07:53
8302,2017-05-09,276179,6,1,2017-05-09 05:32:11,2017-05-09 05:45:00,BUS,718,35497,31621.0,12.816667,NaN,True,JA015,1.0,2017-05-09 05:07:53
6427,2017-05-09,277179,3,1,2017-05-09 05:08:59,2017-05-09 05:21:09,BUS,712,35541,33857.0,12.166667,NaN,True,JA012,1.0,2017-05-09 05:04:16
6429,2017-05-09,277179,6,1,2017-05-09 05:33:59,2017-05-09 05:46:09,BUS,712,35541,33857.0,12.166667,NaN,True,JA012,1.0,2017-05-09 05:04:16
6431,2017-05-09,277179,9,1,2017-05-09 05:46:33,2017-05-09 05:56:46,BUS,712,35541,33857.0,10.216667,NaN,True,JA012,1.0,2017-05-09 05:04:16
6433,2017-05-09,277179,10,1,2017-05-09 05:57:54,2017-05-09 06:08:37,BUS,712,35541,33857.0,10.716667,NaN,True,JA012,1.0,2017-05-09 05:04:16
775,2017-05-09,279304,2,1,2017-05-09 04:46:51,2017-05-09 05:25:00,BUS,646,40251,31032.0,38.150000,NaN,True,HA023,1.0,2017-05-09 04:47:32
779,2017-05-09,279304,5,1,2017-05-09 05:04:51,2017-05-09 05:43:00,BUS,646,40251,31032.0,38.150000,NaN,True,HA023,1.0,2017-05-09 04:47:32
783,2017-05-09,279304,7,1,2017-05-09 05:22:51,2017-05-09 05:50:13,BUS,646,40251,32042.0,27.366667,NaN,True,HA023,1.0,2017-05-09 04:47:32
787,2017-05-09,279304,10,1,2017-05-09 05:40:51,2017-05-09 06:19:00,BUS,646,40251,31032.0,38.150000,NaN,True,HA023,1.0,2017-05-09 04:47:32
791,2017-05-09,279305,1,1,2017-05-09 16:11:37,2017-05-09 16:30:00,BUS,040,35462,31029.0,18.383333,NaN,True,BB615,5.0,2017-05-09 16:11:54
795,2017-05-09,279305,4,1,2017-05-09 16:25:37,2017-05-09 16:44:00,BUS,040,35462,31029.0,18.383333,NaN,True,BB615,5.0,2017-05-09 16:11:54
799,2017-05-09,279305,9,1,2017-05-09 17:26:23,2017-05-09 17:44:00,BUS,040,35462,31029.0,17.616667,NaN,True,BB615,5.0,2017-05-09 16:11:54
803,2017-05-09,279305,10,1,2017-05-09 17:34:04,2017-05-09 17:51:00,BUS,040,35462,31029.0,16.933333,NaN,True,BB615,5.0,2017-05-09 16:11:54
7823,2017-05-09,280808,1,1,2017-05-09 05:09:07,2017-05-09 05:24:00,BUS,649,34427,31022.0,14.883333,NaN,True,GA132,1.0,2017-05-09 05:07:11
7829,2017-05-09,280808,3,1,2017-05-09 05:25:07,2017-05-09 05:40:00,BUS,649,34427,31022.0,14.883333,NaN,True,GA132,1.0,2017-05-09 05:07:11
7835,2017-05-09,280808,10,1,2017-05-09 05:41:07,2017-05-09 05:56:00,BUS,649,34427,31022.0,14.883333,NaN,True,GA132,1.0,2017-05-09 05:07:11
7839,2017-05-09,280809,1,1,2017-05-09 14:27:35,2017-05-09 14:40:00,BUS,612,32662,28389.0,12.416667,NaN,True,HA251,11.0,2017-05-09 14:24:50
7844,2017-05-09,280809,7,1,2017-05-09 14:55:35,2017-05-09 15:08:00,BUS,612,32662,28389.0,12.416667,NaN,True,HA251,11.0,2017-05-09 14:24:50

In [69]:
actual_otp_vehicle_first_boarding = otp_vehicle_first_boarding.merge(bus_trips, 
                                 left_on=['route','o_busCode','o_tripNum','to_stop_id'], 
                                 right_on=['route','busCode','tripNum','stopPointId'], 
                                 how='inner') \
                            .sort_values(['user_trip_id','itinerary_id','gps_datetime']) \
                            .groupby(['user_trip_id','itinerary_id','leg_id']) \
                            .first() \
                            .reset_index()

In [70]:
len(actual_otp_vehicle_first_boarding)

2009

In [71]:
actual_otp_vehicle_first_boarding.head()

,user_trip_id,itinerary_id,leg_id,date,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,...,o_busCode,o_tripNum,o_boarding_datetime,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station_y
0,1496,2,1,2017-05-09,2017-05-09 05:03:32,2017-05-09 05:20:00,BUS,226,34486.0,30452.0,...,BA140,1.0,2017-05-09 05:04:34,BA140,1.0,30452,2017-05-09 05:14:02,-25.393259,-49.240989,14471.0
1,1496,4,1,2017-05-09,2017-05-09 05:28:22,2017-05-09 05:44:00,BUS,226,34486.0,30452.0,...,BA140,1.0,2017-05-09 05:04:34,BA140,1.0,30452,2017-05-09 05:14:02,-25.393259,-49.240989,14471.0
2,1869,2,1,2017-05-09,2017-05-09 05:03:02,2017-05-09 05:20:00,BUS,653,36174.0,30435.0,...,HA270,1.0,2017-05-09 05:03:17,HA270,1.0,30435,2017-05-09 05:17:17,-25.511621,-49.324356,14503.0
3,1869,4,1,2017-05-09,2017-05-09 05:23:02,2017-05-09 05:40:00,BUS,653,36174.0,30435.0,...,HA270,1.0,2017-05-09 05:03:17,HA270,1.0,30435,2017-05-09 05:17:17,-25.511621,-49.324356,14503.0
4,1869,5,1,2017-05-09,2017-05-09 05:31:05,2017-05-09 05:48:25,BUS,653,36174.0,35104.0,...,HA270,1.0,2017-05-09 05:03:17,HA270,1.0,35104,2017-05-09 05:16:11,-25.511630,-49.328224,NaN

##### Terminal Boarding and Vehicle Boarding (2nd+ boarding)

In [72]:
otp_other_boardings = otp_filtered_itineraries.query('first_vehicle_boarding == False')

In [73]:
otp_filtered_itineraries.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding,o_busCode,o_tripNum,o_boarding_datetime
0,2017-05-09,247071,1,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True,GA205,1.0,2017-05-09 04:41:55
2,2017-05-09,247071,1,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
4,2017-05-09,247071,1,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False,GA205,1.0,2017-05-09 04:41:55
6,2017-05-09,247071,2,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
8,2017-05-09,247071,2,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False,GA205,1.0,2017-05-09 04:41:55

In [97]:
actual_otp_filtered_itineraries_start = otp_filtered_itineraries.merge(bus_trips, 
                                 left_on=['route','from_stop_id'], 
                                 right_on=['route','stopPointId'], 
                                 how='inner') \
                        .assign(otp_buste_start_timediff = lambda x: np.absolute(x['gps_datetime'] - x['otp_start_time'])) \
                        .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_start_timediff']) \
                        .groupby(['user_trip_id','itinerary_id','leg_id']) \
                        .first() \
                        .reset_index() \
                        .loc[:, ['user_trip_id','first_vehicle_boarding','itinerary_id','leg_id','route','busCode','o_busCode','tripNum','o_tripNum','from_stop_id','otp_start_time','gps_datetime','o_boarding_datetime','otp_buste_start_timediff','to_stop_id','otp_end_time']]

In [98]:
len(actual_otp_filtered_itineraries_start)

5195

In [99]:
actual_otp_filtered_itineraries_start.head()

,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,from_stop_id,otp_start_time,gps_datetime,o_boarding_datetime,otp_buste_start_timediff,to_stop_id,otp_end_time
0,1496,True,2,1,226,BA140,BA140,1.0,1.0,34486.0,2017-05-09 05:03:32,2017-05-09 05:03:32,2017-05-09 05:04:34,00:00:00,30452.0,2017-05-09 05:20:00
1,1496,False,2,3,203,BD131,BA140,1.0,1.0,26190.0,2017-05-09 05:25:46,2017-05-09 05:26:08,2017-05-09 05:04:34,00:00:22,25389.0,2017-05-09 05:45:54
2,1496,False,2,4,303,DE701,BA140,1.0,1.0,25389.0,2017-05-09 05:49:21,2017-05-09 05:44:38,2017-05-09 05:04:34,00:04:43,26195.0,2017-05-09 06:20:00
3,1496,False,2,6,732,JA024,BA140,1.0,1.0,31002.0,2017-05-09 06:23:00,2017-05-09 06:18:42,2017-05-09 05:04:34,00:04:18,33185.0,2017-05-09 06:30:19
4,1496,True,4,1,226,BA140,BA140,2.0,1.0,34486.0,2017-05-09 05:28:22,2017-05-09 05:45:57,2017-05-09 05:04:34,00:17:35,30452.0,2017-05-09 05:44:00

In [82]:
actual_otp_filtered_itineraries_start.otp_buste_start_timediff.describe()

count                      5195
mean     0 days 00:08:49.971126
std      0 days 00:31:08.455207
min             0 days 00:00:00
25%             0 days 00:00:46
50%             0 days 00:02:04
75%      0 days 00:05:38.500000
max             0 days 16:33:48
Name: otp_buste_start_timediff, dtype: object

In [226]:
actual_otp_filtered_itineraries = actual_otp_filtered_itineraries_start \
                        .rename(index=str, columns={'to_stop_id':'stopPointId', 'gps_datetime':'matched_start_time'}) \
                        .merge(bus_trips, 
                                 on=['route','busCode','tripNum','stopPointId'], 
                                 how='inner') \
                        .assign(otp_buste_end_timediff = lambda x: np.absolute(x['gps_datetime'] - x['otp_end_time'])) \
                        .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_end_timediff']) \
                        .groupby(['user_trip_id','itinerary_id','leg_id']) \
                        .first() \
                        .reset_index() \
                        .rename(index=str, columns={'stopPointId':'to_stop_id', 'gps_datetime':'matched_end_time'}) \
                        .assign(leg_duration = lambda x: x['matched_end_time'] - x['matched_start_time'],
                                boarding_otp_match_start_timediff = lambda x: np.absolute(x['o_boarding_datetime'] - x['matched_start_time'])) \
                        .loc[:, ['user_trip_id','first_vehicle_boarding','itinerary_id','leg_id','route','busCode','o_busCode','tripNum','o_tripNum','from_stop_id','otp_start_time','matched_start_time','o_boarding_datetime','otp_buste_start_timediff','to_stop_id','otp_end_time','matched_end_time','otp_buste_end_timediff', 'boarding_otp_match_start_timediff', 'leg_duration']]

In [227]:
len(actual_otp_filtered_itineraries)

4985

In [228]:
actual_otp_filtered_itineraries.head(20)

,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,from_stop_id,otp_start_time,matched_start_time,o_boarding_datetime,otp_buste_start_timediff,to_stop_id,otp_end_time,matched_end_time,otp_buste_end_timediff,boarding_otp_match_start_timediff,leg_duration
0,1496,True,2,1,226,BA140,BA140,1.0,1.0,34486.0,2017-05-09 05:03:32,2017-05-09 05:03:32,2017-05-09 05:04:34,00:00:00,30452.0,2017-05-09 05:20:00,2017-05-09 05:14:02,00:05:58,00:01:02,00:10:30
1,1496,False,2,3,203,BD131,BA140,1.0,1.0,26190.0,2017-05-09 05:25:46,2017-05-09 05:26:08,2017-05-09 05:04:34,00:00:22,25389.0,2017-05-09 05:45:54,2017-05-09 05:47:45,00:01:51,00:21:34,00:21:37
2,1496,False,2,4,303,DE701,BA140,1.0,1.0,25389.0,2017-05-09 05:49:21,2017-05-09 05:44:38,2017-05-09 05:04:34,00:04:43,26195.0,2017-05-09 06:20:00,2017-05-09 06:14:56,00:05:04,00:40:04,00:30:18
3,1496,False,2,6,732,JA024,BA140,1.0,1.0,31002.0,2017-05-09 06:23:00,2017-05-09 06:18:42,2017-05-09 05:04:34,00:04:18,33185.0,2017-05-09 06:30:19,2017-05-09 06:29:58,00:00:21,01:14:08,00:11:16
4,1496,True,4,1,226,BA140,BA140,2.0,1.0,34486.0,2017-05-09 05:28:22,2017-05-09 05:45:57,2017-05-09 05:04:34,00:17:35,30452.0,2017-05-09 05:44:00,2017-05-09 06:03:33,00:19:33,00:41:23,00:17:36
5,1496,False,4,3,203,BD133,BA140,1.0,1.0,26190.0,2017-05-09 05:48:46,2017-05-09 05:48:38,2017-05-09 05:04:34,00:00:08,26187.0,2017-05-09 05:54:00,2017-05-09 05:56:51,00:02:51,00:44:04,00:08:13
6,1496,False,4,5,023,BL496,BA140,1.0,1.0,26237.0,2017-05-09 05:57:00,2017-05-09 06:10:24,2017-05-09 05:04:34,00:13:24,26283.0,2017-05-09 06:18:00,2017-05-09 06:30:58,00:12:58,01:05:50,00:20:34
7,1496,False,4,7,304,DL300,BA140,1.0,1.0,26282.0,2017-05-09 06:21:13,2017-05-09 06:32:42,2017-05-09 05:04:34,00:11:29,2654.0,2017-05-09 06:37:00,2017-05-09 06:48:00,00:11:00,01:28:08,00:15:18
8,1869,True,2,1,653,HA270,HA270,1.0,1.0,36174.0,2017-05-09 05:03:02,2017-05-09 05:02:18,2017-05-09 05:03:17,00:00:44,30435.0,2017-05-09 05:20:00,2017-05-09 05:17:17,00:02:43,00:00:59,00:14:59
9,1869,False,2,3,612,HA251,HA270,1.0,1.0,30437.0,2017-05-09 05:26:00,2017-05-09 05:22:34,2017-05-09 05:03:17,00:03:26,28389.0,2017-05-09 05:48:00,2017-05-09 05:44:43,00:03:17,00:19:17,00:22:09
10,1869,False,2,5,216,BA034,HA270,1.0,1.0,28332.0,2017-05-09 05:50:00,2017-05-09 05:46:16,2017-05-09 05:03:17,00:03:44,29126.0,2017-05-09 06:20:50,2017-05-09 06:14:06,00:06:44,00:42:59,00:27:50
11,1869,True,4,1,653,HA274,HA270,1.0,1.0,36174.0,2017-05-09 05:23:02,2017-05-09 05:22:45,2017-05-09 05:03:17,00:00:17,30435.0,2017-05-09 05:40:00,2017-05-09 05:36:00,00:04:00,00:19:28,00:13:15
12,1869,False,4,3,607,HL303,HA270,1.0,1.0,28606.0,2017-05-09 05:48:00,2017-05-09 07:41:46,2017-05-09 05:03:17,01:53:46,26067.0,2017-05-09 06:14:58,2017-05-09 05:38:33,00:36:25,02:38:29,-1 days +21:56:47
13,1869,False,4,5,216,DR402,HA270,1.0,1.0,29141.0,2017-05-09 06:18:49,2017-05-09 06:12:45,2017-05-09 05:03:17,00:06:04,29126.0,2017-05-09 06:41:22,2017-05-09 06:29:02,00:12:20,01:09:28,00:16:17
14,1869,True,5,1,653,HA274,HA270,1.0,1.0,36174.0,2017-05-09 05:31:05,2017-05-09 05:22:45,2017-05-09 05:03:17,00:08:20,35104.0,2017-05-09 05:48:25,2017-05-09 05:34:58,00:13:27,00:19:28,00:12:13
15,1869,False,5,2,040,BB615,HA270,1.0,1.0,35104.0,2017-05-09 05:48:42,2017-05-09 05:54:49,2017-05-09 05:03:17,00:06:07,31029.0,2017-05-09 06:02:00,2017-05-09 06:13:26,00:11:26,00:51:32,00:18:37
16,1869,False,5,4,204,BL314,HA270,1.0,1.0,26252.0,2017-05-09 06:06:00,2017-05-09 06:25:24,2017-05-09 05:03:17,00:19:24,25917.0,2017-05-09 06:36:00,2017-05-09 07:00:05,00:24:05,01:22:07,00:34:41
17,1869,False,5,6,375,CC197,HA270,1.0,1.0,29889.0,2017-05-09 06:39:13,2017-05-09 06:38:33,2017-05-09 05:03:17,00:00:40,30181.0,2017-05-09 06:44:01,2017-05-09 06:43:09,00:00:52,01:35:16,00:04:36
18,1869,True,7,1,653,HA270,HA270,2.0,1.0,36174.0,2017-05-09 05:43:02,2017-05-09 05:42:57,2017-05-09 05:03:17,00:00:05,30435.0,2017-05-09 06:00:00,2017-05-09 05:57:43,00:02:17,00:39:40,00:14:46
19,1869,False,7,3,607,HL303,HA270,1.0,1.0,28606.0,2017-05-09 06:07:00,2017-05-09 07:41:46,2017-05-09 05:03:17,01:34:46,26067.0,2017-05-09 06:33:58,2017-05-09 05:38:33,00:55:25,02:38:29,-1 days +21:56:47

In [191]:
actual_otp_filtered_itineraries.otp_buste_end_timediff.describe()

count                      4985
mean     0 days 00:13:55.480641
std      0 days 00:31:16.657779
min             0 days 00:00:00
25%             0 days 00:01:39
50%             0 days 00:04:13
75%             0 days 00:11:43
max             0 days 09:57:28
Name: otp_buste_end_timediff, dtype: object

In [229]:
actual_otp_filtered_itineraries.boarding_otp_match_start_timediff.describe()

count                      4985
mean     0 days 00:56:55.865997
std      0 days 00:46:16.617581
min             0 days 00:00:01
25%             0 days 00:26:10
50%             0 days 00:54:23
75%             0 days 01:20:41
max             0 days 18:19:17
Name: boarding_otp_match_start_timediff, dtype: object

In [230]:
actual_otp_filtered_itineraries.leg_duration.describe()

count                      4985
mean     0 days 00:11:43.557673
std      0 days 00:31:27.266799
min           -1 days +14:02:36
25%             0 days 00:07:53
50%             0 days 00:15:53
75%             0 days 00:25:29
max             0 days 09:25:28
Name: leg_duration, dtype: object

#### Choosing itinerary

In [246]:
otp_buste_itineraries = actual_otp_filtered_itineraries.groupby(['user_trip_id','itinerary_id']) \
                                .agg({'boarding_otp_match_start_timediff': lambda x: x[0], 'matched_start_time': lambda x: x[0], 'matched_end_time': lambda x: x[-1], 'leg_id': lambda x: len(x)}) \
                                .reset_index() \
                                .rename(index=str,columns={'matched_start_time':'trip_start','matched_end_time':'trip_end','leg_id':'num_transfers','boarding_otp_match_start_timediff':'start_timediff'}) \
                                .assign(trip_duration = lambda x: x['trip_end'] - x['trip_start'])

In [247]:
len(otp_buste_itineraries)

2279

In [248]:
otp_buste_itineraries.head()

,user_trip_id,itinerary_id,trip_start,trip_end,start_timediff,num_transfers,trip_duration
0,1496,2,2017-05-09 05:03:32,2017-05-09 06:29:58,00:01:02,4,01:26:26
1,1496,4,2017-05-09 05:45:57,2017-05-09 06:48:00,00:41:23,4,01:02:03
2,1869,2,2017-05-09 05:02:18,2017-05-09 06:14:06,00:00:59,3,01:11:48
3,1869,4,2017-05-09 05:22:45,2017-05-09 06:29:02,00:19:28,3,01:06:17
4,1869,5,2017-05-09 05:22:45,2017-05-09 06:43:09,00:19:28,4,01:20:24

In [249]:
otp_buste_itineraries = otp_buste_itineraries[otp_buste_itineraries['trip_duration'] > pd.Timedelta('0s')]
otp_buste_itineraries['penalty'] = 2*otp_buste_itineraries['start_timediff'].dt.total_seconds() + otp_buste_itineraries['trip_duration'].dt.total_seconds() + otp_buste_itineraries['num_transfers']*10
otp_buste_itineraries = otp_buste_itineraries.sort_values(['user_trip_id','penalty'], ascending=True)

In [250]:
otp_buste_itineraries.head()

,user_trip_id,itinerary_id,trip_start,trip_end,start_timediff,num_transfers,trip_duration,penalty
0,1496,2,2017-05-09 05:03:32,2017-05-09 06:29:58,00:01:02,4,01:26:26,5350.0
1,1496,4,2017-05-09 05:45:57,2017-05-09 06:48:00,00:41:23,4,01:02:03,8729.0
2,1869,2,2017-05-09 05:02:18,2017-05-09 06:14:06,00:00:59,3,01:11:48,4456.0
3,1869,4,2017-05-09 05:22:45,2017-05-09 06:29:02,00:19:28,3,01:06:17,6343.0
4,1869,5,2017-05-09 05:22:45,2017-05-09 06:43:09,00:19:28,4,01:20:24,7200.0

In [251]:
chosen_itineraries = otp_buste_itineraries.groupby(['user_trip_id']).first().reset_index()

In [252]:
len(chosen_itineraries)

686

In [253]:
chosen_itineraries.head()

,user_trip_id,itinerary_id,trip_start,trip_end,start_timediff,num_transfers,trip_duration,penalty
0,1496,2,2017-05-09 05:03:32,2017-05-09 06:29:58,00:01:02,4,01:26:26,5350.0
1,1869,2,2017-05-09 05:02:18,2017-05-09 06:14:06,00:00:59,3,01:11:48,4456.0
2,1870,6,2017-05-09 16:07:26,2017-05-09 16:43:44,00:11:02,3,00:36:18,3532.0
3,1947,1,2017-05-09 05:00:44,2017-05-09 05:36:59,00:00:24,2,00:36:15,2243.0
4,2028,1,2017-05-09 05:03:54,2017-05-09 05:44:52,00:00:51,3,00:40:58,2590.0

In [254]:
chosen_itineraries.describe()

,user_trip_id,itinerary_id,start_timediff,num_transfers,trip_duration,penalty
count,686.000000,686.000000,686,686.000000,686,686.000000
mean,116932.475219,2.039359,0 days 00:11:26.826530,2.208455,0 days 00:54:50.053935,4685.791545
std,80860.365987,1.902721,0 days 00:34:22.476613,0.824082,0 days 00:43:36.717172,5868.504763
min,1496.000000,1.000000,0 days 00:00:01,1.000000,0 days 00:00:14,204.000000
25%,47572.250000,1.000000,0 days 00:00:20,2.000000,0 days 00:25:25.500000,2630.500000
50%,102281.000000,1.000000,0 days 00:01:01,2.000000,0 days 00:50:14.500000,4182.000000
75%,184387.250000,2.000000,0 days 00:12:43.750000,3.000000,0 days 01:14:11.500000,5453.500000
max,280809.000000,10.000000,0 days 08:33:20,5.000000,0 days 09:18:42,95142.000000

#### Read Bus Trips data

In [166]:
bus_trips = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_bus_trips.csv', parse_dates=['gps_datetime'])

In [148]:
bus_trips.head()

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station
0,654,HA017,2.0,35350,2017-05-09 06:28:49,-25.492665,-49.303977,NaN
1,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,NaN
2,654,HA240,3.0,36094,2017-05-09 06:55:54,-25.501283,-49.320023,NaN
3,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,NaN
4,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,NaN

In [161]:
len(bus_trips)

606996

In [149]:
bus_trips.dtypes

route                     object
busCode                   object
tripNum                  float64
stopPointId                int64
gps_datetime      datetime64[ns]
stop_lat                 float64
stop_lon                 float64
parent_station           float64
dtype: object

#### Find trips whose destination is reacheable from origin by taking the boarding bus

In [164]:
od_trips = bus_trips.merge(trips_origins_clean, left_on=['route','busCode','tripNum'], 
                           right_on=['o_route','o_busCode','o_tripNum'], how='inner') \
                    .sort_values(['cardNum','o_boarding_datetime','gps_datetime']) \
                    .query('gps_datetime > o_boarding_datetime')

In [184]:
len(od_trips)

50987

In [183]:
len(od_trips.drop_duplicates(subset=['cardNum','o_route','o_busCode','o_tripNum','o_boarding_datetime']))

1854

In [166]:
od_trips[['cardNum','o_route','o_busCode','o_tripNum','route','busCode','tripNum','stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime']] \
        .sort_values(['cardNum','o_boarding_datetime','gps_datetime']).head(50)

,cardNum,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime
85040,331166.0,965,MN606,15.0,965,MN606,15.0,33371,2017-05-09 20:07:29,2017-05-09 20:08:00,2017-05-09 07:53:13
85041,331166.0,965,MN606,15.0,965,MN606,15.0,33306,2017-05-09 20:07:29,2017-05-09 20:09:10,2017-05-09 07:53:13
85042,331166.0,965,MN606,15.0,965,MN606,15.0,33376,2017-05-09 20:07:29,2017-05-09 20:09:34,2017-05-09 07:53:13
85043,331166.0,965,MN606,15.0,965,MN606,15.0,33382,2017-05-09 20:07:29,2017-05-09 20:10:42,2017-05-09 07:53:13
85044,331166.0,965,MN606,15.0,965,MN606,15.0,26346,2017-05-09 20:07:29,2017-05-09 20:11:35,2017-05-09 07:53:13
85045,331166.0,965,MN606,15.0,965,MN606,15.0,33390,2017-05-09 20:07:29,2017-05-09 20:12:13,2017-05-09 07:53:13
85046,331166.0,965,MN606,15.0,965,MN606,15.0,33310,2017-05-09 20:07:29,2017-05-09 20:13:46,2017-05-09 07:53:13
85047,331166.0,965,MN606,15.0,965,MN606,15.0,33450,2017-05-09 20:07:29,2017-05-09 20:14:52,2017-05-09 07:53:13
85048,331166.0,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13
85049,331166.0,965,MN606,15.0,965,MN606,15.0,26448,2017-05-09 20:07:29,2017-05-09 20:16:06,2017-05-09 07:53:13
85050,331166.0,965,MN606,15.0,965,MN606,15.0,26455,2017-05-09 20:07:29,2017-05-09 20:16:19,2017-05-09 07:53:13
85051,331166.0,965,MN606,15.0,965,MN606,15.0,33463,2017-05-09 20:07:29,2017-05-09 20:17:13,2017-05-09 07:53:13
85052,331166.0,965,MN606,15.0,965,MN606,15.0,33682,2017-05-09 20:07:29,2017-05-09 20:18:38,2017-05-09 07:53:13
85053,331166.0,965,MN606,15.0,965,MN606,15.0,33717,2017-05-09 20:07:29,2017-05-09 20:18:56,2017-05-09 07:53:13
85054,331166.0,965,MN606,15.0,965,MN606,15.0,32797,2017-05-09 20:07:29,2017-05-09 20:20:08,2017-05-09 07:53:13
85055,331166.0,965,MN606,15.0,965,MN606,15.0,33457,2017-05-09 20:07:29,2017-05-09 20:21:20,2017-05-09 07:53:13
85056,331166.0,965,MN606,15.0,965,MN606,15.0,33451,2017-05-09 20:07:29,2017-05-09 20:22:34,2017-05-09 07:53:13
85057,331166.0,965,MN606,15.0,965,MN606,15.0,33311,2017-05-09 20:07:29,2017-05-09 20:23:42,2017-05-09 07:53:13
85058,331166.0,965,MN606,15.0,965,MN606,15.0,33734,2017-05-09 20:07:29,2017-05-09 20:24:07,2017-05-09 07:53:13
85059,331166.0,965,MN606,15.0,965,MN606,15.0,33393,2017-05-09 20:07:29,2017-05-09 20:24:43,2017-05-09 07:53:13
85060,331166.0,965,MN606,15.0,965,MN606,15.0,33387,2017-05-09 20:07:29,2017-05-09 20:25:56,2017-05-09 07:53:13
85061,331166.0,965,MN606,15.0,965,MN606,15.0,33386,2017-05-09 20:07:29,2017-05-09 20:26:31,2017-05-09 07:53:13
85062,331166.0,965,MN606,15.0,965,MN606,15.0,33374,2017-05-09 20:07:29,2017-05-09 20:29:39,2017-05-09 07:53:13
85063,331166.0,965,MN606,15.0,965,MN606,15.0,32363,2017-05-09 20:07:29,2017-05-09 20:31:53,2017-05-09 07:53:13
85064,331166.0,965,MN606,15.0,965,MN606,15.0,32366,2017-05-09 20:07:29,2017-05-09 20:32:26,2017-05-09 07:53:13
85065,331166.0,965,MN606,15.0,965,MN606,15.0,34366,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13
85066,331166.0,965,MN606,15.0,965,MN606,15.0,34367,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13
85067,331166.0,965,MN606,15.0,965,MN606,15.0,32367,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13
85068,331166.0,965,MN606,15.0,965,MN606,15.0,32368,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13
85069,331166.0,965,MN606,15.0,965,MN606,15.0,32369,2017-05-09 20:07:29,2017-05-09 20:34:12,2017-05-09 07:53:13
85070,331166.0,965,MN606,15.0,965,MN606,15.0,32370,2017-05-09 20:07:29,2017-05-09 20:34:23,2017-05-09 07:53:13
5942,352491.0,901,MC303,11.0,901,MC303,11.0,26637,2017-05-09 17:32:45,2017-05-09 17:34:31,2017-05-09 07:18:53
5963,352491.0,901,MC303,11.0,901,MC303,11.0,32795,2017-05-09 17:32:45,2017-05-09 17:38:44,2017-05-09 07:18:53
5984,352491.0,901,MC303,11.0,901,MC303,11.0,33681,2017-05-09 17:32:45,2017-05-09 17:40:55,2017-05-09 07:18:53
6005,352491.0,901,MC303,11.0,901,MC303,11.0,33677,2017-05-09 17:32:45,2017-05-09 17:41:26,2017-05-09 07:18:53
6026,352491.0,901,MC303,11.0,901,MC303,11.0,33675,2017-05-09 17:32:45,2017-05-09 17:42:12,2017-05-09 07:18:53
6047,352491.0,901,MC303,11.0,901,MC303,11.0,33671,2017-05-09 17:32:45,2017-05-09 17:43:28,2017-05-09 07:18:53
6068,352491.0,901,MC303,11.0,901,MC303,11.0,33669,2017-05-09 17:32:45,2017-05-09 17:44:56,2017-05-09 07:18:53
6089,352491.0,901,MC303,11.0,901,MC303,11.0,33666,2017-05-09 17:32:45,2017-05-09 17:45:25,2017-05-09 07:18:53
6110,352491.0,901,MC303,11.0,901,MC303,11.0,33658,2017-05-09 17:32:45,2017-05-09 17:48:36,2017-05-09 07:18:53
6131,352491.0,901,MC303,11.0,901,MC303,11.0,33654,2017-05-09 17:32:45,2017-05-09 17:50:02,2017-05-09 07:18:53
6152,352491.0,901,MC303,11.0,901,MC303,11.0,32370,2017-05-09 17:32:45,2017-05-09 17:52:17,2017-05-09 07:18:53
6173,352491.0,901,MC303,11.0,901,MC303,11.0,33116,2017-05-09 17:32:45,2017-05-09 17:54:12,2017-05-09 07:18:53
21538,384263.0,916,MA299,3.0,916,MA299,3.0,33341,2017-05-09 11:25:04,2017-05-09 12:12:32,2017-05-09 12:45:22
21555,384263.0,916,MA299,3.0,916,MA299,3.0,33309,2017-05-09 11:25:04,2017-05-09 12:14:55,2017-05-09 12:45:22
21572,384263.0,916,MA299,3.0,916,MA299,3.0,33400,2017-05-09 11:25:04,2017-05-09 12:15:56,2017-05-09 12:45:22
21589,384263.0,916,MA299,3.0,916,MA299,3.0,33402,2017-05-09 11:25:04,2017-05-09 12:16:16,2017-05-09 12:45:22
21606,384263.0,916,MA299,3.0,916,MA299,3.0,33424,2017-05-09 11:25:04,2017-05-09 12:16:57,2017-05-09 12:45:22
21623,384263.0,916,MA299,3.0,916,MA299,3.0,33427,2017-05-09 11:25:04,2017-05-09 12:17:14,2017-05-09 12:45:22
21640,384263.0,916,MA299,3.0,916,MA299,3.0,33438,2017-05-09 11:25:04,2017-05-09 12:19:49,2017-05-09 12:45:22

In [167]:
od_trips

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station,cardNum,o_boarding_id,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
85040,965,MN606,15.0,33371,2017-05-09 20:08:00,-25.400821,-49.312561,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85041,965,MN606,15.0,33306,2017-05-09 20:09:10,-25.404896,-49.313743,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85042,965,MN606,15.0,33376,2017-05-09 20:09:34,-25.407791,-49.313072,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85043,965,MN606,15.0,33382,2017-05-09 20:10:42,-25.407703,-49.309823,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85044,965,MN606,15.0,26346,2017-05-09 20:11:35,-25.429344,-49.271138,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85045,965,MN606,15.0,33390,2017-05-09 20:12:13,-25.410597,-49.307468,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85046,965,MN606,15.0,33310,2017-05-09 20:13:46,-25.412069,-49.303053,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85047,965,MN606,15.0,33450,2017-05-09 20:14:52,-25.413864,-49.298043,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85048,965,MN606,15.0,26900,2017-05-09 20:15:37,-25.422483,-49.284328,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85049,965,MN606,15.0,26448,2017-05-09 20:16:06,-25.411622,-49.294794,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85050,965,MN606,15.0,26455,2017-05-09 20:16:19,-25.423430,-49.287646,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85051,965,MN606,15.0,33463,2017-05-09 20:17:13,-25.416318,-49.293893,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85052,965,MN606,15.0,33682,2017-05-09 20:18:38,-25.421278,-49.292316,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85053,965,MN606,15.0,33717,2017-05-09 20:18:56,-25.424000,-49.279854,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85054,965,MN606,15.0,32797,2017-05-09 20:20:08,-25.423931,-49.291052,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85055,965,MN606,15.0,33457,2017-05-09 20:21:20,-25.413184,-49.294176,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85056,965,MN606,15.0,33451,2017-05-09 20:22:34,-25.412748,-49.296296,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85057,965,MN606,15.0,33311,2017-05-09 20:23:42,-25.413376,-49.301067,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85058,965,MN606,15.0,33734,2017-05-09 20:24:07,-25.426369,-49.277005,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85059,965,MN606,15.0,33393,2017-05-09 20:24:43,-25.412274,-49.304391,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85060,965,MN606,15.0,33387,2017-05-09 20:25:56,-25.409851,-49.309279,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85061,965,MN606,15.0,33386,2017-05-09 20:26:31,-25.408543,-49.308387,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85062,965,MN606,15.0,33374,2017-05-09 20:29:39,-25.402404,-49.312365,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85063,965,MN606,15.0,32363,2017-05-09 20:31:53,-25.398228,-49.318935,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85064,965,MN606,15.0,32366,2017-05-09 20:32:26,-25.399242,-49.322112,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85065,965,MN606,15.0,34366,2017-05-09 20:32:52,-25.398619,-49.323979,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85066,965,MN606,15.0,34367,2017-05-09 20:32:52,-25.398686,-49.323976,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85067,965,MN606,15.0,32367,2017-05-09 20:33:22,-25.399561,-49.326201,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85068,965,MN606,15.0,32368,2017-05-09 20:33:22,-25.399555,-49.326098,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
85069,965,MN606,15.0,32369,2017-05-09 20:34:12,-25.402222,-49.327749,NaN,331166.0,160,...,2017-05-09 07:53:13,011,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97772,972,MC301,2.0,29599,2017-05-09 07:32:01,-25.428372,-49.272863,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97791,972,MC301,2.0,26720,2017-05-09 07:33:39,-25.429152,-49.276481,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97810,972,MC301,2.0,26638,2017-05-09 07:34:21,-25.425330,-49.279466,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97829,972,MC301,2.0,26721,2017-05-09 07:34:32,-25.428837,-49.278335,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97848,972,MC301,2.0,26722,2017-05-09 07:34:53,-25.426941,-49.279159,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97867,972,MC301,2.0,26637,2017-05-09 07:36:33,-25.423203,-49.280680,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97886,972,MC301,2.0,32796,2017-05-09 07:37:50,-25.422572,-49.290002,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97905,972,MC301,2.0,32794,2017-05-09 07:38:11,-25.422354,-49.284146,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97924,972,MC301,2.0,33681,2017-05-09 07:41:56,-25.421024,-49.292248,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97943,972,MC301,2.0,33677,2017-05-09 07:42:05,-25.416842,-49.294574,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97962,972,MC301,2.0,33679,2017-05-09 07:42:21,-25.418513,-49.293422,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
97981,972,MC301,2.0,33675,2017-05-09 07:43:52,-25.415751,-49.297035,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98000,972,MC301,2.0,33673,2017-05-09 07:44:17,-25.415488,-49.300555,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98019,972,MC301,2.0,33671,2017-05-09 07:45:14,-25.414494,-49.304344,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98038,972,MC301,2.0,33669,2017-05-09 07:45:45,-25.414255,-49.308201,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98057,972,MC301,2.0,33380,2017-05-09 07:46:48,-25.412816,-49.311366,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98076,972,MC301,2.0,33377,2017-05-09 07:48:19,-25.407559,-49.313104,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98095,972,MC301,2.0,33305,2017-05-09 07:48:56,-25.404890,-49.313631,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98114,972,MC301,2.0,33375,2017-05-09 07:49:46,-25.402474,-49.312256,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98133,972,MC301,2.0,33972,2017-05-09 07:49:56,-25.393701,-49.321327,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98152,972,MC301,2.0,33369,2017-05-09 07:50:53,-25.400772,-49.312413,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98171,972,MC301,2.0,32359,2017-05-09 07:51:46,-25.398572,-49.314697,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98190,972,MC301,2.0,32361,2017-05-09 07:52:24,-25.397776,-49.317051,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98209,972,MC301,2.0,33989,2017-05-09 07:53:12,-25.395728,-49.318315,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98228,972,MC301,2.0,33966,2017-05-09 07:55:24,-25.393297,-49.326180,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98247,972,MC301,2.0,33963,2017-05-09 07:56:11,-25.392986,-49.329433,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98266,972,MC301,2.0,33959,2017-05-09 07:56:40,-25.392722,-49.332345,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98285,972,MC301,2.0,33342,2017-05-09 07:57:19,-25.399836,-49.333621,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98304,972,MC301,2.0,33346,2017-05-09 07:57:49,-25.393650,-49.335686,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463
98323,972,MC301,2.0,33344,2017-05-09 07:58:42,-25.397277,-49.334848,NaN,10110099.0,284713,...,2017-05-09 11:33:54,901,MC300,7.0,29598,2017-05-09 11:32:12,-25.428422,-49.273006,04:34:29,7.116463

In [168]:
od_trips['dist'] = od_trips.apply(lambda x: dist(x['stop_lat'],x['stop_lon'],x['next_o_stop_lat'],x['next_o_stop_lon']), axis=1)

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [169]:
od_trips[['cardNum','o_route','o_busCode','o_tripNum','route','busCode','tripNum','stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime','dist']].head(30)

,cardNum,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime,dist
85040,331166.0,965,MN606,15.0,965,MN606,15.0,33371,2017-05-09 20:07:29,2017-05-09 20:08:00,2017-05-09 07:53:13,3.314109
85041,331166.0,965,MN606,15.0,965,MN606,15.0,33306,2017-05-09 20:07:29,2017-05-09 20:09:10,2017-05-09 07:53:13,3.090123
85042,331166.0,965,MN606,15.0,965,MN606,15.0,33376,2017-05-09 20:07:29,2017-05-09 20:09:34,2017-05-09 07:53:13,2.840697
85043,331166.0,965,MN606,15.0,965,MN606,15.0,33382,2017-05-09 20:07:29,2017-05-09 20:10:42,2017-05-09 07:53:13,2.587805
85044,331166.0,965,MN606,15.0,965,MN606,15.0,26346,2017-05-09 20:07:29,2017-05-09 20:11:35,2017-05-09 07:53:13,2.038588
85045,331166.0,965,MN606,15.0,965,MN606,15.0,33390,2017-05-09 20:07:29,2017-05-09 20:12:13,2017-05-09 07:53:13,2.202349
85046,331166.0,965,MN606,15.0,965,MN606,15.0,33310,2017-05-09 20:07:29,2017-05-09 20:13:46,2017-05-09 07:53:13,1.755588
85047,331166.0,965,MN606,15.0,965,MN606,15.0,33450,2017-05-09 20:07:29,2017-05-09 20:14:52,2017-05-09 07:53:13,1.260855
85048,331166.0,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13,0.569992
85049,331166.0,965,MN606,15.0,965,MN606,15.0,26448,2017-05-09 20:07:29,2017-05-09 20:16:06,2017-05-09 07:53:13,1.309328
85050,331166.0,965,MN606,15.0,965,MN606,15.0,26455,2017-05-09 20:07:29,2017-05-09 20:16:19,2017-05-09 07:53:13,0.255135
85051,331166.0,965,MN606,15.0,965,MN606,15.0,33463,2017-05-09 20:07:29,2017-05-09 20:17:13,2017-05-09 07:53:13,0.797730
85052,331166.0,965,MN606,15.0,965,MN606,15.0,33682,2017-05-09 20:07:29,2017-05-09 20:18:38,2017-05-09 07:53:13,0.273320
85053,331166.0,965,MN606,15.0,965,MN606,15.0,33717,2017-05-09 20:07:29,2017-05-09 20:18:56,2017-05-09 07:53:13,1.031491
85054,331166.0,965,MN606,15.0,965,MN606,15.0,32797,2017-05-09 20:07:29,2017-05-09 20:20:08,2017-05-09 07:53:13,0.184253
85055,331166.0,965,MN606,15.0,965,MN606,15.0,33457,2017-05-09 20:07:29,2017-05-09 20:21:20,2017-05-09 07:53:13,1.124938
85056,331166.0,965,MN606,15.0,965,MN606,15.0,33451,2017-05-09 20:07:29,2017-05-09 20:22:34,2017-05-09 07:53:13,1.262120
85057,331166.0,965,MN606,15.0,965,MN606,15.0,33311,2017-05-09 20:07:29,2017-05-09 20:23:42,2017-05-09 07:53:13,1.510162
85058,331166.0,965,MN606,15.0,965,MN606,15.0,33734,2017-05-09 20:07:29,2017-05-09 20:24:07,2017-05-09 07:53:13,1.371833
85059,331166.0,965,MN606,15.0,965,MN606,15.0,33393,2017-05-09 20:07:29,2017-05-09 20:24:43,2017-05-09 07:53:13,1.843731
85060,331166.0,965,MN606,15.0,965,MN606,15.0,33387,2017-05-09 20:07:29,2017-05-09 20:25:56,2017-05-09 07:53:13,2.397753
85061,331166.0,965,MN606,15.0,965,MN606,15.0,33386,2017-05-09 20:07:29,2017-05-09 20:26:31,2017-05-09 07:53:13,2.417186
85062,331166.0,965,MN606,15.0,965,MN606,15.0,33374,2017-05-09 20:07:29,2017-05-09 20:29:39,2017-05-09 07:53:13,3.173933
85063,331166.0,965,MN606,15.0,965,MN606,15.0,32363,2017-05-09 20:07:29,2017-05-09 20:31:53,2017-05-09 07:53:13,3.971395
85064,331166.0,965,MN606,15.0,965,MN606,15.0,32366,2017-05-09 20:07:29,2017-05-09 20:32:26,2017-05-09 07:53:13,4.138905
85065,331166.0,965,MN606,15.0,965,MN606,15.0,34366,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13,4.328875
85066,331166.0,965,MN606,15.0,965,MN606,15.0,34367,2017-05-09 20:07:29,2017-05-09 20:32:52,2017-05-09 07:53:13,4.324107
85067,331166.0,965,MN606,15.0,965,MN606,15.0,32367,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13,4.445847
85068,331166.0,965,MN606,15.0,965,MN606,15.0,32368,2017-05-09 20:07:29,2017-05-09 20:33:22,2017-05-09 07:53:13,4.437758
85069,331166.0,965,MN606,15.0,965,MN606,15.0,32369,2017-05-09 20:07:29,2017-05-09 20:34:12,2017-05-09 07:53:13,4.415053

In [185]:
od_trips_dest = od_trips.query('dist <= 1.0') \
                        .groupby(['cardNum','o_boarding_datetime','o_route','o_busCode','o_tripNum']) \
                        .first().reset_index() \
                        .sort_values(['cardNum','o_boarding_datetime']) \
                        .assign(trip_duration = lambda x: x['gps_datetime'] - x['o_boarding_datetime'])

In [186]:
od_trips_dest.head()

,cardNum,o_boarding_datetime,o_route,o_busCode,o_tripNum,route,busCode,tripNum,stopPointId,gps_datetime,...,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins,dist,trip_duration
0,331166.0,2017-05-09 20:07:29,965,MN606,15.0,965,MN606,15.0,26900,2017-05-09 20:15:37,...,JB302,2.0,32796,2017-05-09 07:52:52,-25.422572,-49.290002,12:14:16,3.634228,0.569992,00:08:08
1,352491.0,2017-05-09 17:32:45,901,MC303,11.0,901,MC303,11.0,33658,2017-05-09 17:48:36,...,MC300,3.0,32369,2017-05-09 07:17:11,-25.402222,-49.327749,10:13:52,5.600896,0.811769,00:15:51
2,384263.0,2017-05-09 11:25:04,916,MA299,3.0,916,MA299,3.0,33341,2017-05-09 12:12:32,...,07001,NaN,14510,NaT,-25.400933,-49.330279,01:20:18,3.093219,0.316732,00:47:28
3,405013.0,2017-05-09 07:27:40,911,MN400,3.0,911,MN400,3.0,34350,2017-05-09 07:33:27,...,07902,NaN,14510,NaT,-25.400933,-49.330279,05:39:03,2.694138,0.910208,00:05:47
4,411687.0,2017-05-09 09:31:13,901,MC303,3.0,901,MC303,3.0,32796,2017-05-09 09:38:08,...,07020,NaN,14432,NaT,-25.422391,-49.291635,07:21:57,2.095410,0.165152,00:06:55

In [187]:
od_trips_dest[['cardNum','o_route','o_busCode','o_tripNum','o_stopPointId','o_boarding_datetime','gps_datetime','next_o_boarding_datetime','dist','trip_duration','boardings_timediff']] \
        .sort_values(['cardNum','o_boarding_datetime'])

,cardNum,o_route,o_busCode,o_tripNum,o_stopPointId,o_boarding_datetime,gps_datetime,next_o_boarding_datetime,dist,trip_duration,boardings_timediff
0,331166.0,965,MN606,15.0,32360,2017-05-09 20:07:29,2017-05-09 20:15:37,2017-05-09 07:53:13,0.569992,00:08:08,12:14:16
1,352491.0,901,MC303,11.0,26722,2017-05-09 17:32:45,2017-05-09 17:48:36,2017-05-09 07:18:53,0.811769,00:15:51,10:13:52
2,384263.0,916,MA299,3.0,33447,2017-05-09 11:25:04,2017-05-09 12:12:32,2017-05-09 12:45:22,0.316732,00:47:28,01:20:18
3,405013.0,911,MN400,3.0,34372,2017-05-09 07:27:40,2017-05-09 07:33:27,2017-05-09 13:06:43,0.910208,00:05:47,05:39:03
4,411687.0,901,MC303,3.0,27256,2017-05-09 09:31:13,2017-05-09 09:38:08,2017-05-09 16:53:10,0.165152,00:06:55,07:21:57
5,445228.0,965,MN606,10.0,33376,2017-05-09 17:10:38,2017-05-09 17:44:13,2017-05-09 06:36:47,0.418205,00:33:35,10:33:51
6,643000.0,967,MN600,3.0,33439,2017-05-09 07:15:07,2017-05-09 07:38:39,2017-05-09 18:32:57,0.668432,00:23:32,11:17:50
7,643000.0,967,MN604,13.0,26345,2017-05-09 18:32:57,2017-05-09 18:54:11,2017-05-09 07:15:07,0.640512,00:21:14,11:17:50
8,652419.0,901,MC491,16.0,26455,2017-05-09 15:06:07,2017-05-09 15:16:34,2017-05-09 13:17:31,0.998556,00:10:27,01:48:36
9,669176.0,967,MN604,2.0,26345,2017-05-09 07:27:21,2017-05-09 07:42:25,2017-05-09 19:13:03,0.999929,00:15:04,11:45:42
10,719299.0,901,MC303,12.0,33681,2017-05-09 18:42:26,2017-05-09 18:51:08,2017-05-09 07:58:18,0.483990,00:08:42,10:44:08
11,722778.0,967,MN600,1.0,33734,2017-05-09 05:53:40,2017-05-09 06:05:06,2017-05-09 15:08:41,0.970087,00:11:26,09:15:01
12,722778.0,967,MN604,10.0,33308,2017-05-09 15:08:41,2017-05-09 15:28:50,2017-05-09 17:40:02,0.965822,00:20:09,02:31:21
13,732323.0,967,MN600,3.0,33444,2017-05-09 07:14:00,2017-05-09 07:48:36,2017-05-09 07:46:36,0.895510,00:34:36,00:32:36
14,735961.0,967,MN604,9.0,26345,2017-05-09 14:27:44,2017-05-09 14:49:42,2017-05-09 15:05:33,0.141512,00:21:58,00:37:49
15,735961.0,967,MN604,10.0,33435,2017-05-09 15:05:33,2017-05-09 15:29:42,2017-05-09 14:27:44,0.668432,00:24:09,00:37:49
16,771608.0,916,MA299,3.0,33434,2017-05-09 11:59:07,2017-05-09 12:12:32,2017-05-09 14:09:59,0.316732,00:13:25,02:10:52
17,794660.0,967,MN604,6.0,26722,2017-05-09 11:33:56,2017-05-09 11:45:45,2017-05-09 08:57:46,0.488717,00:11:49,02:36:10
18,801327.0,967,MN604,3.0,26345,2017-05-09 08:23:25,2017-05-09 08:49:48,2017-05-09 18:06:48,0.981828,00:26:23,09:43:23
19,808478.0,901,MC303,6.0,32797,2017-05-09 12:13:02,2017-05-09 12:16:28,2017-05-09 13:14:23,0.965822,00:03:26,01:01:21
20,864227.0,901,MC303,2.0,27256,2017-05-09 08:35:58,2017-05-09 08:50:11,2017-05-09 18:46:58,0.780027,00:14:13,10:11:00
21,938412.0,967,MN604,2.0,10840,2017-05-09 07:06:06,2017-05-09 07:12:01,2017-05-09 07:16:59,0.712379,00:05:55,00:10:53
22,940004.0,972,MC301,2.0,33381,2017-05-09 07:12:09,2017-05-09 07:32:01,2017-05-09 07:39:55,0.984331,00:19:52,00:27:46
23,957005.0,901,MC491,5.0,29598,2017-05-09 08:16:45,2017-05-09 08:25:36,2017-05-09 16:29:12,0.724680,00:08:51,08:12:27
24,981570.0,967,MN604,4.0,33463,2017-05-09 09:12:44,2017-05-09 09:29:51,2017-05-09 18:32:45,0.000000,00:17:07,09:20:01
25,981570.0,967,MN604,13.0,26345,2017-05-09 18:32:45,2017-05-09 18:47:01,2017-05-09 09:12:44,0.248600,00:14:16,09:20:01
26,989529.0,911,MN400,2.0,34368,2017-05-09 06:44:39,2017-05-09 06:48:37,2017-05-09 15:06:14,0.910208,00:03:58,08:21:35
27,1030071.0,967,MN604,8.0,33463,2017-05-09 13:13:46,2017-05-09 13:20:18,2017-05-09 17:34:00,0.852940,00:06:32,04:20:14
28,1030071.0,965,MN606,10.0,33734,2017-05-09 17:34:00,2017-05-09 17:50:55,2017-05-09 13:13:46,0.877123,00:16:55,04:20:14
29,1035733.0,911,MN400,9.0,34388,2017-05-09 05:27:04,2017-05-09 12:33:08,2017-05-09 13:52:10,0.721455,07:06:04,08:25:06
...,...,...,...,...,...,...,...,...,...,...,...
831,3836043.0,911,MN400,3.0,34382,2017-05-09 07:17:49,2017-05-09 07:29:05,2017-05-09 12:39:59,0.736195,00:11:16,05:22:10
832,3836043.0,911,MN400,9.0,34354,2017-05-09 12:39:59,2017-05-09 13:05:10,2017-05-09 17:20:28,0.385790,00:25:11,04:40:29
833,3837005.0,924,MA007,4.0,32369,2017-05-09 11:59:24,2017-05-09 12:08:42,2017-05-09 13:47:06,0.388796,00:09:18,01:47:42
834,3837189.0,972,MC301,6.0,29599,2017-05-09 12:08:31,2017-05-09 12:16:18,2017-05-09 13:11:52,0.358558,00:07:47,01:03:21
835,3837459.0,965,MN606,8.0,33734,2017-05-09 15:02:05,2017-05-09 15:31:35,2017-05-09 13:04:12,0.854538,00:29:30,01:57:53
836,10003536.0,967,MN604,5.0,33439,2017-05-09 10:02:34,2017-05-09 10:19:28,2017-05-09 12:25:05,0.785136,00:16:54,02:22:31
837,10003536.0,967,MN604,7.0,33717,2017-05-09 12:25:05,2017-05-09 12:47:35,2017-05-09 10:02:34,0.329810,00:22:30,02:22:31
838,10007641.0,965,MN606,3.0,32362,2017-05-09 08:25:34,2017-05-09 08:50:07,2017-05-09 18:55:38,0.852940,00:24:33,10:30:04
839,10038670.0,965,MN606,1.0,33385,2017-05-09 06:53:22,2017-05-09 07:01:16,2017-05-09 12:17:42,0.854538,00:07:54,05:24:20
840,10042276.0,901,MC303,10.0,29598,2017-05-09 16:22:10,2017-05-09 16:38:48,2017-05-09 14:49:17,0.912126,00:16:38,01:32:53
841,10066977.0,967,MN604,3.0,33463,2017-05-09 08:01:54,2017-05-09 08:11:30,2017-05-09 18:32:27,0.668432,00:09:36,10:30:33
842,10066977.0,967,MN604,13.0,26345,2017-05-09 18:32:27,2017-05-09 18:47:01,2017-05-09 08:01:54,0.248600,00:14:34,10:30:33
843,10071335.0,972,MC301,4.0,32360,2017-05-09 09:24:13,2017-05-09 09:38:45,2017-05-09 10:57:22,0.910857,00:14:32,01:33:09
844,10071335.0,972,MC301,5.0,27256,2017-05-09 10:57:22,2017-05-09 11:19:51,2017-05-09 09:24:13,0.997982,00:22:29,01:33:09
845,10077853.0,967,MN604,10.0,10840,2017-05-09 15:11:26,2017-05-09 15:13:01,2017-05-09 10:48:39,0.986195,00:01:35,04:22:47
846,10083220.0,967,MN600,3.0,33425,2017-05-09 07:18:14,2017-05-09 07:38:39,2017-05-09 15:35:24,0.668432,00:20:25,08:17:10
847,10083220.0,967,MN604,10.0,26345,2017-05-09 15:35:24,2017-05-09 15:50:27,2017-05-09 07:18:14,0.020618,00:15:03,08:17:10
848,10085579.0,967,MN604,5.0,26345,2017-05-09 10:31:05,2017-05-09 10:47:43,2017-05-09 17:04:59,0.605991,00:16:38,06:33:54
849,10085579.0,967,MN604,12.0,33444,2017-05-09 17:04:59,2017-05-09 17:30:23,2017-05-09 10:31:05,0.668432,00:25:24,06:33:54
850,10087541.0,967,MN604,3.0,10840,2017-05-09 07:57:45,2017-05-09 08:03:24,2017-05-09 08:07:21,0.404429,00:05:39,00:09:36
851,10088111.0,967,MN604,5.0,26900,2017-05-09 10:20:58,2017-05-09 10:33:36,2017-05-09 11:29:58,0.569342,00:12:38,01:09:00
852,10091534.0,967,MN604,9.0,33310,2017-05-09 14:07:48,2017-05-09 14:23:26,2017-05-09 16:32:28,0.668432,00:15:38,02:24:40
853,10091534.0,967,MN604,11.0,26345,2017-05-09 16:32:28,2017-05-09 16:50:24,2017-05-09 14:07:48,0.909662,00:17:56,02:24:40
854,10093467.0,967,MN600,3.0,33431,2017-05-09 07:16:08,2017-05-09 07:38:39,2017-05-09 17:38:20,0.668432,00:22:31,10:22:12
855,10093467.0,967,MN604,12.0,26345,2017-05-09 17:38:20,2017-05-09 17:57:58,2017-05-09 07:16:08,0.999929,00:19:38,10:22:12
856,10098842.0,967,MN604,1.0,33435,2017-05-09 06:08:36,2017-05-09 06:20:23,2017-05-09 09:27:57,0.852940,00:11:47,03:19:21
857,10098842.0,967,MN604,4.0,33734,2017-05-09 09:27:57,2017-05-09 09:48:01,2017-05-09 06:08:26,0.943987,00:20:04,03:19:31
858,10101703.0,967,MN604,4.0,10811,2017-05-09 09:02:28,2017-05-09 09:20:46,2017-05-09 09:43:14,0.985647,00:18:18,00:40:46
859,10106271.0,967,MN604,7.0,33310,2017-05-09 12:08:46,2017-05-09 12:32:46,2017-05-09 12:41:43,0.804956,00:24:00,00:32:57
860,10110099.0,972,MC301,2.0,33345,2017-05-09 06:59:25,2017-05-09 07:24:39,2017-05-09 11:33:54,0.845365,00:25:14,04:34:29

In [188]:
len(od_trips_dest)

861

In [189]:
od_trips_dest.trip_duration.describe()

count                       861
mean     0 days 00:14:33.634146
std      0 days 00:16:58.419148
min             0 days 00:00:04
25%             0 days 00:06:45
50%             0 days 00:12:36
75%             0 days 00:19:20
max             0 days 07:06:04
Name: trip_duration, dtype: object

In [181]:
od_trips_dest.dist.describe()

count    861.000000
mean       0.246562
std        0.269727
min        0.000000
25%        0.019221
50%        0.164025
75%        0.381333
max        0.984331
Name: dist, dtype: float64

In [159]:
od_trips_dest.cardNum.value_counts()

3187918.0     2
3250023.0     1
2722488.0     1
1654074.0     1
3788749.0     1
2958180.0     1
771608.0      1
3064671.0     1
1565224.0     1
3498692.0     1
3503554.0     1
384263.0      1
3591477.0     1
2652722.0     1
3484961.0     1
2791181.0     1
2410247.0     1
3804412.0     1
2185602.0     1
3469816.0     1
2054995.0     1
10088111.0    1
3462829.0     1
3636750.0     1
2053596.0     1
3276476.0     1
2704065.0     1
3131077.0     1
3439575.0     1
10077853.0    1
3773414.0     1
2282732.0     1
2346224.0     1
2342388.0     1
3778305.0     1
Name: cardNum, dtype: int64

In [140]:
len(od_trips)

109318

In [27]:
candidate_vehicles = enhanced_buste[(enhanced_buste['parent_station'] == enhanced_buste['stopPointId'].iloc[8]) & 
                               ((pd.to_datetime(enhanced_buste['gps_datetime']) > (pd.to_datetime(enhanced_buste['boarding_datetime'].iloc[8]) - pd.Timedelta(value=5,unit='m'))) & 
                                (pd.to_datetime(enhanced_buste['gps_datetime']) < (pd.to_datetime(enhanced_buste['boarding_datetime'].iloc[8]) + pd.Timedelta(value=20,unit='m'))))]

In [28]:
candidate_vehicles

,cardNum,boarding_datetime,route,busCode,tripNum,gps_datetime,stopPointId,stop_lat,stop_lon,parent_station,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,problem,lineName,birthdate,gender
112368,NaN,NaT,203,BD138,1.0,2017-05-01 09:16:17,25732,-25.448323,-49.287777,26105.0,3855.0,4649347.0,-25.448370,-49.287847,5065.989,NO_PROBLEM,NaN,NaN,NaN
114415,NaN,NaT,203,BD147,2.0,2017-05-01 09:26:48,25732,-25.448323,-49.287777,26105.0,3855.0,4649347.0,-25.448370,-49.287847,5065.989,NO_PROBLEM,NaN,NaN,NaN
232947,NaN,NaT,603,HD249,3.0,2017-05-01 09:14:53,25732,-25.448323,-49.287777,26105.0,3156.0,3758012.0,-25.448258,-49.287815,7432.708,NO_PROBLEM,NaN,NaN,NaN
233467,NaN,NaT,603,HD250,2.0,2017-05-01 09:33:05,25732,-25.448323,-49.287777,26105.0,3156.0,3758012.0,-25.448258,-49.287815,7432.708,BETWEEN,NaN,NaN,NaN

In [29]:
def find_candidate_vehicles(row,gps_df,lower_time_thresh = 0, higher_time_thresh = 40):
    return gps_df[(gps_df['parent_station'] == row['stopPointId']) & 
                               ((pd.to_datetime(gps_df['gps_datetime']) > (pd.to_datetime(row['boarding_datetime']) - pd.Timedelta(value=lower_time_thresh,unit='m'))) & 
                                (pd.to_datetime(gps_df['gps_datetime']) < (pd.to_datetime(row['boarding_datetime']) + pd.Timedelta(value=higher_time_thresh,unit='m'))))]

In [30]:
first_boarding = 40
second_boarding = 41

In [31]:
test_data = enhanced_buste.loc[first_boarding:second_boarding].head(1)

In [32]:
test_data

,cardNum,boarding_datetime,route,busCode,tripNum,gps_datetime,stopPointId,stop_lat,stop_lon,parent_station,shapeId,shapeSequence,shapeLat,shapeLon,distanceTraveledShape,problem,lineName,birthdate,gender
40,341036.0,2017-05-01 08:57:07,021,08025,NaN,NaT,41751,-25.441058,-49.3425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INTERB II ANTI H,09/07/69,F

In [33]:
nstop_lat = enhanced_buste['stop_lat'].loc[second_boarding]
nstop_lon = enhanced_buste['stop_lon'].loc[second_boarding]

In [34]:
nstop_lat, nstop_lon

(-25.4376552204, -49.266631957100003)

In [36]:
dist(-7.213345, -35.907678, -7.219092, -35.877251)

3.4168198120895932

In [37]:
def is_vehicle_suitable(row,gps_df,next_stop_lat,next_stop_lon,higher_time_thresh=2):
    vehicle_trip = gps_df[(gps_df['busCode'] == row['busCode']) & (gps_df['tripNum'] == row['tripNum'])].sort_values('gps_datetime')
    vehicle_suitability = vehicle_trip[(vehicle_trip['gps_datetime'] > row['gps_datetime'])].apply(lambda row: dist(row['stop_lat'],row['stop_lon'],next_stop_lat,next_stop_lon), axis=1) \
                            .reset_index(name='dist')
    #print vehicle_suitability['dist']
    return len(vehicle_suitability[vehicle_suitability['dist'] <= 1.0]) > 0

In [38]:
for index, row in test_data.iterrows():
    cand_vehicles = find_candidate_vehicles(row,enhanced_buste)
    suitable_candidates = []
    for cand_index, cand_row in cand_vehicles.iterrows():
        if (is_vehicle_suitable(cand_row,enhanced_buste,nstop_lat, nstop_lon)):
            suitable_candidates.append(cand_row)
    suitable_candidates_df = pd.DataFrame.from_records(suitable_candidates, columns=cand_vehicles.columns)
    print suitable_candidates_df
    chosen_candidate = suitable_candidates_df.loc[suitable_candidates_df['gps_datetime'].idxmin()]
    print chosen_candidate

   cardNum boarding_datetime route busCode  tripNum        gps_datetime  \
0      NaN               NaT   303   DE710      2.0 2017-05-01 09:31:02
1      NaN               NaT   303   DE713      2.0 2017-05-01 09:17:39
2      NaN               NaT   303   DE719      2.0 2017-05-01 09:05:31

   stopPointId   stop_lat   stop_lon  parent_station  shapeId  shapeSequence  \
0        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0
1        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0
2        25748 -25.441061 -49.342507         41751.0   3617.0      4399768.0

    shapeLat   shapeLon  distanceTraveledShape     problem  lineName  \
0 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN
1 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN
2 -25.441017 -49.342554                456.152  NO_PROBLEM       NaN

   birthdate  gender
0        NaN     NaN
1        NaN     NaN
2        NaN     NaN
cardNum                                  NaN
boarding_datetime                        NaT
route                                    303
busCode                                DE719
tripNum                                    2
gps_datetime             2017-05-01 09:05:31
stopPointId                            25748
stop_lat                            -25.4411
stop_lon                            -49.3425
parent_station                         41751
shapeId                                 3617
shapeSequence                    4.39977e+06
shapeLat                             -25.441
shapeLon                            -49.3426
distanceTraveledShape                456.152
problem                           NO_PROBLEM
lineName                                 NaN
birthdate                                NaN
gender                                   NaN
Name: 2, dtype: object