In [133]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

#### Functions

In [123]:
def dist(stop_lat, stop_lon,next_o_lat,next_o_lon):
    return np.arccos(
        np.sin(np.radians(stop_lat)) * np.sin(np.radians(next_o_lat)) + 
        np.cos(np.radians(stop_lat)) * np.cos(np.radians(next_o_lat)) * 
            np.cos(np.radians(stop_lon) - np.radians(next_o_lon))
    ) * 6371

def get_router_id(query_date):
    INTERMEDIATE_OTP_DATE = pd.to_datetime("2017-06-30", format="%Y-%m-%d")
    router_id = ''

    if (query_date <= INTERMEDIATE_OTP_DATE):
        return 'ctba-2017-1'
    else:
        return 'ctba-2017-2'

#### Read Origin/Next-Origin Pairs

In [3]:
trips_origins = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_user_trips.csv', parse_dates=['o_boarding_datetime','o_gps_datetime','next_o_boarding_datetime','next_o_gps_datetime'])

In [4]:
len(trips_origins)

177756

In [5]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(20)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,next_o_boarding_id,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,0 days 05:28:56.000000000
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,NaN
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,0 days 09:35:53.000000000
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,NaN
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,0 days 00:32:46.000000000
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,NaN
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,0 days 02:07:17.000000000
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,NaN
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,0 days 02:25:53.000000000
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,NaN
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,0 days 01:01:26.000000000
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,NaN
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,0 days 11:16:02.000000000
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,NaN
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,0 days 09:30:13.000000000
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,NaN
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,0 days 00:21:31.000000000
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,NaN
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,0 days 08:36:01.000000000
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,NaN

In [6]:
trips_origins['dist_between_origins'] = trips_origins.apply(lambda x: dist(x['o_stop_lat'],x['o_stop_lon'],x['next_o_stop_lat'],x['next_o_stop_lon']), axis=1)
trips_origins['boardings_timediff'] = pd.to_timedelta(trips_origins['boardings_timediff'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [7]:
trips_origins['boardings_timediff'] = np.where(np.isnat(trips_origins['boardings_timediff']),
                                             trips_origins['o_boarding_datetime'] - trips_origins['next_o_boarding_datetime'],
                                             trips_origins['boardings_timediff'])

In [8]:
trips_origins.sort_values(['cardNum','o_boarding_id']).head(50)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
32608,233641.0,2,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,...,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,05:28:56,14.636225
32609,233641.0,3,2017-05-09 12:08:17,021,04020,NaN,14508,NaT,-25.441614,-49.346740,...,2017-05-09 06:39:21,000,01026,NaN,41863,NaT,-25.423639,-49.202354,05:28:56,14.636225
93114,257342.0,4,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,...,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,09:35:53,3.178960
93115,257342.0,5,2017-05-09 17:24:51,000,01021,NaN,26037,NaT,-25.471734,-49.237478,...,2017-05-09 07:48:58,511,EA172,4.0,31195,2017-05-09 07:47:51,-25.498750,-49.247840,09:35:53,3.178960
134081,304127.0,9,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,...,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,00:32:46,2.639323
134082,304127.0,10,2017-05-09 10:57:36,370,LC016,3.0,3377,2017-05-09 10:42:18,-25.428142,-49.246865,...,2017-05-09 10:24:50,175,BC010,5.0,31748,2017-05-09 10:22:28,-25.450968,-49.254072,00:32:46,2.639323
165949,304627.0,12,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,...,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,02:07:17,8.248431
165950,304627.0,13,2017-05-09 16:24:40,370,LC020,6.0,30303,2017-05-09 15:45:37,-25.455659,-49.323150,...,2017-05-09 14:17:23,370,BC032,6.0,3377,2017-05-09 14:16:09,-25.428142,-49.246865,02:07:17,8.248431
138994,305601.0,14,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,...,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,02:25:53,6.307331
138995,305601.0,15,2017-05-09 13:32:37,000,00045,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 11:06:44,000,05007,NaN,14517,NaT,-25.377432,-49.262446,02:25:53,6.307331
162409,312823.0,23,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,...,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,01:01:26,13.187375
162410,312823.0,24,2017-05-09 14:37:15,901,MC076,9.0,29598,2017-05-09 14:35:06,-25.428422,-49.273006,...,2017-05-09 13:35:49,652,LA001,13.0,34977,2017-05-09 13:34:57,-25.534715,-49.331276,01:01:26,13.187375
49598,313992.0,26,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,...,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,11:16:02,0.939445
49599,313992.0,27,2017-05-09 18:14:02,372,BC323,10.0,26336,2017-05-09 18:12:41,-25.432936,-49.270525,...,2017-05-09 06:58:00,372,BC316,2.0,29914,2017-05-09 06:57:02,-25.427820,-49.263080,11:16:02,0.939445
28633,314307.0,29,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,...,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,09:30:13,14.870978
28634,314307.0,30,2017-05-09 16:04:15,000,05005,NaN,14471,NaT,-25.393295,-49.241051,...,2017-05-09 06:34:02,000,09005,NaN,14515,NaT,-25.483724,-49.350160,09:30:13,14.870978
57971,316234.0,34,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,...,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,00:21:31,4.583676
57972,316234.0,35,2017-05-09 07:27:57,000,03034,NaN,26108,NaT,-25.452318,-49.287924,...,2017-05-09 07:06:26,777,JC008,1.0,33632,2017-05-09 07:05:13,-25.462037,-49.332292,00:21:31,4.583676
76943,317896.0,38,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,...,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,08:36:01,12.996760
76944,317896.0,39,2017-05-09 16:02:09,000,02028,NaN,25427,NaT,-25.433658,-49.263464,...,2017-05-09 07:26:08,542,GA124,7.0,31256,2017-05-09 07:25:52,-25.550530,-49.265220,08:36:01,12.996760
169125,318478.0,40,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,...,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,00:42:34,2.168102
169126,318478.0,41,2017-05-09 15:47:11,462,DC297,8.0,26157,2017-05-09 15:44:25,-25.434700,-49.272336,...,2017-05-09 15:04:37,000,03036,NaN,26105,NaT,-25.448327,-49.287780,00:42:34,2.168102
8820,320930.0,43,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,...,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,05:29:34,8.460167
8821,320930.0,44,2017-05-09 11:24:45,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 05:55:11,000,06045,NaN,25420,NaT,-25.438897,-49.226270,05:29:34,8.460167
117786,321169.0,45,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,...,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,09:11:56,2.529063
117787,321169.0,46,2017-05-09 18:03:38,002,DN028,17.0,39724,2017-05-09 18:02:45,-25.438598,-49.279523,...,2017-05-09 08:51:42,002,DN029,4.0,40029,2017-05-09 08:50:49,-25.435464,-49.254578,09:11:56,2.529063
98556,321508.0,48,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,...,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,08:54:35,1.878469
98557,321508.0,49,2017-05-09 16:53:25,000,08056,NaN,41767,NaT,-25.431351,-49.278868,...,2017-05-09 07:58:50,000,06059,NaN,26031,NaT,-25.435648,-49.260777,08:54:35,1.878469
101591,321530.0,50,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,...,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,07:25:52,9.303320
101592,321530.0,51,2017-05-09 15:31:14,021,BB609,4.0,30945,2017-05-09 15:29:43,-25.452460,-49.229820,...,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,01:47:29,4.564118
101593,321530.0,52,2017-05-09 17:18:43,000,00043,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 08:05:22,533,EA169,4.0,48381,2017-05-09 08:02:52,-25.533400,-49.253292,09:13:21,11.214495
8566,321916.0,53,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,...,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,11:33:55,NaN
8567,321916.0,54,2017-05-09 17:28:22,776,JC002,14.0,26150,2017-05-09 17:26:11,NaN,NaN,...,2017-05-09 05:54:27,779,JC864,1.0,33567,2017-05-09 05:53:45,-25.459909,-49.319820,11:33:55,NaN
90459,323614.0,60,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,05:52:11,0.000000
90460,323614.0,61,2017-05-09 13:36:46,000,09027,NaN,26117,NaT,-25.467688,-49.293139,...,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,02:17:46,1.861568
90461,323614.0,62,2017-05-09 15:54:32,000,09020,NaN,26112,NaT,-25.484419,-49.293792,...,2017-05-09 07:44:35,000,09027,NaN,26117,NaT,-25.467688,-49.293139,08:09:57,1.861568
78695,323978.0,64,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,...,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,09:33:24,4.498368
78696,323978.0,65,2017-05-09 17:01:26,665,EC004,8.0,26153,2017-05-09 16:59:13,-25.435492,-49.273870,...,2017-05-09 07:28:02,673,HN615,2.0,32143,2017-05-09 07:27:22,-25.473073,-49.290455,09:33:24,4.498368
72432,324516.0,66,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,...,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,02:41:00,6.209405
72433,324516.0,67,2017-05-09 10:02:03,000,03054,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 07:21:03,000,09022,NaN,26120,NaT,-25.481088,-49.292615,02:41:00,6.209405
65120,324692.0,68,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,...,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,10:55:11,8.619015
65121,324692.0,69,2017-05-09 18:08:46,000,03013,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09 07:13:35,000,09066,NaN,26044,NaT,-25.438860,-49.268205,10:55:11,8.619015
3664,324875.0,71,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,...,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,10:18:14,9.921650
3665,324875.0,72,2017-05-09 15:51:46,732,JA024,6.0,33185,2017-05-09 15:49:10,-25.451980,-49.362003,...,2017-05-09 05:33:32,631,GA208,8.0,33278,2017-05-09 12:58:40,-25.512440,-49.289310,10:18:14,9.921650
132445,324934.0,73,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,00:00:03,0.000000
132446,324934.0,74,2017-05-09 10:12:48,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,...,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,01:28:47,2.374585
132447,324934.0,75,2017-05-09 11:41:35,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,00:00:04,0.000095
132448,324934.0,76,2017-05-09 11:41:39,010,BB001,6.0,28647,2017-05-09 11:40:34,-25.436610,-49.260940,...,2017-05-09 10:12:45,011,BB306,4.0,32763,2017-05-09 10:11:53,-25.449810,-49.279530,01:28:54,2.374585
105761,325105.0,78,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,...,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,03:10:01,3.600381
105762,325105.0,79,2017-05-09 11:24:40,000,03050,NaN,41775,NaT,-25.430012,-49.267614,...,2017-05-09 08:14:39,000,05050,NaN,41815,NaT,-25.402460,-49.248784,03:10:01,3.600381

In [9]:
trips_origins.dist_between_origins.describe()

count    176588.000000
mean          5.467415
std           4.161731
min           0.000000
25%           2.052165
50%           5.142366
75%           8.200742
max          28.419669
Name: dist_between_origins, dtype: float64

In [10]:
trips_origins.boardings_timediff.describe()

count                    177756
mean     0 days 05:49:04.257307
std      0 days 04:05:58.037363
min             0 days 00:00:01
25%      0 days 01:38:57.750000
50%             0 days 05:49:27
75%             0 days 09:49:12
max             0 days 16:26:35
Name: boardings_timediff, dtype: object

In [11]:
len(trips_origins)

177756

In [12]:
trips_origins_clean = trips_origins[(trips_origins['dist_between_origins'] > 1.5) &
                                    (trips_origins['boardings_timediff'] > pd.Timedelta('5 min'))]

In [13]:
len(trips_origins_clean)

139498

In [14]:
trips_origins.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                         int64
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
dtype: object

#### Read OTP Suggestions

In [15]:
otp_suggestions = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/otp-itineraries/2017_05_09_otp_itineraries.csv', parse_dates=['date','otp_start_time','otp_end_time'])
otp_suggestions['otp_start_time'] = otp_suggestions['otp_start_time'] - pd.Timedelta('10800 s')
otp_suggestions['otp_end_time'] = otp_suggestions['otp_end_time'] - pd.Timedelta('10800 s')
otp_suggestions['route'] = otp_suggestions['route'].astype(str)
otp_suggestions['route'] = np.where(otp_suggestions['mode'] == 'BUS',
                                    otp_suggestions['route'].astype(str).str.replace("\.0",'').str.zfill(3),
                                    otp_suggestions['route'])

In [111]:
otp_suggestions['date'][0] == pd.to_datetime(trips_origins['o_boarding_datetime'].dt.strftime('%Y-%m-%d')[0])

True

In [16]:
len(otp_suggestions.drop_duplicates(subset=['user_trip_id']))

956

In [17]:
otp_suggestions.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins
0,2017-05-09,1496,1,1,2017-05-09 05:14:11,2017-05-09 05:17:49,WALK,nan,NaN,NaN,3.633333
1,2017-05-09,1496,1,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222.0,26365.0,27.166667
2,2017-05-09,1496,1,3,2017-05-09 05:45:00,2017-05-09 05:47:44,WALK,nan,NaN,NaN,2.733333
3,2017-05-09,1496,1,4,2017-05-09 05:55:00,2017-05-09 06:15:56,BUS,304,25891.0,26286.0,20.933333
4,2017-05-09,1496,1,5,2017-05-09 06:15:56,2017-05-09 06:16:35,WALK,nan,NaN,NaN,0.650000

In [18]:
len(otp_suggestions)

43688

#### Adding Parent Stop data to OTP Suggestions

In [132]:
base_gtfs_folder = '/local/tarciso/data/gtfs/'
router_id = get_router_id(otp_suggestions['date'][0])
stops_df = pd.read_csv(base_gtfs_folder + os.sep + router_id + os.sep + 'stops.txt')

NameError: name 'os' is not defined

'ctba-2017-1'

In [20]:
stops_df.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,70,104505,Terminal Campina do Siqueira - 303 - Centenári...,Terminal Campina do Siqueira - Campo Comprido,-25.435724,-49.306998,NaN,NaN,0,14506.0,NaN,NaN
1,270,104905,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501341,-49.237597,NaN,NaN,0,14485.0,NaN,NaN
2,276,105606,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451550,-49.214917,NaN,NaN,0,14481.0,NaN,NaN
3,299,105603,Terminal Oficinas - 030 - Interbairros III,Terminal Oficinas - 030 - Interbairros III (Se...,-25.451665,-49.215086,NaN,NaN,0,14481.0,NaN,NaN
4,308,104907,Terminal Carmo - 030 - Interbairros III,Terminal Carmo - 030 - Interbairros III (Senti...,-25.501311,-49.237825,NaN,NaN,0,14485.0,NaN,NaN

In [21]:
stops_parent_stations = stops_df[['stop_id','parent_station']]

In [22]:
otp_suggestions = otp_suggestions.merge(stops_parent_stations, left_on='from_stop_id', right_on='stop_id', how='left') \
                                    .drop(['stop_id'], axis=1)

In [23]:
otp_suggestions.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,2017-05-09,1496,1,1,2017-05-09 05:14:11,2017-05-09 05:17:49,WALK,nan,NaN,NaN,3.633333,NaN
1,2017-05-09,1496,1,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222,26365.0,27.166667,NaN
2,2017-05-09,1496,1,3,2017-05-09 05:45:00,2017-05-09 05:47:44,WALK,nan,NaN,NaN,2.733333,NaN
3,2017-05-09,1496,1,4,2017-05-09 05:55:00,2017-05-09 06:15:56,BUS,304,25891,26286.0,20.933333,41860.0
4,2017-05-09,1496,1,5,2017-05-09 06:15:56,2017-05-09 06:16:35,WALK,nan,NaN,NaN,0.650000,NaN

#### Selecting trips for whom OTP suggestions were found

In [24]:
selected_trips = trips_origins_clean[trips_origins_clean['o_boarding_id'].isin(otp_suggestions['user_trip_id'])]

In [25]:
len(selected_trips)

920

In [26]:
selected_trips.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,10:04:22,6.653455
1,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,10:04:22,6.653455
2,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,10:52:10,10.974491
3,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,10:52:10,10.974491
4,3609013.0,201240,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,...,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,10:22:43,14.935055

In [27]:
itineraries_start = otp_suggestions.query('mode == \'BUS\'') \
                    .groupby(['user_trip_id','itinerary_id']) \
                    .first() \
                    .reset_index()

In [28]:
itineraries_start.head()

,user_trip_id,itinerary_id,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,1496,1,2017-05-09,2,2017-05-09 05:17:50,2017-05-09 05:45:00,BUS,272,27222.0,26365.0,27.166667,41860.0
1,1496,2,2017-05-09,1,2017-05-09 05:03:32,2017-05-09 05:20:00,BUS,226,34486.0,30452.0,16.466667,14471.0
2,1496,3,2017-05-09,2,2017-05-09 05:23:03,2017-05-09 05:55:00,BUS,270,31703.0,26358.0,31.950000,41860.0
3,1496,4,2017-05-09,1,2017-05-09 05:28:22,2017-05-09 05:44:00,BUS,226,34486.0,30452.0,15.633333,14471.0
4,1496,5,2017-05-09,2,2017-05-09 05:40:25,2017-05-09 06:11:00,BUS,271,31703.0,26359.0,30.583333,41860.0

In [29]:
vehicle_boarding_origins = selected_trips[np.logical_not(selected_trips['o_busCode'].str.isdigit())]

In [30]:
len(vehicle_boarding_origins)

555

In [31]:
vehicle_boarding_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,10:04:22,6.653455
1,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,10:04:22,6.653455
2,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,10:52:10,10.974491
4,3609013.0,201240,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,...,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,10:22:43,14.935055
6,1940885.0,42210,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,...,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,11:27:07,6.249052

In [32]:
vehicle_boarding_origins.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                         int64
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
dtype: object

In [33]:
itineraries_start.dtypes

user_trip_id                  int64
itinerary_id                  int64
date                 datetime64[ns]
leg_id                        int64
otp_start_time       datetime64[ns]
otp_end_time         datetime64[ns]
mode                         object
route                        object
from_stop_id                float64
to_stop_id                  float64
otp_duration_mins           float64
parent_station              float64
dtype: object

In [34]:
matched_vehicle_boardings = vehicle_boarding_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','from_stop_id'], how='inner')

In [35]:
num_matched_vehicle_boardings = len(matched_vehicle_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Vehicle boardings with matching OTP suggestions: ", num_matched_vehicle_boardings, "(", \
                                                            100*(num_matched_vehicle_boardings/float(len(vehicle_boarding_origins))), "%)"

Vehicle boardings with matching OTP suggestions:  498 ( 89.7297297297 %)

In [36]:
matched_vehicle_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593.0,31572.0,12.350000,14489.0
1,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593.0,31572.0,11.416667,14489.0
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593.0,4661.0,22.466667,14492.0
3,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593.0,4661.0,22.466667,14492.0
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593.0,31572.0,11.416667,NaN

In [37]:
pd.concat([matched_vehicle_boardings[vehicle_boarding_origins.columns],vehicle_boarding_origins]).drop_duplicates(keep=False)

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
6,1940885.0,42210,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,...,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,11:27:07,6.249052
21,2178773.0,54396,2017-05-09 04:46:13,619,HA600,5.0,30434,2017-05-09 12:57:05,-25.511661,-49.324223,...,2017-05-09 05:57:54,000,03044,NaN,41826,NaT,-25.439459,-49.271565,01:11:41,9.612407
43,3491154.0,178753,2017-05-09 05:54:25,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 15:10:03,967,MN604,10.0,33397,2017-05-09 15:08:47,-25.408069,-49.304026,09:15:38,3.391939
96,3510903.0,182201,2017-05-09 05:17:29,040,HB606,1.0,35108,2017-05-09 05:16:53,-25.512566,-49.330333,...,2017-05-09 04:48:58,619,HA600,1.0,36284,2017-05-09 04:48:47,-25.573642,-49.332666,00:28:31,6.795384
148,2258052.0,60146,2017-05-09 18:44:40,870,BC189,10.0,29420,2017-05-09 18:39:00,-25.430894,-49.276454,...,2017-05-09 04:51:41,040,MB604,1.0,34260,2017-05-09 04:50:48,-25.423548,-49.351123,13:52:59,7.542864
150,3620341.0,204008,2017-05-09 05:54:30,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 14:20:26,901,MC076,9.0,33676,2017-05-09 14:20:13,-25.415973,-49.296807,08:25:56,2.300296
219,2113177.0,50896,2017-05-09 04:53:48,643,GA003,7.0,38025,2017-05-09 12:59:43,-25.585504,-49.274348,...,2017-05-09 05:16:13,000,09048,NaN,41829,NaT,-25.527912,-49.291347,00:22:25,6.627091
257,3207482.0,140017,2017-05-09 04:55:08,542,GA124,1.0,31262,2017-05-09 04:54:19,-25.544890,-49.265160,...,2017-05-09 16:08:12,000,03041,NaN,26095,NaT,-25.443355,-49.281734,11:13:04,11.412121
264,3742409.0,238100,2017-05-09 14:50:44,650,HA030,9.0,39826,2017-05-09 14:49:47,-25.549416,-49.324263,...,2017-05-09 15:42:33,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,00:51:49,5.045196
304,1342841.0,18334,2017-05-09 04:56:09,542,GA124,1.0,31263,2017-05-09 04:56:00,-25.541510,-49.270560,...,2017-05-09 16:04:44,021,08044,NaN,41791,NaT,-25.431951,-49.296491,11:08:35,12.457360
309,2754018.0,103424,2017-05-09 16:05:32,463,DC087,10.0,30749,2017-05-09 15:55:20,-25.435959,-49.266889,...,2017-05-09 04:56:09,332,DA300,1.0,27777,2017-05-09 04:56:03,-25.474934,-49.191668,11:09:23,8.707357
310,1973503.0,43777,2017-05-09 04:56:18,638,GA178,9.0,36203,2017-05-09 12:59:55,-25.515160,-49.294444,...,2017-05-09 16:08:25,000,03043,NaN,26092,NaT,-25.441209,-49.275853,11:12:07,8.432026
335,3482348.0,177314,2017-05-09 10:11:09,216,HA606,2.0,29171,2017-05-09 10:10:43,-25.471858,-49.285907,...,2017-05-09 04:57:00,650,HA243,1.0,39855,2017-05-09 04:56:00,-25.564561,-49.330228,05:14:09,11.226699
408,983894.0,8659,2017-05-09 04:59:22,633,GA128,1.0,36057,2017-05-09 04:59:10,-25.521523,-49.272268,...,2017-05-09 15:13:02,030,DR117,4.0,32601,2017-05-09 15:12:09,-25.509128,-49.251998,10:13:40,2.457121
410,2462475.0,82552,2017-05-09 04:59:22,542,GA124,1.0,30012,2017-05-09 04:58:58,-25.534192,-49.267467,...,2017-05-09 14:33:40,627,HA012,8.0,35098,2017-05-09 14:32:49,-25.504604,-49.317969,09:34:18,6.041993
412,1728023.0,32838,2017-05-09 04:59:29,624,GA144,12.0,32629,2017-05-09 12:54:20,-25.495373,-49.292507,...,2017-05-09 15:57:23,000,03008,NaN,14503,NaT,-25.511654,-49.324539,10:57:54,3.689441
438,2272224.0,62236,2017-05-09 05:00:06,547,GA146,1.0,37147,2017-05-09 04:59:52,-25.536830,-49.255965,...,2017-05-09 14:40:18,000,00022,NaN,43345,NaT,-25.485860,-49.245117,09:40:12,5.771158
444,3711473.0,227814,2017-05-09 05:00:16,652,LA007,1.0,35104,2017-05-09 04:59:59,-25.511630,-49.328224,...,2017-05-09 10:08:25,000,03053,NaN,26064,NaT,-25.471860,-49.285697,05:08:09,6.146191
452,2501413.0,85213,2017-05-09 05:00:29,636,GA169,11.0,29990,2017-05-09 12:59:28,-25.530324,-49.289000,...,2017-05-09 15:54:34,000,03014,NaN,14499,NaT,-25.476335,-49.292629,10:54:05,6.014254
476,3681373.0,219023,2017-05-09 05:00:59,827,BA287,1.0,30993,2017-05-09 05:00:07,-25.441705,-49.346328,...,2017-05-09 15:12:31,901,MC491,16.0,33670,2017-05-09 15:12:19,-25.414684,-49.308120,10:11:32,4.873435
484,3655169.0,212545,2017-05-09 05:01:03,533,EA169,9.0,48361,2017-05-09 12:36:25,-25.534334,-49.251461,...,2017-05-09 15:00:31,040,JB606,4.0,35736,2017-05-09 15:00:19,-25.517025,-49.318825,09:59:28,7.028058
509,3475672.0,176145,2017-05-09 05:01:24,623,HA244,11.0,37814,2017-05-09 12:59:42,-25.505166,-49.303239,...,2017-05-09 13:46:20,000,03033,NaN,26094,NaT,-25.456942,-49.288610,08:44:56,5.559757
538,1046463.0,9962,2017-05-09 05:02:08,336,DA009,1.0,30111,2017-05-09 05:02:01,-25.468530,-49.201970,...,2017-05-09 15:22:07,021,08045,NaN,41796,NaT,-25.430289,-49.292615,10:19:59,10.045593
540,1284042.0,16280,2017-05-09 05:02:14,336,DA009,1.0,30111,2017-05-09 05:02:01,-25.468530,-49.201970,...,2017-05-09 14:50:20,021,08041,NaN,41765,NaT,-25.433218,-49.299969,09:48:06,10.593979
546,3822224.0,273891,2017-05-09 15:15:21,640,GA174,13.0,34158,2017-05-09 15:15:20,-25.521141,-49.296043,...,2017-05-09 05:02:15,617,HA289,1.0,36205,2017-05-09 05:01:12,-25.550678,-49.304472,10:13:06,3.391463
555,1967058.0,43491,2017-05-09 05:02:23,335,DR401,1.0,33585,2017-05-09 05:02:09,-25.500213,-49.220071,...,2017-05-09 16:07:07,000,05062,NaN,41854,NaT,-25.410580,-49.248257,11:04:44,10.360722
557,3642872.0,209585,2017-05-09 05:02:23,721,JA013,12.0,35711,2017-05-09 12:59:47,-25.490662,-49.347028,...,2017-05-09 15:58:17,000,05042,NaN,41822,NaT,-25.418867,-49.263976,10:55:54,11.543892
562,3698225.0,223941,2017-05-09 14:48:15,511,EA172,15.0,31195,2017-05-09 14:47:56,-25.498750,-49.247840,...,2017-05-09 05:02:26,535,EA076,1.0,36878,2017-05-09 05:01:22,-25.556732,-49.255092,09:45:49,6.488233
564,2258940.0,60249,2017-05-09 12:54:38,216,BA034,5.0,29109,2017-05-09 12:53:38,-25.414408,-49.252092,...,2017-05-09 05:02:33,332,DA300,1.0,32461,2017-05-09 05:02:09,-25.467464,-49.194708,07:52:05,8.246681
568,3596867.0,198570,2017-05-09 14:53:02,040,JB606,4.0,35104,2017-05-09 14:51:27,-25.511630,-49.328224,...,2017-05-09 05:02:34,652,LA001,1.0,36710,2017-05-09 05:02:12,-25.528363,-49.337962,09:50:28,2.101618
574,2785174.0,105833,2017-05-09 15:02:08,650,HA612,3.0,32036,2017-05-09 14:57:19,-25.536449,-49.301536,...,2017-05-09 05:02:36,619,HA254,1.0,36290,2017-05-09 05:02:20,-25.570770,-49.331832,09:59:32,4.878664
604,2431392.0,80343,2017-05-09 13:20:29,050,LB603,5.0,31742,2017-05-09 13:20:21,-25.475050,-49.296480,...,2017-05-09 05:03:13,638,GA178,1.0,37746,2017-05-09 05:03:02,-25.549100,-49.285004,08:17:16,8.314178
617,2323140.0,69265,2017-05-09 05:03:25,323,DA014,1.0,33303,2017-05-09 05:03:24,-25.449766,-49.200080,...,2017-05-09 17:29:11,021,08047,NaN,41800,NaT,-25.428826,-49.287990,12:25:46,9.129290
639,3769590.0,248279,2017-05-09 15:40:52,801,LC073,14.0,30154,2017-05-09 15:39:35,-25.443676,-49.290548,...,2017-05-09 05:03:46,334,DA020,1.0,32491,2017-05-09 05:03:42,-25.464970,-49.192210,10:37:06,10.153165
641,2237188.0,58175,2017-05-09 14:34:17,732,JA024,4.0,33191,2017-05-09 14:33:55,-25.467270,-49.355550,...,2017-05-09 05:03:47,000,00064,NaN,41839,NaT,-25.530009,-49.250165,09:30:30,12.670333
643,3267363.0,147119,2017-05-09 14:38:14,629,KA690,9.0,29831,2017-05-09 14:38:09,-25.515491,-49.256905,...,2017-05-09 19:32:16,531,EA007,4.0,29798,2017-05-09 19:32:05,-25.536100,-49.246414,04:54:02,2.521843
646,3324298.0,153777,2017-05-09 06:10:20,373,CC192,1.0,26338,2017-05-09 06:09:18,-25.432890,-49.270402,...,2017-05-09 05:03:48,684,HA019,1.0,39368,2017-05-09 05:03:42,-25.588450,-49.341190,01:06:32,18.699434
650,3715052.0,228906,2017-05-09 15:12:37,216,DR403,5.0,29128,2017-05-09 15:11:38,-25.421820,-49.248340,...,2017-05-09 05:03:51,334,DA020,1.0,32491,2017-05-09 05:03:42,-25.464970,-49.192210,10:08:46,7.401765
654,2605698.0,92387,2017-05-09 14:28:48,628,HA015,7.0,35098,2017-05-09 14:27:57,-25.504604,-49.317969,...,2017-05-09 05:03:52,636,GA169,1.0,36711,2017-05-09 05:03:08,-25.545017,-49.287450,09:24:56,5.437919
668,2581064.0,90765,2017-05-09 15:52:11,703,JC309,6.0,26631,2017-05-09 15:46:09,-25.440706,-49.271456,...,2017-05-09 05:04:08,000,09005,NaN,14515,NaT,-25.483724,-49.350160,10:48:03,9.236541
682,3828396.0,277180,2017-05-09 18:44:49,040,GR124,6.0,35470,2017-05-09 18:44:12,-25.511047,-49.331872,...,2017-05-09 05:04:16,712,JA012,1.0,35541,2017-05-09 05:04:04,-25.491793,-49.335509,13:40:33,2.171821
691,1375101.0,19589,2017-05-09 19:07:02,207,BC014,11.0,29058,2017-05-09 19:06:52,-25.401762,-49.268438,...,2017-05-09 05:04:23,547,GA146,1.0,37162,2017-05-09 05:04:11,-25.539895,-49.263026,14:02:39,15.369289
705,2808668.0,107654,2017-05-09 14:15:47,619,HA254,9.0,33233,2017-05-09 14:14:34,-25.525136,-49.330092,...,2017-05-09 05:04:27,619,HA254,1.0,36299,2017-05-09 05:04:05,-25.565199,-49.333825,09:11:20,4.470518
709,568690.0,1497,2017-05-09 19:29:50,732,JA024,11.0,33186,2017-05-09 19:28:56,-25.451781,-49.361863,...,2017-05-09 05:04:34,226,BA140,1.0,34486,2017-05-09 05:03:32,-25.373245,-49.244344,14:25:16,14.682499
783,3692758.0,222295,2017-05-09 05:05:37,633,GA128,1.0,36118,2017-05-09 05:04:54,-25.526507,-49.290137,...,2017-05-09 17:31:42,000,09055,NaN,41776,NaT,-25.535814,-49.274473,12:26:05,1.881815
812,2538201.0,87880,2017-05-09 14:50:48,650,HA030,9.0,39826,2017-05-09 14:49:47,-25.549416,-49.324263,...,2017-05-09 05:06:14,636,GA169,1.0,34335,2017-05-09 05:06:09,-25.542798,-49.278501,09:44:34,4.649597
843,3825522.0,275649,2017-05-09 05:07:03,622,HA027,1.0,35921,2017-05-09 05:06:34,-25.494483,-49.317553,...,2017-05-09 07:16:48,000,09003,NaN,14512,NaT,-25.477340,-49.327038,02:09:45,2.130743
847,2940829.0,119047,2017-05-09 05:54:20,967,MN600,1.0,33734,2017-05-09 05:49:32,-25.426369,-49.277005,...,2017-05-09 15:09:26,967,MN604,10.0,33397,2017-05-09 15:08:47,-25.408069,-49.304026,09:15:06,3.391939
945,3785606.0,255025,2017-05-09 18:41:00,222,BA028,17.0,29009,2017-05-09 18:40:34,-25.397832,-49.234793,...,2017-05-09 05:08:03,684,HA019,1.0,39372,2017-05-09 05:07:54,-25.593450,-49.333880,13:32:57,23.917330
948,3356129.0,157636,2017-05-09 05:08:08,545,GA600,1.0,29974,2017-05-09 05:07:17,-25.531175,-49.258401,...,2017-05-09 15:41:58,021,DR100,2.0,28136,2017-05-09 15:31:43,-25.435992,-49.307712,10:33:50,11.684115
968,2566579.0,89801,2017-05-09 05:08:17,639,GA177,1.0,36203,2017-05-09 05:07:33,-25.515160,-49.294444,...,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,10:30:54,8.085651
970,2025189.0,46391,2017-05-09 05:08:18,323,DA014,1.0,33330,2017-05-09 05:08:13,-25.451985,-49.198938,...,2017-05-09 18:36:51,000,06062,NaN,41921,NaT,-25.436485,-49.271032,13:28:33,7.441193
983,983632.0,8646,2017-05-09 16:30:12,701,JC604,9.0,26141,2017-05-09 16:29:11,-25.434868,-49.272330,...,2017-05-09 05:08:28,652,LA001,1.0,36694,2017-05-09 05:07:37,-25.534742,-49.332760,11:21:44,12.654007
988,3670144.0,216099,2017-05-09 05:08:29,231,BA114,1.0,40882,2017-05-09 05:08:18,-25.370108,-49.203738,...,2017-05-09 18:46:40,000,03040,NaN,26095,NaT,-25.443355,-49.281734,13:38:11,11.300701
990,3127579.0,132527,2017-05-09 05:08:32,336,DA016,1.0,33941,2017-05-09 05:08:04,-25.489000,-49.199952,...,2017-05-09 16:23:51,021,MR106,5.0,33028,2017-05-09 16:23:22,-25.459710,-49.232910,11:15:19,4.642594
994,3181869.0,137031,2017-05-09 15:01:28,876,BC324,7.0,34090,2017-05-09 14:56:41,-25.408740,-49.357685,...,2017-05-09 16:33:00,040,LC506,4.0,35104,2017-05-09 16:31:40,-25.511630,-49.328224,01:31:32,11.817048
995,3181869.0,137032,2017-05-09 16:33:00,040,LC506,4.0,35104,2017-05-09 16:31:40,-25.511630,-49.328224,...,2017-05-09 05:08:32,652,LA001,1.0,34977,2017-05-09 05:08:28,-25.534715,-49.331276,11:24:28,2.585126

In [38]:
itineraries_start[itineraries_start['user_trip_id'] == 60146]

,user_trip_id,itinerary_id,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
2916,60146,1,2017-05-09,2,2017-05-09 19:04:27,2017-05-09 19:33:29,BUS,870,28604.0,34258.0,29.033333,NaN
2917,60146,2,2017-05-09,2,2017-05-09 18:55:49,2017-05-09 19:27:52,BUS,876,28604.0,30333.0,32.050000,NaN
2918,60146,3,2017-05-09,2,2017-05-09 18:56:09,2017-05-09 19:10:16,BUS,303,25557.0,70.0,14.116667,41768.0
2919,60146,4,2017-05-09,2,2017-05-09 19:21:27,2017-05-09 19:50:29,BUS,870,28604.0,34258.0,29.033333,NaN
2920,60146,5,2017-05-09,2,2017-05-09 18:53:41,2017-05-09 19:35:29,BUS,972,26720.0,33342.0,41.800000,NaN
2921,60146,6,2017-05-09,2,2017-05-09 19:38:27,2017-05-09 20:07:29,BUS,870,28604.0,34258.0,29.033333,NaN
2922,60146,7,2017-05-09,2,2017-05-09 19:55:34,2017-05-09 20:27:01,BUS,870,28604.0,34258.0,31.450000,NaN
2923,60146,8,2017-05-09,2,2017-05-09 19:56:31,2017-05-09 20:23:13,BUS,876,28604.0,30333.0,26.700000,NaN
2924,60146,9,2017-05-09,2,2017-05-09 20:31:12,2017-05-09 20:55:24,BUS,870,28604.0,34258.0,24.200000,NaN
2925,60146,10,2017-05-09,2,2017-05-09 20:51:12,2017-05-09 21:15:24,BUS,870,28604.0,34258.0,24.200000,NaN

In [39]:
terminal_boarding_origins = selected_trips[selected_trips['o_busCode'].str.isdigit()]

In [40]:
terminal_boarding_origins['o_route'].value_counts()

000    303
021     37
TPH      9
TMA      4
TCJ      2
TFA      2
TCR      2
TSP      2
TCA      1
TSQ      1
TSB      1
TSF      1
Name: o_route, dtype: int64

In [41]:
terminal_021_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] == '021')]

In [42]:
terminal_021_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
5,3609013.0,201241,2017-05-09 15:07:11,021,08046,NaN,41796,NaT,-25.430289,-49.292615,...,2017-05-09 04:44:28,548,GA205,1.0,31597,2017-05-09 04:44:09,-25.560652,-49.256788,10:22:43,14.935055
68,1598789.0,27398,2017-05-09 16:39:51,021,08042,NaN,41765,NaT,-25.433218,-49.299969,...,2017-05-09 04:47:57,655,HA257,9.0,39262,2017-05-09 12:59:51,-25.568646,-49.319413,11:51:54,15.184799
74,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09 04:48:22,650,HA243,1.0,36293,2017-05-09 04:47:57,-25.568989,-49.332253,11:11:40,14.983937
92,2385286.0,76681,2017-05-09 15:07:35,021,08046,NaN,41796,NaT,-25.430289,-49.292615,...,2017-05-09 04:48:56,652,LA007,1.0,36697,2017-05-09 04:48:53,-25.532192,-49.337116,10:18:39,12.179731
156,1163918.0,12638,2017-05-09 14:32:14,021,08033,NaN,41760,NaT,-25.437598,-49.324377,...,2017-05-09 04:51:59,684,HA602,1.0,39377,2017-05-09 04:51:51,-25.586030,-49.334810,09:40:15,16.538020

In [43]:
matched_021_terminal_boardings = terminal_021_origins.merge(itineraries_start, left_on=['o_boarding_id','o_route','o_stopPointId'], right_on=['user_trip_id','route','parent_station'], how='inner')

In [44]:
num_matched_021_terminal_boardings = len(matched_021_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Line 021 Terminal boardings with matching OTP suggestions: ", num_matched_021_terminal_boardings, "(", \
                                                            100*(num_matched_021_terminal_boardings/float(len(terminal_021_origins))), "%)"

Line 021 Terminal boardings with matching OTP suggestions:  1 ( 2.7027027027 %)

In [45]:
matched_021_terminal_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:04:00,2017-05-09 16:36:00,BUS,021,28136.0,27475.0,32.00,14506.0
1,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:18:00,2017-05-09 16:45:21,BUS,021,28136.0,33044.0,27.35,14506.0
2,1886552.0,39744,2017-05-09 16:00:02,021,04000,NaN,14506,NaT,-25.436086,-49.307596,...,2017-05-09,2,2017-05-09 16:27:00,2017-05-09 16:57:00,BUS,021,28136.0,27475.0,30.00,14506.0

In [46]:
terminal_boarding_origins = selected_trips[(selected_trips['o_busCode'].str.isdigit()) & (selected_trips['o_route'] != '021')]

In [47]:
terminal_boarding_origins.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,next_o_boarding_datetime,next_o_route,next_o_busCode,next_o_tripNum,next_o_stopPointId,next_o_gps_datetime,next_o_stop_lat,next_o_stop_lon,boardings_timediff,dist_between_origins
3,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,10:52:10,10.974491
7,1940885.0,42211,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09 04:44:32,646,HA023,7.0,38521,2017-05-09 12:59:44,-25.565768,-49.314859,11:27:07,6.249052
9,1232958.0,14668,2017-05-09 15:04:54,000,00024,NaN,43347,NaT,-25.475898,-49.249983,...,2017-05-09 04:45:04,548,GA205,1.0,48762,2017-05-09 04:44:52,-25.563193,-49.253670,10:19:50,9.713823
11,715315.0,2902,2017-05-09 13:33:44,000,09070,NaN,43723,NaT,-25.433715,-49.270258,...,2017-05-09 04:45:14,684,HA602,1.0,39368,2017-05-09 04:43:41,-25.588450,-49.341190,08:48:30,18.620097
13,1982410.0,44255,2017-05-09 18:38:20,000,00070,NaN,14487,NaT,-25.481927,-49.246999,...,2017-05-09 04:45:28,684,HA602,1.0,39369,2017-05-09 04:45:27,-25.592110,-49.342120,13:52:52,15.530264

In [48]:
matched_terminal_boardings = terminal_boarding_origins.merge(itineraries_start, left_on=['o_boarding_id','o_stopPointId'], right_on=['user_trip_id','parent_station'], how='inner') \
                .drop_duplicates(subset=['cardNum','o_boarding_id'])

In [49]:
num_matched_terminal_boardings = len(matched_terminal_boardings.drop_duplicates(subset=['cardNum','o_boarding_id']))

print "Terminal boardings with matching OTP suggestions: ", num_matched_terminal_boardings, "(", \
                                                            100*(num_matched_terminal_boardings/float(len(terminal_boarding_origins))), "%)"

Terminal boardings with matching OTP suggestions:  234 ( 71.3414634146 %)

In [50]:
matched_terminal_boardings.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3108318.0,131141,2017-05-09 15:36:09,000,09029,NaN,26121,NaT,-25.464630,-49.291315,...,2017-05-09,2,2017-05-09 15:41:31,2017-05-09 16:06:00,BUS,603,25398.0,26296.0,24.483333,26121.0
9,1940885.0,42211,2017-05-09 16:11:39,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2017-05-09,1,2017-05-09 16:13:00,2017-05-09 16:33:37,BUS,617,31051.0,38521.0,20.616667,14494.0
19,1232958.0,14668,2017-05-09 15:04:54,000,00024,NaN,43347,NaT,-25.475898,-49.249983,...,2017-05-09,2,2017-05-09 15:05:39,2017-05-09 15:08:41,BUS,602,25468.0,25463.0,3.033333,43347.0
23,1982410.0,44255,2017-05-09 18:38:20,000,00070,NaN,14487,NaT,-25.481927,-49.246999,...,2017-05-09,2,2017-05-09 18:40:00,2017-05-09 18:45:41,BUS,602,25474.0,25463.0,5.683333,14487.0
33,2178773.0,54398,2017-05-09 15:41:51,000,06057,NaN,26011,NaT,-25.435634,-49.256611,...,2017-05-09,2,2017-05-09 15:48:26,2017-05-09 15:55:00,BUS,303,25646.0,26185.0,6.566667,26011.0

In [51]:
total_num_matches = num_matched_vehicle_boardings + num_matched_021_terminal_boardings + num_matched_terminal_boardings

print "Total number of matches: ", total_num_matches, "(", \
                                    100*(total_num_matches/float(len(selected_trips))), "%)"

Total number of matches:  733 ( 79.6739130435 %)

In [52]:
boarding_suggestions_matches = pd.concat([matched_vehicle_boardings,matched_021_terminal_boardings,matched_terminal_boardings])

In [53]:
len(boarding_suggestions_matches)

2306

In [54]:
boarding_suggestions_matches.head()

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,date,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593.0,31572.0,12.350000,14489.0
1,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593.0,31572.0,11.416667,14489.0
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593.0,4661.0,22.466667,14492.0
3,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593.0,4661.0,22.466667,14492.0
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.55871,-49.26409,...,2017-05-09,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593.0,31572.0,11.416667,NaN

#### Add OTP extra origin/next-origin pairs to final dataset

In [55]:
boarding_suggestions_matches.dtypes

cardNum                             float64
o_boarding_id                         int64
o_boarding_datetime          datetime64[ns]
o_route                              object
o_busCode                            object
o_tripNum                           float64
o_stopPointId                        object
o_gps_datetime               datetime64[ns]
o_stop_lat                          float64
o_stop_lon                          float64
next_o_boarding_id                    int64
next_o_boarding_datetime     datetime64[ns]
next_o_route                         object
next_o_busCode                       object
next_o_tripNum                      float64
next_o_stopPointId                    int64
next_o_gps_datetime          datetime64[ns]
next_o_stop_lat                     float64
next_o_stop_lon                     float64
boardings_timediff          timedelta64[ns]
dist_between_origins                float64
user_trip_id                          int64
itinerary_id                          int64
date                         datetime64[ns]
leg_id                                int64
otp_start_time               datetime64[ns]
otp_end_time                 datetime64[ns]
mode                                 object
route                                object
from_stop_id                        float64
to_stop_id                          float64
otp_duration_mins                   float64
parent_station                      float64
dtype: object

In [56]:
otp_legs_suggestions_matches = boarding_suggestions_matches[np.append(trips_origins_clean.columns.values,['itinerary_id'])] \
                    .merge(otp_suggestions, left_on=['o_boarding_id','itinerary_id'], right_on=['user_trip_id','itinerary_id'], how='inner') \
                    .query('mode == \'BUS\'')

In [57]:
len(otp_legs_suggestions_matches)

5250

In [58]:
otp_legs_suggestions_matches

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,user_trip_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0
6,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN
8,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN
10,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0
12,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN
14,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0
16,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN
18,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0
20,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0
22,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN
24,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN
26,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN
28,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN
30,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0
32,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN
34,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN
36,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,247071,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0
38,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN
40,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0
42,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN
44,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0
46,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN
48,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0
49,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,247072,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN
51,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN
53,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0
55,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0
57,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,131140,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,2241851.0,58551,2017-05-09 17:10:14,000,03023,NaN,26128,NaT,-25.441810,-49.268330,...,58551,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0
10031,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,61261,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0
10033,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,61261,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0
10036,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0
10037,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0
10038,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,61262,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0
10041,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,9813,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0
10043,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,9813,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0
10046,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,9814,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0
10047,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,9814,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0
10050,2139018.0,52259,2017-05-09 05:08:09,000,09003,NaN,14512,NaT,-25.477340,-49.327038,...,52259,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0
10053,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,57662,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0
10055,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,57662,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0
10057,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0
10059,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0
10061,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,53088,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0
10063,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0
10064,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN
10065,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,170760,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN
10068,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0
10069,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0
10070,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0
10072,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,49693,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN
10075,2566579.0,89802,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,...,89802,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0
10078,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0
10080,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0
10081,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,225522,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN
10084,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0
10086,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0
10087,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,107832,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN

In [59]:
otp_legs_suggestions_matches['first_vehicle_boarding'] = np.where(np.logical_not(otp_legs_suggestions_matches['o_busCode'].str.isdigit()) & 
                                                                      (otp_legs_suggestions_matches['o_route'] == otp_legs_suggestions_matches['route']),
                                                                      True,
                                                                      False)

In [60]:
otp_legs_suggestions_matches

,cardNum,o_boarding_id,o_boarding_datetime,o_route,o_busCode,o_tripNum,o_stopPointId,o_gps_datetime,o_stop_lat,o_stop_lon,...,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding
0,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True
2,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False
4,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False
6,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True
8,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False
10,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0,False
12,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN,True
14,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0,False
16,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN,True
18,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0,False
20,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0,False
22,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN,True
24,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN,False
26,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN,True
28,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN,False
30,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0,False
32,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN,True
34,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN,False
36,3766348.0,247071,2017-05-09 04:41:55,548,GA205,1.0,31593,2017-05-09 04:41:19,-25.558710,-49.264090,...,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0,False
38,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN,True
40,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0,False
42,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN,True
44,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0,False
46,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN,True
48,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0,False
49,3766348.0,247072,2017-05-09 14:46:17,335,EA302,12.0,33577,2017-05-09 14:45:27,-25.511040,-49.224010,...,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN,False
51,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN,True
53,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0,False
55,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0,False
57,3108318.0,131140,2017-05-09 04:43:59,548,GA205,1.0,44395,2017-05-09 04:43:29,-25.558834,-49.258696,...,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,2241851.0,58551,2017-05-09 17:10:14,000,03023,NaN,26128,NaT,-25.441810,-49.268330,...,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0,False
10031,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0,False
10033,2265528.0,61261,2017-05-09 05:08:03,000,00010,NaN,14492,NaT,-25.534177,-49.267780,...,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0,False
10036,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0,False
10037,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0,False
10038,2265528.0,61262,2017-05-09 15:34:35,000,02036,NaN,14434,NaT,-25.415392,-49.267910,...,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0,False
10041,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0,False
10043,1040840.0,9813,2017-05-09 05:08:07,000,00006,NaN,14485,NaT,-25.501303,-49.237642,...,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0,False
10046,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0,False
10047,1040840.0,9814,2017-05-09 14:51:09,000,04024,NaN,26147,NaT,-25.449720,-49.284564,...,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0,False
10050,2139018.0,52259,2017-05-09 05:08:09,000,09003,NaN,14512,NaT,-25.477340,-49.327038,...,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0,False
10053,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0,False
10055,2231780.0,57662,2017-05-09 05:08:11,000,00068,NaN,41836,NaT,-25.532568,-49.261786,...,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0,False
10057,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0,False
10059,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0,False
10061,2154270.0,53088,2017-05-09 15:29:56,000,03043,NaN,26092,NaT,-25.441209,-49.275853,...,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0,False
10063,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0,False
10064,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN,False
10065,3442571.0,170760,2017-05-09 05:08:15,TPH,03019,NaN,14494,NaT,-25.512487,-49.295048,...,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN,False
10068,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0,False
10069,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0,False
10070,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0,False
10072,2089697.0,49693,2017-05-09 14:16:36,000,03031,NaN,26104,NaT,-25.461214,-49.289889,...,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN,False
10075,2566579.0,89802,2017-05-09 15:39:11,000,03041,NaN,26095,NaT,-25.443355,-49.281734,...,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0,False
10078,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False
10080,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False
10081,3703535.0,225522,2017-05-09 05:08:25,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False
10084,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False
10086,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False
10087,2810872.0,107832,2017-05-09 05:08:29,000,00058,NaN,43326,NaT,-25.526934,-49.237267,...,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False

In [61]:
otp_filtered_legs = otp_legs_suggestions_matches[np.append(otp_suggestions.columns.values,['first_vehicle_boarding','o_busCode','o_tripNum','o_boarding_datetime'])]

In [62]:
otp_filtered_legs

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding,o_busCode,o_tripNum,o_boarding_datetime
0,2017-05-09,247071,1,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True,GA205,1.0,2017-05-09 04:41:55
2,2017-05-09,247071,1,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
4,2017-05-09,247071,1,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False,GA205,1.0,2017-05-09 04:41:55
6,2017-05-09,247071,2,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
8,2017-05-09,247071,2,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False,GA205,1.0,2017-05-09 04:41:55
10,2017-05-09,247071,2,5,2017-05-09 05:45:00,2017-05-09 05:48:08,BUS,335,30027,33576.0,3.133333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
12,2017-05-09,247071,3,1,2017-05-09 04:55:32,2017-05-09 05:18:00,BUS,548,31593,4661.0,22.466667,NaN,True,GA205,1.0,2017-05-09 04:41:55
14,2017-05-09,247071,3,3,2017-05-09 05:30:00,2017-05-09 05:45:00,BUS,602,27121,27352.0,15.000000,14492.0,False,GA205,1.0,2017-05-09 04:41:55
16,2017-05-09,247071,5,1,2017-05-09 05:19:32,2017-05-09 05:42:00,BUS,548,31593,4661.0,22.466667,NaN,True,GA205,1.0,2017-05-09 04:41:55
18,2017-05-09,247071,5,3,2017-05-09 05:48:00,2017-05-09 06:01:00,BUS,508,26257,30025.0,13.000000,14492.0,False,GA205,1.0,2017-05-09 04:41:55
20,2017-05-09,247071,5,5,2017-05-09 06:06:00,2017-05-09 06:09:08,BUS,335,30027,33576.0,3.133333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
22,2017-05-09,247071,6,1,2017-05-09 05:31:32,2017-05-09 05:42:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
24,2017-05-09,247071,6,3,2017-05-09 05:49:06,2017-05-09 06:04:00,BUS,535,31571,30030.0,14.900000,NaN,False,GA205,1.0,2017-05-09 04:41:55
26,2017-05-09,247071,7,1,2017-05-09 05:43:32,2017-05-09 05:54:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
28,2017-05-09,247071,7,3,2017-05-09 05:58:44,2017-05-09 06:16:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
30,2017-05-09,247071,7,5,2017-05-09 06:17:00,2017-05-09 06:21:17,BUS,515,30029,33517.0,4.283333,14489.0,False,GA205,1.0,2017-05-09 04:41:55
32,2017-05-09,247071,9,1,2017-05-09 05:55:32,2017-05-09 06:06:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
34,2017-05-09,247071,9,3,2017-05-09 06:10:44,2017-05-09 06:28:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
36,2017-05-09,247071,9,5,2017-05-09 06:38:00,2017-05-09 06:41:45,BUS,335,30027,33576.0,3.750000,14489.0,False,GA205,1.0,2017-05-09 04:41:55
38,2017-05-09,247072,1,1,2017-05-09 14:50:11,2017-05-09 14:54:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
40,2017-05-09,247072,1,3,2017-05-09 14:57:00,2017-05-09 15:19:59,BUS,535,30030,36879.0,22.983333,14489.0,False,EA302,12.0,2017-05-09 14:46:17
42,2017-05-09,247072,5,1,2017-05-09 15:06:11,2017-05-09 15:10:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
44,2017-05-09,247072,5,3,2017-05-09 15:22:00,2017-05-09 15:44:59,BUS,535,30030,36879.0,22.983333,14489.0,False,EA302,12.0,2017-05-09 14:46:17
46,2017-05-09,247072,8,1,2017-05-09 15:22:11,2017-05-09 15:26:00,BUS,335,33577,30027.0,3.816667,NaN,True,EA302,12.0,2017-05-09 14:46:17
48,2017-05-09,247072,8,3,2017-05-09 15:32:00,2017-05-09 15:48:00,BUS,545,30039,29977.0,16.000000,14489.0,False,EA302,12.0,2017-05-09 14:46:17
49,2017-05-09,247072,8,4,2017-05-09 15:58:11,2017-05-09 16:12:48,BUS,683,29977,37759.0,14.616667,NaN,False,EA302,12.0,2017-05-09 14:46:17
51,2017-05-09,131140,2,1,2017-05-09 04:57:38,2017-05-09 05:18:00,BUS,548,44395,4661.0,20.366667,NaN,True,GA205,1.0,2017-05-09 04:43:59
53,2017-05-09,131140,2,3,2017-05-09 05:20:00,2017-05-09 05:42:00,BUS,625,30020,27639.0,22.000000,14492.0,False,GA205,1.0,2017-05-09 04:43:59
55,2017-05-09,131140,2,5,2017-05-09 05:45:00,2017-05-09 05:55:22,BUS,203,26199,26009.0,10.366667,14497.0,False,GA205,1.0,2017-05-09 04:43:59
57,2017-05-09,131140,4,1,2017-05-09 04:43:56,2017-05-09 05:04:51,BUS,548,44395,29978.0,20.916667,NaN,True,GA205,1.0,2017-05-09 04:43:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10028,2017-05-09,58551,1,4,2017-05-09 17:45:00,2017-05-09 18:07:56,BUS,639,31026,37408.0,22.933333,14494.0,False,03023,NaN,2017-05-09 17:10:14
10031,2017-05-09,61261,1,2,2017-05-09 05:16:00,2017-05-09 05:40:00,BUS,649,30019,31022.0,24.000000,14492.0,False,00010,NaN,2017-05-09 05:08:03
10033,2017-05-09,61261,1,4,2017-05-09 05:42:00,2017-05-09 06:14:40,BUS,204,26252,25712.0,32.666667,14494.0,False,00010,NaN,2017-05-09 05:08:03
10036,2017-05-09,61262,1,2,2017-05-09 15:34:00,2017-05-09 15:48:11,BUS,208,25872,26041.0,14.183333,14434.0,False,02036,NaN,2017-05-09 15:34:35
10037,2017-05-09,61262,1,3,2017-05-09 15:57:07,2017-05-09 16:19:00,BUS,507,26041,30023.0,21.883333,14555.0,False,02036,NaN,2017-05-09 15:34:35
10038,2017-05-09,61262,1,4,2017-05-09 16:19:00,2017-05-09 16:31:00,BUS,507,30023,26255.0,12.000000,14489.0,False,02036,NaN,2017-05-09 15:34:35
10041,2017-05-09,9813,1,2,2017-05-09 05:10:36,2017-05-09 05:33:17,BUS,503,27443,26905.0,22.683333,14485.0,False,00006,NaN,2017-05-09 05:08:07
10043,2017-05-09,9813,1,4,2017-05-09 05:37:12,2017-05-09 05:46:44,BUS,203,25389,25394.0,9.533333,26124.0,False,00006,NaN,2017-05-09 05:08:07
10046,2017-05-09,9814,1,2,2017-05-09 14:53:33,2017-05-09 15:03:00,BUS,507,25719,25911.0,9.450000,26147.0,False,04024,NaN,2017-05-09 14:51:09
10047,2017-05-09,9814,1,3,2017-05-09 15:03:00,2017-05-09 15:24:57,BUS,507,25911,26262.0,21.950000,41909.0,False,04024,NaN,2017-05-09 14:51:09
10050,2017-05-09,52259,1,2,2017-05-09 05:18:00,2017-05-09 05:50:37,BUS,050,31629,31748.0,32.616667,14512.0,False,09003,NaN,2017-05-09 05:08:09
10053,2017-05-09,57662,2,2,2017-05-09 05:17:07,2017-05-09 05:34:19,BUS,602,25791,27443.0,17.200000,41836.0,False,00068,NaN,2017-05-09 05:08:11
10055,2017-05-09,57662,2,4,2017-05-09 05:49:57,2017-05-09 06:16:56,BUS,505,26261,25712.0,26.983333,14485.0,False,00068,NaN,2017-05-09 05:08:11
10057,2017-05-09,53088,5,1,2017-05-09 15:41:58,2017-05-09 15:44:16,BUS,203,25730,25729.0,2.300000,26092.0,False,03043,NaN,2017-05-09 15:29:56
10059,2017-05-09,53088,5,3,2017-05-09 15:48:37,2017-05-09 16:17:00,BUS,550,26028,26298.0,28.383333,43357.0,False,03043,NaN,2017-05-09 15:29:56
10061,2017-05-09,53088,5,5,2017-05-09 16:28:00,2017-05-09 16:49:46,BUS,655,31019,39270.0,21.766667,14494.0,False,03043,NaN,2017-05-09 15:29:56
10063,2017-05-09,170760,1,1,2017-05-09 05:19:00,2017-05-09 05:26:03,BUS,650,31050,32036.0,7.050000,14494.0,False,03019,NaN,2017-05-09 05:08:15
10064,2017-05-09,170760,1,2,2017-05-09 05:27:23,2017-05-09 05:33:00,BUS,540,32036,35162.0,5.616667,NaN,False,03019,NaN,2017-05-09 05:08:15
10065,2017-05-09,170760,1,3,2017-05-09 05:34:18,2017-05-09 05:35:41,BUS,628,35162,35156.0,1.383333,NaN,False,03019,NaN,2017-05-09 05:08:15
10068,2017-05-09,49693,1,2,2017-05-09 14:20:07,2017-05-09 14:32:15,BUS,203,25738,25525.0,12.133333,26104.0,False,03031,NaN,2017-05-09 14:16:36
10069,2017-05-09,49693,1,3,2017-05-09 14:32:27,2017-05-09 14:42:00,BUS,602,25525,26297.0,9.550000,26110.0,False,03031,NaN,2017-05-09 14:16:36
10070,2017-05-09,49693,1,4,2017-05-09 14:42:00,2017-05-09 14:44:56,BUS,602,26297,25783.0,2.933333,14494.0,False,03031,NaN,2017-05-09 14:16:36
10072,2017-05-09,49693,1,6,2017-05-09 14:46:39,2017-05-09 15:13:49,BUS,646,38506,40246.0,27.166667,NaN,False,03031,NaN,2017-05-09 14:16:36
10075,2017-05-09,89802,2,2,2017-05-09 15:38:17,2017-05-09 16:15:00,BUS,603,25392,26296.0,36.716667,26095.0,False,03041,NaN,2017-05-09 15:39:11
10078,2017-05-09,225522,5,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False,00058,NaN,2017-05-09 05:08:25
10080,2017-05-09,225522,5,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False,00058,NaN,2017-05-09 05:08:25
10081,2017-05-09,225522,5,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False,00058,NaN,2017-05-09 05:08:25
10084,2017-05-09,107832,5,2,2017-05-09 05:24:40,2017-05-09 05:40:00,BUS,602,25499,25474.0,15.333333,43326.0,False,00058,NaN,2017-05-09 05:08:29
10086,2017-05-09,107832,5,4,2017-05-09 05:42:00,2017-05-09 06:03:29,BUS,020,27715,32720.0,21.483333,14487.0,False,00058,NaN,2017-05-09 05:08:29
10087,2017-05-09,107832,5,5,2017-05-09 06:05:05,2017-05-09 06:28:02,BUS,628,32720,33243.0,22.950000,NaN,False,00058,NaN,2017-05-09 05:08:29

#### Find OTP Suggested Itineraries in BUSTE Data

In [63]:
bus_trips = pd.read_csv('/local/tarciso/masters/data/bus_trips/test/enhanced-buste/2017_05_09_bus_trips.csv', parse_dates=['gps_datetime'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
bus_trips = bus_trips.sort_values(['route','busCode','tripNum','gps_datetime'])
bus_trips['route'] = bus_trips['route'].astype(str).str.replace("\.0",'').str.zfill(3)

In [65]:
bus_trips.head()

,route,busCode,tripNum,stopPointId,gps_datetime,stop_lat,stop_lon,parent_station
139946,001,BN997,1.0,29887,2017-05-09 06:47:54,-25.428171,-49.264558,NaN
139947,001,BN997,1.0,31453,2017-05-09 06:48:54,-25.430388,-49.263602,NaN
138395,001,BN997,1.0,31454,2017-05-09 06:49:52,-25.433503,-49.262257,NaN
139948,001,BN997,1.0,30748,2017-05-09 06:52:21,-25.435187,-49.264933,NaN
139949,001,BN997,1.0,30749,2017-05-09 06:52:35,-25.435959,-49.266889,NaN

In [66]:
otp_filtered_legs.head()

,date,user_trip_id,itinerary_id,leg_id,otp_start_time,otp_end_time,mode,route,from_stop_id,to_stop_id,otp_duration_mins,parent_station,first_vehicle_boarding,o_busCode,o_tripNum,o_boarding_datetime
0,2017-05-09,247071,1,1,2017-05-09 04:41:40,2017-05-09 04:54:01,BUS,548,31593,31572.0,12.350000,NaN,True,GA205,1.0,2017-05-09 04:41:55
2,2017-05-09,247071,1,3,2017-05-09 05:04:44,2017-05-09 05:22:00,BUS,535,31571,30030.0,17.266667,NaN,False,GA205,1.0,2017-05-09 04:41:55
4,2017-05-09,247071,1,5,2017-05-09 05:30:00,2017-05-09 05:33:55,BUS,335,30027,33576.0,3.916667,14489.0,False,GA205,1.0,2017-05-09 04:41:55
6,2017-05-09,247071,2,1,2017-05-09 05:07:32,2017-05-09 05:18:57,BUS,548,31593,31572.0,11.416667,NaN,True,GA205,1.0,2017-05-09 04:41:55
8,2017-05-09,247071,2,3,2017-05-09 05:19:19,2017-05-09 05:35:00,BUS,535,31571,30030.0,15.683333,NaN,False,GA205,1.0,2017-05-09 04:41:55

In [67]:
otp_legs_buste_start = otp_filtered_legs.merge(bus_trips, 
                                 left_on=['route','from_stop_id'], 
                                 right_on=['route','stopPointId'], 
                                 how='inner') \
                        .assign(otp_buste_start_timediff = lambda x: np.absolute(x['gps_datetime'] - x['otp_start_time'])) \
                        .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_start_timediff']) \
                        .groupby(['user_trip_id','itinerary_id','leg_id']) \
                        .first() \
                        .reset_index() \
                        .loc[:, ['user_trip_id','first_vehicle_boarding','itinerary_id','leg_id','route','busCode','o_busCode','tripNum','o_tripNum','from_stop_id','otp_start_time','gps_datetime','o_boarding_datetime','otp_buste_start_timediff','to_stop_id','otp_end_time']]

In [68]:
len(otp_legs_buste_start)

5211

In [69]:
otp_legs_buste_start.head()

,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,from_stop_id,otp_start_time,gps_datetime,o_boarding_datetime,otp_buste_start_timediff,to_stop_id,otp_end_time
0,1496,True,2,1,226,BA140,BA140,1.0,1.0,34486.0,2017-05-09 05:03:32,2017-05-09 05:03:32,2017-05-09 05:04:34,00:00:00,30452.0,2017-05-09 05:20:00
1,1496,False,2,3,203,BD131,BA140,1.0,1.0,26190.0,2017-05-09 05:25:46,2017-05-09 05:26:08,2017-05-09 05:04:34,00:00:22,25389.0,2017-05-09 05:45:54
2,1496,False,2,4,303,DE701,BA140,1.0,1.0,25389.0,2017-05-09 05:49:21,2017-05-09 05:44:38,2017-05-09 05:04:34,00:04:43,26195.0,2017-05-09 06:20:00
3,1496,False,2,6,732,JA024,BA140,1.0,1.0,31002.0,2017-05-09 06:23:00,2017-05-09 06:18:42,2017-05-09 05:04:34,00:04:18,33185.0,2017-05-09 06:30:19
4,1496,True,4,1,226,BA140,BA140,2.0,1.0,34486.0,2017-05-09 05:28:22,2017-05-09 05:45:57,2017-05-09 05:04:34,00:17:35,30452.0,2017-05-09 05:44:00

In [70]:
otp_legs_buste_start.otp_buste_start_timediff.describe()

count                      5211
mean     0 days 00:08:49.588562
std      0 days 00:31:05.827558
min             0 days 00:00:00
25%             0 days 00:00:46
50%             0 days 00:02:04
75%             0 days 00:05:39
max             0 days 16:33:48
Name: otp_buste_start_timediff, dtype: object

In [71]:
otp_legs_buste = otp_legs_buste_start \
                        .rename(index=str, columns={'to_stop_id':'stopPointId', 'gps_datetime':'matched_start_time'}) \
                        .merge(bus_trips, 
                                 on=['route','busCode','tripNum','stopPointId'], 
                                 how='inner') \
                        .assign(otp_buste_end_timediff = lambda x: np.absolute(x['gps_datetime'] - x['otp_end_time'])) \
                        .sort_values(['user_trip_id','itinerary_id','leg_id','otp_buste_end_timediff']) \
                        .groupby(['user_trip_id','itinerary_id','leg_id']) \
                        .first() \
                        .reset_index() \
                        .rename(index=str, columns={'stopPointId':'to_stop_id', 'gps_datetime':'matched_end_time'}) \
                        .assign(leg_duration = lambda x: x['matched_end_time'] - x['matched_start_time'],
                                boarding_otp_match_start_timediff = lambda x: np.absolute(x['o_boarding_datetime'] - x['matched_start_time'])) \
                        .loc[:, ['user_trip_id','first_vehicle_boarding','itinerary_id','leg_id','route','busCode','o_busCode','tripNum','o_tripNum','from_stop_id','otp_start_time','matched_start_time','o_boarding_datetime','otp_buste_start_timediff','to_stop_id','otp_end_time','matched_end_time','otp_buste_end_timediff', 'boarding_otp_match_start_timediff', 'leg_duration']]

In [72]:
len(otp_legs_buste)

5000

In [73]:
otp_legs_buste.head(20)

,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,from_stop_id,otp_start_time,matched_start_time,o_boarding_datetime,otp_buste_start_timediff,to_stop_id,otp_end_time,matched_end_time,otp_buste_end_timediff,boarding_otp_match_start_timediff,leg_duration
0,1496,True,2,1,226,BA140,BA140,1.0,1.0,34486.0,2017-05-09 05:03:32,2017-05-09 05:03:32,2017-05-09 05:04:34,00:00:00,30452.0,2017-05-09 05:20:00,2017-05-09 05:14:02,00:05:58,00:01:02,00:10:30
1,1496,False,2,3,203,BD131,BA140,1.0,1.0,26190.0,2017-05-09 05:25:46,2017-05-09 05:26:08,2017-05-09 05:04:34,00:00:22,25389.0,2017-05-09 05:45:54,2017-05-09 05:47:45,00:01:51,00:21:34,00:21:37
2,1496,False,2,4,303,DE701,BA140,1.0,1.0,25389.0,2017-05-09 05:49:21,2017-05-09 05:44:38,2017-05-09 05:04:34,00:04:43,26195.0,2017-05-09 06:20:00,2017-05-09 06:14:56,00:05:04,00:40:04,00:30:18
3,1496,False,2,6,732,JA024,BA140,1.0,1.0,31002.0,2017-05-09 06:23:00,2017-05-09 06:18:42,2017-05-09 05:04:34,00:04:18,33185.0,2017-05-09 06:30:19,2017-05-09 06:29:58,00:00:21,01:14:08,00:11:16
4,1496,True,4,1,226,BA140,BA140,2.0,1.0,34486.0,2017-05-09 05:28:22,2017-05-09 05:45:57,2017-05-09 05:04:34,00:17:35,30452.0,2017-05-09 05:44:00,2017-05-09 06:03:33,00:19:33,00:41:23,00:17:36
5,1496,False,4,3,203,BD133,BA140,1.0,1.0,26190.0,2017-05-09 05:48:46,2017-05-09 05:48:38,2017-05-09 05:04:34,00:00:08,26187.0,2017-05-09 05:54:00,2017-05-09 05:56:51,00:02:51,00:44:04,00:08:13
6,1496,False,4,5,023,BL496,BA140,1.0,1.0,26237.0,2017-05-09 05:57:00,2017-05-09 06:10:24,2017-05-09 05:04:34,00:13:24,26283.0,2017-05-09 06:18:00,2017-05-09 06:30:58,00:12:58,01:05:50,00:20:34
7,1496,False,4,7,304,DL300,BA140,1.0,1.0,26282.0,2017-05-09 06:21:13,2017-05-09 06:32:42,2017-05-09 05:04:34,00:11:29,2654.0,2017-05-09 06:37:00,2017-05-09 06:48:00,00:11:00,01:28:08,00:15:18
8,1869,True,2,1,653,HA270,HA270,1.0,1.0,36174.0,2017-05-09 05:03:02,2017-05-09 05:02:18,2017-05-09 05:03:17,00:00:44,30435.0,2017-05-09 05:20:00,2017-05-09 05:17:17,00:02:43,00:00:59,00:14:59
9,1869,False,2,3,612,HA251,HA270,1.0,1.0,30437.0,2017-05-09 05:26:00,2017-05-09 05:22:34,2017-05-09 05:03:17,00:03:26,28389.0,2017-05-09 05:48:00,2017-05-09 05:44:43,00:03:17,00:19:17,00:22:09
10,1869,False,2,5,216,BA034,HA270,1.0,1.0,28332.0,2017-05-09 05:50:00,2017-05-09 05:46:16,2017-05-09 05:03:17,00:03:44,29126.0,2017-05-09 06:20:50,2017-05-09 06:14:06,00:06:44,00:42:59,00:27:50
11,1869,True,4,1,653,HA274,HA270,1.0,1.0,36174.0,2017-05-09 05:23:02,2017-05-09 05:22:45,2017-05-09 05:03:17,00:00:17,30435.0,2017-05-09 05:40:00,2017-05-09 05:36:00,00:04:00,00:19:28,00:13:15
12,1869,False,4,3,607,HL303,HA270,1.0,1.0,28606.0,2017-05-09 05:48:00,2017-05-09 07:41:46,2017-05-09 05:03:17,01:53:46,26067.0,2017-05-09 06:14:58,2017-05-09 05:38:33,00:36:25,02:38:29,-1 days +21:56:47
13,1869,False,4,5,216,DR402,HA270,1.0,1.0,29141.0,2017-05-09 06:18:49,2017-05-09 06:12:45,2017-05-09 05:03:17,00:06:04,29126.0,2017-05-09 06:41:22,2017-05-09 06:29:02,00:12:20,01:09:28,00:16:17
14,1869,True,5,1,653,HA274,HA270,1.0,1.0,36174.0,2017-05-09 05:31:05,2017-05-09 05:22:45,2017-05-09 05:03:17,00:08:20,35104.0,2017-05-09 05:48:25,2017-05-09 05:34:58,00:13:27,00:19:28,00:12:13
15,1869,False,5,2,040,BB615,HA270,1.0,1.0,35104.0,2017-05-09 05:48:42,2017-05-09 05:54:49,2017-05-09 05:03:17,00:06:07,31029.0,2017-05-09 06:02:00,2017-05-09 06:13:26,00:11:26,00:51:32,00:18:37
16,1869,False,5,4,204,BL314,HA270,1.0,1.0,26252.0,2017-05-09 06:06:00,2017-05-09 06:25:24,2017-05-09 05:03:17,00:19:24,25917.0,2017-05-09 06:36:00,2017-05-09 07:00:05,00:24:05,01:22:07,00:34:41
17,1869,False,5,6,375,CC197,HA270,1.0,1.0,29889.0,2017-05-09 06:39:13,2017-05-09 06:38:33,2017-05-09 05:03:17,00:00:40,30181.0,2017-05-09 06:44:01,2017-05-09 06:43:09,00:00:52,01:35:16,00:04:36
18,1869,True,7,1,653,HA270,HA270,2.0,1.0,36174.0,2017-05-09 05:43:02,2017-05-09 05:42:57,2017-05-09 05:03:17,00:00:05,30435.0,2017-05-09 06:00:00,2017-05-09 05:57:43,00:02:17,00:39:40,00:14:46
19,1869,False,7,3,607,HL303,HA270,1.0,1.0,28606.0,2017-05-09 06:07:00,2017-05-09 07:41:46,2017-05-09 05:03:17,01:34:46,26067.0,2017-05-09 06:33:58,2017-05-09 05:38:33,00:55:25,02:38:29,-1 days +21:56:47

In [74]:
otp_legs_buste.otp_buste_end_timediff.describe()

count                      5000
mean     0 days 00:13:58.402200
std      0 days 00:31:20.479308
min             0 days 00:00:00
25%             0 days 00:01:39
50%             0 days 00:04:13
75%      0 days 00:11:44.500000
max             0 days 09:57:28
Name: otp_buste_end_timediff, dtype: object

In [75]:
otp_legs_buste.boarding_otp_match_start_timediff.describe()

count                      5000
mean     0 days 00:56:53.248600
std      0 days 00:46:14.568322
min             0 days 00:00:01
25%             0 days 00:26:06
50%      0 days 00:54:20.500000
75%             0 days 01:20:41
max             0 days 18:19:17
Name: boarding_otp_match_start_timediff, dtype: object

In [76]:
otp_legs_buste.leg_duration.describe()

count                      5000
mean     0 days 00:11:44.382800
std      0 days 00:31:32.508600
min           -1 days +14:02:36
25%      0 days 00:07:53.750000
50%             0 days 00:15:53
75%             0 days 00:25:35
max             0 days 09:25:28
Name: leg_duration, dtype: object

#### Choosing itinerary

#### Adding stops location data

In [77]:
stops_locations = stops_df[['stop_id','stop_lat','stop_lon']]

In [78]:
user_trips_ids = otp_legs_suggestions_matches[['cardNum','user_trip_id']].drop_duplicates().sort_values(['cardNum','user_trip_id'])

In [79]:
otp_legs_buste_data = otp_legs_buste.merge(stops_locations, left_on='from_stop_id', right_on='stop_id', how='left') \
        .drop('stop_id', axis=1) \
        .rename(index=str, columns={'stop_lat':'from_stop_lat','stop_lon':'from_stop_lon'}) \
        .merge(stops_locations, left_on='to_stop_id', right_on='stop_id', how='left') \
        .drop('stop_id', axis=1) \
        .rename(index=str, columns={'stop_lat':'to_stop_lat','stop_lon':'to_stop_lon'}) \
        .merge(user_trips_ids, on=['user_trip_id'], how='inner') \
                            [np.append(np.append(['cardNum'],otp_legs_buste.columns.values),['from_stop_lat','from_stop_lon','to_stop_lat','to_stop_lon'])]

In [80]:
otp_legs_buste_data

,cardNum,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,...,to_stop_id,otp_end_time,matched_end_time,otp_buste_end_timediff,boarding_otp_match_start_timediff,leg_duration,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,568690.0,1496,True,2,1,226,BA140,BA140,1.0,1.0,...,30452,2017-05-09 05:20:00,2017-05-09 05:14:02,00:05:58,00:01:02,00:10:30,-25.373245,-49.244344,-25.393259,-49.240989
1,568690.0,1496,False,2,3,203,BD131,BA140,1.0,1.0,...,25389,2017-05-09 05:45:54,2017-05-09 05:47:45,00:01:51,00:21:34,00:21:37,-25.393517,-49.240616,-25.437593,-49.266727
2,568690.0,1496,False,2,4,303,DE701,BA140,1.0,1.0,...,26195,2017-05-09 06:20:00,2017-05-09 06:14:56,00:05:04,00:40:04,00:30:18,-25.437593,-49.266727,-25.441720,-49.346978
3,568690.0,1496,False,2,6,732,JA024,BA140,1.0,1.0,...,33185,2017-05-09 06:30:19,2017-05-09 06:29:58,00:00:21,01:14:08,00:11:16,-25.441531,-49.346711,-25.451980,-49.362003
4,568690.0,1496,True,4,1,226,BA140,BA140,2.0,1.0,...,30452,2017-05-09 05:44:00,2017-05-09 06:03:33,00:19:33,00:41:23,00:17:36,-25.373245,-49.244344,-25.393259,-49.240989
5,568690.0,1496,False,4,3,203,BD133,BA140,1.0,1.0,...,26187,2017-05-09 05:54:00,2017-05-09 05:56:51,00:02:51,00:44:04,00:08:13,-25.393517,-49.240616,-25.406439,-49.252743
6,568690.0,1496,False,4,5,023,BL496,BA140,1.0,1.0,...,26283,2017-05-09 06:18:00,2017-05-09 06:30:58,00:12:58,01:05:50,00:20:34,-25.406516,-49.253004,-25.435856,-49.307661
7,568690.0,1496,False,4,7,304,DL300,BA140,1.0,1.0,...,2654,2017-05-09 06:37:00,2017-05-09 06:48:00,00:11:00,01:28:08,00:15:18,-25.435742,-49.307359,-25.449626,-49.353856
8,618552.0,1869,True,2,1,653,HA270,HA270,1.0,1.0,...,30435,2017-05-09 05:20:00,2017-05-09 05:17:17,00:02:43,00:00:59,00:14:59,-25.500684,-49.351664,-25.511621,-49.324356
9,618552.0,1869,False,2,3,612,HA251,HA270,1.0,1.0,...,28389,2017-05-09 05:48:00,2017-05-09 05:44:43,00:03:17,00:19:17,00:22:09,-25.511524,-49.324729,-25.476144,-49.292507
10,618552.0,1869,False,2,5,216,BA034,HA270,1.0,1.0,...,29126,2017-05-09 06:20:50,2017-05-09 06:14:06,00:06:44,00:42:59,00:27:50,-25.476127,-49.292362,-25.426190,-49.248740
11,618552.0,1869,True,4,1,653,HA274,HA270,1.0,1.0,...,30435,2017-05-09 05:40:00,2017-05-09 05:36:00,00:04:00,00:19:28,00:13:15,-25.500684,-49.351664,-25.511621,-49.324356
12,618552.0,1869,False,4,3,607,HL303,HA270,1.0,1.0,...,26067,2017-05-09 06:14:58,2017-05-09 05:38:33,00:36:25,02:38:29,-1 days +21:56:47,-25.511782,-49.324788,-25.455471,-49.267544
13,618552.0,1869,False,4,5,216,DR402,HA270,1.0,1.0,...,29126,2017-05-09 06:41:22,2017-05-09 06:29:02,00:12:20,01:09:28,00:16:17,-25.455030,-49.266860,-25.426190,-49.248740
14,618552.0,1869,True,5,1,653,HA274,HA270,1.0,1.0,...,35104,2017-05-09 05:48:25,2017-05-09 05:34:58,00:13:27,00:19:28,00:12:13,-25.500684,-49.351664,-25.511630,-49.328224
15,618552.0,1869,False,5,2,040,BB615,HA270,1.0,1.0,...,31029,2017-05-09 06:02:00,2017-05-09 06:13:26,00:11:26,00:51:32,00:18:37,-25.511630,-49.328224,-25.513203,-49.295115
16,618552.0,1869,False,5,4,204,BL314,HA270,1.0,1.0,...,25917,2017-05-09 06:36:00,2017-05-09 07:00:05,00:24:05,01:22:07,00:34:41,-25.512983,-49.294505,-25.426995,-49.264729
17,618552.0,1869,False,5,6,375,CC197,HA270,1.0,1.0,...,30181,2017-05-09 06:44:01,2017-05-09 06:43:09,00:00:52,01:35:16,00:04:36,-25.426910,-49.263080,-25.427824,-49.249283
18,618552.0,1869,True,7,1,653,HA270,HA270,2.0,1.0,...,30435,2017-05-09 06:00:00,2017-05-09 05:57:43,00:02:17,00:39:40,00:14:46,-25.500684,-49.351664,-25.511621,-49.324356
19,618552.0,1869,False,7,3,607,HL303,HA270,1.0,1.0,...,26067,2017-05-09 06:33:58,2017-05-09 05:38:33,00:55:25,02:38:29,-1 days +21:56:47,-25.511782,-49.324788,-25.455471,-49.267544
20,618552.0,1869,False,7,5,216,BA603,HA270,1.0,1.0,...,29126,2017-05-09 07:00:20,2017-05-09 07:00:33,00:00:13,01:37:25,00:19:51,-25.455030,-49.266860,-25.426190,-49.248740
21,618552.0,1869,True,9,1,653,HA270,HA270,2.0,1.0,...,33841,2017-05-09 06:00:21,2017-05-09 05:50:24,00:09:57,00:39:40,00:07:27,-25.500684,-49.351664,-25.495708,-49.335303
22,618552.0,1869,False,9,3,622,HA028,HA270,1.0,1.0,...,27602,2017-05-09 06:20:00,2017-05-09 06:20:50,00:00:50,00:57:53,00:19:40,-25.495698,-49.335190,-25.491965,-49.293123
23,618552.0,1869,False,9,5,507,EL074,HA270,1.0,1.0,...,25911,2017-05-09 06:47:00,2017-05-09 06:43:23,00:03:37,01:18:03,00:22:03,-25.492387,-49.293011,-25.432496,-49.265448
24,618552.0,1869,False,9,7,372,CC194,HA270,1.0,1.0,...,30181,2017-05-09 06:58:56,2017-05-09 07:01:02,00:02:06,01:52:00,00:05:45,-25.430942,-49.265318,-25.427824,-49.249283
25,618552.0,1870,True,6,1,216,CA602,BA600,6.0,6.0,...,28128,2017-05-09 16:18:00,2017-05-09 14:49:53,01:28:07,00:11:02,-1 days +22:42:27,-25.426190,-49.248740,-25.406417,-49.252210
26,618552.0,1870,False,6,3,607,HL313,BA600,3.0,6.0,...,28606,2017-05-09 17:25:00,2017-05-09 17:27:09,00:02:09,00:34:02,00:56:43,-25.406060,-49.252577,-25.511782,-49.324788
27,618552.0,1870,False,6,5,653,HA269,BA600,11.0,6.0,...,36176,2017-05-09 17:50:58,2017-05-09 16:43:44,01:07:14,01:17:27,-1 days +23:29:53,-25.511621,-49.324356,-25.500627,-49.351774
28,623225.0,1947,True,1,1,639,GA177,GA177,1.0,1.0,...,31026,2017-05-09 05:20:00,2017-05-09 05:15:47,00:04:13,00:00:24,00:15:03,-25.538180,-49.294743,-25.512969,-49.294833
29,623225.0,1947,False,1,3,550,HE705,GA177,1.0,1.0,...,25502,2017-05-09 05:49:14,2017-05-09 05:36:59,00:12:15,01:09:06,-1 days +23:26:45,-25.512105,-49.294667,-25.447431,-49.263825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,3828396.0,277179,True,6,1,712,HA613,JA012,1.0,1.0,...,33857,2017-05-09 05:46:09,2017-05-09 05:38:31,00:07:38,00:26:25,00:07:50,-25.491793,-49.335509,-25.512101,-49.332374
4971,3828396.0,277179,True,9,1,712,HA238,JA012,1.0,1.0,...,33857,2017-05-09 05:56:46,2017-05-09 05:51:20,00:05:26,00:39:01,00:08:03,-25.491793,-49.335509,-25.512101,-49.332374
4972,3828396.0,277179,True,10,1,712,JA012,JA012,2.0,1.0,...,33857,2017-05-09 06:08:37,2017-05-09 06:01:45,00:06:52,00:49:53,00:07:36,-25.491793,-49.335509,-25.512101,-49.332374
4973,3832461.0,279304,True,2,1,646,HA023,HA023,1.0,1.0,...,31032,2017-05-09 05:25:00,2017-05-09 05:25:17,00:00:17,00:00:56,00:38:41,-25.593119,-49.331692,-25.512955,-49.295000
4974,3832461.0,279304,False,2,3,040,HA617,HA023,1.0,1.0,...,35463,2017-05-09 05:53:26,2017-05-09 05:43:15,00:10:11,00:37:29,00:18:14,-25.513203,-49.295115,-25.504977,-49.328406
4975,3832461.0,279304,True,5,1,646,HA609,HA023,1.0,1.0,...,31032,2017-05-09 05:43:00,2017-05-09 05:43:11,00:00:11,00:17:41,00:37:58,-25.593119,-49.331692,-25.512955,-49.295000
4976,3832461.0,279304,False,5,3,040,GB603,HA023,1.0,1.0,...,35463,2017-05-09 06:11:24,2017-05-09 06:06:54,00:04:30,01:05:27,00:13:55,-25.513203,-49.295115,-25.504977,-49.328406
4977,3832461.0,279304,True,7,1,646,HA285,HA023,1.0,1.0,...,32042,2017-05-09 05:50:13,2017-05-09 05:45:27,00:04:46,00:35:40,00:22:15,-25.593119,-49.331692,-25.536585,-49.301261
4978,3832461.0,279304,False,7,3,545,GR408,HA023,1.0,1.0,...,33850,2017-05-09 06:11:13,2017-05-09 06:09:46,00:01:27,01:02:09,00:20:05,-25.536449,-49.301536,-25.504091,-49.334712
4979,3832461.0,279304,True,10,1,646,HA265,HA023,1.0,1.0,...,31032,2017-05-09 06:19:00,2017-05-09 06:19:42,00:00:42,00:54:41,00:37:29,-25.593119,-49.331692,-25.512955,-49.295000
4980,3832461.0,279305,True,1,1,040,BB615,BB615,5.0,5.0,...,31029,2017-05-09 16:30:00,2017-05-09 16:35:10,00:05:10,00:00:56,00:24:12,-25.504958,-49.328674,-25.513203,-49.295115
4981,3832461.0,279305,False,1,3,646,HA285,BB615,9.0,5.0,...,40252,2017-05-09 17:15:50,2017-05-09 17:15:55,00:00:05,00:32:16,00:31:45,-25.512955,-49.295000,-25.593129,-49.331810
4982,3832461.0,279305,True,4,1,040,LC506,BB615,4.0,5.0,...,31029,2017-05-09 16:44:00,2017-05-09 16:45:15,00:01:15,00:15:35,00:17:46,-25.504958,-49.328674,-25.513203,-49.295115
4983,3832461.0,279305,False,4,3,646,HA265,BB615,9.0,5.0,...,40252,2017-05-09 17:33:43,2017-05-09 17:46:44,00:13:01,00:59:18,00:35:32,-25.512955,-49.295000,-25.593129,-49.331810
4984,3832461.0,279305,True,9,1,040,MB604,BB615,10.0,5.0,...,31029,2017-05-09 17:44:00,2017-05-09 17:51:53,00:07:53,01:14:24,00:25:35,-25.504958,-49.328674,-25.513203,-49.295115
4985,3832461.0,279305,False,9,3,646,HA023,BB615,11.0,5.0,...,40252,2017-05-09 18:24:31,2017-05-09 18:06:50,00:17:41,01:24:35,00:30:21,-25.512955,-49.295000,-25.593129,-49.331810
4986,3832461.0,279305,True,10,1,040,JB606,BB615,5.0,5.0,...,31029,2017-05-09 17:51:00,2017-05-09 18:01:25,00:10:25,01:23:59,00:25:32,-25.504958,-49.328674,-25.513203,-49.295115
4987,3832461.0,279305,False,10,3,684,HA608,BB615,4.0,5.0,...,39373,2017-05-09 18:34:00,2017-05-09 18:32:25,00:01:35,01:48:15,00:32:16,-25.512968,-49.295305,-25.592580,-49.332110
4988,3835934.0,280808,True,1,1,649,GA132,GA132,1.0,1.0,...,31022,2017-05-09 05:24:00,2017-05-09 05:21:43,00:02:17,00:00:19,00:14:51,-25.528095,-49.284345,-25.512483,-49.294847
4989,3835934.0,280808,False,1,3,204,BL314,GA132,1.0,1.0,...,26239,2017-05-09 05:41:13,2017-05-09 06:36:19,00:55:06,01:18:13,00:10:55,-25.512983,-49.294505,-25.476439,-49.292220
4990,3835934.0,280808,False,1,5,612,HA251,GA132,1.0,1.0,...,32663,2017-05-09 05:57:25,2017-05-09 05:12:17,00:45:08,00:37:32,-1 days +23:27:34,-25.476144,-49.292507,-25.483020,-49.316874
4991,3835934.0,280808,True,3,1,649,GA180,GA132,1.0,1.0,...,31022,2017-05-09 05:40:00,2017-05-09 05:35:30,00:04:30,00:17:52,00:10:27,-25.528095,-49.284345,-25.512483,-49.294847
4992,3835934.0,280808,False,3,3,204,BL314,GA132,1.0,1.0,...,26239,2017-05-09 05:53:13,2017-05-09 06:36:19,00:43:06,01:18:13,00:10:55,-25.512983,-49.294505,-25.476439,-49.292220
4993,3835934.0,280808,False,3,5,612,HA250,GA132,1.0,1.0,...,32663,2017-05-09 06:08:25,2017-05-09 05:32:47,00:35:38,01:02:10,-1 days +23:23:26,-25.476144,-49.292507,-25.483020,-49.316874
4994,3835934.0,280808,True,10,1,649,GA176,GA132,1.0,1.0,...,31022,2017-05-09 05:56:00,2017-05-09 05:51:50,00:04:10,00:32:36,00:12:03,-25.528095,-49.284345,-25.512483,-49.294847
4995,3835934.0,280809,True,1,1,612,HA251,HA251,11.0,11.0,...,28389,2017-05-09 14:40:00,2017-05-09 14:36:40,00:03:20,00:00:06,00:11:56,-25.483312,-49.316742,-25.476144,-49.292507
4996,3835934.0,280809,False,1,3,602,HR042,HA251,7.0,11.0,...,26297,2017-05-09 15:04:00,2017-05-09 15:00:47,00:03:13,00:21:52,00:14:05,-25.476410,-49.292681,-25.512315,-49.295636
4997,3835934.0,280809,True,7,1,612,HA250,HA251,11.0,11.0,...,28389,2017-05-09 15:08:00,2017-05-09 15:01:49,00:06:11,00:25:26,00:11:33,-25.483312,-49.316742,-25.476144,-49.292507
4998,3835934.0,280809,False,7,3,204,BL319,HA251,5.0,11.0,...,26252,2017-05-09 15:27:00,2017-05-09 15:24:29,00:02:31,00:46:51,00:12:48,-25.476163,-49.292921,-25.512983,-49.294505
4999,3835934.0,280809,False,7,5,633,GA159,HA251,13.0,11.0,...,36115,2017-05-09 15:45:30,2017-05-09 16:00:28,00:14:58,01:19:38,00:16:00,-25.512342,-49.294850,-25.524212,-49.285937

In [81]:
otp_buste_itineraries = otp_legs_buste_data \
                            .groupby(['cardNum','user_trip_id','itinerary_id']) \
                            .agg({'from_stop_id': lambda x: x.iloc[0], 
                                  'matched_start_time': lambda x: x.iloc[0], 
                                  'from_stop_lat': lambda x: x.iloc[0], 
                                  'from_stop_lon': lambda x: x.iloc[0],
                                  'to_stop_id': lambda x: x.iloc[-1], 
                                  'matched_end_time': lambda x: x.iloc[-1], 
                                  'to_stop_lat': lambda x: x.iloc[-1], 
                                  'to_stop_lon': lambda x: x.iloc[-1],
                                  'leg_id': lambda x: len(x),
                                  'first_vehicle_boarding' : lambda x: x.any()}) \
                            .rename(index=str, columns={'leg_id':'num_transfers','first_vehicle_boarding':'vehicle_boarding'}) \
                            .add_prefix('match_') \
                            .reset_index() \
                            .assign(cardNum = lambda x: x['cardNum'].astype(float),
                                    user_trip_id = lambda x: x['user_trip_id'].astype(int),
                                    itinerary_id = lambda x: x['itinerary_id'].astype(int))

In [82]:
otp_buste_itineraries_summary = otp_buste_itineraries \
                            .merge(otp_legs_suggestions_matches.drop_duplicates(subset=['cardNum','user_trip_id','itinerary_id']), on=['cardNum','user_trip_id','itinerary_id'], how='inner') \
                            [['cardNum', 'user_trip_id', 'itinerary_id',
                                  'match_from_stop_id', 'match_matched_start_time', 'o_boarding_datetime',
                                  'match_from_stop_lat', 'match_from_stop_lon', 'o_stop_lat', 'o_stop_lon',
                                  'match_to_stop_id', 'match_matched_end_time', 'next_o_boarding_datetime',
                                  'match_to_stop_lat', 'match_to_stop_lon', 'next_o_stop_lat', 'next_o_stop_lon','match_num_transfers', 'match_vehicle_boarding']] \
                            .assign(start_diff = lambda x: np.absolute(x['match_matched_start_time'] - x['o_boarding_datetime']),
                                    trip_duration = lambda x: x['match_matched_end_time'] - x['match_matched_start_time'],
                                    origin_dist = lambda x: dist(x['match_from_stop_lat'], x['match_from_stop_lon'], x['o_stop_lat'], x['o_stop_lon']),
                                    next_origin_dist = lambda x: dist(x['match_to_stop_lat'], x['match_to_stop_lon'], x['next_o_stop_lat'], x['next_o_stop_lon'])) \
                            .sort_values(['cardNum','user_trip_id'])

/local/tarciso/programs/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in arccos
  """

In [83]:
otp_buste_itineraries_summary.head()

,cardNum,user_trip_id,itinerary_id,match_from_stop_id,match_matched_start_time,o_boarding_datetime,match_from_stop_lat,match_from_stop_lon,o_stop_lat,o_stop_lon,...,match_to_stop_lat,match_to_stop_lon,next_o_stop_lat,next_o_stop_lon,match_num_transfers,match_vehicle_boarding,next_origin_dist,origin_dist,start_diff,trip_duration
0,568690.0,1496,2,34486.0,2017-05-09 05:03:32,2017-05-09 05:04:34,-25.373245,-49.244344,-25.373245,-49.244344,...,-25.451980,-49.362003,-25.451781,-49.361863,4,True,0.026183,0.0,00:01:02,01:26:26
1,568690.0,1496,4,34486.0,2017-05-09 05:45:57,2017-05-09 05:04:34,-25.373245,-49.244344,-25.373245,-49.244344,...,-25.449626,-49.353856,-25.451781,-49.361863,4,True,0.838850,0.0,00:41:23,01:02:03
2,618552.0,1869,2,36174.0,2017-05-09 05:02:18,2017-05-09 05:03:17,-25.500684,-49.351664,-25.500684,-49.351664,...,-25.426190,-49.248740,-25.426190,-49.248740,3,True,0.000000,0.0,00:00:59,01:11:48
3,618552.0,1869,4,36174.0,2017-05-09 05:22:45,2017-05-09 05:03:17,-25.500684,-49.351664,-25.500684,-49.351664,...,-25.426190,-49.248740,-25.426190,-49.248740,3,True,0.000000,0.0,00:19:28,01:06:17
4,618552.0,1869,5,36174.0,2017-05-09 05:22:45,2017-05-09 05:03:17,-25.500684,-49.351664,-25.500684,-49.351664,...,-25.427824,-49.249283,-25.426190,-49.248740,4,True,0.189657,0.0,00:19:28,01:20:24

In [84]:
otp_buste_itineraries_summary.origin_dist.describe(percentiles=[.25,.5,.75,.9,.95,.99])

count    2248.000000
mean        0.141070
std         0.974008
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
90%         0.003530
95%         0.042670
99%         5.076601
max        12.529589
Name: origin_dist, dtype: float64

In [85]:
len(otp_buste_itineraries_summary)

2287

In [86]:
otp_buste_itineraries_summary.match_vehicle_boarding.describe()

count     2287
unique       2
top       True
freq      2007
Name: match_vehicle_boarding, dtype: object

In [87]:
otp_buste_itineraries_summary.drop_duplicates('user_trip_id').match_vehicle_boarding.value_counts()

True     487
False    243
Name: match_vehicle_boarding, dtype: int64

In [88]:
otp_buste_itineraries_filtered = otp_buste_itineraries_summary[((otp_buste_itineraries_summary['trip_duration'] > pd.Timedelta('0s')) & (otp_buste_itineraries_summary['trip_duration'] < pd.Timedelta('2h'))) &
                                                               ((otp_buste_itineraries_summary['start_diff'] > pd.Timedelta('0s')) & (otp_buste_itineraries_summary['start_diff'] < pd.Timedelta('1.5h')))] \
                                    .query('origin_dist < 0.1') \
                                    .query('next_origin_dist < 2.0')

In [89]:
otp_buste_itineraries_penalty = otp_buste_itineraries_filtered \
                                    .assign(penalty = lambda x: 2*x['start_diff'].dt.total_seconds() + x['trip_duration'].dt.total_seconds() + x['match_num_transfers']*10) \
                                    [['cardNum','user_trip_id','itinerary_id','match_num_transfers','match_vehicle_boarding','next_origin_dist','origin_dist','start_diff','trip_duration','penalty']] \
                                    .sort_values(['user_trip_id','penalty'], ascending=True)

In [90]:
otp_buste_itineraries_penalty.head()

,cardNum,user_trip_id,itinerary_id,match_num_transfers,match_vehicle_boarding,next_origin_dist,origin_dist,start_diff,trip_duration,penalty
0,568690.0,1496,2,4,True,0.026183,0.0,00:01:02,01:26:26,5350.0
1,568690.0,1496,4,4,True,0.838850,0.0,00:41:23,01:02:03,8729.0
2,618552.0,1869,2,3,True,0.000000,0.0,00:00:59,01:11:48,4456.0
3,618552.0,1869,4,3,True,0.000000,0.0,00:19:28,01:06:17,6343.0
4,618552.0,1869,5,4,True,0.189657,0.0,00:19:28,01:20:24,7200.0

In [91]:
chosen_itineraries = otp_buste_itineraries_penalty.groupby(['user_trip_id']).first().reset_index()

In [92]:
len(chosen_itineraries)

644

In [93]:
chosen_itineraries.head()

,user_trip_id,cardNum,itinerary_id,match_num_transfers,match_vehicle_boarding,next_origin_dist,origin_dist,start_diff,trip_duration,penalty
0,1496,568690.0,2,4,True,0.026183,0.0,00:01:02,01:26:26,5350.0
1,1869,618552.0,2,3,True,0.000000,0.0,00:00:59,01:11:48,4456.0
2,1870,618552.0,6,3,True,0.012721,0.0,00:11:02,00:36:18,3532.0
3,1947,623225.0,1,2,True,0.005337,0.0,00:00:24,00:36:15,2243.0
4,2028,635030.0,1,3,True,1.096995,0.0,00:00:51,00:40:58,2590.0

In [94]:
chosen_itineraries = chosen_itineraries[(np.logical_not(chosen_itineraries['match_vehicle_boarding'])) | ((chosen_itineraries['match_vehicle_boarding']) & (chosen_itineraries['start_diff'] < pd.Timedelta('20 min')))]

In [95]:
len(chosen_itineraries)

586

In [96]:
chosen_itineraries.describe(percentiles=[.25,.5,.75,.9,.95,.99])

,user_trip_id,cardNum,itinerary_id,match_num_transfers,next_origin_dist,origin_dist,start_diff,trip_duration,penalty
count,586.000000,5.860000e+02,586.000000,586.000000,586.000000,586.000000,586,586,586.000000
mean,116640.546075,2.661931e+06,1.733788,2.296928,0.171921,0.005894,0 days 00:06:36.515358,0 days 00:54:03.571672,4059.571672
std,81136.946512,9.031234e+05,1.325922,0.810544,0.281732,0.016516,0 days 00:11:53.775487,0 days 00:29:08.340393,1973.397693
min,1496.000000,5.686900e+05,1.000000,1.000000,0.000000,0.000000,0 days 00:00:01,0 days 00:00:14,204.000000
25%,46667.500000,2.030924e+06,1.000000,2.000000,0.008472,0.000000,0 days 00:00:19,0 days 00:28:11.500000,2590.250000
50%,102828.500000,2.746774e+06,1.000000,2.000000,0.034724,0.000000,0 days 00:00:59,0 days 00:54:18,4029.000000
75%,184419.750000,3.523690e+06,2.000000,3.000000,0.226465,0.001339,0 days 00:08:04.250000,0 days 01:15:22.750000,5232.000000
90%,239852.500000,3.747450e+06,3.000000,3.000000,0.559183,0.018954,0 days 00:18:38.500000,0 days 01:31:02.500000,6637.500000
95%,254917.250000,3.785365e+06,5.000000,4.000000,0.781840,0.043591,0 days 00:29:01.500000,0 days 01:45:59.750000,7641.000000
99%,273826.100000,3.822110e+06,7.000000,4.000000,1.385745,0.084842,0 days 00:57:55.799999,0 days 01:58:28.849999,9094.550000
max,280808.000000,3.835934e+06,8.000000,5.000000,1.759295,0.086739,0 days 01:14:38,0 days 01:59:44,10690.000000

In [97]:
chosen_itineraries.head()

,user_trip_id,cardNum,itinerary_id,match_num_transfers,match_vehicle_boarding,next_origin_dist,origin_dist,start_diff,trip_duration,penalty
0,1496,568690.0,2,4,True,0.026183,0.0,00:01:02,01:26:26,5350.0
1,1869,618552.0,2,3,True,0.000000,0.0,00:00:59,01:11:48,4456.0
2,1870,618552.0,6,3,True,0.012721,0.0,00:11:02,00:36:18,3532.0
3,1947,623225.0,1,2,True,0.005337,0.0,00:00:24,00:36:15,2243.0
4,2028,635030.0,1,3,True,1.096995,0.0,00:00:51,00:40:58,2590.0

In [98]:
chosen_itineraries.dtypes

user_trip_id                        int64
cardNum                           float64
itinerary_id                        int64
match_num_transfers                 int64
match_vehicle_boarding               bool
next_origin_dist                  float64
origin_dist                       float64
start_diff                timedelta64[ns]
trip_duration             timedelta64[ns]
penalty                           float64
dtype: object

In [99]:
otp_legs_buste_data.head()

,cardNum,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,...,to_stop_id,otp_end_time,matched_end_time,otp_buste_end_timediff,boarding_otp_match_start_timediff,leg_duration,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,568690.0,1496,True,2,1,226,BA140,BA140,1.0,1.0,...,30452,2017-05-09 05:20:00,2017-05-09 05:14:02,00:05:58,00:01:02,00:10:30,-25.373245,-49.244344,-25.393259,-49.240989
1,568690.0,1496,False,2,3,203,BD131,BA140,1.0,1.0,...,25389,2017-05-09 05:45:54,2017-05-09 05:47:45,00:01:51,00:21:34,00:21:37,-25.393517,-49.240616,-25.437593,-49.266727
2,568690.0,1496,False,2,4,303,DE701,BA140,1.0,1.0,...,26195,2017-05-09 06:20:00,2017-05-09 06:14:56,00:05:04,00:40:04,00:30:18,-25.437593,-49.266727,-25.441720,-49.346978
3,568690.0,1496,False,2,6,732,JA024,BA140,1.0,1.0,...,33185,2017-05-09 06:30:19,2017-05-09 06:29:58,00:00:21,01:14:08,00:11:16,-25.441531,-49.346711,-25.451980,-49.362003
4,568690.0,1496,True,4,1,226,BA140,BA140,2.0,1.0,...,30452,2017-05-09 05:44:00,2017-05-09 06:03:33,00:19:33,00:41:23,00:17:36,-25.373245,-49.244344,-25.393259,-49.240989

In [100]:
otp_legs_buste_data.dtypes

cardNum                                      float64
user_trip_id                                   int64
first_vehicle_boarding                          bool
itinerary_id                                   int64
leg_id                                         int64
route                                         object
busCode                                       object
o_busCode                                     object
tripNum                                      float64
o_tripNum                                    float64
from_stop_id                                  object
otp_start_time                        datetime64[ns]
matched_start_time                    datetime64[ns]
o_boarding_datetime                   datetime64[ns]
otp_buste_start_timediff             timedelta64[ns]
to_stop_id                                    object
otp_end_time                          datetime64[ns]
matched_end_time                      datetime64[ns]
otp_buste_end_timediff               timedelta64[ns]
boarding_otp_match_start_timediff    timedelta64[ns]
leg_duration                         timedelta64[ns]
from_stop_lat                                float64
from_stop_lon                                float64
to_stop_lat                                  float64
to_stop_lon                                  float64
dtype: object

In [101]:
otp_legs_buste_data.head()

,cardNum,user_trip_id,first_vehicle_boarding,itinerary_id,leg_id,route,busCode,o_busCode,tripNum,o_tripNum,...,to_stop_id,otp_end_time,matched_end_time,otp_buste_end_timediff,boarding_otp_match_start_timediff,leg_duration,from_stop_lat,from_stop_lon,to_stop_lat,to_stop_lon
0,568690.0,1496,True,2,1,226,BA140,BA140,1.0,1.0,...,30452,2017-05-09 05:20:00,2017-05-09 05:14:02,00:05:58,00:01:02,00:10:30,-25.373245,-49.244344,-25.393259,-49.240989
1,568690.0,1496,False,2,3,203,BD131,BA140,1.0,1.0,...,25389,2017-05-09 05:45:54,2017-05-09 05:47:45,00:01:51,00:21:34,00:21:37,-25.393517,-49.240616,-25.437593,-49.266727
2,568690.0,1496,False,2,4,303,DE701,BA140,1.0,1.0,...,26195,2017-05-09 06:20:00,2017-05-09 06:14:56,00:05:04,00:40:04,00:30:18,-25.437593,-49.266727,-25.441720,-49.346978
3,568690.0,1496,False,2,6,732,JA024,BA140,1.0,1.0,...,33185,2017-05-09 06:30:19,2017-05-09 06:29:58,00:00:21,01:14:08,00:11:16,-25.441531,-49.346711,-25.451980,-49.362003
4,568690.0,1496,True,4,1,226,BA140,BA140,2.0,1.0,...,30452,2017-05-09 05:44:00,2017-05-09 06:03:33,00:19:33,00:41:23,00:17:36,-25.373245,-49.244344,-25.393259,-49.240989

In [102]:
od_trips = chosen_itineraries.merge(otp_legs_buste_data, on=['cardNum','user_trip_id','itinerary_id'], how='inner') \
        [['cardNum','user_trip_id','itinerary_id','leg_id','route','busCode','tripNum','from_stop_id','matched_start_time','from_stop_lat','from_stop_lon','to_stop_id','matched_end_time','to_stop_lat','to_stop_lon','leg_duration']] \
        .rename(index=str, columns={'matched_start_time':'start_time','matched_end_time':'end_time'})

In [103]:
od_trips.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration
0,568690.0,1496,2,1,226,BA140,1.0,34486,2017-05-09 05:03:32,-25.373245,-49.244344,30452,2017-05-09 05:14:02,-25.393259,-49.240989,00:10:30
1,568690.0,1496,2,3,203,BD131,1.0,26190,2017-05-09 05:26:08,-25.393517,-49.240616,25389,2017-05-09 05:47:45,-25.437593,-49.266727,00:21:37
2,568690.0,1496,2,4,303,DE701,1.0,25389,2017-05-09 05:44:38,-25.437593,-49.266727,26195,2017-05-09 06:14:56,-25.441720,-49.346978,00:30:18
3,568690.0,1496,2,6,732,JA024,1.0,31002,2017-05-09 06:18:42,-25.441531,-49.346711,33185,2017-05-09 06:29:58,-25.451980,-49.362003,00:11:16
4,618552.0,1869,2,1,653,HA270,1.0,36174,2017-05-09 05:02:18,-25.500684,-49.351664,30435,2017-05-09 05:17:17,-25.511621,-49.324356,00:14:59