In [83]:
import pandas as pd
import numpy as np
import geopandas
import shapely.geometry as geom
import seaborn as sns
%matplotlib inline

## Reading and Preparing Estimated Trips data

In [5]:
est_trips_data = pd.read_csv('/local/tarciso/data/estimated-trips/full/2017_05_01_full_od_trips.csv', parse_dates=['start_time','end_time','leg_duration'])

In [6]:
est_trips_data.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration
0,3823073.0,28150,1,1,827,BC929,12.0,33788.0,2017-05-01 13:35:18,-25.436303,-49.362221,30993.0,2017-05-01 13:44:14,-25.441705,-49.346328,0 days 00:08:56.000000000
1,3823073.0,28150,1,3,303,DE722,4.0,26195.0,2017-05-01 14:02:48,-25.441720,-49.346978,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,0 days 00:09:22.000000000
2,3807165.0,28153,1,2,304,LL304,5.0,26215.0,2017-05-01 13:36:19,-25.440024,-49.221371,26282.0,2017-05-01 14:01:29,-25.435742,-49.307359,0 days 00:25:10.000000000
3,2715287.0,28154,1,1,684,HA298,11.0,39378.0,2017-05-01 13:35:38,-25.585230,-49.337210,31053.0,2017-05-01 14:01:41,-25.513098,-49.295303,0 days 00:26:03.000000000
4,2715287.0,28154,1,3,603,HD250,6.0,26296.0,2017-05-01 14:07:27,-25.512252,-49.295580,25521.0,2017-05-01 14:32:45,-25.442988,-49.280469,0 days 00:25:18.000000000

### Group trip legs into a single record

In [7]:
est_trips_data.dtypes

cardNum                 float64
user_trip_id              int64
itinerary_id              int64
leg_id                    int64
route                     int64
busCode                  object
tripNum                 float64
from_stop_id            float64
start_time       datetime64[ns]
from_stop_lat           float64
from_stop_lon           float64
to_stop_id              float64
end_time         datetime64[ns]
to_stop_lat             float64
to_stop_lon             float64
leg_duration             object
dtype: object

In [9]:
est_trips_data['date'] = est_trips_data['start_time'].dt.date

In [10]:
est_trips_data.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration,date
0,3823073.0,28150,1,1,827,BC929,12.0,33788.0,2017-05-01 13:35:18,-25.436303,-49.362221,30993.0,2017-05-01 13:44:14,-25.441705,-49.346328,0 days 00:08:56.000000000,2017-05-01
1,3823073.0,28150,1,3,303,DE722,4.0,26195.0,2017-05-01 14:02:48,-25.441720,-49.346978,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,0 days 00:09:22.000000000,2017-05-01
2,3807165.0,28153,1,2,304,LL304,5.0,26215.0,2017-05-01 13:36:19,-25.440024,-49.221371,26282.0,2017-05-01 14:01:29,-25.435742,-49.307359,0 days 00:25:10.000000000,2017-05-01
3,2715287.0,28154,1,1,684,HA298,11.0,39378.0,2017-05-01 13:35:38,-25.585230,-49.337210,31053.0,2017-05-01 14:01:41,-25.513098,-49.295303,0 days 00:26:03.000000000,2017-05-01
4,2715287.0,28154,1,3,603,HD250,6.0,26296.0,2017-05-01 14:07:27,-25.512252,-49.295580,25521.0,2017-05-01 14:32:45,-25.442988,-49.280469,0 days 00:25:18.000000000,2017-05-01

In [ ]:
def select_trip_start():

In [31]:
summarized_trips = est_trips_data.groupby(['cardNum','date','user_trip_id']).agg({'start_time': 'first',
                                                                                  'from_stop_id': 'first',
                                                                                  'from_stop_lat': 'first',
                                                                                  'from_stop_lon': 'first',
                                                                                  'end_time': 'last',
                                                                                  'to_stop_id': 'last',
                                                                                  'to_stop_lat': 'last',
                                                                                  'to_stop_lon': 'last'}) \
                                .reset_index()

In [32]:
summarized_trips.head(10)

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,to_stop_lon
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,-49.272818
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,-49.256690
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,-49.277851
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,-49.270049
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,-49.271456
5,338164.0,2017-05-01,17324,2017-05-01 11:12:45,33116.0,-25.401112,-49.329953,2017-05-01 11:37:42,29598.0,-25.428422,-49.273006
6,344357.0,2017-05-01,44906,2017-05-01 16:39:35,25554.0,-25.437670,-49.266682,2017-05-01 17:01:56,26193.0,-25.393661,-49.240634
7,352491.0,2017-05-01,54296,2017-05-01 18:15:57,26281.0,-25.401281,-49.329734,2017-05-01 18:36:55,25896.0,-25.429243,-49.271788
8,352491.0,2017-05-01,67727,2017-05-01 21:32:59,25730.0,-25.441207,-49.275853,2017-05-01 22:33:00,33133.0,-25.400786,-49.330491
9,357578.0,2017-05-01,45171,2017-05-01 16:40:28,25646.0,-25.435618,-49.256635,2017-05-01 16:44:48,25389.0,-25.437593,-49.266727

## Performing spatial join between the trips origin/destination locations and the city zones

### Reading and Preparing Zones data

#### Reading Zones Shape data

In [64]:
zones_shp = fix_col_names(geopandas.GeoDataFrame.from_file('/local/tarciso/data/pesquisa-od-ctba/shapefiles/181zonas.shp'))

In [65]:
zones_shp

,objectid,nm_municip,codigo_zon,viagens_ge,viagens_at,densidade_,shape_leng,shape_area,geometry
0,1,ALMIRANTE TAMANDARÃ,101,9299,7984,880,0.318461,0.002693,POLYGON ((-49.29741553499997 -25.2822542629999...
1,2,ALMIRANTE TAMANDARÃ,102,5057,2185,99,0.747371,0.011053,POLYGON ((-49.28261024699998 -25.2283294099999...
2,3,ALMIRANTE TAMANDARÃ,103,11854,9889,1376,0.224234,0.002410,POLYGON ((-49.29659437999993 -25.3252657799999...
3,4,ALMIRANTE TAMANDARÃ,104,21316,10214,4343,0.205634,0.001301,POLYGON ((-49.27108138899996 -25.3133959639999...
4,5,ARAUCÃRIA,111,12954,16097,1344,0.319583,0.002828,POLYGON ((-49.33834275899994 -25.5150800969999...
5,6,ARAUCÃRIA,112,3334,1370,31,1.452795,0.035111,POLYGON ((-49.43590847299998 -25.4806931729999...
6,7,ARAUCÃRIA,113,35395,32825,2881,0.405151,0.004230,POLYGON ((-49.34288563799998 -25.5577095339999...
7,8,BOCAIÃVA DO SUL,121,5386,4496,23,2.562361,0.073963,POLYGON ((-48.57523350799994 -24.9153968819999...
8,9,CAMPINA GRANDE DO SUL,131,12299,13010,1137,0.290286,0.003735,POLYGON ((-49.11864120699994 -25.3044373429999...
9,10,CAMPINA GRANDE DO SUL,132,4773,2720,34,2.446912,0.044558,POLYGON ((-48.62802764899993 -25.0017790979999...
10,11,CAMPO LARGO,141,3551,1521,11,2.246350,0.089943,POLYGON ((-49.61065529599995 -24.9786641019999...
11,12,CAMPO LARGO,142,31951,30520,856,0.757611,0.012609,POLYGON ((-49.51102736899998 -25.3876828479999...
12,13,CAMPO LARGO,143,6790,3096,258,0.649725,0.009463,POLYGON ((-49.46584848799995 -25.3766408449999...
13,14,CAMPO MAGRO,151,3166,3361,54,0.976864,0.021034,POLYGON ((-49.55631976099994 -25.1784143489999...
14,15,CAMPO MAGRO,152,5484,1421,562,0.308753,0.003647,POLYGON ((-49.35315324399994 -25.3417869419999...
15,16,COLOMBO,161,19100,16138,9978,0.124430,0.000648,POLYGON ((-49.17552194499996 -25.3897621129999...
16,17,COLOMBO,162,6684,3658,400,0.389053,0.004457,POLYGON ((-49.14858460699998 -25.2646332689999...
17,18,COLOMBO,163,11647,9534,372,0.496267,0.008472,POLYGON ((-49.23481899499996 -25.2318008929999...
18,19,COLOMBO,164,15757,11207,5579,0.151630,0.000905,POLYGON ((-49.22419731399998 -25.3236539959999...
19,20,COLOMBO,165,11984,9622,2179,0.185530,0.001629,POLYGON ((-49.14032486899998 -25.3455766819999...
20,21,COLOMBO,166,14080,9182,9947,0.113466,0.000519,POLYGON ((-49.18841185299993 -25.3490896759999...
21,22,COLOMBO,167,11593,7648,6703,0.119842,0.000614,POLYGON ((-49.14755491199998 -25.3368368199999...
22,23,COLOMBO,168,8017,5349,5513,0.119964,0.000487,POLYGON ((-49.18328675399994 -25.3390628049999...
23,24,CONTENDA,171,5538,3698,72,1.047540,0.026897,POLYGON ((-49.55245330199995 -25.5929290999999...
24,25,FAZENDA RIO GRANDE,181,7430,4352,952,0.444258,0.002603,POLYGON ((-49.31494898099999 -25.6259456449999...
25,26,FAZENDA RIO GRANDE,182,11650,7457,662,0.585971,0.006603,POLYGON ((-49.28312558199997 -25.6126775149999...
26,27,FAZENDA RIO GRANDE,183,8255,6021,8443,0.098802,0.000355,POLYGON ((-49.31321564399997 -25.6336887839999...
27,28,FAZENDA RIO GRANDE,184,6781,6105,2007,0.131963,0.000929,POLYGON ((-49.30572675299993 -25.6276648759999...
28,29,ITAPERUÃU,191,10374,6876,116,1.348045,0.028149,POLYGON ((-49.57113439599993 -24.9636652679999...
29,30,MANDIRITUBA,201,10405,8863,91,1.391775,0.034140,POLYGON ((-49.35356473999997 -25.6745260629999...
...,...,...,...,...,...,...,...,...,...
151,152,CURITIBA,927,6997,4633,13673,0.064261,0.000146,POLYGON ((-49.25727972199996 -25.5584800339999...
152,153,CURITIBA,931,3365,5674,4242,0.075788,0.000275,POLYGON ((-49.31320332199994 -25.5171504909999...
153,154,CURITIBA,932,3672,2115,11931,0.070823,0.000181,POLYGON ((-49.27004848399997 -25.5219289579999...
154,155,CURITIBA,933,6412,7595,6981,0.072503,0.000266,POLYGON ((-49.29216019999996 -25.5252711569999...
155,156,CURITIBA,934,3699,4171,5423,0.071413,0.000229,POLYGON ((-49.28024037399996 -25.5223110979999...
156,157,CURITIBA,941,1728,340,859,0.135071,0.000669,POLYGON ((-49.37029621999994 -25.4879804749999...
157,158,CURITIBA,951,4710,2223,1426,0.199949,0.000835,POLYGON ((-49.38364367999998 -25.4442704019999...
158,159,CURITIBA,961,153,162,259,0.073414,0.000226,POLYGON ((-49.38708060899995 -25.4415641469999...
159,160,CURITIBA,971,882,1030,437,0.161301,0.000752,POLYGON ((-49.35200869599998 -25.6049535089999...
160,161,CURITIBA,981,16211,8666,2903,0.239853,0.001940,POLYGON ((-49.31136801299994 -25.5707602479999...
161,162,CURITIBA,991,7531,2823,2212,0.176012,0.001035,POLYGON ((-49.24286975099994 -25.5580698589999...
162,163,CURITIBA,1001,9990,6077,1528,0.240954,0.002037,POLYGON ((-49.26883956699999 -25.5603061139999...
163,164,CURITIBA,1011,9338,7116,6670,0.127632,0.000501,POLYGON ((-49.31249142499996 -25.5602095349999...
164,165,CURITIBA,1012,14860,8031,17785,0.069433,0.000244,POLYGON ((-49.33000829999997 -25.5548147839999...
165,166,CURITIBA,1013,3098,3257,3444,0.094462,0.000271,POLYGON ((-49.29954770199998 -25.5434367649999...
166,167,CURITIBA,1020,4699,9816,3930,0.157205,0.000489,POLYGON ((-49.32366029299993 -25.5117207509999...
167,168,CURITIBA,1021,12740,25101,3550,0.140391,0.000793,POLYGON ((-49.35298674699993 -25.4312509639999...
168,169,CURITIBA,1022,8699,3308,11909,0.083788,0.000274,POLYGON ((-49.34179189299994 -25.4554591229999...
169,170,CURITIBA,1023,11133,9250,13586,0.080246,0.000277,POLYGON ((-49.34167447099998 -25.4717400789999...
170,171,CURITIBA,1024,6520,2692,8529,0.084606,0.000211,POLYGON ((-49.35036972399996 -25.4777498379999...
171,172,CURITIBA,1025,16530,16525,9213,0.113847,0.000387,POLYGON ((-49.30745060499999 -25.4978308959999...
172,173,CURITIBA,1026,5076,5281,5475,0.094849,0.000321,POLYGON ((-49.33616014099994 -25.5165806949999...
173,174,CURITIBA,1027,8180,10562,7442,0.103662,0.000328,POLYGON ((-49.32213868099996 -25.4916760469999...
174,175,CURITIBA,1028,4463,5525,2272,0.123942,0.000656,POLYGON ((-49.33858085099996 -25.5344552339999...
175,176,CURITIBA,1029,5311,4381,8318,0.083273,0.000234,POLYGON ((-49.34780711599996 -25.4932208399999...
176,177,CURITIBA,1031,4953,5440,11659,0.058913,0.000124,POLYGON ((-49.23665136799997 -25.4344908119999...
177,178,CURITIBA,1041,5829,4564,12892,0.079807,0.000256,POLYGON ((-49.22556039199998 -25.4791103129999...
178,179,CURITIBA,1042,5233,5591,7623,0.084475,0.000278,POLYGON ((-49.21622039999994 -25.4898610669999...
179,180,CURITIBA,1043,11471,6397,12523,0.092721,0.000321,POLYGON ((-49.19401689699998 -25.4899710559999...
180,181,CURITIBA,1044,9987,7461,7797,0.097426,0.000373,POLYGON ((-49.21447048699997 -25.4674213319999...

#### Reading Zones Metadata

In [66]:
def fix_col_names(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
    return(df)

In [67]:
zones_df = pd.read_csv('/local/tarciso/data/pesquisa-od-ctba/tables/Zoneamento_Modelacao.csv')

In [68]:
zones_df

,OBJECTID,Shape,NM_MUNICIP,Codigo_Zoneamento,Codigo_Modelacao,Codigo_Macrozona,Shape_Length,Shape_Area
0,1,,PR-092,1201,1201,NaN,0.148748,0.001755
1,2,,BR-476,1210,1210,NaN,0.149229,0.001765
2,3,,PR-510,1212,1212,NaN,0.149119,0.001763
3,4,,BR-277/BR-376,1213,1213,NaN,0.149066,0.001762
4,5,,BR-476,1202,1202,NaN,0.148767,0.001755
5,6,,BR-116,1203,1203,NaN,0.148811,0.001756
6,7,,BR-410,1204,1204,NaN,0.148981,0.001760
7,8,,BR-277,1205,1205,NaN,0.149130,0.001763
8,9,,BR-376,1206,1206,NaN,0.149278,0.001766
9,10,,PR-419,1207,1207,NaN,0.149410,0.001769
10,11,,BR-116,1208,1208,NaN,0.149330,0.001767
11,12,,,1211,1211,NaN,0.149156,0.001764
12,13,,,1209,1209,NaN,0.149319,0.001767
13,14,,,1215,1215,NaN,0.148851,0.001757
14,15,,,1216,1216,NaN,0.148778,0.001755
15,16,,ALMIRANTE TAMANDARÉ,101,10101,NaN,0.216462,0.000948
16,17,,ALMIRANTE TAMANDARÉ,101,10102,NaN,0.062799,0.000132
17,18,,ALMIRANTE TAMANDARÉ,101,10103,NaN,0.178425,0.001030
18,19,,ALMIRANTE TAMANDARÉ,101,10104,NaN,0.149389,0.000582
19,20,,ALMIRANTE TAMANDARÉ,102,10201,NaN,0.348475,0.005472
20,21,,ALMIRANTE TAMANDARÉ,102,10202,NaN,0.584209,0.005581
21,22,,ALMIRANTE TAMANDARÉ,103,10301,NaN,0.199582,0.001061
22,23,,ALMIRANTE TAMANDARÉ,103,10302,NaN,0.128262,0.000500
23,24,,ALMIRANTE TAMANDARÉ,103,10303,NaN,0.150090,0.000850
24,25,,ALMIRANTE TAMANDARÉ,104,10401,NaN,0.084388,0.000220
25,26,,ALMIRANTE TAMANDARÉ,104,10402,NaN,0.129563,0.000421
26,27,,ALMIRANTE TAMANDARÉ,104,10403,NaN,0.147588,0.000660
27,28,,ARAUCÁRIA,111,11102,NaN,0.210308,0.001250
28,29,,ARAUCÁRIA,111,11103,NaN,0.157542,0.000660
29,30,,ARAUCÁRIA,111,11104,NaN,0.156209,0.000918
...,...,...,...,...,...,...,...,...
937,938,,CURITIBA,1029,102903,8.0,0.034134,0.000046
938,939,,CURITIBA,1031,103101,1.0,0.016467,0.000017
939,940,,CURITIBA,1031,103102,1.0,0.014978,0.000012
940,941,,CURITIBA,1031,103103,1.0,0.020635,0.000015
941,942,,CURITIBA,1031,103104,1.0,0.026583,0.000021
942,943,,CURITIBA,1031,103105,1.0,0.023248,0.000026
943,944,,CURITIBA,1031,103106,1.0,0.020423,0.000020
944,945,,CURITIBA,1031,103107,1.0,0.015308,0.000013
945,946,,CURITIBA,1041,104101,3.0,0.035721,0.000049
946,947,,CURITIBA,1041,104102,3.0,0.027195,0.000027
947,948,,CURITIBA,1041,104103,3.0,0.025894,0.000041
948,949,,CURITIBA,1041,104104,3.0,0.033572,0.000068
949,950,,CURITIBA,1041,104105,3.0,0.037220,0.000072
950,951,,CURITIBA,1042,104201,3.0,0.047523,0.000097
951,952,,CURITIBA,1042,104202,3.0,0.035542,0.000056
952,953,,CURITIBA,1042,104203,3.0,0.034151,0.000060
953,954,,CURITIBA,1042,104204,3.0,0.023347,0.000029
954,955,,CURITIBA,1042,104205,3.0,0.026478,0.000037
955,956,,CURITIBA,1043,104301,3.0,0.035259,0.000052
956,957,,CURITIBA,1043,104302,3.0,0.024540,0.000039
957,958,,CURITIBA,1043,104303,3.0,0.042610,0.000105
958,959,,CURITIBA,1043,104304,3.0,0.029801,0.000055
959,960,,CURITIBA,1043,104305,3.0,0.028245,0.000044
960,961,,CURITIBA,1043,104306,3.0,0.029368,0.000027
961,962,,CURITIBA,1044,104401,3.0,0.043778,0.000049
962,963,,CURITIBA,1044,104402,3.0,0.036664,0.000065
963,964,,CURITIBA,1044,104403,3.0,0.038993,0.000063
964,965,,CURITIBA,1044,104404,3.0,0.040549,0.000082
965,966,,CURITIBA,1044,104405,3.0,0.029762,0.000055
966,967,,CURITIBA,1044,104406,3.0,0.032765,0.000059

In [69]:
zones_df = fix_col_names(zones_df)

In [70]:
zones_clean = zones_df.filter(['codigo_zoneamento','codigo_macrozona','nm_municip']).drop_duplicates() \
                    .rename(index=str, columns={'codigo_zoneamento':'cod_zona','codigo_macrozona':'cod_macrozona','nm_municip':'municipio'})

#### Removing unneeded zones (roads/out-of-bounds)

In [71]:
zones_clean = zones_clean[zones_clean['cod_zona'] < 1200]

In [72]:
len(zones_clean)

181

In [73]:
zones_clean

     cod_zona  cod_macrozona              municipio
15        101            NaN    ALMIRANTE TAMANDARÉ
19        102            NaN    ALMIRANTE TAMANDARÉ
21        103            NaN    ALMIRANTE TAMANDARÉ
24        104            NaN    ALMIRANTE TAMANDARÉ
27        111            NaN              ARAUCÁRIA
30        112            NaN              ARAUCÁRIA
32        113            NaN              ARAUCÁRIA
39        121            NaN        BOCAIÚVA DO SUL
41        131            NaN  CAMPINA GRANDE DO SUL
43        132            NaN  CAMPINA GRANDE DO SUL
45        141            NaN            CAMPO LARGO
46        142            NaN            CAMPO LARGO
51        143            NaN            CAMPO LARGO
53        151            NaN            CAMPO MAGRO
54        152            NaN            CAMPO MAGRO
56        161            NaN                COLOMBO
65        162            NaN                COLOMBO
66        163            NaN                COLOMBO
69        164            NaN                COLOMBO
74        165            NaN                COLOMBO
80        166            NaN                COLOMBO
87        167            NaN                COLOMBO
92        168            NaN                COLOMBO
97        171            NaN               CONTENDA
98        181            NaN     FAZENDA RIO GRANDE
101       182            NaN     FAZENDA RIO GRANDE
105       183            NaN     FAZENDA RIO GRANDE
109       184            NaN     FAZENDA RIO GRANDE
113       191            NaN              ITAPERUÇU
114       201            NaN            MANDIRITUBA
..        ...            ...                    ...
839       927            9.0               CURITIBA
842       931            7.0               CURITIBA
846       932            7.0               CURITIBA
852       933            7.0               CURITIBA
859       934            7.0               CURITIBA
865       941            8.0               CURITIBA
867       951            8.0               CURITIBA
869       961            8.0               CURITIBA
870       971           10.0               CURITIBA
871       981           10.0               CURITIBA
876       991            9.0               CURITIBA
879      1001            9.0               CURITIBA
883      1011           10.0               CURITIBA
886      1012           10.0               CURITIBA
890      1013           10.0               CURITIBA
894      1020            8.0               CURITIBA
898      1021            8.0               CURITIBA
907      1022            8.0               CURITIBA
912      1023            8.0               CURITIBA
916      1024            8.0               CURITIBA
919      1025            8.0               CURITIBA
924      1026            8.0               CURITIBA
927      1027            8.0               CURITIBA
932      1028            8.0               CURITIBA
935      1029            8.0               CURITIBA
938      1031            1.0               CURITIBA
945      1041            3.0               CURITIBA
950      1042            3.0               CURITIBA
955      1043            3.0               CURITIBA
961      1044            3.0               CURITIBA

[181 rows x 3 columns]

#### Joining Zones Shape and Metadata

In [74]:
zones_shp.head()

,objectid,nm_municip,codigo_zon,viagens_ge,viagens_at,densidade_,shape_leng,shape_area,geometry
0,1,ALMIRANTE TAMANDARÃ,101,9299,7984,880,0.318461,0.002693,POLYGON ((-49.29741553499997 -25.2822542629999...
1,2,ALMIRANTE TAMANDARÃ,102,5057,2185,99,0.747371,0.011053,POLYGON ((-49.28261024699998 -25.2283294099999...
2,3,ALMIRANTE TAMANDARÃ,103,11854,9889,1376,0.224234,0.002410,POLYGON ((-49.29659437999993 -25.3252657799999...
3,4,ALMIRANTE TAMANDARÃ,104,21316,10214,4343,0.205634,0.001301,POLYGON ((-49.27108138899996 -25.3133959639999...
4,5,ARAUCÃRIA,111,12954,16097,1344,0.319583,0.002828,POLYGON ((-49.33834275899994 -25.5150800969999...

In [75]:
zones_clean.head()

    cod_zona  cod_macrozona            municipio
15       101            NaN  ALMIRANTE TAMANDARÉ
19       102            NaN  ALMIRANTE TAMANDARÉ
21       103            NaN  ALMIRANTE TAMANDARÉ
24       104            NaN  ALMIRANTE TAMANDARÉ
27       111            NaN            ARAUCÁRIA

In [78]:
zones_data = zones_shp.merge(zones_clean, left_on='codigo_zon',right_on='cod_zona') \
                        .filter(['cod_zona','cod_macrozona','municipio','densidade_','geometry'])

In [79]:
zones_data

,cod_zona,cod_macrozona,municipio,densidade_,geometry
0,101,NaN,ALMIRANTE TAMANDARÉ,880,POLYGON ((-49.29741553499997 -25.2822542629999...
1,102,NaN,ALMIRANTE TAMANDARÉ,99,POLYGON ((-49.28261024699998 -25.2283294099999...
2,103,NaN,ALMIRANTE TAMANDARÉ,1376,POLYGON ((-49.29659437999993 -25.3252657799999...
3,104,NaN,ALMIRANTE TAMANDARÉ,4343,POLYGON ((-49.27108138899996 -25.3133959639999...
4,111,NaN,ARAUCÁRIA,1344,POLYGON ((-49.33834275899994 -25.5150800969999...
5,112,NaN,ARAUCÁRIA,31,POLYGON ((-49.43590847299998 -25.4806931729999...
6,113,NaN,ARAUCÁRIA,2881,POLYGON ((-49.34288563799998 -25.5577095339999...
7,121,NaN,BOCAIÚVA DO SUL,23,POLYGON ((-48.57523350799994 -24.9153968819999...
8,131,NaN,CAMPINA GRANDE DO SUL,1137,POLYGON ((-49.11864120699994 -25.3044373429999...
9,132,NaN,CAMPINA GRANDE DO SUL,34,POLYGON ((-48.62802764899993 -25.0017790979999...
10,141,NaN,CAMPO LARGO,11,POLYGON ((-49.61065529599995 -24.9786641019999...
11,142,NaN,CAMPO LARGO,856,POLYGON ((-49.51102736899998 -25.3876828479999...
12,143,NaN,CAMPO LARGO,258,POLYGON ((-49.46584848799995 -25.3766408449999...
13,151,NaN,CAMPO MAGRO,54,POLYGON ((-49.55631976099994 -25.1784143489999...
14,152,NaN,CAMPO MAGRO,562,POLYGON ((-49.35315324399994 -25.3417869419999...
15,161,NaN,COLOMBO,9978,POLYGON ((-49.17552194499996 -25.3897621129999...
16,162,NaN,COLOMBO,400,POLYGON ((-49.14858460699998 -25.2646332689999...
17,163,NaN,COLOMBO,372,POLYGON ((-49.23481899499996 -25.2318008929999...
18,164,NaN,COLOMBO,5579,POLYGON ((-49.22419731399998 -25.3236539959999...
19,165,NaN,COLOMBO,2179,POLYGON ((-49.14032486899998 -25.3455766819999...
20,166,NaN,COLOMBO,9947,POLYGON ((-49.18841185299993 -25.3490896759999...
21,167,NaN,COLOMBO,6703,POLYGON ((-49.14755491199998 -25.3368368199999...
22,168,NaN,COLOMBO,5513,POLYGON ((-49.18328675399994 -25.3390628049999...
23,171,NaN,CONTENDA,72,POLYGON ((-49.55245330199995 -25.5929290999999...
24,181,NaN,FAZENDA RIO GRANDE,952,POLYGON ((-49.31494898099999 -25.6259456449999...
25,182,NaN,FAZENDA RIO GRANDE,662,POLYGON ((-49.28312558199997 -25.6126775149999...
26,183,NaN,FAZENDA RIO GRANDE,8443,POLYGON ((-49.31321564399997 -25.6336887839999...
27,184,NaN,FAZENDA RIO GRANDE,2007,POLYGON ((-49.30572675299993 -25.6276648759999...
28,191,NaN,ITAPERUÇU,116,POLYGON ((-49.57113439599993 -24.9636652679999...
29,201,NaN,MANDIRITUBA,91,POLYGON ((-49.35356473999997 -25.6745260629999...
...,...,...,...,...,...
151,927,9.0,CURITIBA,13673,POLYGON ((-49.25727972199996 -25.5584800339999...
152,931,7.0,CURITIBA,4242,POLYGON ((-49.31320332199994 -25.5171504909999...
153,932,7.0,CURITIBA,11931,POLYGON ((-49.27004848399997 -25.5219289579999...
154,933,7.0,CURITIBA,6981,POLYGON ((-49.29216019999996 -25.5252711569999...
155,934,7.0,CURITIBA,5423,POLYGON ((-49.28024037399996 -25.5223110979999...
156,941,8.0,CURITIBA,859,POLYGON ((-49.37029621999994 -25.4879804749999...
157,951,8.0,CURITIBA,1426,POLYGON ((-49.38364367999998 -25.4442704019999...
158,961,8.0,CURITIBA,259,POLYGON ((-49.38708060899995 -25.4415641469999...
159,971,10.0,CURITIBA,437,POLYGON ((-49.35200869599998 -25.6049535089999...
160,981,10.0,CURITIBA,2903,POLYGON ((-49.31136801299994 -25.5707602479999...
161,991,9.0,CURITIBA,2212,POLYGON ((-49.24286975099994 -25.5580698589999...
162,1001,9.0,CURITIBA,1528,POLYGON ((-49.26883956699999 -25.5603061139999...
163,1011,10.0,CURITIBA,6670,POLYGON ((-49.31249142499996 -25.5602095349999...
164,1012,10.0,CURITIBA,17785,POLYGON ((-49.33000829999997 -25.5548147839999...
165,1013,10.0,CURITIBA,3444,POLYGON ((-49.29954770199998 -25.5434367649999...
166,1020,8.0,CURITIBA,3930,POLYGON ((-49.32366029299993 -25.5117207509999...
167,1021,8.0,CURITIBA,3550,POLYGON ((-49.35298674699993 -25.4312509639999...
168,1022,8.0,CURITIBA,11909,POLYGON ((-49.34179189299994 -25.4554591229999...
169,1023,8.0,CURITIBA,13586,POLYGON ((-49.34167447099998 -25.4717400789999...
170,1024,8.0,CURITIBA,8529,POLYGON ((-49.35036972399996 -25.4777498379999...
171,1025,8.0,CURITIBA,9213,POLYGON ((-49.30745060499999 -25.4978308959999...
172,1026,8.0,CURITIBA,5475,POLYGON ((-49.33616014099994 -25.5165806949999...
173,1027,8.0,CURITIBA,7442,POLYGON ((-49.32213868099996 -25.4916760469999...
174,1028,8.0,CURITIBA,2272,POLYGON ((-49.33858085099996 -25.5344552339999...
175,1029,8.0,CURITIBA,8318,POLYGON ((-49.34780711599996 -25.4932208399999...
176,1031,1.0,CURITIBA,11659,POLYGON ((-49.23665136799997 -25.4344908119999...
177,1041,3.0,CURITIBA,12892,POLYGON ((-49.22556039199998 -25.4791103129999...
178,1042,3.0,CURITIBA,7623,POLYGON ((-49.21622039999994 -25.4898610669999...
179,1043,3.0,CURITIBA,12523,POLYGON ((-49.19401689699998 -25.4899710559999...
180,1044,3.0,CURITIBA,7797,POLYGON ((-49.21447048699997 -25.4674213319999...

### Spatially Joining Estimated Trips and Zones data based on origin and destination zone location

#### Transforming Trips dataframe into a geo dataframe

In [39]:
summarized_trips.head()

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,to_stop_lon
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,-49.272818
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,-49.256690
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,-49.277851
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,-49.270049
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,-49.271456

In [45]:
summarized_trips['from_loc'] = list(zip(summarized_trips.from_stop_lon, summarized_trips.from_stop_lat))
summarized_trips['to_loc'] = list(zip(summarized_trips.to_stop_lon, summarized_trips.to_stop_lat))

In [46]:
summarized_trips['from_loc'] = summarized_trips['from_loc'].apply(geom.Point)
summarized_trips['to_loc'] = summarized_trips['to_loc'].apply(geom.Point)

In [126]:
trips_od_gdf = geopandas.GeoDataFrame(summarized_trips, geometry='from_loc', crs=zones_data.crs)

In [127]:
trips_od_gdf.head()

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,to_stop_lon,from_loc,to_loc
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,-49.272818,POINT (-49.27578884477001 -25.446516767314),POINT (-49.27281847696801 -25.435056489364)
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,-49.256690,POINT (-49.270628274626 -25.428656831997),POINT (-49.25669 -25.39744)
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,-49.277851,POINT (-49.25883 -25.39779),POINT (-49.277851463503 -25.440284802082)
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,-49.270049,POINT (-49.243293705545 -25.377197268479),POINT (-49.270048917478 -25.423600052884)
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,-49.271456,POINT (-49.27509817594901 -25.474901672828),POINT (-49.27145648288701 -25.440705808683)

#### Performing spatial join operation

In [128]:
zones_data.head()

,cod_zona,cod_macrozona,municipio,densidade_,geometry
0,101,NaN,ALMIRANTE TAMANDARÉ,880,POLYGON ((-49.29741553499997 -25.2822542629999...
1,102,NaN,ALMIRANTE TAMANDARÉ,99,POLYGON ((-49.28261024699998 -25.2283294099999...
2,103,NaN,ALMIRANTE TAMANDARÉ,1376,POLYGON ((-49.29659437999993 -25.3252657799999...
3,104,NaN,ALMIRANTE TAMANDARÉ,4343,POLYGON ((-49.27108138899996 -25.3133959639999...
4,111,NaN,ARAUCÁRIA,1344,POLYGON ((-49.33834275899994 -25.5150800969999...

In [129]:
trips_od_gdf.head()

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,to_stop_lon,from_loc,to_loc
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,-49.272818,POINT (-49.27578884477001 -25.446516767314),POINT (-49.27281847696801 -25.435056489364)
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,-49.256690,POINT (-49.270628274626 -25.428656831997),POINT (-49.25669 -25.39744)
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,-49.277851,POINT (-49.25883 -25.39779),POINT (-49.277851463503 -25.440284802082)
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,-49.270049,POINT (-49.243293705545 -25.377197268479),POINT (-49.270048917478 -25.423600052884)
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,-49.271456,POINT (-49.27509817594901 -25.474901672828),POINT (-49.27145648288701 -25.440705808683)

In [142]:
trips_od_zones = geopandas.sjoin(trips_od_gdf, 
                                        zones_data.add_suffix('_o').rename(index=str,columns={'geometry_o':'geometry'}),
                                        how='left',
                                        op='within') \
                                .drop('index_right', axis=1)

In [143]:
trips_od_zones

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,to_stop_lon,from_loc,to_loc,cod_zona_o,cod_macrozona_o,municipio_o,densidade__o
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,-49.272818,POINT (-49.27578884477001 -25.446516767314),POINT (-49.27281847696801 -25.435056489364),371,2.0,CURITIBA,27437
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,-49.256690,POINT (-49.270628274626 -25.428656831997),POINT (-49.25669 -25.39744),301,1.0,CURITIBA,22876
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,-49.277851,POINT (-49.25883 -25.39779),POINT (-49.277851463503 -25.440284802082),421,1.0,CURITIBA,8932
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,-49.270049,POINT (-49.243293705545 -25.377197268479),POINT (-49.270048917478 -25.423600052884),801,5.0,CURITIBA,9498
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,-49.271456,POINT (-49.27509817594901 -25.474901672828),POINT (-49.27145648288701 -25.440705808683),541,2.0,CURITIBA,12337
5,338164.0,2017-05-01,17324,2017-05-01 11:12:45,33116.0,-25.401112,-49.329953,2017-05-01 11:37:42,29598.0,-25.428422,-49.273006,POINT (-49.32995291464599 -25.401112076888),POINT (-49.273006265878 -25.428421853753),903,4.0,CURITIBA,5632
6,344357.0,2017-05-01,44906,2017-05-01 16:39:35,25554.0,-25.437670,-49.266682,2017-05-01 17:01:56,26193.0,-25.393661,-49.240634,POINT (-49.266681661447 -25.437670038693),POINT (-49.24063428764 -25.39366084452001),303,1.0,CURITIBA,23442
7,352491.0,2017-05-01,54296,2017-05-01 18:15:57,26281.0,-25.401281,-49.329734,2017-05-01 18:36:55,25896.0,-25.429243,-49.271788,POINT (-49.329734107491 -25.401281017147),POINT (-49.271788330025 -25.429243252498),903,4.0,CURITIBA,5632
8,352491.0,2017-05-01,67727,2017-05-01 21:32:59,25730.0,-25.441207,-49.275853,2017-05-01 22:33:00,33133.0,-25.400786,-49.330491,POINT (-49.275852571199 -25.441207339035),POINT (-49.330491368106 -25.400785716349),303,1.0,CURITIBA,23442
9,357578.0,2017-05-01,45171,2017-05-01 16:40:28,25646.0,-25.435618,-49.256635,2017-05-01 16:44:48,25389.0,-25.437593,-49.266727,POINT (-49.256634944672 -25.435617512424),POINT (-49.26672726 -25.43759253),351,1.0,CURITIBA,2838
10,362129.0,2017-05-01,50458,2017-05-01 17:35:02,26197.0,-25.476372,-49.292607,2017-05-01 18:23:35,25702.0,-25.379908,-49.227932,POINT (-49.29260731 -25.47637224),POINT (-49.22793153945 -25.379907559523),552,2.0,CURITIBA,15973
11,366767.0,2017-05-01,3970,2017-05-01 06:29:12,35538.0,-25.494861,-49.337690,2017-05-01 07:53:31,26285.0,-25.436093,-49.307177,POINT (-49.337689925575 -25.494860567463),POINT (-49.307176936796 -25.436093266627),1027,8.0,CURITIBA,7442
12,366767.0,2017-05-01,42844,2017-05-01 16:35:02,28136.0,-25.435992,-49.307712,2017-05-01 17:17:09,35536.0,-25.495428,-49.338048,POINT (-49.307712311789 -25.435991809647),POINT (-49.338048000478 -25.495428296708),581,4.0,CURITIBA,5967
13,379355.0,2017-05-01,1453,2017-05-01 05:48:40,32362.0,-25.397872,-49.316847,2017-05-01 05:58:01,32797.0,-25.423931,-49.291052,POINT (-49.31684675926601 -25.397871994669),POINT (-49.291052449074 -25.423931211227),903,4.0,CURITIBA,5632
14,379355.0,2017-05-01,37838,2017-05-01 15:25:29,32796.0,-25.422572,-49.290002,2017-05-01 15:36:28,32361.0,-25.397776,-49.317051,POINT (-49.290002332506 -25.422572451556),POINT (-49.317050607151 -25.397776287047),401,1.0,CURITIBA,6099
15,380163.0,2017-05-01,54489,2017-05-01 18:18:13,26223.0,-25.439724,-49.222057,2017-05-01 18:53:19,25702.0,-25.379908,-49.227932,POINT (-49.22205658346699 -25.439724117864),POINT (-49.22793153945 -25.379907559523),481,3.0,CURITIBA,7062
16,387672.0,2017-05-01,60319,2017-05-01 19:11:40,32685.0,-25.388986,-49.264375,2017-05-01 19:59:29,28120.0,-25.475952,-49.240087,POINT (-49.26437475215001 -25.388986347333),POINT (-49.24008727481 -25.475951562363),611,5.0,CURITIBA,3992
17,394649.0,2017-05-01,25136,2017-05-01 13:01:35,30063.0,-25.497840,-49.209650,2017-05-01 14:32:24,30749.0,-25.435959,-49.266889,POINT (-49.20965 -25.49784),POINT (-49.266889275259 -25.435959450504),1043,3.0,CURITIBA,12523
18,394649.0,2017-05-01,55532,2017-05-01 18:23:30,33788.0,-25.436303,-49.362221,2017-05-01 18:51:11,30268.0,-25.431004,-49.316831,POINT (-49.36222072769201 -25.436302699767),POINT (-49.316830961971 -25.431003976097),1021,8.0,CURITIBA,3550
19,394649.0,2017-05-01,66570,2017-05-01 21:04:21,30268.0,-25.431004,-49.316831,2017-05-01 21:23:43,26314.0,-25.429689,-49.272649,POINT (-49.316830961971 -25.431003976097),POINT (-49.272649319118 -25.42968875223),721,4.0,CURITIBA,6390
20,394649.0,2017-05-01,67328,2017-05-01 21:19:24,27560.0,-25.433741,-49.270292,2017-05-01 22:25:01,30092.0,-25.497790,-49.209320,POINT (-49.270291657395 -25.433741254877),POINT (-49.20932 -25.49779),303,1.0,CURITIBA,23442
21,396065.0,2017-05-01,62358,2017-05-01 19:48:36,27486.0,-25.491761,-49.293391,2017-05-01 20:12:30,29850.0,-25.533510,-49.238560,POINT (-49.293390841431 -25.491761422167),POINT (-49.23856 -25.53351),682,7.0,CURITIBA,11697
22,396078.0,2017-05-01,41833,2017-05-01 16:07:23,33028.0,-25.459710,-49.232910,2017-05-01 17:03:24,2654.0,-25.449626,-49.353856,POINT (-49.23291 -25.45971),POINT (-49.353856209822 -25.449625864526),501,3.0,CURITIBA,6317
23,397416.0,2017-05-01,11600,2017-05-01 08:14:46,26246.0,-25.491786,-49.293089,2017-05-01 08:58:33,26281.0,-25.401281,-49.329734,POINT (-49.293088798846 -25.491786465484),POINT (-49.329734107491 -25.401281017147),682,7.0,CURITIBA,11697
24,397416.0,2017-05-01,25261,2017-05-01 13:10:14,26281.0,-25.401281,-49.329734,2017-05-01 14:02:34,27475.0,-25.492468,-49.293309,POINT (-49.329734107491 -25.401281017147),POINT (-49.29330903405599 -25.4924683779),903,4.0,CURITIBA,5632
25,402424.0,2017-05-01,14771,2017-05-01 10:01:31,29985.0,-25.535961,-49.283845,2017-05-01 10:26:03,25660.0,-25.499476,-49.295950,POINT (-49.283845480986 -25.535961343618),POINT (-49.295950062833 -25.499475703368),922,9.0,CURITIBA,21048
26,408337.0,2017-05-01,69215,2017-05-01 22:21:13,25532.0,-25.527906,-49.291357,2017-05-01 22:42:19,26197.0,-25.476372,-49.292607,POINT (-49.291356779895 -25.527906194845),POINT (-49.29260731 -25.47637224),933,7.0,CURITIBA,6981
27,420574.0,2017-05-01,1502,2017-05-01 05:49:44,35122.0,-25.476181,-49.330949,2017-05-01 05:55:51,33549.0,-25.460991,-49.328592,POINT (-49.330949322815 -25.47618061288701),POINT (-49.328591770388 -25.46099076834),712,4.0,CURITIBA,8334
28,420574.0,2017-05-01,32393,2017-05-01 14:26:38,33549.0,-25.460991,-49.328592,2017-05-01 14:33:42,35123.0,-25.476166,-49.331110,POINT (-49.328591770388 -25.46099076834),POINT (-49.33111025535599 -25.476166084473),712,4.0,CURITIBA,8334
29,422404.0,2017-05-01,37760,2017-05-01 15:35:30,33119.0,-25.400519,-49.330766,2017-05-01 16:21:14,31627.0,-25.477253,-49.327631,POINT (-49.330765623977 -25.400519010066),POINT (-49.327630961972 -25.477253097568),903,4.0,CURITIBA,5632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,10105929.0,2017-05-01,53320,2017-05-01 18:03:04,25728.0,-25.423959,-49.268338,2017-05-01 18:08:55,25709.0,-25.412394,-49.257931,POINT (-49.268337668127 -25.423959273219),POINT (-49.257930706177 -25.41239408359),321,1.0,CURITIBA,11111
17540,10105999.0,2017-05-01,6893,2017-05-01 07:11:16,26038.0,-25.435547,-49.250569,2017-05-01 07:17:07,25389.0,-25.437593,-49.266727,POINT (-49.25056871010701 -25.435546730475),POINT (-49.26672726 -25.43759253),1031,1.0,CURITIBA,11659
17541,10106332.0,2017-05-01,71097,2017-05-01 22:59:45,36077.0,-25.497326,-49.313469,2017-05-01 23:26:24,25712.0,-25.419830,-49.268908,POINT (-49.313469132589 -25.497326355305),POINT (-49.268907934775 -25.419830405313),1025,8.0,CURITIBA,9213
17542,10106406.0,2017-05-01,71480,2017-05-01 23:11:30,29158.0,-25.445930,-49.246000,2017-05-01 23:22:52,29173.0,-25.473617,-49.287850,POINT (-49.245999766865 -25.44593023834),POINT (-49.287850495701 -25.473616904179),351,1.0,CURITIBA,2838
17543,10106433.0,2017-05-01,11543,2017-05-01 08:32:30,38975.0,-25.583670,-49.325896,2017-05-01 09:27:19,26197.0,-25.476372,-49.292607,POINT (-49.325896203518 -25.583669887166),POINT (-49.29260731 -25.47637224),981,10.0,CURITIBA,2903
17544,10106433.0,2017-05-01,37411,2017-05-01 15:22:51,26241.0,-25.476163,-49.292921,2017-05-01 16:16:16,41582.0,-25.588941,-49.328004,POINT (-49.292921270176 -25.476162903589),POINT (-49.328004419804 -25.588941280962),552,2.0,CURITIBA,15973
17545,10106658.0,2017-05-01,11629,2017-05-01 08:33:22,34175.0,-25.460168,-49.340610,2017-05-01 08:53:14,33858.0,-25.440213,-49.281829,POINT (-49.340610455064 -25.460167667893),POINT (-49.281829179472 -25.440213349386),1022,8.0,CURITIBA,11909
17546,10106658.0,2017-05-01,45143,2017-05-01 16:41:32,30634.0,-25.441525,-49.281030,2017-05-01 16:59:52,34257.0,-25.460082,-49.340832,POINT (-49.281029881186 -25.441524923468),POINT (-49.34083173730699 -25.46008169664),381,1.0,CURITIBA,8421
17547,10106823.0,2017-05-01,23702,2017-05-01 12:37:52,25877.0,-25.437028,-49.243685,2017-05-01 13:09:59,25566.0,-25.437506,-49.324355,POINT (-49.243685491076 -25.437027959344),POINT (-49.324355190285 -25.43750563285),1031,1.0,CURITIBA,11659
17548,10106823.0,2017-05-01,53311,2017-05-01 18:02:15,30268.0,-25.431004,-49.316831,2017-05-01 18:44:24,25878.0,-25.437131,-49.243700,POINT (-49.316830961971 -25.431003976097),POINT (-49.243700245225 -25.437130902377),721,4.0,CURITIBA,6390
17549,10107004.0,2017-05-01,34057,2017-05-01 14:47:15,25821.0,-25.496290,-49.270366,2017-05-01 15:40:02,25881.0,-25.417899,-49.268460,POINT (-49.270365565109 -25.496289845744),POINT (-49.268459708637 -25.417899341803),841,6.0,CURITIBA,10302
17550,10107004.0,2017-05-01,49009,2017-05-01 17:07:17,25872.0,-25.415420,-49.267929,2017-05-01 17:47:16,25821.0,-25.496290,-49.270366,POINT (-49.26792863125201 -25.415420483986),POINT (-49.270365565109 -25.496289845744),321,1.0,CURITIBA,11111
17551,10107681.0,2017-05-01,11653,2017-05-01 08:34:32,31826.0,-25.374993,-49.233703,2017-05-01 08:54:58,28615.0,-25.423600,-49.270049,POINT (-49.233703444219 -25.374993058104),POINT (-49.270048917478 -25.423600052884),801,5.0,CURITIBA,9498
17552,10107681.0,2017-05-01,63835,2017-05-01 20:05:11,35642.0,-25.423318,-49.268572,2017-05-01 20:21:15,31827.0,-25.374908,-49.233640,POINT (-49.268572186508 -25.423318109898),POINT (-49.233640412307 -25.374908237815),321,1.0,CURITIBA,11111
17553,10108154.0,2017-05-01,29488,2017-05-01 13:51:44,25461.0,-25.472416,-49.264479,2017-05-01 14:12:31,26297.0,-25.512315,-49.295636,POINT (-49.264478810391 -25.472415685599),POINT (-49.295636465954 -25.51231489462),541,2.0,CURITIBA,12337
17554,10108403.0,2017-05-01,11604,2017-05-01 08:33:27,27948.0,-25.393233,-49.283519,2017-05-01 10:23:12,30067.0,-25.492663,-49.205128,POINT (-49.283519018476 -25.393232978631),POINT (-49.20512793005901 -25.492663315887),602,5.0,CURITIBA,6341
17555,10108403.0,2017-05-01,43173,2017-05-01 16:20:15,30068.0,-25.492546,-49.205186,2017-05-01 17:52:57,27948.0,-25.393233,-49.283519,POINT (-49.205185860119 -25.492545736973),POINT (-49.283519018476 -25.393232978631),1043,3.0,CURITIBA,12523
17556,10108432.0,2017-05-01,12769,2017-05-01 09:06:59,32313.0,-25.374192,-49.252718,2017-05-01 09:24:34,28615.0,-25.423600,-49.270049,POINT (-49.252718492343 -25.374192404494),POINT (-49.270048917478 -25.423600052884),622,5.0,CURITIBA,11889
17557,10108502.0,2017-05-01,13473,2017-05-01 09:36:16,25443.0,-25.475017,-49.274071,2017-05-01 09:57:31,27353.0,-25.516618,-49.230300,POINT (-49.274071283898 -25.475016633746),POINT (-49.230300314985 -25.51661831653),671,7.0,CURITIBA,16115
17558,10108502.0,2017-05-01,35476,2017-05-01 14:50:12,25796.0,-25.527780,-49.240707,2017-05-01 15:22:15,25445.0,-25.474765,-49.274148,POINT (-49.240706935942 -25.527780336075),POINT (-49.274147726855 -25.47476480521501),911,6.0,CURITIBA,17719
17559,10108907.0,2017-05-01,10906,2017-05-01 08:16:14,30171.0,-25.449433,-49.305592,2017-05-01 08:24:35,33858.0,-25.440213,-49.281829,POINT (-49.30559221024 -25.449432819058),POINT (-49.281829179472 -25.440213349386),571,2.0,CURITIBA,4333
17560,10108907.0,2017-05-01,65729,2017-05-01 20:44:25,30634.0,-25.441525,-49.281030,2017-05-01 20:51:58,30170.0,-25.449169,-49.306098,POINT (-49.281029881186 -25.441524923468),POINT (-49.306097806639 -25.449168827248),381,1.0,CURITIBA,8421
17561,10108983.0,2017-05-01,10023,2017-05-01 07:53:58,26165.0,-25.436624,-49.274535,2017-05-01 08:15:13,34263.0,-25.457989,-49.336194,POINT (-49.274535090738 -25.436623661775),POINT (-49.336194197921 -25.457989306928),303,1.0,CURITIBA,23442
17562,10108983.0,2017-05-01,48660,2017-05-01 17:17:01,34259.0,-25.458073,-49.336150,2017-05-01 17:38:54,26165.0,-25.436624,-49.274535,POINT (-49.33614994147199 -25.458072857909),POINT (-49.274535090738 -25.436623661775),712,4.0,CURITIBA,8334
17563,10109113.0,2017-05-01,66504,2017-05-01 20:55:35,25873.0,-25.415626,-49.266381,2017-05-01 21:49:07,26041.0,-25.448161,-49.258067,POINT (-49.266380996651 -25.415626406879),POINT (-49.25806682594401 -25.448161149017),321,1.0,CURITIBA,11111
17564,10109845.0,2017-05-01,10631,2017-05-01 08:09:42,33387.0,-25.409851,-49.309279,2017-05-01 08:23:10,33734.0,-25.426369,-49.277005,POINT (-49.30927890653 -25.409850560438),POINT (-49.277005048116 -25.426368933248),741,4.0,CURITIBA,1582
17565,10109849.0,2017-05-01,13749,2017-05-01 09:34:35,27634.0,-25.390208,-49.289027,2017-05-01 09:48:07,27256.0,-25.426929,-49.271383,POINT (-49.289026572923 -25.390208050398),POINT (-49.271383145224 -25.426928549988),602,5.0,CURITIBA,6341
17566,10109852.0,2017-05-01,25571,2017-05-01 13:06:11,32315.0,-25.374466,-49.251415,2017-05-01 13:24:35,28615.0,-25.423600,-49.270049,POINT (-49.251414938762 -25.374466254263),POINT (-49.270048917478 -25.423600052884),622,5.0,CURITIBA,11889
17567,10109988.0,2017-05-01,10658,2017-05-01 08:10:35,32812.0,-25.462132,-49.313505,2017-05-01 08:23:04,26630.0,-25.443478,-49.270141,POINT (-49.313504726833 -25.462132072478),POINT (-49.27014095092101 -25.443478176732),701,2.0,CURITIBA,11807
17568,10109988.0,2017-05-01,43116,2017-05-01 16:20:37,26754.0,-25.391386,-49.297205,2017-05-01 16:56:27,25682.0,-25.459145,-49.302459,POINT (-49.297204697934 -25.391385811852),POINT (-49.30245909510701 -25.45914452819),602,5.0,CURITIBA,6341

In [144]:
trips_od_zones = geopandas.sjoin(trips_od_zones.set_geometry('to_loc'),
                                 zones_data.add_suffix('_d').rename(index=str,columns={'geometry_d':'geometry'}),
                                            how='left',
                                            op='within') \
                                .drop('index_right', axis=1)

In [145]:
trips_od_zones

,cardNum,date,user_trip_id,start_time,from_stop_id,from_stop_lat,from_stop_lon,end_time,to_stop_id,to_stop_lat,...,from_loc,to_loc,cod_zona_o,cod_macrozona_o,municipio_o,densidade__o,cod_zona_d,cod_macrozona_d,municipio_d,densidade__d
0,324934.0,2017-05-01,20302,2017-05-01 11:51:50,32097.0,-25.446517,-49.275789,2017-05-01 11:57:39,26143.0,-25.435056,...,POINT (-49.27578884477001 -25.446516767314),POINT (-49.27281847696801 -25.435056489364),371,2.0,CURITIBA,27437,303,1.0,CURITIBA,23442
1,324934.0,2017-05-01,21600,2017-05-01 12:09:13,26364.0,-25.428657,-49.270628,2017-05-01 12:27:33,30828.0,-25.397440,...,POINT (-49.270628274626 -25.428656831997),POINT (-49.25669 -25.39744),301,1.0,CURITIBA,22876,441,1.0,CURITIBA,11530
2,324934.0,2017-05-01,57727,2017-05-01 18:47:27,30598.0,-25.397790,-49.258830,2017-05-01 19:09:49,30633.0,-25.440285,...,POINT (-49.25883 -25.39779),POINT (-49.277851463503 -25.440284802082),421,1.0,CURITIBA,8932,303,1.0,CURITIBA,23442
3,326014.0,2017-05-01,20457,2017-05-01 11:54:23,31810.0,-25.377197,-49.243294,2017-05-01 12:20:08,28615.0,-25.423600,...,POINT (-49.243293705545 -25.377197268479),POINT (-49.270048917478 -25.423600052884),801,5.0,CURITIBA,9498,321,1.0,CURITIBA,11111
4,334095.0,2017-05-01,3426,2017-05-01 06:20:33,30702.0,-25.474902,-49.275098,2017-05-01 06:36:25,26631.0,-25.440706,...,POINT (-49.27509817594901 -25.474901672828),POINT (-49.27145648288701 -25.440705808683),541,2.0,CURITIBA,12337,362,1.0,CURITIBA,13203
5,338164.0,2017-05-01,17324,2017-05-01 11:12:45,33116.0,-25.401112,-49.329953,2017-05-01 11:37:42,29598.0,-25.428422,...,POINT (-49.32995291464599 -25.401112076888),POINT (-49.273006265878 -25.428421853753),903,4.0,CURITIBA,5632,311,1.0,CURITIBA,8038
6,344357.0,2017-05-01,44906,2017-05-01 16:39:35,25554.0,-25.437670,-49.266682,2017-05-01 17:01:56,26193.0,-25.393661,...,POINT (-49.266681661447 -25.437670038693),POINT (-49.24063428764 -25.39366084452001),303,1.0,CURITIBA,23442,631,5.0,CURITIBA,9862
7,352491.0,2017-05-01,54296,2017-05-01 18:15:57,26281.0,-25.401281,-49.329734,2017-05-01 18:36:55,25896.0,-25.429243,...,POINT (-49.329734107491 -25.401281017147),POINT (-49.271788330025 -25.429243252498),903,4.0,CURITIBA,5632,301,1.0,CURITIBA,22876
8,352491.0,2017-05-01,67727,2017-05-01 21:32:59,25730.0,-25.441207,-49.275853,2017-05-01 22:33:00,33133.0,-25.400786,...,POINT (-49.275852571199 -25.441207339035),POINT (-49.330491368106 -25.400785716349),303,1.0,CURITIBA,23442,903,4.0,CURITIBA,5632
9,357578.0,2017-05-01,45171,2017-05-01 16:40:28,25646.0,-25.435618,-49.256635,2017-05-01 16:44:48,25389.0,-25.437593,...,POINT (-49.256634944672 -25.435617512424),POINT (-49.26672726 -25.43759253),351,1.0,CURITIBA,2838,303,1.0,CURITIBA,23442
10,362129.0,2017-05-01,50458,2017-05-01 17:35:02,26197.0,-25.476372,-49.292607,2017-05-01 18:23:35,25702.0,-25.379908,...,POINT (-49.29260731 -25.47637224),POINT (-49.22793153945 -25.379907559523),552,2.0,CURITIBA,15973,801,5.0,CURITIBA,9498
11,366767.0,2017-05-01,3970,2017-05-01 06:29:12,35538.0,-25.494861,-49.337690,2017-05-01 07:53:31,26285.0,-25.436093,...,POINT (-49.337689925575 -25.494860567463),POINT (-49.307176936796 -25.436093266627),1027,8.0,CURITIBA,7442,581,4.0,CURITIBA,5967
12,366767.0,2017-05-01,42844,2017-05-01 16:35:02,28136.0,-25.435992,-49.307712,2017-05-01 17:17:09,35536.0,-25.495428,...,POINT (-49.307712311789 -25.435991809647),POINT (-49.338048000478 -25.495428296708),581,4.0,CURITIBA,5967,1027,8.0,CURITIBA,7442
13,379355.0,2017-05-01,1453,2017-05-01 05:48:40,32362.0,-25.397872,-49.316847,2017-05-01 05:58:01,32797.0,-25.423931,...,POINT (-49.31684675926601 -25.397871994669),POINT (-49.291052449074 -25.423931211227),903,4.0,CURITIBA,5632,401,1.0,CURITIBA,6099
14,379355.0,2017-05-01,37838,2017-05-01 15:25:29,32796.0,-25.422572,-49.290002,2017-05-01 15:36:28,32361.0,-25.397776,...,POINT (-49.290002332506 -25.422572451556),POINT (-49.317050607151 -25.397776287047),401,1.0,CURITIBA,6099,751,4.0,CURITIBA,1709
15,380163.0,2017-05-01,54489,2017-05-01 18:18:13,26223.0,-25.439724,-49.222057,2017-05-01 18:53:19,25702.0,-25.379908,...,POINT (-49.22205658346699 -25.439724117864),POINT (-49.22793153945 -25.379907559523),481,3.0,CURITIBA,7062,801,5.0,CURITIBA,9498
16,387672.0,2017-05-01,60319,2017-05-01 19:11:40,32685.0,-25.388986,-49.264375,2017-05-01 19:59:29,28120.0,-25.475952,...,POINT (-49.26437475215001 -25.388986347333),POINT (-49.24008727481 -25.475951562363),611,5.0,CURITIBA,3992,511,3.0,CURITIBA,7163
17,394649.0,2017-05-01,25136,2017-05-01 13:01:35,30063.0,-25.497840,-49.209650,2017-05-01 14:32:24,30749.0,-25.435959,...,POINT (-49.20965 -25.49784),POINT (-49.266889275259 -25.435959450504),1043,3.0,CURITIBA,12523,303,1.0,CURITIBA,23442
18,394649.0,2017-05-01,55532,2017-05-01 18:23:30,33788.0,-25.436303,-49.362221,2017-05-01 18:51:11,30268.0,-25.431004,...,POINT (-49.36222072769201 -25.436302699767),POINT (-49.316830961971 -25.431003976097),1021,8.0,CURITIBA,3550,721,4.0,CURITIBA,6390
19,394649.0,2017-05-01,66570,2017-05-01 21:04:21,30268.0,-25.431004,-49.316831,2017-05-01 21:23:43,26314.0,-25.429689,...,POINT (-49.316830961971 -25.431003976097),POINT (-49.272649319118 -25.42968875223),721,4.0,CURITIBA,6390,301,1.0,CURITIBA,22876
20,394649.0,2017-05-01,67328,2017-05-01 21:19:24,27560.0,-25.433741,-49.270292,2017-05-01 22:25:01,30092.0,-25.497790,...,POINT (-49.270291657395 -25.433741254877),POINT (-49.20932 -25.49779),303,1.0,CURITIBA,23442,1043,3.0,CURITIBA,12523
21,396065.0,2017-05-01,62358,2017-05-01 19:48:36,27486.0,-25.491761,-49.293391,2017-05-01 20:12:30,29850.0,-25.533510,...,POINT (-49.293390841431 -25.491761422167),POINT (-49.23856 -25.53351),682,7.0,CURITIBA,11697,913,6.0,CURITIBA,3637
22,396078.0,2017-05-01,41833,2017-05-01 16:07:23,33028.0,-25.459710,-49.232910,2017-05-01 17:03:24,2654.0,-25.449626,...,POINT (-49.23291 -25.45971),POINT (-49.353856209822 -25.449625864526),501,3.0,CURITIBA,6317,1021,8.0,CURITIBA,3550
23,397416.0,2017-05-01,11600,2017-05-01 08:14:46,26246.0,-25.491786,-49.293089,2017-05-01 08:58:33,26281.0,-25.401281,...,POINT (-49.293088798846 -25.491786465484),POINT (-49.329734107491 -25.401281017147),682,7.0,CURITIBA,11697,903,4.0,CURITIBA,5632
24,397416.0,2017-05-01,25261,2017-05-01 13:10:14,26281.0,-25.401281,-49.329734,2017-05-01 14:02:34,27475.0,-25.492468,...,POINT (-49.329734107491 -25.401281017147),POINT (-49.29330903405599 -25.4924683779),903,4.0,CURITIBA,5632,682,7.0,CURITIBA,11697
25,402424.0,2017-05-01,14771,2017-05-01 10:01:31,29985.0,-25.535961,-49.283845,2017-05-01 10:26:03,25660.0,-25.499476,...,POINT (-49.283845480986 -25.535961343618),POINT (-49.295950062833 -25.499475703368),922,9.0,CURITIBA,21048,853,7.0,CURITIBA,11583
26,408337.0,2017-05-01,69215,2017-05-01 22:21:13,25532.0,-25.527906,-49.291357,2017-05-01 22:42:19,26197.0,-25.476372,...,POINT (-49.291356779895 -25.527906194845),POINT (-49.29260731 -25.47637224),933,7.0,CURITIBA,6981,552,2.0,CURITIBA,15973
27,420574.0,2017-05-01,1502,2017-05-01 05:49:44,35122.0,-25.476181,-49.330949,2017-05-01 05:55:51,33549.0,-25.460991,...,POINT (-49.330949322815 -25.47618061288701),POINT (-49.328591770388 -25.46099076834),712,4.0,CURITIBA,8334,712,4.0,CURITIBA,8334
28,420574.0,2017-05-01,32393,2017-05-01 14:26:38,33549.0,-25.460991,-49.328592,2017-05-01 14:33:42,35123.0,-25.476166,...,POINT (-49.328591770388 -25.46099076834),POINT (-49.33111025535599 -25.476166084473),712,4.0,CURITIBA,8334,712,4.0,CURITIBA,8334
29,422404.0,2017-05-01,37760,2017-05-01 15:35:30,33119.0,-25.400519,-49.330766,2017-05-01 16:21:14,31627.0,-25.477253,...,POINT (-49.330765623977 -25.400519010066),POINT (-49.327630961972 -25.477253097568),903,4.0,CURITIBA,5632,692,2.0,CURITIBA,10594
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17539,10105929.0,2017-05-01,53320,2017-05-01 18:03:04,25728.0,-25.423959,-49.268338,2017-05-01 18:08:55,25709.0,-25.412394,...,POINT (-49.268337668127 -25.423959273219),POINT (-49.257930706177 -25.41239408359),321,1.0,CURITIBA,11111,431,1.0,CURITIBA,16717
17540,10105999.0,2017-05-01,6893,2017-05-01 07:11:16,26038.0,-25.435547,-49.250569,2017-05-01 07:17:07,25389.0,-25.437593,...,POINT (-49.25056871010701 -25.435546730475),POINT (-49.26672726 -25.43759253),1031,1.0,CURITIBA,11659,303,1.0,CURITIBA,23442
17541,10106332.0,2017-05-01,71097,2017-05-01 22:59:45,36077.0,-25.497326,-49.313469,2017-05-01 23:26:24,25712.0,-25.419830,...,POINT (-49.313469132589 -25.497326355305),POINT (-49.268907934775 -25.419830405313),1025,8.0,CURITIBA,9213,321,1.0,CURITIBA,11111
17542,10106406.0,2017-05-01,71480,2017-05-01 23:11:30,29158.0,-25.445930,-49.246000,2017-05-01 23:22:52,29173.0,-25.473617,...,POINT (-49.245999766865 -25.44593023834),POINT (-49.287850495701 -25.473616904179),351,1.0,CURITIBA,2838,552,2.0,CURITIBA,15973
17543,10106433.0,2017-05-01,11543,2017-05-01 08:32:30,38975.0,-25.583670,-49.325896,2017-05-01 09:27:19,26197.0,-25.476372,...,POINT (-49.325896203518 -25.583669887166),POINT (-49.29260731 -25.47637224),981,10.0,CURITIBA,2903,552,2.0,CURITIBA,15973
17544,10106433.0,2017-05-01,37411,2017-05-01 15:22:51,26241.0,-25.476163,-49.292921,2017-05-01 16:16:16,41582.0,-25.588941,...,POINT (-49.292921270176 -25.476162903589),POINT (-49.328004419804 -25.588941280962),552,2.0,CURITIBA,15973,981,10.0,CURITIBA,2903
17545,10106658.0,2017-05-01,11629,2017-05-01 08:33:22,34175.0,-25.460168,-49.340610,2017-05-01 08:53:14,33858.0,-25.440213,...,POINT (-49.340610455064 -25.460167667893),POINT (-49.281829179472 -25.440213349386),1022,8.0,CURITIBA,11909,381,1.0,CURITIBA,8421
17546,10106658.0,2017-05-01,45143,2017-05-01 16:41:32,30634.0,-25.441525,-49.281030,2017-05-01 16:59:52,34257.0,-25.460082,...,POINT (-49.281029881186 -25.441524923468),POINT (-49.34083173730699 -25.46008169664),381,1.0,CURITIBA,8421,1022,8.0,CURITIBA,11909
17547,10106823.0,2017-05-01,23702,2017-05-01 12:37:52,25877.0,-25.437028,-49.243685,2017-05-01 13:09:59,25566.0,-25.437506,...,POINT (-49.243685491076 -25.437027959344),POINT (-49.324355190285 -25.43750563285),1031,1.0,CURITIBA,11659,721,4.0,CURITIBA,6390
17548,10106823.0,2017-05-01,53311,2017-05-01 18:02:15,30268.0,-25.431004,-49.316831,2017-05-01 18:44:24,25878.0,-25.437131,...,POINT (-49.316830961971 -25.431003976097),POINT (-49.243700245225 -25.437130902377),721,4.0,CURITIBA,6390,351,1.0,CURITIBA,2838
17549,10107004.0,2017-05-01,34057,2017-05-01 14:47:15,25821.0,-25.496290,-49.270366,2017-05-01 15:40:02,25881.0,-25.417899,...,POINT (-49.270365565109 -25.496289845744),POINT (-49.268459708637 -25.417899341803),841,6.0,CURITIBA,10302,321,1.0,CURITIBA,11111
17550,10107004.0,2017-05-01,49009,2017-05-01 17:07:17,25872.0,-25.415420,-49.267929,2017-05-01 17:47:16,25821.0,-25.496290,...,POINT (-49.26792863125201 -25.415420483986),POINT (-49.270365565109 -25.496289845744),321,1.0,CURITIBA,11111,841,6.0,CURITIBA,10302
17551,10107681.0,2017-05-01,11653,2017-05-01 08:34:32,31826.0,-25.374993,-49.233703,2017-05-01 08:54:58,28615.0,-25.423600,...,POINT (-49.233703444219 -25.374993058104),POINT (-49.270048917478 -25.423600052884),801,5.0,CURITIBA,9498,321,1.0,CURITIBA,11111
17552,10107681.0,2017-05-01,63835,2017-05-01 20:05:11,35642.0,-25.423318,-49.268572,2017-05-01 20:21:15,31827.0,-25.374908,...,POINT (-49.268572186508 -25.423318109898),POINT (-49.233640412307 -25.374908237815),321,1.0,CURITIBA,11111,801,5.0,CURITIBA,9498
17553,10108154.0,2017-05-01,29488,2017-05-01 13:51:44,25461.0,-25.472416,-49.264479,2017-05-01 14:12:31,26297.0,-25.512315,...,POINT (-49.264478810391 -25.472415685599),POINT (-49.295636465954 -25.51231489462),541,2.0,CURITIBA,12337,851,7.0,CURITIBA,14247
17554,10108403.0,2017-05-01,11604,2017-05-01 08:33:27,27948.0,-25.393233,-49.283519,2017-05-01 10:23:12,30067.0,-25.492663,...,POINT (-49.283519018476 -25.393232978631),POINT (-49.20512793005901 -25.492663315887),602,5.0,CURITIBA,6341,1043,3.0,CURITIBA,12523
17555,10108403.0,2017-05-01,43173,2017-05-01 16:20:15,30068.0,-25.492546,-49.205186,2017-05-01 17:52:57,27948.0,-25.393233,...,POINT (-49.205185860119 -25.492545736973),POINT (-49.283519018476 -25.393232978631),1043,3.0,CURITIBA,12523,602,5.0,CURITIBA,6341
17556,10108432.0,2017-05-01,12769,2017-05-01 09:06:59,32313.0,-25.374192,-49.252718,2017-05-01 09:24:34,28615.0,-25.423600,...,POINT (-49.252718492343 -25.374192404494),POINT (-49.270048917478 -25.423600052884),622,5.0,CURITIBA,11889,321,1.0,CURITIBA,11111
17557,10108502.0,2017-05-01,13473,2017-05-01 09:36:16,25443.0,-25.475017,-49.274071,2017-05-01 09:57:31,27353.0,-25.516618,...,POINT (-49.274071283898 -25.475016633746),POINT (-49.230300314985 -25.51661831653),671,7.0,CURITIBA,16115,833,6.0,CURITIBA,10338
17558,10108502.0,2017-05-01,35476,2017-05-01 14:50:12,25796.0,-25.527780,-49.240707,2017-05-01 15:22:15,25445.0,-25.474765,...,POINT (-49.240706935942 -25.527780336075),POINT (-49.274147726855 -25.47476480521501),911,6.0,CURITIBA,17719,541,2.0,CURITIBA,12337
17559,10108907.0,2017-05-01,10906,2017-05-01 08:16:14,30171.0,-25.449433,-49.305592,2017-05-01 08:24:35,33858.0,-25.440213,...,POINT (-49.30559221024 -25.449432819058),POINT (-49.281829179472 -25.440213349386),571,2.0,CURITIBA,4333,381,1.0,CURITIBA,8421
17560,10108907.0,2017-05-01,65729,2017-05-01 20:44:25,30634.0,-25.441525,-49.281030,2017-05-01 20:51:58,30170.0,-25.449169,...,POINT (-49.281029881186 -25.441524923468),POINT (-49.306097806639 -25.449168827248),381,1.0,CURITIBA,8421,571,2.0,CURITIBA,4333
17561,10108983.0,2017-05-01,10023,2017-05-01 07:53:58,26165.0,-25.436624,-49.274535,2017-05-01 08:15:13,34263.0,-25.457989,...,POINT (-49.274535090738 -25.436623661775),POINT (-49.336194197921 -25.457989306928),303,1.0,CURITIBA,23442,712,4.0,CURITIBA,8334
17562,10108983.0,2017-05-01,48660,2017-05-01 17:17:01,34259.0,-25.458073,-49.336150,2017-05-01 17:38:54,26165.0,-25.436624,...,POINT (-49.33614994147199 -25.458072857909),POINT (-49.274535090738 -25.436623661775),712,4.0,CURITIBA,8334,303,1.0,CURITIBA,23442
17563,10109113.0,2017-05-01,66504,2017-05-01 20:55:35,25873.0,-25.415626,-49.266381,2017-05-01 21:49:07,26041.0,-25.448161,...,POINT (-49.266380996651 -25.415626406879),POINT (-49.25806682594401 -25.448161149017),321,1.0,CURITIBA,11111,521,1.0,CURITIBA,2938
17564,10109845.0,2017-05-01,10631,2017-05-01 08:09:42,33387.0,-25.409851,-49.309279,2017-05-01 08:23:10,33734.0,-25.426369,...,POINT (-49.30927890653 -25.409850560438),POINT (-49.277005048116 -25.426368933248),741,4.0,CURITIBA,1582,311,1.0,CURITIBA,8038
17565,10109849.0,2017-05-01,13749,2017-05-01 09:34:35,27634.0,-25.390208,-49.289027,2017-05-01 09:48:07,27256.0,-25.426929,...,POINT (-49.289026572923 -25.390208050398),POINT (-49.271383145224 -25.426928549988),602,5.0,CURITIBA,6341,311,1.0,CURITIBA,8038
17566,10109852.0,2017-05-01,25571,2017-05-01 13:06:11,32315.0,-25.374466,-49.251415,2017-05-01 13:24:35,28615.0,-25.423600,...,POINT (-49.251414938762 -25.374466254263),POINT (-49.270048917478 -25.423600052884),622,5.0,CURITIBA,11889,321,1.0,CURITIBA,11111
17567,10109988.0,2017-05-01,10658,2017-05-01 08:10:35,32812.0,-25.462132,-49.313505,2017-05-01 08:23:04,26630.0,-25.443478,...,POINT (-49.313504726833 -25.462132072478),POINT (-49.27014095092101 -25.443478176732),701,2.0,CURITIBA,11807,362,1.0,CURITIBA,13203
17568,10109988.0,2017-05-01,43116,2017-05-01 16:20:37,26754.0,-25.391386,-49.297205,2017-05-01 16:56:27,25682.0,-25.459145,...,POINT (-49.297204697934 -25.391385811852),POINT (-49.30245909510701 -25.45914452819),602,5.0,CURITIBA,6341,701,2.0,CURITIBA,11807