In [1]:
import pandas as pd
import numpy as np
import geopandas
import seaborn as sns
%matplotlib inline

## Reading and Preparing Estimated Trips data

In [5]:
est_trips_data = pd.read_csv('/local/tarciso/data/estimated-trips/full/2017_05_01_full_od_trips.csv', parse_dates=['start_time','end_time','leg_duration'])

In [6]:
est_trips_data.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration
0,3823073.0,28150,1,1,827,BC929,12.0,33788.0,2017-05-01 13:35:18,-25.436303,-49.362221,30993.0,2017-05-01 13:44:14,-25.441705,-49.346328,0 days 00:08:56.000000000
1,3823073.0,28150,1,3,303,DE722,4.0,26195.0,2017-05-01 14:02:48,-25.441720,-49.346978,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,0 days 00:09:22.000000000
2,3807165.0,28153,1,2,304,LL304,5.0,26215.0,2017-05-01 13:36:19,-25.440024,-49.221371,26282.0,2017-05-01 14:01:29,-25.435742,-49.307359,0 days 00:25:10.000000000
3,2715287.0,28154,1,1,684,HA298,11.0,39378.0,2017-05-01 13:35:38,-25.585230,-49.337210,31053.0,2017-05-01 14:01:41,-25.513098,-49.295303,0 days 00:26:03.000000000
4,2715287.0,28154,1,3,603,HD250,6.0,26296.0,2017-05-01 14:07:27,-25.512252,-49.295580,25521.0,2017-05-01 14:32:45,-25.442988,-49.280469,0 days 00:25:18.000000000

### Group trip legs into a single record

In [7]:
est_trips_data.dtypes

cardNum                 float64
user_trip_id              int64
itinerary_id              int64
leg_id                    int64
route                     int64
busCode                  object
tripNum                 float64
from_stop_id            float64
start_time       datetime64[ns]
from_stop_lat           float64
from_stop_lon           float64
to_stop_id              float64
end_time         datetime64[ns]
to_stop_lat             float64
to_stop_lon             float64
leg_duration             object
dtype: object

In [9]:
est_trips_data['date'] = est_trips_data['start_time'].dt.date

In [10]:
est_trips_data.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration,date
0,3823073.0,28150,1,1,827,BC929,12.0,33788.0,2017-05-01 13:35:18,-25.436303,-49.362221,30993.0,2017-05-01 13:44:14,-25.441705,-49.346328,0 days 00:08:56.000000000,2017-05-01
1,3823073.0,28150,1,3,303,DE722,4.0,26195.0,2017-05-01 14:02:48,-25.441720,-49.346978,25753.0,2017-05-01 14:12:10,-25.437968,-49.314099,0 days 00:09:22.000000000,2017-05-01
2,3807165.0,28153,1,2,304,LL304,5.0,26215.0,2017-05-01 13:36:19,-25.440024,-49.221371,26282.0,2017-05-01 14:01:29,-25.435742,-49.307359,0 days 00:25:10.000000000,2017-05-01
3,2715287.0,28154,1,1,684,HA298,11.0,39378.0,2017-05-01 13:35:38,-25.585230,-49.337210,31053.0,2017-05-01 14:01:41,-25.513098,-49.295303,0 days 00:26:03.000000000,2017-05-01
4,2715287.0,28154,1,3,603,HD250,6.0,26296.0,2017-05-01 14:07:27,-25.512252,-49.295580,25521.0,2017-05-01 14:32:45,-25.442988,-49.280469,0 days 00:25:18.000000000,2017-05-01

In [ ]:
def select_trip_start():

In [15]:
summarized_trips = est_trips_data.groupby(['cardNum','date','user_trip_id']).agg({'start_time': 'first',
                                                                                  'from_stop_id': 'first',
                                                                                  'from_stop_lat': 'first',
                                                                                  'from_stop_lon': 'first',
                                                                                  'end_time': 'last',
                                                                                  'to_stop_id': 'last',
                                                                                  'to_stop_lat': 'last',
                                                                                  'to_stop_lon': 'last'})

In [29]:
summarized_trips.head(10)

                                          start_time  from_stop_id  \
cardNum  date       user_trip_id
324934.0 2017-05-01 20302        2017-05-01 11:51:50       32097.0
                    21600        2017-05-01 12:09:13       26364.0
                    57727        2017-05-01 18:47:27       30598.0
326014.0 2017-05-01 20457        2017-05-01 11:54:23       31810.0
334095.0 2017-05-01 3426         2017-05-01 06:20:33       30702.0
338164.0 2017-05-01 17324        2017-05-01 11:12:45       33116.0
344357.0 2017-05-01 44906        2017-05-01 16:39:35       25554.0
352491.0 2017-05-01 54296        2017-05-01 18:15:57       26281.0
                    67727        2017-05-01 21:32:59       25730.0
357578.0 2017-05-01 45171        2017-05-01 16:40:28       25646.0

                                  from_stop_lat  from_stop_lon  \
cardNum  date       user_trip_id
324934.0 2017-05-01 20302            -25.446517     -49.275789
                    21600            -25.428657     -49.270628
                    57727            -25.397790     -49.258830
326014.0 2017-05-01 20457            -25.377197     -49.243294
334095.0 2017-05-01 3426             -25.474902     -49.275098
338164.0 2017-05-01 17324            -25.401112     -49.329953
344357.0 2017-05-01 44906            -25.437670     -49.266682
352491.0 2017-05-01 54296            -25.401281     -49.329734
                    67727            -25.441207     -49.275853
357578.0 2017-05-01 45171            -25.435618     -49.256635

                                            end_time  to_stop_id  to_stop_lat  \
cardNum  date       user_trip_id
324934.0 2017-05-01 20302        2017-05-01 11:57:39     26143.0   -25.435056
                    21600        2017-05-01 12:27:33     30828.0   -25.397440
                    57727        2017-05-01 19:09:49     30633.0   -25.440285
326014.0 2017-05-01 20457        2017-05-01 12:20:08     28615.0   -25.423600
334095.0 2017-05-01 3426         2017-05-01 06:36:25     26631.0   -25.440706
338164.0 2017-05-01 17324        2017-05-01 11:37:42     29598.0   -25.428422
344357.0 2017-05-01 44906        2017-05-01 17:01:56     26193.0   -25.393661
352491.0 2017-05-01 54296        2017-05-01 18:36:55     25896.0   -25.429243
                    67727        2017-05-01 22:33:00     33133.0   -25.400786
357578.0 2017-05-01 45171        2017-05-01 16:44:48     25389.0   -25.437593

                                  to_stop_lon
cardNum  date       user_trip_id
324934.0 2017-05-01 20302          -49.272818
                    21600          -49.256690
                    57727          -49.277851
326014.0 2017-05-01 20457          -49.270049
334095.0 2017-05-01 3426           -49.271456
338164.0 2017-05-01 17324          -49.273006
344357.0 2017-05-01 44906          -49.240634
352491.0 2017-05-01 54296          -49.271788
                    67727          -49.330491
357578.0 2017-05-01 45171          -49.266727