In [1]:
#Libraries

#Data Analysis Libs
import pandas as pd
import numpy as np

In [3]:
od_matrix = pd.read_csv('/local/tarciso/masters/data/bus_trips/latest/otp-od/2017_06_16_aa_od_trips.csv', parse_dates=['start_time','end_time'])

In [4]:
od_matrix.head()

,cardNum,user_trip_id,itinerary_id,leg_id,route,busCode,tripNum,from_stop_id,start_time,from_stop_lat,from_stop_lon,to_stop_id,end_time,to_stop_lat,to_stop_lon,leg_duration
0,844324.0,4700,1,1,342,BA120,10.0,34915.0,2017-06-16 14:50:47,-25.396340,-49.202170,30448.0,2017-06-16 15:09:47,-25.393374,-49.240917,0 days 00:19:00.000000000
1,948116.0,6671,2,1,684,HA610,1.0,39372.0,2017-06-16 04:48:26,-25.593450,-49.333880,31053.0,2017-06-16 05:12:47,-25.513098,-49.295303,0 days 00:24:21.000000000
2,948116.0,6671,2,3,204,HL309,1.0,26252.0,2017-06-16 05:29:56,-25.512983,-49.294505,25917.0,2017-06-16 05:57:00,-25.426995,-49.264729,0 days 00:27:04.000000000
3,948116.0,6671,2,5,361,BC906,1.0,29889.0,2017-06-16 06:21:06,-25.426910,-49.263080,28979.0,2017-06-16 06:27:10,-25.417287,-49.249938,0 days 00:06:04.000000000
4,948116.0,6672,5,1,216,BA603,7.0,28979.0,2017-06-16 15:25:37,-25.417287,-49.249938,28332.0,2017-06-16 16:00:52,-25.476127,-49.292362,0 days 00:35:15.000000000

In [25]:
len(od_matrix)

188

In [40]:
boardings_df = od_matrix.filter(['route','busCode','tripNum','from_stop_id','start_time']) \
                        .groupby(['route','busCode','tripNum','from_stop_id']) \
                        .count() \
                        .reset_index() \
                        .rename(index=str, columns={'from_stop_id':'stop_id', 'start_time':'boarding_cnt'}) \
                        .sort_values('boarding_cnt', ascending=False)

In [41]:
boardings_df.head()

     route busCode  tripNum  stop_id  boarding_cnt
37     204   HL309      1.0  26252.0             8
105    603   HD245      1.0  26296.0             8
94     602   GD330      1.0  27121.0             4
133    650   HA285      1.0  39734.0             3
131    650   HA285      1.0  36293.0             3

In [43]:
alightings_df = od_matrix.filter(['route','busCode','tripNum','to_stop_id','end_time']) \
                        .groupby(['route','busCode','tripNum','to_stop_id']) \
                        .count() \
                        .reset_index() \
                        .rename(index=str, columns={'to_stop_id':'stop_id', 'end_time':'alighting_cnt'}) \
                        .sort_values('alighting_cnt', ascending=False)

In [44]:
alightings_df.head()

     route busCode  tripNum  stop_id  alighting_cnt
139    650   HA285      1.0  31050.0              8
147    684   HA610      1.0  31053.0              5
90     548   GA209      1.0   4661.0              4
35     204   HL309      1.0   8727.0              3
96     602   GD330      1.0  26263.0              2

In [49]:
passenger_flows = boardings_df.merge(alightings_df, how='outer') \
                                .sort_values(['boarding_cnt','alighting_cnt'])

In [50]:
passenger_flows.head(50)

    route busCode  tripNum  stop_id  boarding_cnt  alighting_cnt
84    203   BD145      5.0  26199.0           1.0            1.0
29    548   GA209      1.0   4661.0           1.0            4.0
10    607   HL318      4.0  25900.0           1.0            NaN
11    603   HE710      6.0  25400.0           1.0            NaN
12    607   HL314      4.0  26245.0           1.0            NaN
13    607   HL314      5.0  25900.0           1.0            NaN
14     20   DR103      1.0  26228.0           1.0            NaN
15    607   HL319      4.0  25900.0           1.0            NaN
16    617   HA284     11.0  31051.0           1.0            NaN
17    619   HA002      1.0  36280.0           1.0            NaN
18    619   HA002     10.0  35108.0           1.0            NaN
19    619   HA020     12.0  33246.0           1.0            NaN
20    619   HA289      1.0  30434.0           1.0            NaN
21    625   GA148      9.0  27639.0           1.0            NaN
22    627   HA013      9.0  37817.0           1.0            NaN
23    603   HD245      6.0  25396.0           1.0            NaN
24    603   GE848      3.0  25398.0           1.0            NaN
25    603   HD236      7.0  25398.0           1.0            NaN
26    603   HD230      3.0  26263.0           1.0            NaN
27    545   KA689      9.0  33845.0           1.0            NaN
28    548   GA174     13.0  29977.0           1.0            NaN
30    548   GA209      1.0  31580.0           1.0            NaN
31    548   GA209      1.0  31586.0           1.0            NaN
32    548   GA209      1.0  44393.0           1.0            NaN
33    550   HE703      9.0  25807.0           1.0            NaN
34    550   HE703     12.0  26028.0           1.0            NaN
35    602   GR026      1.0  26297.0           1.0            NaN
36    602   GR030      1.0  26297.0           1.0            NaN
37    602   HR033      8.0  26263.0           1.0            NaN
38    602   HR033      9.0  25461.0           1.0            NaN
39    602   HR035      5.0  25533.0           1.0            NaN
40    628   HA016      1.0  35104.0           1.0            NaN
41    603   HD229      6.0  25400.0           1.0            NaN
42    627   HA254     12.0  30432.0           1.0            NaN
43    637   GA157      1.0  29977.0           1.0            NaN
44    629   KA690     11.0  29836.0           1.0            NaN
45    703   JC314     12.0  32966.0           1.0            NaN
46    684   HA610      1.0  39374.0           1.0            NaN
47    684   HR412      3.0  31053.0           1.0            NaN
48    684   HR417     11.0  31053.0           1.0            NaN
49    684   HR417     17.0  31053.0           1.0            NaN
50    685   HA614      9.0  30434.0           1.0            NaN
51    685   HA619      5.0  35108.0           1.0            NaN
52    703   JC304      5.0  26140.0           1.0            NaN
53    703   JC317     10.0  35277.0           1.0            NaN
54    545   KA689      1.0  30039.0           1.0            NaN
55    719   JA007     18.0  48701.0           1.0            NaN
56    823   LA006      1.0  34494.0           1.0            NaN
57    826   LA002      1.0  30432.0           1.0            NaN
58    860   LC015      3.0  10070.0           1.0            NaN